.THIS .ui-form-card__header{
        font-size: 20px ;
        font-family: 'EuclidSquare-Medium', sans-serif;
    	padding-top: 0;
    	padding-bottom: 5px;
        display: inherit;
       
}

.THIS .ui-form-card__subheader{
    font-size: 11px;
    font-family: 'EuclidSquare-Medium', sans-serif;
   
}
.THIS .ui-topup {
    position: relative;
    flex-wrap: wrap;
    min-height: 120px;
    background-color: #fff;
    padding: 6px 0px;
    padding-bottom: 0px;
    text-align: center ;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
    /*margin-top: 20px;*/
 }
.THIS .topup-button{
    border: 2px solid black;
    padding: 4px;
    margin-top: 6px;
    cursor: pointer;
    font-size: 11px;
    font-family: 'EuclidSquare-Medium', sans-serif;
}