.THIS .difc-name-text	{
	color: #000000;
    font-family: "EuclidSquare-Medium";
    font-size: 16px;
    font-weight: 900;
    line-height: 18px;
}

.THIS .diff-name-details {
    color: #515151;
font-family: "EuclidSquare-Light";
font-size: 12px;
font-weight: 300;
line-height: 20px;
    padding: 5px 0;
}