.THIS.agent-dropdown .slds-select {
  border: none;
}

.THIS.agent-dropdown .slds-select_container::before {
  display: none;
}

.THIS.light-gray-text {
  color: #7d7d7d;
}



.THIS.agent-dropdown .slds-button:focus {
  box-shadow: none;
}



.THIS .bold {

  font-weight: 700;
}

.THIS .cursor {
  cursor: pointer;
}

.THIS.cursor {
  cursor: pointer;
}

.THIS .small-font {
  font-size: 10px;
}


.THIS .utility-down::after {
  content: "";
  margin: 0 .2em;
  margin-bottom: 0px;
  display: inline-block;
  border: 5px solid transparent;

  border-top: 6px solid #7d7d7d;
  border-bottom: 0 none;

  margin-right: 0.3rem;

  margin-bottom: 0.2rem;
}