.THIS .difc-existng-fields .slds-form-element {
    display: inline-block;
}

.THIS .difc-name-text	{
	color: #000000 !important;
    font-family: "EuclidSquare-Medium" !important;
    font-size: 16px !important;
    font-weight: 900 !important;
    line-height: 18px !important;
}

.THIS .diff-name-details {
    color: #515151 !important;
font-family: "EuclidSquare-Light" !important;
font-size: 12px !important;
font-weight: 300 !important;
line-height: 20px !important;
    padding: 5px 0 !important;
}

.THIS .difc-existng-fields .slds-form-element__static {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
}

.THIS .span:empty{ 
    display: none;
}