@font-face {
  font-family: "EuclidSquare-Medium";
  src: url("/resource/difcUI/fonts/Euclid_Trial/Euclid_Square_Trial/Web/EuclidSquare-Regular-WebTrial.woff") format("woff");
}

.THIS .popup {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.THIS .content {
  width: 100px;
  height: 100px;
  background-color: red;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  left: 50%;
  margin-left: -50px;
}

.THIS {
  background-color: white;
  padding: 1rem;
}

.THIS.slds-spinner_container {
  z-index: 10000;
  position: fixed;
}

.THIS .slds-form-element__label {
  padding-top: 0;
  padding-bottom: 10px;
}

.THIS .slds-is-active .slds-progress__marker {
  border: 4px solid #4a4a4a;
  background-color: #ffffff;
  box-shadow: rgb(255, 255, 255) 0 0 0 0;
}

.THIS .difc-is-active-inner .slds-progress__marker {
  border: 4px solid #4a4a4a;
  background-color: #ffffff;
}

.THIS .difc-progress-bar {
  position: absolute;
  left: 0.44rem;
  width: 2px;
  height: 80px;
  background-color: rgb(221, 219, 218);
}

.THIS .slds-form-element__label {
  color: #000000;
  font-family: "EuclidSquare-Medium";
  font-size: 14px;
  font-weight: 500;
}

.THIS .difc-completed-progress-bar {
  border: 1.8px solid #4a4a4a;
}

.THIS .difc-white-background {
  background-color: white;
}

.THIS .icon-image {
  width: 16px;
  height: auto;
}

.THIS .difc-field-des {
  color: #515151;
  font-family: "EuclidSquare-Light";
  font-size: 12px;
  font-weight: 300;
  line-height: 20px;
}

.THIS .difc-float-right {
  margin-left: auto;
}

.THIS .difc-button {
  color: #ffffff;
  font-family: "EuclidSquare-Medium";
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  background-color: #000000 !important;
  line-height: 1.875rem;
  background: black !important;
  border: 0;
}

.THIS .difc-remove-padding {
  padding-top: 0;
  padding-bottom: 0;
}

.THIS .container {
  position: relative;
}

.THIS .container::before {
  content: "";
  position: absolute;
  margin-left: 6.4px;
  width: 2.2px;
  height: 100%;
  background-color: rgb(221, 219, 218);
  z-index: 1;
}

/*.THIS.difc-main-page-block:first-child::before {

   content: '';
   position: absolute;
   margin-left:  6.4px;
   width: 6px;
   height: 100px;
   background-color: rgb(221, 219, 218);
   z-index: 1

}*/

.THIS .container-completed {
  position: relative;
}

.THIS .container-completed::before {
  content: "";
  position: absolute;
  margin-left: 6.4px;
  width: 3px;
  height: 100%;
  background-color: #4a4a4a;
  z-index: 1;
}

.THIS .difc-timeline-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  justify-content: space-between;
  clear: both;
  padding-bottom: 2rem;
}

.THIS .marker {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #f5f7fa;
  background: #4fc1e9;
  z-index: 9999;
}

/* .THIS .timeline-content {
  width: 100%;
  padding-left: 13%;
  padding-right: 15%;
} */

.THIS .slds-progress__list {
  margin: 0;
}

.THIS .difc-inner-page {
  padding: 5%;
}

.THIS .slds-form-element__label {
  /* margin-top: -0.2rem; */
}

.THIS .difc-display-none {
  display: none;
}

.THIS .difc-button:hover {
  background-color: #000000 !important;
}

.THIS .difc-dec-text {
  color: #9b9b9b;
  font-family: "EuclidSquare-Light";
  font-size: 12px;
  font-weight: 300;
}

.THIS .difc-field-count {
  color: #000000;
  font-family: "EuclidSquare-Medium";
  font-size: 18px;
  font-weight: 900;
  letter-spacing: -0.09px;
  line-height: 21px;
  position: absolute;
  left: 3%;
  display: none;
}

.THIS.difc-border_top {
  border-top: 0.9px solid rgba(221, 219, 218, 0.46) !important;
  margin-bottom: -1.5rem;
}

.THIS difc-declaration-text {}

.THIS .difc-more-text {
  cursor: pointer;
}

.THIS #more {
  display: none;
}

.THIS lightning-messages {
  display: none;
}