.THIS .ui-button--primary {
  background: #2b2826 !important;
  border-color: black !important;
}

.THIS .ui-form-card__header {
  font-size: 34px;
  font-family: "EuclidSquare-Medium", sans-serif;
  /* padding-left: 60px; */
}

.THIS .ui-form-card__subheader {
  font-size: 14px;
  font-family: "EuclidSquare-Medium", sans-serif;
  /* padding-left: 60px; */
}

.THIS .ui-welcome {
  position: relative;
  flex-wrap: wrap;
  min-height: 170px;
  background-color: #fff;
  padding: 20px 0 0 15px;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.1);
}

.THIS .ui-close {
  position: relative;
  flex-wrap: wrap;
  display: flex;
  color: #0578d0;
  font-size: 14px;
  font-family: "EuclidSquare-Medium", sans-serif;
  margin: 0 48px;
  cursor: pointer;
  border: 1px solid black;
  height: 22px;
  width: 22px;
  text-align: center;
}

.THIS .slds-icon-action-close {
  background: transparent;
  padding: 0;
}

.THIS .slds-icon {
  fill: #111111;
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.THIS .close {
  position: absolute;
  right: 32px;
  top: 22px;
  width: 32px;
  height: 32px;
  opacity: 1;
}

.THIS .close:hover {
  opacity: 1;
}

.THIS .close:before,
.THIS .close:after {
  position: absolute;

  left: 30px;

  content: " ";

  height: 18px;

  width: 2.3px;

  background-color: #333;
}

.THIS .close:before {
  transform: rotate(45deg);
}

.THIS .close:after {
  transform: rotate(-45deg);
}