.THIS .c-container {
    border: 1px solid #d8dde6;
    margin: 10px 0 20px 0;
}

.THIS .slds-form-element {
    position: relative;
    min-width: 0;
    margin-right: 5px;
}
.THIS .slds-input-has-icon_right .slds-input__icon {
    right: rem;

}

.THIS .slds-input__icon {
    right: rem;
}

.THIS.slds-spinner_container {
    z-index: 10000;
    position: fixed;
}
.THIS .slds-input {
    
}

.THIS .slds-no-flex {
    flex: none;
    font-family: ariel;
    font-weight: bold;
}

.THIS .slds-form-element__label {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    display: inline-block;
    color: rgb(107, 109, 112);
    font-size: .75rem;
    padding-right: .5rem;
    padding-top: .25rem;
    margin-bottom: .125rem;
    flex: none;
    font-family: ariel;
    font-weight: bold;
}
.THIS .slds-form-element__legend {
    font-weight: bolder;
    float: left;
    font-family: ariel;
}
.THIS .slds-spinner_container {
    position: absolute;
    z-index: 9050;
}
.THIS .slds-select{
    
}

.THIS.ui-global-navigation {
  min-height: 64px;
  font-family: "EuclidSquare-Medium", sans-serif;
  background-color: white;
  padding: 16px;
  height: 80px;
  border-bottom: 2px solid #f1f0f1;
}

.THIS .main-navigation__profile {
  font-size: 15px;
  font-weight: 600;
  color: White;
  margin-top: -50px;
  margin-left: 790px;
}
.THIS .selfServiceUserProfileMenu .selfServiceProfileMenuTrigger {
  /*text-align: right;*/
  height: auto;
  padding: 0;
  margin-top: 0px;
}

.THIS.ui-global-navigation__inner-wrap {
  align-items: center;
  max-width: 1440px;
  margin: auto;
}
.THIS.ui-global-navigation__title {
  align-items: center;
  flex: 0 0 30%;
  padding-left: 16px;
  margin: 8px 0;
  font-size: 22px;
  font-weight: 300;
}

.THIS .icon-bell {
  padding-left: 50px;
  margin-left: 65% !important;
  margin-top: 1% !important;
}
.THIS .ui-global-navigation__title-text {
  font-family: "EuclidSquare-Medium", san serif !important;
  width: 98px;
  height: 29px;
  color: #4a4a4a;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: -0.38px;
}
.THIS .ui-global-navigation__content {
  align-items: center;

  flex: 0 0 70%;
  height: 100%;
  padding-right: 16px;
  font-size: 16px;
  letter-spacing: 1px;
  margin-left: 1200px;
}
.THIS.ui-global-navigation__content-col {
  align-items: center;
}
.THIS.ui-global-navigation__action {
  align-items: center;
}
.THIS.ui-global-navigation__action--private {
  align-items: center;
}

.THIS.ui-global-navigation__button {
  position: relative;
  background-color: transparent;
  border: 0;
}
.THIS.ui-global-navigation__action-button {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}
.THIS.ui-global-navigation__button--icon {
  margin-right: 32px;
}
.THIS.ui-global-navigation__menu {
  max-width: 1440px;
  max-height: 500px;
  padding: 32px 174px;
  margin: auto;
  color: #fff;
  display: inline;
  transition: all 300ms ease-in-out;
}
.THIS.ui-global-navigation__menu--hidden {
  padding: 174px;
  max-height: 0;
  display: inline;
}
.THIS.ui-global-navigation__menu-list {
  justify-content: space-between;
  width: 100%;
  margin-left: 1000px;
}
.THIS.ui-global-navigation__menu-link {
  color: #fff;
  opacity: 1;
  transition: all 300ms ease-in-out;
}
.THIS.ui-global-navigation__menu-link--selected {
  color: #fff;
  opacity: 0.5;
}

.THIS.ui-global-navigation__title-listDrop {
  margin-left: 1200px;
  margin-top: -60px;
  color: white;
}

.THIS .profileName {
  color: #2b2826;
}

.THIS .ui-global-navigation__title-bell {
  filter: invert(1) !important;
  height: 16px !important;
  margin-right: 1rem;
}

.THIS .difc-header-grid {
}

.THIS .difc-notification-icon {
  align-self: center;
}

.THIS .difc-align-end {
  text-align: end;
  margin-top: 0.6%;
  padding-right: 2%;
}