<template>
    <template if:true={loaded}>
        <lightning-spinner alternative-text="Loading"></lightning-spinner>
    </template>
<div class="slds-align_absolute-center">
    <div if:true={fetchDetails} style="width: 80%;margin: 2% auto;background:white;" class="">
        <div style="background-color: white !important;padding: 4% 6%;
        font-family: EuclidSquare-Medium;font-size: 12px;">
            <div class="slds-grid_vertical  slds-wrap">                
                <div class="slds-col slds-m-top_x-small">
                    <div style="color: #000000;font-family: EuclidSquare-Medium;font-size: 14px;font-weight: 700;">
                        <div class="slds-form-element__control">
                            <lightning-radio-group name="radioGroup"
                                                label="Please select type of Parking."
                                                options={options}
                                                value={value}
                                                required variant="label-stacked"
                                                type="button" onchange={handleOnchange} >
                            </lightning-radio-group>
                        </div>
                    </div>                    
                </div>
                <template if:false={showCardNumber}>
                    <div class="slds-col slds-m-top_x-small">
                        <div style="color: #000000;font-family: EuclidSquare-Medium;font-size: 14px;font-weight: 700;">
                            <div class="slds-form-element__control">
                                <lightning-combobox data-id = "country-emirates"
                                    name="Country/Emirates"
                                    label="Country/Emirates"
                                    value={emiratesValue}
                                    placeholder="Select any value"
                                    options={emiratesOptions}
                                    onchange={handleOnEmirChange} required>
                                </lightning-combobox>
                            </div>
                        </div>                    
                    </div>
                    <div class="slds-col slds-m-top_x-small">
                        <div style="color: #000000;font-family: EuclidSquare-Medium;font-size: 14px;font-weight: 700;">
                            <div class="slds-form-element__control">
                                <lightning-input data-id = "vehicleSeries" label="Vehicle Series" value={vehicleSeries} 
                                    maxlength="3" minlength="1" onchange={handleVehclSerChange}
                                    placeholder="Enter Vehicle Prefix A-z/1-9" 
                                    pattern="[1-9]|[A-Z]|[a-z]|[0-9]{2}|[A-Z]{2}|[A-Z]{3}|[a-z]{2}|[a-z]{3}|[A-Za-z]*"
                                    message-when-pattern-mismatch="Value should be A-Z/1-9/a-z"
                                    message-when-too-long="Maximum length is 3" required>
                                </lightning-input>
                            </div>
                        </div>                    
                    </div>
                    <div class="slds-col slds-m-top_x-small">
                        <div style="color: #000000;font-family: EuclidSquare-Medium;font-size: 14px;font-weight: 700;">
                            <div class="slds-form-element__control">
                                <lightning-input data-id = "vehicleNumber" label="Vehicle Number" 
                                value={vehicleNumber} 
                                    maxlength="6" minlength="4" onchange={handleVehclNumChange}
                                    pattern="[0-9]{4}|[0-9]{5}|[0-9]{6}"
                                    message-when-pattern-mismatch={patternMismatchMessage}
                                    message-when-too-long="Maximum length is 6" 
                                    message-when-too-short="Minimum length is 4" required={isVehNumRequired}>
                                </lightning-input>
                            </div>
                        </div>                    
                    </div>
                </template>
                <template if:true={showCardNumber}>
                    <div  class="slds-col slds-m-top_x-small">
                        <div style="color: #000000;font-family: EuclidSquare-Medium;font-size: 14px;font-weight: 700;">
                            <div class="slds-form-element__control">
                                <lightning-input data-id = "cardNumber" label="Card Number" value={cardNumber} 
                                    maxlength="12" onchange={handleCardNumChange} 
                                    pattern="[A-Za-z0-9-]*" required
                                    message-when-too-long="Maximum length is 12" >
                                </lightning-input>
                            </div>
                        </div>                    
                    </div>
                </template>
                <!--div >
                    <iframe src={navigateTo}  name="captchaFrame" width="350" height="110px" ></iframe>                  
                </div-->
            </div>
            <!--- Display Next Button -->
            <lightning-layout class="slds-border_top">                            
                <lightning-layout-Item size="12" class="">
                    <button class="slds-m-top_small slds-button_neutral 
                                slds-m-left_small slds-m-right_small slds-float_right"
                                style="background-color: #000000;border: 2px solid #000000;
                                color: #ffffff;padding: 0.5rem;font-family: EuclidSquare-Medium;
                                font-size: 12px;font-weight: 500;min-width: 100px;border-radius: 0;
                                line-height: 1;" type="button" onclick={handleNext}>NEXT
                    </button>
                </lightning-layout-Item>                        
            </lightning-layout> 
        </div>
    </div>
    </div>
    <template if:false={fetchDetails}>
        <div style="width: 90%;margin: 2% auto;background:white;" class="">
            <div style="background-color: white !important;padding: 4% 6%;
            font-family: EuclidSquare-Medium;font-size: 12px;">
            <h1 style="font-weight: bold;text-align: center;font-size: 150%"> Car Parking </h1><br/><br/>
            <h2 style="font-weight: bold;text-align: center;font-size: 100%">Vehicle Information</h2>
                <div class="slds-grid slds-wrap slds-form">
                    <div if:false={showCardNumber} class="slds-col slds-size_1-of-1 slds-m-top_x-small slds-form-element slds-form-element_readonly">
                        <span class="slds-form-element__label">Vehicle Number</span>
                        <div class="slds-form-element__control">
                        <div class="slds-form-element__static">{carParkDetObj.Plate_Number__c}</div>
                        </div>
                    </div>
                    <div if:true={showCardNumber} class="slds-col slds-size_1-of-2 slds-m-top_x-small slds-form-element slds-form-element_readonly">
                        <span class="slds-form-element__label">Card Number</span>
                        <div class="slds-form-element__control">
                        <div class="slds-form-element__static">{cardNumber}</div>
                        </div>
                    </div>
                    <div if:true={showCardNumber} class="slds-col slds-size_1-of-2 slds-m-top_x-small slds-form-element slds-form-element_readonly">
                        <span class="slds-form-element__label">Vehicle Number</span>
                        <div class="slds-form-element__control">
                        <div class="slds-form-element__static">{carParkDetObj.Plate_Number__c}</div>
                        </div>
                    </div>
                
                    <!--div class="slds-col slds-size_1-of-2 slds-m-top_x-small slds-form-element slds-form-element_readonly">
                        <span class="slds-form-element__label">Name</span>
                        <div class="slds-form-element__control">
                          <div class="slds-form-element__static"></div>
                        </div>
                    </div>
                    <div class="slds-col slds-size_1-of-2 slds-m-top_x-small slds-form-element slds-form-element_readonly">
                        <span class="slds-form-element__label">Mobile</span>
                        <div class="slds-form-element__control">
                          <div class="slds-form-element__static"></div>
                        </div>
                    </div-->
                </div>
                <br/>
                <h3 style="font-weight: bold;text-align: center;font-size: 100%">Parking Information</h3>
                <div class="slds-grid slds-wrap slds-form ">
                    <div class="slds-col slds-size_1-of-2 slds-m-top_x-small slds-form-element slds-form-element_readonly">
                        <span class="slds-form-element__label slds-truncate">Parking Lot Address</span>
                        <div class="slds-form-element__control">
                          <div class="slds-form-element__static slds-truncate">{carParkDetObj.Address__c}</div>
                        </div>
                    </div>
                    <div class="slds-col slds-size_1-of-2 slds-m-top_x-small slds-form-element slds-form-element_readonly">
                        <span class="slds-form-element__label slds-truncate">Ticket Number</span>
                        <div class="slds-form-element__control">
                          <div class="slds-form-element__static slds-truncate">{carParkDetObj.Ticket_Number__c}</div>
                        </div>
                    </div>
                    <div class="slds-col slds-size_1-of-2 slds-m-top_x-small slds-form-element slds-form-element_readonly">
                        <span class="slds-form-element__label slds-truncate">Start Time</span>
                        <div class="slds-form-element__control">
                          <div class="slds-form-element__static slds-truncate">{carParkDetObj.Entry_Time__c}</div>
                        </div>
                    </div>
                    <div class="slds-col slds-size_1-of-2 slds-m-top_x-small slds-form-element slds-form-element_readonly">
                        <span class="slds-form-element__label">End Time</span>
                        <div class="slds-form-element__control">
                          <div class="slds-form-element__static"></div>
                        </div>
                    </div>
                </div>
                <br/> <h3 style="font-weight: bold;text-align: center;font-size: 100%" >Fees</h3>
                <div class="slds-grid slds-wrap slds-form">
                    <div class="slds-col slds-size_1-of-1 slds-m-top_x-small slds-form-element slds-form-element_readonly">
                        <span class="slds-form-element__label">Total Fees</span>
                        <div class="slds-form-element__control">
                          <div class="slds-form-element__static"></div>
                        </div>
                    </div>
                    <div class="slds-col slds-size_1-of-2 slds-m-top_x-small slds-form-element slds-form-element_readonly">
                        <span class="slds-form-element__label">Taxes</span>
                        <div class="slds-form-element__control">
                          <div class="slds-form-element__static"></div>
                        </div>
                    </div>
                    <div class="slds-col slds-size_1-of-2 slds-m-top_x-small slds-form-element slds-form-element_readonly">
                        <span class="slds-form-element__label slds-truncate">Total Amount To Be Paid</span>
                        <div class="slds-form-element__control">
                          <div class="slds-form-element__static slds-truncate">{carParkDetObj.Amount__c}</div>
                        </div>
                    </div>
                </div>
                <br/>
                <br/> 
                <template if:true={isGracePeriod}>
                <p style="color: #696969;font-size: 0.875rem"> <b>Note: </b>You have {carParkDetObj.Grace_Period__c} minutes to exit after Payment</p>
            </template>
            </div>
            <lightning-layout multiple-rows>                            
                <lightning-layout-Item size="6" class="">
                    <button class="slds-m-top_small slds-button_neutral 
                                slds-m-left_small slds-m-right_small slds-float_right"
                                style="padding-bottom: 5px;background-color: #000000;border: 2px solid #000000;
                                color: #ffffff;padding: 0.5rem;font-family: EuclidSquare-Medium;
                                font-size: 12px;font-weight: 500;min-width: 100px;border-radius: 0;
                                line-height: 1;" type="button" onclick={handleBack}>Back
                    </button>
                </lightning-layout-Item>
                <lightning-layout-Item size="6" class="">
                    <button class="slds-m-top_small slds-button_neutral 
                                slds-m-left_small slds-m-right_small slds-float_left"
                                style="padding-bottom: 5px;background-color: #000000;border: 2px solid #000000;
                                color: #ffffff;padding: 0.5rem;font-family: EuclidSquare-Medium;
                                font-size: 12px;font-weight: 500;min-width: 100px;border-radius: 0;
                                line-height: 1;" type="button" onclick={handlePayNow}>Pay Now
                    </button>
                </lightning-layout-Item>                        
            </lightning-layout><br/>
        </div>
    </template>

    <template if:true={ismodalpopup}>
        <!-- Modal/Popup Box LWC starts here -->
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container">
                <!-- Modal/Popup Box LWC header here -->
                <header class="slds-modal__header">
                    <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeModal}>
                        <lightning-icon icon-name="utility:close"
                            alternative-text="close"
                            
                            size="small" ></lightning-icon>
                        <span class="slds-assistive-text">Close</span>
                    </button>
                    <h2 style="text-align: center" id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Mail Invoice</h2>
                </header>
                <!-- Modal/Popup Box LWC body starts here -->
                <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                    <p><b>Do you need an Invoice?
                    </b></p>
                    <template if:true={enterEmailDet}>
                        <div class="slds-grid_vertical  slds-wrap">
                            <div class="slds-col slds-m-top_x-small">
                                <div style="color: #000000;font-family: EuclidSquare-Medium;font-size: 14px;font-weight: 700;">
                                    <div class="slds-form-element__control">
                                        <lightning-input data-id = "{uniqueId}" label="Email" value={emailId} 
                                            type="email" onchange={handleEmailChange} >
                                        </lightning-input>
                                    </div>
                                </div>                    
                            </div>
                            <!--div class="slds-col  slds-m-top_x-small">
                                <div style="color: #000000;font-family: EuclidSquare-Medium;font-size: 14px;font-weight: 700;">
                                    <div class="slds-form-element__control">
                                        <lightning-input data-id = "" label="Mobile" onchange={handleMobileChange} value={mobile} 
                                             required>
                                        </lightning-input>
                                    </div>
                                </div>                    
                            </div-->
                        </div>
                    </template>
                </div>
                <!-- Modal/Popup Box LWC footer starts here -->
                <footer class="slds-modal__footer">
                    <button class="slds-button slds-button_neutral" onclick={closeModal} title="Cancel">{buttonLabel1}</button>
                    <button class="slds-button slds-button_brand" onclick={handleYes} title="OK">{buttonLabel}</button>
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
</template>