<!--
  @description       : 
  @author            : ChangeMeIn@UserSettingsUnder.SFDoc
  @group             : 
  @last modified on  : 05-31-2021
  @last modified by  : ChangeMeIn@UserSettingsUnder.SFDoc
  Modifications Log 
  Ver   Date         Author                               Modification
  1.0   05-20-2021   ChangeMeIn@UserSettingsUnder.SFDoc   Initial Version
-->
<template>

    <lightning-card  variant="Narrow">
    
      <template if:true={loaded}>
      <lightning-spinner alternative-text="Loading" size="small"></lightning-spinner>
      </template>
      <template if:true={areDetailsVisible}>
        <div class="slds-box">
            <p class="slds-align_absolute-center" style="color: #21924e;"><b></b>Please upload the signed super user Authorisation Form here</p>
          </div>
      
        <div class="slds-align_absolute-center" style="height:5rem">
            <lightning-input type="file" onchange = {onFileUpload}  name="uploadFile" label="Upload File">  
            </lightning-input>  
            <div class="slds-text-body_small slds-text-color_error">{fileName}  </div>
       </div>
       <div class="slds-align_absolute-center" style="height:5rem">

       <lightning-button variant="brand" disabled={uploaded} label="Submit" title="Primary action" onclick={saveContact} class="slds-m-left_x-small"></lightning-button>

       </div>
       </template>

     

       <template if:false={areDetailsVisible}>
        <div class="slds-box">
          <p class="slds-align_absolute-center" style="color: #21924e;"><b></b>Thank you. We have recieved your file.</p>
        </div>
      </template>

    </lightning-card>
    
</template>