/*---------------------------------------------------Custom Fonts ---------------------------------------------------------------*/

/*@font-face {
    font-family: 'EuclidSquare-Medium';
    src: url("/resource/difcUI/fonts/Euclid_Trial/Euclid_Square_Trial/Web/EuclidSquare-Regular-WebTrial.woff") format("woff");
}*/

@font-face {
    font-family: 'EuclidSquare-Medium';
    src: url("/digitalOnboarding/resource/1550413580000/difcUI/fonts/Euclid_Trial/Euclid_Square_Trial/Web/EuclidSquare-Regular-WebTrial.woff") format("woff");
}

@font-face {
    font-family: 'EuclidSquare-Light';
    src: url("/resource/difcUI/fonts/EuclidSquare/EuclidSquare-Light.otf") format("opentype");
}


.THIS .slds-progress__item.slds-is-completed .slds-progress__marker, .THIS .slds-progress__item.slds-is-active .slds-progress__marker{ 
    background: rgb(255, 255, 255);
}
/*---------------------------------------------------Accordion --------------------------------------------------*/

.THIS .optionClass{
    font-family: 'EuclidSquare-Medium', sans-serif;
    color: #080707;
}

.THIS .amount_box{
        margin-top: 4.4rem;
}

.THIS .card_payment{
    margin-right:2rem;
}
.THIS .btn-item{
    width:50%;
}
.THIS .slds-button-group-row .slds-button-group-item+.slds-button-group-item {
    margin-left: 3.25rem;
}
.THIS .full-width{
    width: 100%;
}
.THIS .formPay{
    padding-left: 6rem;
    padding-right: 6rem;
    padding-top: 2rem;
    padding-bottom: 6rem;
}

.THIS.path-summary {
    position: relative;
    padding: 0 32px;
    display: flex;
    color: #4a4a4a;
    overflow: hidden;
}

.THIS .cancelName{
    color: lightslategrey;
    font-weight: bold;
    font-family: inherit;
    font-size: 15px;
}

.THIS .heading_submit{
   margin-left:0.5rem;
}

.THIS .text_fee{
    font-size: 9px;
    padding: 0.5rem;
}

.THIS .width_input{
   width:50%;    
}
.THIS .slds-required{
    display:none;
}
.THIS.path-summary::before {
    content: '';
    position: absolute;
    top: 36px;
    left: 66px;
    width: 2px;
    height: 100%;
    background-color: #dadada;
}


.THIS.path-summary--active::before {
    background-color: #171717;
}

.THIS .path-summary__number {
    margin-top: 30px;
    margin-right: 16px;
    font-family: 'TSTAR-Medium', sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.THIS .path-summary__marker {
    z-index: 5;
    margin-left: 1px;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    min-width: 16px;
    margin-top: 32px;
    border: 4px solid #fff;
    background-color: #dadada;
}

.THIS.path-summary--active .path-summary__marker {
    border: 4px solid #171717;
    background-color: #fff;
}

.THIS.card--disabled .path-summary__marker {
    opacity: 1;
}


.THIS .path-summary__content {
    padding: 32px 16px 0;
}

@media screen and (min-width: 1299px) {
    .THIS .path-summary__content{
        margin-left: 32px;
    }
}


.THIS .path-summary__text {
    line-height: 1.4;
    font-size: 14px;
}

.THIS .path-summary__update {
    position: relative;
    display: flex;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-bottom: 16px;
    font-size: 14px;
    border-bottom: 1px solid #eaeaea;
}
.THIS .path-summary__update-item {
    padding-left: 16px;
    margin-right: 16px;
    border-left: 1px solid #eaeaea;
}
.THIS .path-summary__update-item:first-child {
    padding-left: 0;
    border: none;
}

.THIS .path-summary__update-item:last-child {
    position: absolute;
    right: 0;
    padding-left: 0;
    margin-right: 0;
    border: none;
    text-transform: uppercase;
}



.THIS .path-summary__details {
    margin-top: 16px;
    padding-bottom: 32px;
    transition: all 300ms ease-in-out;
}

.THIS .path-summary__details::before {
    content: '';
    width: 2px;
    height: 115%;
    position: absolute;
    top: 222px;
    left: 66px;
    background-color: #dadada;
    opacity: 0;
    transition: all 300ms ease-in-out;
}

.THIS .path-summary__details-list {
    transition: all 300ms ease-in-out;
}

.THIS .path-summary__details-item {
    border-top: 1px solid #c4c4c4;
}

.THIS .path-summary__details-item-link {
    color: #171717;
    display: flex;
    padding: 16px;
    font-size: 14px;
    transition: background-color 300ms ease-in-out;
}
.THIS.card--disabled .THIS .path-summary__details-item-link:hover {
    color: #333;
    text-decoration: none;
}


.THIS.card--disabled .THIS .path-summary__details-item-link:hover .path-summary__details-status-value {
    opacity: 1;
}

.THIS.card--disabled .THIS .path-summary__details-item-link:hover .path-summary__details-status-action {
    opacity: 0;
}



.THIS .path-summary__details-item-link:hover {
    color: #333;
    text-decoration: none;
    background-color: #efefef;
}

.THIS .path-summary__details-item-link:hover .path-summary__details-status-value {
    opacity: 0;
}

.THIS .path-summary__details-item-link:hover .path-summary__details-status-action {
    opacity: 1;
}




.THIS .path-summary__details-description p:first-child {
    padding-bottom: 16px;
    font-weight: 600;
    
}
.THIS .path-summary__details-description p::last-child {
    padding-bottom: 0;
}



.THIS .path-summary__details-item-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.THIS .path-summary__details-item-icon {
    margin-right: 16px;
}



.THIS.path-summary .path-summary--next-phase .path-summary__marker {
    margin-left: 27px;
}

.THIS.path-summary .path-summary--next-phase::before {
    top: 0;
    height: 25%;
    background-color: #dadada;
}

.THIS.path-summary .path-summary--next-phase .path-summary__content-body {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.THIS.path-summary .path-summary--next-phase .path-summary__content {
    width: 100%;
}

.THIS.path-summary .path-summary--next-phase .button-group {
    width: auto;
    margin-top: 0;
}



.THIS .path-summary__details-status {
    position: relative;
    display: flex;
    align-items: center;
    flex: 0 0 33%;
    font-family: 'TSTAR-Medium', sans-serif;
}

.THIS .path-summary__details-status span {
    position: absolute;
    right: 0;
    text-align: right;
    transition: opacity 200ms ease-in-out;
}

.THIS .path-summary__details-status-value {
    color: lighten(#4a4a4a, 30%);
}
.THIS .path-summary__details-status-action {
    opacity: 0;
}


.THIS .button__group {
    margin-top: 32px;
}

.THIS .path-summary__details--hidden {
    max-height: 0;
    padding-bottom: 0;
}
.THIS .path-summary__details--hidden .path-summary__details-list {
    opacity: 0;
    
}

.THIS .path-summary__details--open {
    max-height: 1200px;
}
.THIS .path-summary__details--open::before {
    opacity: 1;
}

.THIS .path-summary__details--open .path-summary__details-list {
    opacity: 1;
}


.THIS.card {
    margin: 16px 0;
    background-color: #fff;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.1);
}
.THIS .card__title {
    padding-bottom: 16px;
    color: #171717;
}
.THIS .card__title--level-2 {
    font-size: 36px;
    font-weight: 600;
}

.THIS .card__title--level-3 {
    font-size: 18px;
    font-weight: 600;
}

.THIS .card__title--level-4 {
    font-size: 14px;
    font-weight: 600;
}

.THIS .card__paragraph {
    font-size: 14px;
    line-height: 1.4;
    padding-bottom: 16px;
}

.THIS.card--grey {
    background-color: #f5f5f5;
}

.THIS.card--hidden {
    animation: slideUp 700ms 300ms forwards cubic-bezier(0.23, 1, 0.32, 1);
}
.THIS.card--hidden .card__content {
    animation: fadeOut 300ms ease-out forwards;
}


.THIS.card--disabled {
    opacity: 0.6;
}
.THIS.card--disabled::before,
.THIS.card--disabled::after {
    opacity: 0.6;
}

.THIS .button--disabled {
    cursor: not-allowed;
    pointer-events: none;
    border: 1px solid grey!important;
    background-color: grey!important;
}


.THIS.card--disabled .button--primary {
    cursor: not-allowed;
    pointer-events: none;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes slideUp {
  100% {
    min-height: 0;
    padding: 0;
    margin: 0;
    height: 0px;
    overflow: hidden;
    box-shadow: none;
  }
}


/*----------------------------------------------------------------------------------*/


.THIS .button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
  min-width: 150px;
  padding: 8px;
  margin-right: 16px;
  font-size: 14px;
  color: #171717;
  border: none;
  transition: all 200ms ease-in-out;
  text-align: center;
}
  .THIS .button:hover {
    color: #373737;
    transform: scaleX(1.03);
    text-decoration: none;
  }

  .THIS .button:last-child {
    margin-right: 0;
  }

  .THIS .button-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 28px;
    margin-bottom: 28px;
  }

  .THIS .button--default {
    border: 1px solid #171717;
  }

  .THIS .button--primary {
    color: #fff;
    border: 1px solid #171717;
    background-color: #171717;
}
.THIS .button--primary-white{
    border: 1px solid #171717;
    background-color: WHITE;
}

.THIS .button-position{
    text-align:center;
}

    .THIS .button--primary:hover {
      color: #fff;
      background-color: #373737;
    }
  

  .THIS .button--close {
    position: absolute;
    top: 32px;
    right: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;
    border: 1px solid #171717;
    border-radius: 2px;
    background-color: transparent;
}
    .THIS .button--close-icon {
      display: block;
    }
  

   .THIS .button--toggle {
    border: none;
}
    .THIS .button--toggle :hover {
      color: #373737;
      transform: none;
      text-decoration: none;
    }

     
      .THIS .button--toggle--open .button__icon--arrow {
        transition: all 300ms ease-in-out;
        transform: rotate(270deg);
      }
    
  

  .THIS .button__icon--arrow {
    width: 8px;
    transform: rotate(90deg);
    transition: transform 300ms ease-in-out;
  }


/* -------------------------------------------------------------------------------------------------------------------------- */

.THIS.main_page {
    font-family: 'EuclidSquareTrial', sans-serif;
}

.THIS h1 {
    font-size: 2em;
    margin: 0.67em 0;
    font-family: sans-serif!important;
}

.THIS .page__inner {
    position: relative;
    z-index: 2;
    max-width: 1440px;
    margin: 0 auto;
}

/*.THIS h1,.THIS h2,.THIS h3,.THIS h4,.THIS h5,.THIS h6{

font-family: sans-serif!important;
}*/

/* Grouping content
========================================================================== */

/**
* 1. Add the correct box sizing in Firefox.
* 2. Show the overflow in Edge and IE.
*/

.THIS hr {
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
}

/**
* 1. Correct the inheritance and scaling of font size in all browsers.
* 2. Correct the odd `em` font sizing in all browsers.
*/

.THIS pre {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
}

/* Text-level semantics
========================================================================== */

/**
* Remove the gray background on active links in IE 10.
*/

.THIS a {
    background-color: transparent;
}

/**
* 1. Remove the bottom border in Chrome 57-
* 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
*/

.THIS abbr[title] {
    border-bottom: none; /* 1 */
    text-decoration: underline; /* 2 */
    text-decoration: underline dotted; /* 2 */
}

/**
* Add the correct font weight in Chrome, Edge, and Safari.
*/

.THIS b,
.THIS strong {
    font-weight: bolder;
}

/**
* 1. Correct the inheritance and scaling of font size in all browsers.
* 2. Correct the odd `em` font sizing in all browsers.
*/

.THIS code,
.THIS kbd,
.THIS samp {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
}

/**
* Add the correct font size in all browsers.
*/

.THIS small {
    font-size: 80%;
}

/**
* Prevent `sub` and `sup` elements from affecting the line height in
* all browsers.
*/

.THIS sub,
.THIS sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

.THIS sub {
    bottom: -0.25em;
}

.THIS sup {
    top: -0.5em;
}

/* Embedded content
========================================================================== */

/**
* Remove the border on images inside links in IE 10.
*/

.THIS img {
    border-style: none;
}

/* Forms
========================================================================== */

/**
* 1. Change the font styles in all browsers.
* 2. Remove the margin in Firefox and Safari.
*/

.THIS button,
.THIS input,
.THIS optgroup,
.THIS select,
.THIS textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
}

/**
* Show the overflow in IE.
* 1. Show the overflow in Edge.
*/

.THIS button,
.THIS input {
    /* 1 */
    overflow: visible;
}

/**
* Remove the inheritance of text transform in Edge, Firefox, and IE.
* 1. Remove the inheritance of text transform in Firefox.
*/

.THIS button,
.THIS select {
    /* 1 */
    text-transform: none;
}

/**
* Correct the inability to style clickable types in iOS and Safari.
*/

.THIS button,
.THIS [type='button'],
.THIS [type='reset'],
.THIS [type='submit'] {
    -webkit-appearance: button;
}

/**
* Remove the inner border and padding in Firefox.
*/

.THIS button::-moz-focus-inner,
.THIS [type='button']::-moz-focus-inner,
.THIS [type='reset']::-moz-focus-inner,
.THIS [type='submit']::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

/**
* Restore the focus styles unset by the previous rule.
*/

.THIS button:-moz-focusring,
.THIS [type='button']:-moz-focusring,
.THIS [type='reset']:-moz-focusring,
.THIS [type='submit']:-moz-focusring {
    outline: 1px dotted ButtonText;
}

/**
* Correct the padding in Firefox.
*/

.THIS fieldset {
    padding: 0.35em 0.75em 0.625em;
}

/**
* 1. Correct the text wrapping in Edge and IE.
* 2. Correct the color inheritance from `fieldset` elements in IE.
* 3. Remove the padding so developers are not caught out when they zero out
*    `fieldset` elements in all browsers.
*/

.THIS legend {
    box-sizing: border-box; /* 1 */
    color: inherit; /* 2 */
    display: table; /* 1 */
    max-width: 100%; /* 1 */
    padding: 0; /* 3 */
    white-space: normal; /* 1 */
}

/**
* Add the correct vertical alignment in Chrome, Firefox, and Opera.
*/

.THIS progress {
    vertical-align: baseline;
}

/**
* Remove the default vertical scrollbar in IE 10+.
*/

.THIS textarea {
    overflow: auto;
}

/**
* 1. Add the correct box sizing in IE 10.
* 2. Remove the padding in IE 10.
*/

.THIS [type='checkbox'],
.THIS [type='radio'] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}

/**
* Correct the cursor style of increment and decrement buttons in Chrome.
*/

.THIS [type='number']::-webkit-inner-spin-button,
.THIS [type='number']::-webkit-outer-spin-button {
    height: auto;
}

/**
* 1. Correct the odd appearance in Chrome and Safari.
* 2. Correct the outline style in Safari.
*/

.THIS [type='search'] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
}

/**
* Remove the inner padding in Chrome and Safari on macOS.
*/

.THIS [type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
* 1. Correct the inability to style clickable types in iOS and Safari.
* 2. Change font properties to `inherit` in Safari.
*/

.THIS ::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
}

/* Interactive
========================================================================== */

/*
* Add the correct display in Edge, IE 10+, and Firefox.
*/

.THIS details {
    display: block;
}

.THIS summary {
    display: list-item;
}

.THIS template {
    display: none;
}

/**
* Add the correct display in IE 10.
*/

.THIS [hidden] {
    display: none;
}


/*--Next--*/



@font-face {
    font-family: 'EuclidSquareTrial';
    src: url("/resource/DifcTestResources/assets/fonts/Euclid_Trial/Euclid_Square_Trial/Web/EuclidSquare-Regular-WebTrial.woff") format("woff");
}

@font-face {
    font-family: 'EuclidSquareTrial-Medium';
    src: url("/resource/DifcTestResources/assets/fonts/Euclid_Trial/Euclid_Square_Trial/Web/EuclidSquare-Medium-WebTrial.woff") format("woff");
}

@font-face {
    font-family: 'EuclidSquareTrial-Bold';
    src: url("/resource/DifcTestResources/assets/fonts/Euclid_Trial/Euclid_Square_Trial/Web/EuclidSquare-Bold-WebTrial.woff") format("woff");
}

@font-face {
    font-family: 'EuclidSquareTrial-Semibold';
    src: url("/resource/DifcTestResources/assets/fonts/Euclid_Trial/Euclid_Square_Trial/Web/EuclidSquare-Semibold-WebTrial.woff") format("woff");
}

@font-face {
    font-family: 'EuclidTriangleTrial';
    src: url("/resource/DifcTestResources/assets/fonts/Euclid_Trial/Euclid_Triangle_Trial/Web/EuclidTriangle-Regular-WebTrial.woff") format("woff");
}

.THIS .page-header {
    position: relative;
    z-index: 2;
}

.THIS .page-header__inner {
    position: relative;
    z-index: 2;
    max-width: 1440px;
    margin: 0 auto;
}


.THIS .page-header__tier-inner {
    position: relative;
    max-width: 1440px;
    padding: 0 128px;
    margin: 0 auto;
}
.THIS .page-header__tier-inner::before {
    content: '';
    position: absolute;
    top: -64px;
    z-index: 1;
    left: 98px;
    background-color: #171717;
    width: 2px;
    height: 512px;
}


.THIS .page-section {
    padding: 0 32px;
}

.THIS.progress-tracker {
    position: relative;
    border-bottom: 1px solid #eaeaea;
    background-color: #fff;
}
.THIS .progress-tracker__inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
    padding: 32px;
    margin: 0 auto;
}

.THIS .progress-tracker__title {
    display: flex;
    align-items: flex-start;
    font-size: 30px;
}
.THIS .progress-tracker__title::before {
    position: absolute;
    left: 98px;
    bottom: 0;
    content: '';
    height: 76px;
    width: 2px;
    background-color: #171717;
}


.THIS .progress-tracker__progressbar {
    flex: 0 0 50%;
    padding-right: 96px;
}


.THIS .timeline-menu-button {
    margin-right: 16px;
    margin-left: 96px;
}


.THIS.card {
    margin: 16px 0;
    background-color: #fff;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.1);
}
.THIS .card__title {
    padding-bottom: 16px;
    color: #171717;
}
.THIS .card__title--level-2 {
    font-size: 36px;
    font-weight: 600;
}

.THIS .card__title--level-3 {
    font-size: 18px;
    font-weight: 600;
}


.THIS .card__paragraph {
    font-size: 14px;
    line-height: 1.4;
    padding-bottom: 16px;
}

.THIS.card--grey {
    background-color: #f5f5f5;
}

.THIS.card--hidden {
    animation: slideUp 700ms 300ms forwards cubic-bezier(0.23, 1, 0.32, 1);
}
.THIS.card--hidden .card__content {
    animation: fadeOut 300ms ease-out forwards;
}


.THIS.card--disabled {
    opacity: 0.6;
}
.THIS.card--disabled::before,
.THIS.card--disabled::after {
    opacity: 0.6;
}



.THIS.card--disabled .button--primary {
    cursor: not-allowed;
    pointer-events: none;
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes slideUp {
    100% {
        min-height: 0;
        padding: 0;
        margin: 0;
        height: 0px;
        overflow: hidden;
        box-shadow: none;
    }
}


/*----------------------------------------------------------------------------------*/


.THIS .button {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    min-width: 150px;
    padding: 8px;
    margin-right: 16px;
    font-size: 14px;
    color: #171717;
    border: none;
    transition: all 200ms ease-in-out;
    text-align: center;
}
.THIS .button:hover {
    color: #373737;
    transform: scaleX(1.03);
    text-decoration: none;
}

.THIS .button:last-child {
    margin-right: 0;
}

.THIS .button-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 28px;
    margin-bottom: 28px;
}

.THIS .button--default {
    border: 1px solid #171717;
}

.THIS .button--primary {
    color: #fff;
    border: 1px solid #171717;
    background-color: #171717;
}
.THIS .button--primary:hover {
    color: #fff;
    background-color: #373737;
}


.THIS .button--close {
    position: absolute;
    top: 32px;
    right: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;
    border: 1px solid #171717;
    border-radius: 2px;
    background-color: transparent;
}
.THIS .button--close-icon {
    display: block;
}


.THIS .button--toggle {
    border: none;
}
.THIS .button--toggle :hover {
    color: #373737;
    transform: none;
    text-decoration: none;
}


.THIS .button--toggle--open .button__icon--arrow {
    transition: all 300ms ease-in-out;
    transform: rotate(270deg);
}



.THIS .button__icon--arrow {
    width: 8px;
    transform: rotate(90deg);
    transition: transform 300ms ease-in-out;
}
@media screen and (min-width: 1440px) {
    .THIS .page-section{
        margin-right: 84px;
    }
}

/*----------------------------------------------------------------------------------------------------------------------*/



.THIS .payment_fail{
    font-weight: bold;
    font-family: sans-serif;
    font-size: 2rem;
}

.THIS .error_details{
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    text-decoration: underline;
    text-decoration-style: dashed;
}

.THIS .error_resp{
    TEXT-ALIGN: CENTER;
    font-weight: bold;
    font-size: 1.3rem;
    color: red;
}

.THIS .message{
    text-align: center
}

/*.THIS iframe.cko-iframe.theme-standard {
    height: 90px;
    width: 35%;
    position: relative;
    left: -3rem;
    margin-bottom: 1rem;
}*/

.THIS.test_margin{
    MARGIN-TOP:3REM;
    width:50%;
}

.THIS .testMargin{
    float: right;
    position: relative;
    right: 10rem;
}
.THIS .ui-accordion .slds-accordion__summary {
    display: block;
    font-weight: 600;
}

.THIS .ui-accordion .slds-accordion__summary-heading {
    position: relative;
    font-family: 'EuclidSquare-Medium', sans-serif;
    color: #080707;
}
.THIS .ui-accordion .slds-accordion__summary-heading .slds-button:focus {
    text-decoration: none;
}

.THIS .ui-accordion .slds-accordion__summary-heading .ui-icon {
    position: absolute;
    right: 0;
    transition: all 300ms ease-in-out;
}


.THIS .ui-accordion .slds-accordion__content {
    transition: all 300ms ease-in-out;
    height: auto;
    max-height: 0;
}


.THIS .ui-accordion .slds-is-open > .slds-accordion__summary {
    margin-bottom: 0;
}

.THIS .ui-accordion .slds-is-open > .slds-accordion__content {
    max-height: 200px;
    margin-top: 8px;
    overflow: hidden;
}

.THIS .ui-accordion .slds-is-open .ui-icon {
    transform: rotate(180deg);
}

.THIS .hideSpan {
    visibility : hidden;
}
/*----------------------------------------Breadcrumbs----------------------------------------------------------------------------------*/

.THIS .ui-breadcrumbs {
    font-family: 'EuclidSquare-Medium', sans-serif;
    font-weight: 600;
}
.THIS .ui-breadcrumbs .slds-breadcrumb__item {
    font-size: 13px;
}
.THIS .ui-breadcrumbs .slds-breadcrumb__item::before {
    top: 6px;
    color: #0076cf;
    content: '';
    width: 5px;
    height: 5px;
    border-top: 1px solid;
    border-right: 1px solid;
    transform: rotate(45deg);
}

.THIS .ui-breadcrumbs .slds-breadcrumb__item > a:hover {
    text-decoration: underline;
}

.THIS .ui-breadcrumbs .slds-breadcrumb__item:first-child::before {
    display: none;
}



.THIS .ui-breadcrumbs .ui-breadcrumbs__text--truncated {
    padding: 0 8px;
    color: #0076cf;
}

/*--------------------------------------------------------Badges--------------------------------------------------------------------*/

  .THIS .ui-badge--red {
    color: #fff;
    background-color: #fc4c02;
  }

/*----------------------------------------------------------------------------------------------------------------------------------*/
.THIS .ui-icon {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.THIS .ui-icon {
    position: absolute;
    right: 0;
    transition: all 300ms ease-in-out;
}

/*-----------------------------------------------------Property Card-----------------------------------------------------------------------------*/

.THIS .ui-property-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 344px;
  max-width: 480px;
  height: 368px;
  font-family: 'EuclidSquare-Medium', sans-serif;
  border: 1px solid #eaeaea;
}
  .THIS .ui-property-card .ui-card {
    box-shadow: none;
  }

  .THIS .ui-property-card__property-size {
    position: absolute;
    top: 20px;
    left: 16px;
    font-size: 24px;
    color: #fff;
  }

  .THIS .ui-property-card__picture {
    flex: 1 0 226px;
    height: 226px;
    overflow: hidden;
    background-color: beige;
  }

  .THIS .ui-property-card__body {
    display: flex;
    flex: 1 0 36%;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
  }

  .THIS .ui-property-card__name {
    display: block;
    font-size: 18px;
    padding-bottom: 12px;
  }

  .THIS .ui-property-card__type {
    display: block;
    font-family: 'EuclidSquare-Light', sans-serif;
    font-size: 14px;
    color: #515151;
  }

  .THIS .ui-property-card__meta {
    display: flex;
    justify-content: space-between;
    font-family: 'EuclidSquare-Light', sans-serif;
    font-size: 14px;
    color: #2b2826;
  }


  .THIS .ui-property-card--selected {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0076cf!important;
  }


/*--------------------------------------Service Request Card-----------------------------------------------------------------*/

.THIS .ui-service-request-card {
  width: 344px;
  padding: 22px 16px 16px;
  color: #2b2826;
  border: 1px solid #dddbda;
}
  .THIS .ui-service-request-card.ui-card {
    box-shadow: none;
  }

  .THIS .ui-service-request-card__title {
    padding-bottom: 16px;
    color: #0076cf;
    font-family: 'EuclidSquare-Medium', sans-serif;
    font-size: 14px;
    font-weight:600;
  }

  .THIS .ui-service-request-card__text {
    line-height: 1.8;
}

    .THIS .ui-service-request-card ~ * {
      padding-top: 24px;
    }
  

  .THIS .ui-service-request-card__time {
    font-family: 'EuclidSquare-Medium', sans-serif;
    font-size: 13px;
    color: #706e6b;
  }

  .THIS .ui-service-request-card .ui-card__action {
    align-items: center;
}
    .THIS .ui-service-request-card .ui-card__action .ui-button {
      font-size: 13px;
    }

/*----------------------------------------------------------------------------------------------------------------------------*/

.THIS .ui-card .slds-accordion__section .ui-accordion__title {
    padding-left: 10px;
    font-size: 12px;
    color: #0076cf;
}

.THIS .slds-accordion__summary-action {
    display: inline-flex;
    flex-grow: 1;
    align-items: center;
    min-width: 0;
}

.THIS .slds-button--reset, .THIS .slds-button_reset {
    font-size: inherit;
    color: inherit;
    line-height: inherit;
    padding: 0;
    background: 0 0;
    border: 0;
    text-align: inherit;
}

@media screen and (min-width: 768px)
    {
    .THIS .ui-card--pathway .ui-card__content {
        padding-right: 48px;
        padding-left: 256px;
    }
}


.THIS .ui-marketing-card .ui-card__paragraph {
    flex: 0 0 50%;
    padding-bottom: 0;
}
.THIS .ui-marketing-card .ui-button--close {
    position: absolute;
    top: 16px;
    right: 0;
}

.THIS .ui-marketing-card .ui-card__content-section {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.THIS .ui-marketing-card .ui-card__title {
    padding-bottom: 128px;
    color: #0076cf;
    font-size: 36px;
}


/* ---------------------------------------------- Button -----------------------------------------------------------------*/

/*
.THIS .ui-button {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    padding: 6px 16px;
    min-width: 122px;
    margin-right: 16px;
    font-family: 'EuclidSquare-Medium', sans-serif;
    font-size: 14px;
    color: #171717;
    border: 0;
    background-color: transparent;
    transition: all 200ms ease-in-out;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}
*/

.THIS .ui-button:hover {
    text-decoration: none;
}

.THIS .ui-button:last-child {
    margin-right: 0;
}

.THIS .ui-button-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
}

.THIS .ui-button-group--down {
    display: block;
}

.THIS buttonMargin {
    margin-bottom:10px;
}

.THIS .ui-button-group--right {
    justify-content: flex-end;
}

.THIS .ui-button--default {
    color: #0076cf;
    border: 1px solid #0076cf;
    background-color: #fff;
    font-weight:600;
}
.THIS .ui-button--default:hover {
    color: #002f6c;
    border: 1px solid #002f6c;
    background-color: #f3f2f2;
}

.THIS .ui-button--default:focus {
    color: #2b2826;
    border: 1px solid #2b2826;
    background-color: #fff;
}
/*

.THIS .ui-button--default-outline {
    border: 1px solid #0076cf;
}
.THIS .ui-button--default-outline:hover {
    border: 1px solid #0076cf;
}

*/

.THIS .ui-button--primary {
    color: #fff;
    border: 1px solid #0076cf;
    background-color: #0076cf;
}
.THIS .ui-button--primary:hover {
    color: #fff;
    border: 1px solid #002f6c;
    background-color: #002f6c;
}


.THIS .ui-button--tertiary {
    text-transform: none;
    color: #0076cf;
    border: 1px solid #0076cf;
    border-radius: 2px;
    background-color: #fff;
}

.THIS .ui-button--disabled {
    color: #dddbda;
    border: 1px solid #dddbda;
    background-color: #fff;
    cursor: not-allowed;
    outline: none;
}

.THIS .ui-button--destructive {
    color: #fff;
    border: 1px solid #c23934;
    background-color: #c23934;
}

.THIS .ui-button--upload {
    justify-content: center;
    color: #fff;
    border: 1px solid #0076cf;
    border-radius: 2px;
    background-color: #0076cf;
}
.THIS .ui-button--upload:hover {
    color: #fff;
    border: 1px solid #002f6c;
    background-color: #002f6c;
}

.THIS .ui-button--upload img {
    margin-right: 8px;
}


.THIS .ui-button--upload--upload-disabled {
    color: #fff;
    border-radius: 2px;
    background-color: #dddbda;
    cursor: not-allowed;
}
.THIS .ui-button--upload--upload-disabled img {
    margin-right: 8px;
}


.THIS .ui-button--selected {
    text-transform: none;
    color: #0076cf;
    border: 1px solid #0076cf;
    border-radius: 2px;
    background-color: #fff;
}
.THIS .ui-button--selected img {
    margin-right: 8px;
}
.THIS .completed-image {
    margin-left: -31px;
}

.THIS .ui-button--not-selected {
    text-transform: none;
    color: #0076cf;
    border: 1px solid #dddbda;
    border-radius: 2px;
    background-color: #fff;
}
.THIS .ui-button--not-selected img {
    margin-right: 8px;
}

/*
.THIS .ui-button--default-outline {
    border: 1px solid #0076cf;
}
.THIS .ui-button--default-outline:hover {
    border: 1px solid #0076cf;
}

*/
.THIS .ui-button--primary-outline {
    border: 1px solid #fff;
}
.THIS .ui-button--primary-outline :hover {
    border: 1px solid #fff;
}


.THIS .ui-button--breadcrumb {
    min-width: auto;
    margin-right: 4px;
    padding: 0;
    color: #0076cf;
}

.THIS .ui-button--close {
    min-width: auto;
}
.THIS .ui-button--close-icon {
    display: block;
}


.THIS .ui-button__text--hidden {
    text-indent: -9999px;
    width: 0;
    height: 0;
}

.THIS .ui-button--toggle {
    justify-content: space-between;
    padding-left: 0;
    border: none;
    text-transform: none;
}
.THIS .ui-button--toggle :hover {
    color: #373737;
    transform: none;
    text-decoration: none;
}

.THIS .ui-button--toggle--open .ui-button__icon--arrow{
    transition: all 300ms ease-in-out;
    transform: rotate(270deg);
}

.THIS .ui-button__icon--arrow {
    width: 8px;
    transform: rotate(90deg);
    transition: transform 300ms ease-in-out;
}

.THIS .ui-button-icon {
    border-radius: 0;
}

.THIS .ui-button--back-link .slds-icon-text-default {
    fill: #0076cf;
}

.THIS .ui-button--back-link--inverse .slds-icon-text-default{
    fill:white;
}

.THIS .ui-button--back-link {
    padding: 6px 10px;
    color: #0076cf;
    border: 1px solid #0076cf;
    background-color: #fff;
    text-transform: none;
    letter-spacing: normal;
    font-weight: 600;
}

.THIS .ui-button--back-link--inverse {
    color: #fff;
    background-color: #0076cf;
}

.THIS .back_to_path{
    margin-left: 0.5rem;    
}

.THIS .ui-button--back-link .slds-button__icon {
    margin-right: 10px;
}

.THIS .ui-button--back-link:hover {
    color: #002f6c;
    border: 1px solid #002f6c;
}

  .THIS .ui-button--breadcrumb {
    min-width: auto;
    margin-right: 4px;
    padding: 0;
    color: #0076cf;
  }

  .THIS .ui-button--close {
    min-width: auto;
}
    .THIS .ui-button--close-icon {
      display: block;
    }
  

  .THIS .ui-button__text--hidden {
    text-indent: -9999px;
    width: 0;
    height: 0;
  }

  .THIS .ui-button--toggle {
    justify-content: space-between;
    padding-left: 0;
    border: none;
    text-transform: none;
}
    .THIS .ui-button--toggle:hover {
      color: #373737;
      transform: none;
      text-decoration: none;
    }


      .THIS .ui-button--toggle--open .ui-button__icon--arrow {
        transition: all 300ms ease-in-out;
        transform: rotate(270deg);
      }
    
  

  .THIS .ui-button__icon--arrow {
    width: 8px;
    transform: rotate(90deg);
    transition: transform 300ms ease-in-out;
  }
/* --------------------------------------------Card---------------------------------------------------------------------------------*/
.THIS .ui-card {
    margin: 16px 0;
    background-color: #fff;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.1);
}

.THIS .ui-guide-card {
    width: 320px;
    min-height: 100px;
}

.THIS .ui-card__header {
    padding: 28px 28px 52px;
    font-family: 'EuclidSquare-Medium', sans-serif;
    color: #fff;
    background-color: #0076cf;
}
.THIS .ui-card__header-title {
    display: block;
    font-size: 20px;
}

.THIS .ui-card__header-subtitle {
    display: block;
    font-family: 'EuclidSquare-Light', sans-serif;
    font-size: 20px;
}


.THIS .ui-card__content {
    padding: 16px;
}
.THIS .ui-card__content--padding-med {
    padding: 32px;
}

.THIS .ui-card__content--padding-lrg {
    padding: 64px;
}


.THIS .ui-card__title {
    position: relative;
    display: flex;
    align-items: center;
    font-family: 'EuclidSquare-Medium', sans-serif;
    font-size: 16px;
}
.THIS .ui-card__title-text {
    padding-left: 10px;
}

.THIS .ui-card__title + .ui-card__paragraph {
    padding-top: 32px;
}

.THIS .ui-card__title + .ui-card__subtitle {
    padding: 16px 0 32px;
}


.THIS .ui-card__paragraph {
    padding-bottom: 16px;
    font-size: 14px;
    line-height: 1.4;
}

.THIS .ui-card__action {
    display: flex;
}
.THIS .ui-card__action--spread {
    justify-content: space-between;
}


.THIS .ui-card--light-blue {
    background-color: #f4f6fa;
}

.THIS .ui-card--very-light-blue {
    background-color: #f2f8fc;
}

.THIS .ui-card--disabled {
    opacity: 0.5;
    pointer-events: none;
}

.THIS .ui-card__content--head {
    display: flex;
    justify-content: space-between;
    padding-bottom: 16px;
    margin-bottom: 16px;
    border-bottom: 1px solid #eaeaea;
}
.THIS .ui-card__content--head .ui-card__title {
    font-size: 24px;
    font-weight: 600;
}

.THIS .ui-card .ui-accordion {
    margin-top: 28px;
    padding-bottom: 16px;
}
.THIS .ui-card .ui-accordion .slds-accordion__list-item {
    border: 0;
}


.THIS .ui-card .slds-accordion__section {
    padding: 0;
}
.THIS .ui-card .slds-accordion__section .ui-accordion__title {
    padding-left: 10px;
    font-size: 12px;
    color: #0076cf;
}


.THIS .ui-card .ui-accordion__button {
    width: 100%;
}

.THIS .ui-next-step-card {
    width: 456px;
    min-height: 100px;
}
.THIS .ui-next-step-card .ui-card__title {
    color: #0076cf;
    margin-bottom: 2rem;
}

.THIS .ui-next-step-card .ui-card__subtitle {
    font-family: 'EuclidSquare-Medium', sans-serif;
}

.THIS .ui-next-step-card .ui-button-group {
    padding: 16px 28px 32px;
}


.THIS .ui-next-step-card .ui-button--default {
    background-color: transparent;
}
.THIS .ui-next-step-card .ui-button:hover {
    background-color: #f3f2f2;
}



.THIS .ui-next-step-card_list {
    padding-bottom: 32px;
}

.THIS .ui-next-step-card__item {
    font-size: 14px;
    border-top: 1px solid #c4c4c4;
}
.THIS .ui-next-step-card__item :last-child {
    border-bottom: 1px solid #c4c4c4;
}

.THIS .ui-next-step-card__item-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
    color: #4a4a4a;
    transition: all 200ms ease-in-out;
}
.THIS .ui-next-step-card__item-link :hover {
    color: #333;
    background-color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
}


/* ---------------------------------------------Path Card------------------------------------------------------------------------ */

.THIS .ui-path-card {
    position: relative;
    width: 100%;
    max-width: 770px;
    color: #4a4a4a;
    overflow: hidden;
    font-weight: 600;
}

.THIS .slds-progress-ring__progress .slds-icon-action-approval{
    background-color: #0076cf;
}


.THIS .slds-progress-ring__content .slds-icon-action-approval{
    background-color: #0076cf;
}
@include screen-large() {
    max-width: 966px;
}

.THIS .ui-path-card__header {
    font-family: 'EuclidSquare-Medium', sans-serif;
    padding-top: 32px;
    background-color: #fff;
    max-height: inherit;
}
.THIS .ui-path-card__header-top {
    position: relative;
    display: flex;
    align-items: flex-start;
}

.THIS .ui-path-card__header-panel {
    flex: 1;
    padding-left: 60px;
    padding-bottom: 32px;
}

.THIS .ui-path-card__header-title {
    display: block;
    font-size: 24px;
    padding-bottom: 24px;
}

.THIS .ui-path-card__header-subtitle {
    display: block;
    font-size: 14px;
    transition: all 300ms ease-in-out;
}


.THIS .ui-path-card__progress-updates {
    position: relative;
    padding-bottom: 12px;
    margin-bottom: 20px;
    font-size: 14px;
    border-bottom: 1px solid #eaeaea;
}

.THIS .ui-path-card__text {
    font-size: 14px;
    line-height: 1.4;
}

.THIS .ui-path-card__progress-ring {
    position: absolute;
    padding-right: 32px;
    padding-bottom: 60px;
}

@include screen-large() {
    padding-right: 140px;
}

.THIS .ui-path-card__progress-ring::after {
    position: absolute;
    bottom: 0;
    left: 10px;
    width: 2px;
    height: 50%;
    background-color: #0076cf;
    content: '';
    opacity: 0;
}


.THIS .ui-path-card__time {
    position: absolute;
    right: 0;
    bottom: 12px;
    color: #706e6b;
    text-align: right;
    text-transform: uppercase;
}

.THIS .ui-path-card__content {
    padding: 0 32px 32px;
    max-height: 780px;
    
    transition: padding-top 1000ms ease-in-out;
    overflow: hidden;
}

.THIS .showHide{
    display:none;
}

.THIS .slds-progress-ring__content .slds-icon {
    width: 0.85rem;
    height: 0.85rem;
}

.THIS .ui-path-card__content ::before {
    position: absolute;
    top: 64px;
    left: 43px;
    content: '';
    width: 2px;
    height: 0;
    opacity: 0;
    background-color: #0076cf;
    animation: retractLine 1000ms ease-in-out forwards;
}


.THIS .ui-path-card--collapsed .ui-path-card__content::before {
    height: 100%;
    animation: expandLine 1000ms 300ms ease-in-out forwards;
}



.THIS .ui-path-card__details {
    max-height: 1000px;
    transition: all 400ms ease-in-out;
}

.THIS .ui-path-card__details-item {
    width: 100%;
    padding: 16px 0;
    border-top: 1px solid #eaeaea;
    color: #4a4a4a;
    transition: background-color 300ms ease-in-out;
}

.THIS .ui-path-card__details-item :hover {
    color: #171717;
    text-decoration: none;
    background-color: #f5f5f5;
}


.THIS .ui-path-card__details-item-name {
    display: block;
    padding-bottom: 8px;
    font-family: 'EuclidSquare-Medium', sans-serif;
    font-size: 14px;
}

.THIS .ui-path-card__details-item-info {
    display: block;
    font-size: 14px;
}


.THIS .ui-path-card__details .slds-progress__item .ui-path-card__details-item :last-child {
    border-bottom: 1px solid #eaeaea;
}



.THIS .ui-path-card--collapsed .ui-path-card__details {
    max-height: 0;
    padding-top: 0;
    overflow: hidden;
    opacity: 0;
}


.THIS .ui-path-card .slds-progress_vertical .slds-progress__item_content {
    padding-bottom: 0;
    margin-top: 0;
    margin-left: 24px;
}

.THIS .ui-path-card__action .ui-button-group {
    padding: 16px 0 0 40px;
}

.THIS .ui-path-card__action .ui-button__text {
    padding-right: 32px;
    color: #4a4a4a;
    text-transform: none;
    letter-spacing: normal;
}


.THIS .ui-path-card--collapsed .ui-path-card__button--show-details .ui-icon{
    transform: rotate(0deg);
    transition: all 400ms ease-in-out;
}

.THIS .ui-path-card .ui-path-card__button--show-details:focus {
    outline: none;
}

.THIS .slds-progress_vertical .slds-progress__item:after {
    top: 50%;
    bottom: 0;
    height: 9rem;
}

/*  
Apply this section when the arrow is to be rotated
.THIS .ui-path-card .ui-path-card__button--show-details .ui-icon {
transform: rotate(180deg);
transition: all 400ms ease-in-out;
}*/


/* ---------------------------------------------Card - Related List---------------------------------------------------------------- */

.THIS .ui-related-list-card.ui-card .ui-accordion {
    margin-top: 28px;
    padding-bottom: 16px;
}
.THIS .ui-related-list-card.ui-card .ui-accordion .slds-accordion__section {
    padding: 0;
}
.THIS .ui-related-list-card.ui-card .ui-accordion .slds-accordion__section.slds-is-open > .slds-accordion__summary {
    margin-bottom: 0;
}

.THIS .ui-related-list-card.ui-card .ui-accordion .slds-accordion__list-item {
    padding-bottom: 16px;
    border: 0;
}

.THIS .ui-related-list-card.ui-card .ui-accordion  dl {
    padding-left: 34px;
    font-family: 'EuclidSquare-Medium', sans-serif;
    font-size: 12px;
}

.THIS .ui-related-list-card.ui-card .ui-accordion dl dt {
    width: 30%;
    float: left;
    clear: left;
    color: #70636b;
}

.THIS .ui-related-list-card.ui-card .ui-accordion dl dd {
    width: 70%;
    margin-bottom: 4px;
    float: left;
    color: #2b2826;
}

.THIS .ui-related-list-card.ui-card .ui-accordion dl::after {
    display: table;
    content: '';
    clear: both;
}

.THIS .slds-accordion__summary-action .ui-icon {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    position: absolute;
    right: 0;
}

/*---------------------------------------------------Section Panel----------------------------------------------------------------*/


.THIS .ui-form-card {
    position: relative;
    width: 100%;
    /*max-width: 770px;*/
    color: #4a4a4a;
    overflow: hidden;
    font-weight:600;
    padding-left:1rem;
    overflow-y:scroll;
    /*height: 100%;*/
    margin-top:0px;
}
@include screen-large() {
    max-width: 966px;
}

.THIS .ui-form-card__header {
    position: relative;
    display: flex;
    align-items: flex-start;
    font-family: 'EuclidSquare-Medium', sans-serif;
    padding-top: 48px;
    max-height: inherit;
    cursor: pointer;
}

.THIS .ui-form-card__header-title {
    display: block;
    font-size: 32px;
    padding-bottom: 24px;
}

.THIS .country_list{
        margin-top: 1rem;
}

.THIS .ui-form-card__header-title_sec {
    display: block;
    font-size: 24px;
    padding-bottom: 24px;
    margin-top: 3rem;
}

.THIS .ui-form-card__header-subtitle {
    display: block;
    font-size: 14px;
    transition: all 300ms ease-in-out;
}


.THIS .ui-form-card__progress-ring {
    position: absolute;
    padding-right: 32px;
    padding-bottom: 60px;
}
@include screen-large() {
    padding-right: 140px;
}

.THIS .ui-form-card__progress-ring::after {
    position: absolute;
    bottom: 0;
    left: 10px;
    width: 2px;
    height: 50%;
    background-color: #0076cf;
    content: '';
    opacity: 0;
}


.THIS .ui-form-card__time {
    flex: 1 0 16%;
    color: #706e6b;
    text-align: right;
}

.THIS .ui-form-card__content {
    /*padding: 0 32px 320px;*/
    padding: 0 32px;
    max-height: 780px;
}

.THIS .ui-form-card__content::-webkit-scrollbar {
    width:0 !important;
}

.THIS .ui-form-card::-webkit-scrollbar {
    width:0 !important;
}

/*.THIS .ui-form-card__content::before {
    position: absolute;
    top: 80px;
    left: 43px;
    content: '';
    width: 2px;
    height: 0;
    opacity: 0;
    background-color: #0076cf;
    animation: retractLine 1000ms ease-in-out forwards;
}*/

.THIS .ui-form-element{
    margin-top:1rem;
}

.THIS .cancel_payment{
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
}


.THIS .ui-form-card--collapsed .ui-form-card__content::before {
    height: 100%;
    animation: expandLine 1000ms 300ms ease-in-out forwards;
}

.THIS .ui-form-card__form::before {
      animation: expandLine 1000ms 300ms ease-in-out forwards;

}

.THIS .ui-form-card__form {
    /*max-height: 2000px;*/
    position:relative;
    padding: 48px 0 0 3px;
    transition: all 400ms ease-in-out;
}

.THIS .ui-form-card .form-control-group {
    width: 100%;
}

.THIS .ui-form-card .ui-form-element {
    width: 100%;
    margin-top: 1rem;
    /*max-width: 560px;*/
}

.THIS .ui-form-card .ui-form-card__field-steps {
    flex: 1 0 15%;
    padding-left: 16px;
    font-family: 'EuclidSquare-Medium', sans-serif;
    font-size: 24px;
}

.THIS .ui-form-card .ui-form-card__action {
    position: sticky;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    width: 100%;
    border-top: 1px solid #dddbda;
    background-color: #fff;
}

.THIS .slds-is-complete .slds-progress__marker{
    background:transparent;
}

.THIS .ui-form-card .slds-progress_vertical .slds-progress__item,
.THIS .ui-form-card .slds-progress_vertical .slds-progress__item_content {
    align-items: flex-start;
}

.THIS .ui-form-card .slds-progress_vertical .slds-progress__item:after {
    top: 21px;
}

.THIS .ui-form-card .slds-progress_vertical .slds-is-complete:after {
    top: 21px;
    background-color:#0076cf!important;
}

.THIS .ui-form-card .slds-progress_vertical .slds-progress__item:last-child:before {
    display: none;
}

.THIS .ui-form-card .slds-progress_vertical .slds-progress__item_content {
    padding-bottom: 48px;
    padding-left: 20px;
    margin-top: 0;
}
@include screen-large() {
    padding-left: 28px;
}



.THIS .ui-form-card--collapsed .ui-form-card__form {
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    overflow: hidden;
    opacity: 0;
}

.THIS .ui-form-card--collapsed .ui-form-card__progress-ring {
    opacity: 1;
}

.THIS .ui-form-card--collapsed .ui-form-card__content {
    padding-bottom: 48px;
}

.THIS .ui-form-card--collapsed--sticky .ui-form-card__header {
    position: absolute;
    left: 0;
    z-index: 10;
    width: 100%;
    max-height: 54px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 32px;
    padding-left: 32px;
    border-bottom: 1px solid #dddbda;
    background-color: #fff;
    overflow: hidden;
}

.THIS .ui-form-card--collapsed--sticky .ui-form-card__header-subtitle {
    opacity: 0;
}


.THIS .ui-form-card .ui-form-card__content {
    width: 100%;
    /*max-width: 780px;*/
    padding: 0px;
}

/* .THIS .ui-form-card .ui-form-card__form {
padding-top: 180px;
}*/

.THIS .ui-form-card__progress-ring .slds-progress-ring {
    position: relative;
    display: inline-block;
    height: 1.8rem;
    width: 1.8rem;
    border-radius: 1.5rem;
    background: rgb(217, 219, 221);
}



/* ---------------------------------------------Comments------------------------------------------------------------------------ */

.THIS .ui-comment {
    font-family: 'EuclidSquare-Medium', sans-serif;
    color: #3c3c3c;
    line-height: 1.4;
}
.THIS .ui-comment__post {
    padding: 12px 10px;
    border: 0;
}

.THIS .ui-comment__user {
    font-size: 14px;
}

.THIS .ui-comment__time {
    color: #706e6b;
}

.THIS .ui-comment .slds-post__footer-action,
.THIS .ui-comment footer {
    color: #706e6b;
}

.THIS .ui-comment footer {
    margin-top: 6px;
}

.THIS .ui-comment__post-reply {
    font-size: 13px;
    border: 0;
    background-color: #fafaf9;
}

.THIS .ui-comment__post-reply .slds-comment {
    padding: 16px 12px;
}


.THIS .ui-comment .slds-post__footer-meta-list {
    color: #706e6b;
}

.THIS .ui-comment .slds-post__footer-meta-list .slds-has-dividers--right > .slds-item:after,
.THIS .ui-comment .slds-post__footer-meta-list .slds-has-dividers--right > .slds-list__item:after,
.THIS .ui-comment .slds-post__footer-meta-list .slds-has-dividers_right > .slds-item:after,
.THIS .ui-comment .slds-post__footer-meta-list .slds-has-dividers_right > .slds-list__item:after {
    width: 3px;
    height: 3px;
    margin-left: 4px;
    margin-right: 4px;
    
    background-color: #706e6b;
}


.THIS .ui-comment .ui-comment__post-reply-meta-list {
    color: #706e6b;
}
.THIS .ui-comment .ui-comment__post-reply-meta-list .slds-has-dividers--right > .slds-item:after,
.THIS .ui-comment .ui-comment__post-reply-meta-list .slds-has-dividers--right > .slds-list__item:after,
.THIS .ui-comment .ui-comment__post-reply-meta-list .slds-has-dividers_right > .slds-item:after,
.THIS .ui-comment .ui-comment__post-reply-meta-list .slds-has-dividers_right > .slds-list__item:after {
    width: auto;
    height: auto;
    content: '';
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 0;
    background-color: transparent;
}

/*---------------------------------------------Date Picker-----------------------------------------------------------------------------*/

.THIS .ui-date-picker {
    color: #706e6b;
}
.THIS .ui-date-picker .ui-form-element__label {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-right: 6px;
    margin-bottom: 10px;
}

.THIS .ui-date-picker .ui-form-element__labelimg {
    max-width: auto;
}


.THIS .ui-date-picker .ui-date-picker__button {
    border: 0;
    background-color: transparent;
}

.THIS .ui-date-picker  .ui-form-element__control-input {
    border-radius: 2px;
}

.THIS .ui-date-picker .slds-datepicker__filter {
    font-family: 'EuclidSquare-Medium', sans-serif;
    color: #3e3e3c;
}

.THIS .ui-date-picker .slds-dropdown {
    margin-top: 6px;
    transition: all 300ms ease-in-out;
}


.THIS .ui-date-picker .slds-form_compound .slds-form-element {
    margin-right: 8px;
}

.THIS .ui-date-picker .slds-form_compound
.slds-form-element__row
.slds-form-element
+ .slds-form-element {
    padding-left: 0;
}

/*---------------------------------------------Data Table-----------------------------------------------------------------------------*/


.THIS .ui-data-table thead .slds-icon_container {
    margin-left: 8px;
}

.THIS .ui-data-table th {
    padding: 8px;
}


.THIS .ui-data-table .slds-th__action,
.THIS .ui-data-table th,
.THIS .ui-data-table td {
    padding: 10px;
}


.THIS .ui-data-table tr th {
    font-family: 'EuclidSquare-Medium', sans-serif;
}


.THIS .ui-data-table td  a {
    line-height: 1.4;
    color: #0076cf;
}
.THIS .ui-data-table td  a:hover {
    text-decoration: none;
}

.THIS .ui-data-table tbody tr td:nth-child(1),
.THIS .ui-data-table tbody tr td:nth-child(2) {
    font-family: 'EuclidSquare-Medium', sans-serif;}

.THIS .ui-data-table [aria-multiselectable='true'] tr th {
    padding: inherit;
}

.THIS .ui-data-table  [aria-multiselectable='true'] tbody tr td:nth-child(3) {
    font-family: 'EuclidSquare-Medium', sans-serif;
}
.THIS .ui-data-table td {
    font-weight: 600;
}
/*
.THIS .slds-table td, .THIS .slds-table th {
padding: 0.25rem .5rem;
white-space: nowrap;
position: relative;
}*/

/*------------------------------Forms------------------------------------------------------------------------------------------------*/

.THIS .ui-form-element__control-input, .THIS .ui-form-element__control-textarea{
    border-radius: 2px;
}

.THIS .ui-form-element__label {
    margin-bottom: 12px;
    font-family: 'EuclidSquare-Medium', sans-serif;
    font-size: 14px;
    color: #4a4a4a;
    font-weight:600;
}
.THIS .slds-form-element__label:empty{
    display:none;
}

.THIS .ui-form-element__label-description {
    display: block;
    padding-top: 8px;
    padding-bottom: 2px;
    font-family: 'EuclidSquare-Light', sans-serif;
    font-size: 12px;
    font-weight:100;
}

.THIS .ui-form-element__label-optional {
    font-family: 'EuclidSquare-Light', sans-serif;
}


.THIS .ui-form-element__control {
    width: 100%;
   max-width: 560px;
}
.THIS .ui-form-element::placeholder {
    font-family: 'EuclidSquare-Medium', sans-serif;
    color: rgba(0, 0, 0, 0.25);
    font-weight:600;
}


.THIS .ui-form-element__control-input,
.THIS .ui-form-element__control-textarea {
    font-family: 'EuclidSquare-Medium', sans-serif;
    border-radius: 2px;
    font-weight:600;
}

.THIS .ui-form-element .slds-form-element__help {
    padding-top: 8px;
}


.THIS .ui-form-element-group {
    display: flex;
}
.THIS .ui-form-element-group .ui-form-element {
    flex: 0 0 256px;
}
.THIS .ui-form-element-group ~ .ui-form-element {
    margin-left: 32px;
}



/*------------------------------Footer-----------------------------------------------------------------------------------*/
.THIS .ui-footer {
    width: 100%;
    padding: 32px;
    font-family: 'EuclidSquare-Medium', sans-serif;
    color: #8b8b8b;
    background-color: #fff;
    font-weight:600;
}

.THIS .ui-footer .ui-footer__top {
    display: flex;
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 28px;
    font-size: 16px;
}
.THIS .ui-footer .ui-footer__top .ui-form {
    padding-left: 128px;
}


.THIS .ui-footer .ui-footer__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'EuclidSquare-Light', sans-serif;
    font-size: 12px;
}

.THIS .ui-footer .ui-footer__col {
    flex: 1 0 25%;
}
.THIS .ui-footer .ui-footer__col:last-child {
    flex: 1 0 50%;
}


.THIS .ui-footer .ui-form-element__label {
    color: #706e6b;
}

.THIS .ui-footer .ui-footer__list {
    font-size: 16px;
}
.THIS .ui-footer .ui-footer__list  li {
    padding-bottom: 24px;
}

.THIS .ui-footer .ui-footer__list a {
    color: #171717;
}
.THIS .ui-footer .ui-footer__list a:hover {
    color: #0076cf;
    text-decoration: none;
}



.THIS .ui-footer .ui-form-element__action {
    display: flex;
    justify-content: flex-end;
    margin-top: 32px;
    margin-bottom: 32px;
}

.THIS .ui-footer .social-icons-panel {
    display: flex;
    align-items: center;
}
.THIS .ui-footer .social-icons-panel a {
    margin-right: 28px;
}
.THIS .ui-footer .social-icons-panel a:last-child {
    margin-right: 0;
}



.THIS .ui-footer .ui-button-icon {
    text-transform: uppercase;
}
.THIS .ui-footer .ui-button-icon span {
    margin-right: 10px;
}



/*-----------------------------------------Global Navigation ----------------------------------------------------------------------*/

.THIS .ui-global-navigation {
    position: relative;
    flex-wrap: wrap;
    min-height: 64px;
    font-family: 'EuclidSquare-Medium', sans-serif;
    color: #fff;
    background-color: #002f6c;
    font-weight:600;
}

.THIS .ui-global-navigation__inner-wrap {
    display: flex;
    align-items: center;
    max-width: 1440px;
    margin: auto;
}

.THIS .ui-global-navigation__title {
    display: flex;
    align-items: center;
    flex: 0 0 30%;
    padding-left: 16px;
    margin: 8px 0;
    font-size: 22px;
    font-weight: 300;
}

.THIS .ui-global-navigation__title .ui-global-navigation__title-icon {
    max-width: 48px;
}

@include screen-large() {
    flex: 0 0 25%;
    min-height: 96px;
    padding-left: 56px;
    margin: 16px 0;
}

.THIS .ui-global-navigation__title .ui-global-navigation__title-icon {
    max-width: 100%;
}


@include screen-x-large() {
    .THIS .ui-global-navigation__title .ui-global-navigation__title-icon {
        max-width: 100%;
    }
}


.THIS .ui-global-navigation__title-text {
    padding-left: 16px;
}

.THIS .ui-global-navigation__content {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 0 0 70%;
    height: 100%;
    padding-right: 16px;
    font-size: 16px;
    letter-spacing: 1px;
}

@include screen-medium() {
    padding-left: 56px;
}

.THIS .ui-global-navigation__content-col {
    display: flex;
    align-items: center;
}


.THIS .ui-global-navigation__content__action {
    display: flex;
    align-items: center;
}

.THIS .ui-global-navigation__content--private {
    display: flex;
    align-items: center;
}

.THIS .ui-global-navigation__content .ui-global-navigation__action-button {
    opacity: 1;
    transition: opacity 300ms ease-in-out;
}

.THIS .ui-global-navigation__content .ui-global-navigation__action-button:hover {
    opacity: 0.5;
}



.THIS .ui-global-navigation__button {
    background-color: transparent;
    border: 0;
}

.THIS .ui-global-navigation--search,
.THIS .ui-global-navigation--icon {
    margin-right: 32px;
}

.THIS .ui-global-navigation--menu,
.THIS .ui-global-navigation--menu-close {
    width: 40px;
    outline: none;
}

.THIS .ui-global-navigation--hidden {
    display: none;
}


.THIS .ui-global-navigation__link {
    margin-right: 56px;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    transition: all 300ms ease-in-out;
}
.THIS .ui-global-navigation__link :hover {
    color: #fff;
    opacity: 0.5;
    text-decoration: none;
}


.THIS .ui-global-navigation__link__user-link {
    display: inline-flex;
    align-items: center;
    margin-right: 32px;
    color: #fff;
}

.THIS .ui-global-navigation__link__user-avatar {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    margin-right: 16px;
    border-radius: 50%;
    overflow: hidden;
}
@include screen-large() {
    width: 64px;
    height: 64px;
}


.THIS .ui-global-navigation__link__user-name {
    margin-right: 24px;
}


.THIS .ui-global-navigation__avatar {
    max-width: 100%;
}

.THIS .ui-global-navigation__menu {
    max-width: 1440px;
    max-height: 500px;
    padding: 32px 174px;
    margin: auto;
    color: #fff;
    transition: all 300ms ease-in-out;
}

.THIS .ui-global-navigation__menu-list {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.THIS .ui-global-navigation__menu .ui-global-navigation__menu-link {
    color: #fff;
    opacity: 1;
    transition: all 300ms ease-in-out;
}

.THIS .ui-global-navigation__menu .ui-global-navigation__menu-link:hover,
.THIS .ui-global-navigation__menu .ui-global-navigation__menu-link:focus,
.THIS .ui-global-navigation__menu .ui-global-navigation__menu-link:active {
    color: #fff;
    opacity: 0.5;
    text-decoration: none;
}

.THIS .ui-global-navigation__menu .ui-global-navigation__menu-link--selected {
    color: #fff;
    opacity: 0.5;
}
.THIS .ui-global-navigation__menu .ui-global-navigation__menu-link--selected:hover {
    color: #fff;
}



.THIS .ui-global-navigation__menu--hidden {
    padding: 0 174px;
    max-height: 0;
}

/*----- Hamburger Plugin (Extracted from Inspect Element) ------ */

.THIS .hamburger{
    cursor: pointer;
    font: inherit;
    color: inherit;
    text-transform: none;
}
.THIS .ui-global-navigation .hamburger {
    padding: 0;
}
.THIS .ui-global-navigation .hamburger-inner,
.THIS .ui-global-navigation .hamburger-inner::before,
.THIS .ui-global-navigation .hamburger-inner::after {
    width: 24px;
    height: 4px;
    background-color: #fff;
    border-radius: 1px;
}

.THIS .ui-global-navigation__action{
    margin-right:2rem;
}

.THIS .hamburger--collapse .hamburger-inner {
    top: 2.5rem;
    bottom: 0;
    transition-duration: 0.13s;
    transition-delay: 0.13s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.THIS .hamburger-inner::before{
    top: -10px;
}

.THIS .hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
}

.THIS .hamburger--collapse .hamburger-inner::before{
    transition:top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.THIS .hamburger-inner, .THIS .hamburger-inner::before, .THIS .hamburger-inner::after {
    content: "";
    display: block;
}

.THIS .hamburger-inner, .THIS .hamburger-inner::before, .THIS .hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    transition-property: transform, -webkit-transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}

.THIS .hamburger-inner::after {
    bottom: -10px;
}


.THIS .ui-global-navigation .hamburger .hamburger-inner,
.THIS .ui-global-navigation .hamburger .hamburger-inner::before,
.THIS .ui-global-navigation .hamburger .hamburger-inner::after {
    background-color: #fff;
}


.THIS .ui-global-navigation .hamburger:hover {
    opacity: 1;
}

/*------------------------------Page Headers------------------------------------------------------------------------------------------------*/

.THIS .ui-page-header {
    font-family: 'EuclidSquare-Medium', sans-serif;
    color: #515151;
    background-color: #fff;
    padding-bottom: 16px;
}
.THIS .ui-page-header__wrap {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.THIS .ui-page-header__wrap  .ui-page-header__col {
    flex: 1 0 50%;
}
.THIS .ui-page-header__wrap  .ui-page-header__col:first-child {
    padding-right: 32px;
}

.THIS .ui-page-header__wrap  .ui-page-header__col:last-child {
}

.THIS .ui-page-header__col {
    flex: 1 0 50%;
}

.THIS .ui-page-header__title {
    margin-bottom: 12px;
    font-size: 32px;
}

.THIS .ui-page-header__subtitle {
    font-family: 'EuclidSquare-Light', sans-serif;
    font-size: 18px;
}
.THIS .ui-page-header__subtitle ~ .ui-breadcrumbs {
    padding-top: 32px;
}


/*-------------------------------------------Picklist---------------------------------------------------------------------------------*/

.THIS .ui-picklist {
    height: 64px;
    font-family: 'EuclidSquare-Medium', sans-serif;
    color: #2b2826;
    font-weight:600;
}
.THIS .ui-picklist::placeholder {
    color: #2b2826;
}

.THIS .ui-picklist .ui-form-element__label {
    font-size: 14px;
}

.THIS .ui-picklist .slds-is-open ::placeholder,
.THIS .ui-picklist .slds-is-open input[value] {
    color: #0076cf;
}

.THIS .ui-picklist .slds-listbox__option--highlighted {
    background-color: #f3f2f2;
}

.THIS .ui-picklist .slds-listbox__option-header {
    color: #706e6b;
    text-transform: uppercase;
}

.THIS .ui-picklist .ui-form-element__control{
    width: 16%;  
}

.THIS [role=combobox] input[readonly]{
    font-weight:600;
}
  
/*--------------------------------------Popovers--------------------------------------------------------------------*/


.THIS .ui-popover .slds-popover {
    min-width: 384px;
    padding-bottom: 0;
    font-family: 'EuclidSquare-Medium', sans-serif;
    color: #626260;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16);
}

.THIS .ui-popover .slds-popover_walkthrough {
    color: #fff;
    background-color: #002f6c;
}

.THIS .ui-popover .slds-popover_walkthrough .slds-popover__header {
    padding: 16px;
    background-color: #164a85;
}

.THIS .ui-popover .slds-popover_walkthrough .ui-form-element__control-input {
    color: #626260;
}


.THIS .ui-popover .slds-popover .slds-popover__header {
    border: 0;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.THIS .ui-popover .slds-popover_warning .slds-popover__header {
    border-radius: 0;
}

.THIS .ui-popover .slds-popover_error .slds-popover__header {
    border-radius: 0;
    background-color: #fc4c02;
}

.THIS .ui-popover .slds-popover .slds-popover__body {
    padding: 12px;
}

.THIS .ui-popover .slds-popover p {
    line-height: 1.4;
}

.THIS .ui-popover .slds-popover .slds-popover__close {
    margin: 6px;
}


.THIS .ui-popover .slds-button {
    line-height: inherit;
    border-radius: 0;
}

/*--------------------------------------Progress bar--------------------------------------------------------------------*/
.THIS .ui-progress-bar {
    position: relative;
    z-index: 1000;
    max-width: 800px;
    font-family: 'EuclidSquare-Medium', sans-serif;
}
.THIS .ui-progress-bar .slds-progress-bar__value {
    width: 0%;
    background-color: #0076cf;
    animation: expandProgressBar 700ms forwards ease-in-out;
}

@-webkit-keyframes expandProgressBar {
  0% {
    width: 0;
  }
}

@-moz-keyframes expandProgressBar {
  0% {
    width: 0;
  }
}

@-ms-keyframes expandProgressBar {
  0% {
    width: 0;
  }
}

@keyframes expandProgressBar {
  0% {
    width: 0;
  }
}

.THIS .progress-bar__label {
    font-family: 'EuclidSquare-Medium', sans-serif;
}

.THIS .progress-bar__bar {
    position: relative;
    display: flex;
    align-items: center;
}

.THIS .progress-bar__value {
    display: block;
    background: #171717;
    height: 100%;
}

.THIS .milestones {
    position: absolute;
    top: 51%;
    display: flex;
    align-items: center;
    width: 100%;
    height: 20px;
}
.THIS .milestones .milestones__spot {
    position: absolute;
    top: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 16px;
}
.THIS .milestones .milestones__spot::before {
    content: '';
    width: 12px;
    height: 12px;
    border: 2px solid #fff;
    border-radius: 50%;
    background-color: #eaeaea;
    cursor: pointer;
}

.THIS .milestones .milestones__spot:first-child {
    left: 50%;
}

.THIS .milestones .milestones__spot:nth-child(2) {
    left: 75%;
}

.THIS .milestones .milestones__spot:last-child {
    top: -10px;
    right: 0;
}
.THIS .milestones .milestones__spot:last-child::before {
    right: 0;
    content: '';
    width: 40px;
    height: 40px;
    border: 4px solid #fff;
    border-radius: 50%;
    background-color: #eaeaea;
}

.THIS .milestones .milestones__spot:last-child .tooltip {
    top: 40px;
}


.THIS .milestones .milestones__spot:hover .tooltip {
    display: inline-block;
}


.THIS .tooltip {
    position: absolute;
    top: 24px;
    
    display: none;
    width: 160px;
}

.THIS .tooltip__tip {
    position: relative;
    z-index: 1000;
    overflow: hidden;
    text-align: center;
    height: 50px;
    height: 20px;
    display: block;
}
.THIS .tooltip__tip::before {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    z-index: 5;
    width: 20px;
    height: 20px;
    margin: 0 auto;
    content: '';
    border-bottom: 20px solid #fff;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.1);
    transform: rotate(45deg);
}


.THIS .tooltip__content {
    position: relative;
    z-index: 3;
    display: block;
    padding: 10px;
    width: 100%;
    line-height: 1.4;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.1);
}

/*--------------------------------------Progress Indicator--------------------------------------------------------------------*/
.THIS .ui-progress-indicator {
    position: relative;
    padding: 36px 0 0;
    background-color: #fff;
}
.THIS .ui-progress-indicator .slds-progress {
    max-width: 100%;
}

.THIS .ui-progress-indicator .slds-popover_tooltip {
    position: absolute;
    top: 0;
    left: calc(50% + 6px);
    background: #0076cf;
    transform: translateX(-50%);
}
.THIS .ui-progress-indicator .slds-popover_tooltip.slds-nubbin--bottom::before,
.THIS .ui-progress-indicator .slds-popover_tooltip.slds-nubbin_bottom::before {
    display: none;
}

.THIS .ui-progress-indicator .slds-popover_tooltip.slds-nubbin--bottom::after,
.THIS .ui-progress-indicator .slds-popover_tooltip.slds-nubbin_bottom::after {
    bottom: -2px;
    width: 14px;
    height: 14px;
    box-shadow: none;
}



.THIS .ui-progress-indicator .slds-progress__item.slds-has-error .slds-progress__marker {
    display: flex;
}

/*--------------------------------------Progress Ring--------------------------------------------------------------------*/

.THIS .ui-progress-ring {
    color: #706e6b;
}
.THIS .ui-progress-ring .slds-progress-ring__path {
    fill: #0076cf;
}


.THIS .ui-progress-ring.slds-progress-ring_complete .slds-progress-ring__content {
    background: #0076cf;
}

.THIS .ui-progress-ring .slds-progress-ring_warning .slds-icon,
.THIS .ui-progress-ring .slds-progress-ring_warning .slds-progress-ring__path {
    fill: #ffb75d;
}


.THIS .ui-progress-ring .slds-progress-ring_expired {
    background: #d4504c;
}
.THIS .ui-progress-ring .slds-progress-ring_expired  .slds-icon,
.THIS .ui-progress-ring .slds-progress-ring_expired .slds-progress-ring__path {
    fill: #d4504c;
}

/*-------------------------------------------------Spinner--------------------------------------------------------------*/


.THIS .slds-spinner_brand.slds-spinner:before, 
.THIS .slds-spinner_brand.slds-spinner:after, 
.THIS .slds-spinner_brand .slds-spinner__dot-a:before, 
.THIS .slds-spinner_brand .slds-spinner__dot-b:before, 
.THIS .slds-spinner_brand .slds-spinner__dot-a:after, 
.THIS .slds-spinner_brand .slds-spinner__dot-b:after, 
.THIS .slds-spinner--brand.slds-spinner:before, 
.THIS .slds-spinner--brand.slds-spinner:after, 
.THIS .slds-spinner--brand .slds-spinner__dot-a:before, 
.THIS .slds-spinner--brand .slds-spinner__dot-b:before, 
.THIS .slds-spinner--brand .slds-spinner__dot-a:after, 
.THIS .slds-spinner--brand .slds-spinner__dot-b:after{
        background-color: #59cbe8!important;
}

.THIS .inverse-spinner{
    background-color: #0076cf;
    background-color: #0076cf;
    height: 4rem;
    color: white;
}

/*--------------------------------------Tab bars--------------------------------------------------------------------*/

.THIS .ui-tab-bar {
    font-family: 'EuclidSquare-Medium', sans-serif;
    color: #706e6b;
    font-weight:600;
}

.THIS .ui-tab-bar .slds-tabs_default__item {
    color: #706e6b;
    font-weight:600;
}
.THIS .ui-tab-bar .slds-tabs_default__item.slds-is-active {
    color: #3e3e3c;
    font-weight:600;
}

.THIS .ui-tab-bar .slds-tabs_default__item .slds-tabs_default__link {
    font-weight:600;
}



/*--------------------------------------Toast--------------------------------------------------------------------*/

.THIS .ui-toast {
    height: 64px;
    font-family: 'EuclidSquare-Medium', sans-serif;
    opacity: 1;
    transition: all 300ms ease-in-out;
}

.THIS .ui-toast h2 ~ * {
    padding-top: 8px;
}

.THIS .ui-toast h3 {
    font-size: 12px;
}

.THIS .ui-toast .slds-theme--success,
.THIS .ui-toast .slds-theme_success {
    color: #fff;
    background-color: #706e6b;
}


.THIS .ui-toast--success .slds-theme--success,
.THIS .ui-toast--success .slds-theme_success {
    color: #fff;
    background-color: #4bca81;
}

.THIS .ui-toast--warning .slds-theme--success,
.THIS .ui-toast--warning .slds-theme_success {
    color: #fff;
    background-color: #ffb75d;
}

.THIS .ui-toast--error .slds-theme--success,
.THIS .ui-toast--error .slds-theme_success {
    color: #fff;
    background-color: #fc4c02;
}


.THIS .ui-toast--is-close {
    opacity: 0;
}

.THIS .ui-toast .slds-notify--toast,
.THIS .ui-toast .slds-notify_toast {
    display: flex;
    padding: 14px 60px;
    border-radius: 2px;
}

/*--------------------------------------Tooltip--------------------------------------------------------------------*/
.THIS .ui-tooltip {
    position: relative;
    padding-left: 32px;
    padding-top: 62px;
    line-height: 1.4;
}
.THIS .ui-tooltip .slds-popover {
    border-radius: 0;
    background-color: #0076cf;
}

.THIS .ui-tooltip .slds-form-element {
    padding-top: 8px;
}


.THIS.ui-form-card {
    position: relative;
    width: 100%;
    max-width: 770px;
    color: #4a4a4a;
    overflow: hidden;
    padding-left:2rem;
}

@include screen-large() {
    max-width: 966px;
}

.THIS .ui-form-card__header {
    position: relative;
    display: flex;
    align-items: flex-start;
    font-family: 'EuclidSquare-Medium', sans-serif;
    /*padding-top: 48px;*/
    padding: 20px 0;
    max-height: inherit;
    cursor: pointer;
}


.THIS .ui-form-card__header-subtitle {
    display: block;
    font-size: 14px;
    transition: all 300ms ease-in-out;
}


.THIS .ui-form-card__progress-ring {
    position: absolute;
    padding-right: 32px;
    padding-bottom: 60px;
}

@include screen-large() {
    padding-right: 140px;
}

.THIS .ui-form-card__progress-ring::after {
    position: absolute;
    bottom: 0;
    left: 13px;
    width: 2.4px;
    height: 71%;
    background-color: #0076cf;
    content: '';
    opacity: 0;
    top:34px;
}
.THIS .ui-form-card--collapsed .ui-form-card__progress-ring::after {
    opacity: 1;
     transition: all 400ms ease-in-out;
}


.THIS .ui-form-card__title-panel {
    padding-left: 64px;
}

.THIS .ui-form-card__time {
    flex: 1 0 16%;
    color: #706e6b;
    text-align: right;
    padding-right:2rem;
    padding-top: 0.5rem
}

.THIS .ui-form-card__content {
    padding: 0 32px 320px;
    max-height: 780px;
}

/*.THIS .ui-form-card__content::before {
    position: absolute;
    top: 80px;
    left: 43px;
    content: '';
    width: 2px;
    height: 0;
    opacity: 0;
    background-color: #0076cf;
    animation: retractLine 1000ms ease-in-out forwards;
}*/

.THIS .ui-form-card__content.ui-form-card--collapsed ::before  {
    height: 100%;
    animation: expandLine 1000ms 300ms ease-in-out forwards;
}


.THIS .ui-form-card__form {
    /*max-height: 2000px;*/
    position:relative;
    padding: 48px 0 0 3px;
    transition: all 400ms ease-in-out;
}

.THIS .form-control-group {
    width: 100%;
}

.THIS .ui-form-element {
    width: 100%;
    /*max-width: 560px;*/
}

.THIS .ui-form-card__field-steps {
    flex: 1 0 15%;
    padding-left: 16px;
    font-family: 'EuclidSquare-Medium', sans-serif;
    font-size: 24px;
}

.THIS .ui-form-card__action {
    position: sticky;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    width: 100%;
    border-top: 1px solid #dddbda;
    background-color: #fff;
}

.THIS .slds-progress_vertical .slds-progress__item,
.THIS .slds-progress_vertical .slds-progress__item_content {
    align-items: flex-start;
}

.THIS .slds-progress_vertical .slds-progress__item:after {
    top: 0;
}

.THIS .slds-progress_vertical .slds-progress__item:last-child:before {
    display: none;
}

.THIS .slds-progress_vertical .slds-progress__item_content {
    padding-bottom: 48px;
    padding-left: 20px;
    margin-top: 0;
}

@include screen-large() {
    padding-left: 28px;
}



.THIS .ui-form-card--collapsed .ui-form-card__form {
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    overflow: hidden;
    opacity: 0;
}

.THIS .ui-form-card--collapsed.ui-form-card__progress-ring {
    opacity: 1;
}

.THIS .ui-form-card--collapsed.ui-form-card__content {
    padding-bottom: 48px;
}


.THIS .ui-form-card--sticky.ui-form-card__header {
    position: absolute;
    left: 0;
    z-index: 10;
    width: 100%;
    max-height: 54px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 32px;
    padding-left: 32px;
    border-bottom: 1px solid #dddbda;
    background-color: #fff;
    overflow: hidden;
}

.THIS .ui-form-card--sticky.ui-form-card__header-subtitle {
    opacity: 0;
}


.THIS .ui-form-card__content {
    width: 100%;
    /*max-width: 780px;*/
}

.THIS .ui-form-card__form {
    /*padding-top: 180px;*/
}

.THIS .ui-form-card--collapsed {
   opacity:0.5;
}
.THIS.layoutcontainer{
    margin-top:2rem;
    margin-left: 37px;
    }
.THIS .ui-card{
    margin: 16px 0;background-color: #fff;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.1);
}
    
.THIS .slds-pd{
    padding-left: 34px;
}
.THIS .slds-page-desc{
    font-size:15px;
    margin-top:10px;
}
.THIS .ui-form-card__header-title {
    display: block;
    font-size: 24px;
    font-family: 'EuclidSquare-Medium', sans-serif;
    cursor: pointer;
}
.THIS .ui-form-card__header-subtitle{
    font-size: 17px;
    padding: 25px 0 0 10px;
    font-family: 'EuclidSquare-Light', sans-serif;
    cursor: pointer;
}
.THIS .ui-form-card_content{
    display: flex;
    padding: 10px 0;
}
.THIS .ui-form-element__label{
    font-family: 'EuclidSquare-Medium',sans-serif;
    font-size: 14px;
    color: #4a4a4a;
    font-weight: 600;
}

.THIS .ui-card__paragraph {
    padding-bottom: 16px;
    font-size: 14px;
    line-height: 1.4;
}
.THIS .topup-content{
    max-width: 560px;
    width: 100%;
    margin: 0 55px;
}
.THIS .summary-section { 
    background-color: #F6F6F6;
    height: 250px;
    margin: 6.7rem 0px;
}
.THIS .summary-section abbr[title]{
    display:none;
}
.THIS .ui-form-card_summary{
    display: flex;
    justify-content: space-between;
}
.THIS .slds-current-color{
    color: #0076CF;
}