.THIS.difc-review-card {
    width: 100%;
    margin: 2% auto;
}

.THIS .difc-display-none {
    display: none;
}

.THIS .closeIcon svg {
    fill: #fff;
}

.THIS .slds-modal__container {
    min-width: 25rem;
    max-width: 25rem;
}

.THIS .difc-review-form {
    background-color: white !important;
    /*padding: 4% 6%;*/
    padding-top: 4%;
    padding-right: 2%;
    padding-bottom: 4%;
    padding-left: 2%;
    font-family: "EuclidSquare-Medium";
    font-size: 12px;
}

.THIS .fileCardBlock div {
    width: auto !important;
}

.THIS .difc-review-heading {
    color: #515151;
    font-family: "EuclidSquare-Medium";
    font-size: 32px;
    font-weight: 600;
    letter-spacing: -0.15px;
    line-height: 42px;
    padding-bottom: 2%;
}

.THIS .difc-form-heading {
    color: #000000;
    font-family: "EuclidSquare-Medium";
    font-size: 22px;
    font-weight: 900;
    letter-spacing: -0.15px;
    line-height: 42px;
    padding: 1% 0;
    padding-top: 3%;
}

.THIS .difc-button-dark {
    background-color: #000000;
    border: 2px solid #000000;
    color: #ffffff;
    padding: 0.5rem;
    font-family: "EuclidSquare-Medium";
    font-size: 12px;
    font-weight: 500;
    min-width: 100px;
    border-radius: 0;
    line-height: 1;
}

.THIS .difc-form-element {
    margin-right: 5%;
    padding-bottom: 1.5%;
}

.THIS .difc-form-element .slds-form-element__static {
    color: #000000;
    /* font-family: "EuclidSquare-Light"; */
    font-family: "EuclidSquare-Medium";
    font-size: 14px;
    font-weight: 700;
}

.THIS .difc-form-element .slds-form-element__label {
    font-size: 11px;
    /* font-family: "EuclidSquare-Light"; */
    font-family: "EuclidSquare-Medium";
    color: #9a9a9a;
}

.THIS .difc-align-end {
    text-align: end;
}

.THIS .difc-review-form h1:first-child {
    padding-top: 0;
}

.THIS .difc-font {
    /* font-family: "EuclidSquare-Light"; */
    font-family: "EuclidSquare-Medium";
}

.THIS .difc-table {
    background-color: white !important;
    padding-top: 1%;
}

.THIS .difc-table-header {
    color: #000000;
    font-family: "EuclidSquare-Medium";
    font-size: 20px;
    font-weight: 600;
}

.THIS .difc-table-header-col th {
    background-color: #4a4a4a !important;
    color: important;
    /* font-family: "EuclidSquare-Light"; */
    font-family: "EuclidSquare-Medium";
    font-size: 12px;
    font-weight: 300;
}

.THIS .difc-table-header-col-grey th {
    background-color: #d9dbdd !important;
    color: black;
    /* font-family: "EuclidSquare-Light"; */
    font-family: "EuclidSquare-Medium";
    font-size: 14px;
    font-weight: 300;
}

.THIS .difc-table-feilds {
    /* font-family: "EuclidSquare-Light"; */
    font-family: "EuclidSquare-Medium";
    font-size: 14px;
    font-weight: 300;
}

.THIS .difc-table-feilds-bold {
    color: #000000;
    /* font-family: "EuclidSquare-Light"; */
    font-family: "EuclidSquare-Medium";
    font-size: 14px;
    font-weight: 700;
}

.THIS .difc-table tbody td {
    border-bottom: 0.9px solid rgba(221, 219, 218, 0.46) !important;
}

.THIS .toastMessage.forceActionsText {
    white-space: pre-line !important;
}

.THIS .fieldUi {
    color: #000000;
    font-family: "EuclidSquare-Medium";
    font-size: 14px;
    font-weight: 700;
    display: block;
}

.THIS .wrap {
    white-space: pre-wrap;
}

@media print {
    .THIS a[href]:after {
        content: none !important;
    }
}