.THIS .difc-form-heading {
  color: #000000;
  font-family: "EuclidSquare-Medium";
  font-size: 22px;
  font-weight: 900;
  letter-spacing: -0.15px;
  line-height: 42px;
  padding: 1% 0;
  padding-top: 3%;
}