@font-face {
    font-family: 'EuclidSquare-Medium';
    src: url("/resource/difcUI/fonts/Euclid_Trial/Euclid_Square_Trial/Web/EuclidSquare-Regular-WebTrial.woff") format("woff");
}


.THIS .ui-entityName__header{
        font-size: 34px;
        font-family: 'EuclidSquare-Medium';
}

.THIS .nav-label{
    font-size: 14px;
    font-family: 'EuclidSquare-Medium';
}
.THIS .ui-entity-navigation {
    position: relative;
    flex-wrap: wrap;
    min-height: 170px;
    background-color: #fff;
   	margin-top:25px;
    padding: 35px 0 0 65px;
 }
.THIS .ui-registration-complete{
    display: flex;
    justify-content: space-between;
    margin: 0 0 15px 0;
    
}

.THIS .ui-registration-complete p{
    color: #3e3e3c;
	font-family: 'EuclidSquare-light';
    font-size: 12px;
    font-weight: 800;
    line-height: 20px;
}

.THIS .slds-progress-bar__value{
    background:#0076CF;
}
.THIS .slds-context-bar__item{
    padding: 25px 55px;
}
.THIS .progress-bar-width{
    width:57%;
}
.THIS .nav-border{
    border-bottom : 2px solid #DDDBDA;
}
.THIS .slds-context-bar__item::selection , .THIS .slds-context-bar__item:hover{
    background-color: transparent;
    border-bottom: 3px solid #0076CF;
}

.THIS .difc-progress-content {
    padding-right: 7%;
    padding-top: 2%;
}

.THIS .difc-register-header-text {
  padding-left: 7%;  
}
.THIS .difc-register-header-text h1 {
    color: #515151;
	font-size: 24px;
	font-weight: 600;
	letter-spacing: -0.15px;
	line-height: 42px;    
}

.THIS .difc-register-header-text h6 {
    color: #4a4a4a;
	font-size: 16px;
	font-weight: 300;
	letter-spacing: 0.12px;
    font-family: EuclidSquare-light;
	padding-top: 2%;
}

.THIS .layoutcontainer {
    width: 95%;
	margin: auto;
}

.THIS .cOB_BacktoHome{
    padding:0 ;
    padding-left: 3.5% !important;
     font-family: EuclidSquare-light;
    font-size: 12px;
}
.THIS .difc-back {
   padding: .5rem; 
    padding-bottom: 0;
}