.THIS .circle {
    background: rgb(217, 219, 221);
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;

}



.THIS .quickContact {
    background-color: white;
    padding: 10px 30px 10px 30px;
}

.THIS .ui-button {
    min-width: auto !important;

}

.THIS .circle img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    vertical-align: middle;
}

.THIS .buttonclass {
    padding-top: 20px;
    text-align: center;
}

.THIS .paddingclass {
    padding-left: 11px;
}

.THIS .buttonclass .ui-button {
    width: 100%;
    font-size: 11px;
    font-weight: 700;
    border: 2px solid black;
}

.THIS .ob-nm {
    font-weight: 700;
    font-size: 11px;

}

.THIS .ob-jb {
    font-size: 10px;
    width: 100%;
}

.THIS .align-end {
    align-self: flex-end;
}

.THIS .difc-contact-button {
    font-size: 11px;
    font-weight: 700;
    border: 2px solid black;
    border-radius: .2rem;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
    position: relative;
    bottom: 0;
    padding: 0.2rem 1rem;
}

.THIS .close {
    position: absolute;
    right: 32px;
    top: 22px;
    width: 32px;
    height: 32px;
    opacity: 1;
}

.THIS .close:hover {
    opacity: 1;
}

.THIS .close:before,
.THIS .close:after {
    position: absolute;

    left: 30px;

    content: " ";

    height: 14px;

    width: 2.3px;

    background-color: #333;
}

.THIS .close:before {
    transform: rotate(45deg);
}

.THIS .close:after {
    transform: rotate(-45deg);
}