.THIS.ui-global-navigation {
  /*flex-wrap: wrap;*/
  min-height: 64px;
  font-family: "EuclidSquare-Medium", sans-serif;
  background-color: white;
  /*padding:1rem;*/
  padding: 16px;
  height: 80px;
  border-bottom: 2px solid #f1f0f1;
  /* 
    margin-left:16px;
    margin-right:16px;
    */

  /*position: fixed;
    flex-wrap: wrap;
    min-height: 64px;
    width: 89%;
    font-family: 'EuclidSquare-Medium',sans-serif;
    color: #fff;
    background-color: #002f6c;
    padding: 16px;
    height: 32px;
    z-index: 1;
    top: 0;
    margin-left: 64px;
    margin-right: 64px;
    bottom: 0;*/
}

.THIS .main-navigation__profile {
  font-size: 15px;
  font-weight: 600;
  color: White;
  margin-top: -50px;
  margin-left: 790px;
}
.THIS .selfServiceUserProfileMenu .selfServiceProfileMenuTrigger {
  /*text-align: right;*/
  height: auto;
  padding: 0;
  margin-top: 0px;
}

.THIS.ui-global-navigation__inner-wrap {
  align-items: center;
  max-width: 1440px;
  margin: auto;
}
.THIS.ui-global-navigation__title {
  align-items: center;
  flex: 0 0 30%;
  padding-left: 16px;
  margin: 8px 0;
  font-size: 22px;
  font-weight: 300;
}

.THIS .icon-bell {
  padding-left: 50px;
  margin-left: 65% !important;
  margin-top: 1% !important;
}
.THIS .ui-global-navigation__title-text {
  font-family: "EuclidSquare-Medium", san serif !important;
  width: 98px;
  height: 29px;
  color: #4a4a4a;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: -0.38px;
}
.THIS .ui-global-navigation__content {
  align-items: center;

  flex: 0 0 70%;
  height: 100%;
  padding-right: 16px;
  font-size: 16px;
  letter-spacing: 1px;
  margin-left: 1200px;
}
.THIS.ui-global-navigation__content-col {
  align-items: center;
}
.THIS.ui-global-navigation__action {
  align-items: center;
}
.THIS.ui-global-navigation__action--private {
  align-items: center;
}

.THIS.ui-global-navigation__button {
  position: relative;
  background-color: transparent;
  border: 0;
}
.THIS.ui-global-navigation__action-button {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}
.THIS.ui-global-navigation__button--icon {
  margin-right: 32px;
}
.THIS.ui-global-navigation__menu {
  max-width: 1440px;
  max-height: 500px;
  padding: 32px 174px;
  margin: auto;
  color: #fff;
  display: inline;
  transition: all 300ms ease-in-out;
}
.THIS.ui-global-navigation__menu--hidden {
  padding: 174px;
  max-height: 0;
  display: inline;
}
.THIS.ui-global-navigation__menu-list {
  justify-content: space-between;
  width: 100%;
  margin-left: 1000px;
}
.THIS.ui-global-navigation__menu-link {
  color: #fff;
  opacity: 1;
  transition: all 300ms ease-in-out;
}
.THIS.ui-global-navigation__menu-link--selected {
  color: #fff;
  opacity: 0.5;
}

.THIS.ui-global-navigation__title-listDrop {
  margin-left: 1200px;
  margin-top: -60px;
  color: white;
}

.THIS .profileName {
  color: #2b2826;
}

.THIS .ui-global-navigation__title-bell {
  filter: invert(1) !important;
  height: 16px !important;
  margin-right: 1rem;
}

.THIS .difc-header-grid {
}

.THIS .difc-notification-icon {
  align-self: center;
}

.THIS .difc-align-end {
  text-align: end;
  margin-top: 0.6%;
  padding-right: 2%;
}