.THIS .nextLink{
    color: rgb(62, 62, 60) !important;
}
.THIS .previousLink{
    color: rgb(255, 255, 255) !important;
}
.THIS .currentLink{
    color: rgb(255, 255, 255) !important;
}
.THIS .group{
	background-color: #d6d6d6;
    color: rgb(150, 150, 150) !important;
}