.THIS .ob-slds-box{
    background-color: #fff;
    padding-left: 8rem;
    padding-right: 8rem;
    padding-top: 1rem;
    padding-bottom: 7rem;
}
.THIS{
    margin-left:12rem;
    margin-right: 12rem;
}
.THIS .slds-page-desc{
    font-size:15px;
    margin-top:10px;
}
.THIS .slds-pd{
    padding-left: 8rem;
    padding-right: 8rem;
}
.THIS .ob-title{
    font-weight: 900;
    margin-bottom: 8px;
    font-size: 15px;
}
.THIS .slds-text-title {
    color: rgba(0,0,0,1);
}