<template>
    <lightning-card >
        <div class="slds-var-m-top_large"> 
            <template if:true={showForm}>
                <div style="margin: auto;width: 65%;border: 3px solid #F1F0F1;padding: 10px;">                        
                    <div class="slds-form" style="margin-left: 15%;margin-top: 10%;margin-bottom: 10%;">
                        <p class="slds-text-heading_medium" style="margin-left: 20%;margin-bottom: 30px;">Payment Details</p>
                        <div class="slds-form-element slds-form-element_horizontal">
                            <label class="slds-form-element__label" for="horizontal-input-id-01">Status</label>
                            <div if:true={checkPaymentStatus}>
                                <div class="slds-form-element__control">
                                    <lightning-badge class="slds-text-color_success" 
                                        label="Success" icon-name="utility:success" icon-position="end">
                                    </lightning-badge> 
                                </div>                                
                            </div>
                            <div if:false={checkPaymentStatus}>
                                <div class="slds-form-element__control">
                                    <lightning-badge class="slds-text-color_error" 
                                        label="Failed" icon-name="utility:error" icon-position="end">   
                                    </lightning-badge>
                                </div>
                            </div>
                            
                        </div>
                        <!--div class="slds-form-element slds-form-element_horizontal">
                            <label class="slds-form-element__label" for="horizontal-input-id-01">Company</label>
                            <div class="slds-form-element__control">
                                <p>{receiptObj.Customer__r.Name}</p>   
                            </div>
                        </div-->
                        <div class="slds-form-element slds-form-element_horizontal">
                            <label class="slds-form-element__label" for="horizontal-input-id-01">Payment Reference</label>
                            <div class="slds-form-element__control">
                                <div if:false={receiptObj.Payment_Gateway_Ref_No__c}>
                                    <p>N/A</p>
                                </div>                                 
                                <div if:true={receiptObj.Payment_Gateway_Ref_No__c}>
                                    <p>{receiptObj.Payment_Gateway_Ref_No__c}</p> 
                                </div>                                  
                            </div>
                        </div>
                        <div class="slds-form-element slds-form-element_horizontal">
                            <label class="slds-form-element__label" for="horizontal-input-id-01">Amount Paid</label>
                            <div class="slds-form-element__control">
                                <div if:false={receiptObj.Amount__c}>
                                    <p>N/A</p>
                                </div>                                 
                                <div if:true={receiptObj.Amount__c}>
                                    <p>AED {receiptObj.Amount__c}</p> 
                                </div>
                            </div>
                        </div>
                        <div class="slds-form-element slds-form-element_horizontal">
                            <label class="slds-form-element__label" for="horizontal-input-id-01">Card Type</label>
                            <div class="slds-form-element__control">                                
                                <div if:false={receiptObj.Card_Type__c}>
                                    <p>N/A</p>
                                </div>                                 
                                <div if:true={receiptObj.Card_Type__c}>
                                    <p>{receiptObj.Card_Type__c}</p> 
                                </div>
                            </div>
                        </div>
                        <div class="slds-form-element slds-form-element_horizontal">
                            <label class="slds-form-element__label" for="horizontal-input-id-01">Transaction Date</label>
                            <div class="slds-form-element__control">
                                <p>
                                    <lightning-formatted-date-time value={receiptObj.Transaction_Date__c} 
                                        year="numeric" month="numeric" day="numeric" hour="2-digit"
                                        minute="2-digit"  time-zone-name="short" hour12="false">
                                    </lightning-formatted-date-time>
                                </p>   
                            </div>
                        </div><br/><br/> 
                    </div>
                </div>

            </template>
            <div if:false={showForm}>
                <div style="margin: auto;width: 65%;">
                    <p class="slds-text-heading_medium" style="margin-left: 15%;margin-top: 10%;margin-bottom: 10%;">
                        Error! occurred while loading page, please contact system administrator.
                    </p>
                </div>
            </div>
        </div>
    </lightning-card>
</template>