<!--
  @description       : 
  @author            : Shoaib Tariq
  @group             : 
  @last modified on  : 02-22-2021
  @last modified by  : ChangeMeIn@UserSettingsUnder.SFDoc
  Modifications Log 
  Ver   Date         Author                               Modification
  1.0   02-21-2021   Shoaib Tariq   Initial Version
-->
<template>
    
        <div class=" ">
            <lightning-card  title="UPDATE CONTACT DETAILS" icon-name="standard:record_update">

                <template if:true={isErr}>
                    <div class="demo-only" style="height:4rem">
                        <div class="slds-notify_container slds-is-relative">
                        <div class="slds-notify slds-notify_toast slds-theme_error" role="status">
                        <span class="slds-assistive-text">error</span>
                        <span class="slds-icon_container slds-icon-utility-error slds-m-right_small slds-no-flex slds-align-top" title="Description of icon when needed">
                        <svg class="slds-icon slds-icon_small" aria-hidden="true">
                        <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#error"></use>
                        </svg>
                        </span>
                        <div class="slds-notify__content">
                           {error}
                        </div>
                        <div class="slds-notify__close">
                        <button class="slds-button slds-button_icon slds-button_icon-inverse" title="Close">
                        <svg class="slds-button__icon slds-button__icon_large" aria-hidden="true">
                        <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
                        </svg>
                       
                        </button>
                        </div>
                        </div>
                        </div>
                        </div>
                </template>

                <template if:true={isSaved}>
                    <div class="slds-box ">
                        <div class="demo-only" style="height:4rem">
                            <div class="slds-notify_container slds-is-relative">
                            <div class="slds-notify slds-notify_toast slds-theme_success" role="status">
                            <span class="slds-assistive-text">success</span>
                            <span class="slds-icon_container slds-icon-utility-success slds-m-right_small slds-no-flex slds-align-top" title="Description of icon when needed">
                            <svg class="slds-icon slds-icon_small" aria-hidden="true">
                            <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#success"></use>
                            </svg>
                            </span>
                            <div class="slds-notify__content">
                            <b>Thank you.We have recieved your information. </b>
                          
                            </div>
                            <div class="slds-notify__close">
                            <button class="slds-button slds-button_icon slds-button_icon-inverse" title="Close">
                            <svg class="slds-button__icon slds-button__icon_large" aria-hidden="true">
                            <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
                            </svg>
                          
                            </button>
                            </div>
                            </div>
                            </div>
                            </div>
                    </div>
                </template>
                <template if:false={isSaved}>
        <div class="" style="height:13rem;margin-right:38%;margin-left:5%;margin-top:2%">
            
        <div >
           
        <Strong>Kindly find below your contact details provided along with the employment permit application. You may review and update if required.</Strong>
        <lightning-layout>
            <lightning-layout-item  flexibility="auto" padding="around-small">
                <div class="slds-form-element">
                    <label class="slds-form-element__label" for="form-element-help-01">
                     </label>
                    <div class="slds-form-element__icon">
                      <button class="slds-button slds-button_icon">
                        <svg class="slds-button__icon" aria-hidden="true">
                          <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#info"></use>
                        </svg>
                        <span class="slds-assistive-text">Help</span>
                      </button>
                    </div>
                    <div class="slds-form-element__control">
                        <lightning-icon icon-name="custom:custom105" size="small" alternative-text="Approved" title="Approved"></lightning-icon>  &nbsp;<lightning-formatted-text  value={record.Email} ></lightning-formatted-text>
                    </div>
                  </div>
            </lightning-layout-item>

            <lightning-layout-item  flexibility="auto" padding="around-small">
                <div class="slds-form-element">
                    <label class="slds-form-element__label" for="form-element-help-01"></label>
                    <div class="slds-form-element__icon">
                      <button class="slds-button slds-button_icon">
                        <svg class="slds-button__icon" aria-hidden="true">
                          <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#info"></use>
                        </svg>
                        <span class="slds-assistive-text">Help</span>
                      </button>
                    </div>
                    <div class="slds-form-element__control">
                        <lightning-icon icon-name="action:call" size="x-small" alternative-text="Approved" title="Approved"></lightning-icon>  <lightning-formatted-text label="Current Phone"  value={record.Phone} ></lightning-formatted-text>
                    </div>
                  </div>
            </lightning-layout-item>
            </lightning-layout>
         
            <template if:true={areDetailsVisible}>
                <lightning-layout>
                <lightning-layout-item  flexibility="auto" padding="around-small">
                    <div class="slds-form-element">
                        <label class="slds-form-element__label" for="form-element-help-01">New Email
                         </label>
                        <div class="slds-form-element__icon">
                          <button class="slds-button slds-button_icon">
                            <svg class="slds-button__icon" aria-hidden="true">
                              <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#info"></use>
                            </svg>
                            <span class="slds-assistive-text">Help</span>
                          </button>
                        </div>
                        <div class="slds-form-element__control">
                            <lightning-input type="email" placeholder="youremail@domain.com" onchange={handlenewemail} ></lightning-input>
                        </div>
                      </div>
                </lightning-layout-item>
    
                <lightning-layout-item  flexibility="auto" padding="around-small">
                    <div class="slds-form-element">
                        <label class="slds-form-element__label" for="form-element-help-01">New Mobile No.</label>
                        <div class="slds-form-element__icon">
                          <button class="slds-button slds-button_icon">
                            <svg class="slds-button__icon" aria-hidden="true">
                              <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#info"></use>
                            </svg>
                            <span class="slds-assistive-text">Help</span>
                          </button>
                        </div>
                        <div class="slds-form-element__control">
                            <lightning-input type="tel"  name="phone1"  message-when-pattern-mismatch="Mobile Number should start with +971" pattern="[+971]{4}[0-9]{9}"  placeholder="+971XXXXXXXXX" onchange={handlenewphone}></lightning-input>
                        </div>
                      </div>
                </lightning-layout-item>
            </lightning-layout>
            </template>
            
        
            <template if:false={areDetailsVisible}>
        <div  style="float:right">
        <lightning-button variant="brand-outline" label="I Would Like To Update My Details" title="Primary action" onclick={handleChange} class="slds-m-left_x-small"></lightning-button>
       </div>
       </template>
    
    </div>

    
    </div>
  
   <div class="slds-box slds-theme_shade" style="margin-left: 50px;margin-left: 50px;"><lightning-icon icon-name="custom:custom53" size="x-small" alternative-text="Approved" title="Approved"></lightning-icon><b> Are you interested in receiving updates about the DIFC? If yes, please select from the list below and we will keep you informed on the items that matter to you most.  Please review DIFCA’s online privacy policy for further information about how we process your information.</b></div>
   <div class="slds-align_absolute-center">
    <div class="slds-form">
        <div class="slds-form-element slds-form-element_stacked">
          <label class="slds-form-element__label" for="stacked-input-id-01"></label>
          <div class="slds-form-element__control">
            <lightning-input type="checkbox" label="Community Events" name="input1" onchange={handleisCommunityEvents}></lightning-input>
          </div>
        </div>

        <div class="slds-form-element slds-form-element_stacked">
            <label class="slds-form-element__label" for="stacked-input-id-01"></label>
            <div class="slds-form-element__control">
              <lightning-input type="checkbox" label="DIFC Academy" name="input1" onchange={handleisDIFCAcademy}></lightning-input>
            </div>
          </div>

          <div class="slds-form-element slds-form-element_stacked">
            <label class="slds-form-element__label" for="stacked-input-id-01"></label>
            <div class="slds-form-element__control">
              <lightning-input type="checkbox" label="DIFC Fintech Hive" name="input1" onchange={handleisDIFCFintechHive}></lightning-input>
            </div>
          </div>

          <div class="slds-form-element slds-form-element_stacked">
            <label class="slds-form-element__label" for="stacked-input-id-01"></label>
            <div class="slds-form-element__control">
              <lightning-input type="checkbox" label="General Announcements" name="input1" onchange={handleisGeneralAnnouncements}></lightning-input>
            </div>
          </div>
        
        
      </div>
      
   </div>
   <div class="slds-align_absolute-center" style="margin:50px;">
    <lightning-button variant="brand-outline" label="Confirm and Save" title="Primary action"   onclick={handleissave} class="slds-m-left_x-small"></lightning-button>
   </div>
   </template>
</lightning-card>
   </div>

</template>