.THIS .inner-table {
  font-family: "EuclidSquare-Medium" !important;
  color: black;
}

.THIS .table-header {
  font-family: "EuclidSquare-Medium" !important;
  color: black;
}
.THIS .slds-table thead th {
  color: black !important;
}
.THIS .difc-wrap {
  white-space: pre-line;
  overflow: hidden;

  text-overflow: ellipsis;

  display: -webkit-box;

  -webkit-line-clamp: 3;

  -webkit-box-orient: vertical;
}