.THIS.difc-card {
    padding: 1.75rem 1.75rem 0;
    background-color: white !important;
}

.THIS .difc-card-container {

   position: relative;
   
   
}

.THIS .difc-is-active .slds-progress__marker {
    border: 4px solid #4a4a4a;
	background-color: #ffffff;
}

.THIS .aed{
    font-size: 12px !important;
}



.THIS .difc-timeline-block {
  
   display: -webkit-box;
   display: -webkit-flex;
   display: -moz-box;
   display: flex;
   -webkit-box-pack: justify;
   -webkit-justify-content: space-between;
   -moz-box-pack: justify;
   justify-content: space-between;
   clear: both;  
}

.THIS .difc-vertical-align {
    align-items: center;
}

.THIS .ui-form-card__header-title, .THIS .difc-card-marker{
    padding-left: 13%;
    padding-right: 13%;
    width: 70%;
}
.THIS .ui-form-card__header-title{
    padding-bottom: 24px;
    margin-top: 1rem;
}
.THIS .timeline-content {
   width: 100%;
    line-height:1;
   
}

.THIS .slds-progress__list {
   margin: 0; 
}

.THIS .difc-card-header {
    color: #000000;
font-family: 'EuclidSquare-Medium'; 
font-size: 24px;
font-weight: 500;
}

.THIS .slds-progress__marker {
  width: 1.2rem;
  height: 1.2rem;  
}

.THIS .difc-card-description {
    color: #515151;
font-family: "EuclidSquare-Light";
font-size: 12px;
font-weight: 300;
line-height: 20px;
    padding-top:1%;

}

.THIS .difc-button {
    color: #ffffff;
	font-family: "EuclidSquare-Medium";
	font-size: 13px;
	font-weight: 500;
	text-transform: uppercase;
    background-color: #000000 !important;
    line-height: 1.875rem;
    background: black !important;
    float: right;
       
}

.THIS .difc-medium-size {
    width: 1rem !important;
	height: 1rem !important; 
}

.THIS .difc-pages-list-content {
    padding: 1.5%;
    padding-top: 2.5%;
    padding-Bottom: 2.5%;
}

.THIS .difc-card:not(:first-child) {
    padding: 1.75rem 1.75rem 0;
    background-color: white !important;
    margin-top: 3%;
}

.THIS .difc-card:first-child {
    padding: 1.75rem 1.75rem 0;
    background-color: white !important;
}

.THIS .difc-sub-heading {
   color: #000000;
font-family: "EuclidSquare-Medium";
font-size: 14px;
font-weight: 500; 
    display: block;
}

.THIS .difc-link {
    color: #4a4a4a;
font-family: "EuclidSquare-Medium";
font-size: 14px;
font-weight: 500;
}

.THIS .difc-p-bottom {
    padding-bottom: 2%;
}

.THIS .difc-pages-list-content {
    position: relative;
top: 0.3rem;
}

.THIS .difc-sub-header {
   font-family: 'EuclidSquare-light'; 
    padding-top: 2%;
    font-size: 12px;
}

.THIS .difc-disp-none {
  display: none;
}

.THIS .difc-white-background {
    background-color: white;
}

.THIS .difc-tick-icon {
    width: 1rem !important;
	height: 1rem !important;
}
.THIS .difc-card-marker{
    padding-bottom: 4%;
    background-color: #fff;
    margin-left: 13%;
    margin-right: 13%;
}
.THIS .ob-title{
    font-size: 18px;
    font-weight: 900;
}
.THIS .ob-sm{
    font-weight: 600;
    font-size: 18px;
    color: #515151;
}
.THIS .ob-itm{
    font-size: 13px;
    font-weight: 600;
}
.THIS .ob-itm-val{
    font-size: 12px;
    font-weight: 600;
}
.THIS .ob-m{
    margin-right: 5px;
}
.THIS .ob-tp-c{
    color: #706e6a;
}
.THIS .slds-page-desc{
    font-size:15px;
    margin-top:10px;
}
.THIS .ob-des{
    font-size: 14px;
}
.THIS .ob-hr{
    margin: 2rem 0;
}