.THIS .section-header {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.THIS {
  margin-bottom: 1rem;
}

.THIS .align-right {
  text-align: end;
  margin-top: 0.4rem;

}

.THIS .grey {
  font-size: 12px;

  color: #696969;
}

.THIS .hide-req .slds-required {
  display: none;
}

.THIS .slds-required {
  display: none;
}