.THIS.layoutcontainer{
    margin-top:2rem;
    margin-left: 37px;
    }
.THIS .ui-card{
    margin: 16px 0;background-color: #fff;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.1);
}
    
.THIS .slds-pd{
    padding-left: 100px;
    padding-right: 100px;
}
.THIS .aed{
    font-size: 12px !important;
}
.THIS .slds-page-desc{
    font-size:15px;
    margin-top:10px;
}
.THIS .ui-form-card__header-title {
    display: block;
    font-size: 24px;
    font-family: 'EuclidSquare-Medium', sans-serif;
    cursor: pointer;
}

.THIS .ui-form-card__header-subtitle{
    font-size: 17px;
    padding: 25px 0 0 10px;
    font-family: 'EuclidSquare-Light', sans-serif;
    cursor: pointer;
}
.THIS .ui-form-card_content{
    display: flex;
    padding: 10px 0;
}
.THIS .ui-form-element__label{
    font-family: 'EuclidSquare-Medium',sans-serif;
    font-size: 14px;
    color: #4a4a4a;
    font-weight: 600;
    margin-top:10px;
}

.THIS .ui-card__paragraph {
    padding-bottom: 16px;
    font-size: 14px;
    line-height: 1.4;
}
.THIS .topup-content{
    margin: 30px 100px;
}
.THIS .summary-section {
    background-color: #F6F6F6;
    /* height: 250px; */
    margin: 15px 32px;
}
.THIS .summary-section abbr[title]{
    display:none;
}
.THIS .ui-form-card_summary{
    display: flex;
    justify-content: space-between;
}
.THIS .slds-current-color{
    color: #0076CF;
}
.THIS .cancel_payment{
    margin-top:1rem;
}
.THIS .ui-button-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 16px;
}

.THIS .ui-button-group--down {
    display: block;
}

.THIS buttonMargin {
    margin-bottom:10px;
}

.THIS .ui-button-group--right {
    justify-content: flex-end;
}

.THIS .ui-button--default {
    color: #0076cf;
    border: 1px solid #0076cf;
    background-color: #fff;
    font-weight:600;
}
.THIS .ui-button--default:hover {
    color: #002f6c;
    border: 1px solid #002f6c;
    background-color: #f3f2f2;
}

.THIS .ui-button--default:focus {
    color: #2b2826;
    border: 1px solid #2b2826;
    background-color: #fff;
}


.THIS .ui-button--default-outline {
    border: 1px solid #0076cf;
}
.THIS .ui-button--default-outline:hover {
    border: 1px solid #0076cf;
}



.THIS .ui-button--primary {
    color: #fff;
    border: 1px solid #0076cf;
    background-color: #0076cf;
}
.THIS .ui-button--primary:hover {
    color: #fff;
    border: 1px solid #002f6c;
    background-color: #002f6c;
}


.THIS .ui-button--tertiary {
    text-transform: none;
    color: #0076cf;
    border: 1px solid #0076cf;
    border-radius: 2px;
    background-color: #fff;
}

.THIS .ui-button--disabled {
    color: #dddbda;
    border: 1px solid #dddbda;
    background-color: #fff;
    cursor: not-allowed;
    outline: none;
}

.THIS .ui-button--destructive {
    color: #fff;
    border: 1px solid #c23934;
    background-color: #c23934;
}

.THIS .ui-button--upload {
    justify-content: center;
    color: #fff;
    border: 1px solid #0076cf;
    border-radius: 2px;
    background-color: #0076cf;
}
.THIS .ui-button--upload:hover {
    color: #fff;
    border: 1px solid #002f6c;
    background-color: #002f6c;
}

.THIS .ui-button--upload img {
    margin-right: 8px;
}


.THIS .ui-button--upload--upload-disabled {
    color: #fff;
    border-radius: 2px;
    background-color: #dddbda;
    cursor: not-allowed;
}
.THIS .ui-button--upload--upload-disabled img {
    margin-right: 8px;
}


.THIS .ui-button--selected {
    text-transform: none;
    color: #0076cf;
    border: 1px solid #0076cf;
    border-radius: 2px;
    background-color: #fff;
}
.THIS .ui-button--selected img {
    margin-right: 8px;
}
.THIS .completed-image {
    margin-left: -31px;
}

.THIS .ui-button--not-selected {
    text-transform: none;
    color: #0076cf;
    border: 1px solid #dddbda;
    border-radius: 2px;
    background-color: #fff;
}
.THIS .ui-button--not-selected img {
    margin-right: 8px;
}


.THIS .ui-button--default-outline {
    border: 1px solid #0076cf;
}
.THIS .ui-button--default-outline:hover {
    border: 1px solid #0076cf;
}


.THIS .ui-button--primary-outline {
    border: 1px solid #fff;
}
.THIS .ui-button--primary-outline :hover {
    border: 1px solid #fff;
}


.THIS .ui-button--breadcrumb {
    min-width: auto;
    margin-right: 4px;
    padding: 0;
    color: #0076cf;
}

.THIS .ui-button--close {
    min-width: auto;
}
.THIS .ui-button--close-icon {
    display: block;
}


.THIS .ui-button__text--hidden {
    text-indent: -9999px;
    width: 0;
    height: 0;
}

.THIS .ui-button--toggle {
    justify-content: space-between;
    padding-left: 0;
    border: none;
    text-transform: none;
}
.THIS .ui-button--toggle :hover {
    color: #373737;
    transform: none;
    text-decoration: none;
}

.THIS .ui-button--toggle--open .ui-button__icon--arrow{
    transition: all 300ms ease-in-out;
    transform: rotate(270deg);
}

.THIS .ui-button__icon--arrow {
    width: 8px;
    transform: rotate(90deg);
    transition: transform 300ms ease-in-out;
}

.THIS .ui-button-icon {
    border-radius: 0;
}

.THIS .ui-button--back-link .slds-icon-text-default {
    fill: #0076cf;
}

.THIS .ui-button--back-link--inverse .slds-icon-text-default{
    fill:white;
}

.THIS .ui-button--back-link {
    padding: 6px 10px;
    color: #0076cf;
    border: 1px solid #0076cf;
    background-color: #fff;
    text-transform: none;
    letter-spacing: normal;
    font-weight: 600;
}

.THIS .ui-button--back-link--inverse {
    color: #fff;
    background-color: #0076cf;
}

.THIS .back_to_path{
    margin-left: 0.5rem;    
}

.THIS .ui-button--back-link .slds-button__icon {
    margin-right: 10px;
}

.THIS .ui-button--back-link:hover {
    color: #002f6c;
    border: 1px solid #002f6c;
}

  .THIS .ui-button--breadcrumb {
    min-width: auto;
    margin-right: 4px;
    padding: 0;
    color: #0076cf;
  }

  .THIS .ui-button--close {
    min-width: auto;
}
    .THIS .ui-button--close-icon {
      display: block;
    }
  

  .THIS .ui-button__text--hidden {
    text-indent: -9999px;
    width: 0;
    height: 0;
  }

  .THIS .ui-button--toggle {
    justify-content: space-between;
    padding-left: 0;
    border: none;
    text-transform: none;
}
    .THIS .ui-button--toggle:hover {
      color: #373737;
      transform: none;
      text-decoration: none;
    }


      .THIS .ui-button--toggle--open .ui-button__icon--arrow {
        transition: all 300ms ease-in-out;
        transform: rotate(270deg);
      }
    
  

  .THIS .ui-button__icon--arrow {
    width: 8px;
    transform: rotate(90deg);
    transition: transform 300ms ease-in-out;
  }
  .THIS .ob-act-active{
      background-color: #f1f0f0;
  }