@font-face {
  font-family: "EuclidSquare-Medium";
  src: url("/resource/difcUI/fonts/Euclid_Trial/Euclid_Square_Trial/Web/EuclidSquare-Regular-WebTrial.woff")
    format("woff");
}

.THIS .service-name {
  font-family: "EuclidSquare-Medium";
  font-size: 14px;
  font-weight: 500;
}

.THIS .description {
  font-family: "EuclidSquare-Medium";
  font-size: 12px;
  font-weight: 300;
  min-height: 50px;
}

.THIS .difc-button {
  font-size: 10px !important;
}