

<style>
    .top-bar input, .top-bar .button{top: 0px;}
    .top-bar section ul.settings  li.search {
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        border: none;
    }

    section.top-bar-section ul li.search input {
        border: none;
        /*padding-top: 0.25rem;*/
        top: 0px;
    }

    section.top-bar-section ul li.search input[type='submit'] {
        background: #00a3e0;
        left: -6px;
    }
    .top-bar-section ul li span.icon {margin-top: 15px;}

    /*tab font Size*/
    .zen .zen-tabMenu a { font-size: 0.875rem; }
    .notification-item p {vertical-align: middle;}

    .sidebarCollapsible{padding: 0;}
    .sidebar{/*width: 320px !important;*/width: 250px !important;border-right: 1px solid #e5e5e5;}
    #handlebarContainer {left: 244px; z-index: 99;}

    .container {margin-top: 18px;}
    .sidebarCell, #sidebarDiv{width: 250px;}


    /*** Legacy styles ***/

    .ugAC_box .ugAC_row_hover,
    .autoCompleteHoverRow,
    tr.dataRow.highlight-hover,
    .errorConsole .x-grid3-row-over,
    .listViewport .x-grid3-row-over,
    #listPushUpgradeJobs tr.dataRow:hover,
    #phSearchInput_autoCompleteBoxId .autoCompleteHoverRow,
    .detailList .fyeYearGrid .pbBody .tabularEditElement tr.dataRow:hover {
        background-color: #ebebeb !important;
    }

    /* hide customer lookup */
    /*    .lookupInput.customer > input#CF00N11000000qRuU ~ *,
        .lookupInput.customer > input#CF00N10000004HiGy ~ * {
            display: none !important;
        }
    */

    /* Search controll */
    .searchAllLink,
    .sidetabsContainer .feedToggle,    
    ul.searchEntityList .itemLink .item:not([data_relatedlistdomid='Case']):not([data_relatedlistdomid='Service_Request__c']),
    div#searchResultsHolderDiv div.bRelatedList:not(#Cases):not(#Service_Request__c)  {
        display: none !important;
    }    

</style>

<footer style="min-height:50px;" class="footercls">
    <div style="padding-top:0px;">
		<span style="padding-left:20px;">
			<a href="https://www.difc.ae/laws-regulations/data-protection" target="_black">About DIFC</a>
		</span>
		<span style="padding-left:40%;">
			<a href="https://www.difc.ae/terms-use" target="_black">Terms of Use</a>
		</span>
		<span style="padding-left:20px;">
			<a href="https://www.difc.ae/online-data-protection-policy" target="_black"> Privacy Policy</a>&ensp;&ensp;
		</span>
		<span style="vertical-align:inherit;" class="allrights">
			<small>All Rights Reserved. Copyright DIFC &copy;</small>				
		</span>
	</div>
</footer>
<!-- footer -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script> -->
<!-- <script src="/customers/resource/1408443325000/difc_portal/DIFC_CommunityResource/js/foundation.js"></script> -->
<script src="/customers/resource/difc_portal/DIFC_CommunityResource/js/foundation.min.js"></script>
<script src="/resource/difc_portal/DIFC_CommunityResource/js/foundation.min.js"></script>

<script>
    
    // function stop_animation(){
    //     jQuery(".spin-container").remove(); 
    //     jQuery("body").removeClass('no-scroll');       
    // }
    // stop_animation();

    //Disable salesforce default input field focus
    setFocusOnLoad = function(){};    

    // Sfdc.onReady(function(){
    //     DIFC.apply_settings();        
    // });
    
    // console.log('Time page loaded finished ===> ' + Date.now());

    var sforce_ready = Sfdc.onReady;
    Sfdc.onReady(function(){
        sforce_ready();
        DIFC.SercurityManager.apply_security();
    });

    jQuery(function() {

        //$(".spin-container").remove();

        DIFC.init();        
        
        jQuery(".globalHeaderNameMink .name").text(jQuery("#globalHeaderNameMink").text());
        jQuery("nav.top-bar section.top-bar-section ul.settings ul.dropdown").append(jQuery(".globalHeaderBar .zen-options li"));        

        jQuery(document).foundation();

        if(isFirefox) {
            var user_settings_elem = $('nav.top-bar section ul.settings > li.has-dropdown');
            if(!user_settings_elem.hasClass('.not-click')) {
                jQuery(user_settings_elem).on('mouseenter', function(e){
                    e.preventDefault();
                    jQuery(this).children('ul.dropdown').css('clip', 'auto');
                }).on('mouseleave', function(e){
                    e.preventDefault();
                    jQuery(this).children('ul.dropdown').css('clip','rect(1px, 1px, 1px, 1px)');
                })
            }           
        }

        var today = new Date();
        jQuery('footer .copyright span.year').html(today.getFullYear());

    });    

    // $(document).foundation();
</script>




  <!-- Live Chat Start -->


<img style="display: none;" src="https://c.eu7.content.force.com/servlet/servlet.ImageServer?id=0150J000005nqHp&oid=00D20000000nkZ5" />


 
<style type='text/css'>
    
.label 
{
font-family: "Arial",sans-serif  !important;
}

  .embeddedServiceHelpButton .helpButton .uiButton { background-color: ##000000!important; font-family: "Arial"; max-width: 20em;}

   button.embeddedServiceSidebarButton,span.label,.uiButton
{
    background-color:#000000 !important;
}

button.embeddedServiceSidebarButton:hover,span.label:hover
{
    background-color:#000000 !important;
}
.embeddedServiceSidebarButton .label, .embeddedServiceSidebarButton:disabled .label
{
    color:#fff !important;
}
.embeddedServiceLiveAgentStateWaitingHeader .waitingImage 
{
height: 48px !important;
}
a.uiButton.helpButtonEnabled
{
background-color:#000000 !important;
}

button.embeddedServiceSidebarButton:hover,span.label:hover,a.uiButton:hover,.helpButtonDisabled:hover,.contactus 
{
    background-color:#000000 !important;
}

button.embeddedServiceSidebarMinimizedDefaultUI{
	background-image: url('') !important;
	background-color: #000000 !important;
	padding: 0 6px !important;
    min-width: 10em !important;
    width: 10em !important;
    text-decoration: none !important;
    border: 0px solid #d6d6d6 !important;
}

div.minimizedText > span.message 
{
	font-size: 12px !important; 
	background-color: inherit !important; 
    border-style: no !important;
    border-width: 0px !important;
    color: #fff !important;
    
   padding: 4px !important;
    margin: 4px !important;
	
	font-family: "Arial",sans-serif  !important;
	font-weight: normal !important;
}

.helpButtonLabel > .message 
{
	font-size: 12px !important; 
	background-color: inherit !important; 
    border-style: no !important;
    border-width: 0px !important;
    color: #fff !important;
    
    padding: 4px !important;
    margin: 4px !important;
	
	font-family: "Arial",sans-serif  !important;
	    font-weight: normal !important;
}

.fade > .message 
{
    font-size: 0.867em !important; 
    background-color: inherit !important; 
    border-style: no !important;
    border-width: 0px !important;
    color: #fff !important;
    
      padding: 4px !important;
    margin: 4px !important;
    
    font-family: "Arial",sans-serif  !important;
    font-weight: normal !important;
}

.fade-4x > .message 
{
    font-size: 0.867em !important; 
    background-color: inherit !important; 
    border-style: no !important;
    border-width: 0px !important;
    color: #fff !important;
    
    padding: 4px !important;
    margin: 4px !important;
    
    font-family: "Arial",sans-serif  !important;
    font-weight: normal !important;
}



</style>

<script type='text/javascript' src='https://service.force.com/embeddedservice/5.0/esw.min.js'></script>
<script type='text/javascript'>


function getCookie(cname) 
{
    var name = cname + "=";
    var ca = document.cookie.split(';');
	
	console.log("====ca===="+ca);
	
    for(var i = 0; i < ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') {
            c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
        }
    }
    return "";
}

var FirstName='';
var LastName='';
var Email='';
var MobilePhone='';
var Full_Name='';

function checkCookie() 
{

    var user = getCookie("usernamed");
	console.log("====user===="+user);
	
    if (user != "") 
    {
         var UserData= user.split('#$#');
         
         if(UserData.length>3)
        //for(var i = 0; i < UserData.length; i++)
        {
             FirstName=UserData[0];
             LastName=UserData[1];
             Email=UserData[2];
             MobilePhone=UserData[3].replace(' ','');
             Full_Name=UserData[4];

            
        }
    }
	
	console.log("====FirstName===="+FirstName);
	console.log("====LastName===="+LastName);
	console.log("====Email===="+Email);
	console.log("====MobilePhone===="+MobilePhone);
	console.log("====Full_Name===="+Full_Name);
	
   
}
checkCookie();





   
    
var initESW = function(gslbBaseURL) {
embedded_svc.settings.displayHelpButton = true; //Or false
embedded_svc.settings.language = ''; //For example, enter 'en' or 'en-US'

embedded_svc.settings.disabledMinimizedText = '<b onclick="Contactus();" class="contactus" style="cursor: pointer;">Contact Us</b>'; //(Defaults to Agent Offline)

embedded_svc.settings.widgetFontSize='12px';
embedded_svc.settings.defaultMinimizedText = 'How can we help?'; //(Defaults to Chat with an Expert)
//embedded_svc.settings.disabledMinimizedText = '...'; //(Defaults to Agent Offline)

embedded_svc.settings.loadingText = 'Loading...'; //(Defaults to Loading)
//embedded_svc.settings.storageDomain = 'yourdomain.com'; //(Sets the domain for your deployment so that visitors can navigate subdomains during a chat session)

// Settings for Live Agent
//embedded_svc.settings.directToButtonRouting = function(prechatFormData) {
// Dynamically changes the button ID based on what the visitor enters in the pre-chat form.
// Returns a valid button ID.
//};
//embedded_svc.settings.prepopulatedPrechatFields = {}; //Sets the auto-population of pre-chat form fields
//embedded_svc.settings.fallbackRouting = []; //An array of button IDs, user IDs, or userId_buttonId
//embedded_svc.settings.offlineSupportMinimizedText = '...'; //(Defaults to Contact Us)

embedded_svc.settings.extraPrechatFormDetails = [{"label":"Email", "transcriptFields": ["Visitor_Email__c"]}]; //Copy the Email value to Visitor_Email__c
embedded_svc.settings.extraPrechatInfo = [{
  "entityName": "Contact",
  "entityFieldMaps": 
  [
    {"isExactMatch": false,"fieldName": "FirstName","doCreate": false, "doFind": false,"label": "First Name"}, 
    {"isExactMatch": false,"fieldName": "LastName","doCreate": false,"doFind": false,"label": "Last Name"}, 
    {"isExactMatch": false,"fieldName": "Email","doCreate": false,"doFind": false,"label": "Email"}
  ]
}, {
  "entityName": "Case",
  "showOnCreate": true,
  "saveToTranscript":"Case",
  "entityFieldMaps": [{
    "isExactMatch": false,
    "fieldName": "GN_First_Name__c",
    "doCreate": true,
    "doFind": false,
    "label": "First Name"
  }, {
    "isExactMatch": false,
    "fieldName": "GN_Last_Name__c",
    "doCreate": true,
    "doFind": false,
    "label": "Last Name"
  },
 {
    "isExactMatch": false,
    "fieldName": "Phone_Number__c",
    "doCreate": true,
    "doFind": false,
    "label": "Mobile"
  }, {
    "isExactMatch": false,
    "fieldName": "Subject",
    "doCreate": true,
    "doFind": false,
    "label": "Message"
  },
  {
    "isExactMatch": false,
    "fieldName": "Email__c",
    "doCreate": true,
    "doFind": false,
    "label": "Email"
  },
  {
    "isExactMatch": false,
    "fieldName": "Full_Name__c",
    "doCreate": true,
    "doFind": false,
    "label": "Full Name"
  },
  {
    "isExactMatch": false,
    "fieldName": "Origin",
    "doCreate": true,
    "doFind": false,
    "label": "Case Origin"
  }
  ]

}];

embedded_svc.settings.prepopulatedPrechatFields = {

    FirstName: FirstName,
    LastName: LastName,
    Email: Email,
    MobilePhone: MobilePhone 
    
};



embedded_svc.settings.enabledFeatures = ['LiveAgent'];
embedded_svc.settings.entryFeature = 'LiveAgent';

 embedded_svc.init('https://eu7.salesforce.com', 'https://portal.difc.ae', gslbBaseURL, '00D20000000nkZ5', 'Contact_Center', { baseLiveAgentContentURL: 'https://c.la1-c1-par.salesforceliveagent.com/content', deploymentId: '5720J000000Goj0', buttonId: '5730J000000GpNG', baseLiveAgentURL: 'https://d.la1-c1-par.salesforceliveagent.com/chat', eswLiveAgentDevName: 'EmbeddedServiceLiveAgent_Parent04I0J000000TN1FUAW_1650ebb2cfc', isOfflineSupportEnabled: false}); };if (!window.embedded_svc) { var s = document.createElement('script'); s.setAttribute('src', 'https://eu7.salesforce.com/embeddedservice/5.0/esw.min.js'); s.onload = function() { initESW(null); }; document.body.appendChild(s); } else { initESW('https://service.force.com'); }


</script>




<script type='text/javascript'>

var globalButton;
var globalMobilePhone;

function Contactus() {

console.log("====Contactus====");
     window.open("https://www.difc.ae/make-enquiry?utm_source=live_chat");

}


 

 function changeTextWaiting()
 {
	console.log("====changeText====");
    
	var str2 = document.getElementsByClassName('waitingStateContent');
    	if(str2.length > 0)
	{
	console.log("====str2.length===="+str2.length);

	   str2[0].innerHTML = document.getElementsByClassName('waitingStateContent')[0].innerHTML+'<br > <p> We apologize for keeping you waiting. Our agents are busy at the moment, please leave us a message with your email address and we well get back to you shortly.</p>';
	} 

 }

	function changeTextPageLoad()
	{
		console.log("====window.onload====");
	     setTimeout(changeTextWaiting,90000);

	}
 
	changeTextPageLoad();

/*
 window.onload = function () {
     setTimeout(myFunction, 20000);
     globalButton = setInterval(myFunction, 2000);
     globalMobilePhone = setInterval(myFunctionMobilePhone, 2000);
 }
 
  function myFunction()
{
	console.log("====myFunction===");
    var str2 = document.getElementsByClassName('startButton uiButton--default uiButton embeddedServiceSidebarButton');
    if(str2.length > 0)
	{
        var buttonLst = str2[0];
        buttonLst.addEventListener("click", addTask);
        clearInterval(globalButton);
    }
    
    
  }

  function myFunctionMobilePhone(){
    var str2 = document.getElementById('MobilePhone');
    if(str2 != null){
        str2.addEventListener("keyup", addMobileValidation);
        clearInterval(globalMobilePhone);
    }
    
    
  }
  */
 




</script>





                 <!-- Live Chat End -->
		

<!-- Read only Profile Code-->

<script>
    var xmlhttp;
    
    if (window.XMLHttpRequest) { 
        xmlhttp=new XMLHttpRequest();
    } else { 
        xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
    }
    xmlhttp.onreadystatechange = function() {
        if (xmlhttp.readyState==4 && xmlhttp.status==200) {
            document.write(xmlhttp.responseText);
	   
        }
    }
    
    xmlhttp.open("GET","/customers/apex/ProfileNametoHeader",false);
    xmlhttp.send();
   
</script>
