<style>
div#globalHeaderBar {
    display: none;
}
ol li, ul li {
    margin-left: 0;
    padding-left: 0;
}
.sidebarCell, #sidebarDiv{width: 250px;}
.zen .zen-tabMenu>li {
    height: 45px;
    line-height: 45px;
    margin: 5px!important;
    padding: 0 15px!important;

    border-radius: 0;
    box-shadow: none;    
}

.spin-container{
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
    background: #e8ebec !important;
    z-index: 999999999;
}

/*body.no-scroll {
    overflow: hidden;
}*/

.spinner {
    margin: 0 auto;
    width: 50px;
    height: 50px;
    position: relative;
    top: 50%;

    -ms-transform: translate(-25px,-25px); /* IE 9 */
    -webkit-transform: translate(-25px,-25px); /* Chrome, Safari, Opera */
    transform: translate(-25px,-25px);  
}

.container1 > div, .container2 > div, .container3 > div {
  width: 12px;
  height: 12px;
  background-color: #141b4d;/*#333;*/

  border-radius: 100%;
  position: absolute;
  -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
  animation: bouncedelay 1.2s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .spinner-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.container2 {
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.container3 {
  -webkit-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
}

.spinner, .spinner .spinner-container,
.container1, .container2, .container3 {
    background: transparent;
}

.circle1 { top: 0; left: 0; }
.circle2 { top: 0; right: 0; }
.circle3 { right: 0; bottom: 0; }
.circle4 { left: 0; bottom: 0; }

.container2 .circle1 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.container3 .circle1 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.container1 .circle2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.container2 .circle2 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

.container3 .circle2 {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}

.container1 .circle3 {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

.container2 .circle3 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.container3 .circle3 {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}

.container1 .circle4 {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}

.container2 .circle4 {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}

.container3 .circle4 {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

nav.top-bar, nav.top-bar.expanded-nav {
    height: 65px;
    /*background: 0 0/100% #141b4d;*/
    background: 0 0/100% #141b4d;
    margin-bottom: 0;
    width: 100%;
}

.top-bar.top-nav ul {
    margin: 0 auto;
    list-style-type: none;
}

.top-bar-section {
    transition: none 0 0;
    left: 0!important;
}

nav.top-nav .top-bar-section ul.right li.search{
    height: 65px;    
    line-height: 65px;
    background: 0 0;
}

nav.top-bar .top-bar-section ul.right li.has-dropdown ul.dropdown {width: auto;}
nav.top-bar .top-bar-section ul.right li.user a,
nav.top-bar .top-bar-section ul.right li.user span.name{
  width: 100%;
}
nav.top-bar .top-bar-section ul.right li.user a{  
  display: inline;
  background: transparent;
  padding-left: 0;  
}

nav.top-bar .top-bar-section ul.right.secondary-section form {
  display: inline-block;
  margin: 20px auto;
}

nav.top-bar .top-bar-section ul.right.secondary-section li {
  margin: 0 10px;
}

/* Old IE message */
.old-ie {
    background-color: #141b4d !important;
    padding: 7px;
    position: relative;
    width: 100%;
    z-index: 9999999999;
    margin-bottom: 10px;
}
.old-ie p {
    margin-bottom: 0;
}

.brwosers-supported {
  height: 40px;
  overflow: hidden;
}
.brwosers-supported li {
    display: inline;
    font-size: 1.2rem;
    margin-right: 20px;
    text-align: center;    
    height: 40px;
    line-height: 40px;
}
.old-ie p,
.brwosers-supported li, .brwosers-supported p {
    color: #fff;
}
.brwosers-supported li a {
  padding: 20px;
  background-color: #00a3e0;
  color: #fff;
}
.old-ie .message-box { margin-bottom: 10px;}

nav { display: block;}

</style>

<div class="spin-container" id="spin-container">

	<!-- Diana: Added code to remove spinner for mobile-->
	<script type="text/javascript">
	  /*debugger;*/
	  if((getCookie("apex__mobile_cookie") && getCookie("apex__mobile_cookie") == "mobile"))
	  //if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent))
	   {
		 document.getElementById("spin-container").style.display = "none";
		 document.body.style.display = "none";
	   }
	</script>


    <div class="spinner">
      <div class="spinner-container container1">
        <div class="circle1"></div>
        <div class="circle2"></div>
        <div class="circle3"></div>
        <div class="circle4"></div>
      </div>
      <div class="spinner-container container2">
        <div class="circle1"></div>
        <div class="circle2"></div>
        <div class="circle3"></div>
        <div class="circle4"></div>
      </div>
      <div class="spinner-container container3">
        <div class="circle1"></div>
        <div class="circle2"></div>
        <div class="circle3"></div>
        <div class="circle4"></div>
      </div>
    </div>
</div>

		  


<!-- 
<div class="spin-container">
    <div class="spinner">
      <div class="spinner-container container1">
        <div class="circle1"></div>
        <div class="circle2"></div>
        <div class="circle3"></div>
        <div class="circle4"></div>
      </div>
      <div class="spinner-container container2">
        <div class="circle1"></div>
        <div class="circle2"></div>
        <div class="circle3"></div>
        <div class="circle4"></div>
      </div>
      <div class="spinner-container container3">
        <div class="circle1"></div>
        <div class="circle2"></div>
        <div class="circle3"></div>
        <div class="circle4"></div>
      </div>
    </div>
</div>  
-->

<!-- JQUERY CONFLICT-->
<script type="text/javascript" language="javascript">
    if(typeof(jQuery) != 'undefined') {
        var $ = $.noConflict(true);
    }
</script>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="/soap/ajax/31.0/connection.js"></script>
<!-- <script src="../../soap/ajax/31.0/apex.js"></script> -->

<!-- JQUERY CONFLICT-->
<script type="text/javascript">
  var jQuery = $.noConflict(true);
</script>

<script src="/customers/resource/1465814092000/difc_portal/DIFC_CommunityResource/js/difc.js"></script>
<script src="/resource/1465814092000/difc_portal/DIFC_CommunityResource/js/difc.js"></script>

<!--<script src="/resource/1418886920620/difc_portal/DIFC_CommunityResource/js/difc.min.js"></script>-->

<div class="header">
    <!--[if lt IE 9]>
        <div class="old-ie alert-box info radious" data-alert>
              <p>
                  You are using an outdated browser. We support Internet Explorer version 9 or higher.
                </br>
                  For a faster, safer browsing experience, upgrade for free now. Upgrade to a newer version of Internet Explorer or use following listed browser for better experience.
              </p>
          <ul class="brwosers-supported" style="margin-top: 10px;">
              <li><a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">Upgrade Internet Explorer</a></li>
              <li><a href="https://www.google.com/chrome/browser/desktop/">Chrome</a></li>
              <li><a href="http://firefox.com">Firefox</a></li>
          </ul>
      </div>
    <![endif]-->
    <nav class="row top-bar top-nav dashboard" data-topbar><!--data-options="is_hover: false"-->
        <ul class="mobile-logo left">
            <li>
                <a target="_blank" href="http://www.difc.ae">
                    <img alt="DIFC" class="logo-img" src="/customers/resource/1465814092000/difc_portal/DIFC_CommunityResource/images/DIFC_white_logo.png" onerror='this.style.display = "none"'>
                    <img alt="DIFC" class="logo-img" src="/resource/1465814092000/difc_portal/DIFC_CommunityResource/images/DIFC_white_logo.png" onerror='this.style.display = "none"'>                    
                </a>
            </li>
        </ul>
    <!--
        <ul class="title-area right">
            <li class="globalHeaderNameMink user show-for-small-only show-for-medium-only">
                <span class="name">Welcome Portal User</span>
            </li>
            <li class="toggle-topbar">
                <a href="#">
                    <i class="icon icon-user"></i>
                </a>
            </li>
        </ul>
      -->
        <section class="top-bar-section">

           <!-- Right Nav Section -->
            <ul  class="right settings">
                <li class="globalHeaderNameMink user">
                    <span class="name"></span>
                    <!-- <a href="#"><span class="left icon  icon_user"></span><span class="name">Welcome Portal User</span></a> -->
                </li>              
                  <li class="has-dropdown">
                    <!-- <a href="#"><span  class="icon_settings" style="vertical-align: middle;"></span></a> -->
                    <a href="#"><span  class="icon_user" style="vertical-align: middle;"></span></a>
                        <ul class="dropdown">
                          <!-- <li><a href="#">Reset Your Password</a></li> -->
                          <!-- <li><a href="#">Contact Support</a></li> -->
                          <!-- <li><a href="/customers/secur/logout.jsp">Logout</a></li> -->
                        </ul>
                  </li>
            </ul>
            <ul class="right secondary-section">

                <li class="search hide-for-small-only">
                  
<!--                     <form action="/customers/search/SmartSearch" method="get">
                        <input id="phSearchInput" type="text" name="str"/>
                        <input type="submit" value="Search" class="button"/>
                    </form> -->
<!--
                    <form id="phSearchForm" name="sbsearch" action="/customers/search/SmartSearch" method="get" style="display: inline-block;">
                        <input id="phSearchInput" type="text" name="str" style="float: left;">
                        <input id="searchType" name="searchType" type="hidden" value="2">
                        <input id="sen1" name="sen" type="hidden" value="a0S">
                        <input type="submit" id="phSearchButton"  value="Search" class="button" style="float: right;">
                    </form>                  
                  -->
                    <form id="searchForm" action="/customers/_ui/search/ui/UnifiedSearchResults" method="get" style="display: inline-block;" onsubmit="if (window.ffInAlert){return false;}">
                        <!-- dev-a00 -->
                        <!-- uat-a0S -->
                        <!-- prod-a1I -->
                        <input id="sen0" name="sen" type="hidden" value="a0S">
                        <input id="sen1" name="sen" type="hidden" value="500">

                        <input id="searchInput" type="text" name="str" style="float: left;"/>
                        <input type="submit" value="Search" class="button" style="float: right;"/>                        
                    <!--
                    <form id="phSearchForm" name="sbsearch" action="/customers/search/SmartSearch" method="get" style="display: inline-block;">
                        <input id="phSearchInput" type="text" name="str" style="float: left;">
                        <input id="searchType" name="searchType" type="hidden" value="2">
                        <input id="sen1" name="sen" type="hidden" value="a0S">
                        <input type="submit" id="phSearchButton"  value="Search" class="button" style="float: right;">
                    -->
                        
                    <!--
                        <div class="headerSearchContainer" id="phSearchContainer">
                          <div class="headerSearchLeftRoundedCorner">
                            <div class="searchBoxClearContainer">
                              <input aria-expanded="false" aria-haspopup="true" aria-autocomplete="list" role="combobox" autocomplete="off" id="phSearchInput" maxlength="100" name="str" placeholder="Search..." size="20" title="Search..." value="" type="text">
                              <a class="headerSearchClearButton" href="javascript: void(0);" id="phSearchClearButton" name="phSearchClearButton" style="visibility:hidden" title="Clear search terms"> </a>
                            </div>
                            <div class="headerSearchRightRoundedCorner" id="searchButtonContainer">
                              <input value="Search" id="phSearchButton" type="search">
                            </div>
                          </div>
                        </div>  
                      -->
                    </form>                  
                </li>

                <li class="user hide-for-small-only">
                    <span>
                      <span class="left icon  icon_phone_white"></span>
                      +971 4 362 2222
                  </span>
                     <!-- <a href="tel:+97143622222">
                        <span class="left icon  icon_phone_white"></span>
                        +971 4 362 2222                        
                    </a> -->
                </li>

            </ul>
        </section>
    </nav><!-- nav -->

</div>




<script type="text/javascript">
	if (typeof (console) == "undefined" || !console) {
	    console = {};
	    console.log = function () {}
	}
    
    /*
    function load_resource(filename, filetype){
        if (filetype == "js"){ //if filename is a external JavaScript306 file
          var fileref = document.createElement('script');
              fileref.setAttribute("type","text/javascript");
              fileref.setAttribute("src", filename);
         }
         else if (filetype == "css"){ //if filename is an external CSS file
              var fileref = document.createElement("link");
              fileref.setAttribute("rel", "stylesheet");
              fileref.setAttribute("type", "text/css");
              fileref.setAttribute("href", filename);
         }
         else if (filetype == "icon"){ //if filename is an external CSS file
              var fileref = document.createElement("link");
              fileref.setAttribute("rel", "shortcut icon");
              fileref.setAttribute("type", "image/x-icon");
              fileref.setAttribute("href", filename);
         }         
         if (typeof fileref != "undefined")
          document.getElementsByTagName("head")[0].appendChild(fileref);
    }

    function loadIframe(url, callback) {
        var sidebar_frame = document.createElement("iframe");
        sidebar_frame.id = "sidebar_frame";
        sidebar_frame.src = url;
        if (navigator.userAgent.indexOf("MSIE") > -1 && !window.opera) {
            sidebar_frame.onreadystatechange = function () {
                if (sidebar_frame.readyState == "loaded" || sidebar_frame.readyState == "complete") {
                    sidebar_frame.onreadystatechange = null;
                    callback()
                }
            }
        } else {
            sidebar_frame.onload = function () {
                callback()
            }
        }
        var contentWrapper = document.getElementById("contentWrapper");
        if (typeof contentWrapper != "undefined" && contentWrapper != null) {
            $(sidebar_frame).insertBefore(contentWrapper);
            $(sidebar_frame).attr("style", "display: none !important")
        }
    }

    */
	// ----------------------------------------------------------
	// A short snippet for detecting versions of IE in JavaScript
	// without resorting to user-agent sniffing
	// ----------------------------------------------------------
	// If you're not in IE (or IE version is less than 5) then:
	//     ie === undefined
	// If you're in IE (>=5) then you can determine which version:
	//     ie === 7; // IE7
	// Thus, to detect IE:
	//     if (ie) {}
	// And to detect the version:
	//     ie === 6 // IE6
	//     ie > 7 // IE8, IE9 ...
	//     ie < 9 // Anything less than IE9
	// ----------------------------------------------------------

	// UPDATE: Now using Live NodeList idea from @jdalton
	var ie = (function () {
	    var undef, v = 3,
	        div = document.createElement("div"),
	        all = div.getElementsByTagName("i");
	    while (div.innerHTML = "<!--[if gt IE " + (++v) + "]><i></i><![endif]-->", all[0]) {}
	    return v > 4 ? v : undef
	}());
    // -----------------------------------------------------------

    var PortalUrlPrefix = UserContext.siteUrlPrefix;

    DIFC.load_settings();

    jQuery("body").addClass('no-scroll');

    //With JQuery    
    jQuery("head").append('<meta charset="utf-8">');
    jQuery("head").append('<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">');
    jQuery('head').append('<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">');
    // $("head").append('<meta http-equiv="X-FRAME-OPTIONS" content="ALLOW-FROM https://dev-difcportal.cs18.force.com">');

	// var baseResourcePath = "/customers/resource/1408261858000/DIFC_PortalResource/DIFC_CommunityResource/";
    // var baseResourcePath = "/customers/resource/1408443325000/difc_portal/DIFC_CommunityResource/";
    var baseResourcePath = PortalUrlPrefix + "/resource/"+ Date.now() +"/difc_portal/DIFC_CommunityResource/";    
	var mobileStaticResourcePath = PortalUrlPrefix + "/resource/"+ Date.now() + "/mobile_difc_resource/";
    
    //load_resource('css', baseResourcePath + 'css/difc.min.css');
    
    jQuery("head").append('<link rel="shortcut icon" href="'+ PortalUrlPrefix +'/resource/'+ Date.now() +'/DIFC_Favicon" type="image/x-icon">');
    jQuery("head").append('<link rel="icon" href='+ PortalUrlPrefix +'"/resource/' + Date.now() + '/DIFC_Favicon" type="image/x-icon">');
	
	
	
    
    //IE 9 has restriction to number of style classes, load minified for others.
    if(!ie || ie > 9)
        sfdcPage.embedExternalStyleSheet(baseResourcePath + 'css/difc.min.css', document);
    else {        
        var stylsheets = ["css/foundation.css", "css/responsive.css","css/typography.css", "css/style_override.css"];
        for (var stylsheetIndex = 0; stylsheetIndex < stylsheets.length; stylsheetIndex++) {
            sfdcPage.embedExternalStyleSheet(baseResourcePath + stylsheets[stylsheetIndex], document)
        }
    }

	// sfdcPage.embedExternalStyleSheet("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", document);
	
    // loadIframe("/customers/apex/DIFC_ConnectionMgr", function () {
    //     var settings = document.getElementById("sidebar_frame").contentWindow.get_settings();
    //     console.log("Portal settings loaded: " + settings);
    //     //$.jStorage.set("portalSettings", settings)
        
    // });

    if(ie) {
      sfdcPage.embedExternalStyleSheet(baseResourcePath + "css/ie.css", document);
    }

    if (ie < 9) {
        // load_resource('css', baseResourcePath + "/css/ie.css");
        // load_resource('js', baseResourcePath + "/js/libs/respond.min.js");
        // load_resource('js', baseResourcePath + "/js/vendor/custom.modernizr.js");
	    //sfdcPage.embedExternalStyleSheet(baseResourcePath + "/css/ie.css", document);
	    sfdcPage.embedJSTag( baseResourcePath + "/js/libs/respond.min.js", document);
	    sfdcPage.embedJSTag( baseResourcePath + "/js/vendor/modernizr.js", document);    
	}

    function stop_animation(){
        jQuery(".spin-container").remove(); 
        jQuery("body").removeClass('no-scroll'); 
        console.log('stopping Animation ===> ' + Date.now());              
    }
	function getUrlParameter(sParam) 
	{
		var sPageURL = decodeURIComponent(window.location.search.substring(1)),
			sURLVariables = sPageURL.split('&'),
			sParameterName,
			i;

		for (i = 0; i < sURLVariables.length; i++) {
			sParameterName = sURLVariables[i].split('=');

			if (sParameterName[0] === sParam) {
				return sParameterName[1] === undefined ? true : sParameterName[1];
			}
		}
	}
    // setTimeout(stop_animation,3000);
	
	
	
	//Author: Rajil Ravindran
	//Purpose: Mobile Version Responsive Stylings for the standard salesforce page to be shown in mobile.
	jQuery(document).ready(function(){
		
		var version = getUrlParameter('v');
		
		/*Hides the declaration statement for document upload for portal.
		jQuery(".pbSubheader  h3:contains(Declaration)").parent().next().hide();
		jQuery(".pbSubheader  h3:contains(Declaration)").hide();*/
		
		
		
		if((getCookie("apex__mobile_cookie") && getCookie("apex__mobile_cookie") == "mobile")  || version == "Mobile") 
		{
			//hide SR document
			jQuery('.listRelatedObject h3:contains(SR Documents)').parent().parent().parent().parent().parent().hide();
			
			//hide upload document button
			jQuery('input[name=upload_doc]').hide();
			jQuery('input[name=new_sr_doc]').hide();
			
			var mobileDocFlag = getUrlParameter('mobileDoc');
			if(mobileDocFlag && mobileDocFlag == "true")
			{
				jQuery('.listRelatedObject h3:contains(SR Documents)').parent().parent().parent().parent().parent().show();
				jQuery('input[name=upload_doc]').show();
			}
			//Adding the o-wrapper class to the main div of standard sf for the menu sliding.
			jQuery('#contentWrapper').addClass("o-wrapper");
			
			//Make the table top to absolute since the header is positioned as fixed.
			jQuery('table.outer').css({"position":"relative"});
			jQuery('table.outer').css({"top":"70px"});
			jQuery('td.oRight').css({"background-color":"#ffffff"});
			jQuery('.bodyDiv').css({"height" : jQuery(window).height()});
			
			//removes the hyperlink of the responsive tables.
			
			if(!(null!=jQuery('.list a').attr('title') && jQuery('.list a').attr('title').toLowerCase().indexOf('edit')>=0)){
				jQuery('.list a').removeAttr("href");
				jQuery('.list a').css('text-decoration','none');
			}
			
			//change btn in standard sf page for mobile
			jQuery('.btn').addClass('standard-sf-button');
			jQuery('input[title=Edit]').css('width','100px');
			jQuery('input[title=Save]').css('width','100px');
			jQuery('input[title=Submit]').css('width','100px');
			jQuery('input[title=Cancel]').css('width','100px');
			jQuery('input[title=Delete]').css('width','100px');
			
			
			//Hides --"Back to Service List Link" from the SF Page
			jQuery('.ptBreadcrumb').hide();
			 
			jQuery('.detailList').each(function (){
				jQuery(this).replaceWith( jQuery(this).html()
					.replace(/<tbody/gi, "<div ")
					.replace(/<tr/gi, "<div")
					.replace(/<\/tr>/gi, "</div>")
					.replace(/<td/gi, "<div style='text-align:left'")
					.replace(/<\/td>/gi, "</div>")
					.replace(/<\/tbody/gi, "<\/div")
				);
			});
			
			
			
			jQuery('.pbHeader').each(function (){
				jQuery(this).replaceWith( jQuery(this).html()
					.replace(/<tbody/gi, "<div ")
					.replace(/<tr/gi, "<div")
					.replace(/<\/tr>/gi, "</div>")
					.replace(/<td/gi, "<div style='text-align:left'")
					.replace(/<\/td>/gi, "</div>")
					.replace(/<\/tbody/gi, "<\/div")
				);
			});
			
			
			jQuery('.pbBottomButtons').each(function (){
				jQuery(this).replaceWith( jQuery(this).html()
					.replace(/<tbody/gi, "<div ")
					.replace(/<tr/gi, "<div")
					.replace(/<\/tr>/gi, "</div>")
					.replace(/<td/gi, "<div style='text-align:center'")
					.replace(/<\/td>/gi, "</div>")
					.replace(/<\/tbody/gi, "<\/div")
				);
			});
			
			//Hiding the License Renewal Description for Mobile
			jQuery("h3:contains(License Renewal)").parent().next().next().hide();
			
			//Hiding the Service Request Edit title for Mobile
			jQuery("h2:contains(Service Request Edit)").hide();
			
			//Removes blank divs
			jQuery('.labelCol')
				.filter(function() {
					return jQuery.trim(jQuery(this).text()) === '' && jQuery(this).children().length == 0 
				})
				.remove()
				
			//Removes blank divs
			jQuery('.dataCol')
				.filter(function() {
					return jQuery.trim(jQuery(this).text()) === '' && jQuery(this).children().length == 0 
				})
				.remove()
			
			
			//Centers the Save New button on the top header
			jQuery('.pbButton').css({ "text-align": "center" });
			
			
			//Removes header
			jQuery('.header').hide();
			
			//Removes Side bar cell
			jQuery('.sidebarCell').hide();
			
			//Removes the body border.
			jQuery('.bodyDiv').css({"border":"none"});
			
			<!--Injecting the Mobile Header -->
			var xmlhttp;
			if (window.XMLHttpRequest) { // code for IE7+, Firefox, Chrome, Opera, Safari
				xmlhttp=new XMLHttpRequest();
			} else { // code for IE6, IE5
				xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
			}
			xmlhttp.onreadystatechange = function() {
				if (xmlhttp.readyState==4 && xmlhttp.status==200) {
					//jQuery('.header').html(xmlhttp.responseText);
					jQuery('.bodyDiv').before(xmlhttp.responseText);
					//document.write(xmlhttp.responseText);
				}
			}
			
			
			xmlhttp.open("GET", UserContext.siteUrlPrefix + "/apex/MobileMenu",false);
			xmlhttp.send();
			<!--Injecting the Mobile Header Ends-->
			
			
			jQuery('.bPageHeader').hide();
			
			//Removes footer
			jQuery("footer").hide();
			
			//Stretches the title to 100%
			jQuery('.pbTitle').css({ "width": "100%" });
			
			//
			jQuery('.dataCol').css({ "padding-left": "0px" });
			jQuery('.labelCol').css({ "padding-left": "0px" });
			
			//Removes the margin
			jQuery('body').css({ "margin": "0px" });
			
			
			
			//Makes the standard salesforce tables responsive
			jQuery('.actionColumn').css({ "width": "10%" });
			jQuery('.list').css({ "table-layout": "fixed" });
			//jQuery('.list').css({ "width": "200%" }); //newly added
			jQuery('.list').addClass("responsive");
			jQuery('.actionColumn').css({ "height": "100%" });
			
			/*Newly Added*/
			//jQuery('.actionColumn').css({ "width": "60px" });
			jQuery('.actionColumn').css({ "white-space": "pre-wrap" });
			jQuery('.actionColumn').css({ "word-wrap": "break-word" });
			jQuery('.dataCell').css('white-space','pre-wrap');
			jQuery('.dataCell').css('word-wrap','break-word');
			jQuery('.zen-deemphasize').css('word-wrap','break-word');
			/*Newly Added Ends*/
			
			//column width
			/*
			jQuery('.zen-deemphasize').css('white-space','pre-wrap');
			jQuery('.dataCell').css('white-space','pre-wrap');
			
			jQuery('.zen-deemphasize').css('width','60%');
			jQuery('.DateElement').css('width','80%');
			*/
			
			jQuery('body').css('display','block');
			
			
			
			//Makes the multiselect area to 100% width
			setTimeout(function() {
					jQuery('.multiSelectPicklistRow').find('select').removeAttr("style");
					jQuery('.multiSelectPicklistRow').find('select').css({"width":"100%"});
					
            },3000);
			
			
			//jQuery('#00Ng0000001QAkP_unselected').css({"width":"100%"});
			jQuery('textarea').css({"width":"100%"});
			
			//Type of Work (Others) Field im "Other Services Section."
			jQuery('#00Ng0000001QBm2').css({"width":"100%"});
			
			jQuery('a[title="Add"]').click(function(){
				jQuery('a[title="Add"]').trigger('contentchanged');
				
			});
			jQuery('.actionColumn').css({ "height": "100%" });
			jQuery('.pinned').css({ "height": "100%" });
			jQuery('.pinned').css({"width":"3%"});
			

			//shows the declaration statement for mobile - for doc upload.
			jQuery(".pbSubheader  h3:contains(Declaration)").parent().next().show();
			jQuery(".pbSubheader  h3:contains(Declaration)").show();

			//to remove call from service request no-close-quote
			jQuery('#Name_ileinner').css('text-decoration','none');
			jQuery('#Name_ileinner').css('pointer-events','none');
			jQuery('.pbError').css('text-decoration','none');
			jQuery('.pbError').css('pointer-events','none');
			
			//remove printable view
			jQuery('.links').css('display','none');
			
			//remove bottom to top
			jQuery('.fewerMore').css('display','none');
			//jQuery('#redirect_message').css('display','none');
		
			
			
			
			/*Multipicklist stylings **/
			
			/*
			jQuery("select[id*='unselected']").each(function(){ //get each unselected options 
				console.log(jQuery(this).attr("id")); //gets the is of unselected list
				var unselectedId = "#" + jQuery(this).attr("id");
				var splitunselectedId = jQuery(this).attr("id").split("_");  //Id format of the unselected picklist eg. 00Ng0000001QCO1_unselected
				var selectedId = "#" + splitunselectedId[0] + "_selected"; //Creates the required id formated for the selected multi picklist.
				//console.log(selectedId);
				jQuery(unselectedId+' option').each(function(){  //Gets the option values of the unselected list and appends those list to the selected list for mobile UI
					
					//Appending to the selected list.
				   jQuery(selectedId).append("<option value=\"" + jQuery(this).val() + "\" selected> " + jQuery(this).text() + "</option>");
				   //jQuery("#" + splitunselectedId[0]).append("<option value=\"" + jQuery(this).val() + "\">" + jQuery(this).text() + "</option>");
				});
				
			});
			
			jQuery('.multiSelectPicklistRow:contains(Chosen)').closest('div').hide();
			jQuery('.multiSelectPicklistRow div:nth-child(1), .multiSelectPicklistRow div:nth-child(2) , .multiSelectPicklistRow div:nth-child(4)').hide();
			
			*/
			
			jQuery('.multiSelectPicklistRow').hide();
			jQuery("select[id*='unselected']").each(function(){ //get each unselected options 
				console.log(jQuery(this).attr("id")); //gets the is of unselected list
				var unselectedId = "#" + jQuery(this).attr("id");
				var splitunselectedId = jQuery(this).attr("id").split("_");  //Id format of the unselected picklist eg. 00Ng0000001QCO1_unselected
				var selectedId = "#" + splitunselectedId[0] + "_selected"; //Creates the required id formated for the selected multi picklist.
				
				jQuery("#"+splitunselectedId[0]).css({"display":"block"});
				jQuery("#"+splitunselectedId[0]).css({"width":"100%"});
				
				if( jQuery("#"+splitunselectedId[0]+" option").length == 1 ) //Defaults the selection to one element if there is only one option.
				{
					jQuery("#"+splitunselectedId[0]+" option").each(function(){  //Gets the option values of the unselected list and appends those list to the selected list for mobile UI
						jQuery(this).attr("selected","selected");
					});
				}
			});
			
		}
	});
	
	//Mobile Version Stylings Ends
	jQuery(document).on('contentchanged', 'a[title="Add"]', function() {
		setTimeout(function() {
			jQuery('.multiSelectPicklistRow').find('select').removeAttr("style");
			jQuery('.multiSelectPicklistRow').find('select').css({"width":"100%"});
					
            },2000);
	})

</script>

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->


