.THIS .slds-button_success {
  color:#ffffff;
}
.THIS .test {
  height:30%;
}
.THIS .slds-button_success {
  
  line-height: 2.5;
 }
.THIS .slds-button_neutral {
  background-color: rgb(201, 199, 197);
  border-color: rgb(201, 199, 197);
  border: rgb(201, 199, 197);
  color: #150000;
  line-height: 2.5;
 }
.THIS .slds-button_destructive {
  line-height: 2.5;
 }
.THIS .slds-input {
    line-height: 2.5rem;
}
.THIS slds-badge {
    font-size: .9rem;
}