@font-face {
    font-family: 'EuclidSquare-Medium';
    src: url("/resource/difcUI/fonts/Euclid_Trial/Euclid_Square_Trial/Web/EuclidSquare-Regular-WebTrial.woff") format("woff");
}

.THIS .hide-xyz{
    display:none !important;
}
.THIS .slds-card {
    
    padding: 15px;
    border: none;
    /*height: 140px;*/
}

.THIS .slds-card__header {
    padding: 0;
}

.THIS .slds-card__body {
    margin: 0;
    position: relative;
    
}

.THIS .difc-progress {
    position: relative;
    left: 3.5%;
    
}

.THIS .difc-is-active .slds-progress__marker {
    position: absolute;
    left: 1.5%;
    border: 4px solid #4a4a4a;
	background-color: #ffffff;
    height: 20px;
    width: 20px;
    top: 0.2rem;
    background-color: inherit ;
}
.THIS .difc-progress .slds-is-active .slds-progress__marker {
    position: absolute;
    left: 1.5%;
    border: 4px solid #4a4a4a;
	background-color: #ffffff;
    height: 20px;
    width: 20px;
    top: 0.2rem;
    background-color: inherit ;
}

.THIS .difc-parent-card {
    margin-top: 1rem;
}

.THIS .difc-parent-card  > .slds-card {
    background-color: transparent;
    border: 0;
    padding: 0;
}

.THIS  .slds-card {
    border-radius: 0;
    padding: 0;
}

.THIS .difc-make-sticky {
    margin-left: 7%;
    position: sticky;
    top: 2%;
}

.THIS .difc-pathway-guid {
    padding: 10%;
    background-color: #4a4a4a;
}

.THIS .difc-pathway-description {
    padding: 10%;
    
	background-color: #f6f6f6;
    color: #706e6b;
font-family: 'EuclidSquare-Medium';
font-size: 14px;
font-weight: 400;
letter-spacing: -0.07px;
line-height: 21px;
}

.THIS .difc-pathway-guid-card {
    background-color: white;
        color: #ffffff;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
font-family: 'EuclidSquare-Medium';
font-size: 20px;
font-weight: 500;
letter-spacing: 0.55px;
line-height: 24px;
}

.THIS .difc-pages-card {
    background-color: white;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

}

.THIS .difc-pages-card-inactive {
    background-color: #f8f7f8;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

}

.THIS .difc-bold-text {
    padding: 10%;
    background-color: #f6f6f6;
    color: #4a4a4a;
font-family: 'EuclidSquare-light';
font-size: 14px;
font-weight: 700;
letter-spacing: -0.07px;
line-height: 21px;
}

.THIS .difc-inactive {
    background-color: #f8f7f8 !important;
}

.THIS .difc-page-completed {
	width: 1.25rem;
	height: 1.25rem;
	position: relative;
	right: 2%;
	top: 0.8rem;  
    max-width: inherit;
}

.THIS .difc-design-line {
     position: absolute;
   width: 2px;
   height: 2rem;
   background: #CCD1D9;
   z-index: 1;
    left: calc(5% + ( 0.625rem - 2px ));
    margin-left: -1.25%;
    bottom: 4px;
}

/*.THIS .open-progress::before {
   content: '';
position: absolute;
margin-left: 3.4px;
width: 2.2px;
height: 150%;
background-color:
rgb(221, 219, 218);
z-index: 1;
top: 700%;

}*/