<apex:component allowDML="false"  >
 <style> 
 
 .linka
 {
 color: #008ac0; 
 }
  .linka:hover
 {
 
text-decoration: underline;
    color: #015ba7;
    cursor: pointer;
 
  }
 </style>
  <div style="background: #E8EBEC;width:100%; ">
    <div class="row full-width footer-row">
        <div class="large-12 columns">
        <br/>
            <i>
                <div style="font-size: 14px;">
                    <!--<a class="linka" href="https://www.difc.ae/laws-regulations/data-protection" target="_black">-->
                    <a class="linka" href="https://www.difc.ae/files/6115/9358/6486/Data_Protection_Law_DIFC_Law_No.5_of_2020.pdf" target="_black">                                
                        DIFC Data Protection Law </a>(Data Protection Law DIFC Law No. 5 of 2020) governs the collection, handling and use of personal data in DIFC.  For an explanation about DIFC websites, data collection usage and management, please see our 
                    <a href="https://www.difc.ae/terms-use" class="linka" target="_black">
                    Terms of Use</a> and the DIFC     <a class="linka" href="https://www.difc.ae/online-data-protection-policy" target="_black"> Privacy Policy</a>. 
                </div>
            </i> 
            <div style="width:100%;text-align:center;">
                <small>All Rights Reserved. Copyright DIFC &copy; </small>
            </div>
        <br/>
        </div>
    </div>
</div>
</apex:component>