<apex:component controller="DPFSideBarComponentController" id="SideBarComp">
    <apex:attribute name="curPageId" type="string" description="current page id" required="false"  />
    <apex:attribute name="status" type="string" description="ID of action status" required="false"  />
    <apex:attribute name="rerender"  type="string" description="Output panel id to rerender on page change" required="false"  />
    <style>
        .pageNavItem, 
        .pageNavItemUnclick{
            padding: 10px 15px 8px 10px;
            background-color: white;
            cursor:pointer;
            color: #00205B;
            font-weight: bold;
            border: 1px solid #cbcbcb;
            box-sizing: border-box;
            margin: 5px; 
            position: relative;
        }
        .pageNavItem.current label {color: #fff;}        
        
        .pageNavItem{
            cursor:pointer;
        }
        .pageNavItemUnclick{
            cursor: default;
        }
        .pageNavItem.current,
        .pageNavItemUnclick.current{
            /*background-color: #00205B;*/
            background-color: #141b4d;            
            color: white;
        }
        .TickMarkCls{
            width: 12px;
            height: 10px;
            vertical-align: middle;
            float: right;
            position: absolute;
            right : 12px;
        }
        .NavLabel{
            vertical-align: middle;
            cursor:pointer;
        }
        .NoNavLabel{
            vertical-align: middle;
        }
    </style>
    <apex:form >
        <apex:inputhidden id="CurrentPageId" value="{!strPageId}"/>
        <apex:outputpanel layout="block" id="PageLstPnl">
               <apex:repeat value="{!LstPageWrap}" var="pg" id="PagesPBT">
                   <apex:outputpanel styleClass="step" layout="block" rendered="{!!pg.NoQuickNavigation}">
                       <div id="{!pg.pageId}" Class="{!IF(pg.pageId==strPageId,'pageNavItem current','pageNavItem')}" onclick="Navigate_To_Page('{!pg.pageId}');return false;">
                           
                           <apex:image rendered="{!pg.isPageFilled}" value="{!URLFOR($Resource.Tickmarks,IF(pg.pageId!=strPageId,'Tick_Blue.png','Tick_White.png'))}" styleclass="TickMarkCls"/>
                            <!--<apex:outputLabel value="{!pg.pageName}" styleclass="NavLabel"/>-->
                           
                           <span class="NavLabel">{!pg.pageName}</span>                           
                       </div>
                   </apex:outputpanel>
                   <apex:outputpanel styleClass="step" layout="block" rendered="{!pg.NoQuickNavigation}">
                       <div id="{!pg.pageId}" Class="{!IF(pg.pageId==strPageId,'pageNavItemUnclick current','pageNavItemUnclick')}">

                           <apex:image rendered="{!pg.isPageFilled}" value="{!URLFOR($Resource.Tickmarks,'Tick_Blue.png')}" styleclass="TickMarkCls"/>
                           
                            <!--<apex:outputText value="{!pg.pageName}" styleclass="NoNavLabel"/>-->
                           <span class="NoNavLabel">{!pg.pageName}</span>
                       </div>
                   </apex:outputpanel>
               </apex:repeat>
        </apex:outputpanel> 
    </apex:form>
</apex:component>