<apex:component layout="none">
    
    <apex:attribute name="headerTitle" description="This is the title of the header."
                    type="String" required="true"/>
    <apex:attribute name="headerSubtitle" description="This is the sub-title of the header."
                    type="String" required="true"/>

    <div class="large-12 columns" >
                
        <div class="difc-header--new" >   
            <img class="difc-header-logo--new" src="{!URLFOR($Resource.DIFC_Logo_New)}" />
            <div>
                <h3 class='header-title'>{!HTMLEncode(headerTitle)}</h3>
                <h5 class="header-subtitle">{!HTMLEncode(headerSubtitle)}</h5>
            </div>
            <br></br>
        </div>
        
    </div>

</apex:component>