<apex:component controller="LeadOfferUnitPDFTemplateUtility" access="global" rendered="true" >
    <apex:attribute name="offerId" description="leadId" assignTo="{!recCompId}" type="string"  access="global"/>
 

    <head>
        <style type="text/css" media="print">
            @media print {
                table {
                    page-break-inside: auto
                }
                tr {
                    page-break-inside: avoid;
                    page-break-after: auto
                }
                thead {
                    display: table-header-group
                }
            }
            
            @page {
                margin-top: 2.5cm;
                margin-bottom: 1.2cm;
                @top-center {
                    content: element(header);
                }
                @bottom-left {
                    content: element(footer);
                }
            }
            
            body {
                font-family: Arial;
            }
            
            div.header {
                padding: 5px;
                font-family: Arial;
                position: running(header);
            }
            
            div.footer {
                display: block;
                padding: 15px;
                font-family: Arial;
                position: running(footer);
            }
            
            .pagenumber:before {
                content: counter(page);
            }
            
            .pagecount:before {
                content: counter(pages);
            }
            
            div.content {
                float: left;
                width: 100%;
                font-family: Arial;
            }
            
            div.subfooter {
                display: inline-block;
                font-family: Arial;
                font-size: 12px;
                color: grey;
            }
            
            div.right {
                float: right;
            }
            
            .pagenumber:before {
                content: counter(page);
            }
            
            .pagecount:before {
                content: counter(pages);
            }
            
            .sectionHeader {
                width: 100%;
                background-color: #eee;
                padding: 0px;
                font-weight: bold;
            }
            
            div.header {
                background: url("{!$Resource.difc_Logo_v1}") no-repeat center left;
                margin-top: 10px;
                height: 90px;
                width: 280px;
                text-align: center;
                position: running(header);
                padding-top: 0px;
            }
            
            table.d {
                width: 100%;
                font-family: Arial;
                counter-reset: Serial;
                text-align: left;
                vertical-align: top;
                word-wrap: break-word;
            }
            
            table.d tr td {
                font-family: Arial;
            }
        </style>
        <style>
            span {
                font-family: Arial;
            }
            
            td {
                font-family: Arial;
            }
            
            .tempName {
                color: white;
                text-align: left;
            }
            
            body {
                counter-reset: Serial;
                /* Set the Serial counter to 0 */
                font-family: Arial;
            }
            
            tr td:first-child:before {
                counter-increment: Serial;
                /* Increment the Serial counter */
                content: counter(Serial);
                /* Display the counter */
            }
            
            th,
            td,
            tr {
                border: 0.4px solid black;
                overflow: hidden;
                whitespace: nowrap;
                word-wrap: break-word;
            }
            
            td {
                padding-top: 2px;
                padding-bottom: 2px;
            }
            
            label {
                font-family: Arial;
            }
        </style>
    </head>
    <div class="header"></div>
    <div class="content">
        <!----
    <p>Dear Valued Client,<br></br><br></br>

    <apex:outputLabel value="{!ld.Offer_Header__c}" escape="false"></apex:outputLabel>

    </p>
   <apex:variable var="idx" value="{!1}" /> 

    <apex:repeat var="op" value="{!ld.Offer_Process__r}">
                ----------->
        <apex:variable var="idx" value="{!1}" />
        <apex:repeat var="op" value="{!ld.Offer_Process__r}">
            <apex:outputPanel rendered="{!op.Status__c=='Active'}">
                <p>
                    <small>
            <div>
                <p style="text-align:left;font-size:16px;">Dear {!ld.Name},
                <span style="float:right;">
                    <apex:outputText value="{0, date, MMMM d', 'yyyy}">
                    Date : <apex:param value="{!NOW()}" />
                </apex:outputText>
                </span>
                </p>
            </div>

            With reference to our discussions whereby you expressed your intent to lease the units which details are set out below (the “premises”) from Dubai International Financial Centre (“DIFC”), we are pleased to provide you with the proposed commercial terms of lease, subject to the unit provision’s validity and the terms and conditions set out below: 
            </small>
                    <!--
            <br/>
            <apex:outputLabel value="{!ld.Offer_Header__c}" escape="false"></apex:outputLabel> -->
                </p>
                <h4>Commercial Terms:</h4>
                <small>

                    <!-- <div class="sectionHeader">Option {!idx}- {!op.Units__r.Name}</div> -->
                    <div class="sectionHeader">Option {!idx}- {!op.Premises__c}</div>
                <table  class="d" cellspacing="0" cellpadding="5">
                    <thead>
                    <tr>
                        <th  style="background-color:black;width:5%"><center class="tempName"><font>S.No</font></center></th>
                        <th  style="background-color:black;width:35%" ><center class="tempName"><font>Particulars</font></center></th>
                        <th  style="background-color:black;width:60%"><center class="tempName"><font>Description</font></center></th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr><td></td><td>Premises</td><td>{!op.Premises__c}</td></tr>
                        <tr><td></td><td>Total Leasable Area (sq. ft.)</td>
                            <td colspan="3">
                                <apex:outputText value="{0,number,0}">
                                    <apex:param value="{!op.Area__c}"/>
                                </apex:outputText>
                            </td>
                        </tr>
                        <tr style="display:{!IF(ISBLANK(op.InternalArea__c),"none","table-row")};">
                                <td></td>
                                <td>Internal Area (sq. ft.)</td>
                                <td>
                                <apex:outputText value="{0,number,0}">
                                    <apex:param value="{!op.InternalArea__c}"/>
                                </apex:outputText>
                                </td>
                        </tr>
                        <tr style="display:{!IF(AND(NOT(ISBLANK(op.ExternalArea__c)),op.ExternalArea__c>0),"table-row","none")};">
                                <td></td>
                                <td>External Area (sq. ft.)</td>
                                <td>
                                <apex:outputText value="{0,number,0}">
                                    <apex:param value="{!op.ExternalArea__c}"/>
                                </apex:outputText>
                                </td>
                        </tr>
                        <tr><td></td>
                            <td>
                                Base Rent (AED per Sq.Ft.)
                            </td>
                            <td>
                                <apex:outputText value="1st Year: {0,number,0.00}">
                                    <apex:param value="{!op.FirstYearBaseRent__c}"/>
                                </apex:outputText>
                                <br />
                                <apex:outputText value=" 2nd Year: {0,number,0.00}" rendered="{!AND(Not(ISBLANK(op.SecondYearBaseRent__c)),(op.SecondYearBaseRent__c>0))}">
                                    <apex:param value="{!op.SecondYearBaseRent__c}"/>
                                </apex:outputText> <br />
                                <apex:outputText value=" 3rd Year: {0,number,0.00}" rendered="{!AND(Not(ISBLANK(op.ThirdyearBaseRent__c)),(op.ThirdyearBaseRent__c>0))}">
                                    <apex:param value="{!op.ThirdyearBaseRent__c}"/>
                                </apex:outputText> <br />
                                <apex:outputText value=" 4th Year: {0,number,0.00}" rendered="{!AND(Not(ISBLANK(op.FourthYearBaseRent__c)),(op.FourthYearBaseRent__c>0))}">
                                    <apex:param value="{!op.FourthYearBaseRent__c}" />
                                </apex:outputText> <br />
                                <apex:outputText value=" 5th Year: {0,number,0.00}" rendered="{!AND(Not(ISBLANK(op.FifthYearBaseRent__c)),(op.FifthYearBaseRent__c>0))}">
                                    <apex:param value="{!op.FifthYearBaseRent__c}"/>
                                </apex:outputText>
                            </td>
                        </tr>
                            <tr style="display:{!IF(AND(NOT(ISBLANK(op.TotalExternalAreasinSqft__c)),op.TotalExternalAreasinSqft__c>0),"table-row","none")};"><td></td>
                            <td>
                                External Base Rent (AED per Sq.Ft.)
                            </td>
                            <td>
                                <apex:outputText value="1st Year: {0,number,0.00}" rendered="{!AND(Not(ISBLANK(op.X1stYrEBR__c)),(op.X1stYrEBR__c>0))}">
                                    <apex:param value="{!op.X1stYrEBR__c}"/>
                                </apex:outputText>
                                <br/>
                                <apex:outputText value=" 2nd Year: {0,number,0.00}" rendered="{!AND(Not(ISBLANK(op.X2ndYrEBR__c)),(op.X2ndYrEBR__c>0))}">
                                    <apex:param value="{!op.X2ndYrEBR__c}"/>
                                </apex:outputText> <br />
                                <apex:outputText value=" 3rd Year: {0,number,0.00}" rendered="{!AND(Not(ISBLANK(op.X3rdYrEBR__c)),(op.X3rdYrEBR__c>0))}">
                                    <apex:param value="{!op.X3rdYrEBR__c}"/>
                                </apex:outputText> <br />
                                <apex:outputText value=" 4th Year: {0,number,0.00}" rendered="{!AND(Not(ISBLANK(op.X4thYrEBR__c)),(op.X4thYrEBR__c>0))}">
                                    <apex:param value="{!op.X4thYrEBR__c}" />
                                </apex:outputText> <br/>
                                <apex:outputText value=" 5th Year: {0,number,0.00}" rendered="{!AND(Not(ISBLANK(op.X5thYrEBR__c)),(op.X5thYrEBR__c>0))}">
                                    <apex:param value="{!op.X5thYrEBR__c}"/>
                                </apex:outputText>
                            </td>
                        </tr>                       
                        <tr style="display:{!IF(AND(NOT(ISBLANK(op.Service_Charges_per_Sq_Ft_per_Annum__c)),op.Service_Charges_per_Sq_Ft_per_Annum__c>0),"table-row","none")};">
                        <td></td><td>Service Charges per sq. ft. per annum</td>
                            <td> 
                                <apex:outputText value="AED {0,number,###,##0.00} per square foot per annum. ">
                                    <apex:param value="{!op.Service_Charges_per_Sq_Ft_per_Annum__c}"/>
                                </apex:outputText>
                                subject to review at each anniversary of the Lease Commencement Date
                            </td>
                        </tr>
                        <tr style="display:{!IF(AND(NOT(ISBLANK(op.Utilities_per_Sq_Ft_per_Annum__c)),op.Utilities_per_Sq_Ft_per_Annum__c>0),"table-row","none")};">
                        <td></td><td>Utilities per sq. ft. per annum</td>
                            <td>
                                <apex:outputText value="AED {0,number,###,##0.00} per square foot per annum. ">
                                    <apex:param value="{!op.Utilities_per_Sq_Ft_per_Annum__c}"/>
                                </apex:outputText>
                                subject to review at each anniversary of the Lease Commencement Date
                            </td>
                        </tr>
                        <tr><td></td><td>Car park allotment</td><td>

                            <!-- <apex:outputLabel value="{!op.Car_park_allotment__c}" escape="false"></apex:outputLabel>  -->
                            <apex:outputLabel value="1 unreserved car park for every 1,000 square feet" escape="false"></apex:outputLabel>
                         </td></tr>
                         <!--
                             <tr><td></td>
                                <td>Car Park Reserved/UnReserved</td>
                                <td><apex:outputText value="{!op.CarParkReservedUnReserved__c}"/></td>
                            </tr>
                             -->
                            <tr style="display:{!IF(ISBLANK(op.No_ofCarParks__c),"none","table-row")};">
                                <td></td>
                                <td>Number of Reserved car park, included in the Rent</td>
                                <td>
                                    <apex:outputText value="{0,number,}">
                                    <apex:param value="{!op.No_ofCarParks__c}"/>
                                </apex:outputText>
                                </td>
                            </tr>
                            <tr style="display:{!IF(ISBLANK(op.NoofReservedCarParksPaid__c),"none","table-row")};"><td></td>
                                <td>Number of reserved car park at additional cost</td>
                                <td>
                                    <apex:outputText value="{0,number,###,##0}">
                                    <apex:param value="{!op.NoofReservedCarParksPaid__c}"/>
                                </apex:outputText>
                                </td>
                            </tr>
                            <tr><td></td>
                                <td>Cost of additional Reserved car park</td>
                                <td>
                                    <apex:outputText value="AED {0,number,###,##0.00} per space per annum">
                                    <apex:param value="{!op.ReservedParkingCost__c}"/>
                                </apex:outputText>
                                </td>
                            </tr>
                            <tr style="display:{!IF(ISBLANK(op.No_of_Un_Reserved_Car_Parks__c),"none","table-row")};"><td></td>
                                <td>Number of Unreserved car park, included in the Rent</td>
                                <td>
                                    <apex:outputText value="{0,number,###,##0}">
                                    <apex:param value="{!op.No_of_Un_Reserved_Car_Parks__c}"/>
                                </apex:outputText>
                                </td>
                            </tr>
                            <tr style="display:{!IF(ISBLANK(op.NoofUnReservedCarParksPaid__c),"none","table-row")};"><td></td>
                                <td>Number of Unreserved car park at additional cost</td>
                                <td>
                                    <apex:outputText value="{0,number,###,##0}">
                                    <apex:param value="{!op.NoofUnReservedCarParksPaid__c}"/>
                                </apex:outputText>
                                </td>
                            </tr>
                            <tr style="display:{!IF(ISBLANK(op.UnreseverdParkingcost__c),"none","table-row")};"><td></td>
                                <td>Cost of additional Unreserved car park</td>
                                <td>
                                    <apex:outputText value="AED {0,number,###,##0.00} per space per annum">
                                    <apex:param value="{!op.UnreseverdParkingcost__c}"/>
                                </apex:outputText>
                                </td>
                            </tr>
                            <!--
                            <tr style="display:{!IF(ISBLANK(op.ReservedParkingCost__c),"none","table-row")};"><td></td>
                                <td>Reserved Parking Cost (Per unit)</td>
                                <td>
                                    <apex:outputText value="AED {0,number,###,##0.00}">
                                    <apex:param value="{!op.ReservedParkingCost__c}"/>
                                </apex:outputText>
                                </td>
                            </tr>
                            <tr style="display:{!IF(ISBLANK(op.UnreseverdParkingcost__c),"none","table-row")};"><td></td>
                                <td>Unreserverd Parking Cost (Per Unit)</td>
                                <td>
                                    <apex:outputText value="AED {0,number,###,##0.00}">
                                    <apex:param value="{!op.UnreseverdParkingcost__c}"/>
                                </apex:outputText>
                                </td>
                            </tr> --->
                         <tr><td></td><td>Data Centre facilities</td><td>Available.<br></br>Please let us know if you want to avail this option for us to inform our IT infrastructure or alternatively please write to: <b>it.infrastructure@difc.ae</b> for information on the available facilities.</td></tr>
                         <tr><td></td><td>Payment Terms</td><td>{!if(op.PaymentTerms__c=='6','Bi-annual',if(op.PaymentTerms__c=='4','Tri-Annual',if(op.PaymentTerms__c=='12','Annually',if(op.PaymentTerms__c=='3','Quarterly',''))))} in advance via post dated cheques to be presented upon signing the Lease with DIFC</td></tr>
                         <tr><td></td><td>Security Deposit</td>
                             <td>
                                <apex:outputText value="AED {0,number, 00,000.00}">
                                    <apex:param value="{!op.SecurityDeposit__c}"/>
                                </apex:outputText>
                            </td>
                        </tr>
                        <tr style="display:{!IF(AND(Not(ISBLANK(op.Rent_Free_Period__c)),op.Rent_Free_Period__c>0,op.RentType__c=='Base Rent'),"table-row","none")};">
                            <td></td><td>Rent Free Period (In days)</td>
                            <td>
                                <apex:outputText value="{0,number,0} calendar days starting from the Lease Commencement Date, where no Base Rent shall be due."><!--days of Base Rent from and including the Lease Commencement Date.-->
                                    <apex:param value="{!op.Rent_Free_Period__c}"/>
                                </apex:outputText>
                            </td>
                        </tr>
                        <tr style="display:{!IF(AND(Not(ISBLANK(op.Rent_Free_Period__c)),op.Rent_Free_Period__c>0,op.RentType__c=='Gross Rent'),"table-row","none")};">
                             <td></td><td>Rent Free Period (In days)</td>
                            <td>
                                <apex:outputText value="{0,number,0} calendar days starting from the Lease Commencement Date, where no Base Rent shall be due.">
                                    <apex:param value="{!op.Rent_Free_Period__c}"/>
                                </apex:outputText>
                            </td>
                        </tr>
                        <tr><td></td><td>Handover condition</td><td>{!op.HandoverCondition__c}</td></tr>
                        <tr style="display:{!IF(ISBLANK(op.Lease_Commencement_Date__c),"none","table-row")};"><td></td><td>Lease Commencement Date</td>
                            <td>
                                {!op.Lease_Commencement_Date__c} &nbsp;&nbsp; {!op.LeasableAreaComments__c}
                            </td>
                        </tr><tr style="display:{!IF(ISBLANK(op.LeasingCommencementDate__c),"none","table-row")};"><td></td><td>Lease Commencement Date </td>
                            <td>
                                <apex:outputText value="{0, date, MMMM d', 'yyyy}">
                                    <apex:param value="{!op.LeasingCommencementDate__c}"/>
                                </apex:outputText>
                               {!op.LeasableAreaComments__c}
                            </td>
                        </tr>
                        <tr><td></td><td>Lease Term</td><td>

                        <apex:outputText value="{0,number,0 Years}" rendered="{!op.Leasing_Terms_Year__c>1}">
                                    <apex:param value="{!op.Leasing_Terms_Year__c}"/>
                                </apex:outputText>
                    <apex:outputText value="{0,number,0 Year}" rendered="{!op.Leasing_Terms_Year__c==1}">
                        <apex:param value="{!op.Leasing_Terms_Year__c}"/>
                    </apex:outputText>
                           <apex:outputText rendered="{!op.Leasing_Terms_Months__c==1}" value=" {0,number,0 Month}">
                                    <apex:param value="{!op.Leasing_Terms_Months__c}"/>
                           </apex:outputText>
                           <apex:outputText rendered="{!op.Leasing_Terms_Months__c>1}" value=" {0,number,0 Months}">
                                    <apex:param value="{!op.Leasing_Terms_Months__c}"/>
                           </apex:outputText>
                           </td></tr>
                        <tr><td></td><td>Offer Expiry Date</td>
                            <td>
                                <apex:outputText value="{0, date, MMMM d', 'yyyy}">
                                    <apex:param value="{!op.OfferValidityTill__c}"/>
                                </apex:outputText>
                            </td>
                        </tr>
                        <tr>
                            <td></td><td>Legal Costs</td><td style="padding-top:5px;">Each party to bear their own legal cost payable in respect of the preparation, completion of the Lease.</td>
                         </tr>
                        <tr>
                            <td></td><td>Limitations</td><td style="padding-top:5px;">The offer is a broad outline of the terms and conditions, which could be contained in a lease fully executed and delivered by both Parties. Final terms and conditions are subject to an execution of a lease agreement.</td>
                        </tr>
                        <tr>
                            <td></td><td>Confidentiality</td><td style="padding-top:5px;">This proposal and all discussions related thereto shall be held in confidence by the Landlord and Tenant and will not be discussed with third parties except on an “as needed” basis.</td>
                         </tr>
                        <tr><td></td><td>Other applicable charges</td><td style="padding-top:5px;">The above mentioned payments (including but not limited to base rent, service charge rent, utilities rent, community fee, and any other payments) are not inclusive of any municipal, government or authority charges, fees, taxes (including but not limited to value-added tax and any similar sales tax), levies and rates of any kind and nature whatsoever, whether such charges are currently in existence or shall be imposed at any point in the future.</td></tr>
                        <!-- <tr><td></td><td>Validity of the offer</td><td>{!op.ValidityOfTheOffer__c}</td></tr> -->
                        <!-- <tr><td></td><td>Cable Charges<br></br><br></br>(Exclusive of VAT, based on client’s usage)</td><td>AED 400 per cable per month based on the usage of such cable.<br></br><br></br>AED 750 per cable per month if such backbone cables are running from the Premises to any DIFC data Centre (ER1, ER2, ER3 or ER4) or other building.</td></tr> -->
                        <tr><td></td><td>Cable Charges<br></br><br></br>(Exclusive of VAT, based on client’s usage)</td><td>Type of cable:<br></br>Copper cable: AED 400 per cable per month <br></br>Fiber cable: AED 750 per cable per month</td></tr>
                        <tr style="display:{!IF(ISBLANK(op.UnitStatus__c),"none","table-row")};"><td></td><td>Unit Offering Status</td><td>{!op.UnitStatus__c}</td></tr>
                        <tr style="display:{!IF(ISBLANK(op.Technical_Requirement__c),"none","table-row")};"><td></td><td>Technical Requirement</td>

                        <td >

                        <apex:outputText escape="false" value="{!op.Technical_Requirement__c}" /></td></tr>
                        <tr style="display:{!IF(ISBLANK(op.AdditionalTerms__c),"none","table-row")};"><td></td><td>Additional Terms</td><td><apex:outputText escape="false" value="{!op.AdditionalTerms__c}"/></td></tr>
                        <tr style="display:{!IF(ISBLANK(op.Important_Attachments__c),"none","table-row")};"><td></td><td>Important Attachments</td><td><apex:outputText escape="false" value="{!op.Important_Attachments__c}"/></td></tr>
                    </tbody>
                </table>
                 <apex:variable var="idx" value="{!idx+1}"/>
                <div style="{!if(idx >0,'','page-break-before:always;')}"/>
                <!-- <div style="{!if(idx >1,'','page-break-after: avoid;')}"><br></br><br></br></div> -->
                <!-- <div style="{!if(idx>2,'','page-break-after: avoid;')}"><br></br><br></br></div> -->
                <div style="{!if(idx>2,'',if(idx>ld.Offer_Process__r.size,'page-break-before:avoid;','page-break-before:avoid;'))}"/>
                <div style="{!if(idx>3,'',if(idx>ld.Offer_Process__r.size,'page-break-before:avoid;','page-break-before:avoid;'))}"/>
                <div style="{!if(idx>4,'',if(idx>ld.Offer_Process__r.size,'page-break-before:avoid;','page-break-before:always;'))}"/>
                <div style="{!if(idx>5,'',if(idx>ld.Offer_Process__r.size,'page-break-before:avoid;','page-break-before:always;'))}"/>
                </small>
            </apex:outputPanel>
        </apex:repeat>
    </div>
    <div class="footer">
        <!-- <div class="centered">Generated by {!$User.FirstName} {!$User.LastName}</div> -->
        <div>
            <div class="subfooter">
                <apex:outputText value=" {0,date,M/d/yyy h:mm a}">
                    <apex:param value="{!NOW()+(4/24)}" />
                </apex:outputText>
            </div>
            <div class="subfooter right">Page <span class="pagenumber" /> of <span class="pagecount" /></div>
        </div>
    </div>

</apex:component>