<apex:component controller="LeadOfferUnitPDFTemplateUtility" access="global" rendered="true" >
    <apex:attribute name="offerId" description="leadId" assignTo="{!recCompId}" type="string"  access="global"/>
  <head>
        <style type="text/css" media="print">
            @media print {
                table {
                    page-break-inside: auto
                }
                tr {
                    page-break-inside: avoid;
                    page-break-after: auto
                }
                thead {
                    display: table-header-group
                }
            }
            
            @page {
                margin-top: 2.5cm;
                margin-bottom: 1.2cm;
                @top-center {
                    content: element(header);
                }
                @bottom-left {
                    content: element(footer);
                }
            }
            
            body {
                font-family: Arial;
            }
            
            div.header {
                padding: 5px;
                font-family: Arial;
                position: running(header);
            }
            
            div.footer {
                display: block;
                padding: 15px;
                font-family: Arial;
                position: running(footer);
            }
            
            .pagenumber:before {
                content: counter(page);
            }
            
            .pagecount:before {
                content: counter(pages);
            }
            
            div.content {
                float: left;
                width: 100%;
                font-family: Arial;
            }
            
            div.subfooter {
                display: inline-block;
                font-family: Arial;
                font-size: 12px;
                color: grey;
            }
            
            div.right {
                float: right;
            }
            
            .pagenumber:before {
                content: counter(page);
            }
            
            .pagecount:before {
                content: counter(pages);
            }
            
            .sectionHeader {
                width: 100%;
                background-color: #eee;
                padding: 0px;
                font-weight: bold;
                height: 25px;
            }
            
            div.header {
                background: url("{!$Resource.difc_Logo_v1}") no-repeat center left;
                margin-top: 10px;
                height: 90px;
                width: 280px;
                text-align: center;
                position: running(header);
                padding-top: 0px;
            }
            div.difcfooterlogo {
                background: url("{!$Resource.DIFCFooterLogo}") no-repeat center left;
                height: 90px;
                text-align: center;
            }
            
            table.d {
                width: 100%;
                font-family: Arial;
                counter-reset: Serial;
                text-align: left;
                vertical-align: top;
                word-wrap: break-word;
            }
            
            table.d tr td {
                font-family: Arial;
            }
        </style>
        <style>
            span {
                font-family: Arial;
            }
            
            td {
                font-family: Arial;
            }
            
            .tempName {
                color: white;
                text-align: left;
            }
            
            body {
                counter-reset: Serial;
                /* Set the Serial counter to 0 */
                font-family: Arial;
            }
            
            tr td:first-child:before {
                counter-increment: Serial;
                /* Increment the Serial counter */
                content: counter(Serial);
                /* Display the counter */
            }
            
            th,
            td,
            tr {
                border: 0.4px solid black;
                overflow: hidden;
                whitespace: nowrap;
                word-wrap: break-word;
            }
            
            td {
                padding-top: 2px;
                padding-bottom: 2px;
            }
            
            label {
                font-family: Arial;
            }
        </style>
    </head>
    <div class="header"></div>
    <div class="content">
        <apex:variable var="idx" value="{!1}" />
        <p>
            <small>
         <div>
         <p style="text-align:left;">Dear {!ld.Name},
         <span style="float:right;">
         <apex:outputText value="{0, date, MMMM d', 'yyyy}">
         Date : <apex:param value="{!NOW()}" />
         </apex:outputText>
         </span>
         </p>
         </div><br />
            We are pleased to provide you with the proposed commercial terms of lease, subject to the unit provision’s validity and the terms and conditions set out below: 
         </small>
            <!--
            <br/>
            <apex:outputLabel value="{!ld.Offer_Header__c}" escape="false"></apex:outputLabel> -->
        </p>
        <h4>Commercial Terms:</h4>
        <apex:repeat var="op" value="{!ld.Offer_Process__r}">
            <apex:outputPanel rendered="{!op.Status__c=='Active'}">

                
                <small>
            <!-- <div class="sectionHeader">Option {!idx}- {!op.Units__r.Name}</div> -->
            <apex:outputPanel rendered="{!idx>1}">
            <br/>
            </apex:outputPanel>
            <div class="sectionHeader">Option {!idx} - {!op.Premises__c}</div>
           <table  class="d" cellspacing="0" cellpadding="5">
                    <thead>
                    <tr>
                        <th  style="background-color:black;width:5%"><center class="tempName"><font>S.No</font></center></th>
                        <th  style="background-color:black;width:35%" ><center class="tempName"><font>Particulars</font></center></th>
                        <th  style="background-color:black;width:60%"><center class="tempName"><font>Description</font></center></th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr><td></td><td>Premises</td><td>{!op.Premises__c}</td></tr>
                        <tr><td></td><td>Leasable Area (sq. ft.)</td>
                            <td>
                                <apex:outputText value="{0,number,0}">
                                    <apex:param value="{!op.Area__c}"/>
                                </apex:outputText>
                            </td>
                        </tr>
                       
                        <tr><td></td>
                            <td>
                                Base Rent (AED)
                            </td>
                            <td>
                                <apex:outputText value="3 month: AED {0,number,###,##0.00}">
                                    <apex:param value="{!op.SecondYearBaseRent__c}"/>
                                </apex:outputText><br/>
                                <apex:outputText value="6 month: AED {0,number,###,##0.00}">
                                    <apex:param value="{!op.ThirdyearBaseRent__c}"/>
                                </apex:outputText><br/>
                                <apex:outputText value="1 year: AED {0,number,###,##0.00}">
                                    <apex:param value="{!op.FourthYearBaseRent__c}"/>
                                </apex:outputText>
                            </td>
                        </tr> 
                        
                        <tr><td></td><td>Car park allotment</td><td>
                            
                            <!-- <apex:outputLabel value="{!op.Car_park_allotment__c}" escape="false"></apex:outputLabel>  -->
                            <apex:outputLabel value="1 unreserved car park for every office" escape="false"></apex:outputLabel>
                         </td></tr>
                         <!--
                             <tr><td></td>
                                <td>Car Park Reserved/UnReserved</td>
                                <td><apex:outputText value="{!op.CarParkReservedUnReserved__c}"/></td>
                            </tr>
                            
                            <tr style="display:{!IF(ISBLANK(op.No_ofCarParks__c),"none","table-row")};">
                                <td></td>
                                <td>Number of Reserved car park, included in the Rent</td>
                                <td>
                                    <apex:outputText value="{0,number,}">
                                    <apex:param value="{!op.No_ofCarParks__c}"/>
                                </apex:outputText>
                                </td>
                            </tr>  -->
                            <tr style="display:{!IF(ISBLANK(op.NoofReservedCarParksPaid__c),"none","table-row")};"><td></td>
                                <td>Number of reserved car park at additional cost</td>
                                <td>
                                    <apex:outputText value="{0,number,###,##0}">
                                    <apex:param value="{!op.NoofReservedCarParksPaid__c}"/>
                                </apex:outputText>
                                </td>
                            </tr>
                            <tr><td></td>
                                <td>Cost of additional Reserved car park</td>
                                <td>
                                    <apex:outputText value="AED {0,number,###,##0.00} per space per annum">
                                    <apex:param value="{!op.ReservedParkingCost__c}"/>
                                </apex:outputText>
                                </td>
                            </tr>
                            <tr style="display:{!IF(ISBLANK(op.No_of_Un_Reserved_Car_Parks__c),"none","table-row")};"><td></td>
                                <td>Number of Unreserved car park, included in the Rent</td>
                                <td>
                                    <apex:outputText value="{0,number,###,##0}">
                                    <apex:param value="{!op.No_of_Un_Reserved_Car_Parks__c}"/>
                                </apex:outputText>
                                </td>
                            </tr>
                            <tr style="display:{!IF(ISBLANK(op.NoofUnReservedCarParksPaid__c),"none","table-row")};"><td></td>
                                <td>Number of Unreserved car park at additional cost</td>
                                <td>
                                    <apex:outputText value="{0,number,###,##0}">
                                    <apex:param value="{!op.NoofUnReservedCarParksPaid__c}"/>
                                </apex:outputText>
                                </td>
                            </tr>
                            <tr style="display:{!IF(ISBLANK(op.NoofUnReservedCarParksPaid__c),"none","table-row")};"><td></td>
                                <td>Cost of additional Unreserved car park</td>
                                <td>
                                    <apex:outputText value="AED {0,number,###,##0.00} per space per annum">
                                    <apex:param value="{!op.UnreseverdParkingcost__c}"/>
                                </apex:outputText>
                                </td>
                            </tr>
                         <tr><td></td><td>Data Centre facilities</td><td>Available.<br></br>Please let us know if you want to avail this option for us to inform our IT infrastructure or alternatively please write to: <b>it.infrastructure@difc.ae</b> for information on the available facilities.</td></tr>
                         <tr><td></td><td>Payment Terms</td>
                             <td>
                                 * For 3 or 6 month leases Tenants need to pay the full lease in advance (either by cheque or wire transfer), plus one month security deposit.<br/><br/>
                                 * For 12 month leases Tenants can pay the total value of the contract in two installments: 50% prior to the commencement date of the contract, and the remaining 50% needs to be provided as a postdated cheque. A one month security deposit is also required.<br/><br/>
                                    * Value Added Tax (VAT) shall come into effect in the UAE as of January 1, 2018 or such other date as advised by the MoF. Therefore, an additional invoice maybe issued for VAT on sums paid in advance which are subject to VAT in accordance with the legislation.
                             </td>
                         </tr>
                         <tr><td></td><td>Security Deposit</td>
                             <td>
                                <apex:outputText value="AED {0,number,###,##0.00}">
                                    <apex:param value="{!op.FirstYearBaseRent__c}"/>
                                </apex:outputText>
                            </td>
                        </tr>
                        <tr style="display:{!IF(ISBLANK(op.AvailableBy__c),"none","table-row")};"><td></td><td>Available By</td>
                            <td> 
                                    <apex:outputText value="{0, date, MMMM d', 'yyyy}">
                                        <apex:param value="{!op.AvailableBy__c}" />
                                    </apex:outputText>
                            </td>
                        </tr>
                        
                        <tr><td></td><td>Other applicable charges</td><td style="padding-top:5px;">Please refer to IT manual attached.</td></tr>
                        
                        <tr style="display:{!IF(ISBLANK(op.UnitStatus__c),"none","table-row")};"><td></td><td>Unit Offering Status</td><td>{!op.UnitStatus__c}</td></tr>

                        <tr style="display:{!IF(ISBLANK(op.SAPNoDesks__c),"none","table-row")};">
                            <td></td>
                            <td>No. of Desks</td>
                            <td>
                                <apex:outputText value="{0,number,###,0}">
                                    <apex:param value="{!op.SAPNoDesks__c}" />
                                </apex:outputText>
                            </td>
                         </tr>
                        <tr style="display:{!IF(ISBLANK(op.SAPNoDesks__c),"none","table-row")};">
                            <td></td>
                            <td>
                                <b><u>Base IT</u></b><br/>* Internet Access (Unlimited use)<br/>* Telephone Set (Call Charges not included) <br/>* Printing/Copying (200 Colour and 200 B/W per month per desk).
                            </td>
                            <td>
                                3 Month:
                                <apex:outputText value=" AED {0,number,###,##0.00}">
                                    <apex:param value="{!op.SAPNoDesks__c*700*3}"/>
                                </apex:outputText><br/>
                                6 Month:
                                <apex:outputText value=" AED {0,number,###,##0.00}">
                                    <apex:param value="{!op.SAPNoDesks__c*700*6}"/>
                                </apex:outputText><br/>
                                1 Year:
                                <apex:outputText value=" AED {0,number,###,##0.00}">
                                    <apex:param value="{!op.SAPNoDesks__c*700*12}"/>
                                </apex:outputText>
                                <br/><br/><small>Please note that it is mandatory to have Base IT connections equivalent to the number of PAX the office is designed to hold.</small>
                            </td>
                        </tr>
                        <tr style="display:{!IF(ISBLANK(op.SAPNoDesks__c),"none","table-row")};">
                            <td></td>
                            <td>Installation of Base IT <small>(One Time)</small></td>
                            <td>
                                <apex:outputText value="{0,number,0.00}">
                                    <apex:param value="{!op.SAPNoDesks__c*700}" />
                                </apex:outputText>
                            </td>
                         </tr>
                         <tr style="display:{!IF(ISBLANK(op.SAPNoDesks__c),"none","table-row")};">
                            <td></td>
                            <td>Termination of Base IT <small>(One Time)</small></td>
                            <td>
                                <apex:outputText value="{0,number,0.00}">
                                    <apex:param value="{!op.SAPNoDesks__c*700}" />
                                </apex:outputText>
                            </td>
                         </tr>
                    </tbody>
                </table>
            <br />
            <apex:variable var="idx" value="{!idx+1}"/>
            <div style="{!if(idx>0,'','page-break-before:always;')}"/>
            <div style="{!if(idx>2,'',if(idx>ld.Offer_Process__r.size,'page-break-before:avoid;','page-break-before:avoid;'))}"/>
            <div style="{!if(idx>3,'',if(idx>ld.Offer_Process__r.size,'page-break-before:avoid;','page-break-before:avoid;'))}"/>
            <!-- <div style="{!if(idx>4,'',if(idx>ld.Offer_Process__r.size,'page-break-before:avoid;','page-break-before:always;'))}"/>
            <div style="{!if(idx>5,'',if(idx>ld.Offer_Process__r.size,'page-break-before:avoid;','page-break-before:always;'))}"/> -->
         </small>
         
            </apex:outputPanel>
        </apex:repeat>
         <div>
            <small>     
            <p>
            Please confirm your acceptance by summiting your Lease Application Request through  DIFC Portal.<br /><br />
            <u>Below please find clear guidelines for the submission process on the DIFC Client Portal:<br /></u><br /><br />
            * Log in the DIFC Client Portal and click on ‘Property Service’.<br />
            * Select the required service from the list of services.<br />
            * Fill the online application and click on ‘Save’.<br />
            * On the next page, click on ‘download/upload doc’ and upload the required documents then click on ‘Save’.<br />
            * Review the application and click the button ‘Submit’. <br />Please ensure proper review of the service request is done before submission. Changes cannot be made after submitting the request.
         </p>
         </small>   
        </div>
         <small>
        <i> <b>Disclaimer:</b> Please note this communication does not constitute any kind of legally binding agreement.  DIFC will only be bound by the completion of the appropriate legal document(s) and subject to mutual agreement on all commercial terms with both parties.
            </i>
            <br />
            <br />
             </small>
        <p class="MsoNormal">
                <span style='color:#00000'>
        Best regards,
        </span>
                <br/><br/>
                <span style='color:#00000'>
        {!ld.createdby.Name}
        </span>
        </p>
    </div>
    <div class="footer">
        <!-- <div class="centered">Generated by {!$User.FirstName} {!$User.LastName}</div> -->
        <div>
            <div class="subfooter">
                <apex:outputText value=" {0,date,M/d/yyy h:mm a}">
                    <apex:param value="{!NOW()+(4/24)}" />
                </apex:outputText>
            </div>
            <div class="subfooter right">Page <span class="pagenumber" /> of <span class="pagecount" /></div>
        </div>
    </div>
</apex:component>