<template>
    <lightning-card title="Lookup" icon-name="utility:search">
        <div class="slds-m-around_medium">
            <template if:true={isSpinner}>
                <div class="slds-p-around_x-large">
                    <lightning-spinner alternative-text="Loading" size="medium" variant="brand"></lightning-spinner>
                </div>
            </template>
            <lightning-button label="Proceed to Save"  variant="success" class="slds-m-left_x-small" onclick={handleClickSave} ></lightning-button>
            <lightning-button label="Cancel" variant="destructive" class="slds-m-left_x-small" onclick={handleClickCancel} ></lightning-button>
            <div class="slds-p-around_medium">
            <lightning-radio-group name="radioGroup"
                          options={options}
                          value={selectedValue}
                          type="radio"
                          onchange={handleChange}></lightning-radio-group>
            </div>
        </div>
        <template if:true={error}>
            <p style="color:red;">{error}</p>
        </template>
    </lightning-card>
</template>