.THIS .difc-label {
    
    margin-bottom: 0.5rem;
    color:#000000;
     font-family: "EuclidSquare-Medium";

font-size: 14px;

font-weight: 500;
}
.THIS .slds-form-element__icon .slds-button_icon{
   
}