.THIS .pageHeading
{
    padding-top:1%;
    margin-left:2%;
    color: #515151;
    font-size: 32px;
    font-weight: 500;
    letter-spacing: -0.15px;
    line-height: 42px;
    font-family: 'EuclidSquare-Medium', sans-serif;
}
.THIS .pathway
{
    color: #515151;
    font-size: 32px;
    font-weight: 500;
    letter-spacing: -0.15px;
    line-height: 42px;
    font-family: 'EuclidSquare-Medium', sans-serif;
}
.THIS .divHeading
{
    color: #515151;
    font-size: 20px;
    font-weight: 500;
    font-family: 'EuclidSquare-Medium', sans-serif;
}

.THIS .inputlabels{
    color: #515151;
    font-size: 12px;
    font-weight: bold;
    font-family: 'EuclidSquare-Medium';  
    padding :8px;
    margin-left:-2%;
    margin-top:6%;
}

.THIS .headingSecond{
    margin-top:-2%;
    margin-left:76%;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    font-weight:bold;
}

.THIS .inputBorder
{
    width: 200px;
    height: 8px;
    border-radius: 2px;
    border: 1px solid #000000;
    background-color: #ffffff;
    padding: 11px;
    
}
.THIS .staticHeading
{
    padding-top:2%;
    margin-left:29%;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1.85px;
    line-height: 42px;
    font-family: 'EuclidSquare-Medium', sans-serif;   
}

.THIS .difc-progress-bar {
    
    position: absolute;
    left: 0.4rem;
    width: 2px;
    height: 90px;
    background-color: rgb(221, 219, 218);
}

.THIS .startButton{
  	height: 42px;
    background-color: #000000;
    color: white;
    outline: none;
    width: 70px;
    padding: 7px;
    font-size: 17px;
    border: 0;
    
}
.THIS .input[type=button]:focus{
    outline: 1px solid #000000;     
}
.THIS .input[type="button"]{
    outline:none;
}
.THIS .input[type="button"]::-moz-focus-inner {
    border: 0;
}
.THIS .difc-contents {
    box-shadow: none;
    padding-left: 30px;
    margin-top: 8%;
    margin-left: 17%;
}

.THIS .difc-progress-contents h1  {
    
    color: #515151;
    font-family: "EuclidSquare-Medium";
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
}

.THIS .difc-registration-heading {
    color: #515151;
    font-family: "EuclidSquare-Medium";
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
}

.THIS .inputlabels {
    color: #515151;
    font-family: "EuclidSquare-Medium";
    font-size: 12px;
    font-weight: 700;
    position: relative;
    left: 0.5%;
}

.THIS .difc-progress-contents p {
    color: #2c2826;
    font-family: "EuclidSquare-Light";
    font-size: 14px;
    font-weight: 300;
    margin-top: 5px;
}


.THIS .difc-registration-fields {
    max-width: max-content;
    border: 1px solid rgb(217, 219, 221);
    padding:30px;
}
.THIS .ui-welcome {
    position: relative;
    flex-wrap: wrap;
    min-height: 124px;
    background-color: #fff;
    padding: 20px 0 0 15px;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.1);
    right: 53%;
    width: 93%;
    z-index:999;
    
}

.THIS .left-align {
    text-align: left;
}
.THIS .right-align {
    text-align: right;
}
.THIS .difc-guide{
    margin-left: 69%;
    margin-top: -86.5%;
    width: 64%;
    border: 1px solid rgb(217, 219, 221);
    padding: 25px;
    height: 340px;
}

.THIS .leftPaddingClass {
    padding-left: 2rem;
}
.THIS .addButton{
	color: #ffffff;
    font-family: "EuclidSquare-Medium";
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    background-color: #000000!important;
    line-height: 1.875rem;
    background: black!important;
    border: 0;
    min-width: 100px;
}
.THIS .pillSize{
    width:100%;
}
.THIS .difc-font {
    font-family: "EuclidSquare-Medium";
}