.THIS .related_button{
    position: relative;
    float: right;
}
.THIS .address_dup{
    COLOR:#2B2826;
     font-family: 'EuclidSquare-Medium', sans-serif;
    font-weight: 600;
    font-size:11px;
    line-height: 18px;
    padding-left:2rem;
    padding-right:2rem;
}
.THIS .ob-agr{
    position: absolute;
    top: 0px;
    margin-left: 35px;
}
.THIS .ob-dec{
    color: #9b9b9b;
    font-family: "EuclidSquare-Light";
    font-size: 12px;
    font-weight: 300;
}
.THIS .ob-sc{
    margin-right:10px;
}
.THIS .ob-sec{
    margin-bottom: 20px;
}
.THIS .deleteButton{
    text-align: right;
    padding-bottom: 20px;
    margin-left: 12px;
    border-bottom: 1px solid rgb(221, 219, 218);
    margin-bottom: 20px;
}
.THIS .ui-form-card{
    padding-left:0px;
}
.THIS .button_permission{
    position:relative;
    float:right;
}

.THIS .ui-button-group {
    /*display: flex;
    align-items: center;*/
    justify-content: space-between;
    padding: 2rem;
}
.THIS .results_body{
    font-family: 'EuclidSquare-Medium', sans-serif;
    font-weight: 600;
    font-size:14px;
    line-height: 18px;
    padding:2rem;
}
.THIS .ui-form-element__control {
    width: 100%;
    /*
    padding-left: 2rem;
    padding-right: 2rem;
    */
}
.THIS .timeline-content {
    padding-left: 5rem;
}

.THIS .namecheck_results{
    border-bottom: 1px solid #eaeaea;
    border-top: 1px solid #eaeaea;
}

.THIS .result_name{
    font-family: 'EuclidSquare-Medium', sans-serif;
    font-weight: 600;
    font-size:14px;
    line-height: 18px;
    padding-left:2rem;
    padding-right:2rem;
    padding-top:0.5rem;
    padding-bottom:0.5rem;
    
}

.THIS .slds-modal__close{
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.THIS .slds-modal__header{
    text-align:left;
}

.THIS .search-box{
    margin: 0 32px;
    width: 95%;
    position: relative;
}

.THIS .search-icon{
    position: absolute;
    top: 22px;
    right: 10px;
}
.THIS .difc-label {
    
    margin-bottom: 0.5rem;
    color:#000000;
     font-family: "EuclidSquare-Medium";

font-size: 14px;

font-weight: 500;
}
.THIS .spc-top{
    margin-top: -13px;
}
.THIS input, .THIS select{
    font-weight: 500;
}
.THIS .brm svg {
    width: 3rem;
    height: 3rem;
}