.THIS.c-container {
    /*border: 1px;
    margin: 10px 0 20px 0;*/
}

.THIS .custom-box {
    text-align: center;
    background-color: #f4f6f9;
    padding: 1rem;
    border: 1px solid #d8dde6;
    width: 50%;
}
.THIS .custom-boxLeft {
    text-align: left;
    background-color: #f4f6f9;
    padding: 1rem;
    border: 1px solid #d8dde6;
    width: 50%;
}
.THIS .custom-boxLeftTd {
    text-align: left;
    /*border: 1px solid #d8dde6;*/
    width: 50%;
}
.THIS .custom-boxNew {
    text-align: center;
    background-color: #f4f6f9;
    padding: 1rem;
    border: 1px solid #d8dde6;
    width: 40%;
}
.THIS .custom-boxCard {
    background-color: #f4f6f9;
    border: 1px solid #d8dde6;
}
.THIS .custom-boxInstructions {
    text-align: left;
    
    border: 1px solid #d8dde6;
    width: 100%;
}