.THIS .ui-entityName__header {
    font-size: 34px;
    font-family: 'EuclidSquare-Medium', sans-serif;
}

.THIS .nav-label {
    font-size: 14px;
    font-family: 'EuclidSquare-Medium', sans-serif;
}

.THIS .ui-entity-navigation {
    position: relative;
    flex-wrap: wrap;
    min-height: 170px;
    background-color: #fff;
    margin-top: 25px;
    padding: 35px 0 0 65px;
}

.THIS .difc-tabs .dropdown {
    align-self: center;
}

.THIS .ui-registration-complete {
    display: flex;
    justify-content: space-between;
    margin: 0 0 15px 0;
    font-size: 14px;
    font-family: 'EuclidSquare-Medium', sans-serif;
}

.THIS .slds-progress-bar__value {
    background: #0076CF;
}

.THIS .slds-context-bar__item {
    padding: 25px 55px;
}

.THIS .progress-bar-width {
    width: 57%;
}

.THIS .nav-border {
    border-bottom: 2px solid #DDDBDA;
}

.THIS .slds-context-bar__item::selection,
.THIS .slds-context-bar__item:hover {
    background-color: transparent;
    border-bottom: 3px solid #0076CF;
}

.THIS .difc-register-header-text {
    padding-left: 7%;
}

.THIS .difc-register-header-text h1 {
    color: #515151;
    font-size: 32px;
    font-weight: 500;
    letter-spacing: -0.15px;
    line-height: 42px;
}

.THIS .difc-reduce-width {
    width: 95%;
    margin: auto;
}

.THIS .blue-borderBottom {
    border-bottom: 3px solid #0076cf;
}

.THIS .ui-welcome {
    position: relative;
    flex-wrap: wrap;
    min-height: 170px;
    background-color: #fff;
    padding: 20px 0 0 15px;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.1);
}

.THIS .ui-form-card__subheader {
    font-size: 14px;
    font-family: 'EuclidSquare-Medium', sans-serif;
}

.THIS .ui-form-card__header {
    font-size: 20px;
    font-family: 'EuclidSquare-Medium', sans-serif;
    font-weight: bold !important;
}

.THIS.difc-card {
    padding: 1.75rem 1.75rem 0;
    background-color: white !important;
}

.THIS .difc-card-container {
    position: relative;
}

.THIS .difc-is-active .slds-progress__marker {
    border: 4px solid #4a4a4a;
    background-color: #ffffff;
}

.THIS .difc-card-container::before {
    content: "";
    position: absolute;
    margin-left: 0.55rem;
    width: 0.15rem;
    height: 100%;
    background-color: rgb(221, 219, 218);
    z-index: 1;
}

.THIS .difc-timeline-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    justify-content: space-between;
    clear: both;
}

.THIS .difc-vertical-align {
    align-items: center;
}

.THIS .timeline-content {
    width: 100%;
    padding-left: 5%;
    line-height: 1;
}

.THIS .slds-progress__list {
    margin: 0;
}

.THIS .difc-card-header {
    color: #000000;
    font-family: "EuclidSquare-Medium";
    font-size: 20px;
    font-weight: 600;
}

.THIS .slds-progress__marker {
    width: 1.2rem;
    height: 1.2rem;
}

.THIS .difc-card-description {
    color: #7d7d7d;
    font-family: "EuclidSquare-Light";
    /* font-family: "EuclidSquare-Medium"; */
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    padding-top: 1.5%;
}

.THIS .difc-button {
    color: #ffffff;
    font-family: "EuclidSquare-Medium";
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    background-color: #000000 !important;
    line-height: 1.875rem;
    background: black !important;
    float: right;
}

.THIS .difc-medium-size {
    width: 1rem !important;
    height: 1rem !important;
}

.THIS .difc-pages-list-content {
    padding: 1.5%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}

.THIS .difc-card:not(:first-child) {
    padding: 1.75rem 1.75rem 0;
    background-color: white !important;
    margin-top: 2%;
}

.THIS .difc-card:first-child {
    padding: 1.75rem 1.75rem 0;
    background-color: white !important;
}

.THIS .difc-sub-heading {
    font-family: "EuclidSquare-light";
    /* font-family: "EuclidSquare-Medium"; */
    font-size: 15px;

    display: block;
    color: #4a4a4a;

    font-weight: 600;
}

.THIS .difc-link {
    color: #ababab;
    font-family: "EuclidSquare-light";
    /* font-family: "EuclidSquare-Medium"; */
    font-size: 14px;
    font-weight: 600;
}

.THIS .difc-p-bottom {
    padding-bottom: 2%;
}

.THIS .difc-pages-list-content {
    position: relative;
    top: 0.3rem;
}

.THIS .difc-sub-header {
    font-family: "EuclidSquare-light";
    /* font-family: "EuclidSquare-Medium"; */
    padding-top: 2%;
    font-size: 12px;
}

.THIS .difc-disp-none {
    display: none;
}

.THIS .difc-white-background {
    background-color: white;
}

.THIS .difc-tick-icon {
    width: 1rem !important;
    height: 1rem !important;
}

.THIS .difc-card-link {
    color: #000000;
    font-family: "EuclidSquare-Light";
    /* font-family: "EuclidSquare-Medium"; */
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding-top: 1%;
}

.THIS .difc-center {
    align-items: center;
}

.THIS .difc-sla {
    font-family: "EuclidSquare-Light";
    /* font-family: "EuclidSquare-Medium"; */
    float: right;
    font-size: 14px;
    color: #4a4a4a;
    font-weight: 600;
}

.THIS .difc-fill-black svg {
    fill: black;
}

.THIS .difc-no-hover:focus {
    outline: 0 !important;
    box-shadow: none;
}

.THIS .difc-mid-size {
    height: 1.2rem !important;
    width: 1.2rem !important;
    position: relative;
    left: 2%;
}

.THIS .lockedHeader {
    color: #b7b7b7 !important;
}

.THIS .lockedSubHeader {
    color: #c0c0c0 !important;
}

.THIS .lockedSubHeader .slds-icon {
    fill: #c0c0c0 !important;
}

.THIS .difc-card-link-button {
    color: #4a4a4a !important;
    font-family: "EuclidSquare-Light";
    font-size: 11px;
    font-weight: 600;
    line-height: 20px;
    padding-top: 1%;
}

.THIS .flex-end {
    align-self: flex-end;
}

.THIS .noLineHieght {
    line-height: 0;
    color: #4a4a4a;
}