.THIS .slds-form-element__label {
  padding-bottom: 0.5rem;
}

.THIS .difc-table-header-col th {
  background-color: #4a4a4a !important;
  color: white;
  font-family: "EuclidSquare-Light";
  font-size: 12px;
  font-weight: 300;
}

.THIS .difc-padding {
  padding: 0.5rem;
}

.THIS .difc-padding-vertical {
  padding: 0.5rem 0;
}

.THIS .difc-table-header-col {
  background-color: #4a4a4a !important;
  color: white;
  font-family: "EuclidSquare-Light";
  font-size: 11px;
  font-weight: 300;
}

.THIS .difc-table-header-col-grey th {
  background-color: #d9dbdd !important;
  color: black;
  font-family: "EuclidSquare-Light";
  font-size: 12px;
  font-weight: 300;
}

.THIS .difc-table-feilds {
  font-family: "EuclidSquare-Light";
  font-size: 11px;
  font-weight: 300;
}

.THIS .difc-table-feilds-bold {
  font-family: "EuclidSquare-Medium";
  font-size: 12px;
  font-weight: 600;
}

.THIS .difc-table tbody td {
  border-bottom: 0.9px solid rgba(221, 219, 218, 0.46) !important;
}

.THIS .difc-table-border {
  border-bottom: 0.9px solid rgba(221, 219, 218, 0.46) !important;
}