.THIS .slds-grid {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 1%;


}

.THIS .pageHeading
{
    padding-top:1%;
    margin-left:2%;
    color: #515151;
    font-size: 32px;
    font-weight: 500;
    letter-spacing: -0.15px;
    line-height: 42px;
    
}

.THIS .difc-text-logo {
    color: #4a4a4a;
	font-family: 'EuclidSquare-Medium';
	font-size: 24px;
	font-weight: 500;
	letter-spacing: -0.38px;
}

.THIS .difc-text-placeholder {
    opacity: 0.3;
    color: #4a4a4a;
    margin-top: 0.5%;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1.4px;
    text-transform: uppercase;
}
.THIS .difc-align-center {
    text-align: center;
    
}

.THIS .difc-align-end {
   text-align: end;
    margin-top: 0.5%;
}

.THIS .difc-align-end h2 {
   color: #4a4a4a;
    font-family: 'EuclidSquare-Medium';
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1.4px;
    line-height: 16px;
    text-transform: uppercase; 
}

.THIS .difc-logo-holder {
    display: flex;
}

.THIS .logincss{
    font-weight:900;
}

.THIS .registercss{
    font-weight:900;
}