<apex:page standardController="Case" extensions="AcceptCaseListViewController" recordSetVar="cases" action="{!acceptCases}" lightningStylesheets="true">
    
    <head>
        <style>
            .align-center
            {
                text-align:center;
                padding-bottom: 20px;
            }
        </style>
    </head>
    
   <body>
       <div >
        <apex:form >
           <apex:pageBlock title="Accept Selected Cases">
                <apex:pageMessages ></apex:pageMessages>
                <div class="align-center" >
                    <apex:commandButton action="{!updateCases}" value="Cancel" onClick="cancel();return false;"/>
                    <apex:commandButton action="{!updateCases}" value="Confirm"/>
                </div>
                <apex:pageBlockTable value="{!selected}" var="case">
                    <apex:column value="{!case.casenumber}"/>
                    <apex:column value="{!case.subject}"/>
                    <apex:column value="{!case.priority}"/> 
                </apex:pageBlockTable> 
               <div class="align-center" >
                   <apex:commandButton action="{!updateCases}" value="Cancel" onClick="cancel();return false;"/>
                    <apex:commandButton action="{!updateCases}" value="Confirm"/>
               </div>
            </apex:pageBlock>
        </apex:form>
       </div>
   </body>
    <script>
        function cancel(){
            window.history.back();
            window.open('/500/o','_parent');
        }
    </script>
</apex:page>