<apex:page standardController="Service_Request__c" showHeader="false" sidebar="false">
    <apex:form >
    <apex:pageblock id="pageBlockId">
        <apex:pageBlockSection >
            <apex:pageblocksectionitem >
            <apex:outputLabel >I Accept Terms and Conditions</apex:outputLabel>
               <apex:outputPanel styleClass="requiredInput" layout="block" >
               <div class="requiredInput"><div class="requiredBlock"></div>
                <apex:inputField value="{!Service_Request__c.I_agree__c}" required="true" rendered="{!!Service_Request__c.I_agree__c}"/>
                <apex:outputField value="{!Service_Request__c.I_agree__c}" rendered="{!Service_Request__c.I_agree__c}"/>
               <apex:commandButton value="I Accept" action="{!Save}" onclick="reloadParentPage()" rendered="{!!Service_Request__c.I_agree__c}"/>
               </div>
               </apex:outputPanel>
           </apex:pageblocksectionitem>
        </apex:pageBlockSection>
        <apex:outputPanel layout="block" style="overflow:auto;height:150px">
                <div class="panel" style="font-style: italic">
                    <h6>Entity Declaration</h6>
                    <p>I / We hereby consent on behalf of the abovementioned entity, to submit all and any forms related to and required as part of the Fitout Process by DIFC Investments LLC (“DIFCI”). Electronically on the DIFC Client Portal (“Portal”)</p>
                    <p>I / We hereby confirm and declare the following on behalf of the abovementioned entity:</p>
                        <ol>
                            <li>that any forms lodged on the Portal can be used as if the original form was submitted;</li>
                            <li>that the original form(s) submitted on the Portal shall be retained by the abovementioned entity as evidence of its authenticity, and that if a question of authenticity arises, the relevant statutory body may require submission of the original form(s);</li>
                            <li>the individual whose name is mentioned below is authorized to file the applicable form(s) and submit any required document(s) on the Portal on behalf of the abovementioned entity;</li>
                            <li>the individual whose name is mentioned below will be authorized on our behalf to operate the online wallet on the Portal and deposit, withdraw and authorize the payment of funds from the wallet to DIFCI.</li>
                        </ol>
                    <p>I / We understand that it is an offence to provide any information which is false, misleading or deceptive or to conceal information where the concealment of such information is likely to mislead or deceive.</p>
                    <p>I/We further agree and undertake as follows:</p>
                        <ol>
                            <li>our use of the Portal is entirely at our own risk and we agree not to interfere with the Portal’s network or security features or to conduct any activity which would constitute a civil or criminal offence or violate any law;</li>
                            <li>not to use the portal to conduct any activity that would constitute a civil or criminal offence or violate any law;</li>
                            <li>to provide accurate information and contact details and to promptly change the same on the Portal as and when necessary;</li>
                            <li>to assume all responsibility and risk with respect to the use of the Portal, which is provided “as is” without warranties, representations or conditions of any kind, either express or implied, including, without limitation, all content, materials, functions and services available on the Portal;</li>
                            <li>to assume full responsibility for the use of the Portal and any costs associated with the same and to indemnify DIFCI against all or any damages of any kind related to such use.</li>
                        </ol>
                    <p>I declare that I have been appointed as the authorized person to file the applicable forms and submit any required document(s) on the DIFC Client portal on behalf of the abovementioned Entity.</p>
                    <p><b>Note:</b> Should the Authorized User details disclosed above change, it is the Entity’s obligation to promptly file the appropriate Authorized User Form on behalf of DIFC Client Portal.</p>
                    </div>
           </apex:outputPanel>
      </apex:pageblock>
      <script>
        function reloadParentPage(){
            var delayInMilliseconds = 1000; //1 second
            setTimeout(function() {
                 window.parent.location.reload();
            },delayInMilliseconds);
        }
      </script>
   </apex:form>
</apex:page>