<apex:page showHeader="false" sidebar="false" cache="false" standardStylesheets="true">   
   <html>
  <head>
  
  <style>
.Active {
    color: blue;

    font-size: medium;
}
.Draft
{
    color: red;

    font-size: medium;
}
</style>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="/soap/ajax/20.0/connection.js"></script>

    
    <script type="text/javascript">
      google.charts.load('current', {packages:["orgchart"]});
      google.charts.setOnLoadCallback(drawChart);
     var chart;
      function drawChart() 
      {
      
      var URLId=getUrlParameter(window.location.href,'urlid');
      //alert(URLId);
       console.log('URLId===>'+URLId);
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Name');
        data.addColumn('string', 'Manager');
        data.addColumn('string', 'ToolTip');

        sforce.connection.sessionId = "{!$Api.Session_ID}";
        
        
        
        
        var SQLStr="select id,Main_Affiliation__c,Controller_Account__c,Main_Affiliation__r.Affiliation_Name__c,Controller_Account__r.Name, Account__r.Name from Affiliations__c where Main_Affiliation__c=\'"+URLId+"\' OR Controller_Account__c=\'"+URLId+"\' OR Account__c=\'"+URLId+"\'";
       // alert(SQLStr);
        var resultMain = sforce.connection.query(SQLStr);
        var recordMain = resultMain.getArray("records");
        
         if(recordMain.length>0)
     {
        console.log(SQLStr);
        var MaiAffid=recordMain[0].Main_Affiliation__c;
         var SQLStraff="select name,id,Comments__c,Draft__c,Type__c,Account__c,Controller_Account__r.Owner.Name,Controller_Account__r.Company_Type__c,Controller_Account__r.ROC_Status__c,Controller_Account__r.Sector_Classification__c,Controller_Account__r.Registration_License_No__c,Controller_Account__c,Main_Affiliation__r.Name,Main_Affiliation__c,Main_Affiliation__r.Affiliation_Name__c,Main_Affiliation__r.Shareholder_Name__c,Controller_Account__r.Name, Account__r.Name,Account__r.Owner.Name,Account__r.Company_Type__c,Account__r.ROC_Status__c,Account__r.Sector_Classification__c,Account__r.Registration_License_No__c from Affiliations__c where Main_Affiliation__c=\'"+MaiAffid+"\' and Active__c=true order by Level__c";
      console.log(SQLStraff);
        var result = sforce.connection.query(SQLStraff);
        var records = result.getArray("records");
        //alert(records)
       data.addRows(records.length+2);

      // data.addRows([[{v:'0553', f:'0553<div style="color:red; font-style:italic">President</div>'},'', 'The President'],
      //[{v:'1809', f:'1809<div style="color:red; font-style:italic">Vice President</div>'},'0553', 'VP']]);
           
     var j=0;
     var MainAdded=false;
    
         
             
            for(var i = 0 ; i < records.length ; i++)
            {
            var r = records[i];
            
            //alert(records[i].controller_account__c);
            if(MainAdded!=true)
            {
                //data.addRow([{v:r.Main_Affiliation__r.Affiliation_Name__c,f:'<div style="color:red; font-style:italic">President</div>'},'','Main']);
                
                 data.addRow([{v:r.Main_Affiliation__r.Affiliation_Name__c, f:'<table style="height:100px" width="200"><tr><td><a href="/'+r.Main_Affiliation__c+'" target="_blank"><h2>'+r.Main_Affiliation__r.Affiliation_Name__c+'</h2><br /> <br />'+r.Main_Affiliation__r.Shareholder_Name__c+'</a></td></tr><tr><td><a target="_blank" href="/a3E/e?CF00N0J00000A6SCu='+r.Main_Affiliation__r.Name+'&CF00N0J00000A6SCu_lkid='+r.Main_Affiliation__c+'&retURL=%2F'+r.Main_Affiliation__c+'"><img src="/img/cal/addNew_on.gif" width="30px"  /></a></td></tr></table>'},'','Main']);
             
             
                MainAdded=true;
                
            }
             data.addRow([{v:r.Controller_Account__r.Name, f:'<table style="height:100px"  width="200"><tr><td> <a href="/'+r.Controller_Account__c+'" target="_blank">'+r.Controller_Account__r.Name+' [ '+r.Controller_Account__r.Registration_License_No__c+' ]'+'</a></td></tr><tr><td>'+r.Controller_Account__r.Owner.Name+'</td></tr><tr><td>'+r.Controller_Account__r.Company_Type__c+'</td></tr><tr><td>'+r.Controller_Account__r.ROC_Status__c+'</td></tr><tr><td>'+r.Controller_Account__r.Sector_Classification__c+'</td></tr><tr><td><b>'+r.Type__c+'</b></td></tr><tr><td><b class="'+r.Draft__c+'">Status:'+r.Draft__c+'</b></td></tr><tr><td> <a target="_blank" href="/a3E/e?CF00N0J00000A6SCu='+r.Main_Affiliation__r.Name+'&CF00N0J00000A6SCu_lkid='+r.Main_Affiliation__c+'&retURL=%2F'+r.Main_Affiliation__c+'&CF00N0J00000A6SD4='+r.Controller_Account__r.Name+'&CF00N0J00000A6SD4__lkid='+r.Controller_Account__c+'"><img src="/img/cal/addNew_on.gif" width="30px" /></a><a target="_blank" href="/'+r.Id+'"><img src="/img/icon/forecasts24.png" /></a></td></tr></table>'},r.Main_Affiliation__r.Affiliation_Name__c,r.Main_Affiliation__r.Affiliation_Name__c]);
             
              if(records[i].Account__c!=null)
                        {
                        // data.addRow([{v:r.Account__r.Name, f:r.Account__r.Name},r.Controller_Account__r.Name,r.Controller_Account__r.Name]);
                        
                         // data.addRow([{v:r.Controller_Account__r.Name, f:'<table style="height:100px"  width="200"><tr><td> <a href="/'+r.Controller_Account__c+'" target="_blank">'+r.Controller_Account__r.Name+'</a></td></tr><tr><td>'+r.Controller_Account__r.Owner.Name+'</td></tr><tr><td>'+r.Controller_Account__r.Company_Type__c+'</td></tr><tr><td>'+r.Controller_Account__r.ROC_Status__c+'</td></tr><tr><td>'+r.Controller_Account__r.Sector_Classification__c+'</td></tr><tr><td><a <a target="_blank" href="/a3E/e?CF00N0J00000A6SCu='+r.Name+'&CF00N0J00000A6SCu_lkid='+r.Id+'&retURL=%2F'+r.Id+'&CF00N0J00000A6SD4='+r.Controller_Account__r.Name+'&CF00N0J00000A6SD4__lkid='+r.Controller_Account__c+'"><img src="/img/msg_icons/confirm32.png" /></a></td></tr></table>'},r.Main_Affiliation__r.Affiliation_Name__c,r.Main_Affiliation__r.Affiliation_Name__c]);
                          data.addRow([{v:r.Account__r.Name, f:'<table style="height:100px"  width="200"><tr><td> <a href="/'+r.Account__c+'" target="_blank">'+r.Account__r.Name+' [ '+r.Account__r.Registration_License_No__c+' ]</a></td></tr><tr><td>'+r.Account__r.Owner.Name+'</td></tr><tr><td>'+r.Account__r.Company_Type__c+'</td></tr><tr><td>'+r.Account__r.ROC_Status__c+'</td></tr><tr><td>'+r.Account__r.Sector_Classification__c+'</td></tr><tr><td><b>'+r.Type__c+'</b></td></tr><tr><td><b  class="'+r.Draft__c+'">Status:'+r.Draft__c+'</b></td></tr><tr><td><a target="_blank" href="/a3E/e?CF00N0J00000A6SCu='+r.Main_Affiliation__r.Name+'&CF00N0J00000A6SCu_lkid='+r.Main_Affiliation__c+'&retURL=%2F'+r.Main_Affiliation__c+'&CF00N0J00000A6SD4='+r.Account__r.Name+'&CF00N0J00000A6SD4__lkid='+r.Account__c+'"><img src="/img/cal/addNew_on.gif" width="30px"   /></a><a target="_blank" href="/'+r.Id+'"><img src="/img/icon/forecasts24.png" /></a></td></tr></table>'},r.Controller_Account__r.Name,r.Controller_Account__r.Name]);
            
                        }
            
            /*
                        data.setValue(j,1,records[i].Main_Affiliation__r.Affiliation_Name__c);
                        data.setValue(j,0,records[i].Controller_Account__r.Registration_License_No__c);
                        data.setValue(j,2,"<table><tr><th>Company</th><th>Contact</th><th>Country</th></tr><tr><td>AlfredsFutterkiste</td><td>MariaAnders</td><td>Germany</td></tr><tr><td>CentrocomercialMoctezuma</td><td>FranciscoChang</td><td>Mexico</td></tr><tr><td>ErnstHandel</td><td>RolandMendel</td><td>Austria</td></tr><tr><td>IslandTrading</td><td>HelenBennett</td><td>UK</td></tr><tr><td>LaughingBacchusWinecellars</td><td>YoshiTannamuri</td><td>Canada</td></tr><tr><td>MagazziniAlimentariRiuniti</td><td>GiovanniRovelli</td><td>Italy</td></tr></table>");
                        
                    
                        
                        
                   
                       // alert(records[i].Controller_Account__c);
                        if(records[i].Account__c!=null)
                        {
                            console.log("Account__c===>"+records[i].Account__c);
                            //alert(records[i].Account__c);
                            //data.setValue(i+1,0,records[i].Controller_Account__r.Name);
                            //data.setValue(i+1,1,records[i].Account__r.Name);
                            //alert(records[i].Account__r.Name);
                            data.setValue(j+1,0,records[i].Account__r.Registration_License_No__c);
                            data.setValue(j+1,1,records[i].Controller_Account__r.Registration_License_No__c);
                            
                                j++;
                        }
                       // data.setValue(i,2,records[i].Controller_Account__r.Name);
                j++;
                
                console.log("j===>"+j);
                
                */
                
            }
     }
     else
         
         {
              console.log('link URLId===>'+URLId);
             document.getElementById('gLink').innerHTML ='<a href="/a3D/e?retURL='+URLId+'" >Click here to Create Main Group </a>';
         }
    //No Affiliation  record exist created a link to create group .
    
    
    
        
        //  }
          
        /*  
        // For each orgchart box, provide the name, manager, and tooltip to show.
        data.addRows([
          [{v:'Mike', f:'Mike<div style="color:red; font-style:italic">President</div>'},
           '', 'The President'],
          [{v:'Jim', f:'Jim<div style="color:red; font-style:italic">Vice President</div>'},
           'Mike', 'VP'],
           
           
          ['Alice', 'Mike', ''],
          ['Bob', 'Jim', 'Bob Sponge'],
          ['Carol', 'Bob', '']
        ]);
        */
    

        // Create the chart.
        chart = new google.visualization.OrgChart(document.getElementById('chart_div'));
        // Draw the chart, setting the allowHtml option to true for the tooltips.
        chart.draw(data, {allowHtml:true});
        
        // google.visualization.events.addListener(chart , 'onmouseover', barMouseOver);
      //  google.visualization.events.addListener(chart , 'onmouseout', barMouseOut);
    
    
      }
      
      
      
      function barMouseOver(e) 
      {
         alert(chart.setSelection([e]));

      }

  function barMouseOut(e) { 
  //alert(e);
  }
  
      function getUrlParameter(url, parameter) 
      {
    parameter = parameter.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
    var regex = new RegExp('[\\?|&]' + parameter + '=([^&#]*)');
    var results = regex.exec('?' + url.split('?')[1]);
    return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
}

   </script>
    </head>
  <body>
  <br />
    <div id="chart_div" ></div>
    <b id="gLink"></b>
  </body>
</html>
</apex:page>