<apex:page extensions="Cls_Add_New_Dependent_Multiple_Visa" standardController="Service_Request__c"  id="page" tabStyle="Service_Request__c" sidebar="false">
   
<script>

 //Calendar code here
        function FutureDate()
        {
        //alert(calYearPicker);
           var select = document.getElementById('calYearPicker');
            //alert('arun');

            if (!select) return;
            select.innerHTML = '';
            var startYear = new Date().getFullYear();
            var endYear = new Date().getFullYear()+10;
            
            for (var year = startYear; year <= endYear; year++) {
                select.options[select.options.length] = new Option(year,
                    year);
            }

        }
         function PastDate()
        {
        //alert(calYearPicker);
           var select = document.getElementById('calYearPicker');
            //alert('arun');

            if (!select) return;
            select.innerHTML = '';
            var startYear = new Date().getFullYear()-100;
            var endYear = new Date().getFullYear();
            
            for (var year = startYear; year <= endYear; year++) {
                select.options[select.options.length] = new Option(year,
                    year);
            }

        }
        
        
        </script>



<apex:sectionHeader title="Renewal Dependent Visa Details "/>


<!-- ========================================Start Page Read mode============================================ -->

<apex:form >



<apex:pageBlock rendered="{!ApplicantSelected==false}" mode="edit">

<apex:pageBlockButtons location="bottom">

<apex:commandButton value="Next" action="{!ApplicantClickSR}"/>
<apex:commandButton value="Back" action="{!Cancel}"/>

</apex:pageBlockButtons>



<apex:pageBlockSection columns="1" title="Select the Applicant" collapsible="false">

<apex:pageBlockSectionItem >
  <apex:outputLabel escape="false" value="Applicant" />
 <apex:selectList multiselect="false" size="1" value="{!Service_Request__c.Contact__c}">
                         <apex:selectOptions value="{!ApplicantList}"/>
                        </apex:selectList>

 </apex:pageBlockSectionItem>
 
  
<apex:pageBlockSectionItem >
<apex:outputLabel escape="false" value="Note:" />
<apex:outputLabel escape="false" value="If the Applicant is not listed, please click next to provide the details" />

 </apex:pageBlockSectionItem>


</apex:pageBlockSection>

</apex:pageBlock>


<apex:pageBlock title="Details of the Dependent " rendered="{!ApplicantSelected}"  mode="edit">
  <apex:pageMessages escape="false"></apex:pageMessages>


<apex:pageBlockButtons location="bottom">
    <apex:commandButton value="Save"  onClick="this.value='Saving...';this.classList.add('btnDisabled');" action="{!SavedSR}"/>
        <apex:commandButton value="Back"  action="{!Cancel}"/>

</apex:pageBlockButtons>


<apex:pageBlockSection title="Service Type" collapsible="false">


<apex:inputField value="{!Service_Request__c.Domestic_Helper__c}"/>

</apex:pageBlockSection>


<apex:pageBlockSection title="Emirates ID Details" collapsible="false">


<apex:inputField required="true" value="{!Service_Request__c.Emirates_Id_Number__c}"/>
<apex:inputField required="true" value="{!Service_Request__c.Expiry_Date__c}"/>

</apex:pageBlockSection>

<apex:pageBlockSection title="Personal Details (All details must be as per the passport)" collapsible="false">

<apex:inputField required="true" value="{!Service_Request__c.Title__c}"/> <apex:pageBlockSectionItem ></apex:pageBlockSectionItem>

<apex:inputField required="true"  value="{!Service_Request__c.First_Name__c}"/>
<apex:inputField value="{!Service_Request__c.First_Name_Arabic__c}"/>

<apex:inputField value="{!Service_Request__c.Middle_Name__c}"/>
<apex:inputField value="{!Service_Request__c.Middle_Name_Arabic__c}"/>

<apex:inputField required="true"  value="{!Service_Request__c.Last_Name__c}"/>
<apex:inputField value="{!Service_Request__c.Last_Name_Arabic__c}"/>


<apex:inputField required="true"  value="{!Service_Request__c.Nationality_list__c}"/>
<apex:inputField value="{!Service_Request__c.Place_of_Birth_Arabic__c}"/>
<apex:inputField required="true" value="{!Service_Request__c.Qualification__c}"/>
<apex:inputField required="true" value="{!Service_Request__c.Previous_Nationality__c}"/>
<apex:inputField required="true" value="{!Service_Request__c.Gender__c}"/>


 <apex:pageBlockSectionItem >
  <apex:outputLabel value="Occupation" />
                <apex:outputPanel >
                    <div class="requiredInput">
                        <div class="requiredBlock"></div>
                          <apex:selectList value="{!Occupation}"  size="1">
                          <apex:selectOption itemValue="" itemLabel="--None--" />
      
      <apex:selectOption itemValue="a0H2000000NG5Kv" itemLabel="BABYSITTER" />
      <apex:selectOption itemValue="a0H2000000NG5UK" itemLabel="COOK PRIVATE" />
      <apex:selectOption itemValue="a0H2000000NG5fL" itemLabel="GARDENER" />
      <apex:selectOption itemValue="a0H2000000NG5h6" itemLabel="GUARD" />
      <apex:selectOption itemValue="a0H2000000NG5j6" itemLabel="HOUSE WIFE" />
      <apex:selectOption itemValue="a0H2000000NG5v7" itemLabel="MUHREM" />
      <apex:selectOption itemValue="a0H2000000NG5vm" itemLabel="NONE" />
     <apex:selectOption itemValue="a0H2000000NG63L" itemLabel="PRIVATE CAR DRIVER" />
      <apex:selectOption itemValue="a0H2000000NG6Co" itemLabel="SERVANT" />
      <apex:selectOption itemValue="a0H2000000NG6JM" itemLabel="STUDENT" />
        </apex:selectList>
                    </div>
                </apex:outputPanel>
 </apex:pageBlockSectionItem>


        
<!-- <apex:inputField required="true" value="{!Service_Request__c.Occupation_GS__c}"/> -->


<apex:inputField required="true" value="{!Service_Request__c.Place_of_Birth__c}"/>
<apex:inputField required="true" onclick="PastDate();" value="{!Service_Request__c.Date_of_Birth__c}"/>

<apex:inputField required="true" value="{!Service_Request__c.Passport_Number__c}"/>


<apex:inputField required="true" value="{!Service_Request__c.Country_of_Birth__c}"/>

<apex:inputField required="true" value="{!Service_Request__c.Passport_Place_of_Issue__c}"/>
<apex:inputField required="true" value="{!Service_Request__c.Passport_Type__c}"/>
<apex:inputField required="true" onclick="PastDate();" value="{!Service_Request__c.Passport_Date_of_Issue__c}"/>
<apex:inputField required="true" value="{!Service_Request__c.Passport_Country_of_Issue__c}"/>
<apex:inputField required="true" value="{!Service_Request__c.Religion__c}"/>
<apex:inputField required="true" onclick="FutureDate();" value="{!Service_Request__c.Passport_Date_of_Expiry__c}"/>
<apex:inputField required="true" value="{!Service_Request__c.First_Language__c}"/>

<apex:inputField required="true" value="{!Service_Request__c.Marital_Status__c}"/>
<apex:inputField value="{!Service_Request__c.Second_Language__c}"/>
<apex:inputField required="true" value="{!Service_Request__c.Email_Address__c}"/>
<apex:inputField value="{!Service_Request__c.Third_Language__c}"/>
<apex:inputField required="true" value="{!Service_Request__c.Mother_Full_Name__c}"/>

<apex:inputField value="{!Service_Request__c.Monthly_Salary_AED__c}"/>


<apex:inputField required="true" value="{!Service_Request__c.Relation__c}"/> 



</apex:pageBlockSection>


<apex:pageBlockSection title="Visa Details" collapsible="false">

<apex:inputField required="true" value="{!Service_Request__c.Residence_Visa_No__c}"/>
<apex:inputField required="true" value="{!Service_Request__c.UID_Number__c}"/>
<apex:inputField value="{!Service_Request__c.Applicant_Visa_Issued_Date__c}"/>
<apex:inputField value="{!Service_Request__c.Applicant_Visa_Expired_Date__c}"/>

</apex:pageBlockSection>

  </apex:pageBlock> 
  

  
</apex:form>



</apex:page>