<apex:page controller="AppointmentSearch">
    
  <script type='text/javascript'>
    function noenter(ev)  {
        if (window.event && window.event.keyCode == 13 || ev.which == 13) {
            doSearchAF();
            return false;
         } else {
              return true;
         }
     }
</script>
 
      <apex:form id="myForm">
      
      
         <apex:pageBlock rendered="{!!showAppt}">
         <apex:messages />
         </apex:pageBlock>
             

       <apex:pageBlock mode="edit" title="Appointment details" id="block">      
        <apex:pageBlockSection >
        <apex:pageBlockSectionItem >
          <apex:outputLabel for="searchText">DHA Reference Number</apex:outputLabel>
                   
          <apex:panelGroup >
          
          <apex:inputText id="searchKey" value="{!searchKey}" styleclass="searchStr" onkeypress="return noenter(event);"/>
              <apex:actionFunction name="doSearchAF" action="{!search1}" />
              <apex:commandButton value="Search" id="btn" action="{!search1}" rerender="myForm,myId,block,resultsBlock" status="status" />
          </apex:panelGroup>
          </apex:pageBlockSectionItem>
      </apex:pageBlockSection>
          
        <apex:pageBlockSection >
        <apex:pageBlockSectionItem >
        <apex:outputLabel rendered="{!!showAppt}">
          Please enter the DHA Reference Number and click search<br/>
          If needed please mark the applicant for subsequent medical tests <br/>
          </apex:outputLabel>
          </apex:pageBlockSectionItem>
            
      </apex:pageBlockSection><br/>

      <apex:actionStatus id="status" startText="Searching... please wait..."/>
           <apex:pageBlockSection title="Search Results" id="resultsBlock" columns="1" rendered="{!showAppt}">
        <apex:pageBlockTable value="{!stp}" var="item">
            <apex:column headerValue="Appointment Detail" ><apex:outputLink value="/apex/MedicalFitnessReport?appointmentid={!item.Id}&id={!item.Step__c}" target="_blank"> {!item.Name} </apex:outputLink>
                </apex:column>
                <apex:column headerValue="Applicant Name" ><apex:outputLabel value="{!item.Applicant_s_Name__c}"> </apex:outputLabel>
                </apex:column>
                
                <apex:column headerValue="DHA Reference Number" ><apex:outputLabel value="{!item.DHA_Reference_Number__c}"> </apex:outputLabel>
                </apex:column>
                
         
        </apex:pageBlockTable>
      </apex:pageBlockSection>
             </apex:pageBlock>
        
        
    </apex:form>
</apex:page>