<apex:page controller="AutoCompleteController" id="autoId" cache="false" standardStylesheets="true" showHeader="false" sidebar="true"> 
    <apex:includeScript value="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" />
    <apex:includeScript value="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.min.js" />
    <apex:styleSheet value="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/themes/smoothness/jquery-ui.css" />    
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />
  
  
    
    <style>
        .displayNone { 
            display:none; 
        }
        .displayBlock {
            display:block;
        }
        .ui-autocomplete-loading { 
            background: white url(/img/loading32.gif) right center no-repeat;
            background-size:15px 15px; 
        }
        .placeHolder {
            font-style: italic;
        }
        
        td {
    padding-bottom : 5px;
}

table {
    border-spacing: 15px;
}

.outBorder {
    border:3px outset black;
   }
   .inBorder{
    border-top:2px ;
    border-left:2px ;
    width : 300px !important;
   }

    </style>
    
    
    
    <apex:form id="autoCompleteForm" >
   
    <apex:pageMessages id="msgs"></apex:pageMessages>     
        <apex:pageBlock id="searchBlock"> 
        <apex:actionRegion >
           
            <apex:pageBlockSection id="searchSection" title="Enter SR Number" collapsible="false" >  
             <input type="text" id="movieTextBox" value="{!searchTerm}"/>
             
          
            </apex:pageBlockSection>
            
       
  <br/>
    <Center>
     <div>
         <apex:outputPanel id="test1">
         <div class="float-left">
          <div class="card" style="width:60%">
          <div class="card-body">
        
         
 			Portal Users
		
      <apex:pageBlockTable value="{!selectedPortalUsers}" var="cs" >
          <apex:column >
                  <apex:facet name="header">Name</apex:facet>
                  <apex:outputText value="{!cs.Name}"/>
                  </apex:column> 
          </apex:pageBlockTable>
        </div>
            </div>
            </div>
         </apex:outputPanel>
          <br/> 
            <apex:outputPanel id="test2">
                <div class="float-right" style="width:60%">
                       <span class="label label-default">Fine Payment Amount (AED) </span> &nbsp;: &nbsp;  <span class="label label-info"> <apex:outputText value="{!fineSrAmount}"/></span>
                    <br/> <br/>
               
 			Fine Payment Service Request
		
                <apex:pageBlockTable value="{!finePaymentRequests}" var="cs" >
                 <apex:column >
                  <apex:facet name="header">SR Number</apex:facet>
                  <apex:outputText value="{!cs.Name}"/>
                  </apex:column> 
                 <apex:column >
                     
                  <apex:facet name="header">Status</apex:facet>
                  <apex:outputText value="{!cs.External_SR_Status__r.Name}"/>
                  </apex:column> 
          </apex:pageBlockTable>
                    
                </div>
         </apex:outputPanel>
            </div>
        </Center>
            <br/>            

            <apex:pageBlock id="re" title="Avilable Steps">             
             <apex:pageBlockTable value="{!listWrapper}" var="cs"  width="100%" cellpadding="4" border="1">
              
                  <!-- <apex:column >
                    <apex:inputCheckbox value="{!cs.checkBool}"/>
                   </apex:column>              
                  <apex:column value="{!cs.step.sr__r.name}"/>
                  <apex:column value="{!cs.step.name}"/>
                  <apex:column value="{!cs.step.Step_Name__c  }"/> -->
                  
                  
                  <apex:column styleclass="inBorder" style="width : 300 px !important" id="test">
                  <apex:facet name="header">Action</apex:facet>
                  <apex:inputCheckbox value="{!cs.checkBool}"/>
                  </apex:column>  <br/><br/>
                  
                  
                  
                  <apex:column > 
                  <apex:facet name="header">SR Number</apex:facet>
                      <apex:outputText value="{!cs.step.sr__r.name}"/>
                  </apex:column><br/><br/>
                  
                  <apex:column rendered="{!IF(isGSUser,'false','true')}" > 
                   <apex:facet name="header">Step Number</apex:facet>
                      <apex:outputText value="{!cs.step.name}"/>
                  </apex:column><br/><br/>
                  
                  <apex:column > 
                   <apex:facet name="header">Step Name</apex:facet>
                      <apex:outputText value="{!cs.step.Step_Name__c}"/>
                  </apex:column>
                  
                   <apex:column > 
                   <apex:facet name="header">Account Name</apex:facet>
                      <apex:outputText value="{!cs.step.Customer__c}"/>
                  </apex:column>
                  
                  <apex:column rendered="{!IF(isGSUser,'true','false')}"> 
                   <apex:facet name="header">Applicant Name</apex:facet>
                      <apex:outputText value="{!cs.step.Applicant_Name__c}"/>
                  </apex:column>
                  
                  
   <!--   start by Ghanshyam Yadav -->
                   <apex:column rendered="{!IF(isRORPUser,'true','false')}"> 
                   <apex:facet name="header">Building</apex:facet>
                      <apex:outputText value="{!cs.step.sr__r.Building__r.Name}"/>
                  </apex:column> 
                 
                   <apex:column rendered="{!IF(isRORPUser,'true','false')}"> 
                   <apex:facet name="header">Unit</apex:facet>
                      <apex:outputText value="{!cs.step.sr__r.Unit__r.Name}"/>
                  </apex:column>                  
                 
   <!--   End by Ghanshyam Yadav -->               
                  
              </apex:pageBlockTable>
             </apex:pageBlock>        
             
             
         <center>  <apex:commandButton value="Add" reRender="selectedSteps,msgs" id="AddCmd" action="{!Add}" status="theStatus" style="font-family: inherit;font-size: inherit;line-height: inherit; width :100px !important"/></center>
            
         <script type="text/javascript">
        var PLACEHOLDER = 'Enter SR Number'; 
        var movieObjects;
        var queryTerm;
        
        $('[id$=movieTextBox]').autocomplete({
            minLength: 3,
            source: function(request, response) {
                        queryTerm = request.term;
                        AutoCompleteController.searchsteps(request.term, function(result, event){
                        
                         
                            if(typeof result === 'undefined' || result.length <=0) {
                                  //alert(event.message);
                                  response(['No Record Found']);
                            } else {
                                 movieObjects = result;
                                 response(movieObjects);
                            }
                        },{escape:true});
                   },
           
            select: function( event, ui ) {
                        $('[id$=movieTextBox]').val( ui.item.SR__r["Name"]);
                        $('[id$=searchMovieId]').val( ui.item.Id );  

                        // $('[id$=selectList]').val( ui.item.name );                         
                       
                        GetCollectedSteps(ui.item.SR__r["Id"]);
                        
                        return false;
                    },
                    
                     focus: function( event, ui ) {
                    $('[id$=movieTextBox]').val( ui.item.SR__r["Name"] );
                    return false;
                    },
         })
         
        
         .data("autocomplete")._renderItem = function( ul, item ) {
         
            console.log(JSON.parse(JSON.stringify(item)).value+'name');
         
         var SRnames = item;
         
         if(JSON.parse(JSON.stringify(item)).value != 'No Record Found'){
          
          console.log(JSON.stringify(item)+'item');
          
         
            //var entry = "<a>" + item.Name;
            
            var entry = "<a>" + SRnames.SR__r["Name"];
           
            entry = entry + "</a>";
            entry = entry.replace(queryTerm, "<b>" + queryTerm + "</b>");
            return $( "<li></li>" )
                .data( "item.autocomplete", item )
                .append( entry )
               // .append( "<a><div>" + item.SR__r["Name"]+ "</a></div>")
                .appendTo( ul );
                }else{
                 
                 
                 var entry = 'No Record Found';
                 
                  return $( "<li></li>" )
                .data( "item.autocomplete", item )
                .append( entry )
               // .append( "<div>" + No Record Found+ "</div>")
                .appendTo( ul );
                
                }
               
        };
            
        // Add or remove placeholder values
        $('[id$=movieTextBox]').val(PLACEHOLDER);
        $('[id$=movieTextBox]').on("focus",  function(event){
            $tgt = $(event.target);
            if($tgt.val() === PLACEHOLDER ){
                $tgt.val('');
                $tgt.removeClass('placeHolder');
            }
        });
        $('[id$=movieTextBox]').on( "blur",  function(event){
            $tgt = $(event.target);
            if($tgt.val() === '' ){
                $tgt.val(PLACEHOLDER);
                $tgt.addClass('placeHolder');
            }
        });
      </script>    
         </apex:actionRegion> 
        </apex:pageBlock>
        
          
        
        <apex:pageBlock id="selectedSteps" title="Selected Steps">
        
        
        <!-- <apex:pageBlockTable value="{!selectedSteps}" var="ss">
           <apex:column value="{!ss.sr__r.name}"/>
           <apex:column value="{!ss.name}"/>
           
           <apex:column value="{!ss.Step_Name__c}"/>
         
         
         </apex:pageBlockTable> -->
         
         
         <apex:pageBlockTable value="{!selectedSteps}" var="ss"  width="100%" cellpadding="3" border="1">
            
            
             <apex:column > 
                  <apex:facet name="header">SR Number</apex:facet>
                      <apex:outputText value="{!ss.sr__r.name}"/>
                  </apex:column><br/><br/>
                  <apex:column > 
                   <apex:facet name="header">Step Number</apex:facet>
                      <apex:outputText value="{!ss.name}"/>
                  </apex:column><br/><br/>
                  
                  <apex:column > 
                   <apex:facet name="header">Step Name</apex:facet>
                      <apex:outputText value="{!ss.Step_Name__c}"/>
                 </apex:column>
                 
                  <apex:column > 
                   <apex:facet name="header">Account Name</apex:facet>
                      <apex:outputText value="{!ss.Customer__c}"/>
                 </apex:column>
             
     <!-- Start By Ghanshyam Ticket # 5481 -->            
                  <apex:column rendered="{!IF(isRORPUser,'true','false')}"> 
                   <apex:facet name="header">Building</apex:facet>
                      <apex:outputText value="{!ss.sr__r.Building__r.Name}"/>
                 </apex:column>             
             
                  <apex:column rendered="{!IF(isRORPUser,'true','false')}"> 
                   <apex:facet name="header">Unit</apex:facet>
                      <apex:outputText value="{!ss.sr__r.unit__r.Name}"/>
                 </apex:column>            
     <!-- Start By Ghanshyam Ticket # 5481 -->         
             
             
         </apex:pageBlockTable> <br/>
        
         <center> <apex:commandButton value="Confirm" action="{!GetCollectedDocs}" rendered="{!isGSUser}" style="font-family: inherit;font-size: inherit;line-height: inherit; width :100px !important"/>
         
        
       </center>
        </apex:pageBlock>
        
        <apex:pageBlock rendered=""></apex:pageBlock>
        <apex:PageBlock title="List of PROs" id="PRos" rendered="{!IF(isGSUser,'true','false')}">
       
        
        <apex:pageBlockSection columns="2" id="proSec">
        
          <apex:commandButton value="GetPROs" reRender="selectList" action="{!GetPROList}"  style="font-family: inherit;font-size: inherit;line-height: inherit; width :100px !important"  onClick="disableButton();"/>           
           <apex:outputLabel > List of PRO's: <apex:selectList size="1"  id="selectList"  title="List of PRO's:" onchange="getSelectedValue();"  > 
                         <apex:selectOptions value="{!AllPROs}"/>  
                 </apex:selectList>
           </apex:outputLabel>  
        </apex:pageBlockSection>
        </apex:pageBlock>
        
        
        <apex:inputText id="test"  style="display: none;"/>
        
        <apex:actionStatus id="theStatus" startText="Processing Data. Please wait...">          
            <apex:facet name="start">                
                <img src="/img/loading32.gif" style="vertical-align:middle;" class="loader"/>
            </apex:facet>    
         </apex:actionStatus>
        
             <apex:actionFunction name="GetCollectedSteps" action="{!getStepstrue}" reRender="searchBlock" status="theStatus">              
                      <apex:param assignTo="{!SRId}" value="" name="SRId"/>
            </apex:actionFunction> 
            
            
            
            <apex:actionFunction name="SelectedValue" action="{!SelectedValue}" reRender="test"  >
            <apex:param name="p1" value="" assignTo="{!selectedPRO}"/>         
          </apex:actionFunction>
        
        <!------------signature ------------------------------------->
     </apex:form>   
        
        <apex:form id="form1">
        
        <apex:pageBlock id="pb1">
             
          <apex:pageBlockButtons location="bottom" id="button">
                     <apex:commandButton value="Submit" onclick="savedraft_js()"  action="{!saveSignatureOfClient}" disabled="{!isDisable}" id="cmd" />                     
                     <apex:commandButton value="Cancel"  action="{!cancel}" /> 
            </apex:pageBlockButtons>
            <table style="width:800px;" cellpadding="20" border-spacing = "10px" >
               
                    <tr>
                    <th>Upload File:</th>
                    
                    <br/>
                   <apex:actionRegion >
                    
                    <td> <apex:repeat value="{!allFileList}" var="AFL" >
                        
                        <apex:inputFile value="{!AFL.body}" filename="{!AFL.Name}" onclick="RemoveDisable()" />
                    <br/>
                     
                     
                     </apex:repeat></td> 
                     
                   </apex:actionRegion>
                   
                       <!-- <apex:inputFile value="{!attachment.body}" filename="{!attachment.name}" id="AttchId1"/> <br/>
                         <apex:inputFile value="{!attachment1.body}" filename="{!attachment1.name}" id="AttchId2" /> <br/>
                         <apex:inputFile value="{!attachment2.body}" filename="{!attachment2.name}" id="AttchId3"/> <br/> -->
                       
                 
                </tr>
                <tr> <br/><br/>
                    <th>Signature :</th>
                    <td  style = "padding-bottom :'5px'">
                     
                        <canvas id="signatureCanvas" width="400" height="200" style="border: 1px solid black; background-color: white;"   /> 
                        
                        <canvas id="blank" width="400" height="200" style="display:none ;border: 1px solid black; background-color: white;"   /> 
                        <br /> 
                        <input type="button" value="Clear Signature" onclick="clearSign1();return false;" />
                        
                    </td>
                </tr>
                

                
            </table> 
                          
              <apex:inputHidden value="{!Client_Signature}" id="imagesign" />        
              
          </apex:pageBlock>   
        <apex:actionFunction name="saveSignatureOfClient" action="{!saveSignatureOfClient}"  >
         <apex:param name="p2" value="" assignTo="{!Client_Signature}" /> 
         
        </apex:actionFunction>
        
        
   
            
    </apex:form>
   
    
    
    
    
    <script>
    function myFunction()
    {
      alert('hai::');
    }
    function closeWindow(){
        //alert('closing window');
        window.close();
    }
    
    function  disableButton(){
        
        document.getElementById("autoId:autoCompleteForm:PRos:proSec:selectList").disabled = true;
        
        document.getElementById("movieTextBox").disabled = true;

    }
    
    
    function getSelectedValue(){
        
        SelectedValue(document.getElementById('autoId:autoCompleteForm:PRos:proSec:selectList').value);
       
        document.getElementById('autoId:form1:pb1:button:cmd').disabled = false;
        document.getElementById('autoId:form1:pb1:button:cmd').classList.remove("btnDisabled");
     document.getElementById('autoId:form1:pb1:button:cmd').classList.add("btn");
    }
  
    
    //sforce.connection.sessionId = "{!$Api.Session_Id}";
    var canvas = document.getElementById("signatureCanvas");
    var canvas1 = document.getElementById("blank");
    var context = canvas.getContext("2d");
    context.fillStyle = "white";
    context.fillRect(0, 0, canvas.width, canvas.height);
    var mouseButton = 0;
    var lastX = lastY = null;    
    function update_screen() {
        //alert('hi');
        show_violation_screen();
    }
    function RemoveDisable(){
         console.log('hoi');
     
     document.getElementById('autoId:form1:pb1:button:cmd').classList.remove("btnDisabled");
     document.getElementById('autoId:form1:pb1:button:cmd').classList.add("btn");
     document.getElementById('autoId:form1:pb1:button:cmd').disabled = false;
        
    }
    function savedraft_js() {
        
        var image = canvas.toDataURL().split(',')[1];
        var image1 = canvas1.toDataURL().split(',')[1];
        console.log((image.length)- 500 +'image ');
        console.log(image1.length  +'image1 ');
        document.getElementById('autoId:form1:pb1:imagesign').value = image;       
              
        
        document.getElementById('autoId:form1:pb1:button:cmd').disabled = true;
        
         if(image1.length > ((image.length) - 100))        
          alert('Please provide Signature ');        
          else       
         saveSignatureOfClient(image);
        //$A.get("e.force:closeQuickAction").fire();
        //$A.get('e.force:refreshView').fire();
        //window.location.reload();
        
        
    }
    
    function clearSign1() {
        canvas.width = canvas.width;
        context.lineWidth = 1;
        
    }
    function handleEvent(event) {
        if (event.type === "mousedown" || event.type === "touchstart") {
            mouseButton = event.which || 1;
            lastX = lastY = null;
        }
        if (event.type === "touchcancel" || event.type === "touchcancel" || event.type === "mouseup") {
            mouseButton = 0;
            lastX = lastY = null;
        }
        if ((event.type === "touchmove" || event.type === "mousemove") && mouseButton) {
            var newX, newY;
            var rect = canvas.getBoundingClientRect();
            if (event.targetTouches && event.targetTouches.length) {
                newX = event.targetTouches[0].clientX - rect.left;
                newY = event.targetTouches[0].clientY - rect.top;
            } else {
                newX = event.offsetX;
                newY = event.offsetY;
            }
            if (!lastX && !lastY) {
                lastX = newX;
                lastY = newY;
                context.beginPath();
                context.moveTo(lastX, lastY);
                context.lineTo(lastX, lastY, lastX, lastY);
                context.stroke();
            } else {
                context.beginPath();
                context.moveTo(lastX, lastY);
                context.lineTo(newX, newY);
                context.stroke();
                lastX = newX;
                lastY = newY;
            }
        }
        if (event.type == "touchmove" || event.type === "mousedrag" || (event.type === "selectstart" && (event.srcElement || event.target) === canvas)) {
            event.returnValue = false;
            event.stopPropagation();
            event.preventDefault();
            return false;
        }
        
         document.getElementById('autoId:form1:pb1:button:cmd').classList.remove("btnDisabled");
     document.getElementById('autoId:form1:pb1:button:cmd').classList.add("btn");
     document.getElementById('autoId:form1:pb1:button:cmd').disabled = false;
    }
    
    
    function resizeCanvas(e) {
        
        var myCanvas = document.getElementById("signatureCanvas");
        //myCanvas.width = document.documentElement.clientWidth;
        //myCanvas.height = document.documentElement.clientHeight;
    }
    window.addEventListener("resize", resizeCanvas, false);
    canvas.addEventListener("mousedrag", handleEvent, true);
    canvas.addEventListener("mousemove", handleEvent, true);
    canvas.addEventListener("mousedown", handleEvent, true);
    window.addEventListener("mouseup", handleEvent, true);
    canvas.addEventListener("touchstart", handleEvent, true);
    canvas.addEventListener("touchmove", handleEvent, true);
    window.addEventListener("touchend", handleEvent, true);
    window.addEventListener("selectstart", handleEvent, true);
     canvas.addEventListener('mousedrag', function() {
     alert('test::');
});
    </script>
   

</apex:page>