<apex:page standardController="Feedback_Form__c" title="Business Feedback" extensions="businessfeedbackController" action="{!pageLoad}" showHeader="false" sidebar="false"  standardStylesheets="false" tabStyle="Feedback_Form__c">

    <apex:stylesheet value="{!URLFOR($Resource.JsFeedback, 'style2.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.JsFeedback, 'style1.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.JsFeedback, 'carousel.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.JsFeedback, 'font-awesome.min.css')}"/>
    <style>
    .errorMsg
    {
    color:red;
    }
    .messageText{
    color:green;    
     }
     .messageText h4{
    color:red;    
     }
    </style>
    
   
        
    
<apex:outputPanel >
<h1>{!isvalid}</h1>

    
         
    
    <div class="logo"><a href="http://difc.ae"><apex:image value="{!URLFOR($Resource.JsFeedback, 'difc_logo.png')}"/></a></div>

    
    <section class="rgt_container">
        <div class="margin_btm_50 visa-form">
            <apex:pageMessages ></apex:pageMessages> 
 <apex:form styleClass="header"  rendered="{!isvalid}">           
 
 <div align="right" >
 
                <p >
                   <spam style="color:red;">*</spam> = Required Information      </p>
                   
                   
                  </div> 
 <div class="box">               
                
  <div class="col_12">    
   <p> 
   <label> 1.  What is the overall value of assets under management (AUM), in millions of US Dollars, managed for clients<b><i> by your operations in the DIFC</i></b> on a <u>discretionary</u> basis:
   
    </label>
   </p>                                     
  </div> 

 <div class="col_12">                  
       <div class="col_12">
         <p>
          <label>(i) In managed accounts for institutions, families or individuals (in USD millions)? <spam style="color:red;">*</spam>
          </label>
         </p>
       
             <apex:inputField value="{!Feedback_Form__c.Ques1_Opt1__c}"  label="In managed accounts for institutions, families or individuals (in USD millions)" required="true"  styleClass="form-control min-width" style="margin-left: 20px;"/>
      
       
        </div>
 </div>
     
 <div class="col_12">                  
       <div class="col_12">
         <p>
          <label>(ii) In a fund mandate (e.g. open-ended/closed ended funds), <u>irrespective</u> of where the fund is domiciled (in USD millions)?       <spam style="color:red;">*</spam>
          </label>
         </p>
               
                <apex:inputField value="{!Feedback_Form__c.Ques1_opt2__c}" label="In a fund mandate (e.g. open-ended/closed ended funds)" required="true" styleClass="form-control min-width" style="margin-left: 20px;"/>
        </div>
 </div>     
     
     
  <div class="col_12">  
  <br />  
   <p> 
   <label> 2.  What is the overall value of AUM managed for clients <b><i> by your operations in the DIFC</i></b>  on an <u>advisory</u> basis (in USD millions)?<spam style="color:red;">*</spam>
   </label>
   </p>
   
  </div>      

 <div class="col_12">                  
       <div class="col_12">
           <p>
          <apex:inputField value="{!Feedback_Form__c.Ques2_opt1__c}" label="What is the overall value of AUM managed for clients." required="true" styleClass="form-control min-width" style="margin-left: 20px;"/>
           </p>
           </div>
 </div> 
                 
  <div class="col_12">   
    <br />   
   <p> 
   <label> 3.      What is the overall value of AUM managed <b><i> by your operations in the DIFC</i></b>  on a <u>proprietary</u> basis (including in family offices, and other proprietary funds or vehicles) (in USD millions)?
   <spam style="color:red;">*</spam>
   </label>
   </p>                                    
  </div>      

 <div class="col_12">                  
       <div class="col_12">
           <p>
          <apex:inputField value="{!Feedback_Form__c.Ques3_opt1__c}" label="What is the overall value of AUM managed by your operations in the DIFC on a <u>proprietary</u> basis (including in family offices, and other proprietary funds or vehicles)" required="true" styleClass="form-control min-width" style="margin-left: 20px;"/>
           </p>
           </div>
 </div> 
            
 <div class="col_12">   <br />     
   <p> 
   <label>4.    
   
What is the overall value of assets <u>sourced</u> with the assistance of your firm’s DIFC staff, yet which are advised on or<b><i> managed by your firm or an affiliate outside the DIFC </i></b>
   
   (in USD millions)?
   
  
   </label>
   </p>
  </div> 


 
 <div class="col_12">                  
       <div class="col_12">
         <p>
          <label>(i) Advisory mandates (in USD millions)?    <spam style="color:red;">*</spam> 
          </label>
         </p>
               
          <apex:inputField value="{!Feedback_Form__c.Ques4_opt1__c}" required="true" styleClass="form-control min-width" style="margin-left: 20px;"/>
        </div>
 </div>
     
 <div class="col_12">                  
       <div class="col_12">
         <p>
          <label>(ii) Discretionary mandates (in USD millions)?    <spam style="color:red;">*</spam>   
          </label>
         </p>
               
          <apex:inputField value="{!Feedback_Form__c.Ques4_opt2__c}" required="true" styleClass="form-control min-width" style="margin-left: 20px;"/>
        </div>
 </div>     
   
     

            
            <div class="col_12">

               <label class="flable">&nbsp;</label>                
                <div class="finput">
                    
                
               <apex:commandButton value="Submit" action="{!SaveMe}" styleClass="input_button" style="margin-left: 15px;"/>
               <apex:commandButton value="Cancel" action="{!Cancel}" styleClass="input_button" style="margin-left: 15px;"/>
               
                       
                </div>

            </div>        
                <div class="col_12">   <br />   <br />
                  </div>        
        
         </div>
         <div class="col_12">  
         <br />         <br />
         <b>Confidentiality, purpose and permitted disclosure:</b>
         <p>
         <small>
         
         All documents, data and information disclosed by survey participants shall be treated as confidential by the DIFC Authority (DIFCA). Subject to applicable law, any documents, data and information so received shall only be used, disclosed or made available by DIFCA to third parties in aggregated or consolidated form for business development, statistical and/or research related purposes, where survey participants’ contributions shall not be individually disclosed or in any way be individually discernible, either by specific reference or as a consequence of any metadata contained therein. Although it would urge survey participants to ensure the correctness of any documents, data and information supplied to DIFCA pursuant to this survey, and to express any opinions contained therein honestly and on reasonable grounds, DIFCA confirms that all documents, data and information received from survey participants shall be treated as having no express or implied warranty or representation made in respect thereof, including (but not limited to) the accuracy or completeness thereof. 
         </small>
         </p>

          </div> 

    </apex:form>
        </div>
          
    </section>

</apex:outputPanel>


</apex:page>