<apex:page extensions="CarParking_Ctrl" standardController="Service_Request__c" id="CarParkingPage" tabstyle="Service_Request__c" action="{!OpenDraftSR}" docType="html-5.0">
    
    <apex:stylesheet value="{!$Resource.DocumentCSS}/popup/reveal.css"/>
    <apex:includeScript value="{!$Resource.DocumentCSS}/popup/jquery.min.js"/>
    <apex:includeScript value="{!$Resource.DocumentCSS}/popup/jquery.reveal.js"/>
    
    <style type="text/css">
        .loader {
        z-index: 1200;
        position: absolute;
        margin-left: -60px;
        filter: Alpha(Opacity =70);
        opacity: 0.70;
        -moz-opacity: 0.70;
        top: 35%;
        left: 55%;
        } 
        
        .showMessage{
        color :red;
        }
        
        .reqErrorMsg{
        font-weight: bold;
        color: #c00;
        text-align: center;
        }       
        .popupBackground {
        /* Background color */
        background-color:black;
        opacity: 0.20;
        filter: alpha(opacity = 20);
        
        /* Dimensions */
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 998;
        position: absolute;
        }
        
        /* This is for the message DIV */
        .PopupPanel {
        /* Background color */
        /*border: solid 2px #00205B;
        background-color: white;
        */
        /* Dimensions */
        left: 50%;
        width: 100px;
        //margin-left: -100px;
        border-radius: 15px
        top: 50%;
        height: 100px;
        margin-top: 200px;
        z-index: 999;
        position: fixed;
        }
        
        #carParkingFrm{
        width:70% !important;
        }
        
        .shortField{
        width:80px
        }
        
        
    </style>
    
    <apex:includeScript value="{!$Resource.jqueryjs}"/>
    
    <script>
    
    
    function assignrowindex(rowno){
        
        if(confirm("Are you sure you want to continue")){
            document.getElementById('CarParkingPage:carParkingFrm:carParkingBlock:rowID').value = rowno;
            document.getElementById('CarParkingPage:carParkingFrm:carParkingBlock:leaseButton:removeRequest').click();
            
        }
    }
    
    function assignrowUndoindex(rowno){
        
        
        document.getElementById('CarParkingPage:carParkingFrm:carParkingBlock:rowID').value = rowno;
        document.getElementById('CarParkingPage:carParkingFrm:carParkingBlock:leaseButton:undoRequest').click();
    }
    
    
    function getCarDetails(){
        
        document.getElementById('CarParkingPage:carParkingFrm:carParkingBlock:getCar').click();
        
    }
    function saveRecords(){
        
        
        totalError = validateRequiredFields();
        document.getElementById('errorDiv').style.display = 'none';
        
        if(totalError > 0){
            document.getElementById('errorDiv').style.display = '';
            return ;
        }
        
        document.getElementById('CarParkingPage:carParkingFrm:carParkingBlock:leaseButton:saveRequest').click();
        
        
        
    }
    
    function validateField(){
        
        var ContactId = document.getElementById('CarParkingPage:carParkingFrm:carParkingBlock:carParkingBlockSection:applicant:contact_ReqFld');
        document.getElementById('CarParkingPage:carParkingFrm:carParkingBlock:carParkingBlockSection:applicant:contact_ReqFld').className  = '';
        $('.showMessage').remove();
        if(ContactId.value == ''){
            document.getElementById('CarParkingPage:carParkingFrm:carParkingBlock:carParkingBlockSection:applicant:contact_ReqFld').className  = 'error';
            $("<div class='showMessage'>Applicant is required before selecting any car!</div>").insertAfter(".lookupIcon");
            return;
            
        }
        document.getElementById('CarParkingPage:carParkingFrm:carParkingBlock:AddRow').click();
    }
    
    function validateFieldOld(){
        
        var ContactId = document.getElementById('CarParkingPage:carParkingFrm:carParkingBlock:carParkingBlockSection:applicant:contact_ReqFld');
        document.getElementById('CarParkingPage:carParkingFrm:carParkingBlock:carParkingBlockSection:applicant:contact_ReqFld').className  = '';
        $('.showMessage').remove();
        if(ContactId.value == ''){
            document.getElementById('CarParkingPage:carParkingFrm:carParkingBlock:carParkingBlockSection:applicant:contact_ReqFld').className  = 'error';
            $("<div class='showMessage'>Applicant is required before selecting any car!</div>").insertAfter(".lookupInput");
            return;
            
        }
        document.getElementById('CarParkingPage:carParkingFrm:carParkingBlock:AddRowOld').click();
    }
    
    function validateFieldNew(){
        
        var ContactId = document.getElementById('CarParkingPage:carParkingFrm:carParkingBlock:carParkingBlockSection:applicant:contact_ReqFld');
        document.getElementById('CarParkingPage:carParkingFrm:carParkingBlock:carParkingBlockSection:applicant:contact_ReqFld').className  = '';
        $('.showMessage').remove();
        if(ContactId.value == ''){
            document.getElementById('CarParkingPage:carParkingFrm:carParkingBlock:carParkingBlockSection:applicant:contact_ReqFld').className  = 'error';
            $("<div class='showMessage'>Applicant is required before selecting any car!</div>").insertAfter(".lookupInput");
            return;
            
        }
        document.getElementById('CarParkingPage:carParkingFrm:carParkingBlock:AddRowNew').click();
    }
    
    
    function validateRequiredFields(){
        
        totalFieldBlank = 0;
        totalNegativeField = 0;
        totalAlphaNumeric = 0;
        var inputs = document.querySelectorAll('input,select');
        var elementId;
        for(inputIndex = 0; inputIndex< inputs.length ; inputIndex++){
            
            elementId = inputs[inputIndex].id;
            if((elementId != null || elementId != '')  && elementId.indexOf('_ReqFld') > -1){
                document.getElementById(elementId).className  = '';
                if(document.getElementById(elementId).value == '' && document.getElementById(elementId).style.display != 'none'){
                    totalFieldBlank++;
                    document.getElementById(elementId).className  = 'error';
                    
                }
                
                if(elementId.indexOf('name') == -1 && document.getElementById(elementId).value != '' && !isNaN(document.getElementById(elementId).value) && document.getElementById(elementId).value <= 0){
                    totalNegativeField++;
                    document.getElementById(elementId).className  = 'error';
                    
                }
                
                
            }
        }
        
        return totalFieldBlank;
        
        
    }
    
    function enableSection(){
        
        document.getElementById('CarParkingPage:carParkingFrm:carParkingBlock:leaseButton:refreshRequest').click();
        
    }
    
    function MarkChangeRequired(){
        document.getElementById('CarParkingPage:carParkingFrm:carParkingBlock:leaseButton:MarkCardReq').click();
    }
    
    function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }
    
    function limitfieldvalue(field){
        if(document.getElementById(field).value.length > 6){
            document.getElementById(field).value  = document.getElementById(field).value.substring(0, 6);
        }
    }
    
    var oldValue = '';
    var newValue = '';
    //show text field when user select other
    function CheckRegistered(actionId){
        
        newValue = document.getElementById(actionId).value;
        
        if(newValue == 'Other'){
            document.getElementById('CarParkingPage:carParkingFrm:carParkingBlock:leaseButton:refreshRequest').click();
            oldValue = 'Other';
        }
        if((oldValue == 'Other' || oldValue == '') && newValue != 'Other'){
            document.getElementById('CarParkingPage:carParkingFrm:carParkingBlock:leaseButton:refreshRequest').click();
            oldValue = newValue;
        }
        
        
        
    }
    
    /* Always override this method whenever you use it in a page. By default, it will just close the window. */
    function selectContact(hci,hcn){
        
        document.getElementById('btnCloseReveal').click();
        document.getElementById('CarParkingPage:carParkingFrm:carParkingBlock:carParkingBlockSection:applicant:contact_ReqFld').value = hcn;
        document.getElementById('CarParkingPage:carParkingFrm:carParkingBlock:carParkingBlockSection:applicant:contactHiddenField').value = hci;
        
        getCarDetails();
    }        
    
    
    </script>
    <apex:form id="carParkingFrm">
        
        
        
        <apex:actionStatus id="pleasewait" stopText="" >
            <apex:facet name="start">
                <div>
                    <div class="popupBackground"></div>
                    <div class="PopupPanel">
                        <img src="{!$Resource.LoadingImage}"/>
                    </div>
                </div>
            </apex:facet>
        </apex:actionStatus>                 
        
        <apex:pageBlock id="carParkingBlock" title="CAR PARKING">
            
            
            <apex:pageBlockButtons id="leaseButton" location="top">
                <apex:outputPanel rendered="{!!IsDetail}">
                    <input type="button" value="Save" class="btn" onClick="saveRecords()" />
                </apex:outputPanel>                
                <apex:commandButton value="Save" id="saveRequest" action="{!SaveSR}" style="display:none" status="pleasewait" rerender="carParkingBlock" rendered="{!!IsDetail}" />
                <apex:commandButton value="Remove" id="removeRequest" action="{!DeleteRow}" style="display:none" status="pleasewait" rerender="carParkingBlock" rendered="{!!IsDetail}" />
                <apex:commandButton value="UndoRequest" id="undoRequest" action="{!undoRequest}" style="display:none" status="pleasewait" rerender="carParkingBlock" rendered="{!!IsDetail}" />
                <apex:commandButton value="Edit" id="EditRequest" action="{!EditRequest}" rerender="carParkingBlock" status="pleasewait"
                                    rendered="{!IsDetail && objSRFlow.External_Status_Name__c != 'Submitted' && objSRFlow.External_Status_Name__c != 'Approved' && objSRFlow.External_Status_Name__c != 'Rejected'}" />
                <apex:commandButton value="Cancel Request" id="DeleteRequest" action="{!DeleteRequest}" rerender="carParkingBlock" status="pleasewait"
                                    rendered="{!IsDetail && objSRFlow.External_Status_Name__c == 'Draft' && objSRFlow.Id != null}" />
                <apex:commandButton value="refresh" style="display:none"  id="refreshRequest" rerender="carParkingBlock" status="pleasewait"  />
                <apex:commandButton value="MarkTrue" style="display:none" action="{!MarkCardRequired}"  id="MarkCardReq" rerender="carParkingBlock" status="pleasewait"  />
                
                
                <apex:commandButton value="Submit" id="submitRequest" action="{!SubmitRequest}" rerender="carParkingBlock" status="pleasewait" rendered="{!IsDetail && objSRFlow.Submitted_Date__c == null}"  oncomplete="if('{!AlertMsg}'!=''){alert('{!AlertMsg}');}"/>
                
                <apex:commandButton value="Cancel" id="cancelRequest" immediate="true" action="{!CancelRequest}" rerender="carParkingBlock" status="pleasewait" rendered="{!!IsDetail}"/>
            </apex:pageBlockButtons>
            <apex:pagemessages />
            <div style="display:none;" class="reqErrorMsg" id="errorDiv">Error: Invalid Data. <br/>Review all Required
                Fields below and provide values for those.
            </div>
            <div style="display:none;" class="reqErrorMsg" id="errorDiv_Num">Error: Invalid Data. <br/>Negative And Zero
                Values are not allowed.
            </div>
            <div style="display:none;" class="reqErrorMsg" id="errorDiv_AlphaNum">Error: Invalid Data. <br/>Invalid Class Name
            </div> 
            <apex:inputhidden id="rowID" value="{!RowId}"/>
            <!---------------------------------------- Editable ------------------------------------------>
            <apex:outputText value="{!SRDescription }" escape="false"/>            
            <div style="margin-bottom: 10px; font-family: serif Times"><b>Note:</b>  {!OutputText}<br /></div><br/>
            <div style="margin-bottom: 10px;">                
                <div class="row">
                    <b>{!feeBreakup}</b>&nbsp;{!feeNormal} 
                    <div class="column">
                        <apex:outputText value="{!SUBSTITUTE(JSENCODE(tenureBased), '\\n', '<br/>')}" escape="false"/>
                    </div> 
                    <div class="column">
                        <apex:outputText value="{!excessFee}" escape="false"/>
                    </div>
                </div>
            </div>
            
            <!--Shikha--added-->
            <apex:pageBlockSection title="Request Details" id="reqDetails" rendered="{!!IsDetail}">
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Type Of Request"/>
                    <apex:outputPanel styleClass="requiredInput" layout="block">
                        <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                        <apex:selectList value="{!objSRFlow.Commercial_Activity__c}" id="reqType" size="1" multiselect="false">
                            <!--<apex:selectOption itemValue="Tenants" itemLabel="Tenants"/>
                            <apex:selectOption itemValue="Membership" itemLabel="Membership"/>-->
                            <apex:selectOptions value="{!requestTypeOptions}"></apex:selectOptions>       
                            <apex:actionSupport event="onchange" action="{!changeServiceType}"  status="pleasewait" rerender="carParkingFrm" ></apex:actionSupport>                            
                        </apex:selectList>
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
            <apex:pageblockSection title="Car Parking Details" columns="2" id="carParkingBlockSection" rendered="{!!IsDetail}">                
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Type of Service"/>
                    <apex:outputPanel styleClass="requiredInput" layout="block" >
                        <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                        <apex:selectList value="{!objSRFlow.Client_s_Representative_in_Charge__c}" id="access_ReqFld"  size="1" multiselect="false"  rendered="{!ISNULL(objSRFlow.Submitted_Date__c)}" >
                            <apex:selectOptions value="{!serviceOptions}"></apex:selectOptions>       
                            <apex:actionSupport event="onchange" action="{!changeEvent}"  status="pleasewait" rerender="carParkingBlock" ></apex:actionSupport>                            
                        </apex:selectList>                        
                        <apex:outputField value="{!objSRFlow.Client_s_Representative_in_Charge__c}" rendered="{!objSRFlow.External_Status_Name__c == 'Submitted'}"  />
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>                               
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Company Name" />
                    <apex:outputField value="{!objSRFlow .Customer__c}" />                    
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem id="applicant">
                    <apex:outputLabel value="Employee Name"/>
                    <apex:outputPanel styleClass="requiredInput" layout="block" >
                        <apex:outputPanel styleClass="requiredBlock" layout="block"/>                        
                        <apex:inputField value="{!objSRFlow .Name_of_Contact_Person__c}" style="display: inline-block;"  id="contact_ReqFld"  html-disabled="true" />
                        <img src="/s.gif" alt="Search Hosting Companies" style="display: inline-block;" onclick="tc = true; openCompanySearchPopup('{!$Component.txtHostingCompany}');" class="lookupIcon" title="Company Selection (Popup)" onblur="this.className = 'lookupIcon';" onfocus="this.className = 'lookupIconOn';" onmouseout="this.className = 'lookupIcon';this.className = 'lookupIcon';" onmouseover="this.className = 'lookupIconOn';this.className = 'lookupIconOn';"/>
                        <apex:inputHidden value="{!objSRFlow .Contact__c}"  id="contactHiddenField"   />  
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>                
                <apex:pageBlockSectionItem helptext="Do you require reserve parking?" rendered="{!(type == $Label.VehicleRegistration) && objSRFlow.Commercial_Activity__c == $Label.Tenants}">
                    <apex:outputLabel value="Do you want Reserve Parking?"/>                    
                    <apex:inputField value="{!objSRFlow .Sys_Requires_Security_Check_Amendments__c}"  />                    
                </apex:pageBlockSectionItem>                
                <apex:pageBlockSectionItem rendered="{!type == $Label.VehicleRegistration}">
                    <apex:outputLabel value="Registered Vehicle as entity"/>                    
                    <apex:inputField value="{!objSRFlow.Is_AOR__c}" onchange="MarkChangeRequired()"  />                    
                </apex:pageBlockSectionItem>
                <!--Shikha added for documents-->                               
                <apex:pageBlockSectionItem rendered="{!objSRFlow.Commercial_Activity__c == $Label.Membership && (type ==$Label.MonthlyMembership)}">
                    <apex:outputLabel value="Do you have DIFC ID?"/>                                 
                    <apex:inputField value="{!objSRFlow.DIFC_Sublease__c}"/>                                 
                </apex:pageBlockSectionItem>
                <!--<apex:pageBlockSectionItem rendered="{!objSRFlow.Commercial_Activity__c == 'Membership'}">
<apex:outputLabel value="Is car not registered on your name?"/>                                 
<apex:inputField value="{!objSRFlow.Adhering_to_Safe_Horbour__c}" />                                 
</apex:pageBlockSectionItem>-->
                
            </apex:pageBlockSection>
            <!-- Contact Details ------Editable------------->
            <apex:pageblockSection title="Contact Details" columns="2" rendered="{!!IsDetail}">                                
                <apex:pageBlockSectionItem id="EmployeePhone" helpText="Phone Format: +971XXXXXXXXX">
                    <apex:outputLabel value="Employee Phone No."/>
                    <apex:outputPanel styleClass="requiredInput" layout="block" >
                        <apex:outputPanel styleClass="requiredBlock" layout="block"/>                        
                        <apex:inputField value="{!objSRFlow.Contact_Number_During_Office_Hours__c}" id="contactNumber_ReqFld" />
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>                
                <apex:pageBlockSectionItem id="EmployeeEmail">
                    <apex:outputLabel value="Employee Email Address"/>
                    <apex:outputPanel styleClass="requiredInput" layout="block" >
                        <apex:outputPanel styleClass="requiredBlock" layout="block"/>                                   
                        <apex:inputField value="{!objSRFlow.Email_Address__c}" id="contactEmail_ReqFld" />
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>  
                <apex:pageBlockSectionItem rendered="{!(type != $Label.VehicleRegistration && type != $Label.MonthlyMembership)}">
                    <apex:outputLabel value="Parking Card Number"/>
                    <apex:outputPanel >
                        <apex:selectList value="{!objSRFlow.Incorporated_Organization_Name__c}" multiselect="false" size="1">
                            <!--<apex:selectOption itemValue="" itemLabel="--None--"/>-->
                            <apex:selectOptions value="{!cardNumberList}"></apex:selectOptions>     
                            <apex:actionSupport event="onchange" action="{!showCarParking}"  status="pleasewait" rerender="carParkingBlock" ></apex:actionSupport>                            
                        </apex:selectList>
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>
            </apex:pageblockSection>            
            <!--Editable -- Membership option-->            
            
            <apex:pageBlockSection title="Membership Options" columns="2" rendered="{!!IsDetail && objSRFlow.Commercial_Activity__c = $Label.Membership}" id="memOptions">                
                <apex:pageBlockSectionItem id="Period">                    
                    <apex:outputLabel value="Frequency"/>
                    <apex:outputPanel >                               
                        <apex:outputPanel styleClass="requiredInput" layout="block" rendered="{!(!showMembershipOptions || type == $Label.MembershipRenewal) && objSRFlow.External_Status_Name__c != 'Submitted'}">
                            <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                            <apex:selectList value="{!objSRFlow.Commercial_Activity_Previous_Sponsor__c}" id="carPeriod_ReqFld" size="1" multiselect="false">
                                <apex:selectOption itemValue="" itemLabel="--None--"/>
                                <!--<apex:selectOption itemValue="Days" itemLabel="Days"/>
                                <apex:selectOption itemValue="Months" itemLabel="Months"/>-->
                                <apex:selectOptions value="{!periodOptions}"></apex:selectOptions>
                                <apex:actionSupport event="onchange" action="{!populateCountOptions}"  status="pleasewait" rerender="memOptions" ></apex:actionSupport>                                           
                            </apex:selectList>                                     
                        </apex:outputPanel>                                   
                        <apex:outputField value="{!objSRFlow.Commercial_Activity_Previous_Sponsor__c}" rendered="{!objSRFlow.External_Status_Name__c == 'Submitted'}"  />
                        <apex:outputText value="{!objSRFlow.Commercial_Activity_Previous_Sponsor__c}" rendered="{!showMembershipOptions && objSRFlow.External_Status_Name__c != 'Submitted' && type != $Label.MembershipRenewal}"/>                        
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem id="tenure">
                    <apex:outputLabel value="Tenure"/>
                    <apex:outputPanel >
                        <apex:outputPanel styleClass="requiredInput" layout="block" rendered="{!(!showMembershipOptions || type == $Label.MembershipRenewal) && objSRFlow.External_Status_Name__c != 'Submitted'}">
                            <apex:outputPanel styleClass="requiredBlock" layout="block"/>	                            
                            <apex:selectList value="{!objSRFlow.Mortgage_Amount__c}" size="1" multiselect="false" id="carFrequency_ReqFld">
                                <apex:selectOptions value="{!countOpt}"></apex:selectOptions>                                                                                      
                            </apex:selectList>                               
                        </apex:outputPanel>
                        <apex:outputText value="{0,number,integer}" rendered="{!objSRFlow.External_Status_Name__c == 'Submitted'}">
                            <apex:param value="{!objSRFlow.Mortgage_Amount__c}"/>
                        </apex:outputText>
                        <!--<apex:outputField value="{!objSRFlow.Mortgage_Amount__c}" rendered="{!objSRFlow.External_Status_Name__c == 'Submitted'}"  />-->
                        <apex:outputText value="{!objSRFlow.Mortgage_Amount__c}" rendered="{!showMembershipOptions && objSRFlow.External_Status_Name__c != 'Submitted' && type != $Label.MembershipRenewal}"/>
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>                       	   
                <apex:pageBlockSectionItem id="FromDate">
                    <apex:outputLabel value="From Date"/>
                    <apex:outputPanel >
                        <apex:outputPanel styleClass="requiredInput" layout="block" rendered="{!(!showMembershipOptions || type == $Label.MembershipRenewal) && objSRFlow.External_Status_Name__c != 'Submitted'}">
                            <apex:outputPanel styleClass="requiredBlock" layout="block"/>                                  
                            <apex:inputField value="{!objSRFlow.Mortgage_Start_Date__c}" id="carFromDate_ReqFld"/>                               
                        </apex:outputPanel>
                        <apex:outputField value="{!objSRFlow.Mortgage_Start_Date__c}" rendered="{!objSRFlow.External_Status_Name__c == 'Submitted'}"  />
                        <apex:outputText value="{0,date,dd' 'MMMMM' 'yyyy}" rendered="{!showMembershipOptions && objSRFlow.External_Status_Name__c != 'Submitted' && type != $Label.MembershipRenewal}">                            
                            <apex:param value="{!objSRFlow.Mortgage_Start_Date__c}" />
                        </apex:outputText>                        
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem ></apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem id="effectiveStartDate">
                    <apex:outputLabel value="Effective Start Date"/>
                    <apex:outputText value="{0,date,dd' 'MMMMM' 'yyyy}"> 
                        <apex:param value="{!objSRFlow.Agreement_Date__c}" />
                    </apex:outputText>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem id="toDate">
                    <apex:outputLabel value="Effective End Date"/>
                    <apex:outputPanel >                                  
                        <apex:outputText value="{0,date,dd' 'MMMMM' 'yyyy}"> 
                            <apex:param value="{!objSRFlow.Mortgage_End_Date__c}" />
                        </apex:outputText>
                        <!--<apex:outputText value="{0,date,dd' 'MMMMM' 'yyyy}" rendered="{!objSRFlow.External_Status_Name__c != 'Submitted'}">      
<apex:param value="{!objSRFlow.Mortgage_End_Date__c}" />
</apex:outputText> -->                       
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
            <!--Editable - membership options-->
            <apex:outputpanel id="ShareCapitalDetail" layout="block" rendered="{!!IsDetail}">
                <div class="pbSubheader brandTertiaryBgr tertiaryPalette"><img src="/img/s.gif" alt="Hide Section - Contact Details" class="hideListButton" id="img_CarParkingPage:carParkingFrm:carParkingBlock:j_id248" name="Contact Details" onclick="twistSection(this);" onkeypress="if (event.keyCode=='13')twistSection(this);" style="cursor:pointer;" tabindex="0" title="Hide Section - Contact Details" /><h3>Vehicles Detail</h3></div>                                
                <apex:variable var="i" value="{!0}" />                                                
                <apex:outputPanel >
                    <table  id="mans" class="list PBTable">
                        
                        <tr class="headerRow">
                            <th class="headerRow" style="width:80px">Please Select</th>
                            
                            
                            <th class="headerRow" style="width:100px">
                                <span class="helpButton" id="example-title-_help">
                                    <img src="/s.gif" class="helpOrb"/>
                                    
                                    <script type="text/javascript">
                                    sfdcPage.setHelp('example-title', 'Tag/Sticker required for vehicle');
                                    </script>
                                </span>
                                
                                Tag Required? </th>
                            
                            <th class="headerRow" style="width:80px">Registered In</th>
                            <th class="headerRow" style="width:100px">Category </th>
                            <th class="headerRow" style="width:100px">Plate Number </th>
                            <th class="headerRow" style="width:80px">Make</th>
                            <th class="headerRow" style="width:100px">Color</th>
                            <th class="headerRow" style="width:100px">Type</th>                            
                            <th class="headerRow" style="width:100px">GD/GV</th>
                            <th class="headerRow" style="width:100px">Not an owner</th>
                            <th class="headerRow" style="width:100px">Status</th>
                        </tr>
                        
                        <apex:repeat value="{!lstOfCars}" var="c">
                            <tr >
                                <td>  
                                    
                                    <apex:outputPanel rendered="{!(c.Status__c == 'Draft' && i > 0 && (type == $Label.VehicleRegistration || type == $Label.ReplaceVehicle || type == $Label.RemoveVehicle || type == $Label.MonthlyMembership || type == $Label.AddVehicle
                                                                || CONTAINS(type ,'Card') || CONTAINS(type ,'Tag'))) || (c.Status__c == 'Active' && (type == $Label.RemoveVehicle || type == $Label.ReplaceVehicle))}">
                                        
                                        <a href="" style="text-decoration: underline" onclick="assignrowindex({!i})">Remove</a>
                                    </apex:outputPanel>
                                    
                                    <apex:outputPanel rendered="{!(c.Status__c == 'Remove' && (type == $Label.RemoveVehicle || type == $Label.ReplaceVehicle || type == $Label.AddVehicle))}">
                                        
                                        <a href="" style="text-decoration: underline" onclick="assignrowUndoindex({!i})">Undo</a>
                                    </apex:outputPanel>
                                    
                                    <apex:outputPanel rendered="{!(CONTAINS(type,'Lost') ||CONTAINS(type,$Label.ReplaceCard) ||
                                                                CONTAINS(type,'Replace Tag') || CONTAINS(type,'Damaged')) && objSRFlow.Commercial_Activity__c == $Label.Tenants}">                                                                                
                                        &nbsp;<apex:inputField value="{!c.Change_Tag__c}"  />
                                        
                                    </apex:outputPanel>
                                    <!-- for replace Vehicle detail -->
                                    <apex:outputPanel rendered="{!type == $Label.ReplaceVehicle && (c.Status__c == 'New' || c.Status__c == 'Old' )}">
                                        <a href="" style="text-decoration: underline" onclick="assignrowindex({!i})">Remove</a>
                                    </apex:outputPanel>
                                    <!-- for remove employee access -->
                                    <apex:outputPanel rendered="{!(c.Status__c == 'Draft' && (type == $Label.RemoveEmpAccess)
                                                                )}">
                                        
                                        <a href="" style="text-decoration: underline" onclick="assignrowindex({!i})">Remove</a>
                                    </apex:outputPanel>
                                </td>
                                
                                <td>                                    
                                    <apex:outputLabel rendered="{!(c.Status__c == 'Active' || 
                                                                c.Status__c == 'Draft') && (type == $Label.VehicleRegistration || type == $Label.AddVehicle) && objSRFlow.Commercial_Activity__c = $Label.Tenants}">
                                        <apex:inputField value="{!c.Is_Card_Required__c  }" rendered="{!c.Status__c == 'Draft' && !objSRFlow.Is_AOR__c}"  />
                                        
                                        <apex:outputField value="{!c.Is_Card_Required__c  }" rendered="{!c.Status__c == 'Draft' && objSRFlow.Is_AOR__c}"  />
                                        
                                        <apex:outputField value="{!c.Is_Card_Required__c}" rendered="{!c.Status__c != 'Draft' && c.Status__c != 'New' && c.Status__c != 'Old'}"/>
                                    </apex:outputLabel>
                                    
                                </td>
                                
                                <td>
                                    <apex:outputPanel rendered="{!c.Status__c == 'Draft' || c.Status__c == 'New' || c.Status__c == 'Old'}">
                                        <apex:outputPanel styleClass="requiredInput" layout="block" >
                                            <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                                            <apex:inputField value="{!c.Registered_In__c  }" id="carReg_ReqFld" onchange="CheckRegistered('{!$Component.carReg_ReqFld}')"/>
                                            
                                        </apex:outputPanel>
                                    </apex:outputPanel>
                                    <apex:outputField value="{!c.Registered_In__c}"  rendered="{!c.Status__c != 'Draft' && c.Status__c != 'New' && c.Status__c != 'Old'}"/>
                                </td>
                                <td>
                                    <apex:outputPanel rendered="{!c.Status__c == 'Draft' || c.Status__c == 'New' || c.Status__c == 'Old'}">
                                        <apex:outputPanel styleClass="requiredInput" layout="block" >
                                            <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                                            <apex:inputField value="{!c.Category__c}" rendered="{!c.Registered_In__c != 'Other'}"  styleClass="shortField" id="carCate_ReqFld" />
                                            
                                            <apex:inputText value="{!c.Other_Category__c}" rendered="{!c.Registered_In__c == 'Other'}" styleClass="shortField" id="carCateTxt_ReqFld" />
                                            
                                        </apex:outputPanel>
                                    </apex:outputPanel>
                                    <apex:outputField value="{!c.Category__c}"  rendered="{!c.Status__c != 'Draft' && c.Status__c != 'New' && c.Status__c != 'Old'}"/>
                                </td>
                                <td>
                                    <apex:outputPanel rendered="{!c.Status__c == 'Draft' || c.Status__c == 'New' || c.Status__c == 'Old'}">
                                        <apex:outputPanel styleClass="requiredInput" layout="block" >
                                            <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                                            <apex:inputField value="{!c.Vehicle_Number__c  }"  onkeypress="return isNumber(event)" onkeyUp="limitfieldvalue('{!$Component.carNum_ReqFld}');"  styleClass="shortField" id="carNum_ReqFld" />
                                            
                                        </apex:outputPanel>
                                    </apex:outputPanel>
                                    <apex:outputField value="{!c.Vehicle_Number__c}"  rendered="{!c.Status__c != 'Draft' && c.Status__c != 'New' && c.Status__c != 'Old'}"/>
                                </td>
                                <td>
                                    <apex:outputPanel rendered="{!c.Status__c == 'Draft' || c.Status__c == 'New' || c.Status__c == 'Old'}">
                                        <apex:outputPanel styleClass="requiredInput" layout="block" >
                                            <apex:outputPanel styleClass="requiredBlock" layout="block"/>                                            
                                            <apex:selectList value="{!c.Vehicle_Manufacturer__c}" id="carMan_ReqFld"  size="1" multiselect="false"  >
                                                <apex:selectOption itemValue="" itemLabel="--None--"/>
                                                <apex:selectOptions value="{!manufactureOptions}"></apex:selectOptions>     
                                            </apex:selectList>
                                        </apex:outputPanel>
                                    </apex:outputPanel>
                                    <apex:outputField value="{!c.Vehicle_Manufacturer__c  }"  rendered="{!c.Status__c != 'Draft' && c.Status__c != 'New' && c.Status__c != 'Old'}"/>
                                </td>
                                <td>
                                    <apex:outputPanel rendered="{!c.Status__c == 'Draft' || c.Status__c == 'New' || c.Status__c == 'Old'}">
                                        <apex:outputPanel styleClass="requiredInput" layout="block" >
                                            <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                                            <apex:selectList value="{!c.Vehicle_Color__c}" id="carCol_ReqFld"  size="1" multiselect="false"  >
                                                <apex:selectOption itemValue="" itemLabel="--None--"/>
                                                <apex:selectOptions value="{!colorOptions}"></apex:selectOptions>                                                     
                                            </apex:selectList>
                                        </apex:outputPanel>
                                    </apex:outputPanel>
                                    
                                    <apex:outputField value="{!c.Vehicle_Color__c  }"  rendered="{!c.Status__c != 'Draft' && c.Status__c != 'New' && c.Status__c != 'Old'}"/>
                                </td>
                                <td>
                                    <apex:outputPanel rendered="{!c.Status__c == 'Draft' || c.Status__c == 'New' || c.Status__c == 'Old'}">
                                        <apex:outputPanel styleClass="requiredInput" layout="block" >
                                            <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                                            <apex:selectList value="{!c.Vehicle_Type__c}" id="carType_ReqFld"  size="1" multiselect="false"  >
                                                <apex:selectOption itemValue="" itemLabel="--None--"/>
                                                <apex:selectOptions value="{!vehicleTypeOptions}"></apex:selectOptions>                                                     
                                            </apex:selectList>
                                            
                                        </apex:outputPanel>
                                    </apex:outputPanel>
                                    <apex:outputField value="{!c.Vehicle_Type__c  }" rendered="{!c.Status__c != 'Draft' && c.Status__c != 'New' && c.Status__c != 'Old'}"/>
                                </td>                                
                                <td>                                    	
                                    <apex:outputPanel rendered="{!objSRFlow.Commercial_Activity__c == $Label.Membership}">
                                        <apex:outputPanel styleClass="requiredInput" layout="block" rendered="{!c.Status__c == 'Draft' || c.Status__c == 'New' || c.Status__c == 'Old'}">
                                            <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                                            <apex:inputField value="{!c.GD_GV__c}"/>
                                        </apex:outputPanel>   
                                        <apex:outputField value="{!c.GD_GV__c  }" rendered="{!c.Status__c != 'Draft' && c.Status__c != 'New' && c.Status__c != 'Old'}"/>
                                    </apex:outputPanel>
                                </td> 
                                <td>
                                    <apex:outputPanel rendered="{!objSRFlow.Commercial_Activity__c == $Label.Membership && (c.Status__c == 'Draft' || c.Status__c == 'New' || c.Status__c == 'Old')}">
                                        <apex:inputField value="{!c.NotCarOwner__c}"/>
                                    </apex:outputPanel>
                                    <apex:outputField value="{!c.NotCarOwner__c  }" rendered="{!objSRFlow.Commercial_Activity__c == $Label.Membership && (c.Status__c != 'Draft' && c.Status__c != 'New' && c.Status__c != 'Old')}"/>
                                </td>
                                <td>
                                    <apex:outputText value="{!c.Status__c}" />
                                    <apex:variable var="i" value="{!i+1}"  />  
                                    <apex:variable var="i" value="{!i-1}" rendered="{!(type == 'Replace Vehicle Details' && c.Status__c == 'Remove')}" />
                                </td>
                                
                            </tr>
                        </apex:repeat>  
                    </table>
                </apex:outputPanel>
                <br/>
                
                
                <!--Shikha-->
                <apex:outputPanel layout="block" id="buttonSection" >
                    
                    <!-- <apex:outputPanel rendered="{!!IsDetail && i < 4 && type != 'Remove Vehicle' 
&& type != 'Lost Card' && type != 'Lost Tag' && type != 'Replace Tag' 
&& type != 'Replace Card' && type != 'Damaged Card' && type != 'Damaged Tag'
&& type != 'Remove Employee Access'}"> -->
                    
                    <apex:outputPanel rendered="{!!IsDetail && (type == $Label.VehicleRegistration || type == $Label.MonthlyMembership || type == $Label.AddVehicle)
                                                && ((objSRFlow.Is_AOR__c == false && i < 4) ||  (objSRFlow.Is_AOR__c == true && i < 1))}">
                        
                        <div align="center" draggable="false" >
                            <input type="button" value="Add" class="btn" onClick="validateField()" />
                        </div>
                    </apex:outputPanel>
                    
                    <apex:outputPanel rendered="{!!IsDetail && i < 4 && type == $Label.ReplaceVehicle }">                        
                        <div align="center" draggable="false" >
                            <input type="button" value="Add New Vehicle Details" class="btn" onClick="validateFieldNew()" />
                            <!--<input type="button" value="Add Old Vehicle Details" class="btn" onClick="validateFieldOld()" />-->
                        </div>                                                  
                    </apex:outputPanel>
                    
                    
                    
                    <apex:commandButton value="Add Cars" id="AddRow" action="{!AddRow}" style="display:none" rendered="{!type == $Label.VehicleRegistration || type == $Label.MonthlyMembership || type == $Label.AddVehicle}" rerender="carParkingBlock" status="pleasewait"/>
                    <!--<apex:commandButton value="Add Cars Old" id="AddRowOld" action="{!AddRowOld}" style="display:none" rerender="carParkingBlock" status="pleasewait"  />-->
                    <apex:commandButton value="Add Cars Old" id="AddRowNew" action="{!AddRowNew}" style="display:none" rerender="carParkingBlock" status="pleasewait"  />
                    <apex:commandButton value="Get Car" id="getCar" action="{!getCar}" style="display:none" status="pleasewait" rerender="carParkingBlock,clientComponent,"/>
                </apex:outputPanel>
                
                
                
                
            </apex:outputPanel>
            
            <!-- Courier Details ------Editable------------->
            <apex:pageblockSection title="Courier Detail" columns="2" rendered="{!!IsDetail && !CONTAINS(type,'Remove') && objSRFlow.Commercial_Activity__c == $Label.Tenants}">
                
                
                <apex:pageBlockSectionItem HelpText="If selected as 'No' then you need to collect from the Car parking office">
                    <apex:outputLabel value="Would you like opt for free courier" />
                    <apex:outputPanel styleClass="requiredInput" layout="block" >
                        <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                        <apex:inputField value="{!objSRFlow.Avail_Courier_Services__c}" onchange="enableSection()" id="corService_ReqFld" />
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>
                
                <apex:pageBlockSectionItem >
                    <apex:outputText />
                </apex:pageBlockSectionItem>
                
                
                
                <apex:pageBlockSectionItem rendered="{!objSRFlow.Avail_Courier_Services__c = 'Yes'}">
                    <apex:outputLabel value="Receiver's First Name"/>
                    <apex:outputPanel styleClass="requiredInput" layout="block" >
                        <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                        <apex:inputField value="{!objSRFlow.Consignee_FName__c}" id="corFName_ReqFld" />
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>
                
                <apex:pageBlockSectionItem rendered="{!objSRFlow.Avail_Courier_Services__c = 'Yes'}">
                    <apex:outputLabel value="Receiver's Last Name"/>
                    <apex:outputPanel styleClass="requiredInput" layout="block" >
                        <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                        <apex:inputField value="{!objSRFlow.Consignee_LName__c}" id="corlName_ReqFld" />
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>
                
                <apex:pageBlockSectionItem rendered="{!objSRFlow.Avail_Courier_Services__c = 'Yes'}"
                                           helpText="Phone Format: +971XXXXXXXXX">
                    <apex:outputLabel value="Mobile Number"/>
                    <apex:outputPanel styleClass="requiredInput" layout="block" >
                        <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                        <apex:inputField value="{!objSRFlow.Courier_Mobile_Number__c}" id="corMobNum_ReqFld" />
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>
                
                <apex:pageBlockSectionItem rendered="{!objSRFlow.Avail_Courier_Services__c = 'Yes'}"
                                           helpText="Phone Format: +971XXXXXXXXX">
                    <apex:outputLabel value="Phone Number"/>
                    <apex:outputPanel styleClass="requiredInput" layout="block" >
                        <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                        <apex:inputField value="{!objSRFlow.Courier_Cell_Phone__c}" id="corPhnNum_ReqFld" />
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>
                
                <apex:pageBlockSectionItem id="registeredAddressSection" 
                                           rendered="{!objSRFlow.Avail_Courier_Services__c = 'Yes'}">
                    <apex:outputLabel value=" Use Registered Address?"/>                    
                    <apex:inputField value="{!objSRFlow.Use_Registered_Address__c}" onchange="enableSection()"  />                    
                </apex:pageBlockSectionItem>
                
                <apex:pageBlockSectionItem rendered="{!!objSRFlow.Use_Registered_Address__c && objSRFlow.Avail_Courier_Services__c = 'Yes'}">
                    <apex:outputLabel value="Alternate Address"/>
                    <apex:outputPanel styleClass="requiredInput" layout="block" >
                        <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                        <apex:inputField value="{!objSRFlow.Apt_or_Villa_No__c}" id="corAltAddress_ReqFld" />
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>
                
            </apex:pageBlockSection>
            
            
            
            <!----------------------------- ReadOnly Section --------------------------------->
            <!--Shikha - modified read only section-->
            <apex:pageBlockSection title="Request Details" rendered="{!IsDetail}">
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Type Of Request"/>
                    <apex:outputField value="{!objSRFlow.Commercial_Activity__c}" />
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
            <apex:pageblockSection title="Car Parking Details" columns="2" rendered="{!IsDetail}">
                
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="SR No."/>                    
                    <apex:outputField value="{!objSRFlow.Name}" />
                </apex:pageBlockSectionItem>
                
                <apex:pageBlockSectionItem >
                    <apex:outputText />
                </apex:pageBlockSectionItem>
                
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Type of Access"/>                    
                    <apex:outputField value="{!objSRFlow .Client_s_Representative_in_Charge__c}" />
                </apex:pageBlockSectionItem>
                
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Company Name" />                    
                    <apex:outputField value="{!objSRFlow .Customer__c}" />                    
                </apex:pageBlockSectionItem>
                
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Employee Name" />
                    <apex:outputField value="{!objSRFlow .Contact__c}" />
                </apex:pageBlockSectionItem>
                
                <apex:pageBlockSectionItem helptext="Do you require reserve parking?" rendered="{!type == $Label.VehicleRegistration || type == $Label.RemoveEmpAccess}">
                    <apex:outputLabel value="Do you want Reserve Parking?"/>                    
                    <apex:outputField value="{!objSRFlow .Sys_Requires_Security_Check_Amendments__c}"  />                    
                </apex:pageBlockSectionItem>
                
                <apex:pageBlockSectionItem rendered="{!objSRFlow.Commercial_Activity__c == $Label.Membership && (type == $Label.MonthlyMembership)}">
                    <apex:outputLabel value="Do you have DIFC ID?"/>                                 
                    <apex:outputField value="{!objSRFlow.DIFC_Sublease__c}"/>                                 
                </apex:pageBlockSectionItem>
                
                <apex:pageBlockSectionItem id="RegisteredAddress">
                    <apex:outputLabel value="Registered Address"/>                    
                    <apex:outputField value="{!objSRFlow.customer__r.Registered_Address__c}" />                    
                </apex:pageBlockSectionItem>
                
                <apex:pageBlockSectionItem rendered="{!objSRFlow.Submitted_Date__c != null}">
                    <apex:outputLabel value="Submitted Date"  />
                    <apex:outputField value="{!objSRFlow.Submitted_Date__c}" id="subDate" />
                </apex:pageBlockSectionItem>
                
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Status" />
                    <apex:outputField value="{!objSRFlow .External_Status_Name__c}" />
                </apex:pageBlockSectionItem>
                
                <apex:pageBlockSectionItem rendered="{!type == $Label.VehicleRegistration}">
                    <apex:outputLabel value="Registered Vehicle as entity"/>                    
                    <apex:outputField value="{!objSRFlow.Is_AOR__c}" /> 
                </apex:pageBlockSectionItem>
                
            </apex:pageBlockSection>
            
            <!-- Contact Details ------>
            <apex:pageblockSection title="Contact Details" columns="2" rendered="{!IsDetail}">
                
                
                <apex:pageBlockSectionItem id="EmployeePhone" helpText="Phone Format: +971XXXXXXXXX">                    
                    <apex:outputLabel value="Employee Phone No."/>                    
                    <apex:outputField value="{!objSRFlow.Contact_Number_During_Office_Hours__c}" />                    
                </apex:pageBlockSectionItem>
                
                <apex:pageBlockSectionItem id="EmployeeEmail">                    
                    <apex:outputLabel value="Employee Email Address"/>                    
                    <apex:outputField value="{!objSRFlow.Email_Address__c}" />                    
                </apex:pageBlockSectionItem>
                
                <apex:pageBlockSectionItem id="EmployeeIDCard" rendered="{!!IsPortalUser}">                    
                    <apex:outputLabel value="User ID Card #"/>                    
                    <apex:outputField value="{!objSRFlow.DIFC_License_No__c}" />                    
                </apex:pageBlockSectionItem>
                
                <apex:pageBlockSectionItem id="EmployeeEDate" rendered="{!!IsPortalUser}">                    
                    <apex:outputLabel value="Expiry Date"/>                    
                    <apex:outputField value="{!objSRFlow.Current_License_Expiry_Date__c}" />                    
                </apex:pageBlockSectionItem>
                <!--rendered="{!(type != 'New Vehicle Registration' && type != 'New Monthly Membership')}"-->
                <apex:pageBlockSectionItem rendered="{!objSRFlow.External_Status_Name__c == 'Approved' || (type!= $Label.VehicleRegistration && type != $Label.MonthlyMembership)}">
                    <apex:outputLabel value="Parking Card Number"/>
                    <apex:outputField value="{!objSRFlow.Incorporated_Organization_Name__c}"/>                	
                </apex:pageBlockSectionItem>                
            </apex:pageblockSection>
            <!-- Contact Details End ------>
            <!--Membership Options Start-->
            <apex:pageBlockSection title="Membership Options" columns="2" rendered="{!IsDetail && objSRFlow.Commercial_Activity__c = $Label.Membership}">
                <apex:pageBlockSectionItem id="Period">
                    <apex:outputLabel value="Frequency"/>
                    <apex:outputField value="{!objSRFlow.Commercial_Activity_Previous_Sponsor__c}"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem id="Frequency">
                    <apex:outputLabel value="Tenure"/>
                    <!--<apex:outputField value="{!objSRFlow.Mortgage_Amount__c}"/>-->
                    <apex:outputText value="{0,number,integer}">
                        <apex:param value="{!objSRFlow.Mortgage_Amount__c}"/>
                    </apex:outputText>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem id="FromDate">
                    <apex:outputLabel value="From Date"/>
                    <apex:outputField value="{!objSRFlow.Mortgage_Start_Date__c}"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem ></apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem id="EffectiveStartDate">
                    <apex:outputLabel value="Effective Start Date"/>
                    <apex:outputField value="{!objSRFlow.Agreement_Date__c}"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem id="toDate">
                    <apex:outputLabel value="Effective End Date"/>
                    <apex:outputField value="{!objSRFlow.Mortgage_End_Date__c}"/>
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
            <!--Membership Options End -->
            <!-- Read Only -->
            <apex:outputpanel id="ShareCapitalDetailRO" layout="block" rendered="{!IsDetail}">                
                <div class="pbSubheader brandTertiaryBgr tertiaryPalette"><img src="/img/s.gif" alt="Hide Section - Contact Details" class="hideListButton" id="img_CarParkingPage:carParkingFrm:carParkingBlock:j_id248" name="Contact Details" onclick="twistSection(this);" onkeypress="if (event.keyCode=='13')twistSection(this);" style="cursor:pointer;" tabindex="0" title="Hide Section - Contact Details" /><h3>Vehicles Detail</h3></div>                
                <apex:outputPanel >
                    <table  id="mans" class="list PBTable">
                        
                        <tr class="headerRow">
                            <apex:outputPanel rendered="{!CONTAINS(type,'Lost') ||CONTAINS(type,$Label.ReplaceCard) ||
                                                        CONTAINS(type,'Replace/Lost Tag') || CONTAINS(type,'Damaged')}">
                                <th class="headerRow" style="width:100px">Action </th>
                            </apex:outputPanel>
                            <th class="headerRow" style="width:100px">Tag Required?</th>
                            <th class="headerRow" style="width:100px">Registered In </th>
                            <th class="headerRow" style="width:100px">Category </th>
                            <th class="headerRow" style="width:100px">Plate Number </th>
                            <th class="headerRow" style="width:100px">Make</th>
                            <th class="headerRow" style="width:100px">Color</th>
                            <th class="headerRow" style="width:100px">Type</th> 
                            <th class="headerRow" style="width:100px">GD/GV</th>
                            <th class="headerRow" style="width:100px">Not an Owner</th>
                            <th class="headerRow" style="width:100px">Status</th>                            
                        </tr>
                        
                        <apex:repeat value="{!lstOfCars}" var="c">
                            <tr >                                
                                <apex:outputPanel rendered="{!CONTAINS(type,'Lost') ||CONTAINS(type,$Label.ReplaceCard) ||
                                                            CONTAINS(type,'Replace/Lost Tag') || CONTAINS(type,'Damaged')}">
                                    <td>
                                        <apex:outputField value="{!c.Change_Tag__c}"  />                                        
                                    </td>                                    
                                </apex:outputPanel>                                
                                <td>                                                                        
                                    <apex:outputField value="{!c.Is_Card_Required__c}" rendered="{!objSRFlow.Commercial_Activity__c == $Label.Tenants}"/>
                                </td>                                
                                <td>                                                                        
                                    <apex:outputText value="{!c.Registered_In__c}" />
                                </td>                                
                                <td>                                    
                                    <apex:outputText value="{!c.Other_Category__c}" rendered="{!c.Registered_In__c == 'Other'}" />
                                    <apex:outputText value="{!c.Category__c}" rendered="{!c.Registered_In__c != 'Other'}"  />
                                </td>
                                <td>                                                                       
                                    <apex:outputText value="{!c.Vehicle_Number__c}" />
                                </td>
                                <td>
                                    <apex:outputText value="{!c.Vehicle_Manufacturer__c}" />                                    
                                </td>
                                <td>
                                    <apex:outputText value="{!c.Vehicle_Color__c}" />                                    
                                </td>
                                <td>                                    
                                    <apex:outputText value="{!c.Vehicle_Type__c}" />                                    
                                </td>
                                <td>
                                    <apex:outputText value="{!c.GD_GV__c}"/>
                                </td>
                                <td>
                                    <apex:outputField value="{!c.NotCarOwner__c}"/> 
                                </td>
                                <td>                                    
                                    <apex:outputText value="{!c.Status__c}" />                                    
                                </td>                                
                            </tr>
                        </apex:repeat>                        
                    </table>
                    
                </apex:outputPanel>                 
            </apex:outputPanel>            
            <apex:pageblockSection title="Courier Detail" columns="2" rendered="{!IsDetail && !CONTAINS(type,'Remove') && objSRFlow.Commercial_Activity__c == $Label.Tenants}">
                                
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Would you like opt for free courier"/>                    
                    <apex:outputField value="{!objSRFlow.Avail_Courier_Services__c}" />                    
                </apex:pageBlockSectionItem>
                
                <apex:pageBlockSectionItem >
                    <apex:outputText />
                </apex:pageBlockSectionItem>
                
                <apex:pageBlockSectionItem rendered="{!objSRFlow.Avail_Courier_Services__c = 'Yes'}">
                    <apex:outputLabel value="Receiver's First Name"/>                    
                    <apex:outputField value="{!objSRFlow.Consignee_FName__c}" />                    
                </apex:pageBlockSectionItem>
                
                <apex:pageBlockSectionItem rendered="{!objSRFlow.Avail_Courier_Services__c = 'Yes'}">
                    <apex:outputLabel value="Receiver's Last Name"/>                    
                    <apex:outputField value="{!objSRFlow.Consignee_LName__c}" />                    
                </apex:pageBlockSectionItem>
                
                <apex:pageBlockSectionItem rendered="{!objSRFlow.Avail_Courier_Services__c = 'Yes'}" >
                    <apex:outputLabel value="Mobile Number"/>                    
                    <apex:outputField value="{!objSRFlow.Courier_Mobile_Number__c}" />                    
                </apex:pageBlockSectionItem>
                
                <apex:pageBlockSectionItem rendered="{!objSRFlow.Avail_Courier_Services__c = 'Yes'}">
                    <apex:outputLabel value="Phone Number"/>                    
                    <apex:outputField value="{!objSRFlow.Courier_Cell_Phone__c}" />                    
                </apex:pageBlockSectionItem>
                
                <apex:pageBlockSectionItem id="registeredAddressSection" 
                                           rendered="{!objSRFlow.Avail_Courier_Services__c = 'Yes'}">
                    <apex:outputLabel value=" Use Registered Address?"/>                    
                    <apex:outputField value="{!objSRFlow.Use_Registered_Address__c}" />                    
                </apex:pageBlockSectionItem>
                
                <apex:pageBlockSectionItem rendered="{!!objSRFlow.Use_Registered_Address__c && objSRFlow.Avail_Courier_Services__c = 'Yes'}">
                    <apex:outputLabel value="Alternate Address"/>                    
                    <apex:outputField value="{!objSRFlow.Apt_or_Villa_No__c}" />                    
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
            
        </apex:pageblock>        
    </apex:form>      
    <c:SearchClientsComponent rendered="{!!IsDetail}" id="clientComponent" 
                              customerId="{!objSRFlow.Customer__c}"                               
                              accountStatus="accountStatus" 
                              searchHeader="Search Employee"
                              searchLabel="Employee Name "
                              isSameClient="true"
                              searchWithLicenseNo="true"
                              serviceType="{!type}"
                              requestType="{!objSRFlow.Commercial_Activity__c}"/>
    
    
    
    <apex:relatedList list="Steps_SR__r" rendered="{!isDetail}"/>
    <apex:relatedList list="SR_Docs__r" rendered="{!isDetail}"/>
    <apex:relatedList list="SR_Price_Items1__r" id="priceLineItem" rendered="{!isDetail}" />
    
    <script>
    
    //May 30th,2018 - Added by Danish to disable links-->
    
    jQuery(window).load(function(){
        if(jQuery){
            
            jQuery(document.getElementById('CarParkingPage:priceLineItem_body')).find('tbody tr th a').each(function(){
                $(this).replaceWith(function() { return this.innerHTML; });
            })
        }
    });
    </script>
    
</apex:page>