<!-----Modification History--
----------------------------------------------------------------------------------------
 V.No   Date            Updated By        Description
 ----------------------------------------------------------------------------------------            
 v1.1	22/3/2021		Shikha			 Added required attribute for other 2 questions
------------>
<apex:page controller="CertificateofIncumbency" id="page" tabStyle="Service_Request__c" sidebar="false">
   <c:ProcessFlowHeader />
   <apex:stylesheet value="{!$Resource.DocumentCSS}/popup/reveal.css"/>
    <apex:includeScript value="{!$Resource.DocumentCSS}/popup/jquery.min.js"/>
    <apex:includeScript value="{!$Resource.DocumentCSS}/popup/jquery.reveal.js"/>
    <style type="text/css">
        .loader {
          z-index: 1200;
          position: absolute;
          margin-left: -60px;
          filter: Alpha(Opacity =70);
          opacity: 0.70;
          -moz-opacity: 0.70;
          top: 35%;
          left: 55%;
        }    
    .popupBackground {
        /* Background color */
        background-color:black;
        opacity: 0.20;
        filter: alpha(opacity = 20);
     
        /* Dimensions */
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 998;
        position: absolute;
    }
    
      /* This is for the message DIV */
    .PopupPanel {
        /* Background color */
        /*border: solid 2px #00205B;
        background-color: white;
         */
        /* Dimensions */
        left: 50%;
        width: 100px;
        //margin-left: -100px;
        border-radius: 15px
        top: 50%;
        height: 100px;
        margin-top: 200px;
        z-index: 999;
        position: fixed;
    }
    .required {color: red; font-weight: bold; font-size: large;}
    
     .customPopup{
            background-color:#fefdb9;
            border-style: solid;
            border-width: 2px;
            border-color:orange;
            left: 50%;
            padding:10px;
            position: absolute;
            z-index: 9999;
            width: 500px;
            margin-left: 0px;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 50%;
        }
        .pbSubheaderCustom {
    background-color: #747474!important;
    font-weight: bold;
    font-size: 91%;
    padding: 2px 2px 2px 5px;
    margin-top: 15px;
    overflow: hidden;
    margin-bottom: 2px;
    padding-left: 15px !important;
    color: #fff;
}
  .bPageBlock .detailList th, .bPageBlock .detailList td {
    vertical-align: top;
    text-align: left;
}
.bEditBlock input, .bEditBlock select, .bEditBlock img, .quickCreateModule input, .quickCreateModule select, .quickCreateModule img {
    vertical-align: middle;
    margin-right: 0em;
    padding-right: 18px;
}

.tbclass tr:nth-child(even) { background-color: #fff; } 

.selcountry select{width:120px !important;}

    </style>
       
    <style>
       body .pbBody table.list tr th, body .pbBody table.list tr td  {
            border: 1px;
        }
        .apexp .detailList .list td, .apexp .detailList .list th, .apexp .editPage .bPageBlock .detailList .list tr td, .apexp .editPage .bPageBlock .detailList .list tr th {
            border: 0px;
        }
        .tbclass nth-child(even) {background-color: #f2f2f2;}
        .bEditBlock img,.quickCreateModule img {width: 40px;}
    </style>
    
   <script>
      function CancelRequest(){
            if(document.getElementById('CancelLink')!=null){
                document.getElementById('CancelLink').click();
             }
        }
   </script>
   <script>
                   function checkboxuse(tag) {
                   alert(tag);
                        var menus  = document.getElementsByClassName("Teststyle");
                        if (tag.checked == true) {
                             for (var i = menus.length - 1; i >= 0; i--)
                             {
                                    menus[i].disabled = true;
                             }
                            tag.disabled = false;
                        }
                       else {
                             for (var i = menus.length - 1; i >= 0; i--)
                             {
                                     menus[i].disabled = false;
                             }
                         }
                     }     
              </script>
   
   <!-- Page start here -->   
   <table class="wrap-container"  width="100%">
      <tbody>
         <tr>
            <td class="sidebar" style="width:20%;">
               <div>
                  <apex:outputlabel id="hdnCurrentPageId" value="{!strPageId}" style="display:none;"/>
                  <c:DPFSideBarComponent id="MenuComp" curPageId="{!strPageId}" rerender="MainPnl"/>
               </div>
            </td>
            <td id="bodyCell" class="oRight" style="width:80%;">
               <div  style="padding-left: 5px;">
                  <apex:form id="clientForm">
                  <input type="hidden" name="currentvfpage" value="{!$CurrentPage.Name}"/>
                    <apex:actionStatus id="pleasewait" stopText="">
                    <apex:facet name="start">
                        <div>
                            <div class="popupBackground"></div>
                            <div class="PopupPanel">
                                <img src="{!$Resource.LoadingImage}"/>
                            </div>
                        </div>
                    </apex:facet>
                    </apex:actionStatus>
    
                     <!-- START OF CANCEL COMPONENTS -->
                     <!-- 
                        * NOTE: If a page needs a cancel action, you must add this section inside the apex form. The script
                        * is already included in the process flow scripts component 
                        -->
                     <a data-reveal-id="cancelModal" id="CancelLink" data-animation="fade" style="display:none;"></a>
                     <div id="cancelModal" class="reveal-modal" style="display:block;">
                        <a class="close-reveal-modal">&#215;</a>
                        <apex:outputpanel layout="block" style="margin-top:15px;">
                           <p style="font-weight:bold;">
                              <label>Cancel will delete all the information of your application.</label><br/>
                           </p>
                           <p style="font-weight:bold;">
                              <label>Are you sure you want to cancel the Request?</label>
                           </p>
                           <apex:commandbutton value="Confirm" action="{!CancelEco}" rerender="pleasewait" status="pleasewait" immediate="true"/>
                        </apex:outputpanel>
                     </div>
                     <!-- END OF CANCEL COMPONENTS -->
                     <apex:outputPanel id="MainPnl" layout="block" >
                        <apex:actionfunction name="InvokeAction" action="{!DynamicButtonAction}" status="pleasewait" rerender="clientDetailsPnl,hdnCurrentPageId,msg,MainPnl,messageWrapper" />
                        <apex:actionfunction name="NavigatePage" action="{!goTopage}" status="pleasewait" rerender="messageWrapper">
                           <apex:param name="NextPageId" value="" assignTo="{!strNavigatePageId}"/>
                        </apex:actionfunction>
                        <apex:inputhidden id="hdnActionId" value="{!strActionId}"/>
                        <apex:outputpanel id="DyncPnl" styleClass="dyncPanel">
                           <apex:outputPanel layout="block" styleClass="pageTitle">{!pageTitle}</apex:outputPanel>
                           <apex:outputPanel layout="block" styleClass="pageDescription">
                              <apex:outputText escape="false" value="{!pageDescription}" />
                           </apex:outputPanel>
                        </apex:outputpanel>
                        <apex:outputPanel id="messageWrapper">
                           <apex:pagemessages id="msg" escape="false"/>
                        </apex:outputPanel>
                         <apex:actionStatus startText="Processing..." id="channelStatus"/>
                        <apex:dynamicComponent componentValue="{!DyncPgMainPB}"/>
                        </apex:outputPanel>
                        <apex:outputPanel >
                            <apex:pageBlock mode="Edit"  id="Pb1">
                                <apex:pageBlockButtons id="PBBs1" location="bottom" >
                                    <apex:commandButton id="Savebut" action="{!SaveConfirmation}" value="Save" reRender="Pb1,messageWrapper" rendered="{!isEditMode}" status="pleasewait" />
                                    <apex:commandButton id="editId" action="{!EditSR}" value="Edit" reRender="Pb1" rendered="{!!isEditMode}" status="pleasewait" />
                                    <apex:commandButton value="Cancel" onclick="CancelRequest();return false;"/>
                                </apex:pageBlockButtons>
                                    <apex:outputPanel rendered="{!isEditMode}">
                                    <apex:pageBlockSection columns="1" collapsible="false" title=" Service Request Detail">
                                        <!-- <apex:InputField label="Request No" value="{!Service_Request__c.Name}"/> 
                                        <apex:outputText label="Service Type" value="{!SRRecType}"/>-->
                                        <apex:outputText label="Client" value="{!SRData.Customer__r.Name}"/>
                                        <apex:InputField label="Do you wish to add invidual passport numbers/body corporate place of registration on the certificate ?" value="{!SRData.Doyouwishtoaddpassportnumbers__c}" required="true"/>
                                        <apex:pageBlockSectionItem >
                                            <!-- <apex:outputLabel >Do you wish to add {!IF(OR(legalType=='Private Company',legalType=='Public Company',legalType=='Protected Cell Company',legalType=='Investment Company'),'Shareholder',if(OR(legalType=='GP',legalType=='RP'),'General Partner',if(OR(legalType=='LLP',legalType=='RLLP'),'Member',if(legalType=='NPIO','Founding Member',if(legalType=='LP','Partner',if(legalType=='RLP','Partner',if(legalType=='Foundation','Founder','Shareholder')))))))} details?</apex:outputLabel> -->
                                            <apex:outputLabel rendered="{!OR(legalType=='LTD',legalType=='Private Company',legalType=='Public Company',legalType=='Protected Cell Company',legalType=='Investment Company')}">Do you wish to add Shareholder details?</apex:outputLabel>
                                            <!--v1.0 changes-->
                                             <apex:inputField required="true" value="{!SRData.Confirm_Change_of_Entity_Name__c}" rendered="{!OR(legalType=='LTD',legalType=='Private Company',legalType=='Public Company',legalType=='Protected Cell Company',legalType=='Investment Company')}">
                                                <apex:actionSupport event="onchange" reRender="Pb1" status="pleasewait" />
                                            </apex:inputField>
                                        </apex:pageBlockSectionItem>
                                        <!--v1.0 changes-->
                                        <apex:inputField label="Do you wish to add % ownership for each shareholder?" required="true" value="{!SRData.Confirm_Change_of_Trading_Name__c}" rendered="{! AND(SRData.Confirm_Change_of_Entity_Name__c=='Yes',OR(legalType=='LTD',legalType=='Private Company',legalType=='Public Company',legalType=='Protected Cell Company',legalType=='Investment Company'))}"/>
                                    </apex:pageBlockSection>
                                   <!-- <apex:pageBlockSection columns="2" id="Correspondence" collapsible="false" title="Correspondence Details">
                                        <apex:InputField label="Email" value="{!SRData.Email__c}"/>
                                        <apex:InputField label="Mobile" value="{!SRData.Send_SMS_To_Mobile__c}"/>
                                    </apex:pageBlockSection> -->
                                </apex:outputPanel>
                            <!------------Read only mode------------>
                                <apex:outputPanel rendered="{!!isEditMode}" id="readmode">
                                    <apex:pageBlockSection columns="1" title=" Service Request Detail">
                                        <!-- <apex:OutputField label="Request No" value="{!SRData.Name}"/>
                                        <apex:OutputField label="Service Type" value="{!SRData.Service_Type__c}"/>
                                        <apex:OutputField label="Client" value="{!SRData.Customer__c}"/>
                                        <apex:OutputField label="Status" value="{!SRData.External_Status_Name__c}"/>
                                        <apex:OutputField label="Submitted Date" value="{!SRData.Submitted_Date__c}" rendered="{!SRData.Submitted_Date__c!=null}"/>
                                        <apex:OutputField label="Entity" value="{!SRData.Entity_Name__c}"/>  -->
                                        <apex:pageBlockSectionItem >
                                         <apex:outputLabel > Client</apex:outputLabel>
                                        <apex:OutputField value="{!SRData.Customer__c}"/>
                                        </apex:pageBlockSectionItem>
                                        <apex:pageBlockSectionItem >
                                        <apex:outputLabel > Do you wish to add invidual passport numbers/body corporate place of registration on the certificate ?</apex:outputLabel>
                                        <apex:OutputField value="{!SRData.Doyouwishtoaddpassportnumbers__c}" />
                                        </apex:pageBlockSectionItem>
                                        <apex:pageBlockSectionItem >
                                           <!-- <apex:outputLabel >Do you wish to add {!IF(OR(legalType=='Private Company',legalType=='Public Company',legalType=='Protected Cell Company',legalType=='Investment Company'),'Shareholder',if(OR(legalType=='GP',legalType=='RP'),'General Partner',if(OR(legalType=='LLP',legalType=='RLLP'),'Member',if(legalType=='NPIO','Founding Member',if(legalType=='LP','Partner',if(legalType=='RLP','Partner',if(legalType=='Foundation','Founder','Shareholder')))))))} details?</apex:outputLabel> -->
                                           <apex:outputLabel rendered="{!OR(legalType=='LTD',legalType=='Private Company',legalType=='Public Company',legalType=='Protected Cell Company',legalType=='Investment Company')}">Do you wish to add Shareholder details?</apex:outputLabel>
                                             <apex:outputField value="{!SRData.Confirm_Change_of_Entity_Name__c}" rendered="{!OR(legalType=='LTD',legalType=='Private Company',legalType=='Public Company',legalType=='Protected Cell Company',legalType=='Investment Company')}"></apex:outputField>
                                        </apex:pageBlockSectionItem>
                                        <apex:pageBlockSectionItem rendered="{! AND(SRData.Confirm_Change_of_Entity_Name__c=='Yes',OR(legalType=='LTD',legalType=='Private Company',legalType=='Public Company',legalType=='Protected Cell Company',legalType=='Investment Company'))}">
                                            <apex:outputLabel >Do you wish to add % ownership for each shareholder?</apex:outputLabel>
                                        <apex:OutputField value="{!SRData.Confirm_Change_of_Trading_Name__c}"></apex:outputField>
                                         </apex:pageBlockSectionItem>
                                    </apex:pageBlockSection>
                                </apex:outputPanel>
                                 </apex:pageBlock>
                        </apex:outputPanel>
                  </apex:form>
                  <apex:relatedList list="Steps_SR__r"/>
<apex:relatedList list="SR_Docs__r"/>
<apex:relatedList list="SR_Price_Items1__r"/>
               </div>
            </td>
         </tr>
      </tbody>
   </table>
   <c:ProcessFlowScripts hiddenActionId="{!$Component.clientForm.hdnActionId}"/>
</apex:page>