<apex:page id="page" tabStyle="Service_Request__c" standardController="Service_Request__c" showHeader="false" sidebar="false" >
   <apex:pageBlock mode="maindetail" >
        <apex:pageBlockTable value="{!Service_Request__c.Amendments__r}" var="amend1">
        
            
            <apex:column value="{!amend1.Given_Name__c}"/>
            <apex:column value="{!amend1.Family_Name__c}"/>
            <apex:column headerValue="Passport Number">
                <apex:outputText value="{!amend1.Passport_No__c}" rendered="{!IF(amend1.Relationship_Type__c =='Corporate Communication',false,true)}"/>
            </apex:column> 
            <apex:column value="{!amend1.Person_Email__c}"/>
            <apex:column value="{!amend1.Mobile__c}"/>
            <apex:column value="{!amend1.Relationship_Type__c}"/>
        </apex:pageBlockTable>
    </apex:pageBlock>
</apex:page>