<apex:page standardController="Service_Request__c" id="page" sidebar="false" showHeader="false">
    <Style>
    .Custom18Tab .tertiaryPalette, .individualPalette .Custom18Block .tertiaryPalette, .layoutEdit .individualPalette .Custom18Block .tertiaryPalette{
    background-color: Transparent !important;
    }
    .pbSubsection {
    background-color: white !important;
    }
    .pbSubheader{
    color: black !important;
    }
    .Custom18Tab .secondaryPalette, .individualPalette .Custom18Block .secondaryPalette {
    background-color: white;
    border-color: white;
    }
    </Style>
    <apex:pageBlock >
        
        <apex:pageBlockSection columns="2" collapsible="False">
            <apex:pageBlockSectionItem >
                <apex:outputLabel value="Type Of Request"/>
                <apex:outputText value="{!Service_Request__c.Type_of_Request__c}"/>
            </apex:pageBlockSectionItem>
            <apex:pageBlockSectionItem rendered="{!IF(Service_Request__c.Type_of_Request__c !='CRS',true,false)}">
                <apex:outputLabel value="Global Intermediary identification Number (GIIN)" />
                <apex:outputText value="{!Service_Request__c.Summary__c}" />
            </apex:pageBlockSectionItem>
        </apex:pageBlockSection>
        
    </apex:pageBlock>
</apex:page>