<apex:page docType="html-5.0" sidebar="false" cache="true" standardStylesheets="false" showHeader="false" controller="CompanyOverviewCls" action="{!AccountBalance}">
        
    <apex:stylesheet value="{!URLFOR($Resource.difc_portal, 'DIFC_CommunityResource/css/normalize.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.difc_portal, 'DIFC_CommunityResource/css/difc.min.css')}"/>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"/>    
    <style>
    
        form input[type="text"] {width: 100%; font-size: 13px; height: 2.21429rem;}
        label.inline {font-size: 13px;}
        .contact-box,.sidebar-box {border: none;text-align: left;}
        [class*="column"] + [class*="column"]:last-child {padding-right: 0;}
        
        .contact-box .payment-options{margin-bottom: 15px;}
        .contact-box .button {
            margin-bottom: 5px;
            margin-top: 15px;
            padding: 10px 10px;
            width: 100%;
            font-weight: bold;
        }       
        
        .contact-box form{margin-bottom: 20px;}         
        .contact-box .payment-help{
            text-decoration: underline;
            color: #1d2859;
            font-weight: bold;
            font-size: 14px; 
            display: inline-block;
            margin-left: 5px;
        }
/*      .row.bottom-5 label.inline{padding: .5rem 0;}
        .row.bottom-5{margin-bottom: 5px;} */       
        
        hr {margin: 0.6rem 0 0.9rem;}
        form.company-overview{margin: 0;}
        
        .contact-box,
        .sidebarbox .header {padding: 18px 10px 0px 10px;}
        .contact-box {margin-top: 10px; padding-top: 10px;} 
        
        .help { line-height: 1.5rem; text-alighn: left; display: table;}
        .help .icon_help { 
            /*
            margin: 0 5px 0 0;
            float: left;*/
            display: table-cell;
        }    
        .portal-balance.currency-balance {
            position: absolute;
            top: 10px;
            right: 1px;
            font-size: 11px;
        }                 
        span.currency-balance {
            position: absolute;
            top: 8px;
            right: 5px;
        } 
        .balance-input { position: relative; }
        .last-update {display: inline-block; margin: 5px 0 10px; font-size: 12px; line-height: 20px; width: 100%; position:relative;}
        .last-update a { position: absolute; right: 0;}
        
        .header{
            font-size:25px;
            font-family:cursive;
            background-color:lightgray;
            cursor:pointer;
        }
        
        .sidebarbox {
            overflow-y: scroll;
            height: 900px;
        }
        
        
        .black_overlay{
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index:1001;
    -moz-opacity: 0.8;
    opacity:.80;
    filter: alpha(opacity=80);
}

.white_content {
    display: none;
    position: absolute;
    top: 10%;
    left: 35%;
    width: 600px;
    height: 380px;
    padding: 5px;
    border: 5px solid #00A3E0;
    background-color: white;
    z-index:1002;
    overflow: auto;
}



.tooltip_new {
  position: relative;
  display: inline-block;

}

.tooltip_new .tooltiptext {
  visibility: hidden;
  width: 220px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip_new .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip_new:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}



    </style>
    <apex:includeScript value="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" />
    <!-- <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script> --> 
    
    <script>
    function refreshing_balance() {
        jQuery("form .last-update i.fa-lg.fa-refresh").addClass("fa-spin");
        jQuery("form .balance-update-status small").attr('style', 'display: none;');        
    }
    function balance_updated() {
        jQuery("form .last-update i.fa-lg.fa-refresh").removeClass("fa-spin");                            
    }
    </script>
        <div class="sidebarbox">
            <div class="header">
                <h4>Account Overview</h4>            
                <!-- <hr/> -->
            </div>
            <apex:form id="company-overview" styleClass="sidebar-box company-overview">
            <apex:actionFunction name="getAccountBalance" action="{!AccountBalance}" />
            <apex:outputPanel layout="none" rendered="{!IF(isFitOutContractor && contractorName != companyName,false,true)}"  >
                <div class="row">
                    <div class="small-2 columns">
                        <label for="operatingName-label" class="left inline">Name</label>
                    </div>
                    <div class="small-10 columns">
                        <input type="text" id="operatingName-label" disabled="disabled" value="{!CompanyName}"/>
                    </div>
                </div>     
            </apex:outputPanel>
            <apex:outputPanel layout="none" rendered="{!IF(isFitOutContractor && contractorName != '' && contractorName != companyName,true,false)}"  >
                
                <apex:outputPanel layout="none" rendered="{!CompanyName != '' && isFitOutContractor}" >
                    <div class="row">
                        <div class="small-3 columns">
                            <label for="operatingName-label" class="left inline">Client Name</label>
                        </div>
                        <div class="small-9 columns">
                            <input type="text" id="operatingName-label" disabled="disabled" value="{!CompanyName}"/>
                        </div>
                    </div>     
                </apex:outputPanel>
                
                 <div class="row">
                    <div class="small-3 columns">
                        <label for="operatingName-label" class="left inline">Contractor Name</label>
                    </div>
                    <div class="small-9 columns">
                        <input type="text" id="operatingName-label" disabled="disabled" value="{!contractorName}"/>
                    </div>
                </div>
            </apex:outputPanel>
            <apex:outputPanel rendered="{!isPortalBalanceVisible}" > <!-- Removed by Claude. 18-8-2016. => Contractors will not be able to view this section rendered="{!IF($Profile.Name='DIFC Contractor Community User Custom',false,true)}"  -->
                <div class="row">   
                    <div class="small-5 columns">                   
                        <label for="pbalance-label" class="left inline">Portal Balance</label>
                    </div>
                    <div class="small-7 columns">
                        <span class="portal-balance currency-balance">AED</span>                     
                         <input type="text" id="pbalance-label" disabled="disabled" value="{!PortalBalanceFormatted}"/>
                        <div> 
                            <apex:actionStatus id="refresh-balance-status" startStyleClass="updating" stopStyleClass="updated"
                                        onstart="return refreshing_balance()" onstop="return balance_updated()"/>
        
                            <apex:outputPanel styleClass="last-update" id="portalBalanceUpdate">    
                               As of <span>
        <!--                       {!Day(LastUpdatedDate)}-{!Month(LastUpdatedDate)}-{!Year(LastUpdatedDate)}&nbsp; -->
                               {!Hours}:{!Minutes}:{!Seconds}</span>
                                <apex:commandLink action="{!AccountBalance}" title="Refresh Balance" status="refresh-balance-status" rerender="company-overview">
                                    <i class="fa fa-lg fa-refresh"></i>
                                    <apex:param value="Page" name="CallType" assignTo="{!CallType}" /> 
                                </apex:commandLink>                        
                                <!--<a href="javascript:void(0)"><i class="fa fa-lg fa-refresh"></i></a>-->                        
                            </apex:outputPanel>                          
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="small-5 columns">                   
                    <!-- <label for="pbalance-label" class="left inline">PSA Deposit</label> -->
                    </div>
                    <div class="small-7 columns">
                   
                    </div>                    
                </div>
                <div class="row">   
                    <div class="small-5 columns">                   
                   <!-- <label for="pbalance-label" class="left inline">PSA Deposit</label> -->
                    </div>
                    <div class="small-7 columns">
                    <!--
                        <span class="currency-balance">AED</span>                     
                        <input type="text" id="pbalance-label" disabled="disabled" value="{!PSADeposit}"/>
                        
                        <apex:actionStatus id="refresh-balance-status" startStyleClass="updating" stopStyleClass="updated"
                                    onstart="return refreshing_balance()" onstop="return balance_updated()"/>
    
                        <apex:outputPanel styleClass="last-update" id="portalBalanceUpdate">    
                           As of <span>
                           {!Hours}:{!Minutes}:{!Seconds}</span>
                            <apex:commandLink action="{!AccountBalance}" title="Refresh Balance" status="refresh-balance-status" rerender="company-overview">
                                <i class="fa fa-lg fa-refresh"></i>
                                <apex:param value="Page" name="CallType" assignTo="{!CallType}" /> 
                            </apex:commandLink>                        
                        </apex:outputPanel>
                        -->
                    </div>
                </div>
            </apex:outputPanel>       
              
            <apex:outputPanel layout="block" rendered="{!IF( IsRorpClient || isEventOrganizer || isFitOutContractor,false,true)}">
              <div class="row">
                <div class="small-5 columns">
                    <label for="vgaurantee-label" class="left inline">PSA Deposit</label>
                </div>
                <div class="small-7 columns">
                    <span class="portal-balance currency-balance">AED</span>
                    <input type="text" id="vgaurantee-label" disabled="true" value="{!PSADepositFormatted}"/>
                </div>
              </div>
              <div class="row">
                <div class="small-5 columns">
                    <label for="avialableVG-label" class="left inline">PSA Available</label>
                </div>
                <div class="small-7 columns">
                    <span class="portal-balance currency-balance">AED</span>
                    <input type="text" id="avialableVG-label" disabled="true" value="{!PSAAvailableFormatted}"/>
                </div>
              </div>

                
              <div class="row bottom-5">
                <div class="small-8 columns">
                  <label for="totalVisasAvailable-label" class="left inline">Employment Quota</label>
                </div>
                <div class="small-4 columns">
                  <input type="text" id="totalVisasAvailable-label" disabled="disabled" value="{!VisaQuota}"/>
                </div>
              </div>
              <div class="row bottom-5">
                <div class="small-8 columns">
                  <label for="totalVisasIssued-label" class="left" style="font-weight: bold;">Number of Employees</label>
                </div>
                <div class="small-4 columns">
<!--                   <input type="text" id="totalVisasIssued-label" disabled="disabled" value="{!VisaIssued}"/> -->
                </div>
              </div>
              <div class="row bottom-5">
                <table border="0" style="width:100%">
                    <tr class="header">
                        <td colspan="2">
                            <div class="small-8 columns" style="width: 62.66667%;">
                                <label for="totalVisasIssued-label" class="left">Current</label>
                            </div>
                            <div class="small-4 columns">{!VisaIssued}</div>
                        </td>
                    </tr>
                    <tr>
                        <td>Sponsored Employees</td><td>{!sponsoredCurrent}</td>
                    </tr>
                    <tr>
                        <td>GCC National</td><td>{!GCCCurrent}</td>
                    </tr>
                    <tr>
                        <td>Seconded Employees</td><td>{!secondedCurrent}</td>
                    </tr>
                    <tr>
                        <td>Temporary Employees</td><td>{!temporaryCurrent}</td>
                    </tr>
                </table>
              </div>
              <div class="row bottom-5">
                <table border="0" style="width:100%">
                    <tr class="header">
                        <td colspan="2">
                            <div class="small-8 columns" style="width: 62.66667%;">
                                <label for="totalVisasIssued-label" class="left">Pipeline</label>
                            </div>
                            <div class="small-4 columns">{!PipelineQuota}</div>
                        </td>
                    </tr>
                    <tr>
                        <td>Sponsored Employees</td><td>{!sponsoredPipeline}</td>
                    </tr>
                    <tr>
                        <td>GCC National</td><td>{!GCCPipeline}</td>
                    </tr>
                    <tr>
                        <td>Seconded Employees</td><td>{!secondedPipeline}</td>
                    </tr>
                    <tr>
                        <td>Temporary Employees</td><td>{!temporaryPipeline}</td>
                    </tr>
                </table>
              </div>
              <div class="row balance-update-status">
                    <apex:outputPanel rendered="{!NOT(BalanceFetchSuccessfull)}">
                        <small class="error" style="display: inline-block; margin: auto; line-height: inherit;">{!BalanceUpdateFailedErrorMessage}</small>
                    </apex:outputPanel>
                </div>
            </apex:outputPanel>
            
                <apex:outputPanel rendered="{!NOT(isPortalBalanceVisible)}">
                    <div class="row balance-update-status">
                        <small class="error" style="display: block;  background-color: #00A3E0!important; margin: auto; line-height: inherit;">Wallet is not yet available.</small>
                    </div>
                </apex:outputPanel>
                
<!--                 
              <a href="#" class="medium secondary button" onclick="getAccountBalance();">Get Account Balance</a> 
              <div class="row bottom-5">
                <div class="small-8 columns">
                  <label for="activeLicenses-label" class="left inline">Number of Active Licenses</label>
                </div>
                <div class="small-4 columns">
                  <input type="text" id="activeLicenses-label" disabled="true" placeholder="1"/>
                </div>
              </div> -->
              <div class="row balance-update-status">
                    <apex:outputPanel rendered="{!NOT(BalanceFetchSuccessfull)}">
                        <small class="error" style="display: inline-block; margin: auto; line-height: inherit;">{!BalanceUpdateFailedErrorMessage}</small>
                    </apex:outputPanel>
                </div>
            </apex:form>              
              
              <hr style="margin: -1.4rem 0 0.9rem;"/>
              <apex:outputPanel rendered="{!isPortalBalanceVisible}" > <!-- Removed by Claude. 21-08-2016 rendered="{!IF($Profile.Name='DIFC Contractor Community User Custom',false,true)}"  -->
              <div class="sidebar-box contact-box">
                <h4>Top up Balance</h4>
                <h5 style="text-transform: capitalize;">Choose Payment Option </h5>              
                <form id="topupBalance" data-abide="ajax">
                  <div class="row payment-options">
                  
                    <div paymentType="bank">
                        <input type="radio" name="pBalance" value="" id="pBank"/><label for="pBank">Bank Payment</label>
                    </div>                   
                    <div paymentType="cash" class="tooltip_new">
                        <input type="radio" name="pBalance" value="" id="pCash"/><label for="pCash">Pay By Cash</label>
                        
                        <span class="tooltiptext">You must proceed to Registry Services – Cashier to deposit any amount paid by cash.
                         </span>
                    
                    
                    </div>
                    <div paymentType="cheque" class="tooltip_new">
                        <input type="radio" name="pBalance" value="" id="pCheque"/><label for="pCheque">Pay By Cheque</label>
                        
                         <span class="tooltiptext">You must proceed to Registry Services – Cashier to deposit any amount paid by cheque.
                         <br /> <br />
                         Please be advised that we can only accept cheques made in AED Dirhams.</span>
                         
                    </div>
                    <div paymentType="online">
                        <input type="radio" name="pBalance" value="" id="pOnline"/><label for="pOnline">Pay By Card</label>
                    </div>                   
                  </div>
                  <div class="balance-input">
                    <div class="row">
                        <span class="currency-balance">AED</span>
                        <input type="text" id="balance-input" required="required" pattern="^[1-9]\d{0,}(?:\.\d{1,2})?$" placeholder="Enter top-up amount here..."/>
                        <small class="error">Please enter valid amount.</small>
                    </div>
                  </div>
                  <!--<a href="#" class="medium secondary button">Top-up Balance</a>-->
                    <input class="medium secondary button" type="submit" value="Top-up Balance"/>
                </form>
                
                <div class="help">
                
                    <span class="icon_help"></span>
                    <a class="payment-help" 
                    
                      href="javascript:void(0)" onclick="window.parent.location='{!$Site.Prefix}/faq#ROC-22'">How to deposit money to DIFC using cheque or cash?</a>
                </div >
                
                <!-- Uncommnet the below html to enable CRS and FATCA  for customers--> 

<!--
                 
                        <div class="help">
                        <ul>
                        
                         <apex:outputPanel rendered="{!(companyType=='Financial - related' || (companyType=='Non - financial' && FATCAEligibilitytoNonRegComp == true)) && IsCompanyServices}">
                        <li>
                            <a class="payment-help" href="javascript:void(0)" onclick="window.parent.location='{!$Site.Prefix}/a12/l'">FATCA Submit</a>
                        </li>
                        <li>
                            <a class="payment-help" href="javascript:void(0)" onclick="window.parent.location='{!$Site.Prefix}/a2j'">CRS Submit</a>    &nbsp;&nbsp;  <a href="{!$Site.Prefix}/apex/CRS_FAQ" target="_blank" >help ?</a>   
                         </li>
                        </apex:outputPanel> 
                        
                        <li>
                        <apex:outputPanel rendered="{!(companyType=='Financial - related' || (companyType=='Non - financial' && FATCAEligibilitytoNonRegComp == true)) && renderGIINSection == true && IsCompanyServices}">
                         <a class="payment-help" href="javascript:void(0)" onclick="window.parent.location='{!$Site.Prefix}/apex/EnterGIIN'">Enter GIIN</a>
                        </apex:outputPanel>  
                         </li>
                         
                         </ul>
                        </div>
               
                --> 
                <p>
                
                
                
<div id="light" class="white_content">
        
        
        

        <table width="98%" >
        <tr>
        <td  >
        <h4 style="color:#00A3E0;">Value Added Tax (VAT)</h4>
        </td>
        </tr>
        <tr style="background-color: white;">
        <td style="background-color: white;">
        <p>
Effective <b>1 January 2018</b>, the UAE Government will be introducing Value Added Tax (VAT) at a standard rate of 5% applicable to the majority of goods and services in the UAE. 
</p>
<p>All businesses based in the UAE must be registered with the Federal Tax Authority prior to 1 January 2018 in order to receive a Tax Registration Number.




</p>
        </td>
        
        
        </tr>
        
        <tr>
            <td><apex:form >
                <table width="90%" border="0">
                <tr>
                <td>Please enter your Tax Registration Number<spam style="color:red;"> *</spam></td>
                <td>

               
                </td>
                </tr>
                
                    <tr  style="background-color: white;">
                <td></td>
                <td  style="background-color: white;">
               
               
                
                <a onclick = "document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'">Skip For Now</a>
                </td>
                </tr>
                
                </table>
                </apex:form>
  
            </td>
        </tr>
        
        </table>
        
         </div>
        
        
        <div id="fade" class="black_overlay"></div>
         <apex:outputPanel layout="none" rendered="{!isVATOnly}" > 
                
                        <ul>
                      <b>  Quick Link</b>
                        <li>
                               <a href="javascript:void(0)" onclick="window.parent.location='{!$Site.Prefix}/apex/VAT_Form'">VAT Update</a>
                        </li>                
                             </ul>
                </apex:outputPanel>
                </p>
                
                
              
                
                   
              
              
              </div>
            </apex:outputPanel>
    </div>

    <script>var __sfdcSessionId = '{!GETSESSIONID()}';
    
    function pageLoad()
         {
         
         document.getElementById('light').style.display='block';
         document.getElementById('fade').style.display='block';
         }
         
    
    </script>
    
    
    <script src="../../soap/ajax/31.0/connection.js" type="text/javascript"></script>    
    <script src="../../soap/ajax/31.0/apex.js" type="text/javascript"></script>
    
    
    
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>  -->
    <apex:includeScript value="{!URLFOR($Resource.difc_portal, 'DIFC_CommunityResource/js/foundation.min.js')}"/> 

    <apex:includeScript value="{!URLFOR($Resource.difc_portal, 'DIFC_CommunityResource/js/difc.min.js')}"/>
    
    <!-- <script src="{!URLFOR($Resource.difc_portal, 'DIFC_CommunityResource/js/foundation.min.js')}"></script> 

    <script src="{!URLFOR($Resource.difc_portal, 'DIFC_CommunityResource/js/difc.min.js')}"></script> -->  

    <script>
        var __sfdcSessionId_tmp = "{!$Api.Session_ID}";
    
         sforce.connection.init(__sfdcSessionId_tmp, "{!$Site.Prefix}/services/Soap/u/31.0");
        UserContext.siteUrlPrefix = "{!$Site.Prefix}";
    
        var amount_patterRegExp = "^[1-9]\d{0,}(?:\.\d{1,2})?$"; //greater than 1 and till 2 decimal points
        
        jQuery(function(){
            DIFCPayment.init("{!$Label.Transaction_URL}", "{!CustomerId}", "{!ReceiptPrefix}", "{!BPNumber}", "{!PaymentChecqueAmount_ElemId}");
        })
        jQuery(document).foundation();
        
        $('tr').hide().filter(function () {
            return $(this).find('td[colspan]').length;
        }).addClass('header').css('display', 'table-row').click(function () {
            $(this).nextUntil('tr.header').css('display', function (i, v) {
                return this.style.display === 'table-row' ? 'none' : 'table-row';
            });
        });
    </script>
</apex:page>