<apex:page id="AccountInfoPg" tabStyle="Company_Info__tab" standardcontroller="Account" extensions="CompanyInfoCls" readonly="true">
<style type="text/css">
.listHoverLinks,.actionColumn, .listRelatedObject.contactBlock,.pbButton .btn,.pbButtonb .btn,.pShowMore a:first-child ~ *{ /*, #topButtonRow,#bottomButtonRow*/
    display: none;
}
</style>

    <!--START--- Added by Claude Manahan on March 16th, 2016 - Additional Scripts for the sortable table functionality -->
        <apex:includeScript value="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" />>
        <apex:includeScript value="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.17.8/js/jquery.tablesorter.min.js" />
        <apex:includeScript value="http://tablesorter.com/addons/pager/jquery.tablesorter.pager.js" />
        <apex:stylesheet value="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.17.8/css/theme.blue.css" />
        <apex:stylesheet value="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.17.8/css/theme.ice.css" /> 
    <!--END-->
<style type="text/css">
.tablesorter-header-inner div{
    font-weight: bold !important;
}
</style>
    <div class="bPageTitle">
        <h3 style="display: block;font-size: 18px;">{!objAcc.Name}</h3>
        <p>In this page, clients will be able to access their company profile including registration and license details, address information, data protection, individual and body corporate profile and others.</p>
    </div>
   <!-- Displays the Account field as defined in the fieldset-Community_Account_Info-->
   <apex:detail subject="{!objAcc.Id}" relatedList="true" title="false" relatedListHover="false" showChatter="false" inlineEdit="false"/>
   
   <!--START---Added by Shabbir Ahmed on May 20th ,2015 - To display GIIN to the customer who has entered the GIIN information -->  
       <apex:pageBlock title="GIIN" rendered="{!objAcc.GIIN__c != null && (accessType=='both' || accessType=='ROC') }">   
        <apex:outputtext value="{!objAcc.GIIN__c}" />
       </apex:pageBlock>
   <!--END-->
    
    <!--START---Added by Kaavya on Mar 16th ,2015 - To display Activities based on Exceptional Customer -->  
   <apex:pageBlock title="Activities" >   
   <apex:repeat value="{!Actylist}" var="AC" id="theRepeat"  rendered="{!NOT(ExcpCust)}">
       <apex:outputField value="{!AC.Activity__r.name}"/> <br/>      
   </apex:repeat> 
   <apex:outputtext value="{!NoB}" rendered="{!ExcpCust}"/>
   </apex:pageBlock>
   <!--END-->
    <!--    Added by Ravi on 11th Feb,2015 as per #524 -->
    <apex:form >
        <apex:pageBlock title="Company Relationships" id="thePb" rendered="{!IF(accessType=='both' || accessType=='ROC' ,true,false)}">
            <apex:pageBlockTable value="{!CompanyRelationships}" var="item">
                <!--- Removed by Kaavya as per ticket #1869 
                <apex:column headerValue="Relationship No">
                    <apex:outputField value="{!item.Name}"/>
                </apex:column> -->
                <apex:column headerValue="Body Corporate Name">
                    <apex:outputPanel >
                        <apex:outputLink value="{!$Site.Prefix}/apex/RocViewClient?id={!item.Object_Account__c}&type=Account">
                            {!item.Object_Account__r.Name}
                        </apex:outputLink>
                    </apex:outputPanel>
                </apex:column>
                <apex:column headerValue="Individual Name">
                    <apex:outputPanel >
                        <apex:outputLink value="{!$Site.Prefix}/apex/RocViewClient?id={!item.Object_Contact__c}&type=Contact">
                            {!item.Object_Contact__r.Name}
                        </apex:outputLink>
                    </apex:outputPanel> 
                </apex:column>
                <apex:column headerValue="Relationship Type">
                    <apex:outputText value="{!item.Relationship_Type_formula__c}" />
                </apex:column>
                <apex:column headerValue="Active">
                    <apex:outputField value="{!item.Active__c}" />
                </apex:column>
                <!---- Added by Kaavya as per ticket #1869 ----->
                <apex:column headerValue="Start Date">
                    <apex:outputField value="{!item.Start_Date__c}"/>
                </apex:column>
                <apex:column headerValue="End Date">
                    <apex:outputField value="{!item.End_Date__c}"/>
                </apex:column>
                <!----->
            </apex:pageBlockTable>
            <apex:commandLink value="Show more >>" action="{!PrimaryRelationshipDetails}" rerender="thePb" rendered="{!NOT(MoreRows)}">
                <apex:param value="true" assignTo="{!MoreRows}" name="showMore" />
            </apex:commandLink>
        </apex:pageBlock>
        <apex:pageBlock title="Employee Relationships" id="theEmpPb" rendered="{!IF(accessType=='both' || accessType=='GS',true,false)}" >
            <apex:datatable id="theEmpTbl" value="{!EmployeeRelationships}" var="item" styleclass="tablesorter" >
                <!--
                <apex:column headerValue="Relationship No">
                    <apex:outputField value="{!item.Name}"/>
                </apex:column>
                
                <apex:column headerValue="Body Corporate Name">
                    <apex:outputPanel >
                        <apex:outputLink value="{!$Site.Prefix}/apex/RocViewClient?id={!item.Object_Account__c}&type=Account">
                            {!item.Object_Account__r.Name}
                        </apex:outputLink>
                    </apex:outputPanel>
                </apex:column> -->
                <apex:column headerValue="Individual Name">
                    <apex:outputPanel >
                        <apex:outputLink value="{!$Site.Prefix}/apex/RocViewClient?id={!item.Object_Contact__c}&type=Contact&mode=GS">
                            {!item.Object_Contact__r.Name}
                        </apex:outputLink>
                    </apex:outputPanel> 
                </apex:column>
                <apex:column headerValue="Relationship Type">
                    <apex:outputText value="{!item.Relationship_Type_formula__c}" />
                </apex:column>
                <apex:column headerValue="Active">
                    <div style="display: none;">{!item.Active__c}</div>
                    <apex:outputField value="{!item.Active__c}" />
                </apex:column>
                <apex:column headerValue="Visa Expiry Date">
                    <apex:variable var="YEAR" value="{!IF(ISBLANK(item.Object_Contact__r.Visa_Expiry_Date__c),'',TEXT(YEAR(item.Object_Contact__r.Visa_Expiry_Date__c)))}" />
                    <apex:variable var="MONTH" value="{!IF(ISBLANK(item.Object_Contact__r.Visa_Expiry_Date__c),'',TEXT(MONTH(item.Object_Contact__r.Visa_Expiry_Date__c)))}" />
                    <apex:variable var="DAY" value="{!IF(ISBLANK(item.Object_Contact__r.Visa_Expiry_Date__c),'',TEXT(DAY(item.Object_Contact__r.Visa_Expiry_Date__c)))}" />
                    
                    <div style="display: none;">{!YEAR+''+IF(LEN(MONTH)>1,MONTH,'0'+''+MONTH)+''+IF(LEN(DAY)>1,DAY,'0'+''+DAY)}</div>
                    <apex:outputField value="{!item.Object_Contact__r.Visa_Expiry_Date__c}" />
                </apex:column>
                <apex:column headerValue="Visa Status">
                    <apex:outputText value="{!IF(isblank(item.Object_Contact__r.Visa_Expiry_Date__c),'NA',IF(item.Active__c,IF(item.Object_Contact__r.Active_Employee__c,'Active','Expired'),'Cancelled'))}" />
                </apex:column>
                <apex:column headerValue="Is Absconder?">
                    <div style="display: none;">{!item.Object_Contact__r.Is_Absconder__c}</div>
                    <apex:outputField value="{!item.Object_Contact__r.Is_Absconder__c}" />
                </apex:column>
                <apex:column headerValue="Is Violator?">
                    <div style="display: none;">{!item.Object_Contact__r.Is_Violator__c}</div>
                    <apex:outputField value="{!item.Object_Contact__r.Is_Violator__c}" />
                </apex:column>
            </apex:datatable>
            <apex:commandLink value="Show more >>" action="{!EmployeeRelationshipDetails}" rerender="theEmpPb" rendered="{!NOT(MoreGSRows)}" oncomplete="setEmployeeTable()" >
                <apex:param value="true" assignTo="{!MoreGSRows}" name="showGSMore" />
            </apex:commandLink>
        </apex:pageBlock>
    </apex:form>
    
   <!--START---Added by Kaavya on Jan 5th ,2015 - To display DP Details on the page -->  
   <apex:pageBlock title="Data Protection Details" rendered="{!permitlist.size!=0}">   
   <apex:repeat value="{!permitlist}" var="DP" id="theRepeat">
       <apex:outputText style="font-weight:bold" value="{!DP.name}"/>
       <apex:detail subject="{!DP.Id}" relatedList="false" title="false" relatedListHover="false" showChatter="false" inlineEdit="false" />
       <apex:pageBlockTable value="{!DP.Data_Protections__r}" var="jur" rendered="{!DP.Data_Protections__r != null && DP.Data_Protections__r.size > 0}"> 
            <apex:column headerValue="Name of Jurisdiction">
                {!jur.Name_of_Jurisdiction__c}
            </apex:column>
            <apex:column headerValue="Type">
                {!jur.RecordType.Name}
            </apex:column>
       </apex:pageBlockTable>
   </apex:repeat>
   </apex:pageBlock>
   <!--END-->
   
   <apex:pageblock title="Portal User Details">
    <apex:pageblockTable value="{!portalUser}" var="p">
        <apex:column headerValue="Name">
            <apex:outputField value="{!p.name}"/>
        </apex:column>
        
        <apex:column headerValue="User Name">
            <apex:outputField value="{!p.UserName}"/>
        </apex:column>
        <apex:column headerValue="Email">
            <apex:outputField value="{!p.Email}"/>
        </apex:column>
        <apex:column headerValue="Role">
            <apex:outputField value="{!p.Community_User_Role__c}"/>
        </apex:column>
    </apex:pageblockTable>
   </apex:pageblock>
    
   <script>
     /*Added by Claude Manahan on March 16th, 2016*/
         $(document).ready(function(){
               setEmployeeTable();
          });
          
          function setEmployeeTable(){
               $("[id$='theEmpTbl']").tablesorter({theme: 'ice', dateFormat: "mmddyyyy"}).tablesorterPager({container: $("#pager")}); 
          }
    /* End of Claud */
    
    function aHide(){
        initalizeRelatedList();
       /*jQuery('.dataCol > a, .dataCell > a').replaceWith(function() {
            if(jQuery(this).closest('.pbBody.Primary-Relationship').length > 0)
                return this.outerHTML;
            return this.innerHTML; 
        });  */
        
         jQuery('.dataCol > a, .dataCell > a').each(function(){
            var index = jQuery(this).parent().html().indexOf('receipt');
            if(index == -1){
                
                jQuery(this).replaceWith(function() {
                    if(jQuery(this).closest('.pbBody.Primary-Relationship').length > 0)
                        return this.outerHTML;
                    return this.innerHTML; 
                })  
            }
         });     
    }
    
    function initalizeRelatedList(){
        jQuery(".listRelatedObject .pbHeader .pbTitle h3").each(function(){
            var cssClass = jQuery(this).text().replace(' ', '-');
            if(!jQuery(this).closest('.listRelatedObject').hasClass(cssClass)){
                jQuery(this).closest('.listRelatedObject').addClass(cssClass);
                jQuery(this).closest('.listRelatedObject').find('.pbBody').addClass(cssClass);
            }
        });        
    }
     Sfdc.onReady(function(){
        //if(UserContext.siteUrlPrefix.indexOf("customers") > 0){
            if(jQuery) {
                
                var sr_DocRelatedList = jQuery(".listRelatedObject .pbTitle h3:contains('SR Docs')").parents('.bRelatedList');
                var DPRelatedList = jQuery(".listRelatedObject .pbTitle h3:contains('Data Protection Details')").parents('.bRelatedList'); /*Added by Kaavya on Jan 5th,2015*/
                var RelnRelatedList = jQuery(".listRelatedObject .pbTitle h3:contains('Primary Relationship')").parents('.bRelatedList'); /* added by Ravi on 11th Feb 2015 */
                var ActvtyRelatedList= jQuery(".listRelatedObject .pbTitle h3:contains('Activities')").parents('.bRelatedList'); /*Added by Kaavya on Mar 16th,2015*/
                var LeaseRelatedList= jQuery(".listRelatedObject .pbTitle h3:contains('Lease')").parents('.bRelatedList'); /*Added by Kaavya on May 7th,2015*/
                var SRRelatedList= jQuery(".listRelatedObject .pbTitle h3:contains('Service Requests')").parents('.bRelatedList'); /*Added by Ravi on May 25th,2015*/
                
                if(typeof(sr_DocRelatedList) != undefined)
                    jQuery(sr_DocRelatedList).attr('style', 'display: none;');
                if(typeof(DPRelatedList) != undefined)
                    jQuery(DPRelatedList).attr('style', 'display: none;'); //Added by Kaavya on Jan 5th,2015
                if(typeof(RelnRelatedList) != undefined)
                    jQuery(RelnRelatedList).attr('style', 'display: none;'); //Added by Ravi on Feb 11th,2015
                if(typeof(ActvtyRelatedList) != undefined)
                    jQuery(ActvtyRelatedList).attr('style', 'display: none;'); //Added by Kaavya on Mar 16th,2015
                if(typeof(LeaseRelatedList) != undefined)
                    jQuery(LeaseRelatedList).attr('style', 'display: none;'); //Added by Kaavya on May 7th,2015
                if(typeof(SRRelatedList) != undefined)
                    jQuery(SRRelatedList).attr('style', 'display: none;'); //Added by Ravi on May 25th,2015
                aHide();                
                window.setInterval(aHide, 1000);
            }
        //}
    });
   </script>
</apex:page>