<apex:page standardController="account" tabStyle="home__tab">

 <apex:pageBlock > 
 

  <apex:sectionheader title="CRS & FATCA MOF Portal Log In details" />

<!-- <apex:pageMessage summary="The aforementioned password is the default password. As you login to the Ministry of Finance (MOF) Portal, you shall be requested to update the password." severity="info" strength="4" /> -->

 <apex:pageMessage summary="Login details for the Ministry of Finance (MOF) Portal for FATCA and CRS reporting are below. You will be requested to change the default password once you log into the MOF Portal." severity="info" strength="4" /> 





<br /><br />
  
<apex:pageBlockTable var="Datas" value="{!Account.CRS_FATCA_User_Names__r}">
<apex:column headerValue="Username" value="{!Datas.Login_Id__c}"/>


<apex:column value="{!Datas.Default_Password__c}"/>
<apex:column value="{!Datas.Email__c}"/>
<apex:column value="{!Datas.Role__c}"/>
<apex:column headerValue="Link">
<a  target="_blank" href="https://uaedep.mof.gov.ae/UAEDEP/index.jsp">Login </a>


<input type="hidden" id="custId" name="custId" value="{!Datas.id}" />

</apex:column>
</apex:pageBlockTable>


   </apex:pageBlock> 
</apex:page>