<apex:page extensions="CRS_Create_Formcontroller"   standardController="CRS_Form__c">
<apex:sectionHeader title="New CRS" />

<apex:form >
<apex:pageMessages ></apex:pageMessages>
<apex:pageBlock helpTitle="Need help ?" helpUrl="/apex/CRS_FAQ"  >

<apex:pageBlockButtons location="bottom" >

<apex:commandButton value="Cancel" immediate="true" action="/"/>


</apex:pageBlockButtons>

<apex:pageBlockSection columns="1">

<b>
<a href="/apex/CRS_Upload_Form">Upload CRS Data</a></b>



<apex:commandLink onclick="return  confirm('Are you sure, you would like to submit with null return ?');" action="{!submitNull}" >
<b> Fill Null Return</b>
</apex:commandLink>


</apex:pageBlockSection>



</apex:pageBlock>


  </apex:form> 
</apex:page>