<apex:page controller="DefaultActions" id="pg" sidebar="false" tabStyle="SR_Steps__c">
    <apex:sectionHeader title="Default Actions for Step-No : {!objSRStep.Step_No__c}" subtitle="{!objSRStep.Summary__c}"/>
    <apex:form id="frm">
        <apex:stylesheet value="{!URLFOR($Resource.popupcss, 'css/base.css')}"/>
        <apex:stylesheet value="{!URLFOR($Resource.popupcss, 'popup/reveal.css')}"/>
        <apex:includeScript value="{!URLFOR($Resource.popupcss, 'popup/jquery.min.js')}" />
        <apex:includeScript value="{!URLFOR($Resource.popupcss, 'popup/jquery.reveal.js')}"/>
        <style>
        .loader1{
            position: absolute;
            margin-left: -60px;
            top: 40%;
            left: 40%;
            filter: Alpha(Opacity =70);
            opacity: 0.70;
            -moz-opacity: 0.70;
        }
        .loader2{
            position: absolute;
            margin-left: -60px;
            top: 30%;
            left: 40%;
            filter: Alpha(Opacity =70);
            opacity: 0.70;
            -moz-opacity: 0.70;
        }
        .delth{
            text-align:center;
            min-width:35px;
        }
        .return_btn{
             background:url("{!$Resource.returnBtnBg}") left top no-repeat !important;
             font-size: 0.9em;
             color:#333333;
             /*background:url("../Images/return_bg1.png") left top no-repeat !important;*/
             display:block !important;
             /*
             padding-left:24px !important;
             float: right !important;
             */
             width:125px !important;
             border: none !important;
             height:24px !important;
             line-height:14px !important;
             float: left !important;
        }
        </style>
        <apex:inputhidden id="hdnSelIndex" value="{!iSelRowIndex}"/>
        <apex:actionfunction name="ChangeActType" action="{!ChangeActionType}" rerender="pb" status="actstatus"/>
        <apex:actionfunction name="ChangeObjFld" action="{!ChangeObjectField}" rerender="pb" status="actstatus"/>
        <apex:actionfunction name="deleteActn" action="{!deleteAction}" rerender="pb,errormsg" status="actstatus"/>
        <apex:actionfunction name="OperatorChangeFun" action="{!OperatorChange}" rerender="pb" status="actstatus"/>
        <apex:pagemessages id="errormsg"/>
        <apex:pageblock id="BRDetail" title="Business Rule Detail">
            <apex:actionStatus id="actstatus2">            
                <apex:facet name="start">                
                    <img src="/img/loading32.gif" style="vertical-align:middle;" class="loader2"/>
                </apex:facet>        
            </apex:actionStatus> 
            <apex:pageblockbuttons location="top">
                <apex:commandbutton value=" Save " Action="{!SaveBR}" rendered="{!isSaveMode}" rerender="errormsg,BRDetail,conditionspnl" status="actstatus2" style="float:left;"/>
                <apex:commandbutton value=" Cancel " Action="{!CancelBR}" rendered="{!isSaveMode}" rerender="errormsg,BRDetail,conditionspnl" status="actstatus2" style="float:left;"/>
                <apex:commandbutton value=" Edit " Action="{!EditBR}" rendered="{!!isSaveMode}" rerender="errormsg,BRDetail,conditionspnl" status="actstatus2" style="float:left;"/>
                <apex:commandButton value="Return to SR-Step" styleClass="return_btn" style="width:126px !important; height:24px !important;" status="actstatus2" action="/{!$CurrentPage.parameters.Id}" title="Returns to SR-Steps Detail Page"/>
            </apex:pageblockbuttons>
            <apex:pageblocksection columns="2">
                <apex:outputfield value="{!BR.Name}"/>
                <apex:inputfield value="{!BR.Description__c}" rendered="{!isSaveMode}" style="min-width:290px;"/>
                <apex:outputfield value="{!BR.Description__c}" rendered="{!!isSaveMode}"/>
                <apex:outputfield value="{!BR.Action_Type__c}"/>
                <apex:outputfield value="{!BR.SR_Steps__c}"/>
            </apex:pageblocksection>
        </apex:pageblock>
        <apex:outputpanel id="conditionspnl" layout="block">
            <apex:pageblock id="pb" Title="Manage Actions" rendered="{!showActions}">
                <apex:pageBlockButtons location="top">
                    <apex:commandButton action="{!AddNewAction}" value="Add Action" rerender="pb,errormsg" status="actstatus"/>
                    <apex:commandButton action="{!SaveActions}" value="Save" rerender="pb,errormsg" status="actstatus"/>
                    <apex:commandButton action="{!cancelActions}" value="Cancel" status="actstatus"/>
                </apex:pageBlockButtons>  
                <apex:actionStatus id="actstatus">            
                    <apex:facet name="start">                
                        <img src="/img/loading32.gif" style="vertical-align:middle;" class="loader1"/>
                    </apex:facet>        
                </apex:actionStatus> 
                <apex:pageblocktable value="{!lstActns}" var="a" id="pbt">
                     <apex:column headervalue="Priority No." style="width:40px;">
                        <apex:inputField value="{!a.Act.Priority__c}" style="width:40px;"/>
                    </apex:column>
                    <apex:column headervalue="Action Type" style="width:180px;">
                        <apex:inputField value="{!a.Act.Action_Type__c}" onChange="ChangeType('{!a.rowIndex}');"/>
                    </apex:column>
                    <apex:column headerValue="Class Name"> 
                        <apex:selectList id="ActclassName" multiselect="false" size="1" value="{!a.Act.Class_Name__c}" onchange="ChangeType('{!a.rowIndex}');" rendered="{!IF(a.Act.Action_Type__c=='Custom Code',true,false)}">
                            <apex:selectOptions value="{!lstActClasses}" />
                        </apex:selectList>
                    </apex:column>
                    <apex:column headervalue="Field / Method" style="width:180px;">
                        <apex:selectList id="FieldLst" multiselect="false" size="1" value="{!a.Act.Field_Name__c}" rendered="{!IF(a.Act.Action_Type__c=='Contact' || a.Act.Action_Type__c=='License' || a.Act.Action_Type__c=='Service Request' || a.Act.Action_Type__c=='Account' || a.Act.Action_Type__c=='Step' || a.Act.Action_Type__c=='Registration' || a.Act.Action_Type__c=='Lease' || a.Act.Action_Type__c=='Custom Code',true,false)}" onChange="FieldChange('{!a.rowIndex}');">
                            <apex:selectOptions value="{!a.objFldWrap.lstDynObjFields}" id="FieldVals"/>
                        </apex:selectList>
                    </apex:column>
                    <apex:column headervalue="Value (or) Field" style="width:100px;">
                        <apex:inputField id="valoper" value="{!a.Act.Value_or_Field__c}" onchange="ChangeFieldValue('{!a.rowIndex}');" rendered="{!IF(a.Act.Action_Type__c=='Contact' || a.Act.Action_Type__c=='License' || a.Act.Action_Type__c=='Lease' || a.Act.Action_Type__c=='Service Request' || a.Act.Action_Type__c=='Account' || a.Act.Action_Type__c=='Step' || a.Act.Action_Type__c=='Registration',TRUE,FALSE)}"/>
<!--                        <apex:selectlist id="valoper" style="width:100px;" multiselect="false" size="1" value="{!a.Act.Value_or_Field__c}" onchange="ChangeFieldValue('{!a.rowIndex}');" rendered="{!IF(a.Act.Action_Type__c=='Contact' || a.Act.Action_Type__c=='License' || a.Act.Action_Type__c=='Service Request' || a.Act.Action_Type__c=='Account' || a.Act.Action_Type__c=='Step' || a.Act.Action_Type__c=='Registration',TRUE,FALSE)}"> -->
<!--                            <apex:selectoptions value="{!lstValOperators}"/> -->
<!--                        </apex:selectlist> -->
                    </apex:column>
                    <apex:column id="valuecol" style="width:220px;">
                        <apex:outputpanel id="SRfldpnl" rendered="{!IF(a.Act.Value_or_Field__c=='SR Field',true,false)}">
                             <apex:selectlist id="SRFldPicklist" multiselect="false" size="1" value="{!a.Act.Field_Value__c}">
                                <apex:selectoptions value="{!a.lstActValueFields}"/>
                             </apex:selectlist>
                        </apex:outputpanel>
                        <apex:outputpanel id="Stepfldpnl" rendered="{!IF(a.Act.Value_or_Field__c=='Step Field',true,false)}">
                             <apex:selectlist id="StpFldPicklist" multiselect="false" size="1" value="{!a.Act.Field_Value__c}">
                                <apex:selectoptions value="{!a.lstActStepValueFields}"/>
                             </apex:selectlist>
                        </apex:outputpanel>
                        <apex:outputpanel layout="block" id="valuepnl" rendered="{!IF(a.Act.Value_or_Field__c=='Value',true,false)}">                   
                            <apex:inputField style="float:left;" value="{!a.stp.Status__c}" id="stepType" rendered="{!IF(a.Act.Action_Type__c=='Create Step',true,false)}"/>
                            <apex:image value="/img/alohaSkin/help_orange.png" title="Please select the status for the Step" style="cursor:pointer;float:left;margin-top: 3px;" rendered="{!IF(a.Act.Action_Type__c=='Create Step',true,false)}"/>
                            
                            <apex:selectlist id="pickfld" multiselect="false" size="1" value="{!a.Act.Field_Value__c}" rendered="{!IF(a.objFldWrap.selFieldType=='PICKLIST' && (a.Act.Action_Type__c=='Contact' || a.Act.Action_Type__c=='License' || a.Act.Action_Type__c=='Lease' || a.Act.Action_Type__c=='Service Request' || a.Act.Action_Type__c=='Account' || a.Act.Action_Type__c=='Step' || a.Act.Action_Type__c=='Registration'),TRUE,FALSE)}">
                                <apex:selectoptions value="{!a.lstPickList}"/>
                            </apex:selectlist>
                            
                            <apex:selectlist id="StepReferencefld" multiselect="false" size="1" value="{!a.Act.Field_Value__c}" rendered="{!IF(a.Act.Field_Name__c=='Status__c' && a.Act.Action_Type__c=='Step',TRUE,FALSE)}">
                                <apex:selectoptions value="{!lstStepStatus}"/>
                            </apex:selectlist>
                            
                            <apex:selectlist id="SRReferencefld" multiselect="false" size="1" value="{!a.Act.Field_Value__c}" rendered="{!IF((a.Act.Field_Name__c=='Internal_Status__c' || a.Act.Field_Name__c=='External_Status__c') && a.Act.Action_Type__c=='Service Request',TRUE,FALSE)}">
                                <apex:selectoptions value="{!lstSRStatus}"/>
                            </apex:selectlist>
                            
                            <apex:inputText id="dyncDataType" value="{!a.Act.Field_Value__c}" onkeypress="return inputOnlyNumbers(event,'{!a.objFldWrap.selFieldType}')" onfocus="isdateFld(this,'{!a.objFldWrap.selFieldType}','{!$Component.valuecol}','{!a.rowIndex}');" rendered="{!IF(a.Act.Field_Name__c!=null && a.objFldWrap.selFieldType!='PICKLIST' && a.objFldWrap.selFieldType!='REFERENCE' && (a.Act.Action_Type__c=='Service Request' || a.Act.Action_Type__c=='Account' || a.Act.Action_Type__c=='Step' || a.Act.Action_Type__c=='Registration' || a.Act.Action_Type__c=='Contact' || a.Act.Action_Type__c=='License' || a.Act.Action_Type__c=='Lease'),true,false)}"/>
                            <apex:inputText value="{!a.Act.Field_Value__c}" id="parentSRStatus" rendered="{!IF(a.Act.Action_Type__c=='Parent SR Status',true,false)}"/>
                            <script>
                                var FldType = '{!a.objFldWrap.selFieldType}';
                                var rowindex = '{!a.rowIndex}';
                                var parenttd;
                                if(document.getElementById('pg:frm:pb:pbt:'+rowindex+':valuecol')!=null)
                                    parenttd = document.getElementById('pg:frm:pb:pbt:'+rowindex+':valuecol');
                                if(FldType=='BOOLEAN'){
                                    var cb = document.createElement('input');
                                    cb.type = 'checkbox';
                                    cb.setAttribute("id", "pg:frm:pb:pbt:"+rowindex+":dyncCheckBox");
                                    cb.onclick = function() { CheckBoxClick(this.checked,this.id); };
                                    parenttd.appendChild(cb);
                                    if(document.getElementById('pg:frm:pb:pbt:'+rowindex+':dyncDataType')!=null){
                                        document.getElementById('pg:frm:pb:pbt:'+rowindex+':dyncDataType').style.display='none';
                                        var preval = document.getElementById('pg:frm:pb:pbt:'+rowindex+':dyncDataType').value;
                                        if(preval==null && preval==''){
                                            document.getElementById('pg:frm:pb:pbt:'+rowindex+':dyncDataType').value='false';
                                        }else{
                                            if(preval=='true')
                                                document.getElementById('pg:frm:pb:pbt:'+rowindex+':dyncCheckBox').checked=true;
                                        }
                                    }
                                }
                            </script>
                        </apex:outputpanel> 
                    </apex:column>
                    <apex:column headervalue="SR / Email / SMS Template" style="width:200px;">
                        <apex:inputField value="{!a.ParentSR.SR_Template__c}" style="width:180px;" id="parentSR" rendered="{!IF((a.Act.Action_Type__c=='Initiate SubSR'|| a.Act.Action_Type__c=='Linked SR'),true,false)}"/>
<!--                        <apex:selectList id="RecType" multiselect="false" size="1" value="{!a.Act.Field_Value__c}" rendered="{!IF(a.Act.Action_Type__c=='Initiate SubSR',true,false)}"> -->
<!--                            <apex:selectOptions value="{!a.lstRecTypes}" id="RecTypelst"/> -->
<!--                        </apex:selectList> -->
                        <apex:selectList id="EmailTempl" multiselect="false" size="1" value="{!a.Act.Field_Value__c}" rendered="{!IF(a.Act.Action_Type__c=='Send Email',true,false)}">
                            <apex:selectOptions value="{!lstEmailTemplates}" id="EmailTemplVals"/>
                        </apex:selectList>
                        <apex:selectList id="SmsTempl" multiselect="false" size="1" value="{!a.Act.Field_Value__c}" rendered="{!IF(a.Act.Action_Type__c=='Send SMS',true,false)}">
                            <apex:selectOptions value="{!lstSMSTemplates}" id="smsTemplVals"/>
                        </apex:selectList>
<!--                        <apex:inputText id="SR-StepName" style="float:left;" value="{!a.SR_Step_Name}" rendered="{!IF(a.Act.Action_Type__c=='Create Step',true,false)}"/> -->
<!--                        <apex:inputText id="SR-StepId" style="float:left;display:none;" value="{!a.SR_Step_Id}" rendered="{!IF(a.Act.Action_Type__c=='Create Step',true,false)}"/> -->
<!--                        <a data-reveal-id="custlkp" data-animation="fade" style="display:{!IF(a.Act.Action_Type__c=='Create Step','','none')};cursor:pointer;text-decoration:none;float:left;margin-top: 3px;" onclick="OpenPopUp('{!a.rowIndex}');"> -->
<!--                            <img id="theImage" src="{!URLFOR($Resource.popupcss, 'images/se1.jpg')}" status="acnStatus"/> -->
<!--                        </a> -->
                    </apex:column>
                    <apex:column headerValue="Delete" headerclass="delth" style="text-align:center;width:100px;">
                       <apex:image value="{!$Resource.remove_image2}" style="cursor:pointer;" onclick="DeleteRow('{!a.rowIndex}');" title="Remove the Action"/>
                    </apex:column>
                </apex:pageblocktable>
            </apex:pageblock>
        </apex:outputpanel>
        <div id="custlkp" class="reveal-modal" style="display:block; height:250px; width:50%; left: 45%; top:15%;">
                <a class="close-reveal-modal" id="closepopup">&#215;</a>
                <apex:pageblock >
                    <apex:pageblocktable value="{!lstSRSteps}" var="SRStp">
                        <apex:column headerValue="Name" style="text-align:left;">
                            <a href="#" onclick="AssignId('{!SRStp.Id}','{!SRStp.Name}');">{!SRStp.Name}</a>
                        </apex:column>
                    </apex:pageblocktable>
                </apex:pageblock>
                <a class="close-reveal-modal">&#215;</a>
        </div>
    </apex:form>
    <script>
        var lkprow;
        function OpenPopUp(rindex){
            lkprow = rindex;
        }
        function AssignId(TemplId,TemplName){
            if(lkprow!=null){
                if(document.getElementById('pg:frm:pb:pbt:'+lkprow+':SR-StepId')!=null)
                    document.getElementById('pg:frm:pb:pbt:'+lkprow+':SR-StepId').value = TemplId;
                if(document.getElementById('pg:frm:pb:pbt:'+lkprow+':SR-StepName')!=null)
                    document.getElementById('pg:frm:pb:pbt:'+lkprow+':SR-StepName').value = TemplName;
            }
            if(document.getElementById('closepopup')!=null)
                document.getElementById('closepopup').click();
        }
        function ChangeType(RowNo){
            if(document.getElementById('pg:frm:hdnSelIndex')!=null)
                document.getElementById('pg:frm:hdnSelIndex').value = RowNo;
            ChangeActType();
        }
        function DeleteRow(RowNo){
            if(document.getElementById('pg:frm:hdnSelIndex')!=null)
                document.getElementById('pg:frm:hdnSelIndex').value = RowNo;
            deleteActn();
        }
        function FieldChange(RowNo){
            if(document.getElementById('pg:frm:hdnSelIndex')!=null)
                document.getElementById('pg:frm:hdnSelIndex').value = RowNo;
            ChangeObjFld();
        }
        function isdateFld(myField,FldType,colId,rowindex){
            var parenttd = document.getElementById(colId);
            if(FldType=='DATE'){
                DatePicker.pickDate(false, myField , false);
            }
            /*
            if(FldType=='BOOLEAN'){
                var cb = document.createElement('input');
                cb.type = 'checkbox';
                cb.setAttribute("id", "pg:frm:pb:pbt:"+rowindex+":dyncCheckBox");
                cb.onclick = function() { CheckBoxClick(this.checked,this.id); };
                parenttd.appendChild(cb);
                if(document.getElementById('pg:frm:pb:pbt:'+rowindex+':dyncDataType')!=null){
                    document.getElementById('pg:frm:pb:pbt:'+rowindex+':dyncDataType').style.display='none';
                    var preval = document.getElementById('pg:frm:pb:pbt:'+rowindex+':dyncDataType').value;
                    if(preval==null && preval==''){
                        document.getElementById('pg:frm:pb:pbt:'+rowindex+':dyncDataType').value='false';
                    }else{
                        if(preval=='true')
                            document.getElementById('pg:frm:pb:pbt:'+rowindex+':dyncCheckBox').checked=true;
                    }
                }
            }
            */
        }
        function CheckBoxClick(val,textboxId){
            if(textboxId!=null && textboxId!=''){
                textboxId = textboxId.replace("dyncCheckBox","dyncDataType");
            }
            if(document.getElementById(textboxId)!=null){
                if(val=='on' || val=='true' || val==true){
                    document.getElementById(textboxId).value = 'true';
                }else{
                    document.getElementById(textboxId).value = 'false';
                }
            }
        }
        function ChangeFieldValue(RowNumber){
            if(document.getElementById('pg:frm:hdnSelIndex')!=null)
                document.getElementById('pg:frm:hdnSelIndex').value = RowNumber;
            OperatorChangeFun();
        }
        function inputOnlyNumbers(evt,FldType) {
            if(FldType=='DOUBLE' || FldType=='CURRENCY'){
                var e = window.event || evt; // for trans-browser compatibility  
                var charCode = e.which || e.keyCode;  
                if ((charCode > 47 && charCode < 58) || charCode == 8){  
                    return true;  
                }  
                return false;  
            }else{
                return true;
            }
        }
  </script>
</apex:page>