<apex:page standardController="Service_Request__c" extensions="cls_DLD_NOC_Add_edit"  id="page" tabStyle="Service_Request__c" sidebar="false">

  <style type = "text/css">  
        .rightAlign {text-align:right;} 
        
     
    </style>

<apex:sectionHeader title="NOC to register a Property with the Dubai Land Department"/>



    <apex:actionStatus id="actStatusId">
    
     <apex:facet name="start">
          <div style="position: fixed; top: 0; left: 0; right: 0; bottom: 0; opacity: 0.25; z-index: 1000; background-color: black;">
                &nbsp;
            </div>
        <div style="position: fixed; left: 0; top: 0; bottom: 0; right: 0; z-index: 1001; margin: 15% 50%">
        <div style="display: inline-block; padding: 2px; background-color: #fff; width: 125px;">
            <img src="/img/loading.gif" style="float: left; margin: 8px;" />
            <span style="display: inline-block; padding: 10px 0px;">Please wait...</span>
        </div>
         </div>
         </apex:facet>
        </apex:actionStatus>
        

<div id="DyncPgFlow:frm:j_id24" class="pageDescription">
<p>
This service request allows you to request a No Objection Certificate (NOC) issued by the DIFC Registrar of Companies to register properties with the Dubai Land Department (DLD). This service request is only applicable to properties located outside the DIFC jurisdiction.

</p>


<p>
  <b>Please upload the following documents:</b>
<ol>
    
  

<li> A copy of the Title Deed for each of the property listed</li>
<li> A signed request declaration </li>
<li> A signed Undertaking letter to notify Dubai Land Department and pay the prescribed fees upon making any changes to the shareholders or equivalent.</li>
<li> Letter confirming the UBOs if the entity has an appointed body corporate shareholder or equivalent.</li>

</ol>

<b>Fees</b><br />
USD 500 <br />
</p>


</div>

<apex:form rendered="{!isNull(Service_Request__c.Submitted_Date__c)}">

<apex:pageMessages ></apex:pageMessages>


<apex:pageMessage rendered="{!(IsUBOrequred=true)}" summary="Service request not available Please contact ROC team for more information" severity="error" strength="3" />



<apex:pageBlock mode="Edit" id="fullpage" rendered="{!IsUBOrequred!=true}">

<apex:pageBlockButtons location="bottom" rendered="{!ObjPro==null && ObjUBO==null }" >
<apex:commandButton action="{!SaveRecord}" onClick="this.value='Saving...';this.classList.add('btnDisabled');" value="Save"/>
<apex:commandButton action="{!cancel}" value="Cancel"/>
</apex:pageBlockButtons>




<apex:pageBlockSection columns="1" collapsible="false" title=" Correspondence Details">
    <apex:outputField label="Client" value="{!Service_Request__c.Entity_Name__c}"/>
    <apex:outputField value="{!Service_Request__c.Email__c}"/>
    <apex:outputField value="{!Service_Request__c.Send_SMS_To_Mobile__c}"/>
</apex:pageBlockSection>

<apex:pageBlockSection collapsible="false" columns="1" title="Details of the Person Signing the Request">

<apex:inputField required="true" value="{!Service_Request__c.Declaration_Signatory_Name__c}"/>
<apex:inputField required="true" value="{!Service_Request__c.Declaration_Signatory_Capacity__c}"/>
</apex:pageBlockSection>


 
 



<apex:pageBlockSection columns="1" collapsible="false" title="Property Details">
<p>Please complete the details of each of the properties to be purchased</p>

   <apex:variable var="rowNum" value="{!0}"  />            
 <apex:pageBlockTable value="{!SrListProperties}" var="page" id="table" columnsWidth="8%,8%,8%,8%,8%,8%,8%,8%,8%,,100"> 
 
   <apex:column headerValue="Action" width="80" >
            <apex:commandLink value="Delete" action="{!removingRow}" immediate="true">
              <apex:param value="{!rowNum}" name="index" />
            </apex:commandLink>
            
            <apex:facet name="footer">
                   <apex:commandButton value="Add" action="{!AddRecord}" immediate="true" />
                </apex:facet>
                
                 <apex:variable var="rowNum" value="{!rowNum+ 1}"/>
                 
            </apex:column>
            
            <apex:column value="{!page.Property_Type__c}"/>
            <apex:column value="{!page.Municipality_No__c}"/>
            <apex:column value="{!page.Area_sq_feet__c}"/>
            <apex:column value="{!page.Plot_No__c}"/>
            <apex:column value="{!page.Property_No__c}"/>
            <apex:column value="{!page.Community__c}"/>
            <apex:column value="{!page.Building_No__c}"/>
            <apex:column value="{!page.Building_name__c}"/>
        <apex:column value="{!page.Floor_No__c}"/> 
            <apex:column value="{!page.Unit_No__c}"/>
            
            
          
            
 </apex:pageBlockTable>
 

 
 <apex:pageBlockSection title="Add Property" rendered="{!ObjPro!=null}" collapsible="false" columns="1" id="out">
 <apex:message />
 

 
  <apex:inputField required="true" onchange="properChanged(this.value);" value="{!ObjPro.Property_Type__c}"/>
  
        <apex:inputField required="true" value="{!ObjPro.Municipality_No__c}" />
        
        <apex:inputField required="true" value="{!ObjPro.Area_sq_feet__c}" />
        <apex:inputField required="true" value="{!ObjPro.Plot_No__c}" />
        <apex:inputField required="true" value="{!ObjPro.Property_No__c}" />
       
        <apex:inputField required="true" rendered="{!OR(ObjPro.Property_Type__c='Building',ObjPro.Property_Type__c='Unit')}" value="{!ObjPro.Community__c}" />
        
        <apex:inputField required="true" rendered="{!OR(ObjPro.Property_Type__c='Building',ObjPro.Property_Type__c='Unit')}" value="{!ObjPro.Building_No__c}" />
        <apex:inputField required="true" rendered="{!OR(ObjPro.Property_Type__c='Building',ObjPro.Property_Type__c='Unit')}" value="{!ObjPro.Building_name__c}" />
        
       
        <apex:inputField required="true" rendered="{!OR(ObjPro.Property_Type__c='Unit')}" value="{!ObjPro.Floor_No__c}" />
        
        <apex:inputField required="true" rendered="{!OR(ObjPro.Property_Type__c='Unit')}" value="{!ObjPro.Unit_No__c}" />
        
        <apex:pageBlockSectionItem ><apex:outputPanel ></apex:outputPanel>
        <apex:outputPanel >
            <apex:commandButton value="Save"  onClick="this.value='Adding...';this.classList.add('btnDisabled');"   action="{!SaveRow}"/>
            
            <apex:commandButton value="Save & New"  onClick="this.value='Adding...';this.classList.add('btnDisabled');"   action="{!SavePropertyRowAndAdd}"/>
            
            <apex:commandlink value="Cancel" action="{!CancelSaveRow}" immediate="true" />
           </apex:outputPanel>
                       
               </apex:pageBlockSectionItem>

 </apex:pageBlockSection>
 
 <apex:actionFunction name="properChanged" action="{!RowValueChange}" immediate="true" reRender="out"  status="actStatusId">
   <apex:param name="myParam" value=""/>
    </apex:actionFunction> 
 
 
 </apex:pageBlockSection>
 
 
 
 
 
 <apex:pageBlockSection columns="1" collapsible="false" rendered="{!CONTAINS(Service_Request__c.Sponsor_Mother_Full_Name__c,'UBO')}" title="Please complete the details for each of the listed body corporate shareholder (or equivalent)">
 
  <apex:variable var="uboNum" value="{!0}"  />            
    
    <apex:pageBlockTable value="{!SrListUBO}" var="pageubo" id="UBotable"  columnsWidth="8%,8%,8%,8%,8%,8%,8%,8%,8%,8%,,100"> 
           
             <apex:column headerValue="Action" width="80" >
            <apex:commandLink value="Delete" action="{!removingUBORow}" immediate="true">
              <apex:param value="{!uboNum}" name="index" />
            </apex:commandLink>
            
            <apex:facet name="footer">
                   <apex:commandButton value="Add" action="{!AddUBORecord}" immediate="true" />
                </apex:facet>
                
                  <apex:variable var="uboNum" value="{!uboNum+ 1}"/>
                  
                  
            </apex:column>
            
           <apex:column headerValue="Entity Name" value="{!pageubo.Entity_Name__c}"/>
            <apex:column headerValue="Regulated or Publicly listed entity" value="{!pageubo.I_am_Exempt_entities__c}"/>
            
            <apex:column value="{!pageubo.Title__c}"/>
           
            <apex:column value="{!pageubo.First_Name__c}"/>
            <apex:column value="{!pageubo.Last_Name__c}"/>
            <apex:column value="{!pageubo.Passport_Number__c}"/>
             <apex:column value="{!pageubo.Nationality__c}"/>
            <apex:column value="{!pageubo.Date_of_Birth__c}"/>
             <apex:column value="{!pageubo.Place_of_Birth__c}"/> 
             <apex:column value="{!pageubo.Passport_Data_of_Issuance__c}"/>
            <apex:column value="{!pageubo.Passport_Expiry_Date__c}"/>
           
         
            
 </apex:pageBlockTable>
 
  <apex:pageBlockSection title="Add UBO " rendered="{!ObjUBO!=null}" collapsible="false" columns="1" id="uboout">
 <apex:message />
 
 <apex:pageBlockSectionItem >
 Entity Name
 <apex:selectList id="EntityName" value="{!ObjUBO.BC_UBO__c}"
         size="1" required="true">  <apex:selectOptions value="{!BCUBOs}"/>
</apex:selectList>
</apex:pageBlockSectionItem>

  <apex:inputField required="true" label="Is the above shareholder or equivalent a regulated entity or a publicly listed entity " onchange="properChangeUBO(this.value);" value="{!ObjUBO.I_am_Exempt_entities__c}"/>
  
  
        
       
<apex:inputField rendered="{!OR(ObjUBO.I_am_Exempt_entities__c='Yes')}" label="Name of Regulator / Exchange"  required="true" value="{!ObjUBO.Name_of_Regulator_Exchange_Govt__c}" />
<apex:inputField rendered="{!OR(ObjUBO.I_am_Exempt_entities__c='Yes')}" label="Country of Jurisdiction of the Regulator / Exchange"  required="true" value="{!ObjUBO.Country__c}" />

            <apex:inputField rendered="{!OR(ObjUBO.I_am_Exempt_entities__c='No')}" required="true" value="{!ObjUBO.Title__c}" />
            
            <apex:inputField rendered="{!OR(ObjUBO.I_am_Exempt_entities__c='No')}" required="true" value="{!ObjUBO.First_Name__c}" />
            <apex:inputField rendered="{!OR(ObjUBO.I_am_Exempt_entities__c='No')}" required="true" value="{!ObjUBO.Last_Name__c}" />
            <apex:inputField rendered="{!OR(ObjUBO.I_am_Exempt_entities__c='No')}" required="true" value="{!ObjUBO.Passport_Number__c}" />
            <apex:inputField rendered="{!OR(ObjUBO.I_am_Exempt_entities__c='No')}" required="true" value="{!ObjUBO.Nationality__c}" />
            
            <apex:inputField rendered="{!OR(ObjUBO.I_am_Exempt_entities__c='No')}" required="true" value="{!ObjUBO.Date_of_Birth__c}" />
            <apex:inputField rendered="{!OR(ObjUBO.I_am_Exempt_entities__c='No')}" required="true" value="{!ObjUBO.Place_of_Birth__c}" />
            <apex:inputField rendered="{!OR(ObjUBO.I_am_Exempt_entities__c='No')}" required="true" value="{!ObjUBO.Passport_Data_of_Issuance__c}" />
            <apex:inputField rendered="{!OR(ObjUBO.I_am_Exempt_entities__c='No')}" required="true" value="{!ObjUBO.Passport_Expiry_Date__c}" />

        
        <apex:pageBlockSectionItem ><apex:outputPanel ></apex:outputPanel>
        <apex:outputPanel >
            <apex:commandButton value="Save" rendered="{!ObjUBO.I_am_Exempt_entities__c!=null}"  onClick="this.value='Adding...';this.classList.add('btnDisabled');"   action="{!SaveUBORow}"/>
            
            <apex:commandButton value="Save & New" rendered="{!ObjUBO.I_am_Exempt_entities__c!=null}"  onClick="this.value='Adding...';this.classList.add('btnDisabled');"   action="{!SaveUBORowAndAdd}"/>
            
            <apex:commandlink value="Cancel" action="{!CancelSaveRow}" immediate="true" />
           </apex:outputPanel>
                       
               </apex:pageBlockSectionItem>

 </apex:pageBlockSection>
 
 <apex:actionFunction name="properChangeUBO" action="{!UboValueChange}" immediate="true" reRender="uboout"  status="actStatusId">
   <apex:param name="ubotype" value=""/>
    </apex:actionFunction> 
    
    
 
 
 
 </apex:pageBlockSection>
 
 
 
 <apex:pageBlockSection columns="1" collapsible="false" title="Declarations">
  
  <apex:pageBlockSectionItem >
<apex:inputField value="{!Service_Request__c.In_accordance_with_Article_10_1__c}"/>
 <apex:outputText escape="false" value="I hereby confirm that the above entity is permitted in accordance with its constitutional documents and/or resolutions to own plots or property registered with the Dubai Land Department." />
</apex:pageBlockSectionItem>

  <apex:pageBlockSectionItem >
  
  <apex:inputField value="{!Service_Request__c.In_Accordance_with_Article_11__c}"/>
 <apex:outputText escape="false" value="I hereby confirm that the records and registers with the DIFC Registrar of Companies are up to date and all required filings and submissions were done as per DIFC Laws and Regulations." />

  </apex:pageBlockSectionItem>

  <apex:pageBlockSectionItem >
  
  <apex:inputField value="{!Service_Request__c.In_Accordance_with_Article_12_1a__c}"/>
 <apex:outputText escape="false" value="I understand that it is an offence to provide information which is false, misleading or deceptive or to conceal information where the concealment of such information is likely to mislead or deceive.

DIFC collects and processes data in accordance with its Online Data Protection Policy. Please read this policy for more information on how we manage your data. DIFC Data Protection Law (DIFC Law No. 1 of 2007) governs the collection, handling and use of personal data in DIFC. For more information on DIFC, data collection usage and management, please see our Terms of Use and the DIFC Online Data Protection Policy
" />


  </apex:pageBlockSectionItem>
       

 
 
 </apex:pageBlockSection>
 
 
  



</apex:pageBlock>

</apex:form>





</apex:page>