<apex:page docType="html-5.0" sidebar="true" cache="true" controller="EventInductionController" applyBodyTag="false">
	  <title>{!pageTitle}</title>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"></meta>
    
        <link rel="shortcut icon" href="{!URLFOR($Resource.DIFC_PortalResource, 'DIFC_CommunityResource/favicon.ico')}" type="image/x-icon"/>
        <link rel="icon" href="{!URLFOR($Resource.DIFC_PortalResource, 'DIFC_CommunityResource/favicon.ico')}" type="image/x-icon"/>

        <apex:stylesheet value="{!URLFOR($Resource.difc_portal, 'DIFC_CommunityResource/css/difc.min.css')}"/>
        <apex:stylesheet value="{!URLFOR($Resource.DIFC_PortalResource, 'DIFC_CommunityResource/css/ie.css')}"/>
     
        <!--[if (gte IE 9)|!(IE)]><!-->
            <link rel="stylesheet" type="text/css" href="{!URLFOR($Resource.DIFC_PortalResource, 'DIFC_CommunityResource/css/responsive.css')}"></link>
        <!--<![endif]-->

        <style>
            .main-content {margin: 0 auto;}
            .errMsg{color:red;} 
            body input.btn{             
                margin-left: 500px;
            }        
            .difc-logo img {height: 55px;}
            @media (max-width: 980px){
                nav.top-bar ul {
                    padding: 0 6px;
                }
            }
            .top-nav.news ul.mobile-logo, .top-nav.dashboard ul.mobile-logo {
                padding: 0px;
                margin: 0 10px !important;
            } 
            .top-bar-section ul li > a {font-family: inherit;}  
            footer small {font-style: italic;}    
            html .brandSecondaryBrd {
                border-top-color: #00205B !important;
                border-bottom: 1px solid #eaeaea;
                border-left: 1px solid #eaeaea;
                border-right: 1px solid #eaeaea;
            }
            nav.top-nav .top-bar-section ul.right li, nav.top-nav .top-bar-section ul.right li a{            
                font-size: 14px !important;
                background: rgba(0, 0, 0, 0);            
            }
            i.icon-phone-white{            
                background: url("{!URLFOR($Resource.DIFC_PortalResource, 'DIFC_CommunityResource/images/icon-phone-small-white.png')}") no-repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
                width: 20px !important;
            }
            nav.top-nav .top-bar-section ul li .icon-phone-white{            
                background-position: left 3px !important;
            }
            .top-bar-section li:not(.has-form) a:not(.button){
                background: none !important;
                padding: 0 15px !important;
                line-height: 45px;
  
            }
            .top-bar-section i.icon{            
                float: none !important;
                line-height: 45px;
            }
            .top-bar.top-nav ul, .top-bar.top-nav ul li{                
                line-height: 65px;
                font-size: 12px;
            }
            .top-bar-section li.call-centre{margin-right: 0 !important; background: transparent;}           
            body .apexp .bPageBlock.apexDefaultPageBlock .pbHeader {           
                border-bottom: 0px !important;   
            }
            table.multiSelectPicklistTable tbody tr:first-of-type{
                display:none;
            }
            tr.multiSelectPicklistRow select{           
                height:70px;
                width:160px;
            }
            input[type=file]{ width: 400px;}
        </style>
    <!--<apex:stylesheet value="{!URLFOR($Resource.difc_portal, 'DIFC_CommunityResource/css/difc.min.css')}"/>-->
    <apex:stylesheet value="{!URLFOR($Resource.difc_portal, 'DIFC_CommunityResource/css/foundation.css')}"/> 
    <apex:stylesheet value="{!URLFOR($Resource.difc_portal, 'DIFC_CommunityResource/css/responsive.css')}"/> 
    <apex:stylesheet value="{!URLFOR($Resource.difc_portal, 'DIFC_CommunityResource/css/typography.css')}"/> 
    <apex:stylesheet value="{!URLFOR($Resource.difc_portal, 'DIFC_CommunityResource/css/style_override.css')}"/> 
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"></link>    

    <style>
        .outer td.oRight{padding: 0;}
        .accordion .subMenu .menu-items {margin-left: 0;}
        .accordion .subMenu .menu-items li {line-height: 2em;}
        /*a.SubMenu-Section {background-color: rgb(138, 138, 172); color:#fff;}*/
         a.SubMenu-Section {
        /*background-color: rgb(0, 161, 223);*/
          font-weight: bold;
        /*color:#fff;*/ 
          line-height: 30px;
          font-size: 1.0em;
          background-color: #e8ebec;
        }
        /*.sub-section .menu-items {background-color: #f1f3f3;}*/
        a.SubMenu-Section.collapsed + div.sub-section {display:none;}
        a.SubMenu-Section {background-color: #e8ebec;}        
        .sub-section li a {padding-left: 30px !important;}
        i.fa {line-height: 30px; float: right; right: 10px; font-size: 1.5em; font-weight: bold;}
        .accordion dd>a {background:#00205B !important; color: #fff !important;}
        
        .main-content.services .box{
          
          /* -webkit-transition -moz, etc, too */
          -webkit-transition: width 0.3s, height 0.3s !important;
             -moz-transition: width 0.3s, height 0.3s !important;
               -o-transition: width 0.3s, height 0.3s !important;
                  transition: width 0.3s, height 0.3s !important;         
        }       
    </style>
     <body> 
     <div>        
            <div>
                 <h4>&nbsp;&nbsp;&nbsp; {!SRTemp[0].Menutext__c}</h4>
            </div>
    </div>
        <div class="login">
            <div class="row full-width">  
                <apex:form id="userForm" title="{!SRTemp[0].Menutext__c}">
                    <apex:actionFunction name="renderCompanySearch" rerender="userForm" status="status1" immediate="true" >
                        <apex:param assignTo="{!evtServiceRequest.Name_of_the_Authority__c}" value="" name="nameOfAuthority" />
                     </apex:actionFunction> 
                     <apex:messages styleClass="errMsg" /> 
                    <div style="margin-bottom: 6px; padding: 10px">
                        <apex:repeat value="{!errMessage}" var="errMsg" >
                             <apex:outputText styleClass="errMsg" value="- {!HTMLEncode(errMsg)} <br/>" escape="false" />
                        </apex:repeat>
                    </div>
                    <div class="large-12 columns">  
                        <apex:outputPanel id="eventDescription"> 
                        	<apex:outputText id="desc" value="{!IF(SRTemp[0].SR_Description__c!=null,SRTemp[0].SR_Description__c,'')}" escape="false" />
			                <br></br>
			                <br></br>
                        	<apex:pageBlock title="Entity Details"> 
                        		<apex:pageBlockSection >
                        			<apex:pageblocksectionitem >
                                        <apex:outputLabel value="Client" style="align:float-left;"/>
                                        <apex:outputPanel layout="block">
                                            <apex:outputText value="{!accountName}" />
                                        </apex:outputPanel>
                                    </apex:pageblocksectionitem>
                                    <apex:pageblocksectionitem >
                                    	<apex:outputLabel value="Related Request" style="align:float-left;"/>
                                     	<apex:outputPanel layout="block">
                                            <apex:outputText value="{!relatedRequest}" />
                                        </apex:outputPanel>
                                    </apex:pageblocksectionitem>
                                    <!--
                                    <apex:pageblocksectionitem >
                                        <apex:outputLabel value="Passport" style="align:float-left;"/>
                                        <apex:outputText value="{!HTMLEncode(evtServiceRequest.Passport_Number__c)}" />
                                    </apex:pageblocksectionitem>
                                    <apex:pageblocksectionitem >
                                        <apex:outputLabel value="Nationality" style="align:float-left;"/>
                                        <apex:outputText value="{!HTMLEncode(evtServiceRequest.Nationality_list__c)}" />
                                    </apex:pageblocksectionitem>
									-->
                            	</apex:pageBlockSection>
                        	</apex:pageBlock>
                        	
                        	 <apex:pageBlock title="Event Details">
                        	 	 <apex:pageblockbuttons location="both">
                        	 	 	<apex:commandButton value="Save" action="{!saveSRrequest}"/>
                        	 	 	<apex:commandButton value="Cancel" action="{!CancelRequest}"/>                        	 	 	
                                 </apex:pageblockbuttons> 
                                <apex:pageBlockSection >
                                <apex:pageblocksectionitem rendered="{!IF((evtServiceRequest.Id==null || evtServiceRequest.Id==''),true,false)}">
                                    <apex:outputLabel value="Event Name" style="align:float-left;"/>
                                    <apex:outputPanel styleClass="requiredInput" layout="block">
                                        <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                                        <apex:inputField value="{!evtServiceRequest.Event_Name__c}" />
                                    </apex:outputPanel>
                                </apex:pageblocksectionitem>
                                <apex:pageblocksectionitem rendered="{!IF((evtServiceRequest.Id!=null || evtServiceRequest.id!=''),true,false)}">
                                    <apex:outputLabel value="Event Name" style="align:float-left;"/>
                                    <apex:outputText rendered="{!IF((evtServiceRequest.Id!=null || evtServiceRequest.id!=''),true,false)}" value="{!HTMLEncode(evtServiceRequest.Event_Name__c)}" />
                                </apex:pageblocksectionitem>
                                <apex:pageblocksectionitem rendered="{!IF((evtServiceRequest.Id==null || evtServiceRequest.Id==''),true,false)}">
                                        <apex:outputLabel value="Proposed Location" style="align:float-left;"/>
                                        <apex:outputPanel styleClass="requiredInput" layout="block" >
                                            <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                                            <!--  <apex:inputField value="{!evtServiceRequest.Location__c}" /> -->
                                            <apex:inputField value="{!evtServiceRequest.Current_Address_Country__c}" />
                                        </apex:outputPanel>
                                    </apex:pageblocksectionitem>
                                    <apex:pageblocksectionitem rendered="{!IF((evtServiceRequest.Id!=null || evtServiceRequest.id!=''),true,false)}">
                                        <apex:outputLabel value="Proposed Location" style="align:float-left;"/>
                                        <apex:outputText value="{!HTMLEncode(evtServiceRequest.Current_Address_Country__c)}" />
                                    </apex:pageblocksectionitem>
                                    <apex:pageblocksectionitem rendered="{!IF((evtServiceRequest.Id==null || evtServiceRequest.Id==''),true,false)}">
                                        <apex:outputLabel value="Event Brief" style="align:float-left;"/>
                                        <apex:outputPanel styleClass="requiredInput" layout="block" >
                                            <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                                            <apex:inputField value="{!evtServiceRequest.Event_Brief__c}" />
                                        </apex:outputPanel>
                                    </apex:pageblocksectionitem>
                                     <apex:pageblocksectionitem rendered="{!IF((evtServiceRequest.Id!=null || evtServiceRequest.id!=''),true,false)}">
                                    <apex:outputLabel value="Event Brief" style="align:float-left;"/>
                                        <apex:outputText value="{!HTMLEncode(evtServiceRequest.Event_Brief__c)}" />
                                    </apex:pageblocksectionitem>
                                     <apex:pageblocksectionitem rendered="{!IF((evtServiceRequest.Id==null || evtServiceRequest.Id==''),true,false)}">
                                        <apex:outputLabel value="Other Location" style="align:float-left;"/>
                                        <apex:inputField value="{!evtServiceRequest.Location__c}" />
                                    </apex:pageblocksectionitem>
                                    <apex:pageblocksectionitem rendered="{!IF((evtServiceRequest.Id!=null || evtServiceRequest.id!=''),true,false)}">
                                        <apex:outputLabel value="Other Location" style="align:float-left;"/>
                                        <apex:outputText value="{!HTMLEncode(evtServiceRequest.Location__c)}" />
                                    </apex:pageblocksectionitem>
                                    <apex:pageblocksectionitem rendered="{!IF((evtServiceRequest.Id==null || evtServiceRequest.Id==''),true,false)}">
                                        <apex:outputLabel value="Number of Participants" style="align:float-left;"/>
                                        <apex:outputPanel styleClass="requiredInput" layout="block" >
                                            <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                                            <apex:inputField value="{!evtServiceRequest.Number_of_Participants__c}" />
                                        </apex:outputPanel>
                                    </apex:pageblocksectionitem>
                                    <apex:pageblocksectionitem rendered="{!IF((evtServiceRequest.Id!=null || evtServiceRequest.id!=''),true,false)}">
                                        <apex:outputLabel value="Number of Participants" style="align:float-left;"/>
                                        <apex:outputText value="{!HTMLEncode(Text(evtServiceRequest.Number_of_Participants__c))}" />
                                    </apex:pageblocksectionitem>
                                    <apex:pageblocksectionitem rendered="{!IF((evtServiceRequest.Id==null || evtServiceRequest.Id==''),true,false)}"  >
                                        <apex:outputLabel value="Event Start Date" style="align:float-left;"/>
                                        <apex:outputPanel styleClass="requiredInput" layout="block" >
                                            <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                                            <apex:inputField value="{!evtServiceRequest.Event_Start_Date__c}" />
                                        </apex:outputPanel>
                                    </apex:pageblocksectionitem>
                                    <apex:pageblocksectionitem rendered="{!IF((evtServiceRequest.Id!=null || evtServiceRequest.id!=''),true,false)}">
                                    <apex:outputLabel value="Event Start Date" style="align:float-left;"/>
                                        <apex:outputText value="{0,date,MM/dd/YYYY}" >
                                            <apex:param value="{!evtServiceRequest.Event_Start_Date__c}"/>
                                        </apex:outputText>
                                    </apex:pageblocksectionitem>
                                    <apex:pageblocksectionitem rendered="{!IF((evtServiceRequest.Id==null || evtServiceRequest.Id==''),true,false)}">
                                        <apex:outputLabel value="Number of Spectators" style="align:float-left;"/>
                                        <apex:outputPanel styleClass="requiredInput" layout="block" >
                                            <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                                            <apex:inputField value="{!evtServiceRequest.Number_of_Spectators__c}" />
                                        </apex:outputPanel>
                                    </apex:pageblocksectionitem>
                                    <apex:pageblocksectionitem rendered="{!IF((evtServiceRequest.Id!=null || evtServiceRequest.id!=''),true,false)}">
                                        <apex:outputLabel value="Number of Spectators" style="align:float-left;"/>
                                        <apex:outputText value="{!HTMLEncode(TEXT(evtServiceRequest.Number_of_Spectators__c))}" />
                                    </apex:pageblocksectionitem>
                                    <apex:pageblocksectionitem rendered="{!IF((evtServiceRequest.Id==null || evtServiceRequest.Id==''),true,false)}"  >
                                        <apex:outputLabel value="Event End Date" style="align:float-left;"/>
                                        <apex:outputPanel styleClass="requiredInput" layout="block" >
                                            <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                                            <apex:inputField value="{!evtServiceRequest.Event_End_Date__c}" />
                                        </apex:outputPanel>
                                    </apex:pageblocksectionitem>
                                    <apex:pageblocksectionitem rendered="{!IF((evtServiceRequest.Id!=null || evtServiceRequest.id!=''),true,false)}">
                                    <apex:outputLabel value="Event End Date" style="align:float-left;"/>
                                        <apex:outputText value="{0,date,MM/dd/YYYY}" >
                                            <apex:param value="{!evtServiceRequest.Event_End_Date__c}"/>
                                        </apex:outputText>
                                    </apex:pageblocksectionitem>
                                    <apex:pageblocksectionitem rendered="{!IF((evtServiceRequest.Id==null || evtServiceRequest.Id==''),true,false)}"  >
                                        <apex:outputLabel value="Emergency Contact Number" style="align:float-left;"/>
                                        <apex:outputPanel styleClass="requiredInput" layout="block" >
                                            <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                                            <apex:inputField value="{!evtServiceRequest.Courier_Cell_Phone__c}" />
                                        </apex:outputPanel>
                                    </apex:pageblocksectionitem>
                                    <apex:pageblocksectionitem rendered="{!IF((evtServiceRequest.id!=null || evtServiceRequest.id!=''),true,false)}">
                                    <apex:outputLabel value="Emergency Contact Number" style="align:float-left;"/>
                                        <apex:outputText value="{!HTMLEncode(evtServiceRequest.Courier_Cell_Phone__c)}" />
                                    </apex:pageblocksectionitem>
                                    <apex:pageblocksectionitem rendered="{!IF((evtServiceRequest.Id==null || evtServiceRequest.Id==''),true,false)}"  >
                                        <apex:outputLabel value="Set-up Begin Time" style="align:float-left;"/>
                                        <apex:outputPanel styleClass="requiredInput" layout="block" >
                                            <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                                            <apex:inputField value="{!evtServiceRequest.Set_up_Begin_Time__c}" />
                                        </apex:outputPanel>
                                    </apex:pageblocksectionitem>
                                    <apex:pageblocksectionitem rendered="{!IF((evtServiceRequest.Id!=null || evtServiceRequest.id!=''),true,false)}">
                                    <apex:outputLabel value="Set-up Begin Time" style="align:float-left;"/>
                                        <apex:outputText value="{!evtServiceRequest.Set_up_Begin_Time__c}" />
                                    </apex:pageblocksectionitem>
                                    <apex:pageblocksectionitem rendered="{!IF((evtServiceRequest.Id==null || evtServiceRequest.Id==''),true,false)}"  >
                                        <apex:outputLabel value="Emergency Contact Person" style="align:float-left;"/>
                                        <apex:outputPanel styleClass="requiredInput" layout="block" >
                                            <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                                            <apex:inputField value="{!evtServiceRequest.Name_of_Contact_Person__c}" />
                                        </apex:outputPanel>
                                    </apex:pageblocksectionitem>
                                    <apex:pageblocksectionitem rendered="{!IF((evtServiceRequest.Id!=null || evtServiceRequest.id!=''),true,false)}">
                                    <apex:outputLabel value="Emergency Contact Person" style="align:float-left;"/>
                                        <apex:outputText value="{!HTMLEncode(evtServiceRequest.Name_of_Contact_Person__c)}" />
                                    </apex:pageblocksectionitem>
                                    <apex:pageblocksectionitem rendered="{!IF((evtServiceRequest.Id==null || evtServiceRequest.Id==''),true,false)}"  >
                                        <apex:outputLabel value="Clean Up End Time" style="align:float-left;"/>
                                        <apex:outputPanel styleClass="requiredInput" layout="block" >
                                            <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                                            <apex:inputField value="{!evtServiceRequest.Clean_up_End_Time__c}" />
                                        </apex:outputPanel>
                                    </apex:pageblocksectionitem>
                                    <apex:pageblocksectionitem rendered="{!IF((evtServiceRequest.Id!=null || evtServiceRequest.id!=''),true,false)}">
                                    <apex:outputLabel value="Clean Up End Time" style="align:float-left;"/>
                                        <!-- <apex:outputText value="{0,date,MM/dd/YYYY}" >
                                            <apex:param value="{!DATEVALUE(evtServiceRequest.Clean_up_End_Time__c)}"/>
                                        </apex:outputText> -->
                                        <apex:outputText value="{!evtServiceRequest.Clean_up_End_Time__c}" />
                                    </apex:pageblocksectionitem>
                                    <apex:pageblocksectionitem rendered="{!IF((evtServiceRequest.Id==null || evtServiceRequest.Id==''),true,false)}"  >
                                        <apex:outputLabel value="Additional Details" style="align:float-left;"/>
                                        <apex:inputField value="{!evtServiceRequest.Additional_Details__c}" />
                                    </apex:pageblocksectionitem>
                                    <apex:pageblocksectionitem rendered="{!IF((evtServiceRequest.Id!=null || evtServiceRequest.id!=''),true,false)}">
                                    <apex:outputLabel value="Additional Details" style="align:float-left;"/>
                                        <apex:outputText value="{!HTMLEncode(evtServiceRequest.Additional_Details__c)}" />
                                    </apex:pageblocksectionitem>
                                    <apex:pageblocksectionitem rendered="{!IF((evtServiceRequest.Id==null || evtServiceRequest.Id==''),true,false)}">
                                        <apex:outputLabel value="Area(in sqft)" style="align:float-left;"/>
                                        <apex:outputPanel styleClass="requiredInput" layout="block" >
                                            <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                                            <!--  <apex:inputField value="{!evtServiceRequest.Location__c}" /> -->
                                            <apex:inputField value="{!evtServiceRequest.Area_sqft__c}" />
                                        </apex:outputPanel>
                                    </apex:pageblocksectionitem>
                        	  </apex:pageBlockSection>
                        	  
                            </apex:pageBlock>
                         </apex:outputPanel>
                    </div> 
                </apex:form>
            </div>
        </div>
    </body>
</apex:page>