<apex:page standardController="FATCA_Submission__c" extensions="FATCA_Detail_Override_Controller" sidebar="false" action="{!CreateFATCAAuditRecord}" >
    <style>
        td.rich-tab-header {padding: 2px 10px !important;}
        td.rich-tab-bottom-line,
        .rich-tab-bottom-line table, 
        .rich-tab-bottom-line table tr td {
            padding: 0;
            margin: 0;
        } 
    </style>
    <apex:form >
        <script>
            function confirmSubmission(){
                return confirm('After submitting you will not be able to edit FATCA details. You want to proceed?');
            }
        </script>
        <apex:pageBlock title="FATCA Report">
            <apex:pageBlockButtons location="top">
                <apex:commandButton value="Update" action="{!edit}" rendered="{!OR(!portalUser,OR(FATCA_Submission__c.Status__c=='Draft',FATCA_Submission__c.Status__c=='Rejected'))}"/>
                <apex:commandButton value="Submit" action="{!submit}" onclick="return confirmSubmission();" rendered="{!AND(portalUser,FATCA_Submission__c.Status__c=='Draft')}"/>
                <apex:commandButton value="ReSubmit" action="{!resubmit}" onclick="return confirmSubmission();" rendered="{!AND(portalUser,FATCA_Submission__c.Status__c=='Rejected')}"/>
            </apex:pageBlockButtons>
            <apex:pageBlockSection columns="1">
                <apex:pageBlockSectionItem >
                    <apex:outputText >Reporting FI</apex:outputText>
                    <apex:outputText value="{!FATCA_Submission__c.Reporting_FI__r.Name}"/>
                </apex:pageBlockSectionItem>
                <apex:outputField value="{!FATCA_Submission__c.Reporting_FI__r.GIIN__c}"/>
                <apex:outputField value="{!FATCA_Submission__c.As_On_Date__c}"/>
                <apex:outputField value="{!FATCA_Submission__c.Status__c}"/>
            </apex:pageBlockSection>
        </apex:pageBlock>
        <apex:pageBlock id="pb" rendered="{!fatcaList.size>0}">
            <apex:tabPanel switchType="client">
                <apex:tab label="INDIVIDUAL">
                    <apex:pageBlockTable value="{!fatcaAList}" var="fatca" rendered="{!fatcaAList.size>0}">
                        <apex:column value="{!fatca.Name}" rendered="{!!portalUser}"/>
                        <apex:column value="{!fatca.First_Name__c}"/>
                        <apex:column value="{!fatca.Last_Name__c}"/>
                        <apex:column value="{!fatca.Account_Holder_Type__c}"/>
                        <apex:column value="{!fatca.Birth_Date__c}"/>
                        <apex:column value="{!fatca.Address__c}"/>
                        <apex:column value="{!fatca.City__c}"/>
                        <apex:column value="{!fatca.Country_Code_Address__c}" headerValue="Country"/>
                        <apex:column value="{!fatca.US_TIN__c}"/>
                        <apex:column value="{!fatca.Account_Number__c}"/>
                        <apex:column value="{!fatca.Account_Balance__c}"/>
                        <apex:column value="{!fatca.Payment_Amount__c}"/>
                        <apex:column value="{!fatca.Payment_Type__c}"/>
                        <apex:column value="{!fatca.Account_Type__c}"/>
                        <apex:column value="{!fatca.Status__c}"/>
                        <apex:column value="{!fatca.Comment__c}"/>
                    </apex:pageBlockTable>
                </apex:tab>
                <apex:tab label="COMPANY">
                    <apex:pageBlockTable value="{!fatcaBList}" var="fatca" rendered="{!fatcaBList.size>0}">
                        <apex:column value="{!fatca.Name}" rendered="{!!portalUser}"/>
                        <apex:column value="{!fatca.Entity_Name__c}"/>
                        <apex:column value="{!fatca.Account_Holder_Type__c}"/>
                        <apex:column value="{!fatca.Address__c}"/>
                        <apex:column value="{!fatca.City__c}"/>
                        <apex:column value="{!fatca.Country_Code_Address__c}" headerValue="Country"/>
                        <apex:column value="{!fatca.US_TIN__c}"/>
                        <apex:column value="{!fatca.Account_Number__c}"/>
                        <apex:column value="{!fatca.Account_Balance__c}"/>
                        <apex:column value="{!fatca.Payment_Amount__c}"/>
                        <apex:column value="{!fatca.Payment_Type__c}"/>
                        <apex:column value="{!fatca.Account_Type__c}"/>
                        <apex:column value="{!fatca.Status__c}"/>
                        <apex:column value="{!fatca.Comment__c}"/>
                    </apex:pageBlockTable>
                </apex:tab>
            </apex:tabPanel>
        </apex:pageBlock>
    </apex:form>
</apex:page>