<apex:page showHeader="false" id="page1" standardController="Feedback__c" title="DIFC - Dubai International Financial Centre :Feedback Survey"  extensions="Feedbackformextensions" cache="false" standardStylesheets="false" sidebar="false">

<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW" />



<style>



body 
{


height: 100%;
background-color: #1C224F;

background-repeat: no-repeat;
font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
color: #141b4d;

 height: 100%;
 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
  
}
table
{
 background-color: #fff;
   
   
}


input[type=text],input[type=email],input[type=tel], select, textarea 
{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

th{
padding-left:20px;
height:60px;
background-color:#141b4d;
color:#fff;
font-size: 1.3em !important;
}
td
{
height:40px;
padding-left:20px;
font-size: 1.2em !important;

}
.ratimg
{
    border-radius: 1px;
    padding: 2px;
    width: 60px;
}
.ratimg:hover {
   
    border: 1px solid #00a3e0;
    border-radius: 4px;
}
.ratimg:selected {
   
    border: 1px solid #00a3e0;
    border-radius: 4px;
}

.ratimgm
{
    border-radius: 1px;
    padding: 2px;
    width: 155px;
}
.ratimgm:hover {
   
    border: 1px solid #00a3e0;
    border-radius: 4px;
}
.ratimgm:selected {
   
    border: 1px solid #00a3e0;
    border-radius: 4px;
}


a:selected {
    color:#F2F2F2;
}
.maintab
{
 
    width:100%;
       cellspacing:10;
       cellpadding:10;
 
}
.center
{
    position: absolute;
    top: 8%;
    left: 20%;
    
     background-color: #fff;
     width:60%;
    
}
.centerpage
{
    position: absolute;
    top: 40%;
    left: 20%;
    
     background-color: #fff;
     width:60%;
    
}

.submit
{
    background-color: #141b4d!important; /* Green */
    color: white !important;
    padding: 12px 20px 12px !important;
    border: none!important;

    cursor: pointer!important;
    
     -webkit-border-radius:0px !important;
    -webkit-appearance:none;
border-radius: 0;
    
}

.submit:hover 
{

  background-color: #00a3e0 !important; /* Green */
    
}
#errorlist
{
color:red;
}


</style>

<style>

label{
 display: inline-block;
}
label > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}


label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  border:2px solid #00a3e0;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){
  label > input + img{ /* IMAGE STYLES */
      cursor:pointer;
      border:2px solid transparent;
      pointer-events: none !important;
    }
}

@media screen and (-webkit-min-device-pixel-ratio:0){
 label > input + img{ /* IMAGE STYLES */
      cursor:pointer;
      border:2px solid transparent;
    
    } 
}

@-moz-document url-prefix() {
label > input + img{ /* IMAGE STYLES */
      cursor:pointer;
      border:2px solid transparent;
     
    }
}




</style>

<!--[if IE]>

 
<style>
   label > input + img{ /* IMAGE STYLES */
      cursor:pointer;
      border:2px solid transparent;
      pointer-events: none !important;
    }

</style>
<![endif]-->

   <br />
<br />
<apex:outputPanel rendered="{!Submited}">
<div class="centerpage">

    <center>

<table  class="maintab" >

<tr>
<td colspan="2" align="center">
   <h2>

Thank you for taking the time to complete the survey.
</h2>   
</td>
</tr>
</table>
</center>
</div >
</apex:outputPanel>


<apex:form id="form1" rendered="{!NOT(Submited)}" >


<apex:inputHidden id="overallid" value="{!ObjFeedback.Overall_Experience__c}"/>
<apex:inputHidden id="experienceid" value="{!ObjFeedback.Experience_with_the_DIFC_Team__c}"/>
<apex:inputHidden id="clientportalid" value="{!ObjFeedback.Ease_of_the_Client_Portal__c}"/>
<apex:inputHidden id="clarityid" value="{!ObjFeedback.Clarity_on_requirements__c}"/>

<div class="center">


<table  class="maintab" style="padding: 20px;" >



<tr>
<td colspan="1" align="left">
    <table>
    <tr>
      <td>
     <img id="surveyStatus" style="width:60px;display: none;"   src="{!$Resource.Fair}" />
    </td>
    <td>
     <h1>  Feedback Survey </h1>
    </td>
    
    </tr>
  
    </table>
   

   



</td>
<td align="right">

 <img style="width:150px;" src="https://www.difc.ae/themes/difc/images/branding/logo.png" />


</td>
</tr>



</table>

<table id="tabmain"  class="maintab">
<tr>
<th  colspan="2">
     

    
    Please rate your overall experience of setting up in the DIFC 
    
</th>
</tr>

<tr>
<td colspan="2" >
    <table border="0" width="100%"  style="margin-top:20px">
    <tr>
        <td align="left">
      
            
           


            
              <label>
                <input type="radio" required="true"  onchange="fun_happy(this);"  name="fb" value="Good" />
                <img class="ratimgm"  src="{!$Resource.Good}" />
              </label>
  
  
       
        </td>
        <td align="left">
       
       
        
                <label>
                <input onchange="fun_happy(this);" required="true"   type="radio" name="fb" value="Fair" />
                <img  class="ratimgm"  src="{!$Resource.Fair}" />
              </label>
              
       
        </td>
        <td align="left">

        
                <label>
                <input  onchange="fun_happy(this);" required="true"  type="radio" name="fb" value="Poor" />
                    <img class="ratimgm"  src="{!$Resource.Poor}" />
              </label>
              
        </td>
    </tr>
    </table>
    
</td>
</tr>
<tr>
<td colspan="2">
     
    <br />    
</td>
</tr>

</table>


<table  style="display: none;" id="tabother" class="maintab" >



<tr>
    <th colspan="2" id="imagstatus">
     
      
        
    </th>
</tr>

<tr>
    <td>
    Experience with the DIFC Team:
    </td>
    <td align="center">



   

            


     <table width="100%">
    <tr>
        <td>
      
            
            
              <label>
                <input type="radio" onclick="fun_DIFCTeam(this);" name="fbExperience" value="Good" />
                <img class="ratimg"  src="{!$Resource.Good}" />
              </label>
  
  
       
        </td>
        <td>
       
       
        
                <label>
                <input type="radio" onclick="fun_DIFCTeam(this);" name="fbExperience" value="Fair" />
                <img  class="ratimg"  src="{!$Resource.Fair}" />
              </label>
              
       
        </td>
        <td>

        
                <label>
                <input type="radio" onclick="fun_DIFCTeam(this);" name="fbExperience" value="Poor" />
        <img class="ratimg"  src="{!$Resource.Poor}" />
              </label>
              
        </td>
    </tr>
    </table>
        
    </td>
</tr>

<tr>
    <td>
    Ease of the Client Portal:
    </td>
    <td align="center">
      <table width="100%">
    <tr>
        <td>
      
            
            
              <label>
                <input type="radio" onclick="fun_ClientPortal(this);" name="fbClient" value="Good" />
                <img class="ratimg"  src="{!$Resource.Good}" />
              </label>
  
  
       
        </td>
        <td>
       
       
        
                <label>
                <input type="radio" onclick="fun_ClientPortal(this);" name="fbClient" value="Fair" />
                <img  class="ratimg"  src="{!$Resource.Fair}" />
              </label>
              
       
        </td>
        <td>

        
                <label>
                <input type="radio" onclick="fun_ClientPortal(this);" name="fbClient" value="Poor" />
        <img class="ratimg"  src="{!$Resource.Poor}" />
              </label>
              
        </td>
    </tr>
    </table>
        
    </td>
</tr>


<tr>
    <td>
    Clarity on requirements:
    </td>
    <td align="center">
       <table width="100%">
    <tr>
        <td>
      
            
            
              <label>
                <input type="radio"  onclick="fun_Clarity(this);" name="fbClarity" value="Good" />
                <img class="ratimg"  src="{!$Resource.Good}" />
              </label>
  
  
       
        </td>
        <td>
       
       
        
                <label>
                <input type="radio"  onclick="fun_Clarity(this);" name="fbClarity" value="Fair" />
                <img  class="ratimg"  src="{!$Resource.Fair}" />
              </label>
              
       
        </td>
        <td>

        
                <label>
                <input type="radio"  onclick="fun_Clarity(this);" name="fbClarity" value="Poor" />
        <img class="ratimg"  src="{!$Resource.Poor}" />
              </label>
              
        </td>
    </tr>
    </table>
        
    </td>
</tr>


<tr id="trhappy" style="display: none;">
<th colspan="2" id="trhappy" >
     
Please share with us your happy experience 
    
</th>
</tr>

<tr id="trhappy1" style="display: none;">
<td colspan="2">
     
     <apex:inputField value="{!ObjFeedback.Please_share_with_us_your_happy_experien__c}"/>

    
</td>
</tr>
<tr id="trpoor" style="display: none;">
<th colspan="2">
     
Did you face any challenges or delays in setting up an entity in DIFC? if there is one thing we can do better, please specify:  
    
</th>
</tr>

<tr id="trpoor1" style="display: none;">
<td colspan="2">
     <apex:inputField value="{!ObjFeedback.Any_challenges_or_delays__c}"/>
     
    
    
</td>
</tr>



<tr>
<td colspan="1" align="left">
   
   <input type= "button" value="Back" class="submit" onclick="fun_back(this);" />
   
   
   
   
</td>
<td  align="right">

<apex:commandButton styleClass="submit" id="buttonid"  action="{!Submit}" style="display:none" value="Submit"/>
<input type= "button" value="Submit" class="submit"  style="background-color:#00a3e0!important;" onclick="return fun_Validation(this);" />   
   &nbsp;&nbsp;
  
   <p id="errorlist">
   
   </p>
</td>
</tr>






</table>


</div>


<script>
function fun_happy(obj)
{
//alert('aaa'+obj);
console.log(obj);
    if(obj.value=='Good')
    {
    document.getElementById('trhappy').style.display = 'table-row';
    document.getElementById('trhappy1').style.display = 'table-row';
    document.getElementById('trpoor').style.display = 'none';
    document.getElementById('trpoor1').style.display = 'none';
    document.getElementById('imagstatus').innerHTML='How do you feel about the following ?';
    }
    else
    {
    document.getElementById('trhappy').style.display = 'none';
    document.getElementById('trhappy1').style.display = 'none';
    document.getElementById('trpoor').style.display = 'table-row';
    document.getElementById('trpoor1').style.display = 'table-row';
    //
    document.getElementById('imagstatus').innerHTML='Please share with us on how we can improve?';
    
    ////<table><tr><td> <img width="20px"  src="{!$Resource.Good}" /></td> <td>  How do you feel about the following</td><tr></table>';

    }
    
    document.getElementById('page1:form1:overallid').value=obj.value;
    
    //alert('...===>'+document.getElementById('{!$Component.overallid}'));
    //alert('.........>'+document.getElementById('page1:form1:overallid'));
    
     document.getElementById('tabother').style.display = '';
     document.getElementById('tabmain').style.display = 'none';
   
    // document.getElementById('surveyStatus').style.display = '';  
     
 
}
function fun_back(obj)
{
    document.getElementById('tabother').style.display = 'none';
     document.getElementById('tabmain').style.display = '';
     
}

function fun_Clarity(obj)
{
document.getElementById('page1:form1:clarityid').value=obj.value;
//j_id0:j_id2:ClarityId
}
function fun_DIFCTeam(obj)
{//j_id0:j_id2:ExperienceId

document.getElementById('page1:form1:experienceid').value=obj.value;
}
function fun_ClientPortal(obj)
{
document.getElementById('page1:form1:clientportalid').value=obj.value;
//j_id0:j_id2:ClientPortalId
}
function  fun_Validation(obj)
{
//alert(document.getElementById('Page1:form1:Overallid').value);
//alert(document.getElementById('Page1:form1:ClarityId').value);
//alert(document.getElementById('Page1:form1:ExperienceId').value);
//alert(document.getElementById('Page1:form1:ClientPortalId').value);


    if(document.getElementById('page1:form1:overallid').value=='')
    {
        document.getElementById('errorlist').innerHTML  = 'PLEASE RATE YOUR OVERALL EXPERIENCE.';
        return false;
    }
    else
    {
       obj.value='Submitting...';
        obj.disabled=true;
        //alert(document.getElementById('Page1:form1:buttonId'));
        document.getElementById('page1:form1:buttonid').click();
        
    }

 return true;
 
    
}

</script>


</apex:form>

</apex:page>