<!--This Page is created for Project Re-registration of a Public Company as a Private Company -->
<apex:page standardController="Service_Request__c" extensions="FilingOfICCompanyExtCrl"    id="page" tabStyle="Service_Request__c"  docType="html-5.0">
    
    <style>
        ul.a {
        list-style-type: circle;
        list-style: square inside;
        }
        p.Inn
        {
        
        }
        .vfHelpText a {
        position:relative;
        }
        .vfHelpText a span {
        display: none;
        }
        .vfHelpText a:hover span {
        display: block;
        position:absolute;
        top:1.25em;
        padding:2px 5px;
        left:-15em; width:15em;
        z-index:100;
        border:1px solid orange;
        background-color:#FEFDB9;
        color:black;
        }
        .helpButton, .helpButtonOn {
        top: -1px;
        left: -5px;
        position: relative;
        }
    </style>
       <apex:stylesheet value="{!$Resource.DocumentCSS}/popup/reveal.css"/>
    <apex:includeScript value="{!$Resource.DocumentCSS}/popup/jquery.min.js"/>
    <apex:includeScript value="{!$Resource.DocumentCSS}/popup/jquery.reveal.js"/>
    <style type="text/css">
        .loader {
          z-index: 1200;
          position: absolute;
          margin-left: -60px;
          filter: Alpha(Opacity =70);
          opacity: 0.70;
          -moz-opacity: 0.70;
          top: 35%;
          left: 55%;
        }    
    .popupBackground {
        /* Background color */
        background-color:black;
        opacity: 0.20;
        filter: alpha(opacity = 20);
     
        /* Dimensions */
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 998;
        position: absolute;
    }
    
      /* This is for the message DIV */
    .PopupPanel {
        /* Background color */
        /*border: solid 2px #00205B;
        background-color: white;
         */
        /* Dimensions */
        left: 50%;
        width: 100px;
        //margin-left: -100px;
        border-radius: 15px
        top: 50%;
        height: 100px;
        margin-top: 200px;
        z-index: 999;
        position: fixed;
    }
    </style>
    <apex:sectionHeader title="Conversion of Company to an Incorporated Cell"/>
    
    <div  class="pageDescription">
        <p>
            Service request allow existing private and public company become Incorporated Cell
            <br />
            <br />
            <b>Please upload the following documents:</b><br />
            A special resolution approving the conversion of the entity to an Incorporated Cell. For the template please click here: <a href="https://www.difc.ae/business/operating/templates-downloads/">https://www.difc.ae/business/operating/templates-downloads/</a>
            <br/>A copy of the Articles of Association as proposed to be amended duly signed by the authorized individuals. 
            <br/>Signed Declaration form. This document is generated by the portal and must be signed by an authorized person.
            <br/>DFSA Consent            
            <br /><br />
            <b>Fees:</b>
            <br />
            USD 1000
        </p>
    </div>
    
    
    <apex:form rendered="{!isNull(Service_Request__c.Completed_Date_Time__c) }" id="FormPage">
        <apex:actionFunction action="{!setICCCompanydetails}" name="setICCCompanydetails" rerender="ICPageBlockID,ICCCompanySection" status="pleasewait" immediate="true"  >
            <apex:param name="selectedCompanyId" value="" assignTo="{!selectedCompanyId}" />
        </apex:actionFunction>
        <apex:inputHidden value="{!Service_Request__c.Customer__c}"/>
        <input type="hidden" id='accountStatus' value="Active" />
        <apex:inputHidden id="ICCCompany" value="{!Service_Request__c.Transfer_to_account__c}" />
        <apex:inputHidden id="ICCCompanyName" value="{!selectedCompanyName}" />
        <apex:pageMessages id="PMMessage" ></apex:pageMessages>
        <apex:pageBlock id="ICPageBlockID" rendered="{!SRisValid}">
            <apex:pageBlockButtons location="top" >
                <apex:commandButton action="{!SaveRecord}" value="Save" />
                <apex:commandButton action="{!cancel}" value="Cancel"/>
            </apex:pageBlockButtons>
            <apex:pageBlockSection columns="1" collapsible="false" title=" Correspondence Details">
                <apex:outputField label="Client" value="{!Service_Request__c.Entity_Name__c}"/>
                <apex:outputField value="{!Service_Request__c.Email__c}"/>
                <apex:outputField value="{!Service_Request__c.Send_SMS_To_Mobile__c}"/>
            </apex:pageBlockSection>
            
          
            <apex:pageBlockSection columns="1" collapsible="false" title="Date of passing the resolution for Incorporated Cell">
                <apex:pageBlockSectionItem HelpText="Please enter the date of passing a special resolution for Incorporated Cell.">
                  
                    <apex:outputPanel >
                        <apex:outputLabel value="{!$ObjectType.Service_Request__c.fields.Date_of_Resolution__c.Label}"/>
                    </apex:outputPanel> 
                    <apex:inputField required="true" value="{!Service_Request__c.Date_of_Resolution__c}" />
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
            <apex:pageBlockSection columns="1" collapsible="false" title="Company Conversion Details">
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Incorporated Cell Type"/>
                    <apex:outputPanel styleClass="requiredInput" layout="block">
                        <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                        <apex:actionRegion >
                        <apex:selectList required="true" value="{!selectedICType}" size="1" id="ICType" >
                            <apex:selectOptions value="{!ICTypeOption}" />
                        <apex:actionSupport event="onchange" reRender="groupSelectList,groupSelectListT" action="{!ICTypeOptionChange}"/>
                        </apex:selectList>
                    </apex:actionRegion>
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>
            
            </apex:pageBlockSection>
            <apex:pageBlockSection collapsible="false" title="Change Entity Name">
                <apex:outputField value="{!Service_Request__c.Previous_Entity_Name__c}" />
                <apex:inputField required="true" value="{!Service_Request__c.Entity_Name__c}" rendered="{!IF($Site.BaseUrl == null,True,False)}"/>
                <apex:outputText label="Proposed Entity Name" value="{!EntityName}" rendered="{!IF($Site.BaseUrl != null,True,False)}"/>
                <apex:pageBlockSectionItem helpText="Please select the suffix that the entity name will end with" rendered="{!IF(IsSuffixAvailable || selectedICType !=null,true,false)}">
                    <apex:outputLabel value="Suffix" for="groupSelectList"/>
                    <apex:outputPanel styleClass="requiredInput" layout="block">
                        <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                        <apex:selectList required="true" value="{!selectedSuffix}" size="1" id="groupSelectList" >
                            <apex:selectOptions value="{!suffixOption}" />
                        </apex:selectList>
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>
                <apex:outputField value="{!Service_Request__c.Pre_Entity_Name_Arabic__c}" rendered="{!IF($Site.BaseUrl == null,True,False)}"/>
                <apex:inputField required="true" value="{!Service_Request__c.Pro_Entity_Name_Arabic__c}" rendered="{!IF($Site.BaseUrl == null,True,False)}"/>
            </apex:pageBlockSection>
            
            <apex:pageBlockSection collapsible="false" title="Change in Trading Name">
                <apex:outputField value="{!Service_Request__c.Previous_Trading_Name_1__c}" />
                <apex:inputField required="true" value="{!Service_Request__c.Proposed_Trading_Name_1__c}" rendered="{!IF($Site.BaseUrl == null,True,False)}"/>
                <apex:outputText label="Proposed Trading Name" value="{!TradeName}" rendered="{!IF($Site.BaseUrl != null,True,False)}"/>
                <apex:pageBlockSectionItem helpText="Please select the suffix that the entity name will end with" rendered="{!IF(IsSuffixAvailableTrade || selectedICType !=null,true,false)}">
                    <apex:outputLabel value="Suffix" for="groupSelectListT"/>
                    <apex:outputPanel styleClass="requiredInput" layout="block">
                        <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                        <apex:selectList required="true" value="{!selectedSuffixTrade}" size="1" id="groupSelectListT" >
                            <apex:selectOptions value="{!suffixOption}" />
                        </apex:selectList>
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>
                
                <apex:outputField value="{!Service_Request__c.Pre_Trade_Name_1_in_Arab__c}" rendered="{!IF($Site.BaseUrl == null,True,False)}"/>
                <apex:inputField required="true" value="{!Service_Request__c.pro_trade_name_1_in_arab__c}" rendered="{!IF($Site.BaseUrl == null,True,False)}"/>
            </apex:pageBlockSection>
            <apex:pageBlockSection id="ICCCompanySection" collapsible="false" title="Please select the Incorporated Cell Company" >
                 
                <apex:pageBlockSectionItem id="ICCCompanyPBSection">
                    <apex:outputLabel value="New Incorporated Cell Company Name" />
                                    <apex:outputPanel layout="block" styleClass="requiredInput">
                                        <div class="requiredBlock"></div>
                                        <apex:outputPanel >
                                            <apex:inputText id="txtICCCompany" value="{!selectedCompanyName}" style="display: inline-block"  />
                                        	
                                            <img src="/s.gif" alt="Search ICC Companies" style="display: inline-block;" onclick=" tc = false; openCompanySearchPopup('{!$Component.txtICCCompany}');" class="lookupIcon" title="Company Selection (Popup)" onblur="this.className = 'lookupIcon';" onfocus="this.className = 'lookupIconOn';" onmouseout="this.className = 'lookupIcon';this.className = 'lookupIcon';" onmouseover="this.className = 'lookupIconOn';this.className = 'lookupIconOn';"/>
                                           
                                        </apex:outputPanel>
                                    </apex:outputPanel>
                    </apex:pageBlockSectionItem>
                 <div id="dvUnis" class="reveal-modal" style="display:block;top:8%;min-height: 350px;">
                <a class="close-reveal-modal" id="btnCloseReveal">&#215;</a>    
                     </div>
            </apex:pageBlockSection>
              <apex:pageBlockSection columns="1" collapsible="false" title="Details of the Person Signing the Request">
                <apex:inputField required="true" value="{!Service_Request__c.Declaration_Signatory_Name__c}" />
                <apex:inputField required="true" value="{!Service_Request__c.Declaration_Signatory_Capacity__c}" />
            </apex:pageBlockSection>            
        </apex:pageBlock>
       
    </apex:form>
      <c:SearchAccountsComponent customerId="{!SRData.Customer__c}" 
            accountStatus="accountStatus" 
            searchHeader="Search Company"
            searchLabel="Company Name"
            isSameClient="false"
            searchWithLicenseNo="false"
            searchWithSubLegalStructure="true"
            accountSubLegalStructure="Incorporated Cell Company"                     
        />
    <script>
    function selectHosting(hci,hcn){
        document.getElementById('page:FormPage:ICCCompany').value=hci;
        document.getElementById('page:FormPage:ICCCompanyName').value=hcn;
        document.getElementById('page:FormPage:ICPageBlockID:ICCCompanySection:ICCCompanyPBSection:txtICCCompany').value=hcn;
        document.getElementById('btnCloseReveal').click();
        setICCCompanydetails(hci);
        }  
    </script>
  
</apex:page>