<apex:page standardcontroller="Service_Request__c" extensions="cls_automatedFineProcess">
    <style>
        /* This is for the full screen DIV */
        .overlay {
            background-color: black;
           cursor: default;
           opacity: 0.6;
           /* Generic for Major browsers */ 
           -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; 
           /* IE 5-7 */
           filter: alpha(opacity = 60);
           /* Netscape */
           -moz-opacity: 0.6;
           /* Safari 1.x */
           -khtml-opacity: 0.6;
           position: fixed;
           width: 100%; 
           height: 100%;
           top: 0;
           left: 0;
           z-index: 101;
           zIndex: 101;
        }
        
        .PopupPanel
        {
            position: fixed;
            top: 30%;
            z-index: 102;
            width: 70%;
            float:left;
            margin-left: 10%;
        }
        
        .loaderCon {
            position: relative;
            filter: Alpha(Opacity =70);
            opacity: 0.70;
            -moz-opacity: 0.70;
         }
       
       .tableClass{
          text-align:center; 
       }
       
       .headerClass{
          text-align:center; 
       }
        
    </style>
    <script type="text/javascript">
    function checkValue(){
        var objName = document.getElementById("txtName");
        alert("Previous Value: " + objName.defaultValue + ", Current Value: " + objName.value);
    }
</script>
    <apex:detail subject="{!objSR.id}"/>
    <apex:form id="UploadFrm">
        <apex:actionfunction name="deletePrice" action="{!deletePriceItem}" rerender="temp,msg"  status="actstatusCon">
            <apex:param name="fineId" value="" AssignTo="{!priceItemToDelete}"/>
        </apex:actionfunction>
        
        <div class="overlay"></div>
        <apex:outputPanel styleclass="PopupPanel">
            <apex:pageblock title="SR Number: {!objSR.name}" id="temp">
                
                <apex:actionStatus id="actstatusCon">            
                    <apex:facet name="start">                
                          <img src="/img/loading32.gif" style="vertical-align:middle;" class="loaderCon">Please Wait....</img>
                    </apex:facet>        
                </apex:actionStatus>
                <apex:pageBlockButtons location="top">
                <apex:commandButton action="{!savevalue}" value="Save"/>
                <apex:commandButton action="{!Cancel}" value="Cancel"/>
                </apex:pageBlockButtons>
                <apex:commandLink style="float:right;" action="{!reDirectToMainSR}" value="Close"/>
                <apex:pagemessages id="msg"/>
                <apex:pageBlockTable value="{!listOfFine}" var="tempObj" id="priceTable" rendered="{!(listOfFine!=null && listOfFine.size>0 && isallowedToEdit)}" headerclass="headerClass" styleclass="tableClass">
                    <apex:column HeaderValue="Name" value="{!tempObj.SRPriceLine_Text__c}" />
                    <apex:column HeaderValue="Price">
                        AED:<apex:inputField value="{!tempObj.Price__c}"/>
                    </apex:column>
                    <apex:column HeaderValue="Reason">
                        <apex:inputField value="{!tempObj.Reason__c}"/>
                    </apex:column>
                    <apex:column HeaderValue="Status" value="{!tempObj.Status__c}" />
                    
                    <apex:column HeaderValue="Issue Date">
                        <apex:outputText value="{0,date,dd/MM/YYYY}">
                            <apex:param value="{!tempObj.createdDate}"/>
                        </apex:outputText>
                    </apex:column>
                               
                    <apex:column HeaderValue="Remove Fine">
                        <apex:image value="{!$Resource.remove_image2}" style="cursor:pointer;" onclick="DeleteRow('{!tempObj.id}');" title="Remove the Fine"/>
                    </apex:column>
                </apex:pageBlockTable>
                <table>
                    <tr><td><apex:inputCheckbox value="{!isSendNotification}"/></td><td style="vertical-align:middle;">Send e-mail notification to user when price is changed</td></tr>
                </table>
            </apex:pageblock>
        </apex:outputPanel>
    </apex:form> 
    <script>
        function DeleteRow(fineId){
           var r = confirm('Are you sure!');
           if(r==true){
                deletePrice(fineId);
           }
        }
        
    </script>
</apex:page>