<apex:page id="pg" controller="Fo_cls_PaymentConfCntlr" tabstyle="Service_Request__c" action="{!executeOnLoad}" >
    <apex:stylesheet value="{!$Resource.ProcessFlowCSS}" />
    <style>
        #DyncPgFlow\:MenuComp{
            padding-top:20px;
            width:21.5%;
            float:left;
            margin-right: 1.5%;
            background-color: #f6f6f6; 
            border-right: 1px solid #cbcbcb;
            box-sizing: border-box;
        }
    </style>
    <style>
        .pricing-table{
            margin: 0 auto;
            margin-bottom: 10px;
        }
        .message table td {padding: 0;}
        .message {margin: 8px 0px;}
    </style>

    <div style="width:100%;float:left;">
        <apex:sectionheader title="Service Request" subtitle="{!objSR.Name} for {!objSR.Portal_Service_Request_Name__c}"/>
        <apex:form id="frm">
            <apex:pagemessages id="msg"/>
            
            <apex:actionfunction name="confirmPayment" action="{!confirmPayment}" status="ActStatus" rerender="msg,pb" oncomplete="isDisabled=false;"/> 

            <apex:pageblock id="pb" title="Service Request Details">
                <apex:pageblockbuttons id="pbbtns" location="top">
                    <apex:commandbutton id="btnback" value="Back to Service Request" onclick="disableButtons();" action="{!backToStep}" rerender="msg,pb"/>
                    <apex:commandbutton id="btncnf" value="Confirm" onclick="if(isDisabled==false){isDisabled=true;disableButtons();confirmPayment();}return false;" /> 

                </apex:pageblockbuttons>
                <apex:pageblocksection columns="2">
                    <apex:outputfield value="{!objSR.Name}"/>
                    <apex:outputfield value="{!objSR.Customer__c}"/> 
                    <apex:outputfield label="Status" value="{!objSR.External_Status_Name__c}" /> 
                    <apex:outputfield value="{!objSR.CreatedDate}"/>
                </apex:pageblocksection>
            </apex:pageblock>

            <apex:outputpanel id="AmountPnl" >
                <table class="pricing-table">
                    <tr>
                        <td>
                            <apex:outputlabel value="Available Account Balance : AED " style="font-weight:bold;font-size: 1.10em;"/>
                            <apex:outputText value="{0, number, ###,###,###,##0.00}" style="font-weight:bold;font-size: 1.2em;color:{!AmountColor};" escape="false">
                                <apex:param value="{!AvailablePortalBalance}"/>
                                <apex:param value="{!SUBSTITUTE(TEXT(FLOOR(AvailablePortalBalance)), ',', '.' )}" />
                                <apex:param value="{!SUBSTITUTE(if(RIGHT(TEXT((AvailablePortalBalance * 100)),2)=='0','00',RIGHT(TEXT((AvailablePortalBalance * 100)),2)),'.','0')}" />
                            </apex:outputText>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:center;">
                            <apex:outputpanel layout="block" id="chargepnl" >
                                <apex:outputlabel value=" AED " style="font-weight:bold;font-size: 1.10em;" />
                                <apex:outputText value="{0, number, ###,###,###,##0.00}" style="font-weight:bold;font-size: 1.2em;color:red;" escape="false">
                                    <apex:param value="{!TotalPriceItemVal}"/>
                                    <apex:param value="{!SUBSTITUTE(TEXT(FLOOR(TotalPriceItemVal)), ',', '.' )}" />
                                    <apex:param value="{!SUBSTITUTE(if(RIGHT(TEXT((TotalPriceItemVal * 100)),2)=='0','00',RIGHT(TEXT((TotalPriceItemVal * 100)),2)),'.','0')}" />
                                </apex:outputText>
                                <label style="font-weight:bold;font-size: 1.10em;"> will be charged</label>
                            </apex:outputpanel>
                        </td>
                    </tr>
                </table>
            </apex:outputpanel>
            <apex:pageblock id="SRPriceItemPB" title="SR Price Items" >
                <apex:pageblocktable id="pbt" value="{!lstSRPriceItems}" var="PI">
                    <apex:column value="{!PI.Name}"/>
                    <apex:column headervalue="Price in AED" value="{!PI.Price__c}"/>
                    <apex:column headervalue="Price in USD" value="{!PI.Price_in_USD__c}"/>
                    <apex:column headerValue="Product" value="{!PI.Product__r.Name}"/>
                    <apex:column headerValue="Pricing Line" value="{!PI.Pricing_Line__r.Name}"/>
                    <apex:column value="{!PI.Status__c}"/>
                </apex:pageblocktable>
            </apex:pageblock>
        </apex:form>
    </div>
    <script>
    	var isDisabled = false; // 18th Jan 2016-- by Ravi - Added to prevent double posting
        function disableButtons(){
            if(document.getElementById('pg:frm:pb:pbbtns:btncnf')!=null){
                document.getElementById('pg:frm:pb:pbbtns:btncnf').className = 'btnDisabled';
                document.getElementById('pg:frm:pb:pbbtns:btncnf').value = 'Processing..';
            }
            if(document.getElementById('pg:frm:pb:pbbtns:btnback')!=null){
                document.getElementById('pg:frm:pb:pbbtns:btnback').className = 'btnDisabled';
                document.getElementById('pg:frm:pb:pbbtns:btnback').value = 'Processing..';
            }
        }
        function DoAction(ButtonSectionId,IgnoreReqFlds){
            document.getElementById('pg:frm:hdnActionId').value = ButtonSectionId;
            InvokeAction();
        }
        
        //Mar 8th,2015 - Added by Bilal to disable links-->
        if(jQuery){
            jQuery(document.getElementById('pg:frm:SRPriceItemPB:pbt')).find('tbody tr td a').each(function(){
                $(this).replaceWith(function() { return this.innerHTML; });
            })
        }
        
    </script>
</apex:page>