<!-- // v1.1 Azfer Pervaiz 25-Apr-2019 - Updated the code and logic -->

<apex:page docType="html-5.0"  standardController="Service_Request__c" extensions="cls_GSComfortLetters" id="GSComfortLetters" tabstyle="Service_Request__c" >
    
     <apex:stylesheet value="{!$Resource.DocumentCSS}/popup/reveal.css"/>
    <apex:includeScript value="{!$Resource.DocumentCSS}/popup/jquery.min.js"/>
    <apex:includeScript value="{!$Resource.DocumentCSS}/popup/jquery.reveal.js"/>
    <input type="hidden" id='accountStatus' value="Active" />
    <apex:pagemessages id="msg"/>
    <apex:form id="letterForm">
        <apex:sectionHeader title="{!$ObjectType.Service_Request__c.label} Edit" subtitle="{!objSR.name}" rendered="{!isPortal == false && isNewPage == false}"/>
        <apex:sectionHeader title="{!$ObjectType.Service_Request__c.label} Edit" subtitle="New Service Request" rendered="{!isPortal == false && isNewPage == true}"/>
        <apex:outputText rendered="{!isPortal == true}" value="{!UPPER(HTMLENCODE(objSRTemplate.Portal_Service_Request_Name__c))}" escape="false" style="font-weight:bold; font-size: 18px; margin-top: 15px; margin-bottom: 15px; display: block"/>
        <apex:outputText rendered="{!isNewPage == true && isPortal == true}" value="{!objSRTemplate.SR_Description__c}" escape="false"/>
        
        <br/><br/>
        <apex:pageBlock id="letterBlock" title="{!IF(isDetailPage==true,'Service Request Detail','Service Request Edit')}">
            <apex:pageBlockButtons id="letterButton">
                <apex:actionFunction action="{!saveRequest}" name="saveSRRequest"/>
                <apex:actionFunction action="{!submitRequest}" name="submitSRRequest"/>
                <apex:actionFunction action="{!confirmUpgrade}" name="confirmUpgradeFunction"/>
                
                <apex:commandButton value="Save" id="saveRequest"  rendered="{!isDetailPage == false}" onclick="confirmSave(); return false;"/>
                <apex:commandButton action="{!EditRequest}" value="Edit" id="EditRequest" rendered="{!isDetailPage == true}"/>
                <apex:commandButton value="Submit" id="submitRequest" rendered="{!isDetailPage == true}" onclick="confirmSubmit(); return false;"/>
                <apex:commandButton value="Upgrade to VIP" id="upgradeToVIP" rendered="{!isDetailPage == true && objSR.External_Status_Name__c!='Draft'}" onclick="confirmUpgrade(); return false;"/>
                <apex:commandButton value="Cancel" id="cancelRequest" immediate="true" action="{!cancelRequest}" rendered="{!OR(isDetailPage==false,AND(objSR.External_Status_Name__c=='Submitted',isPortal==true,isDetailPage==true))}" onclick="if('{!isDetailPage}'=='true'){if(confirm('Are you sure to cancel the service ?')==false){return false;}}" rerender="letterForm,msg" status="pleasewait"/>
            </apex:pageBlockButtons>    
            
            <apex:pageBlockSection columns="2" title="Entity Details" collapsible="false" id="EntitySectionEdit" rendered="{!isDetailPage == false && isPortal==false}">
                <apex:pageblocksectionitem id="ClientSectionItem">
                    <apex:outputLabel value="Client" />
                    <apex:inputField value="{!objSR.Customer__c}" id="Client"/>
                </apex:pageblocksectionitem>
                <apex:pageblocksectionitem id="IndexSectionItem" rendered="{!isPortal == true}">
                    <apex:outputLabel value="Establishment Card No." />
                    <apex:inputField value="{!objSR.Establishment_Card_No__c}" id="index"/>
                </apex:pageblocksectionitem>
                <apex:pageblocksectionitem id="LicenseSectionItem" rendered="{!isPortal == true}">
                    <apex:outputLabel value="License Number" />
                    <apex:inputField value="{!objSR.License_Number__c}" id="License"/>
                </apex:pageblocksectionitem>
            </apex:pageBlockSection>
            
             
            
            <apex:pageBlockSection columns="2" title="Entity Details" collapsible="false" id="EntitySectionDetail" rendered="{!isDetailPage == true || isPortal==true}">
                <apex:pageblocksectionitem id="SRNumberSectionItem" rendered="{!isDetailPage == true}">
                    <apex:outputLabel value="Request No" />
                    <apex:outputField value="{!objSR.Name}" id="RequestNo"/>
                </apex:pageblocksectionitem>
                <apex:pageblocksectionitem id="ClientSectionItem">
                    <apex:outputLabel value="Client" />
                    <apex:outputField value="{!objSR.Customer__c}" id="Client"/>
                </apex:pageblocksectionitem>
                <apex:pageblocksectionitem id="IndexSectionItem">
                    <apex:outputLabel value="Establishment Card No." />
                    <apex:outputField value="{!objSR.Establishment_Card_No__c}" id="index"/>
                </apex:pageblocksectionitem>
                <apex:pageblocksectionitem id="LicenseSectionItem">
                    <apex:outputLabel value="License Number" />
                    <apex:outputField value="{!objSR.License_Number__c}" id="License"/>
                </apex:pageblocksectionitem>
                <apex:pageblocksectionitem id="submittedDateSectionItem">
                    <apex:outputLabel value="Submitted Date" />
                    <apex:outputField value="{!objSR.Submitted_Date__c}" id="submittedDate"/>
                </apex:pageblocksectionitem>
                <apex:pageblocksectionitem id="statusSectionItem">
                    <apex:outputLabel value="Status" />
                    <apex:outputField value="{!objSR.External_Status_Name__c}" id="status"/>
                </apex:pageblocksectionitem>
            </apex:pageBlockSection>
            
            <apex:pageBlockSection columns="2" title="Correspondence Details" collapsible="false" id="CorrespondenceSectionEdit" rendered="{!isDetailPage == false && isPortal==false}">
                <apex:pageblocksectionitem id="EmailSectionItem">
                    <apex:outputLabel value="Email" />
                    <apex:inputField value="{!objSR.Email__c}" id="Email"/>
                </apex:pageblocksectionitem>
                <apex:pageblocksectionitem id="MobileSectionItem">
                    <apex:outputLabel value="Mobile" />
                    <apex:inputField value="{!objSR.Send_SMS_To_Mobile__c}" id="Mobile"/>
                </apex:pageblocksectionitem>
            </apex:pageBlockSection>
            
            <apex:pageBlockSection columns="2" title="Correspondence Details" collapsible="false" id="CorrespondenceSectionDetail" rendered="{!isDetailPage == true || isPortal==true}">
                <apex:pageblocksectionitem id="EmailSectionItem">
                    <apex:outputLabel value="Email" />
                    <apex:outputField value="{!objSR.Email__c}" id="Email"/>
                </apex:pageblocksectionitem>
                <apex:pageblocksectionitem id="MobileSectionItem">
                    <apex:outputLabel value="Mobile" />
                    <apex:outputField value="{!objSR.Send_SMS_To_Mobile__c}" id="Mobile"/>
                </apex:pageblocksectionitem>
            </apex:pageBlockSection>
            
            <apex:pageBlockSection columns="2" title="Request Details" collapsible="false" id="RequestSectionEdit" rendered="{!isDetailPage == false}">
                <apex:pageblocksectionitem id="ApplicantSectionItem">
                    <apex:outputLabel value="Employee Name" />
                    <apex:outputPanel styleClass="{!IF(OR(objSRWrap.NOCliquor ,objSRWrap.NOCimmigration ,objSRWrap.NOCumrah ,objSRWrap.NOChajj ,
                                                          objSRWrap.NOCcompany ,objSRWrap.NOCmarine ,objSRWrap.NOCdriving ,objSRWrap.NOCboat ,objSRWrap.NOCPortEntry,
                                                          objSRWrap.confirmation,objSRWrap.NOCPersonalVehicle,objSRWrap.NOCpassport,objSRWrap.NOCtemporary,objSRWrap.NOCMagrothercomp ),'requiredInput','')}" layout="block">
                        <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                        
                        
                        <apex:selectList id="Applicant"  multiselect="false" size="1" value="{!objSR.Contact__c}" styleClass="{!IF(OR(objSRWrap.NOCliquor ,objSRWrap.NOCimmigration ,objSRWrap.NOCumrah ,objSRWrap.NOChajj ,
                                                          objSRWrap.NOCcompany ,objSRWrap.NOCmarine ,objSRWrap.NOCdriving ,objSRWrap.NOCboat ,
                                                          objSRWrap.confirmation,objSRWrap.NOCPersonalVehicle,objSRWrap.NOCpassport,objSRWrap.NOCtemporary,objSRWrap.NOCMagrothercomp ),'requiredValue','')}" 
                                                          onChange="getContactInformation(this)">
                         <apex:selectOptions value="{!SponsorList}"/>
                        </apex:selectList>
                        
                        <!----
                        <apex:inputField value="{!objSR.Contact__c}" id="Applicant" styleClass="{!IF(OR(objSRWrap.NOCliquor ,objSRWrap.NOCimmigration ,objSRWrap.NOCumrah ,objSRWrap.NOChajj ,
                                                          objSRWrap.NOCcompany ,objSRWrap.NOCmarine ,objSRWrap.NOCdriving ,objSRWrap.NOCboat ,
                                                          objSRWrap.confirmation,objSRWrap.NOCPersonalVehicle,objSRWrap.NOCpassport,objSRWrap.NOCtemporary,objSRWrap.NOCMagrothercomp ),'requiredValue','')}" 
                                                          onChange="getContactInformation(this)"/>
                                                          
                              --->                            
                                                          
                                                          
                    </apex:outputPanel>
                </apex:pageblocksectionitem>
                
                
                <apex:pageblocksectionitem id="ExpressItem">
                    <apex:outputLabel value="Is it an Express Service?" />
                    <apex:inputCheckbox value="{!objSR.Express_Service__c}" id="Applicant" disabled="{!IF(objSR.External_Status_Name__c!='' && objSR.External_Status_Name__c != 'Draft',true,false)}"/>
                </apex:pageblocksectionitem>
                <apex:pageblocksectionitem id="passportSectionItem" HelpText="Recent Passport Number (if the DIFC visa in the old passport)" 
                                           rendered="{!IF(OR(objSRWrap.NOCumrah,objSRWrap.NOChajj,objSRWrap.NOCcompany,objSRWrap.confirmation),true,false)}">
                    <apex:outputLabel value="Passport Number" />
                    <apex:inputText value="{!objSR.Passport_Number__c}" id="PassportNumber"/>
                </apex:pageblocksectionitem>
                
                <apex:pageblocksectionitem id="ApplicantSalarySectionItem" rendered="{!IF(OR(objSRWrap.NOCliquor ,objSRWrap.NOCimmigration ,objSRWrap.NOCPersonalVehicle),true,false)}">
                    <apex:outputLabel value="Is Applicant Salary Above AED 25,000?" />
                    <apex:outputPanel styleClass="requiredInput" layout="block">
                        <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                        <apex:inputField value="{!objSR.Is_Applicant_Salary_Above_AED_20_000__c}" id="ApplicantSalary" styleClass="requiredValue"/>
                    </apex:outputPanel>
                </apex:pageblocksectionitem>
                
                <apex:pageblocksectionitem id="salarySectionItem" HelpText="Salary details are required only if the applicant's monthly salary is equal to or below AED 20,000" rendered="{!IF(OR(objSRWrap.NOCliquor ,objSRWrap.NOCimmigration ,objSRWrap.NOCPersonalVehicle),true,false)}">
                    <apex:outputLabel value="Monthly Salary (AED)" />
                    <apex:outputPanel styleClass="{!IF(objSR.Is_Applicant_Salary_Above_AED_20_000__c=='No','requiredInput','')}" layout="block">
                        <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                        <apex:inputField value="{!objSR.Monthly_Salary_AED__c}" id="salaryVehicle" styleClass="{!IF(objSR.Is_Applicant_Salary_Above_AED_20_000__c=='No','requiredValue','')}"/>
                    </apex:outputPanel>
                </apex:pageblocksectionitem>
                
                <apex:pageblocksectionitem id="salarySectionConfidentialItem" rendered="{!IF(AND(OR(objSRWrap.NOCliquor ,objSRWrap.NOCimmigration ,objSRWrap.NOCPersonalVehicle),isPortal == false),true,false)}">
                    <apex:outputLabel value="Salary (Confidential)" />
                    <apex:outputPanel styleClass="requiredInput" layout="block">
                        <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                        <apex:inputField value="{!objSR.Salary_Confidential__c}" id="confidentialSalaryImmigration" styleClass="requiredValue"/>
                    </apex:outputPanel>
                </apex:pageblocksectionitem>
                
                <apex:pageblocksectionitem id="ApplicantOriginalSectionItem" rendered="{!IF(AND(canRequestOriginal==true,OR(objSRWrap.NOCliquor ,objSRWrap.NOCimmigration ,objSRWrap.NOCPersonalVehicle)),true,false)}">
                    <apex:outputLabel value="Type of Request" />
                    <apex:outputPanel styleClass="requiredInput" layout="block">
                        <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                        <apex:selectList size="1" value="{!objSRWrap.originalOrSoftCopy}" id="originalOrSoftCopy" styleClass="requiredValue" onchange="onlyOriginalAllowed();">
                            <apex:selectOptions value="{!objSRWrap.applicantOriginalList }" />
                        </apex:selectList>
                    </apex:outputPanel>
                </apex:pageblocksectionitem>
                
            </apex:pageBlockSection>
         
            
            
            <apex:pageBlockSection columns="2" title="Request Details" collapsible="false" id="RequestSectionDetail" rendered="{!isDetailPage == true}">
                <apex:pageblocksectionitem id="ApplicantSectionItem">
                    <apex:outputLabel value="Employee Name" />
                     <apex:outputField value="{!objSR.Contact__c}" id="Applicant"/>
                </apex:pageblocksectionitem>
                <apex:pageblocksectionitem id="ExpressItem">
                    <apex:outputLabel value="Is it an Express Service?" />
                     <apex:outputField value="{!objSR.Express_Service__c}" id="Applicant"/>
                </apex:pageblocksectionitem>
             
                <apex:pageblocksectionitem id="passportSectionItem" HelpText="Recent Passport Number (if the DIFC visa in the old passport)" rendered="{!IF(OR(objSRWrap.NOCumrah,objSRWrap.NOChajj,objSRWrap.NOCcompany,objSRWrap.confirmation),true,false)}">
                    <apex:outputLabel value="Passport Number" />
                    <apex:outputField value="{!objSR.Passport_Number__c}" id="PassportNumber"/>
                </apex:pageblocksectionitem> 
                <apex:pageblocksectionitem id="ApplicantSalarySectionItem" rendered="{!IF(OR(objSRWrap.NOCliquor ,objSRWrap.NOCimmigration ,objSRWrap.NOCPersonalVehicle),true,false)}">
                    <apex:outputLabel value="Is Applicant Salary Above AED 25,000?" />
                    <apex:outputField value="{!objSR.Is_Applicant_Salary_Above_AED_20_000__c}" id="ApplicantSalary1"/>
                </apex:pageblocksectionitem>
                <apex:pageblocksectionitem id="salarySectionItem" HelpText="Salary details are required only if the applicant's monthly salary is equal to or below AED 20,000" rendered="{!IF(OR(objSRWrap.NOCliquor ,objSRWrap.NOCimmigration ,objSRWrap.NOCPersonalVehicle),true,false)}">
                    <apex:outputLabel value="Monthly Salary (AED)" />
                    <apex:outputField value="{!objSR.Monthly_Salary_AED__c}" id="salaryVehicle1"/>
                </apex:pageblocksectionitem>
                <apex:pageblocksectionitem id="salarySectionConfidentialItem" rendered="{!IF(AND(OR(objSRWrap.NOCliquor ,objSRWrap.NOCimmigration ,objSRWrap.NOCPersonalVehicle),isPortal == false),true,false)}">
                    <apex:outputLabel value="Salary (Confidential)" />
                    <apex:outputField value="{!objSR.Salary_Confidential__c}" id="confidentialSalaryImmigration"/>
                </apex:pageblocksectionitem>
                <apex:pageblocksectionitem id="ApplicantOriginalSectionItem" rendered="{!IF(AND(OR(canRequestOriginal==true,isPortal == false),OR(objSRWrap.NOCliquor ,objSRWrap.NOCimmigration ,objSRWrap.NOCPersonalVehicle)),true,false)}">
                    <apex:outputLabel value="Type of Request" />
                    <apex:outputText value="{!objSRWrap.originalOrSoftCopy}" id="originalOrSoftCopy"/>
                </apex:pageblocksectionitem>
            </apex:pageBlockSection>
            
            
               <!-- Veera Added for TKT # 5340 -->
               
               
               
            <apex:pageBlockSection columns="2" title="Employee Details" collapsible="false" id="RequestSectionReadOnly"  rendered="{!isDetailPage == false}">
            
                 <apex:pageblocksectionitem id="Designation" >
                    <apex:outputLabel value="Designation" />
                    <apex:outputPanel styleClass="Designation" layout="block">                        
                        <apex:outputText value="{!Designation}"  html-disabled="true" />
                    </apex:outputPanel>
                </apex:pageblocksectionitem>
                
                <apex:pageblocksectionitem id="nationality" >
                    <apex:outputLabel value="Nationality" />
                    <apex:outputPanel styleClass="nationality" layout="block">                        
                        <apex:outputText value="{!nationality}"  html-disabled="true" />
                    </apex:outputPanel>
                </apex:pageblocksectionitem>
                
                 <apex:pageblocksectionitem id="PassportNumber" >
                    <apex:outputLabel value="Passport Number" />
                    <apex:outputPanel styleClass="Passport Number" layout="block">                        
                        <apex:inputText value="{!passportNo}"/>
                    </apex:outputPanel>
                </apex:pageblocksectionitem>
               
            
            </apex:pageBlockSection>  
            
            
            <apex:pageBlockSection columns="2" title="Employee Details" collapsible="false" id="RequestSectionReadOnlyDeatil"  rendered="{!isDetailPage == true}">
             
             
                 
            
                <apex:pageblocksectionitem id="Designation" >
                    <apex:outputLabel value="Designation" />
                    <apex:outputPanel styleClass="Designation" layout="block">                        
                            <apex:outputField value="{!objSR.Place_of_Birth_Arabic__c}"  html-disabled="true" />
                    </apex:outputPanel>
                </apex:pageblocksectionitem>
                
               
                
                <apex:pageblocksectionitem id="nationality" >
                    <apex:outputLabel value="Nationality" />
                    <apex:outputPanel styleClass="nationality" layout="block">                        
                          <apex:outputField value="{!objSR.Mother_s_full_name_Arabic__c}"  html-disabled="true" />
                    </apex:outputPanel>
                </apex:pageblocksectionitem>
              
                <apex:pageblocksectionitem id="PassportNumber" >
                    <apex:outputLabel value="Passport Number" />  
                    <apex:outputPanel styleClass="Passport Number" layout="block">                        
                          <apex:outputField value="{!objSR.Passport_No_Previous_Sponsor__c}"  html-disabled="true" />
                    </apex:outputPanel>
                </apex:pageblocksectionitem>
               
            
            </apex:pageBlockSection>
            
            
            <apex:actionFunction name="getContactInfo" action="{!GetContactInfo}" rerender="RequestSectionReadOnly" />
            
            
            <!--veera----> 
            
            <apex:pageBlockSection title="Courier Info" id="CourierInfo" rendered="{!IF(AND(isDetailPage == false,objSRWrap.originalOrSoftCopy=='Original',OR(objSRWrap.NOCliquor ,objSRWrap.NOCimmigration ,objSRWrap.NOCPersonalVehicle)),true,false)}">
                <apex:pageblocksectionitem >
                    <apex:outputLabel value="Do You Wish to opt for Courier Services?" />
                    <apex:outputPanel styleClass="requiredInput" layout="block">
                        <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                        <apex:inputField styleClass="requiredValue" value="{!objSR.Avail_Courier_Services__c}"/>
                    </apex:outputPanel>
                </apex:pageblocksectionitem>    
                <apex:pageblocksectionitem >
                    <apex:outputLabel value="Use Registered Address for Delivery?" />
                    <apex:inputField value="{!objSR.Use_Registered_Address__c}"/>
                </apex:pageblocksectionitem>    
                <apex:pageblocksectionitem >    
                    <apex:outputLabel value="Receiver's First Name" />
                    <apex:inputField required="{!objSR.Avail_Courier_Services__c == 'Yes'}" value="{!objSR.Consignee_FName__c}" />
                </apex:pageblocksectionitem>    
                <apex:pageblocksectionitem >    
                    <apex:outputLabel value="Alternate Address (must be in DIFC)" />
                    <apex:inputField required="{!objSR.Avail_Courier_Services__c == 'Yes' && objSR.Use_Registered_Address__c == false}" value="{!objSR.Apt_or_Villa_No__c}"/>
                </apex:pageblocksectionitem>    
                <apex:pageblocksectionitem >    
                    <apex:outputLabel value="Receiver's Last Name" />
                    <apex:inputField required="{!objSR.Avail_Courier_Services__c == 'Yes'}" value="{!objSR.Consignee_LName__c}" />
                </apex:pageblocksectionitem>
                <apex:pageblocksectionitem >
                    <apex:outputLabel value="Phone Number" />
                    <apex:inputField required="{!objSR.Avail_Courier_Services__c == 'Yes'}" value="{!objSR.Courier_Mobile_Number__c}" />
                </apex:pageblocksectionitem>    
                <apex:pageblocksectionitem >
                    <apex:outputLabel value="Mobile Number" />
                    <apex:inputField required="{!objSR.Avail_Courier_Services__c == 'Yes'}" value="{!objSR.Courier_Cell_Phone__c}" />
                </apex:pageblocksectionitem>
            </apex:pageBlockSection>
            
            <apex:pageBlockSection title="Courier Info" id="CourierInfoDetail" rendered="{!IF(AND(isDetailPage == true,objSRWrap.originalOrSoftCopy=='Original',OR(objSRWrap.NOCliquor ,objSRWrap.NOCimmigration ,objSRWrap.NOCPersonalVehicle)),true,false)}">
                <apex:pageblocksectionitem >
                    <apex:outputLabel value="Do You Wish to opt for Courier Services?" />
                    <apex:outputField value="{!objSR.Avail_Courier_Services__c}"/>
                </apex:pageblocksectionitem>    
                <apex:pageblocksectionitem >
                    <apex:outputLabel value="Use Registered Address for Delivery?" />
                    <apex:outputField value="{!objSR.Use_Registered_Address__c}"/>
                </apex:pageblocksectionitem>    
                <apex:pageblocksectionitem >    
                    <apex:outputLabel value="Receiver's First Name" />
                    <apex:outputField value="{!objSR.Consignee_FName__c}" />
                </apex:pageblocksectionitem>    
                <apex:pageblocksectionitem >    
                    <apex:outputLabel value="Alternate Address (must be in DIFC)" />
                    <apex:outputField value="{!objSR.Apt_or_Villa_No__c}"/>
                </apex:pageblocksectionitem>    
                <apex:pageblocksectionitem >    
                    <apex:outputLabel value="Receiver's Last Name" />
                    <apex:outputField value="{!objSR.Consignee_LName__c}" />
                </apex:pageblocksectionitem>
                <apex:pageblocksectionitem >
                    <apex:outputLabel value="Phone Number" />
                    <apex:outputField value="{!objSR.Courier_Mobile_Number__c}" />
                </apex:pageblocksectionitem>    
                <apex:pageblocksectionitem >
                    <apex:outputLabel value="Mobile Number" />
                    <apex:outputField value="{!objSR.Courier_Cell_Phone__c}" />
                </apex:pageblocksectionitem>
            </apex:pageBlockSection>
            
            <apex:pageBlockSection columns="2" title="List of Requests" collapsible="false" id="RequestListSection">
                <apex:pageblocksectionitem id="confirmationItem">
                    <apex:outputLabel value="Employment Confirmation Letter" />
                    <apex:inputCheckbox value="{!objSRWrap.confirmation}" id="confirmation" onclick="reRenderSectionFunction();" disabled="{!IF(OR(isDetailPage==true,objSRWrap.originalOrSoftCopy=='Original'),true,false)}"/>
                </apex:pageblocksectionitem>
                <apex:pageblocksectionitem id="NOCboatItem">
                    <apex:outputLabel value="NOC for Boat Registration" />
                    <apex:inputCheckbox value="{!objSRWrap.NOCboat}" id="NOCboat" onclick="reRenderSectionFunction();" disabled="{!IF(OR(isDetailPage==true,objSRWrap.originalOrSoftCopy=='Original'),true,false)}"/>
                </apex:pageblocksectionitem>
                <apex:pageblocksectionitem id="NOCdrivingItem">
                    <apex:outputLabel value="NOC for Driving License" />
                    <apex:inputCheckbox value="{!objSRWrap.NOCdriving}" id="NOCdriving" onclick="reRenderSectionFunction();" disabled="{!IF(OR(isDetailPage==true,objSRWrap.originalOrSoftCopy=='Original'),true,false)}"/>
                </apex:pageblocksectionitem>
                <apex:pageblocksectionitem id="NOCmarineItem">
                    <apex:outputLabel value="NOC for Marine Driving License" />
                    <apex:inputCheckbox value="{!objSRWrap.NOCmarine}" id="NOCmarine" onclick="reRenderSectionFunction();" disabled="{!IF(OR(isDetailPage==true,objSRWrap.originalOrSoftCopy=='Original'),true,false)}"/>
                </apex:pageblocksectionitem>
                <apex:pageblocksectionitem id="NOCpassportItem">
                    <apex:outputLabel value="NOC for Passport Lost" />
                    <apex:inputCheckbox value="{!objSRWrap.NOCpassport}" id="NOCpassport" onclick="reRenderSectionFunction();" disabled="{!IF(OR(isDetailPage==true,objSRWrap.originalOrSoftCopy=='Original'),true,false)}"/>
                </apex:pageblocksectionitem>
                <apex:pageblocksectionitem id="NOCtemporaryItem">
                    <apex:outputLabel value="NOC for Temporary Work Permit" />
                    <apex:inputCheckbox value="{!objSRWrap.NOCtemporary}" id="NOCtemporary" onclick="reRenderSectionFunction();" disabled="{!IF(OR(isDetailPage==true,objSRWrap.originalOrSoftCopy=='Original'),true,false)}"/>
                </apex:pageblocksectionitem>
                <apex:pageblocksectionitem id="NOCPersonalVehicleItem">
                    <apex:outputLabel value="NOC for Personal Vehicle Registration" />
                    <apex:inputCheckbox value="{!objSRWrap.NOCPersonalVehicle}" id="NOCPersonalVehicle" onclick="reRenderSectionFunction();" disabled="{!IF(isDetailPage==true,true,false)}"/>
                </apex:pageblocksectionitem>
                <!-- Start Comment for ticket number 7719-->
                <!-- <apex:pageblocksectionitem id="NOCCompanyVehicleItem">-->
                    <!-- <apex:outputLabel value="NOC for Company Vehicle Registration" /> -->
                 <!-- <apex:inputCheckbox value="{!objSRWrap.NOCCompanyVehicle}" id="NOCCompanyVehicle" onclick="reRenderSectionFunction();" disabled="{!IF(OR(isDetailPage==true,objSRWrap.originalOrSoftCopy=='Original'),true,false)}"/>
                </apex:pageblocksectionitem> -->  
                <!-- End Comment for ticket number 7719-->
                
                <apex:pageblocksectionitem id="NOCcompanyItem">
                    <apex:outputLabel value="NOC to Set up a Company" />
                    <apex:inputCheckbox value="{!objSRWrap.NOCcompany}" id="NOCcompany" onclick="reRenderSectionFunction();" disabled="{!IF(OR(isDetailPage==true,objSRWrap.originalOrSoftCopy=='Original'),true,false)}"/>
                </apex:pageblocksectionitem>
                <apex:pageblocksectionitem id="NOChajjItem">
                    <apex:outputLabel value="Non-Objection for Hajj" />
                    <apex:inputCheckbox value="{!objSRWrap.NOChajj}" id="NOChajj" onclick="reRenderSectionFunction();" disabled="{!IF(OR(isDetailPage==true,objSRWrap.originalOrSoftCopy=='Original'),true,false)}"/>
                </apex:pageblocksectionitem>
                <apex:pageblocksectionitem id="NOCumrahItem">
                    <apex:outputLabel value="Non-Objection for Umrah" />
                    <apex:inputCheckbox value="{!objSRWrap.NOCumrah}" id="NOCumrah" onclick="reRenderSectionFunction();" disabled="{!IF(OR(isDetailPage==true,objSRWrap.originalOrSoftCopy=='Original'),true,false)}"/>
                </apex:pageblocksectionitem>
                <apex:pageblocksectionitem id="NOCimmigrationItem">
                    <apex:outputLabel value="Salary Certificate to Immigration" />
                    <apex:inputCheckbox value="{!objSRWrap.NOCimmigration}" id="NOCimmigration" onclick="reRenderSectionFunction();" disabled="{!IF(isDetailPage==true,true,false)}"/>
                </apex:pageblocksectionitem>
                <apex:pageblocksectionitem id="NOCliquorItem">
                    <apex:outputLabel value="Salary Certificate (Liquor Permit)" />
                    <apex:inputCheckbox value="{!objSRWrap.NOCliquor}" id="NOCliquor" onclick="reRenderSectionFunction();" disabled="{!IF(isDetailPage==true,true,false)}"/>
                </apex:pageblocksectionitem>
                <apex:pageblocksectionitem id="NOCPortEntryItem">
                    <apex:outputLabel value="NOC for port entry pass" />
                    <apex:inputCheckbox value="{!objSRWrap.NOCPortEntry}" id="NOCPortEntry" onclick="reRenderSectionFunction();" disabled="{!IF(OR(isDetailPage==true,objSRWrap.originalOrSoftCopy=='Original'),true,false)}"/>
                </apex:pageblocksectionitem>
                
                <apex:pageblocksectionitem id="NOCMagrothercompItem">
                    <apex:outputLabel value="NOC to be appointed as a manager in another company" />
                    <apex:inputCheckbox value="{!objSRWrap.NOCMagrothercomp}" id="NOCMagrothercomp" onclick="reRenderSectionFunction();" disabled="{!IF(OR(isDetailPage==true,objSRWrap.originalOrSoftCopy=='Original'),true,false)}"/>
                </apex:pageblocksectionitem>
                
            </apex:pageBlockSection>
            
            <apex:pageBlockSection columns="2" title="Employment Confirmation Letter" collapsible="false" id="confirmationSectionEdit" rendered="{!objSRWrap.confirmation==true && isDetailPage==false}">
                <apex:pageblocksectionitem id="EmirateSectionItem">
                    <apex:outputLabel value="Emirate" />
                    <apex:outputPanel styleClass="requiredInput" layout="block">
                        <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                        <apex:selectList size="1" value="{!objSRWrap.emirateConfirmation}" id="requestLicense" styleClass="requiredValue">
                            <apex:selectOptions value="{!objSRWrap.emirate2List}"/>
                        </apex:selectList>
                    </apex:outputPanel>
                </apex:pageblocksectionitem>
                <apex:pageblocksectionitem id="letterSectionItem">
                    <apex:outputLabel value="Language" />
                    <apex:outputPanel styleClass="requiredInput" layout="block">
                        <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                        <apex:selectList size="1" value="{!objSRWrap.formatConfirmation}" id="formatConfirmation" styleClass="requiredValue">
                            <apex:selectOptions value="{!objSRWrap.letterFormatList}"/>
                        </apex:selectList>
                    </apex:outputPanel>
                </apex:pageblocksectionitem>
                <apex:pageblocksectionitem id="AddresseeSectionItem">
                    <apex:outputLabel value="Name of Addressee" />
                    <apex:outputPanel styleClass="requiredInput" layout="block">
                        <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                        <apex:inputText value="{!objSRWrap.addresseNameConfirmation}" id="Addressee" styleClass="requiredValue"/>
                    </apex:outputPanel>
                </apex:pageblocksectionitem>
                <apex:pageblocksectionitem id="IssuanceSectionItem">
                    <apex:outputLabel value="Kindly Enter the Date of Initial Visa Issue Date under the Company (if any)" />
                    <apex:inputField value="{!objSR.Date_of_DIFC_Visa_Issuance__c}" id="Issuance"/>
                </apex:pageblocksectionitem>   
            </apex:pageBlockSection>
            
            <apex:pageBlockSection columns="2" title="Employment Confirmation Letter" collapsible="false" id="confirmationSectionDetail" rendered="{!objSRWrap.confirmation==true && isDetailPage==true}">
                <apex:pageblocksectionitem id="EmirateSectionItem">
                    <apex:outputLabel value="Emirate" />
                     <apex:outputtext value="{!objSRWrap.emirateConfirmation}" id="Emirate"/>
                </apex:pageblocksectionitem>
                <apex:pageblocksectionitem id="letterSectionItem">
                    <apex:outputLabel value="Language" />
                    <apex:outputText value="{!objSRWrap.formatConfirmation}" id="formatConfirmation"/>
                </apex:pageblocksectionitem>
                <apex:pageblocksectionitem id="AddresseeSectionItem">
                    <apex:outputLabel value="Name of Addressee" />
                    <apex:outputText value="{!objSRWrap.addresseNameConfirmation}" id="Addressee"/>
                </apex:pageblocksectionitem>
                <apex:pageblocksectionitem id="IssuanceSectionItem">
                    <apex:outputLabel value="Date of Initial Visa Issue Date under the Company (if any)" />
                    <apex:outputField value="{!objSR.Date_of_DIFC_Visa_Issuance__c}" id="Issuance"/>
                </apex:pageblocksectionitem> 
            </apex:pageBlockSection>
            
            <apex:pageBlockSection columns="2" title="NOC for Driving License" collapsible="false" id="NOCdrivingSectionEdit" rendered="{!objSRWrap.NOCdriving==true && isDetailPage==false}">
                <apex:pageblocksectionitem id="EmirateSectionItem">
                    <apex:outputLabel value="Emirate" />
                    <apex:outputPanel styleClass="requiredInput" layout="block">
                        <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                        <apex:selectList size="1" value="{!objSRWrap.emirateLicense}" id="requestLicense" styleClass="requiredValue">
                            <apex:selectOptions value="{!objSRWrap.emirate2List}"/>
                        </apex:selectList>
                    </apex:outputPanel>
                </apex:pageblocksectionitem>
                <apex:pageblocksectionitem id="requestLicenseSectionItem">
                    <apex:outputLabel value="Type of Request" />
                    <apex:outputPanel styleClass="requiredInput" layout="block">
                        <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                        <apex:selectList size="1" value="{!objSRWrap.requestLicense}" id="requestLicense" styleClass="requiredValue">
                            <apex:selectOptions value="{!objSRWrap.requestLicenseList }"/>
                        </apex:selectList>
                    </apex:outputPanel>
                </apex:pageblocksectionitem>    
            </apex:pageBlockSection>
            
            <apex:pageBlockSection columns="2" title="NOC for Driving License" collapsible="false" id="NOCdrivingSectionDetail" rendered="{!objSRWrap.NOCdriving==true && isDetailPage==true}">
                <apex:pageblocksectionitem id="EmirateSectionItem">
                    <apex:outputLabel value="Emirate" />
                    <apex:outputText value="{!objSRWrap.emirateLicense}" id="Emirate"/>
                </apex:pageblocksectionitem>
                <apex:pageblocksectionitem id="requestLicenseSectionItem">
                    <apex:outputLabel value="Type of Request" />
                    <apex:outputText value="{!objSRWrap.requestLicense}" id="requestLicense"/>
                </apex:pageblocksectionitem>    
            </apex:pageBlockSection>
            
            <apex:pageBlockSection columns="2" title="NOC for Passport Lost" collapsible="false" id="NOCpassportSectionEdit" rendered="{!objSRWrap.NOCpassport==true && isDetailPage==false}">
                <apex:pageblocksectionitem id="PoliceSectionItem">
                    <apex:outputLabel value="Name of Police Station" />
                    <apex:outputPanel styleClass="requiredInput" layout="block">
                        <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                        <apex:inputField value="{!objSR.Name_of_Police_Station__c}" id="Police" styleClass="requiredValue"/>
                    </apex:outputPanel>
                </apex:pageblocksectionitem>
            </apex:pageBlockSection>
            
            <apex:pageBlockSection columns="2" title="NOC for Passport Lost" collapsible="false" id="NOCpassportSectionDetail" rendered="{!objSRWrap.NOCpassport==true && isDetailPage==true}">
                <apex:pageblocksectionitem id="PoliceSectionItem">
                    <apex:outputLabel value="Name of Police Station" />
                    <apex:outputField value="{!objSR.Name_of_Police_Station__c}" id="Police"/>
                </apex:pageblocksectionitem>
            </apex:pageBlockSection>
            
            <apex:pageBlockSection columns="2" title="NOC for Temporary Work Permit" collapsible="false" id="NOCtemporarySectionEdit" rendered="{!objSRWrap.NOCtemporary==true && isDetailPage==false}">
                <apex:pageblocksectionitem id="authorityTemporarySectionItem">
                    <apex:outputLabel value="Name of the Authority" />
                    <apex:outputPanel styleClass="requiredInput" layout="block">
                        <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                        <apex:selectList size="1" value="{!objSRWrap.authorityTemporary}" id="authorityTemporary" styleClass="requiredValue">
                            <apex:selectOptions value="{!objSRWrap.authorityTemporaryList }"/>
                        </apex:selectList>
                    </apex:outputPanel>
                </apex:pageblocksectionitem>
            </apex:pageBlockSection>
            
            <apex:pageBlockSection columns="2" title="NOC for Temporary Work Permit" collapsible="false" id="NOCtemporarySectionDetail" rendered="{!objSRWrap.NOCtemporary==true && isDetailPage==true}">
                <apex:pageblocksectionitem id="authorityTemporarySectionItem">
                    <apex:outputLabel value="Name of the Authority" />
                    <apex:outputText value="{!objSRWrap.authorityTemporary}" id="authorityTemporary"/>
                </apex:pageblocksectionitem>
            </apex:pageBlockSection>
            
            <!-- Start of Comment for ticket number 7719-->
            <!--<apex:pageBlockSection columns="2" title="NOC for Company Vehicle Registration" collapsible="false" id="NOCCompanyvehicleSectionEdit" rendered="{!objSRWrap.NOCCompanyvehicle==true && isDetailPage==false}">
                <apex:pageblocksectionitem id="EmirateSectionItem">
                    <apex:outputLabel value="Emirate" />
                    <apex:outputPanel styleClass="requiredInput" layout="block">
                        <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                        <apex:selectList size="1" value="{!objSRWrap.emirateCompanyVehicle}" id="requestLicense" styleClass="requiredValue">
                            <apex:selectOptions value="{!objSRWrap.emirate2List}"/>
                        </apex:selectList>
                    </apex:outputPanel>
                </apex:pageblocksectionitem>
                <apex:pageblocksectionitem id="CategorySectionItem">
                    <apex:outputLabel value="Service Category" />
                    <apex:outputPanel styleClass="requiredInput" layout="block">
                        <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                        <apex:selectList size="1" value="{!objSRWrap.serviceCompanyVehicle}" id="Request" styleClass="requiredValue">
                            <apex:selectOptions value="{!objSRWrap.serviceCategoryList }"/>
                        </apex:selectList>
                    </apex:outputPanel>
                </apex:pageblocksectionitem>
            </apex:pageBlockSection> -->
            <!-- End of Comment for ticket number 7719-->
            
            <apex:pageBlockSection columns="2" title="NOC for Personal Vehicle Registration" collapsible="false" id="NOCPersonalvehicleSectionEdit" rendered="{!objSRWrap.NOCPersonalvehicle==true && isDetailPage==false}">
                <apex:pageblocksectionitem id="EmirateSectionItem">
                    <apex:outputLabel value="Emirate" />
                    <apex:outputPanel styleClass="requiredInput" layout="block">
                        <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                        <apex:selectList size="1" value="{!objSRWrap.emiratePersonalVehicle}" id="requestLicense" styleClass="requiredValue">
                            <apex:selectOptions value="{!objSRWrap.emirate2List}"/>
                        </apex:selectList>
                    </apex:outputPanel>
                </apex:pageblocksectionitem>
                <apex:pageblocksectionitem id="CategorySectionItem">
                    <apex:outputLabel value="Service Category" />
                    <apex:outputPanel styleClass="requiredInput" layout="block">
                        <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                        <apex:selectList size="1" value="{!objSRWrap.servicePersonalVehicle}" id="Request" styleClass="requiredValue">
                            <apex:selectOptions value="{!objSRWrap.serviceCategoryList }"/>
                        </apex:selectList>
                    </apex:outputPanel>
                </apex:pageblocksectionitem>
            </apex:pageBlockSection>
            
           <!-- Start of comment for ticket number 7719-->
            <!--
            <apex:pageBlockSection columns="2" title="NOC for Company Vehicle Registration" collapsible="false" id="NOCCompanyvehicleSectionDetail" rendered="{!objSRWrap.NOCCompanyvehicle==true && isDetailPage==true}">
                <apex:pageblocksectionitem id="EmirateSectionItem">
                    <apex:outputLabel value="Emirate" />
                    <apex:outputText value="{!objSRWrap.emirateCompanyVehicle}" id="Emirate"/> 
                </apex:pageblocksectionitem>
                <apex:pageblocksectionitem id="CategorySectionItem">
                    <apex:outputLabel value="Service Category" />
                    <apex:outputText value="{!objSRWrap.serviceCompanyVehicle}" id="Category"/>
                </apex:pageblocksectionitem>
            </apex:pageBlockSection>
            -->
            
            <!-- End of comment for ticket number 7719-->
            
            <apex:pageBlockSection columns="2" title="NOC for Personal Vehicle Registration" collapsible="false" id="NOCPersonalvehicleSectionDetail" rendered="{!objSRWrap.NOCPersonalvehicle==true && isDetailPage==true}">
                <apex:pageblocksectionitem id="EmirateSectionItem">
                    <apex:outputLabel value="Emirate" />
                    <apex:outputText value="{!objSRWrap.emiratePersonalVehicle}" id="Emirate"/>
                </apex:pageblocksectionitem>
                <apex:pageblocksectionitem id="CategorySectionItem">
                    <apex:outputLabel value="Service Category" />
                    <apex:outputText value="{!objSRWrap.servicePersonalVehicle}" id="Category"/>
                </apex:pageblocksectionitem>
            </apex:pageBlockSection>
            
            <apex:pageBlockSection columns="2" title="NOC to Set up a Company" collapsible="false" id="NOCcompanySectionEdit" rendered="{!objSRWrap.NOCcompany==true && isDetailPage==false}">
                <apex:pageblocksectionitem id="EmirateSectionItem">
                    <apex:outputLabel value="Emirate" />
                    <apex:outputPanel styleClass="requiredInput" layout="block">
                        <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                        <apex:selectList size="1" value="{!objSRWrap.emirateCompany}" id="requestLicense" styleClass="requiredValue">
                            <apex:selectOptions value="{!objSRWrap.emirate2List}"/>
                        </apex:selectList>
                    </apex:outputPanel>
                </apex:pageblocksectionitem>
                <apex:pageblocksectionitem id="authorityCompanyItem">
                    <apex:outputLabel value="Name of the Authority" />
                    <apex:outputPanel styleClass="requiredInput" layout="block">
                        <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                        <apex:selectList size="1" value="{!objSRWrap.authorityCompany}" id="authorityCompany" styleClass="requiredValue, otherValue">
                            <apex:actionSupport event="onchange" rerender="letterForm"/>
                            <apex:selectOptions value="{!objSRWrap.authorityCompanyList }"/>
                        </apex:selectList>
                    </apex:outputPanel>
                </apex:pageblocksectionitem>
                <apex:pageblocksectionitem id="otherSectionItem">
                    <apex:outputLabel value="Others (Please Specify)" />
                    <apex:outputPanel styleClass="{!IF(objSRWrap.authorityCompany=='Others','requiredInput','')}" layout="block">
                        <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                        <apex:inputField value="{!objSR.Others_Please_Specify__c}" id="other" styleClass="requiredValueOther"/>
                    </apex:outputPanel>
                </apex:pageblocksectionitem>
                <apex:pageblocksectionitem id="letterSectionItem">
                    <apex:outputLabel value="Language" />
                    <apex:outputPanel styleClass="requiredInput" layout="block">
                        <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                        <apex:selectList size="1" value="{!objSRWrap.formatCompany}" id="formatCompany" styleClass="requiredValue">
                            <apex:selectOption itemvalue="English"/>
                        </apex:selectList>
                    </apex:outputPanel>
                </apex:pageblocksectionitem>
            </apex:pageBlockSection>
            
            <apex:pageBlockSection columns="2" title="NOC to Set up a Company" collapsible="false" id="NOCcompanySectionDetail" rendered="{!objSRWrap.NOCcompany==true && isDetailPage==true}">
                <apex:pageblocksectionitem id="EmirateSectionItem">
                    <apex:outputLabel value="Emirate" />
                    <apex:outputText value="{!objSRWrap.emirateCompany}" id="Emirate"/>
                </apex:pageblocksectionitem>
                <apex:pageblocksectionitem id="authorityCompanyItem">
                    <apex:outputLabel value="Name of the Authority" />
                    <apex:outputText value="{!objSRWrap.authorityCompany}" id="authorityCompany"/>
                </apex:pageblocksectionitem>
                <apex:pageblocksectionitem id="otherSectionItem">
                    <apex:outputLabel value="Others (Please Specify)" />
                    <apex:outputField value="{!objSR.Others_Please_Specify__c}" id="other"/>
                </apex:pageblocksectionitem>
                <apex:pageblocksectionitem id="letterSectionItem">
                    <apex:outputLabel value="Language" />
                    <apex:outputText value="{!objSRWrap.formatCompany}" id="formatCompany"/>
                </apex:pageblocksectionitem>
            </apex:pageBlockSection>
            
            <apex:pageBlockSection columns="2" title="Non-Objection for Hajj" collapsible="false" id="NOChajjSectionEdit" rendered="{!objSRWrap.NOChajj==true && isDetailPage==false}">
                <apex:pageblocksectionitem id="EmirateSectionItem">
                    <apex:outputLabel value="Emirate" />
                    <apex:outputPanel styleClass="requiredInput" layout="block">
                        <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                        <apex:selectList size="1" value="{!objSRWrap.emirateHajj}" id="requestLicense" styleClass="requiredValue">
                            <apex:selectOptions value="{!objSRWrap.emirate1List}"/>
                        </apex:selectList>
                    </apex:outputPanel>
                </apex:pageblocksectionitem>
                <apex:pageblocksectionitem id="letterHajjSectionItem">
                    <apex:outputLabel value="Letter To Consulate / Embassy" />
                    <apex:outputPanel styleClass="requiredInput" layout="block">
                        <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                        <apex:selectList size="1" value="{!objSRWrap.letterHajj}" id="letterHajj" styleClass="requiredValue">
                            <apex:selectOptions value="{!objSRWrap.letterHajjList }"/>
                        </apex:selectList>
                    </apex:outputPanel>
                </apex:pageblocksectionitem>
            </apex:pageBlockSection>
            
            <apex:pageBlockSection columns="2" title="Non-Objection for Hajj" collapsible="false" id="NOChajjSectionDetail" rendered="{!objSRWrap.NOChajj==true && isDetailPage==true}">
                <apex:pageblocksectionitem id="EmirateSectionItem">
                    <apex:outputLabel value="Emirate" />
                    <apex:outputText value="{!objSRWrap.emirateHajj}" id="Emirate"/>
                </apex:pageblocksectionitem>
                <apex:pageblocksectionitem id="letterHajjSectionItem">
                    <apex:outputLabel value="Letter To Consulate / Embassy" />
                    <apex:outputText value="{!objSRWrap.letterHajj}" id="letterHajj"/>
                </apex:pageblocksectionitem>
            </apex:pageBlockSection>
            
            <apex:pageBlockSection columns="2" title="Non-Objection for Umrah" collapsible="false" id="NOCumrahSectionEdit" rendered="{!objSRWrap.NOCumrah==true && isDetailPage==false}">
                <apex:pageblocksectionitem id="EmirateSectionItem">
                    <apex:outputLabel value="Emirate" />
                    <apex:outputPanel styleClass="requiredInput" layout="block">
                        <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                        <apex:selectList size="1" value="{!objSRWrap.emirateUmrah}" id="requestLicense" styleClass="requiredValue">
                            <apex:selectOptions value="{!objSRWrap.emirate1List}"/>
                        </apex:selectList>
                    </apex:outputPanel>
                    
                </apex:pageblocksectionitem>
                <apex:pageblocksectionitem id="letterUmrahSectionItem">
                    <apex:outputLabel value="Letter To Consulate / Embassy" />
                    <apex:outputPanel styleClass="requiredInput" layout="block">
                        <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                        <apex:selectList size="1" value="{!objSRWrap.letterUmrah}" id="letterUmrah" styleClass="requiredValue">
                            <apex:selectOptions value="{!objSRWrap.letterUmrahList }"/>
                        </apex:selectList>
                    </apex:outputPanel>
                </apex:pageblocksectionitem>
            </apex:pageBlockSection>
            
            <apex:pageBlockSection columns="2" title="Non-Objection for Umrah" collapsible="false" id="NOCumrahSectionDetail" rendered="{!objSRWrap.NOCumrah==true && isDetailPage==true}">
                <apex:pageblocksectionitem id="EmirateSectionItem">
                    <apex:outputLabel value="Emirate" />
                    <apex:outputText value="{!objSRWrap.emirateUmrah}" id="Emirate"/>
                </apex:pageblocksectionitem>
                <apex:pageblocksectionitem id="letterUmrahSectionItem">
                    <apex:outputLabel value="Letter To Consulate / Embassy" />
                    <apex:outputText value="{!objSRWrap.letterUmrah}" id="letterUmrah"/>
                </apex:pageblocksectionitem>
            </apex:pageBlockSection>
            
            <apex:pageBlockSection columns="2" title="NOC for Boat Registration" collapsible="false" id="NOCBoatSectionEdit" rendered="{!objSRWrap.NOCBoat==true && isDetailPage==false}">
                <apex:pageblocksectionitem id="EmirateSectionItem">
                    <apex:outputLabel value="Emirate" />
                    <apex:outputPanel styleClass="requiredInput" layout="block">
                        <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                        <apex:selectList size="1" value="{!objSRWrap.emirateBoat}" id="emirateBoat" styleClass="requiredValue">
                            <apex:selectOptions value="{!objSRWrap.emirate2List}"/>
                        </apex:selectList>
                    </apex:outputPanel>
                </apex:pageblocksectionitem>
            </apex:pageBlockSection>
            
            <apex:pageBlockSection columns="2" title="NOC for Boat Registration" collapsible="false" id="NOCBoatSectionDetail" rendered="{!objSRWrap.NOCBoat==true && isDetailPage==true}">
                <apex:pageblocksectionitem id="EmirateSectionItem">
                    <apex:outputLabel value="Emirate" />
                    <apex:outputText value="{!objSRWrap.emirateBoat}" id="emirateBoat"/>
                </apex:pageblocksectionitem>
            </apex:pageBlockSection>
            
            <apex:pageBlockSection columns="2" title="NOC for Marine Driving License" collapsible="false" id="NOCMarineSectionEdit" rendered="{!objSRWrap.NOCMarine==true && isDetailPage==false}">
                <apex:pageblocksectionitem id="EmirateSectionItem">
                    <apex:outputLabel value="Emirate" />
                    <apex:outputPanel styleClass="requiredInput" layout="block">
                        <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                        <apex:selectList size="1" value="{!objSRWrap.emirateMarine}" id="emirateMarine" styleClass="requiredValue">
                            <apex:selectOptions value="{!objSRWrap.emirate2List}"/>
                        </apex:selectList>
                    </apex:outputPanel>
                </apex:pageblocksectionitem>
            </apex:pageBlockSection>
            
            <apex:pageBlockSection columns="2" title="NOC for Marine Driving License" collapsible="false" id="NOCMarineSectionDetail" rendered="{!objSRWrap.NOCMarine==true && isDetailPage==true}">
                <apex:pageblocksectionitem id="EmirateSectionItem">
                    <apex:outputLabel value="Emirate" />
                    <apex:outputText value="{!objSRWrap.emirateMarine}" id="emirateMarine"/>
                </apex:pageblocksectionitem>
            </apex:pageBlockSection>
            
            <apex:pageBlockSection columns="2" title="NOC for port entry pass" collapsible="false" id="portEntryEdit" rendered="{!objSRWrap.NOCPortEntry==true && isDetailPage==false}">
                <apex:pageblocksectionitem id="EmirateSectionItem">
                    <apex:outputLabel value="Emirate" />
                    <apex:outputPanel styleClass="requiredInput" layout="block">
                        <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                        <apex:selectList size="1" value="{!objSRWrap.emiratePort}" id="emiratePort" styleClass="requiredValue">
                            <apex:selectOptions value="{!objSRWrap.emirate2List}"/>
                        </apex:selectList>
                    </apex:outputPanel>
                </apex:pageblocksectionitem>
                <apex:pageblocksectionitem id="AddresseeSectionItem">
                    <apex:outputLabel value="Name of Addressee" />
                    <apex:outputPanel styleClass="requiredInput" layout="block">
                        <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                        <apex:inputText value="{!objSRWrap.addresseNamePort}" id="Addressee" styleClass="requiredValue"/>
                    </apex:outputPanel>
                </apex:pageblocksectionitem>
            </apex:pageBlockSection>
            
            <apex:pageBlockSection columns="2" title="NOC for port entry pass" collapsible="false" id="portEntryDetail" rendered="{!objSRWrap.NOCPortEntry==true && isDetailPage==true}">
                <apex:pageblocksectionitem id="EmirateSectionItem">
                    <apex:outputLabel value="Emirate" />
                     <apex:outputtext value="{!objSRWrap.emiratePort}" id="emiratePort"/>
                </apex:pageblocksectionitem>
                <apex:pageblocksectionitem id="AddresseeSectionItem">
                    <apex:outputLabel value="Name of Addressee" />
                    <apex:outputText value="{!objSRWrap.addresseNamePort}" id="Addressee"/>
                </apex:pageblocksectionitem>
            </apex:pageBlockSection>
            
            
            
            <!--veera -->
             
             <apex:pageBlockSection columns="2" title="NOC to be appointed as a manager in another company" collapsible="false" id="NOCManagerSectionEdit" rendered="{!objSRWrap.NOCMagrothercomp==true && isDetailPage==false}">
               
                <apex:pageblocksectionitem id="authorityNocManagerSectionItem">
                    <apex:outputLabel value="Name of the Authority" />
                    <apex:outputPanel styleClass="requiredInput" layout="block">
                        <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                        <apex:selectList size="1" value="{!objSRWrap.managerAuthority}" id="authorityNocManager" styleClass="requiredValue,otherValue1">
                        <apex:actionSupport event="onchange" rerender="letterForm"/>
                            <apex:selectOptions value="{!objSRWrap.authorityCompanyList }"/>
                        </apex:selectList>
                    </apex:outputPanel>
                </apex:pageblocksectionitem>
                
                  <apex:pageblocksectionitem id="EmirateMangerSectionItem">
                    <apex:outputLabel value="Emirate" />
                    <apex:outputPanel styleClass="requiredInput" layout="block">
                        <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                        <apex:selectList size="1" value="{!objSRWrap.managerEmirates}" id="EmirateMangerNoc" styleClass="requiredValue">
                            <apex:selectOptions value="{!objSRWrap.emirate2List}"/>
                        </apex:selectList>
                    </apex:outputPanel>
                 </apex:pageblocksectionitem>

               
                 <!-- Veera -->  <apex:pageBlockSectionitem id="EmirateMangerAccount"  rendered="{!objSRWrap.NOCMagrothercomp==true}">
                         <apex:outputLabel value="Name of company in which employee wants to be Manager" /> 
                          <apex:outputPanel layout="block" styleClass="requiredInput">
                            <div class="requiredBlock"></div>                                           
                           <apex:outputPanel styleClass="requiredInput" layout="block">                       
                         <div style="display: none"><apex:inputField value="{!objSR.Middle_Name_Arabic__c}"/> </div>
                         <!-- V1.1  Updated the code Below -->
                         <apex:inputText id="txtHostingCompany" value="{!objSR.Middle_Name_Arabic__c}" style="display: inline-block" />
                         <!-- <apex:inputText id="txtHostingCompany" value="{!objSR.Middle_Name_Arabic__c}" style="display: inline-block" disabled="{!objSRWrap.NOCMagrothercomp==true}" /> -->
                         <!-- <img src="/s.gif" alt="Search Hosting Companies" style="display: inline-block;" onclick="openCompanySearchPopup('{!$Component.txtHostingCompany}');" class="lookupIcon" title="Company Selection (Popup)" onblur="this.className = 'lookupIcon';" onfocus="this.className = 'lookupIconOn';" onmouseout="this.className = 'lookupIcon';this.className = 'lookupIcon';" onmouseover="this.className = 'lookupIconOn';this.className = 'lookupIconOn';"/> -->

                         <!--  V1.1 Updated the code above -->
                       </apex:outputPanel>
                      </apex:outputPanel>
                 </apex:pageBlockSectionitem>
               
                <apex:pageblocksectionitem id="otherSectionItem">
                    <apex:outputLabel value="Others (Please Specify)" />
                    <apex:outputPanel styleClass="{!IF(objSRWrap.managerAuthority=='Others','requiredInput','')}" layout="block">
                        <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                        <apex:inputField value="{!objSR.Building_Previous_Sponsor__c}" id="other1" styleClass="requiredValueOther1"/>
                    </apex:outputPanel>
                 </apex:pageblocksectionitem>                
                           
                </apex:pageBlockSection>
            
              
            <!-- Veera -->   <a class="close-reveal-modal" id="btnCloseReveal"></a> 
            
            <apex:pageBlockSection columns="2" title="NOC to be appointed as a manager in another company" collapsible="false" id="NOCManagerSectionDetail" rendered="{!objSRWrap.NOCMagrothercomp==true && isDetailPage==true}">
                <apex:pageblocksectionitem id="authorityNocManagerSectionItem">
                    <apex:outputLabel value="Name of the Authority" />
                    <apex:outputText value="{!objSRWrap.managerAuthority}" id="authorityNocManager"/>
                </apex:pageblocksectionitem>
                
                <apex:pageblocksectionitem id="EmirateMangerSectionItem">
                    <apex:outputLabel value="Emirate" />
                     <apex:outputtext value="{!objSRWrap.managerEmirates}" id="Emiratemanager"/>
                </apex:pageblocksectionitem>
                
               <apex:pageblocksectionitem id="MangerAccountSectionItem">
                    <apex:outputLabel value="Name of company in which employee wants to be Manager" />
                     <apex:outputtext value="{!objSR.Middle_Name_Arabic__c}" id="EmiratemanagerAccount"/>
                </apex:pageblocksectionitem>
                
                 <apex:pageblocksectionitem id="otherSectionItem">
                    <apex:outputLabel value="Others (Please Specify)" />
                    <apex:outputField value="{!objSR.Building_Previous_Sponsor__c}" id="other"/>
                </apex:pageblocksectionitem>
                
            </apex:pageBlockSection>
            
            
            
            
            
            
            
            
            
            
            <!--End-->
            
            
            <apex:actionFunction action="{!setPrimaryTenantDetails}" name="setPrimaryTenantDetails" rerender="NOCManagerSectionEdit" status="pleasewait"  >
            <apex:param name="selectedCompanyId" value="" assignTo="{!selectedCompanyId}" />
            </apex:actionFunction>
            
            
            <apex:actionFunction name="reRenderSection"  action="{!makeSectionVisible}" rerender="letterForm"/>
            <apex:actionFunction name="onlyOriginalAllowedAction"  action="{!onlyOriginalAllowedMethod}" rerender="letterForm"/>
            
            
        </apex:pageBlock>
        
        <script>
            function reRenderSectionFunction(){
                reRenderSection();
            }
            var tc;
            function confirmSave(){
                var isError = 'false';
                var errorMessage = '';
                
                if('{!objSRWrap.confirmation}' == 'false' && '{!objSRWrap.NOCboat}' == 'false' && '{!objSRWrap.NOCdriving}' == 'false' && '{!objSRWrap.NOCmarine}' == 'false' &&
                   '{!objSRWrap.NOCpassport}' == 'false' && '{!objSRWrap.NOCtemporary}' == 'false' && '{!objSRWrap.NOCPersonalvehicle}' == 'false' && '{!objSRWrap.NOCCompanyvehicle}' == 'false' && 
                   '{!objSRWrap.NOCcompany}' == 'false' && '{!objSRWrap.NOChajj}' == 'false' && '{!objSRWrap.NOCumrah}' == 'false' && '{!objSRWrap.NOCimmigration}' == 'false' && '{!objSRWrap.NOCliquor}' == 'false' && '{!objSRWrap.NOCPortEntry}' == 'false' &&  '{!objSRWrap.NOCMagrothercomp}' == 'false'){
                    isError = 'true';
                    errorMessage = 'No comfort letter selected, Please select any one.';
                }
                
                if('{!objSRWrap.confirmation}' == 'true' || '{!objSRWrap.NOCboat}' == 'true' || '{!objSRWrap.NOCdriving}' == 'true' || '{!objSRWrap.NOCmarine}' == 'true' ||
                   '{!objSRWrap.NOCpassport}' == 'true' || '{!objSRWrap.NOCtemporary}' == 'true' || '{!objSRWrap.NOCPersonalvehicle}' == 'true' || '{!objSRWrap.NOCCompanyvehicle}' == 'true' || '{!objSRWrap.NOCcompany}' == 'true' || 
                   '{!objSRWrap.NOChajj}' == 'true' || '{!objSRWrap.NOCumrah}' == 'true' || '{!objSRWrap.NOCimmigration}' == 'true' || '{!objSRWrap.NOCliquor}' == 'true' || '{!objSRWrap.NOCPortEntry}' == 'true' || '{!objSRWrap.NOCMagrothercomp}' == 'true'){
                    for(var i=0; i<document.getElementsByClassName('requiredValue').length;i++){
                        if(document.getElementsByClassName('requiredValue')[i].value == '' || document.getElementsByClassName('requiredValue')[i].value == '--None--'){
                            isError = 'true';   
                            errorMessage = 'Please provide all values for the selected comfort letter.'
                        }
                    }
                }
                
                if('{!objSRWrap.NOCcompany}' == 'true' && document.getElementsByClassName('otherValue')[0].value == 'Others' && document.getElementsByClassName('requiredValueOther')[0].value=='' ){
                    isError = 'true';   
                    errorMessage = 'If Name of Authority is "Others", Please provide Others details.'
                }

                if('{!objSRWrap.NOCMagrothercomp}' == 'true' && '{!objSRWrap.managerAuthority}' == 'Others' &&  document.getElementsByClassName('requiredValueOther1')[0].value==''){
                     
                     isError = 'true';   
                    errorMessage = 'If Name of Authority is "Others", Please provide Others details.';
                
                }

                // v1.1 Added the below validation
                if('{!objSRWrap.NOCMagrothercomp}' == 'true' && document.getElementById('GSComfortLetters:letterForm:letterBlock:NOCManagerSectionEdit:EmirateMangerAccount:txtHostingCompany').value ==''){
                     
                    isError = 'true';   
                    errorMessage = 'Please specify Name of company in which employee wants to be Manager.';
                
                }
                
                if('{!objSRWrap.NOCliquor}' == 'true' || '{!objSRWrap.NOCimmigration}' == 'true' || '{!objSRWrap.NOCPersonalVehicle}' == 'true'){
                    if(document.getElementById('GSComfortLetters:letterForm:letterBlock:RequestSectionEdit:ApplicantSalarySectionItem:ApplicantSalary').value == 'No'){
                        if(document.getElementById('GSComfortLetters:letterForm:letterBlock:RequestSectionEdit:salarySectionItem:salaryVehicle').value <=0){
                            isError = 'true';   
                            errorMessage = 'Monthly Salary should be greater than zero.'
                        }
                        //Mudasir updated the below code where we were checking for greaterthan or equal to 20000 now we are chceking only greatethan 20000
                        if(document.getElementById('GSComfortLetters:letterForm:letterBlock:RequestSectionEdit:salarySectionItem:salaryVehicle').value > 25000){
                            isError = 'true';   
                            errorMessage = 'Salary amount should be less than or equal to AED 25000.'
                        }
                        
                    }else if(document.getElementById('GSComfortLetters:letterForm:letterBlock:RequestSectionEdit:ApplicantSalarySectionItem:ApplicantSalary').value == 'Yes'){
                    
                    if(document.getElementById('GSComfortLetters:letterForm:letterBlock:RequestSectionEdit:salarySectionItem:salaryVehicle').value == 25000){
                            isError = 'true';   
                            errorMessage = 'Monthly Salary should be greater than 25000.'
                        }
                    
                    }
                }
                if(isError == 'true'){
                    alert(errorMessage);
                }
                else{
                    saveSRRequest();
                }
            }
            
            function confirmSubmit(){
                var submissionButtons = window.parent.document.getElementsByName('submit'); 
                var isProceed = true; 
                var errMsg = 'This request is already completed.'; 
                var isError = false; 
                if ('{!objSR.External_Status_Name__c}' == 'Submitted'){ 
                    isProceed = false; 
                    errMsg = 'This request is already Submitted.'; 
                }
                if (isProceed == true) { 
                    var SRid = '{!objSR.Id}'; 
                    var stat = '{!objSR.External_Status_Name__c}'; 
                    var DocnotUploaded = '{!objSR.Required_Docs_not_Uploaded__c}'; 
                    var permitReq = ''; 
                    
                    if (stat == 'Draft') { 
                        if (isError == false) { 
                            if (DocnotUploaded == true || DocnotUploaded == 'true') { 
                                errMsg = 'Please upload the required docs before submit by clicking on Download/Upload button'; 
                                isError = true; 
                            } 
                        }
                    }
                }else { 
                    errMsg = 'This Service Request is Already Submitted.';
                    isError = true; 
                } 
                if (isError) { 
                    alert(errMsg);
                } 
                else { 
                
                   alert('Kindly ensure all employee details mentioned in the Service Request are accurate before submitting. In case of any discrepancies, please contact gs.helpdesk@difc.ae.');
                     submitSRRequest(); 
                } 
            }
            
            function confirmUpgrade(){
                var isProceed = true;
                var errMsg = 'Error Occured, Please contact system admin.';
                
                if('{!OR(Service_Request__c.Is_Cancelled__c)}'=='true'){
                    isProceed = false;
                    errMsg = 'This request is already cancelled.';
                }else if('{!OR(Service_Request__c.Is_Rejected__c)}'=='true'){
                    isProceed = false;
                    errMsg = 'This request is already rejected.';
                }else if('{!OR(Service_Request__c.isClosedStatus__c)}'=='true'){
                    isProceed = false;
                    errMsg = 'This request is already completed.';
                }
                
                
                if(isProceed == true){
                    confirmUpgradeFunction();
                }else{
                    alert(errMsg);
                }
            }
            
            function onlyOriginalAllowed(){
                    var result = confirm('If selecting Original, you can only apply NOC for immigration, Liquor Permit and Personal Vehicle Registration.');
                    if(result == true){
                        onlyOriginalAllowedAction();
                    }
            }
            
            
           function getContactInformation()
           {      
           getContactInfo(); 
           }
            
            
            
             </script>
             
       
    </apex:form>
    
   <!-- Veera -->  <c:SearchAccountsComponent rendered="{!isDetailPage==false}" 
            customerId="{!objsr.Customer__c}" 
            accountStatus="accountStatus" 
            searchHeader="Search Company"
            searchLabel="Company Name/License No: "
            isSameClient="true"
            searchWithLicenseNo="true"
        />
        
       <script> 
         function selectHosting(hci,hcn){      
            document.getElementById('btnCloseReveal').click();   
                setPrimaryTenantDetails(hci);
        }   
            
        </script>
    <apex:relatedList list="Steps_SR__r" rendered="{!isDetailPage==true}"/>
    <apex:relatedList list="SR_Docs__r" rendered="{!isDetailPage==true}"/>
    <apex:relatedList list="SR_Price_Items1__r" rendered="{!isDetailPage==true}"/>
</apex:page>