<apex:page standardController="Pending__c" extensions="GsPendingInfo" tabStyle="Service_Request__c" > <!-- docType="html-5.0" -->
<style type="text/css">
/* This is for the full screen DIV */
.popupBackground {
/* Background color */
    background-color:black;
    opacity: 0.20;
    filter: alpha(opacity = 20);
    /* Dimensions */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 998;
    position: absolute;
}
    
/* This is for the message DIV */
.PopupPanel {
    /* Dimensions */
    left: 50%;
    width: 100px;
    //margin-left: -100px;
    border-radius: 15px
    top: 50%;
    height: 100px;
    margin-top: 200px;
    z-index: 999;
    position: fixed;
}
</style>
<apex:form >
<apex:actionStatus id="pleasewait" stopText="">
       <apex:facet name="start">
           <div>
               <div class="popupBackground"></div>
               <div class="PopupPanel">
                   <img src="{!$Resource.LoadingImage}"/>
               </div>
           </div>
       </apex:facet>
   </apex:actionStatus>

    <apex:sectionHeader title="Pending Information" subtitle="Pending on {!Step.SR__r.Name}" />
    <apex:pageBlock title="Pending Details" id="thePB">
        <apex:pageMessages />
        <apex:pageBlockSection columns="1">
            <apex:outputField value="{!PendingDetails.Start_Date__c}" />
            <apex:inputField value="{!PendingDetails.FD_Error__c}" rendered="{!(ISBLANK(PendingDetails.Id))}" />
            <apex:inputField value="{!PendingDetails.Internal_Pending__c}" rendered="{!(ISBLANK(PendingDetails.Id))}" />
            <apex:inputField value="{!PendingDetails.Remove_Pending__c}" rendered="{!NOT(ISBLANK(PendingDetails.Id))}"/>
            <apex:inputField value="{!PendingDetails.Comments__c}" required="true" onFocus="this.maxLength=132;" onKeyPress="if(this.value != null && this.value.length > 132){return false;}"/>
        </apex:pageBlockSection>
        
        <apex:pageBlockSection columns="1" title="Courier Information" collapsible="false" rendered="{!Step.Is_Courier_Enabled__c}" id="courierSection">
            <apex:actionFunction name="doAction" action="{!doAction}" status="pleasewait" rerender="courierSection" immediate="true">
                <apex:param value="" name="Checked" assignTo="{!isChecked}" />
            </apex:actionFunction>
            
            <apex:inputField value="{!PendingDetails.Is_Courier_Related__c}" onChange="doAction(this.checked);" rendered="{!ISBLANK(PendingDetails.Id)}"/>
            <apex:outputField value="{!PendingDetails.Is_Courier_Related__c}" rendered="{!NOT(ISBLANK(PendingDetails.Id))}"/>
            
            <apex:inputField value="{!PendingDetails.No_Of_Docs__c}" required="true" rendered="{!AND(PendingDetails.Is_Courier_Related__c,ISBLANK(PendingDetails.Id))}"/>
            <apex:outputField value="{!PendingDetails.No_Of_Docs__c}" rendered="{!AND(PendingDetails.Is_Courier_Related__c,NOT(ISBLANK(PendingDetails.Id)))}"/>
            
            <apex:inputField value="{!PendingDetails.Courier_Description__c}" required="true" onFocus="this.maxLength=120;" onKeyPress="if(this.value != null && this.value.length > 120){return false;}" rendered="{!AND(PendingDetails.Is_Courier_Related__c,ISBLANK(PendingDetails.Id))}"/>
            <apex:outputField value="{!PendingDetails.Courier_Description__c}" rendered="{!AND(PendingDetails.Is_Courier_Related__c,NOT(ISBLANK(PendingDetails.Id)))}"/>
            
            <apex:inputField value="{!PendingDetails.Type_Of_Courier__c}" required="true" rendered="{!AND(PendingDetails.Is_Courier_Related__c,ISBLANK(PendingDetails.Id))}"/>
            <apex:outputField value="{!PendingDetails.Type_Of_Courier__c}" rendered="{!AND(PendingDetails.Is_Courier_Related__c,NOT(ISBLANK(PendingDetails.Id)))}"/>
            
        </apex:pageBlockSection>
        
        <apex:pageBlockButtons location="bottom">
            <apex:commandButton value="Save" action="{!SavePending}" rerender="thePB" status="pleasewait"/>
            <apex:commandButton value="Cancel" action="/{!PendingDetails.Service_Request__c}?nooverride=1" immediate="true"/>
        </apex:pageBlockButtons>
        
    </apex:pageBlock>
</apex:form>
</apex:page>