<apex:page >
    <apex:includeLightning />
    <!-- div tag act as locator while calling Lightning.createComponent -->
    <div id="lightning" />
    
    <script>
    var theme = '{!$User.UITheme}';
    var SRId = "{!JSENCODE($CurrentPage.parameters.SRID)}";
    var StepId = "{!JSENCODE($CurrentPage.parameters.StepId)}";
    
    console.log('SRId ==>'+SRId );
    console.log('StepId ==>'+StepId );
    //If the theme is LEX, then open lightning component
    if(theme=='Theme4d'){         
        $Lightning.use("HexaBPM:App_UploadDocuments", function() {
          $Lightning.createComponent("HexaBPM:LEX_UploadDocuments",{
              "SRId" : SRId,
              "StepId" : StepId
          },
          "lightning",
          function(cmp) {
            console.log('In VF Page==>');
          });
        });  
    }else if(theme=='Theme3'){//Else open the documents upload page in classic view
        window.top.location.href = 'apex/HexaBPM__UploadDocuments?id='+SRId; 
    }
    </script>  
</apex:page>