<apex:page sidebar="false" showHeader="false" controller="HexaBPM.PostInstallationConfigController" doctype="html-5.0" applyBodyTag="false" standardStylesheets="false">
    <style>
        @-moz-keyframes spinner-loader{0%{-moz-transform:rotate(0);transform:rotate(0)}100%{-moz-transform:rotate(360deg);transform:rotate(360deg)}}@-webkit-keyframes spinner-loader{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}@keyframes spinner-loader{0%{-moz-transform:rotate(0);-ms-transform:rotate(0);-webkit-transform:rotate(0);transform:rotate(0)}100%{-moz-transform:rotate(360deg);-ms-transform:rotate(360deg);-webkit-transform:rotate(360deg);transform:rotate(360deg)}}.spinner-loader:not(:required){-moz-animation:spinner-loader 1.5s infinite linear;-webkit-animation:spinner-loader 1.5s infinite linear;animation:spinner-loader 1.5s infinite linear;-moz-border-radius:.5em;-webkit-border-radius:.5em;border-radius:.5em;-moz-box-shadow:rgba(0,0,51,.3) 1.5em 0 0 0,rgba(0,0,51,.3) 1.1em 1.1em 0 0,rgba(0,0,51,.3) 0 1.5em 0 0,rgba(0,0,51,.3) -1.1em 1.1em 0 0,rgba(0,0,51,.3) -1.5em 0 0 0,rgba(0,0,51,.3) -1.1em -1.1em 0 0,rgba(0,0,51,.3) 0 -1.5em 0 0,rgba(0,0,51,.3) 1.1em -1.1em 0 0;-webkit-box-shadow:rgba(0,0,51,.3) 1.5em 0 0 0,rgba(0,0,51,.3) 1.1em 1.1em 0 0,rgba(0,0,51,.3) 0 1.5em 0 0,rgba(0,0,51,.3) -1.1em 1.1em 0 0,rgba(0,0,51,.3) -1.5em 0 0 0,rgba(0,0,51,.3) -1.1em -1.1em 0 0,rgba(0,0,51,.3) 0 -1.5em 0 0,rgba(0,0,51,.3) 1.1em -1.1em 0 0;box-shadow:rgba(0,0,51,.3) 1.5em 0 0 0,rgba(0,0,51,.3) 1.1em 1.1em 0 0,rgba(0,0,51,.3) 0 1.5em 0 0,rgba(0,0,51,.3) -1.1em 1.1em 0 0,rgba(0,0,51,.3) -1.5em 0 0 0,rgba(0,0,51,.3) -1.1em -1.1em 0 0,rgba(0,0,51,.3) 0 -1.5em 0 0,rgba(0,0,51,.3) 1.1em -1.1em 0 0;font-size:10px;width:1em;height:1em;margin:-12px 1.5em 1.5em -12px;overflow:hidden;text-indent:100%;position:absolute;left:50%}
        .loading-screen{position:absolute;right:0;left:0}.spinner-loader.initial{top:30%}.loading-screen{top:0;bottom:0;background-color:rgba(0,0,0,.5)}.loading-screen .spinner-loader{top:40%}.bpm{overflow:scroll;width:100%}
    </style>
    <head>
        <title>HexaBPM</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" type="text/css" href="{!URLFOR($Resource.HexaBPM_PageFlow, 'css/HexaBPM_PageFlow.min.css')}"/>
        <apex:stylesheet value="{!URLFOR($Resource.HexaBPM__HexaBPM_PageFlow, 'css/BPMHome.css')}"/>
    </head>
    <body>
        <style>
            
            body .bEditBlock .pbBody .pbSubheader, 
            body .bWizardBlock .pbBody .pbSubheader {
                background: #61bae4; /* secondary color */
                color: #fff !important;
            }
            #portalwrapper + table {
               // padding-left: 10px;
            }
            
            div#portalheader {
               // width: 100%;
               // box-shadow: 0px 0px 10px #4d4d4d;
               // -webkit-box-shadow: 0px 0px 10px #4d4d4d;
               // -moz-box-shadow: 0px 0px 10px #4d4d4d; 
                margin-bottom: 2%;
            }       
            .detailPage .bPageBlock, .editPage .bPageBlock {
                border-top-width: 4px !important;
            }
            #portalheader{
                background: #FFFFFF; /* primary color */
            }
            /*.pbSubheader.brandTertiaryBgr.tertiaryPalette{}            
            body .bEditBlock .pbBody .pbSubheader, 
            body .bWizardBlock .pbBody .pbSubheader {
                background: #404041;  secondary color 
                color: #fff !important;
            }
            #NavigDiv form .pageNavItem.current{
                background: #e0301e; /* primary color */
                /*color: #fff;
            }*/
            /*.accountBlock .bPageBlock.brandSecondaryBrd.secondaryPalette {
                border-top-color: #e0301e !important; /* primary color 
            }*/
            .detailPage .bPageBlock, .editPage .bPageBlock {
                border-top-width: 4px !important;
                /*border-top-color: #e0301e !important; /* primary color */
            }
            /*.bPageBlock.brandSecondaryBrd.secondaryPalette{
                border-top-color: #e0301e !important; /* primary color 
            }*/
            .pageNavItem, .pageNavItemUnclick{
                /*color : #e0301e !important;*/
                color : #5d5e5e !important;
            }
            /*#NavigDiv form .pageNavItem.current{
                color : #fff !important;
            }*/
            .navbar-default {
            background-color: #fff; /*Navbar Background*/
            border-color: #e0301e !important; /*Navbar Border*/
            }
            .navbar-default .navbar-form {
            border-color: #e0301e !important; 
            }
            .triangle-down:before {
            border-top-color: #e0301e !important; /*Navbar Triangle Color*/
            }
        </style>
        <div id="portalwrapper">
            <div id="portalheader" style="">
                <nav class="navbar navbar-default navbar-hexabpm">
                    <div class="container-fluid">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " id="nav-div">
                            <span class="triangle-down"></span>
                            <div class="navbar-header">
                                <button id="mobileToggle" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-header" aria-expanded="false">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand" href="#" >
                                    <img src="{!URLFOR($Resource.HexaBPMPageFlow, 'images/hexalogo.svg')}" height="70px"/>
                                </a>
                            </div>
                            <div class="collapse navbar-collapse" id="navbar-header">
                                <ul class="nav navbar-nav navbar-right">
                                    <li class="hidden-xs">
                                        <a href="#"  style="padding: 35px 15px;">
                                            <img src="{!URLFOR($Resource.HexaBPMPageFlow, 'images/pwc.png')}" height="40" class="pwc-logo"/>
                                        </a>    
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </body>
    <c:RemoteSiteSettingVC actionCall="{!CreateApexClassOnload}"/>
    <div class="loading-screen" id="loading-screen" style="z-index:10;">
        <div class="spinner-loader" id="spinner-loader">
            Loading…
        </div>
    </div>
        <div class= "hexabpmhome">
        <div class="container-fluid">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 content-row">
            <div class="outer-div-row-1  row">
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 inner-div">
                    <div class="content-div">
                        <div class="row">
                            <div class="content-heading col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <h4>Setup</h4>
                            </div>
                        </div>
                        <div class="row icon-info-div">
                            <div class="icon-style">
                                <div class="text-left">
                                    <img src="{!URLFOR($Resource.HexaBPM_PageFlow, 'images/HexaBpm_Icons/Vector-Smart-Object-01.svg')}" alt="" class="icon" />
                                </div>  
                            </div>
                            <div class="">
                                <div class="text-left content">
                                    <p>Create your Own Process.<br/><span style="color:#404041">Use the option to configure and deploy the process for the users.</span></p>
                                    <p>If this is a sandbox organization and users are unable to run the processes, you may need to click the button to enable the sandbox. Did this accidently? Click <a href="#">here</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <button type="button" class="btn-style">Process Deployment Wizard</button>
                            <button type="button" class="btn-style">Authorize Sandbox Account</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 inner-div">
                    <div class="content-div">
                        <div class="row">
                            <div class="content-heading col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <h4>Demo</h4>
                            </div>
                        </div>
                        <div class="row icon-info-div" style="padding: 0 15px 0 15px;">
                            <div class="">
                                <p style="text-align:justify">Please check the video below for the demo. If this is a sandbox organization and users are unable to run, please contact the local support.</p>
                            </div>
                        </div>
                        <div class="row video-div" style="padding: 0 15px 0 15px;">
                            <img src="{!URLFOR($Resource.HexaBPM_PageFlow, 'images/HexaBpm_Icons/Placeholder_Image.png')}" alt="" class="video" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 content-row">
            <div class="outer-div-row-2  row">
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 inner-div">
                    <div class="content-div">
                        <div class="content-heading col-lg-12 col-md-12 col-sm-12 col-xs-12 row">
                            <h4>Training Material and Documentation</h4>
                        </div>
                        <div class="row icon-info-div">
                            <div class="icon-style">
                                <div class="text-left">
                                    <img src="{!URLFOR($Resource.HexaBPM_PageFlow, 'images/HexaBpm_Icons/Vector-Smart-Object-04.svg')}"  alt="" class="icon" />
                                </div>  
                            </div>
                            
                              <div class="text-left content">
                                  <p>Create a basic process in minutes. Our online support site offers text and video training. Use the options below to configure and deploy the process for your users.</p>
                               </div>
                           
                        </div>
                        <div class="row btn-div">
                                <button type="button" class="btn-style">Getting Started</button>
                                <button type="button" class="btn-style">Process Flows</button>
                         </div>
                         <div class="row">
                             <p class="btn-content" style="display:inline-table">The Art of Content Curation: With reams of multimedia content such. </p>
                             <p class="btn-content" style="display:inline-table">The Art of Content Curation: With reams of multimedia content such. </p>   
                         </div>
                       
                        <div class="row btn-div">
                                <button type="button" class="btn-style">Process Template</button>
                                <button type="button" class="btn-style">Deployment</button>
                         </div>
                         <div class="row">
                             <p class="btn-content" style="display:inline-table">The Art of Content Curation: With reams of multimedia content such. </p>
                             <p class="btn-content" style="display:inline-table">The Art of Content Curation: With reams of multimedia content such. </p>   
                         </div>
                         
                        <div class="row btn-div">
                                <button type="button" class="btn-style">Service Request</button>
                                <button type="button" class="btn-style">Process Testing</button>
                         </div>
                         <div class="row">
                             <p class="btn-content" style="display:inline-table">The Art of Content Curation: With reams of multimedia content such. </p>
                             <p class="btn-content" style="display:inline-table">The Art of Content Curation: With reams of multimedia content such. </p>   
                         </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 inner-div">
                    <div class="content-div" id="support-div">
                        <div class="content-heading col-lg-12 col-md-12 col-sm-12 col-xs-12 row">
                            <h4>Support</h4>
                        </div>
                        <div class="row icon-info-div">
                            <div class="icon-style">
                                <div class="text-left">
                                    <img src="{!URLFOR($Resource.HexaBPM_PageFlow, 'images/HexaBpm_Icons/Vector-Smart-Object-05.svg')}" alt="" class="icon" />
                                </div>  
                            </div>
                            <div class="text-left content">
                                  <p>Create a basic process in minutes. Our online support site offers text and video training. Create a basic process in minutes. Create a basic process in minutes.</p>
                            </div>
                        </div>
                        <div class="row">
                                <button type="button" class="support-div-btn">Support Site</button>
                        </div>
                        <div class="row icon-info-div">
                            <div class="icon-style">
                                <div class="text-left">
                                    <img src="{!URLFOR($Resource.HexaBPM_PageFlow, 'images/HexaBpm_Icons/Vector-Smart-Object-06.svg')}" alt="" class="icon" />
                                </div>  
                            </div>
                            <div class="text-left content">
                                  <p>Support Engineers are available by email or phone. You may need to provide your Org id to support: 00DO00043H67</p>
                            </div>
                        </div>
                        <div class="row">
                                <button type="button" class="support-div-btn" >Log a Case</button>
                                <button type="button" class="support-div-btn" style="margin-left:20px;" >Grant Login Access</button>
                        </div>
                    </div>
                    <div style="height:3%;background-color:#fff;"></div>
                    <div class="content-div"  id="contact-div">
                          <div class="content-heading col-lg-12 col-md-12 col-sm-12 col-xs-12 row">
                            <h4>Contact Us</h4>
                        </div>
                        <div class="row icon-info-div">
                            <div class="icon-style">
                                <div class="text-left">
                                    <img src="{!URLFOR($Resource.HexaBPM_PageFlow, 'images/HexaBpm_Icons/Vector-Smart-Object-07.svg')}" alt="" class="icon" />
                                </div>  
                            </div>
                            
                              <div class="text-left content">
                                  <p class="social-details">Phone: +971 444 68 476<br/>
                                    Email: contact@hexabpm.com<br/>
                                    Website: www.hexabpm.com</p>
                                  <p style="display:inline-table;float:right;">Follow Us <br/>
                                      <img src="{!URLFOR($Resource.HexaBPM_PageFlow, 'images/HexaBpm_Icons/001-linkedin-logo.svg')}" class="social-icon" alt="" />
                                      <img src="{!URLFOR($Resource.HexaBPM_PageFlow, 'images/HexaBpm_Icons/003-twitter-bird.svg')}" style="padding-left:5px;" class="social-icon" alt="" />
                                      <img src="{!URLFOR($Resource.HexaBPM_PageFlow, 'images/HexaBpm_Icons/002-youtube-logo.svg')}" style="padding-left:5px;" class="social-icon" alt="" />
                                  </p>
                                    <p >
                                        
                                    </p>  
                               </div>
                           
                        </div>
                
                        </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script>
        var toggleSpinner = function(show){
            if(show)
                document.getElementById('loading-screen').style.display='block';
            else
                document.getElementById('loading-screen').style.display='none';
        }
        toggleSpinner(true);
    </script>
</apex:page>