<apex:page tabStyle="HexaBPM__Page_Flow__c" controller="HexaBPM.CreatePageFlowController" id="pg">
    <apex:sectionHeader subtitle="Page Flow Edit" title="New Page Flow"/>
    <apex:form id="frm">
        <apex:pageBlock id="pb">
            <apex:pageBlockSection columns="2">
                <apex:inputField value="{!pf.Name}" required="true"/>
                <apex:outputField value="{!pf.HexaBPM__Record_Type_API_Name__c}"/>
                <apex:inputField value="{!pf.HexaBPM__Flow_Description__c}"/>
                <apex:outputField value="{!pf.HexaBPM__Master_Object__c}"/>
            </apex:pageBlockSection>
            <apex:pageBlockButtons >
                <apex:commandButton value="Cancel" action="{!CancelFlow}" immediate="true"/>
                <apex:commandButton value="Save" action="{!SaveFlow}"/>
            </apex:pageBlockButtons>
        </apex:pageBlock>
    </apex:form>
    <apex:actionStatus id="pleasewait" stopText="">
        <apex:facet name="start">
            <div>
                <div class="popupBackground"></div>
                <div class="PopupPanel">
                    <img src="{!$Resource.HexaBPM__LoadingImage}"/>
                </div>
            </div>
        </apex:facet>
    </apex:actionStatus>
    <style>
        .popupBackground {
           /* Background color */
           background-color:black;
           opacity: 0.20;
           filter: alpha(opacity = 20);
        
           /* Dimensions */
           width: 100%;
           height: 100%;
           top: 0;
           left: 0;
           z-index: 998;
           position: absolute;
       }
       /* This is for the message DIV */
       .PopupPanel {
           /* Background color */
           /*border: solid 2px #00205B;
           background-color: white;
          */
           /* Dimensions */
           left: 50%;
           width: 100px;
           //margin-left: -100px;
           border-radius: 15px
           top: 50%;
           height: 100px;
           margin-top: 200px;
           z-index: 999;
           position: fixed;
       }
    </style>
</apex:page>