<apex:page controller="HexaBPM.DefaultActionsController" id="pg" sidebar="false" tabStyle="HexaBPM__SR_Steps__c">
    <apex:sectionHeader title="Default Actions for Step No : {!objSRStep.HexaBPM__Step_No__c}" subtitle="{!objSRStep.HexaBPM__Summary__c}"/>
        <style>
	        .delth{
	            text-align:center;
	            min-width:35px;
	        }
	        .return_btn{
	             font-size: 0.9em;
	             color:#333333;
	             display:block !important;
	             width:125px !important;
	             border: none !important;
	             height:24px !important;
	             line-height:14px !important;
	             float: left !important;
	        }
	        /* This is for the full screen DIV */
		    .popupBackground {
		        /* Background color */
		        background-color:black;
		        opacity: 0.20;
		        filter: alpha(opacity = 20);
		     
		        /* Dimensions */
		        width: 100%;
		        height: 100%;
		        top: 0;
		        left: 0;
		        z-index: 998;
		        position: absolute;
		    }
		    /* This is for the message DIV */
		    .PopupPanel{
		        left: 35%;
		        width: 100px;
		        border-radius: 15px
		        top: 50%;
		        height: 100px;
		        margin-top: 50px;
		        z-index: 999;
		        position: fixed;
		    }
        </style>
        <apex:actionStatus id="pleasewait" stopText="">
	      <apex:facet name="start">
	          <div>
	          <!-- to disable whole page when user clicks on next button  -->
	              <div class="popupBackground"></div>
	              <div class="PopupPanel">
	                  <img src="{!$Resource.LoadingImage}"/>
	              </div>
	          </div>
	      </apex:facet>
	    </apex:actionStatus>
        <apex:form id="frm">
        <apex:inputhidden id="hdnSelIndex" value="{!iSelRowIndex}"/>
        <apex:actionfunction name="ChangeActType" action="{!ChangeActionType}" rerender="pb" status="pleasewait"/>
        <apex:actionfunction name="ChangeObjFld" action="{!ChangeObjectField}" rerender="pb" status="pleasewait"/>
        <apex:actionfunction name="deleteActn" action="{!deleteAction}" rerender="pb,errormsg" status="pleasewait"/>
        <apex:actionfunction name="OperatorChangeFun" action="{!OperatorChange}" rerender="pb" status="pleasewait"/>
        <apex:pagemessages id="errormsg"/>
        <apex:pageblock id="BRDetail" title="Business Rule Detail">
            <apex:pageblockbuttons location="top">
                <apex:commandbutton value=" Save " Action="{!SaveBR}" rendered="{!isSaveMode}" rerender="errormsg,BRDetail,conditionspnl" status="pleasewait" style="float:left;"/>
                <apex:commandbutton value=" Cancel " Action="{!CancelBR}" rendered="{!isSaveMode}" rerender="errormsg,BRDetail,conditionspnl" status="pleasewait" style="float:left;"/>
                <apex:commandbutton value=" Edit " Action="{!EditBR}" rendered="{!!isSaveMode}" rerender="errormsg,BRDetail,conditionspnl" status="pleasewait" style="float:left;"/>
                <apex:commandButton value="Return to SR Step" status="pleasewait" action="/{!$CurrentPage.parameters.Id}" title="Returns to SR-Steps Detail Page"/>
            </apex:pageblockbuttons>
            <apex:pageblocksection columns="2">
                <apex:outputfield value="{!BR.Name}"/>
                <apex:inputfield value="{!BR.HexaBPM__Description__c}" rendered="{!isSaveMode}" style="min-width:290px;"/>
                <apex:outputfield value="{!BR.HexaBPM__Description__c}" rendered="{!!isSaveMode}"/>
                <apex:outputfield value="{!BR.HexaBPM__Action_Type__c}"/>
                <apex:outputfield value="{!BR.HexaBPM__SR_Steps__c}"/>
            </apex:pageblocksection>
        </apex:pageblock>
        <apex:outputpanel id="conditionspnl" layout="block">
            <apex:pageblock id="pb" Title="Manage Actions" rendered="{!showActions}">
                <apex:pageBlockButtons location="top">
                    <apex:commandButton action="{!AddNewAction}" value="Add Action" rerender="pb,errormsg" status="pleasewait"/>
                    <apex:commandButton action="{!SaveActions}" value="Save" rerender="pb,errormsg" status="pleasewait"/>
                    <apex:commandButton action="{!cancelActions}" value="Cancel" status="pleasewait"/>
                </apex:pageBlockButtons>  
                <apex:pageblocktable value="{!lstActns}" var="a" id="pbt">
                     <apex:column headervalue="Priority No." style="width:40px;">
                        <apex:inputField value="{!a.Act.HexaBPM__Priority__c}" style="width:40px;"/>
                    </apex:column>
                    <apex:column headervalue="Action Type" style="width:180px;">
                        <apex:inputField value="{!a.Act.HexaBPM__Action_Type__c}" onChange="ChangeType('{!JSENCODE(TEXT(a.rowIndex))}');"/>
                    </apex:column>
                    <apex:column headerValue="Class Name"> 
                        <apex:selectList id="ActclassName" multiselect="false" size="1" value="{!a.Act.HexaBPM__Class_Name__c}" onchange="ChangeType('{!JSENCODE(TEXT(a.rowIndex))}');" rendered="{!IF(a.Act.HexaBPM__Action_Type__c=='Custom Code',true,false)}">
                            <apex:selectOptions value="{!lstActClasses}" />
                        </apex:selectList>
                    </apex:column>
                    <apex:column headervalue="Field / Method" style="width:180px;">
                        <apex:selectList id="FieldLst" multiselect="false" size="1" value="{!a.Act.HexaBPM__Field_Name__c}" rendered="{!IF(a.Act.HexaBPM__Action_Type__c=='Contact' || a.Act.HexaBPM__Action_Type__c=='License' || a.Act.HexaBPM__Action_Type__c=='HexaBPM__Service_Request__c' || a.Act.HexaBPM__Action_Type__c=='Account' || a.Act.HexaBPM__Action_Type__c=='HexaBPM__Step__c' || a.Act.HexaBPM__Action_Type__c=='Registration' || a.Act.HexaBPM__Action_Type__c=='Lease' || a.Act.HexaBPM__Action_Type__c=='Custom Code',true,false)}" onChange="FieldChange('{!JSENCODE(TEXT(a.rowIndex))}');">
                            <apex:selectOptions value="{!a.objFldWrap.lstDynObjFields}" id="FieldVals"/>
                        </apex:selectList>
                    </apex:column>
                    <apex:column headervalue="Value (or) Field" style="width:100px;">
                        <apex:inputField id="valoper" value="{!a.Act.HexaBPM__Value_or_Field__c}" onchange="ChangeFieldValue('{!JSENCODE(TEXT(a.rowIndex))}');" rendered="{!IF(a.Act.HexaBPM__Action_Type__c=='Contact' || a.Act.HexaBPM__Action_Type__c=='License' || a.Act.HexaBPM__Action_Type__c=='Lease' || a.Act.HexaBPM__Action_Type__c=='HexaBPM__Service_Request__c' || a.Act.HexaBPM__Action_Type__c=='Account' || a.Act.HexaBPM__Action_Type__c=='HexaBPM__Step__c' || a.Act.HexaBPM__Action_Type__c=='Registration',TRUE,FALSE)}"/>
                    </apex:column>
                    <apex:column id="valuecol" style="width:220px;">
                        <apex:outputpanel id="SRfldpnl" rendered="{!IF(a.Act.HexaBPM__Value_or_Field__c=='SR Field',true,false)}">
                             <apex:selectlist id="SRFldPicklist" multiselect="false" size="1" value="{!a.Act.HexaBPM__Field_Value__c}">
                                <apex:selectoptions value="{!a.lstActValueFields}"/>
                             </apex:selectlist>
                        </apex:outputpanel>
                        <apex:outputpanel id="Stepfldpnl" rendered="{!IF(a.Act.HexaBPM__Value_or_Field__c=='Step Field',true,false)}">
                             <apex:selectlist id="StpFldPicklist" multiselect="false" size="1" value="{!a.Act.HexaBPM__Field_Value__c}">
                                <apex:selectoptions value="{!a.lstActStepValueFields}"/>
                             </apex:selectlist>
                        </apex:outputpanel>
                        <apex:outputpanel layout="block" id="valuepnl" rendered="{!IF(a.Act.HexaBPM__Value_or_Field__c=='Value',true,false)}">                   
                            <apex:inputField style="float:left;" value="{!a.stp.HexaBPM__Status__c}" id="stepType" rendered="{!IF(a.Act.HexaBPM__Action_Type__c=='Create Step',true,false)}"/>
                            <apex:image value="/img/alohaSkin/help_orange.png" title="Please select the status for the Step" style="cursor:pointer;float:left;margin-top: 3px;" rendered="{!IF(a.Act.HexaBPM__Action_Type__c=='Create Step',true,false)}"/>
                            
                            <apex:selectlist id="pickfld" multiselect="false" size="1" value="{!a.Act.HexaBPM__Field_Value__c}" rendered="{!IF(a.objFldWrap.selFieldType=='PICKLIST' && (a.Act.HexaBPM__Action_Type__c=='Contact' || a.Act.HexaBPM__Action_Type__c=='License' || a.Act.HexaBPM__Action_Type__c=='Lease' || a.Act.HexaBPM__Action_Type__c=='HexaBPM__Service_Request__c' || a.Act.HexaBPM__Action_Type__c=='Account' || a.Act.HexaBPM__Action_Type__c=='HexaBPM__Step__c' || a.Act.HexaBPM__Action_Type__c=='Registration'),TRUE,FALSE)}">
                                <apex:selectoptions value="{!a.lstPickList}"/>
                            </apex:selectlist>
                            
                            <apex:selectlist id="StepReferencefld" multiselect="false" size="1" value="{!a.Act.HexaBPM__Field_Value__c}" rendered="{!IF(a.Act.HexaBPM__Field_Name__c=='Status__c' && a.Act.HexaBPM__Action_Type__c=='HexaBPM__Step__c',TRUE,FALSE)}">
                                <apex:selectoptions value="{!lstStepStatus}"/>
                            </apex:selectlist>
                            
                            <apex:selectlist id="SRReferencefld" multiselect="false" size="1" value="{!a.Act.HexaBPM__Field_Value__c}" rendered="{!IF((a.Act.HexaBPM__Field_Name__c=='Internal_Status__c' || a.Act.HexaBPM__Field_Name__c=='External_Status__c') && a.Act.HexaBPM__Action_Type__c=='HexaBPM__Service_Request__c',TRUE,FALSE)}">
                                <apex:selectoptions value="{!lstSRStatus}"/>
                            </apex:selectlist>
                            
                            <apex:inputText id="dyncDataType" value="{!a.Act.HexaBPM__Field_Value__c}" onkeypress="return inputOnlyNumbers(event,'{!JSENCODE(a.objFldWrap.selFieldType)}')" onfocus="isdateFld(this,'{!JSENCODE(a.objFldWrap.selFieldType)}','{!$Component.valuecol}','{!JSENCODE(TEXT(a.rowIndex))}');" rendered="{!IF(a.Act.HexaBPM__Field_Name__c!=null && a.objFldWrap.selFieldType!='PICKLIST' && a.objFldWrap.selFieldType!='REFERENCE' && (a.Act.HexaBPM__Action_Type__c=='HexaBPM__Service_Request__c' || a.Act.HexaBPM__Action_Type__c=='Account' || a.Act.HexaBPM__Action_Type__c=='HexaBPM__Step__c' || a.Act.HexaBPM__Action_Type__c=='Registration' || a.Act.HexaBPM__Action_Type__c=='Contact' || a.Act.HexaBPM__Action_Type__c=='License' || a.Act.HexaBPM__Action_Type__c=='Lease'),true,false)}"/>
                            <apex:inputText value="{!a.Act.HexaBPM__Field_Value__c}" id="parentSRStatus" rendered="{!IF(a.Act.HexaBPM__Action_Type__c=='Parent SR Status',true,false)}"/>
                            <script>
                                var FldType = '{!JSENCODE(a.objFldWrap.selFieldType)}';
                                var rowindex = '{!JSENCODE(TEXT(a.rowIndex))}';
                                var parenttd;
                                if(document.getElementById('pg:frm:pb:pbt:'+rowindex+':valuecol')!=null)
                                    parenttd = document.getElementById('pg:frm:pb:pbt:'+rowindex+':valuecol');
                                if(FldType=='BOOLEAN'){
                                    var cb = document.createElement('input');
                                    cb.type = 'checkbox';
                                    cb.setAttribute("id", "pg:frm:pb:pbt:"+rowindex+":dyncCheckBox");
                                    cb.onclick = function() { CheckBoxClick(this.checked,this.id); };
                                    parenttd.appendChild(cb);
                                    if(document.getElementById('pg:frm:pb:pbt:'+rowindex+':dyncDataType')!=null){
                                        document.getElementById('pg:frm:pb:pbt:'+rowindex+':dyncDataType').style.display='none';
                                        var preval = document.getElementById('pg:frm:pb:pbt:'+rowindex+':dyncDataType').value;
                                        if(preval==null && preval==''){
                                            document.getElementById('pg:frm:pb:pbt:'+rowindex+':dyncDataType').value='false';
                                        }else{
                                            if(preval=='true')
                                                document.getElementById('pg:frm:pb:pbt:'+rowindex+':dyncCheckBox').checked=true;
                                        }
                                    }
                                }
                            </script>
                        </apex:outputpanel> 
                    </apex:column>
                    <apex:column headervalue="SR / Email / SMS Template" style="width:200px;">
                        <apex:inputField value="{!a.ParentSR.HexaBPM__SR_Template__c}" style="width:180px;" id="parentSR" rendered="{!IF((a.Act.HexaBPM__Action_Type__c=='Initiate SubSR'|| a.Act.HexaBPM__Action_Type__c=='Linked SR'),true,false)}"/>
                        <apex:selectList id="EmailTempl" multiselect="false" size="1" value="{!a.Act.HexaBPM__Field_Value__c}" rendered="{!IF(a.Act.HexaBPM__Action_Type__c=='Send Email',true,false)}">
                            <apex:selectOptions value="{!lstEmailTemplates}" id="EmailTemplVals"/>
                        </apex:selectList>
                        <apex:selectList id="SmsTempl" multiselect="false" size="1" value="{!a.Act.HexaBPM__Field_Value__c}" rendered="{!IF(a.Act.HexaBPM__Action_Type__c=='Send SMS',true,false)}">
                            <apex:selectOptions value="{!lstSMSTemplates}" id="smsTemplVals"/>
                        </apex:selectList>
                    </apex:column>
                    <apex:column headerValue="Delete" headerclass="delth" style="text-align:center;width:100px;">
                       <apex:image value="{!$Resource.HexaBPM__remove_image}" style="cursor:pointer;" onclick="DeleteRow('{!JSENCODE(TEXT(a.rowIndex))}');" title="Remove the Action"/>
                    </apex:column>
                </apex:pageblocktable>
            </apex:pageblock>
        </apex:outputpanel>
    </apex:form>
    <script>
        var lkprow;
        function OpenPopUp(rindex){
            lkprow = rindex;
        }
        function AssignId(TemplId,TemplName){
            if(lkprow!=null){
                if(document.getElementById('pg:frm:pb:pbt:'+lkprow+':SR-StepId')!=null)
                    document.getElementById('pg:frm:pb:pbt:'+lkprow+':SR-StepId').value = TemplId;
                if(document.getElementById('pg:frm:pb:pbt:'+lkprow+':SR-StepName')!=null)
                    document.getElementById('pg:frm:pb:pbt:'+lkprow+':SR-StepName').value = TemplName;
            }
            if(document.getElementById('closepopup')!=null)
                document.getElementById('closepopup').click();
        }
        function ChangeType(RowNo){
            if(document.getElementById('pg:frm:hdnSelIndex')!=null)
                document.getElementById('pg:frm:hdnSelIndex').value = RowNo;
            ChangeActType();
        }
        function DeleteRow(RowNo){
            if(document.getElementById('pg:frm:hdnSelIndex')!=null)
                document.getElementById('pg:frm:hdnSelIndex').value = RowNo;
            deleteActn();
        }
        function FieldChange(RowNo){
            if(document.getElementById('pg:frm:hdnSelIndex')!=null)
                document.getElementById('pg:frm:hdnSelIndex').value = RowNo;
            ChangeObjFld();
        }
        function isdateFld(myField,FldType,colId,rowindex){
            var parenttd = document.getElementById(colId);
            if(FldType=='DATE'){
                DatePicker.pickDate(false, myField , false);
            }
            /*
            if(FldType=='BOOLEAN'){
                var cb = document.createElement('input');
                cb.type = 'checkbox';
                cb.setAttribute("id", "pg:frm:pb:pbt:"+rowindex+":dyncCheckBox");
                cb.onclick = function() { CheckBoxClick(this.checked,this.id); };
                parenttd.appendChild(cb);
                if(document.getElementById('pg:frm:pb:pbt:'+rowindex+':dyncDataType')!=null){
                    document.getElementById('pg:frm:pb:pbt:'+rowindex+':dyncDataType').style.display='none';
                    var preval = document.getElementById('pg:frm:pb:pbt:'+rowindex+':dyncDataType').value;
                    if(preval==null && preval==''){
                        document.getElementById('pg:frm:pb:pbt:'+rowindex+':dyncDataType').value='false';
                    }else{
                        if(preval=='true')
                            document.getElementById('pg:frm:pb:pbt:'+rowindex+':dyncCheckBox').checked=true;
                    }
                }
            }
            */
        }
        function CheckBoxClick(val,textboxId){
            if(textboxId!=null && textboxId!=''){
                textboxId = textboxId.replace("dyncCheckBox","dyncDataType");
            }
            if(document.getElementById(textboxId)!=null){
                if(val=='on' || val=='true' || val==true){
                    document.getElementById(textboxId).value = 'true';
                }else{
                    document.getElementById(textboxId).value = 'false';
                }
            }
        }
        function ChangeFieldValue(RowNumber){
            if(document.getElementById('pg:frm:hdnSelIndex')!=null)
                document.getElementById('pg:frm:hdnSelIndex').value = RowNumber;
            OperatorChangeFun();
        }
        function inputOnlyNumbers(evt,FldType) {
            if(FldType=='DOUBLE' || FldType=='CURRENCY'){
                var e = window.event || evt; // for trans-browser compatibility  
                var charCode = e.which || e.keyCode;  
                if ((charCode > 47 && charCode < 58) || charCode == 8){  
                    return true;  
                }  
                return false;  
            }else{
                return true;
            }
        }
  </script>
</apex:page>