<apex:page cache="true" expires="{!$Label.MobileCacheExpiryTime}" controller="CompanyOverviewCls" action="{!AccountBalance}"  standardStylesheets="false" sidebar="false" applyBodyTag="false" applyHtmlTag="false" showHeader="false" >
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
  <apex:stylesheet value="{!URLFOR($Resource.mobile_difc_resource,'mobile_difc_resource/css/difc-mobile-style.css')}"/>    
   <!--<apex:includeScript value="{!URLFOR($Resource.mobile_difc_resource,'mobile_difc_resource/scripts/jquery-1.7.2.js')}"/>-->
   
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"/>
    
   <apex:stylesheet value="{!URLFOR($Resource.mobile_difc_resource,'mobile_difc_resource/css/difc-mobile-image-styles.css')}"/>  
   <!--For the standard page-->
   
   <apex:stylesheet value="{!URLFOR($Resource.mobile_difc_resource,'mobile_difc_resource/css/responsive-tables.css')}"/>
</head>
<style>
    
</style>

<body>
   
  <div id="c-button--push-left" class="c-button">
      <div class="menu-title-container" id="c-button--push-left">
          
          <div id="c_menu__close" class="c-menu__close">
              <div id="image_menu_bar" class="icon-menu">
              </div>
          </div>
          
          <div id="menu-title-text"> <!--Sets the current Page Name -->
              <!--MENU-->
          </div>
          
      </div>
  </div>
  <nav id="c-menu--push-left" class="c-menu c-menu--push-left">  
     <div class="menu-outer">
         <div class="menu-inner">MENU</div>
     </div>

     <ul class="c-menu__items">
         <li class="c-menu__item">
            <apex:outputLink value="{!$Site.Prefix}/MobileHome" disabled="{!($CurrentPage.Name) == 'MobileHome'}" styleClass="clear-text-decoration"    >
             <div class="text-image-container">
                 <div id="c-menu-subitem-text">DASHBOARD</div> 
                 <div id="c-menu-subitem-image"><div id="image_menu" class="icon-20"></div></div>
                </div></apex:outputLink>
         </li>
         <li class="c-menu__item"> 
             <div class="icon-23 current-balance-image-position"></div>
             <div id="c-menu-first-subitem"> CURRENT BALANCE</div>
             <div style="display:none" class="hidden-portal-amount">{!PortalBalanceFormatted}</div> <!--Colors the portal amount to red if the value is -ve -->
             <div id="c-menu-second-subitem" class="portal-amount"> {!PortalBalanceFormatted} AED</div>
         </li>
         <li class="c-menu__item">
             
             <div class="text-image-container" id="portal-balance-top-up">
                 <div id="c-menu-subitem-text">PORTAL BALANCE TOP-UP</div> 
                 <div id="c-menu-subitem-image"><div id="image_menu" class="icon-4"></div></div>
             </div>
             <div id="topupBalance" data-abide="ajax" >
               <div id="popup_box" style="display:none;" title="Information">
             
                  <!--<a id="popupbox_close">X</a>--> 
               
               <div style="margin-top:10px">
                   <apex:outputLabel styleClass="error_message" id="error_message"></apex:outputLabel>
               </div>
                
             </div>
               
             <div id="confirm" style="display:none;" title="Information">
                 
                 <div>
                   <apex:outputLabel styleClass="error_message" id="warning_message"></apex:outputLabel>
                 </div>
                 <div class="confirm-button-container">
                     <a href="#" class="confirm-ok-button"  id="confirm-ok" style="color:#FFFFFF">
                         Ok
                     </a>
                     <a href="#" class="confirm-ok-button" id="confirm-cancel" style="color:#FFFFFF">
                         Cancel
                     </a>

                 </div>
                 
             </div>
             <div id="portal-top-up-container">
                 
                 <div style="width:100%">

                 <span id="paymentoptionlabel">
                            PAYMENT OPTION:</span>

                        <select id="payment-option-dropdown">
                                  
                                  <option value="Select One">SELECT ONE</option>
                                  <option value="Bank Payment">BANK PAYMENT</option>
                                  <option value="Pay By Cash">PAY BY CASH</option>
                                  <option value="Pay By Cheque">PAY BY CHEQUE</option>
                                  <option value="Pay By Card">PAY BY CARD</option>
                        </select>
                     
                  </div>
                 <div id="payment-option-spacer">
                     <div id="paymentamountcurrencylabel">AED</div>
                     <input id="payment-amount-textbox" required="required" pattern="^[1-9]\d{0,}(?:\.\d{1,2})?$" type="number" placeholder="Enter top up amount here.."  onfocusin="focusFunction()" onblur="blurFunction()" />
                     
                 </div>
                 <div id="payment-option-spacer-button">
                     
                     <div  id="portaltopupbutton"  style="font-family:Tstar_Bold;font-size:15px;">Top-up</div>
                     
                 </div>
                 
             </div>
             
             </div>
         </li>
         <li class="c-menu__item">
             <a href="{!$Site.Prefix}/MobileCompanyInfo" class="clear-text-decoration ">
             <div class="text-image-container">
                 <div id="c-menu-subitem-text">COMPANY INFO</div> 
                 <div id="c-menu-subitem-image"><div id="image_menu" class="icon-15"></div></div>
             </div>
             </a>
         </li>
         <li class="c-menu__item {!IF(contains(communityUserRoles,'Company Services') ,'','disablelink')}">
             <a href="{!$Site.Prefix}/MobileCompanyServices" class="clear-text-decoration {!IF(contains(communityUserRoles,'Company Services') ,'','disablelink')}">
             <div class="text-image-container {!IF(contains(communityUserRoles,'Company Services') ,'','disablelink')}">
                 <div id="c-menu-subitem-text">COMPANY SERVICES</div> 
                 <div id="c-menu-subitem-image"><div id="image_menu" class="icon-17"></div></div>
             </div>
             </a>
         </li>
         <li class="c-menu__item">
             <a href="{!$Site.Prefix}/MobileOtherServices" class="clear-text-decoration {!IF(contains(communityUserRoles,'IT Services') ,'','disablelink')}">
             <div class="text-image-container {!IF(contains(communityUserRoles,'IT Services') ,'','disablelink')}">
                 <div id="c-menu-subitem-text">OTHER SERVICES</div> 
                 <div id="c-menu-subitem-image"><div id="image_menu" class="icon-12"></div></div>
             </div>
             </a>
         </li>
         <li class="c-menu__item">
             <a href="{!$Site.Prefix}/MobileSavedRequests" class="clear-text-decoration">
             <div class="text-image-container">
                 <div id="c-menu-subitem-text">SAVED REQUESTS</div> 
                 <div id="c-menu-subitem-image"><div id="image_menu" class="icon-8"></div></div>
             </div>
             </a>
         </li>
         <li class="c-menu__item">
             <a href="{!$Site.Prefix}/MobilePendingRequest" class="clear-text-decoration">
             <div class="text-image-container">
                 <div id="c-menu-subitem-text">SERVICE REQUESTS</div> 
                 <div id="c-menu-subitem-image"><div id="image_menu" class="icon-19"></div></div>
             </div>
             </a>
         </li>
         <li class="c-menu__item">
             <a href="{!$Site.Prefix}/MobilePendingActions" class="clear-text-decoration">
             <div class="text-image-container">
                 <div id="c-menu-subitem-text">PENDING ACTIONS</div> 
                 <div id="c-menu-subitem-image"><div id="image_menu" class="icon-9"></div></div>
             </div>
             </a>
         </li>
         <li class="c-menu__item">
             <a href="{!$Site.Prefix}/mobileuserhandbook" class="clear-text-decoration">
             <div class="text-image-container">
                 <div id="c-menu-subitem-text">CLIENT HANDBOOK</div> 
                 <div id="c-menu-subitem-image"><div id="image_menu" class="icon-1"></div></div>
             </div>
             </a>
         </li>
          <li class="c-menu__item">
             <a href="{!$Site.Prefix}/mobilehelp" class="clear-text-decoration">
             <div class="text-image-container">
                 <div id="c-menu-subitem-text">HELP</div> 
                 <div id="c-menu-subitem-image"><div id="image_menu" class="icon-24"></div></div>
             </div>
             </a>
         </li>
         <li class="c-menu__item">
            <!-- <a href="{!$Site.Prefix}/secur/logout.jsp?retUrl={!$Site.Prefix}/MobileCustomLogin">-->
                <div onclick="confirmLogout();">
                 <div id="warning" style="display:none;" title="Logout">
                 
                     <div>
                       <apex:outputLabel styleClass="error_message" id="message"></apex:outputLabel>
                     </div>
                     <div class="confirm-button-container">
                        
                             <a href="{!$Site.Prefix}/secur/logout.jsp?retUrl={!$Site.Prefix}/MobileCustomLogin" class="confirm-ok-button"  id="warning-ok" style="color:#FFFFFF">
                                 Ok
                             </a>
                         
                   
                             <a href="#" class="confirm-ok-button"  id="warning-cancel" style="color:#FFFFFF">
                                 Cancel
                             </a>
                         
                     </div>
                 
                 </div>
                 <div class="text-image-container">
                     
                     <div id="c-menu-subitem-text">LOGOUT</div>
                     <div id="c-menu-subitem-image"><div id="image_menu" class="icon-2"></div></div>
                     
                 </div> </div>
         </li>
     </ul>
    <div class="scroll-arrow icon-3">
    </div>
    <!--Hidden Values -->
   <input type="hidden" value="{!VisaQuota}" id="hdnVisaQuota"/>
   <input type="hidden" value="{!VisaIssued}" id="hdnVisaIssued"/>
   <input type="hidden" value="{!PipelineQuota}" id="hdnPipelineQuota"/>
 </nav>
   
   

 <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script> 
 <script>var __sfdcSessionId = '{!GETSESSIONID()}';</script>
 <script src="../../soap/ajax/31.0/connection.js" type="text/javascript"></script>    
 <script src="../../soap/ajax/31.0/apex.js" type="text/javascript"></script>   
 <apex:includeScript value="{!URLFOR($Resource.mobile_difc_resource,'mobile_difc_resource/scripts/difc.min.js')}"/> 
 <!--<apex:includeScript value="{!URLFOR($Resource.mobile_difc_resource,'mobile_difc_resource/scripts/mobile_menu.js')}"/> 
 <apex:includeScript value="{!URLFOR($Resource.mobile_difc_resource,'mobile_difc_resource/scripts/difcpayment-mobile.js')}"/>
 <apex:includeScript value="{!URLFOR($Resource.mobile_difc_resource,'mobile_difc_resource/scripts/responsive-tables.js')}"/>-->  
 <script>
    
    var height = screen.height;
    
    var j$ = jQuery.noConflict();
 
    j$('.c-menu__items').css('height',height-120);
    j$('.c-menu__items').css('overflow','auto');
  
    var __sfdcSessionId_tmp = "{!$Api.Session_ID}";

    sforce.connection.init(__sfdcSessionId_tmp, "{!$Site.Prefix}/services/Soap/u/31.0");
    UserContext.siteUrlPrefix = "{!$Site.Prefix}";
    
    var amount_patterRegExp = "^[1-9]\d{0,}(?:\.\d{1,2})?$"; //greater than 1 and till 2 decimal points
    
    jQuery(function(){
        DIFCPayment.init("{!$Label.Transaction_URL}", "{!CustomerId}", "{!ReceiptPrefix}", "{!BPNumber}", "{!PaymentChecqueAmount_ElemId}");
        console.log("DIFCPayment init event called");
    })
    
    j$( document ).ready(function() {
        
        j$('.c-menu--push-left').height = screen.height;
        
        if(screen.height > 720)
        {
            j$('.scroll-arrow').removeClass('icon-3'); //remove the scroll arrow if the screen is big enough to hold the list items.
        }
        
        if(j$('.hidden-portal-amount').text() && parseInt(j$('.hidden-portal-amount').text()) < 0)
        {
            j$('.portal-amount').css({"color":"red"});
        }
        
     });
    
    function confirmLogout(){
        
        jQuery("[id$=message]").html("You are about to logout from this application. Do you really want to logout?");
        j$('#warning').dialog({
         modal: true,
          overlay: {
            opacity: 0.7
        } ,
        position: {
               my: "center",
               at: "center",
               of: j$('.c-menu__items')
                
         },
         open: function () {
            var $parent = j$( this ).parent();
            var $button = $parent.find( ".ui-dialog-titlebar-close" );
            j$(this).parents(".ui-dialog:first").find(".ui-dialog-titlebar").addClass("dialog-title-bar");
            j$(this).parents(".ui-dialog").css('padding',0);
            j$(this).parents(".ui-dialog .ui-dialog-content").css('padding-top',0);
            j$(this).parents(".ui-dialog").css('border-radius',0);
            $parent.find(".ui-corner-all").removeClass("ui-corner-all");
            
            j$('.ui-dialog .ui-dialog-title').addClass('dialog-title');
            j$('.ui-dialog .ui-dialog-title').css('width','50%');
            $button.removeClass( "ui-dialog-titlebar-close" )
               .css( "float", "right" )
               .button( "option", {
                   icons: {primary: false},
                   text: true,
                   label: "X"
               });
             $button.css('border','#1D2859');
              j$('.ui-button-text-only .ui-button-text').css('padding',0);
             j$('.ui-button-text-only .ui-button-text').css('padding-left',10);
             j$('.ui-button-text-only .ui-button-text').css('padding-top',6);
             j$('.ui-button-text-only .ui-button-text').addClass('dialog-close');
             j$('.ui-widget-overlay ').css('opacity',0.7);
             j$('.ui-widget-overlay').css('background', '#000000');
             j$('.ui-widget-content').css('border','none');
             j$('.ui-widget-content').css('border-radius',0);
             j$('.ui-widget-header').css('border','none');
             
             var width = (window.innerWidth > 0) ? window.innerWidth : screen.width;    
             var height = (window.innerHeight > 0) ? window.innerHeight : screen.height;
             var popupbox_height = j$('#popup_box').height();
             
             //300px is the width of the dialog box.(screen width - width of dialogbox)/2 gives the left margin.
             j$('.ui-dialog').css('left',(width-300)/2); 
             j$('.ui-dialog').css('top',(height-popupbox_height)/2); 
             
        }
      });
        
       j$('#warning-ok').click(function(){

           j$('#warning').dialog('close');
        });
        
       j$('#warning-cancel').click(function(){

           j$('#warning').dialog('close');
        });
    }

    
    function focusFunction() {
        
        //This code is added for android mobile devices. On focus of text box, on screen keyboard appears, 
        // and the entire menu shifts up
        //This logic is added body has position fixed and android adjustResize doesnt work.
        
        if( /android.+mobile/i.test(navigator.userAgent)){
           
                var position = document.querySelector('#payment-amount-textbox').offsetTop-document.querySelector('.c-menu__items').scrollTop;
                if(position>(window.innerHeight/2)){
                    var height = "-="+window.innerHeight/2+"px";
                }
                else{
                    var height = "-=100px"; 
                 }
                
                j$('.c-menu__items').css('position','relative');
                j$('.c-menu__items').css('z-index','-1');
                j$('.c-menu__items').css({marginTop: height});
                j$('.c-menu__items').css({marginBottom: height});
        
                j$('.menu-outer').css('z-index','1000');
                j$('.mobile-header').css('z-index','2000');
            }
     
    }

    function blurFunction() {
   
        if( /android.+mobile/i.test(navigator.userAgent)){
            j$('.c-menu__items').css({marginTop: '0px'});
            j$('.c-menu__items').css({marginBottom: '0px'});
        }
        
    }
   
    
  </script>
    
</body>
</apex:page>