<!-- 
    Author: Diana Correa
    Date : 22 - Oct - 2015

-->

<apex:page cache="true" expires="{!$Label.MobileCacheExpiryTime}" id="savedRequestPage" sidebar="false" applyBodyTag="false" applyHtmlTag="false" showHeader="false" controller="SavedRequestsController">
    <head>
        <script>
            
            
            function reLoad(){
                
             var height = (window.innerHeight > 0) ? window.innerHeight : screen.height;    
             var j$ = jQuery.noConflict();
                
              j$(document).ready(function(){

                
        
                j$('.showMoreData').click(function(){
                
                    console.log('show more data');
                    //popup message to show the created date and created by
                   var createdDate = j$(this).data('createddate');
                   var createdBy =  j$(this).data('createdby');
                
                   jQuery("[id$=createdDate]").html('Created Date : '+createdDate);
                   jQuery("[id$=createdBy]").html('Created By : '+createdBy);
                    
                   j$('.overlay').css({ opacity: 1 });
                   j$('.overlay').css({ "visibility": "visible" });
                    
                 });
                  
                  j$('.popup-header-link').click(function(e) {
         
                    j$('.overlay').css({ opacity: 0 });
                    j$('.overlay').css({ "visibility": "hidden" });
                    e.preventDefault();
                });

              });
         }
            
         reLoad();
         var j$ = jQuery.noConflict();
        j$(document).ready(function(){
            
            //Sets the Page Title
            j$("#menu-title-text").text('SAVED REQUESTS');
            });
       </script>
    </head>
    <apex:stylesheet value="{!URLFOR($Resource.mobile_difc_resource,'mobile_difc_resource/css/difc-mobile-style.css')}"/>  

      <style>

            #c-menu-second-subitem {
                padding-left: 15px; 
            }
            
            #c-menu-subitem-text    {
                padding-left:15px;
            }
            
            #c-menu-first-subitem {
                padding-left: 15px;
            }
            
            
          
         
     </style>

     <body class="body-margin">
     <!--Header-->
     <!--<c:MobileHeader ></c:MobileHeader>-->
   
        <div id="o-wrapper" class="o-wrapper">
           
            <!--menu -->
          <apex:include pageName="MobileMenu"/>

        
            <!-- add the body content here -->
            <div class = "content-padding">
                 <div>
                
                    <!--<div class="bold-header-home padding-bottom">
                          SAVED REQUESTS
                    </div>-->
                    
                    <div class="light-desc padding-top" style="text-align:justify;padding-bottom:27px">
                        View and access saved requests before submission.
                    </div>
                 </div>
                 <apex:form >

                <div  id = "container" class="content-container">
                    <!--<div style="padding:10px;color:#1D2859;">
                            Saved {!item.RoleType} Requests List
                        </div>-->
                     
                          
                 <!-- iterate over all the lists, need to display only administrative services. hence the conditions are added -->
                <apex:repeat value="{!AllRequests}" var="item">
                    
                  <apex:outputPanel id="savedRequstsBlock" rendered="{!IF(item.RoleType == 'Company Service',true,false)}" >
                  <div class="title-service-request">
                            Saved Administrative Service Requests List
                   </div>
                  <div class="table-topbar-container">
                          <div class="table-top-bar-content col-1-3-width" >
                              SR NO.
                          </div>
                          <div class="table-top-bar-content col-2-width" >
                              NAME
                          </div>
                          <div class="table-top-bar-content col-1-3-width">
                              
                          </div>
                          <div class="table-top-bar-content col-4-width">
                              
                          </div>
                  </div> 
                  <!-- <apex:outputPanel id="savedRequstsBlock">  -->   
                    <apex:repeat value="{!item.Requests}" var="SavedRequest" >
                     <apex:outputPanel rendered="{!IF(SavedRequest.SR_Template__r.Sub_menu__c = 'Administrative Services',true,false)}">
                    <div class="content-row">
                       
                       <apex:outputLink value="/{!SavedRequest.Id}" styleClass="row-content-bold row-padding-left" id="service_no">
                           {!SavedRequest.Name} <!--{!SavedRequest.SR_Template__r.Sub_menu__c}<!--{!SavedRequest.Name}  <!--{!SavedRequest.CreatedBy.Name}-->
                       </apex:outputLink>
                       <div class="row-content-regular">
    
                           {!SavedRequest.Portal_Service_Request_Name__c}
                       </div>
                       <div class="row-content-bold table-cell-alignment" >
                           <apex:outputLink value="/{!SavedRequest.Id}" styleClass="submit-button" style="padding:10px">
                               Submit</apex:outputLink>
                       </div>
                       
                       <div class="showMoreData table-cell-alignment col-4-width" data-createddate='{!SavedRequest.CreatedDate}' data-createdby='{!SavedRequest.CreatedBy.Name}'>
                           <div  class="more-image icon-6" id="more-image" ></div>
                       </div>
                        
                        </div>  
                        </apex:outputPanel>
                    </apex:repeat>
                           
                     <!-- previous and next button to show the remaining list values -->
                     <div class="paginator" align="right" style="padding-bottom:10px;">
                        <br/>
    
                        <div class="prevNextLinks">
                            <span class="prevNext">
                                <apex:commandLink id="firstPageCorporate" value="" action="{!getFirstRecords}" rendered="{!item.CurrentPageNo > 1}" reRender="savedRequstsBlock" oncomplete="reLoad()" status="loading_indicator">
                                    <img src="{!$Site.Prefix}/s.gif" title="First Page" alt="First Page" class="first"/>
                                    <apex:param name="rowIndex" value="{!item.Index}" assignTo="{!RowIndex}" />
                                </apex:commandLink>
                                <apex:outputPanel rendered="{!item.CurrentPageNo == 1}" >
                                    <img src="{!$Site.Prefix}/s.gif" title="First Page" alt="First Page" class="firstoff"/>
                                </apex:outputPanel>
                            </span>
                            <span class="prevNext">
                                <apex:commandLink id="prevPageCorporate" value="" action="{!getPreviousRecords}" rendered="{!item.CurrentPageNo > 1}" reRender="savedRequstsBlock" oncomplete="reLoad()" status="loading_indicator">
                                    <img src="{!$Site.Prefix}/s.gif" title="Previous" alt="Previous" class="prev"/>
                                    <apex:param name="rowIndex" value="{!item.Index}" assignTo="{!RowIndex}" />
                                    Previous
                                </apex:commandLink>
                                <apex:outputPanel rendered="{!item.CurrentPageNo == 1}" >
                                    <img src="{!$Site.Prefix}/s.gif" title="Previous" alt="Previous" class="prevoff"/>
                                    Previous                                
                                </apex:outputPanel>                            
                            </span>
                            <span class="prevNext">
                                <apex:commandLink id="nextPageCorporate" value="Next" action="{!getNextRecords}" reRender="savedRequstsBlock" oncomplete="reLoad()" rendered="{!item.CurrentPageNo < item.TotalPages}" status="loading_indicator">
                                    <img src="{!$Site.Prefix}/s.gif" title="Next" alt="Next" class="next"/>
                                    <apex:param name="rowIndex" value="{!item.Index}" assignTo="{!RowIndex}" />
                                </apex:commandLink>
                                <apex:outputPanel rendered="{!item.CurrentPageNo == item.TotalPages}" >
                                    Next                                
                                    <img src="{!$Site.Prefix}/s.gif" title="Next" alt="Next" class="nextoff"/>
                                </apex:outputPanel>                             
                            </span>
                            <span class="prevNext">
                                <apex:commandLink id="lastPageCorporate" value="" action="{!getLastRecords}" reRender="savedRequstsBlock" oncomplete="reLoad()" rendered="{!item.CurrentPageNo < item.TotalPages}" status="loading_indicator">
                                    <img src="{!$Site.Prefix}/s.gif" title="Last Page" alt="Last Page" class="last"/>
                                    <apex:param name="rowIndex" value="{!item.Index}" assignTo="{!RowIndex}" />
                                </apex:commandLink>
                                <apex:outputPanel rendered="{!item.CurrentPageNo == item.TotalPages}" >
                                    <img src="{!$Site.Prefix}/s.gif" title="Last Page" alt="Last Page" class="lastoff"/>                                
                                </apex:outputPanel>                              
                            </span> 
                        </div>
    
                        <!--
                        <apex:commandButton value="Previous" action="{!previousBtnClick}" disabled="{!NOT(previousButtonEnabled)}" reRender="savedRequstsBlock" oncomplete="reLoad()"></apex:commandButton>
                        <apex:commandButton value="Next" action="{!nextBtnClick}" reRender="savedRequstsBlock" disabled="{!NOT(nextButtonEnabled)}" ></apex:commandButton>
                        -->
                    </div> 
                    </apex:outputPanel> 
                     
                        
                    <!-- License Renewal -->
                    <apex:outputPanel id="licenseRequstsBlock" rendered="{!IF(item.RoleType == 'Company Service',true,false)}" >
                  <div class="title-service-request">
                            Saved Corporate Actions Requests List
                   </div>
                  <div class="table-topbar-container">
                          <div class="table-top-bar-content col-1-3-width" >
                              SR NO.
                          </div>
                          <div class="table-top-bar-content col-2-width" >
                              NAME
                          </div>
                          <div class="table-top-bar-content col-1-3-width">
                              
                          </div>
                          <div class="table-top-bar-content col-4-width">
                              
                          </div>
                  </div> 
                  <!-- <apex:outputPanel id="savedRequstsBlock">  -->   
                    <apex:repeat value="{!item.Requests}" var="SavedRequest" >
                    <apex:outputPanel rendered="{!IF(SavedRequest.Portal_Service_Request_Name__c == 'License Renewal',true,false )}">
                    <div class="content-row">
                       
                        <apex:outputLink value="/{!SavedRequest.Id}" styleClass="row-content-bold row-padding-left" id="service_no">
                           {!SavedRequest.Name} <!--{!SavedRequest.SR_Template__r.Sub_menu__c}<!--{!SavedRequest.Name}  <!--{!SavedRequest.CreatedBy.Name}-->
                       </apex:outputLink>
                       <div class="row-content-regular">
    
                           {!SavedRequest.Portal_Service_Request_Name__c}
                       </div>
                       <div class="row-content-bold table-cell-alignment" >
                           <apex:outputLink value="/{!SavedRequest.Id}" styleClass="submit-button" style="padding:10px">
                               Submit</apex:outputLink>
                       </div>
                       
                       <div class="showMoreData table-cell-alignment col-4-width" data-createddate='{!SavedRequest.CreatedDate}' data-createdby='{!SavedRequest.CreatedBy.Name}'>
                           <div  class="more-image icon-6" id="more-image" ></div>
                       </div>
                        
                        </div>  
                           </apex:outputPanel>
                    </apex:repeat>
                           
                     <!-- previous and next button to show the remaining list values -->
                     <div class="paginator" align="right" style="padding-bottom:10px;">
                        <br/>
    
                        <div class="prevNextLinks">
                            <span class="prevNext">
                                <apex:commandLink id="firstPageCorporateL" value="" action="{!getFirstRecords}" rendered="{!item.CurrentPageNo > 1}" reRender="licenseRequstsBlock" oncomplete="reLoad()" status="loading_indicator">
                                    <img src="{!$Site.Prefix}/s.gif" title="First Page" alt="First Page" class="first"/>
                                    <apex:param name="rowIndex" value="{!item.Index}" assignTo="{!RowIndex}" />
                                </apex:commandLink>
                                <apex:outputPanel rendered="{!item.CurrentPageNo == 1}" >
                                    <img src="{!$Site.Prefix}/s.gif" title="First Page" alt="First Page" class="firstoff"/>
                                </apex:outputPanel>
                            </span>
                            <span class="prevNext">
                                <apex:commandLink id="prevPageCorporateL" value="" action="{!getPreviousRecords}" rendered="{!item.CurrentPageNo > 1}" reRender="licenseRequstsBlock" oncomplete="reLoad()" status="loading_indicator">
                                    <img src="{!$Site.Prefix}/s.gif" title="Previous" alt="Previous" class="prev"/>
                                    <apex:param name="rowIndex" value="{!item.Index}" assignTo="{!RowIndex}" />
                                    Previous
                                </apex:commandLink>
                                <apex:outputPanel rendered="{!item.CurrentPageNo == 1}" >
                                    <img src="{!$Site.Prefix}/s.gif" title="Previous" alt="Previous" class="prevoff"/>
                                    Previous                                
                                </apex:outputPanel>                            
                            </span>
                            <span class="prevNext">
                                <apex:commandLink id="nextPageCorporateL" value="Next" action="{!getNextRecords}" reRender="licenseRequstsBlock" oncomplete="reLoad()" rendered="{!item.CurrentPageNo < item.TotalPages}" status="loading_indicator">
                                    <img src="{!$Site.Prefix}/s.gif" title="Next" alt="Next" class="next"/>
                                    <apex:param name="rowIndex" value="{!item.Index}" assignTo="{!RowIndex}" />
                                </apex:commandLink>
                                <apex:outputPanel rendered="{!item.CurrentPageNo == item.TotalPages}" >
                                    Next                                
                                    <img src="{!$Site.Prefix}/s.gif" title="Next" alt="Next" class="nextoff"/>
                                </apex:outputPanel>                             
                            </span>
                            <span class="prevNext">
                                <apex:commandLink id="lastPageCorporateL" value="" action="{!getLastRecords}" reRender="licenseRequstsBlock" oncomplete="reLoad()" rendered="{!item.CurrentPageNo < item.TotalPages}" status="loading_indicator">
                                    <img src="{!$Site.Prefix}/s.gif" title="Last Page" alt="Last Page" class="last"/>
                                    <apex:param name="rowIndex" value="{!item.Index}" assignTo="{!RowIndex}" />
                                </apex:commandLink>
                                <apex:outputPanel rendered="{!item.CurrentPageNo == item.TotalPages}" >
                                    <img src="{!$Site.Prefix}/s.gif" title="Last Page" alt="Last Page" class="lastoff"/>                                
                                </apex:outputPanel>                              
                            </span> 
                        </div>
    
                        <!--
                        <apex:commandButton value="Previous" action="{!previousBtnClick}" disabled="{!NOT(previousButtonEnabled)}" reRender="licenseRequstsBlock" oncomplete="reLoad()"></apex:commandButton>
                        <apex:commandButton value="Next" action="{!nextBtnClick}" reRender="licenseRequstsBlock" disabled="{!NOT(nextButtonEnabled)}" oncomplete="reLoad()" ></apex:commandButton>
                        -->
                    </div> 
                    </apex:outputPanel> 
                        
                    <!-- IT Requests -->
                    <apex:outputPanel id="ITRequstsBlock" rendered="{!IF(item.RoleType == 'IT Services',true,false)}" >
                  <div class="title-service-request">
                            Saved IT Services Request List
                   </div>
                  <div class="table-topbar-container">
                          <div class="table-top-bar-content col-1-3-width" >
                              SR NO.
                          </div>
                          <div class="table-top-bar-content col-2-width" >
                              NAME
                          </div>
                          <div class="table-top-bar-content col-1-3-width">
                              
                          </div>
                          <div class="table-top-bar-content col-4-width">
                              
                          </div>
                  </div> 
               
                    <apex:repeat value="{!item.Requests}" var="SavedRequest" >
                       <apex:outputPanel rendered="{!IF(SavedRequest.Portal_Service_Request_Name__c != 'Permit to Access - Permanent',true,false)}"> 
                       <div class="content-row">
                       
                        <apex:outputLink value="/{!SavedRequest.Id}" styleClass="row-content-bold row-padding-left" id="service_no">
                           {!SavedRequest.Name} <!--{!SavedRequest.SR_Template__r.Sub_menu__c}<!--{!SavedRequest.Name}  <!--{!SavedRequest.CreatedBy.Name}-->
                       </apex:outputLink>
                       <div class="row-content-regular">
    
                           {!SavedRequest.Portal_Service_Request_Name__c}
                       </div>
                       <div class="row-content-bold table-cell-alignment" >
                           <apex:outputLink value="/{!SavedRequest.Id}" styleClass="submit-button" style="padding:10px">
                               Submit</apex:outputLink>
                       </div>
                       
                       <div class="showMoreData table-cell-alignment col-4-width" data-createddate='{!SavedRequest.CreatedDate}' data-createdby='{!SavedRequest.CreatedBy.Name}'>
                           <div class="more-image icon-6" id="more-image" ></div>
                       </div>
                        
                        </div>  
                        </apex:outputPanel>
                    </apex:repeat>
                           
                     <!-- previous and next button to show the remaining list values -->
                     <div class="paginator" align="right" style="padding-bottom:10px;">
                        <br/>
    
                        <div class="prevNextLinks">
                            <span class="prevNext">
                                <apex:commandLink id="firstPageIT" value="" action="{!getFirstRecords}" rendered="{!item.CurrentPageNo > 1}" reRender="ITRequstsBlock" oncomplete="reLoad()"  status="loading_indicator">
                                    <img src="{!$Site.Prefix}/s.gif" title="First Page" alt="First Page" class="first"/>
                                    <apex:param name="rowIndex" value="{!item.Index}" assignTo="{!RowIndex}" />
                                </apex:commandLink>
                                <apex:outputPanel rendered="{!item.CurrentPageNo == 1}" >
                                    <img src="{!$Site.Prefix}/s.gif" title="First Page" alt="First Page" class="firstoff"/>
                                </apex:outputPanel>
                            </span>
                            <span class="prevNext">
                                <apex:commandLink id="prevPageIT" value="" action="{!getPreviousRecords}" rendered="{!item.CurrentPageNo > 1}" reRender="ITRequstsBlock" oncomplete="reLoad()" status="loading_indicator">
                                    <img src="{!$Site.Prefix}/s.gif" title="Previous" alt="Previous" class="prev"/>
                                    <apex:param name="rowIndex" value="{!item.Index}" assignTo="{!RowIndex}" />
                                    Previous
                                </apex:commandLink>
                                <apex:outputPanel rendered="{!item.CurrentPageNo == 1}" >
                                    <img src="{!$Site.Prefix}/s.gif" title="Previous" alt="Previous" class="prevoff"/>
                                    Previous                                
                                </apex:outputPanel>                            
                            </span>
                            <span class="prevNext">
                                <apex:commandLink id="nextPageIT" value="Next" action="{!getNextRecords}" reRender="ITRequstsBlock" oncomplete="reLoad()" rendered="{!item.CurrentPageNo < item.TotalPages}" status="loading_indicator">
                                    <img src="{!$Site.Prefix}/s.gif" title="Next" alt="Next" class="next"/>
                                    <apex:param name="rowIndex" value="{!item.Index}" assignTo="{!RowIndex}" />
                                </apex:commandLink>
                                <apex:outputPanel rendered="{!item.CurrentPageNo == item.TotalPages}" >
                                    Next                                
                                    <img src="{!$Site.Prefix}/s.gif" title="Next" alt="Next" class="nextoff"/>
                                </apex:outputPanel>                             
                            </span>
                            <span class="prevNext">
                                <apex:commandLink id="lastIT" value="" action="{!getLastRecords}" reRender="ITRequstsBlock" oncomplete="reLoad()" rendered="{!item.CurrentPageNo < item.TotalPages}" status="loading_indicator">
                                    <img src="{!$Site.Prefix}/s.gif" title="Last Page" alt="Last Page" class="last"/>
                                    <apex:param name="rowIndex" value="{!item.Index}" assignTo="{!RowIndex}" />
                                </apex:commandLink>
                                <apex:outputPanel rendered="{!item.CurrentPageNo == item.TotalPages}" >
                                    <img src="{!$Site.Prefix}/s.gif" title="Last Page" alt="Last Page" class="lastoff"/>                                
                                </apex:outputPanel>                              
                            </span> 
                        </div>
    
                        <!--
                        <apex:commandButton value="Previous" action="{!previousBtnClick}" disabled="{!NOT(previousButtonEnabled)}" reRender="ITRequstsBlock" oncomplete="reLoad()"></apex:commandButton>
                        <apex:commandButton value="Next" action="{!nextBtnClick}" reRender="ITRequstsBlock" oncomplete="reLoad()" disabled="{!NOT(nextButtonEnabled)}" ></apex:commandButton>
                        -->
                    </div> 
                    </apex:outputPanel> 
                        
                 </apex:repeat>
               
              </div>
                   
                </apex:form>
                    
              </div>
              <div id="more-details" class="overlay">
                     <div  class="popup" style="margin:0">
                        <div class="popup-header" style="margin:-10px;">
                            <span class="popup-header-text">Details</span>
                            <a class="popup-header-link">x</a>
                        </div> 
                      
                         <div style="margin-top:30px;">
                               <apex:outputLabel id="createdDate" styleClass="error_message-new"></apex:outputLabel>
                              
                             </div>
                          <div style="margin-top:10px;padding-bottom:20px">
                                <apex:outputLabel id="createdBy" styleClass="error_message-new" ></apex:outputLabel>
                           </div>
                       
                     </div>
                </div>            
            
        
          <!-- /o-container -->
        
        </div><!-- /o-wrapper -->

        

    
     </body>
    

</apex:page>