<!--
  @description       : 
  @author            : ChangeMeIn@UserSettingsUnder.SFDoc
  @group             : 
  @last modified on  : 12-10-2020
  @last modified by  : Mudasir Wani
  Modifications Log 
  Ver   Date         Author                               Modification
  1.0   11-22-2020   ChangeMeIn@UserSettingsUnder.SFDoc   Initial Version
  V1.1  20-06-2021     Vinod Jetti   #14668 If F&B checkbox is checked, F&B Documents approved by authorities doc is required for contractor.
-->
<apex:page docType="html-5.0" applyHtmlTag="false" applyBodyTag="false" standardStylesheets="true"  Controller="Fo_cls_ContractorFormController" showHeader="false" sidebar="false" id="RORPUserForm"> <!--  -->
    <head>
        <title>{!pageTitle}</title>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"></meta>
    
        <link rel="shortcut icon" href="{!URLFOR($Resource.DIFC_PortalResource, 'DIFC_CommunityResource/favicon.ico')}" type="image/x-icon"/>
        <link rel="icon" href="{!URLFOR($Resource.DIFC_PortalResource, 'DIFC_CommunityResource/favicon.ico')}" type="image/x-icon"/>

        <apex:stylesheet value="{!URLFOR($Resource.difc_portal, 'DIFC_CommunityResource/css/difc.min.css')}"/>
        <apex:stylesheet value="{!URLFOR($Resource.DIFC_PortalResource, 'DIFC_CommunityResource/css/ie.css')}"/>
     
        <!--[if (gte IE 9)|!(IE)]><!-->
            <link rel="stylesheet" type="text/css" href="{!URLFOR($Resource.DIFC_PortalResource, 'DIFC_CommunityResource/css/responsive.css')}"></link>
        <!--<![endif]-->

        <style>
            .main-content {margin: 0 auto;}
            .errMsg{color:red;}
            body input.btn{            
                margin-left: 500px;
            }        
            .difc-logo img {height: 55px;}
            @media (max-width: 980px){
                nav.top-bar ul {
                    padding: 0 6px;
                }
            }
            .top-nav.news ul.mobile-logo, .top-nav.dashboard ul.mobile-logo {
                padding: 0px;
                margin: 0 10px !important;
            } 
            .top-bar-section ul li > a {font-family: inherit;}  
            footer small {font-style: italic;}    
            html .brandSecondaryBrd {
                border-top-color: #00205B !important;
                border-bottom: 1px solid #eaeaea;
                border-left: 1px solid #eaeaea;
                border-right: 1px solid #eaeaea;
            }
            nav.top-nav .top-bar-section ul.right li, nav.top-nav .top-bar-section ul.right li a{            
                font-size: 14px !important;
                background: rgba(0, 0, 0, 0);            
            }
            i.icon-phone-white{            
                background: url("{!URLFOR($Resource.DIFC_PortalResource, 'DIFC_CommunityResource/images/icon-phone-small-white.png')}") no-repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
                width: 20px !important;
            }
            nav.top-nav .top-bar-section ul li .icon-phone-white{            
                background-position: left 3px !important;
            }
            .top-bar-section li:not(.has-form) a:not(.button){
                background: none !important;
                padding: 0 15px !important;
                line-height: 45px;
  
            }
            .top-bar-section i.icon{            
                float: none !important;
                line-height: 45px;
            }
            .top-bar.top-nav ul, .top-bar.top-nav ul li{                
                line-height: 65px;
                font-size: 12px;
            }
            .top-bar-section li.call-centre{margin-right: 0 !important; background: transparent;}           
            body .apexp .bPageBlock.apexDefaultPageBlock .pbHeader {           
                border-bottom: 0px !important;   
            }
            table.multiSelectPicklistTable tbody tr:first-of-type{
                display:none;
            }
            tr.multiSelectPicklistRow select{           
                height:70px;
                width:160px;
            }
            input[type=file]{ width: 400px;}
            
            .dataCol {
                padding-top: 7px !important;
            }
            
        </style>
    <style>
             
      html, body, #wrap {
    height: 100%;
}
#wrap {
    height: auto;
    min-height: 86%;
}
#content {
    overflow: hidden;
    padding-bottom: (footer height);
}
#footer { 
    position: relative;
    margin-top: -(footer height); /* Note the negative value */
    height: (footer height);
    clear:both;
} 

#footer-wrap {
    display: block;
    padding: 5px;
    background: #e8ebec;
   
}
.consentfont{
    font-size: 1rem;
    color: #4d4d4d;
    line-height: 1.5;
    margin-bottom: 0;
    font-family: Arial,Helvetica,sans-serif;
    
}
         </style>
    </head>
<script>
        var rtnURL='customers/signin';
        function cancelfnc(){
              window.location.href = '/' + rtnURL;
        }
    </script> 

<div id="wrap">
    <div id="content">
    
        <div class="login">
            <nav class="row full-width top-bar top-nav dashboard">
                <ul class="mobile-logo left">
                    <li class="difc-logo">
                        <a target="_blank" href="http://www.difc.ae">
                            <img src="{!URLFOR($Resource.DIFC_PortalResource, 'DIFC_CommunityResource/images/DIFC_white_logo.png')}"/>
                        </a>
                    </li>
                </ul>
                <section class="top-bar-section">
                    <ul class="left hide-for-small-only hide-for-medium-only">
                            <li class="call-centre" style="margin-left: 10px;">
                            <i class="icon icon-return-back left"></i>
                            <a href="{!$Site.Prefix}/signin" style="line-height: 65px;padding-left: 0 !important;font-size: 1rem;">Go Back to Login</a>
                        </li>
                    </ul>    
                    <ul class="title-area right">
                        <li class="toggle-topbar"><a href="#"></a></li>
                    </ul>
                    <ul class="right">
                        <li class="call-centre">
                            <a href="tel:+97143622222">
                                <i class="icon icon-phone-white"></i>
                                Call Centre: +971 4 362 2222
                            </a>
                        </li>
                    </ul>
                </section>
            </nav>    
            <div class="row full-width top-bar primary-nav hide-for-small hide-for-small"></div>
            <div class="row full-width">  
                <div class="large-12 columns">   
                    <br></br>
                    <h4>Contractor Form </h4>
                    <br></br>
                    <apex:outputField value="{!template[0].SR_Description__c}" />
                </div>
                <apex:form id="userForm">
                    
                    <apex:actionFunction name="changeIssuingAuthority" rerender="issuingAuthority" action="{!changeIssuingAuthority}" immediate="true" >
                        <apex:param name="issuingAuthority" assignTo="{!srObj.Company_Type_list__c}" value="" />
                    </apex:actionFunction>
                
                    <div class="errMsg" style="padding: 15px;" >{!errMsg}</div>
                    <div class="large-12 columns">
                        <apex:outputPanel styleClass="info" id="contractorPanel" > 
                            <apex:pageBlock id="contractorDetails" title="Contractor Details">
                            
                                <apex:pageblockbuttons location="both">
                                     <apex:actionFunction action="{!saveContractor}" name="saveContractor"/>
                                     <apex:actionFunction action="{!submitContractor}" name="submitContractor"/>
                                     <apex:commandButton onClick="checkFieldValidations(); return false;" value="Save" rendered="{!IF((srId==null || srID=='') && hasRecordType,true,false)}"/>
                                     <apex:commandButton action="{!cancelRequest}" value="Cancel" rendered="{!srId == '' || srId == null}" />
                                     <apex:commandButton onClick="checkFileUpload(); return false;" value="Submit" rendered="{!IF((srId!=null || srID!='') && hasRecordType,true,false)}"/>
                                 </apex:pageblockbuttons>
                            
                                <apex:pageBlockSection id="registrationType" >
                                        
                                    <apex:outputLabel value="Select the type of registration." style="font-weight:bold; text-decoration:underline"></apex:outputLabel><br/>
                                    
                                    <apex:pageblocksectionitem rendered="{!IF((srId==null || srID==''),true,false)}"  >
                                        <apex:outputLabel value="Registration Type" style="align:float-left;"/>
                                        <apex:outputPanel styleClass="requiredInput" layout="block" >
                                        <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                                            <apex:inputField value="{!srObj.Company_Type_list__c}" onchange="changeIssuingAuthority(this.value)" />
                                        </apex:outputPanel>
                                    </apex:pageBlockSectionItem>

                                    <apex:pageblocksectionitem rendered="{!IF((srId!=null && srID!=''),true,false)}">
                                        <apex:outputLabel value="Registration Type" style="align:float-left;"/>
                                        <apex:outputField label="" value="{!srObj.Company_Type_list__c}" />
                                    </apex:pageblocksectionitem>
                                    
                                </apex:pageBlockSection>
                            
                                <apex:pageBlockSection >
                                        
                                    <apex:outputLabel value="Contractor Firm Information." style="font-weight:bold; text-decoration:underline"></apex:outputLabel><br/>
                                    
                                    <apex:pageblocksectionitem rendered="{!IF((srId==null || srID==''),true,false)}"  >
                                        <apex:outputLabel value="Contractor Firm Name" style="align:float-left;"/>
                                        <apex:outputPanel styleClass="requiredInput" layout="block" >
                                        <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                                            <apex:inputField value="{!srObj.Company_Name__c}" />
                                        </apex:outputPanel>
                                    </apex:pageBlockSectionItem>

                                    <apex:pageblocksectionitem rendered="{!IF((srId!=null && srID!=''),true,false)}">
                                        <apex:outputLabel value="Contractor Firm Name" style="align:float-left;"/>
                                        <apex:outputField value="{!srObj.Company_Name__c}" />
                                    </apex:pageblocksectionitem>

                                    <apex:pageblocksectionitem rendered="{!IF((srId==null || srID==''),true,false)}"  >
                                        <apex:outputLabel value="Contractor License No" style="align:float-left;"/>
                                        <apex:outputPanel styleClass="requiredInput" layout="block" >
                                            <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                                            <apex:inputField value="{!srObj.Trade_License_No__c}" />
                                        </apex:outputPanel>
                                    </apex:pageBlockSectionItem>

                                    <apex:pageblocksectionitem rendered="{!IF((srId!=null && srID!=''),true,false)}">
                                        <apex:outputLabel value="Contractor License No" style="align:float-left;"/>
                                        <apex:outputField value="{!srObj.Trade_License_No__c}" />
                                    </apex:pageblocksectionitem>
                                    
                                    <apex:pageblocksectionitem rendered="{!IF((srId==null || srID==''),true,false)}"  >
                                        <apex:outputLabel value="Issuing Authority" style="align:float-left;"/>
                                        <apex:outputPanel styleClass="requiredInput" layout="block" >
                                            <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                                            <!-- <apex:inputField value="{!srObj.Name_of_the_Authority__c}" /> -->
                                            <apex:outputPanel id="issuingAuthority">
                                                <apex:selectList label="Name of the Authority" multiselect="false" size="1" value="{!selectedAuthority}" >
                                                    <apex:selectOptions value="{!issuingAuthority}" />
                                                </apex:selectList>
                                            </apex:outputPanel>
                                        </apex:outputPanel>
                                    </apex:pageBlockSectionItem>

                                    <apex:pageblocksectionitem rendered="{!IF((srId!=null && srID!=''),true,false)}">
                                        <apex:outputLabel value="Issuing Authority" style="align:float-left;"/>
                                        <apex:outputField value="{!srObj.Name_of_the_Authority__c}" />
                                    </apex:pageblocksectionitem>
                                    
                                    <apex:pageblocksectionitem rendered="{!IF((srId==null || srID==''),true,false)}"  >
                                        <apex:outputLabel value="License Expiry Date" style="align:float-left;"/>
                                        <apex:outputPanel styleClass="requiredInput" layout="block" >
                                            <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                                            <apex:inputField value="{!srObj.Expiry_Date__c}" />
                                        </apex:outputPanel>
                                    </apex:pageBlockSectionItem>

                                    <apex:pageblocksectionitem rendered="{!IF((srId!=null && srID!=''),true,false)}">
                                        <apex:outputLabel value="License Expiry Date" style="align:float-left;"/>
                                        <apex:outputText value="{!HTMLENCODE(formattedExpiryDate)}" />
                                    </apex:pageblocksectionitem>
                                    
                                     <apex:pageblocksectionitem rendered="{!IF((srId==null || srID==''),true,false)}"  >
                                            <apex:outputLabel value="Address Details" style="align:float-left;"/>
                                            <apex:outputPanel styleClass="requiredInput" layout="block" >
                                                <apex:inputField required="true" value="{!srObj.Address_Details__c}" />
                                            </apex:outputPanel>
                                        </apex:pageBlockSectionItem> 

                                        <apex:pageblocksectionitem rendered="{!IF((srId!=null && srID!=''),true,false)}">
                                            <apex:outputLabel value="Address Details" style="align:float-left;"/>
                                            <apex:outputField value="{!srObj.Address_Details__c}" />
                                        </apex:pageblocksectionitem>
                                    <!-- Vinod Changes - #14668 - Start -->
                                        <apex:pageblocksectionitem rendered="{!IF((srId==null || srID==''),true,false)}"  >
                                            <apex:outputLabel value="Are you a F&B Contractor?" style="align:float-left;"/>
                                            <apex:outputPanel styleClass="requiredInput" layout="block">
                                                <apex:inputField value="{!srObj.Understood_the_purpose_of_notification__c}"/>
                                            </apex:outputPanel>
                                        </apex:pageblocksectionitem>
                                        <apex:pageblocksectionitem rendered="{!IF((srId!=null && srID!=''),true,false)}">
                                            <apex:outputLabel value="Are you a F&B Contractor?" style="align:float-left;"/>
                                            <apex:outputField value="{!srObj.Understood_the_purpose_of_notification__c}" />
                                        </apex:pageblocksectionitem>
                                    <!-- Vinod Changes -#14668 - End -->
                                </apex:pageBlockSection>

                                <apex:pageBlockSection >
                                        <apex:outputLabel value="Portal User Details." style="font-weight:bold; text-decoration:underline"></apex:outputLabel>
                                        <br/>
                                        
                                        <apex:pageblocksectionitem rendered="{!IF((srId==null || srID==''),true,false)}"  >
                                            <apex:outputLabel value="Title" style="align:float-left;"/>
                                            <apex:outputPanel styleClass="requiredInput" layout="block" >
                                                <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                                                <apex:inputField value="{!srObj.Title__c}" />
                                            </apex:outputPanel>
                                        </apex:pageBlockSectionItem>

                                        <apex:pageblocksectionitem rendered="{!IF((srId!=null && srID!=''),true,false)}">
                                            <apex:outputLabel value="Title" style="align:float-left;"/>
                                            <apex:outputField value="{!srObj.Title__c}" />
                                        </apex:pageblocksectionitem>
                                        
                                        <apex:pageblocksectionitem rendered="{!IF((srId==null || srID==''),true,false)}"  >
                                            <apex:outputLabel value="Passport" style="align:float-left;"/>
                                            <apex:outputPanel styleClass="requiredInput" layout="block" >
                                                <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                                                <apex:inputField value="{!srObj.Passport_Number__c}" />
                                            </apex:outputPanel>
                                        </apex:pageBlockSectionItem>
                                        
                                        <apex:pageblocksectionitem rendered="{!IF((srId!=null && srID!=''),true,false)}">
                                            <apex:outputLabel value="Title" style="align:float-left;"/>
                                            <apex:outputField value="{!srObj.Passport_Number__c}" />
                                        </apex:pageblocksectionitem>

                                        <apex:pageblocksectionitem rendered="{!IF((srId==null || srID==''),true,false)}"  >
                                            <apex:outputLabel value="First Name" style="align:float-left;"/>
                                            <apex:outputPanel styleClass="requiredInput" layout="block" >
                                                <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                                                <apex:inputField value="{!srObj.First_Name__c}" />
                                            </apex:outputPanel>
                                        </apex:pageBlockSectionItem>

                                        <apex:pageblocksectionitem rendered="{!IF((srId!=null && srID!=''),true,false)}">
                                            <apex:outputLabel value="First Name" style="align:float-left;"/>
                                            <apex:outputField value="{!srObj.First_Name__c}" />
                                        </apex:pageblocksectionitem>
                                        
                                        <apex:pageblocksectionitem rendered="{!IF((srId==null || srID==''),true,false)}"  >
                                            <apex:outputLabel value="Email" style="align:float-left;"/>
                                            <apex:outputPanel styleClass="requiredInput" layout="block" >
                                                <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                                                <apex:inputField value="{!srObj.Email_Address__c}" />
                                           </apex:outputPanel>
                                        </apex:pageBlockSectionItem> 

                                        <apex:pageblocksectionitem rendered="{!IF((srId!=null && srID!=''),true,false)}">
                                            <apex:outputLabel value="Email" style="align:float-left;"/>
                                            <apex:outputField value="{!srObj.Email_Address__c}" />
                                        </apex:pageblocksectionitem>
                                        
                                        <apex:pageblocksectionitem rendered="{!IF((srId==null || srID==''),true,false)}"  >
                                            <apex:outputLabel value="Middle Name" style="align:float-left;"/>
                                            <apex:inputField value="{!srObj.Middle_Name__c}" />
                                        </apex:pageBlockSectionItem>

                                        <apex:pageblocksectionitem rendered="{!IF((srId!=null && srID!=''),true,false)}">
                                            <apex:outputLabel value="Middle Name" style="align:float-left;"/>
                                            <apex:outputField value="{!srObj.Middle_Name__c}" />
                                        </apex:pageblocksectionitem>
                                        
                                        <apex:pageblocksectionitem rendered="{!IF((srId==null || srID==''),true,false)}"  >
                                            <apex:outputLabel value="Mobile Number" style="align:float-left;"/>
                                            <apex:outputPanel styleClass="requiredInput" layout="block" >
                                                <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                                                <apex:inputField value="{!srObj.Send_SMS_To_Mobile__c}" />
                                            </apex:outputPanel>
                                        </apex:pageBlockSectionItem> 

                                        <apex:pageblocksectionitem rendered="{!IF((srId!=null && srID!=''),true,false)}">
                                            <apex:outputLabel value="Mobile Number" style="align:float-left;"/>
                                            <apex:outputField value="{!srObj.Send_SMS_To_Mobile__c}" />
                                        </apex:pageblocksectionitem>
                                        
                                        <apex:pageblocksectionitem rendered="{!IF((srId==null || srID==''),true,false)}"  >
                                            <apex:outputLabel value="Last Name" style="align:float-left;"/>
                                            <apex:outputPanel styleClass="requiredInput" layout="block" >
                                                <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                                                <apex:inputField value="{!srObj.Last_Name__c}" />
                                            </apex:outputPanel>
                                        </apex:pageBlockSectionItem>

                                        <apex:pageblocksectionitem rendered="{!IF((srId!=null && srID!=''),true,false)}">
                                            <apex:outputLabel value="Last Name" style="align:float-left;"/>
                                            <apex:outputField value="{!srObj.Last_Name__c}" />
                                        </apex:pageblocksectionitem>

                                        <apex:pageblocksectionitem rendered="{!IF((srId==null || srID==''),true,false)}"  >
                                            <apex:outputLabel value="Position" style="align:float-left;"/>
                                            <apex:outputPanel styleClass="requiredInput" layout="block" >
                                                <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                                                <apex:inputField value="{!srObj.Position__c}" />
                                            </apex:outputPanel>
                                        </apex:pageBlockSectionItem>

                                        <apex:pageblocksectionitem rendered="{!IF((srId!=null && srID!=''),true,false)}">
                                            <apex:outputLabel value="Position" style="align:float-left;"/>
                                            <apex:outputField value="{!srObj.Position__c}" /> 
                                        </apex:pageblocksectionitem> 
                                        
                                        <apex:pageblocksectionitem rendered="{!IF((srId==null || srID==''),true,false)}"  >
                                            <apex:outputLabel value="Place of Birth" style="align:float-left;"/>
                                            <apex:outputPanel styleClass="requiredInput" layout="block" >
                                                <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                                                <apex:inputField value="{!srObj.Place_of_Birth__c}" />
                                            </apex:outputPanel>
                                        </apex:pageBlockSectionItem> 

                                        <apex:pageblocksectionitem rendered="{!IF((srId!=null && srID!=''),true,false)}">
                                            <apex:outputLabel value="Place of Birth" style="align:float-left;"/>
                                            <apex:outputField value="{!srObj.Place_of_Birth__c}" />
                                        </apex:pageblocksectionitem>
                                        
                                        <!--  apex:pageblocksectionitem rendered="{!IF((srId==null || srID==''),true,false)}"  >
                                            <apex:outputLabel value="Address Details" style="align:float-left;"/>
                                            <apex:inputField value="{!srObj.Address_Details__c}" />
                                        </apex:pageBlockSectionItem> 

                                        <apex:pageblocksectionitem rendered="{!IF((srId!=null && srID!=''),true,false)}">
                                            <apex:outputLabel value="Address Details" style="align:float-left;"/>
                                            <apex:outputField value="{!srObj.Address_Details__c}" />
                                        </apex:pageblocksectionitem -->
                                        
                                        <apex:pageblocksectionitem rendered="{!IF((srId==null || srID==''),true,false)}"  >
                                            <apex:outputLabel value="PO Box" style="align:float-left;"/>
                                            <apex:inputField value="{!srObj.PO_BOX__c}" />
                                        </apex:pageBlockSectionItem> 

                                        <apex:pageblocksectionitem rendered="{!IF((srId!=null && srID!=''),true,false)}">
                                            <apex:outputLabel value="PO Box" style="align:float-left;"/>
                                            <apex:outputField value="{!srObj.PO_BOX__c}" />
                                        </apex:pageblocksectionitem>
                                        
                                        <apex:pageblocksectionitem rendered="{!IF((srId==null || srID==''),true,false)}"  >
                                            <apex:outputLabel value="Fax" style="align:float-left;"/>
                                            <apex:inputField value="{!srObj.FAX__c}" />
                                        </apex:pageBlockSectionItem> 

                                        <apex:pageblocksectionitem rendered="{!IF((srId!=null && srID!=''),true,false)}">
                                            <apex:outputLabel value="Fax" style="align:float-left;"/>
                                            <apex:outputField value="{!srObj.FAX__c}" />
                                        </apex:pageblocksectionitem>
                                        
                                        <apex:pageblocksectionitem rendered="{!IF((srId==null || srID==''),true,false)}"  >
                                            <apex:outputLabel value="Date of Birth" style="align:float-left;"/>
                                            <apex:outputPanel id="birthDateContainer" styleClass="requiredInput" layout="block" >
                                                <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                                                <apex:inputField id="birthDate" value="{!srObj.Date_of_Birth__c}" />
                                            </apex:outputPanel>
                                        </apex:pageBlockSectionItem> 

                                        <apex:pageblocksectionitem rendered="{!IF((srId!=null && srID!=''),true,false)}">
                                            <apex:outputLabel value="Date of Birth" style="align:float-left;"/>
                                            <apex:outputText value="{!HTMLENCODE(formattedBirthDate)}" />
                                        </apex:pageblocksectionitem>

                                        <apex:pageblocksectionitem rendered="{!IF((srId==null || srID==''),true,false)}"  >
                                            <apex:outputLabel value="Nationality" style="align:float-left;"/>
                                            <apex:outputPanel styleClass="requiredInput" layout="block" >
                                                <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                                                <apex:inputField value="{!srObj.Nationality_list__c}" />
                                            </apex:outputPanel>
                                        </apex:pageBlockSectionItem> 

                                        <apex:pageblocksectionitem rendered="{!IF((srId!=null && srID!=''),true,false)}">
                                            <apex:outputLabel value="Nationality" style="align:float-left;"/>
                                            <apex:outputField value="{!srObj.Nationality_list__c}" />
                                        </apex:pageblocksectionitem>
                                        <apex:pageblocksectionitem rendered="{!IF((srId==null || srID==''),true,false)}">
                                            <apex:outputLabel >I Accept Terms and Conditions</apex:outputLabel>
                                                <apex:outputPanel styleClass="requiredInput" layout="block" >
                                                <div class="requiredInput"><div class="requiredBlock"></div>
                                                    <apex:inputCheckbox value="{!isAcceptedTermsAndConditions}" required="true" title="For Terms and Conditions click on the left side link"/>
                                                </div></apex:outputPanel>
                                            </apex:pageblocksectionitem>
                                            <apex:pageblocksectionitem rendered="{!IF((srId==null || srID==''),true,false)}">
                                                <apex:outputLabel >TRN Number</apex:outputLabel>
                                                <apex:outputPanel styleClass="requiredInput" layout="block" >
                                                <div class="requiredInput"><div class="requiredBlock"></div>
                                                     <apex:inputField value="{!srObj.Tax_Registration_Number_TRN__c}" required="true"/>
                                                </div></apex:outputPanel>
                                            </apex:pageblocksectionitem>
                                  </apex:pageBlockSection>
                                  <apex:pageBlockSection columns="1" rendered="{!IF((srId==null || srID==''),true,false)}">
                                  <apex:pageBlockSection title="Terms and Conditions" columns="1">
                                   <apex:outputPanel layout="block" style="overflow:auto;height:150px">
                                        <div class="panel" style="font-size: 70%;font-style: italic">
                                            <h6>Entity Declaration</h6>
                                            <p>I / We hereby consent on behalf of the abovementioned entity, to submit all and any forms related to and required as part of the Fitout Process by DIFC Investments LLC (“DIFCI”). Electronically on the DIFC Client Portal (“Portal”)</p>
                                            <p>I / We hereby confirm and declare the following on behalf of the abovementioned entity:</p>
                                            <ol>
                                                <li>that any forms lodged on the Portal can be used as if the original form was submitted;</li>
                                                <li>that the original form(s) submitted on the Portal shall be retained by the abovementioned entity as evidence of its authenticity, and that if a question of authenticity arises, the relevant statutory body may require submission of the original form(s);</li>
                                                <li>the individual whose name is mentioned below is authorized to file the applicable form(s) and submit any required document(s) on the Portal on behalf of the abovementioned entity;</li>
                                                <li>the individual whose name is mentioned below will be authorized on our behalf to operate the online wallet on the Portal and deposit, withdraw and authorize the payment of funds from the wallet to DIFCI.</li>
                                            </ol>
                                            <p>I / We understand that it is an offence to provide any information which is false, misleading or deceptive or to conceal information where the concealment of such information is likely to mislead or deceive.</p>
                                            <p>I/We further agree and undertake as follows:</p>
                                            <ol>
                                                <li>our use of the Portal is entirely at our own risk and we agree not to interfere with the Portal’s network or security features or to conduct any activity which would constitute a civil or criminal offence or violate any law;</li>
                                                <li>not to use the portal to conduct any activity that would constitute a civil or criminal offence or violate any law;</li>
                                                <li>to provide accurate information and contact details and to promptly change the same on the Portal as and when necessary;</li>
                                                <li>to assume all responsibility and risk with respect to the use of the Portal, which is provided “as is” without warranties, representations or conditions of any kind, either express or implied, including, without limitation, all content, materials, functions and services available on the Portal;</li>
                                                <li>to assume full responsibility for the use of the Portal and any costs associated with the same and to indemnify DIFCI against all or any damages of any kind related to such use.</li>
                                            </ol>
                                            <p>I declare that I have been appointed as the authorized person to file the applicable forms and submit any required document(s) on the DIFC Client portal on behalf of the abovementioned Entity.</p>
                                            <p><b>Note:</b> Should the Authorized User details disclosed above change, it is the Entity’s obligation to promptly file the appropriate Authorized User Form on behalf of DIFC Client Portal.</p>
                                        </div>
                                        <div align="centre">
                                        </div>
                                        </apex:outputPanel>
                                  </apex:pageBlockSection>
                                  </apex:pageBlockSection>
                            </apex:pageBlock>
                         </apex:outputPanel>
                         <!-- Added my Mudasir for the Fit Out revamp process  -->
                         <apex:outputPanel styleClass="info" id="contractorFilePanel" rendered="{!IF((srId!=null && srID!=''),true,false)}">
                              <apex:pageBlock title="Upload service request documents" id="fileBlock2">
                                  <apex:pageBlockSection columns="1" id="filePanel2">
                                    <apex:pageblocksectionitem id="license2">
                                        <apex:outputLabel value="{!IF(srObj.Company_Type_list__c = 'Fitout Contractor','Contractor','Event Organizer')} License Copy" style="align:float-left;"/>
                                        <apex:inputfile id="file" value="{!contractorLicense.body}" filename="{!contractorLicense.name}" tabIndex="16"/> 
                                    </apex:pageblocksectionitem>
                                    <apex:pageblocksectionitem id="passport2">
                                        <apex:outputLabel value="{!IF(srObj.Company_Type_list__c = 'Fitout Contractor','Contractor','Event Organizer')} Portal user passport copy" style="align:float-left;"/>
                                        <apex:inputfile id="file" value="{!contractorPassport.body}" filename="{!contractorPassport.name}" tabIndex="16"/> 
                                    </apex:pageblocksectionitem>
                                    <apex:pageblocksectionitem id="completionCertificateId" rendered="{!srObj.Company_Type_list__c = 'Fitout Contractor'}">
                                        <apex:outputLabel value="DCD, DEWA and Other Authorities Completion Certificate for the last 2 years" style="align:float-left;"/>
                                        <apex:inputfile id="file" value="{!authoritiesCompletionCertificate.body}" filename="{!authoritiesCompletionCertificate.name}" tabIndex="16"/> 
                                    </apex:pageblocksectionitem>
                                    <apex:pageblocksectionitem id="companyEmployeeListId" rendered="{!srObj.Company_Type_list__c = 'Fitout Contractor'}">
                                        <apex:outputLabel value="Company Employee List from ministry of labour" style="align:float-left;"/>
                                        <apex:inputfile id="file" value="{!companyEmployeeList.body}" filename="{!companyEmployeeList.name}" tabIndex="16"/> 
                                    </apex:pageblocksectionitem>
                                      <!-- Added by Vinod #14668 - Start -->
                                      <apex:pageblocksectionitem id="fbDocumentsapprovedbyauthorities" rendered="{!srObj.Understood_the_purpose_of_notification__c = True}">
                                        <apex:outputLabel value="F&B Documents approved by authorities" style="align:float-left;"/>
                                        <apex:inputfile id="file" value="{!fbDocumentsapprovedbyauthorities.body}" filename="{!fbDocumentsapprovedbyauthorities.name}" tabIndex="16"/> 
                                    </apex:pageblocksectionitem>
                                      <!-- Added by Vinod #14668 - End -->
                                  </apex:pageBlockSection>
                              </apex:pageBlock>
                          </apex:outputPanel> 
                         
                    </div>
                </apex:form>
            </div>
        </div>
    </div>
  </div>
  <div id ="footer">
      <div id ="footer-wrap">
            <c:DIFCPortalFooter ></c:DIFCPortalFooter>      
        </div>
    </div>  
   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>   
    <script src="{!URLFOR($Resource.DIFC_PortalResource, 'DIFC_CommunityResource/js/foundation.min.js')}"></script>      
    
    <script type="text/javascript">
    
        function addYears(selectBox){
            var i;
            for(i = selectbox.options.length - 1 ; i >= 0 ; i--){
                selectbox.remove(i);
            }
        }
    
        function checkFieldValidations(){
            saveContractor();
        }
        
        function checkFileUpload(){
            var hasError = false;
            //Mudasir commented below code lines 

            if(document.getElementById('RORPUserForm:userForm:fileBlock2:filePanel2:passport2:file').files.length == 0 ||
               document.getElementById('RORPUserForm:userForm:fileBlock2:filePanel2:license2:file').files.length == 0 || 
               ({!srObj.Company_Type_list__c == 'Fitout Contractor'} && (document.getElementById('RORPUserForm:userForm:fileBlock2:filePanel2:completionCertificateId:file').files.length == 0 ||
               document.getElementById('RORPUserForm:userForm:fileBlock2:filePanel2:companyEmployeeListId:file').files.length == 0 || 
               isNotValidFile(getFilePathExtension(document.getElementById('RORPUserForm:userForm:fileBlock2:filePanel2:completionCertificateId:file').files[0].name)) || isNotValidFile(getFilePathExtension(document.getElementById('RORPUserForm:userForm:fileBlock2:filePanel2:companyEmployeeListId:file').files[0].name))
               )) ||  
                isNotValidFile(getFilePathExtension(document.getElementById('RORPUserForm:userForm:fileBlock2:filePanel2:passport2:file').files[0].name)) || 
                isNotValidFile(getFilePathExtension(document.getElementById('RORPUserForm:userForm:fileBlock2:filePanel2:license2:file').files[0].name)))
                {
                
                        hasError=true;
                        //alert(isNotValidFile(getFilePathExtension(document.getElementById('RORPUserForm:userForm:fileBlock2:filePanel2:completionCertificateId:file').files[0].name)));
                        if(document.getElementById('RORPUserForm:userForm:fileBlock2:filePanel2:passport2:file').files.length == 0 ||
                        document.getElementById('RORPUserForm:userForm:fileBlock2:filePanel2:license2:file').files.length == 0)
                        {
                            alert('Please upload all necessary documents.');
                        } 
                        else if({!srObj.Company_Type_list__c == 'Fitout Contractor'} && (document.getElementById('RORPUserForm:userForm:fileBlock2:filePanel2:companyEmployeeListId:file').files.length == 0 || document.getElementById('RORPUserForm:userForm:fileBlock2:filePanel2:completionCertificateId:file').files.length == 0))
                        {
                            alert('Please upload all necessary documents.. ');
                        }
                        else if(isNotValidFile(getFilePathExtension(document.getElementById('RORPUserForm:userForm:fileBlock2:filePanel2:passport2:file').files[0].name)) || 
                            isNotValidFile(getFilePathExtension(document.getElementById('RORPUserForm:userForm:fileBlock2:filePanel2:license2:file').files[0].name)))
                        {
                            alert('Please upload only PDF files.');
                        }
                        else if({!srObj.Company_Type_list__c == 'Fitout Contractor'} && (isNotValidFile(getFilePathExtension(document.getElementById('RORPUserForm:userForm:fileBlock2:filePanel2:completionCertificateId:file').files[0].name)) || isNotValidFile(getFilePathExtension(document.getElementById('RORPUserForm:userForm:fileBlock2:filePanel2:companyEmployeeListId:file').files[0].name))))
                        {
                            alert('Please upload only PDF files..');
                        }
                    if(document.getElementById('RORPUserForm:userForm:fileBlock2:filePanel2:passport2:file').files.length == 0 || isNotValidFile(getFilePathExtension(document.getElementById('RORPUserForm:userForm:fileBlock2:filePanel2:passport2:file').files[0].name))){
                        document.getElementById('RORPUserForm:userForm:fileBlock2:filePanel2:passport2:file').value = '';
                    }
                    if(document.getElementById('RORPUserForm:userForm:fileBlock2:filePanel2:license2:file').files.length == 0 || isNotValidFile(getFilePathExtension(document.getElementById('RORPUserForm:userForm:fileBlock2:filePanel2:license2:file').files[0].name))){
                        document.getElementById('RORPUserForm:userForm:fileBlock2:filePanel2:license2:file').value = '';
                    }
                    if(document.getElementById('RORPUserForm:userForm:fileBlock2:filePanel2:companyEmployeeListId:file').files.length == 0 || isNotValidFile(getFilePathExtension(document.getElementById('RORPUserForm:userForm:fileBlock2:filePanel2:companyEmployeeListId:file').files[0].name))){
                        document.getElementById('RORPUserForm:userForm:fileBlock2:filePanel2:companyEmployeeListId:file').value = '';
                    }
                    
                    if(document.getElementById('RORPUserForm:userForm:fileBlock2:filePanel2:completionCertificateId:file').files.length == 0 || isNotValidFile(getFilePathExtension(document.getElementById('RORPUserForm:userForm:fileBlock2:filePanel2:completionCertificateId:file').files[0].name))){
                        document.getElementById('RORPUserForm:userForm:fileBlock2:filePanel2:completionCertificateId:file').value = '';
                    }
                
                }
            
            if(hasError==false){
                submitContractor();
            }
        }
    
        /**
         * Custom Function to check if file extension is a valid file extension
         * @author    Claude Manahan. NSI DMCC
         * @date      17-3-2016
         */ 
        function isNotValidFile(ext){
            //var fileList = ['doc', 'pdf', 'PDF', 'docx', 'gif', 'png', 'jpeg', 'jpg'];
            var fileList = ['pdf', 'PDF'];
            return fileList.indexOf(ext) == -1;
        }
        
        /**
         * Custom Function to check file extension
         * @author    Claude Manahan. NSI DMCC
         * @date      17-3-2016
         */                
        function getFilePathExtension(path) {
            var filename = path.split('\\').pop().split('/').pop();
            return filename.substr(( Math.max(0, filename.lastIndexOf(".")) || Infinity) + 1);
        } 
        
        /* This will add years to the calendar date picker */
        $(function(){
            var select = document.getElementById('calYearPicker');
            if (!select) return;
            
              select.innerHTML = '';
              var startYear = new Date().getFullYear() - 90;
              var endYear   = new Date().getFullYear();
              for (var year = startYear; year <= endYear; year++) {
                select.options[select.options.length] = new Option(year, year);
              }
            
        });
        
        $(document).foundation();
    </script>   
    
    <c:LiveChat ></c:LiveChat>
</apex:page>