<apex:page docType="html-5.0" applyHtmlTag="false" applyBodyTag="false" standardStylesheets="true" showHeader="false" sidebar="false" id="FormPreview">
	<head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"></meta>
    
        <link rel="shortcut icon" href="{!URLFOR($Resource.DIFC_PortalResource, 'DIFC_CommunityResource/favicon.ico')}" type="image/x-icon"/>
        <link rel="icon" href="{!URLFOR($Resource.DIFC_PortalResource, 'DIFC_CommunityResource/favicon.ico')}" type="image/x-icon"/>

        <apex:stylesheet value="{!URLFOR($Resource.difc_portal, 'DIFC_CommunityResource/css/difc.min.css')}"/>
        <apex:stylesheet value="{!URLFOR($Resource.DIFC_PortalResource, 'DIFC_CommunityResource/css/ie.css')}"/>
     
        <!--[if (gte IE 9)|!(IE)]><!-->
            <link rel="stylesheet" type="text/css" href="{!URLFOR($Resource.DIFC_PortalResource, 'DIFC_CommunityResource/css/responsive.css')}"></link>
        <!--<![endif]-->

        <style>
            .main-content {margin: 0 auto;}
            .errMsg{color:red;}
            body input.btn{            
                margin-left: 500px;
            }        
            .difc-logo img {height: 55px;}
            @media (max-width: 980px){
                nav.top-bar ul {
                    padding: 0 6px;
                }
            }
            .top-nav.news ul.mobile-logo, .top-nav.dashboard ul.mobile-logo {
                padding: 0px;
                margin: 0 10px !important;
            } 
            .top-bar-section ul li > a {font-family: inherit;}  
            footer small {font-style: italic;}    
            html .brandSecondaryBrd {
                border-top-color: #00205B !important;
                border-bottom: 1px solid #eaeaea;
                border-left: 1px solid #eaeaea;
                border-right: 1px solid #eaeaea;
            }
            nav.top-nav .top-bar-section ul.right li, nav.top-nav .top-bar-section ul.right li a{            
                font-size: 14px !important;
                background: rgba(0, 0, 0, 0);            
            }
            i.icon-phone-white{            
                background: url("{!URLFOR($Resource.DIFC_PortalResource, 'DIFC_CommunityResource/images/icon-phone-small-white.png')}") no-repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
                width: 20px !important;
            }
            nav.top-nav .top-bar-section ul li .icon-phone-white{            
                background-position: left 3px !important;
            }
            .top-bar-section li:not(.has-form) a:not(.button){
                background: none !important;
                padding: 0 15px !important;
                line-height: 45px;
  
            }
            .top-bar-section i.icon{            
                float: none !important;
                line-height: 45px;
            }
            .top-bar.top-nav ul, .top-bar.top-nav ul li{                
                line-height: 65px;
                font-size: 12px;
            }
            .top-bar-section li.call-centre{margin-right: 0 !important; background: transparent;}           
            body .apexp .bPageBlock.apexDefaultPageBlock .pbHeader {           
                border-bottom: 0px !important;   
            }
            table.multiSelectPicklistTable tbody tr:first-of-type{
                display:none;
            }
            tr.multiSelectPicklistRow select{           
                height:70px;
                width:160px;
            }
            input[type=file]{ width: 400px;}
            
            .dataCol {
                padding-top: 7px !important;
            }
            
        </style>
	</head>
	<body>
		<div class="login">
            <nav class="row full-width top-bar top-nav dashboard">
                <ul class="mobile-logo left">
                    <li class="difc-logo">
                        <a target="_blank" href="http://www.difc.ae">
                            <img src="{!URLFOR($Resource.DIFC_PortalResource, 'DIFC_CommunityResource/images/DIFC_white_logo.png')}"/>
                        </a>
                    </li>
                </ul>
                <section class="top-bar-section">
                    <ul class="left hide-for-small-only hide-for-medium-only">
                            <li class="call-centre" style="margin-left: 10px;">
                            <i class="icon icon-return-back left"></i>
                            <a href="{!$Site.Prefix}/signin" style="line-height: 65px;padding-left: 0 !important;font-size: 1rem;">Go Back to Login</a>
                        </li>
                    </ul>    
                    <ul class="title-area right">
                        <li class="toggle-topbar"><a href="#"></a></li>
                    </ul>
                    <ul class="right">
                        <li class="call-centre">
                            <a href="tel:+97143622222">
                                <i class="icon icon-phone-white"></i>
                                Call Centre: +971 4 362 2222
                            </a>
                        </li>
                    </ul>
                </section>
            </nav>    
            <div class="row full-width top-bar primary-nav hide-for-small hide-for-small"></div>
     		<div class="row large-12 columns">
     			<br/>
     			<h4> Form submitted successfully!</h4>
        		<p> 
        			Your request has been submitted.
        			<!-- <span id='loading-line'> Please wait while the document is being processed. <img id='loading--img' src="/img/loading32.gif" title="/img/loading32.gif" /> </span> <br/>
        			<span id='reload-line' style="visibility: hidden"> Something went wrong while your document is being processed. Please <a id="reload-link" href="#" style="text-decoration: underline" >reload</a> the page to try again.</span>  -->
        		</p>        		
     		</div>
		</div>
		
		<!-- 
		<div id="PreviewDiv" >  
        	
		
			<div id="myModal" class="modal">
			
		
			  	<div class="modal-content">
				  <div class="modal-header">
				    <span class="close">×</span>
				    <h4 style="color: #fff; margin-top: 5px;">Document Preview: Contractor Authorisation</h4>
				  </div>
				  <div id="pdf-preview--content" class="modal-body">
				  </div>
				</div>
			
			</div>
        	
		</div> -->
		
	</body>
</apex:page>