<apex:page controller="OB_ECDocumentsController" tabstyle="Service_Request__c">
    <apex:sectionheader subtitle="Documents to Upload" title="{!ApplicationNumber}"/>
    <apex:form >
        <apex:pageblock >
            <apex:pageblockbuttons location="top">
                <apex:commandbutton value="Back to SR" action="{!ViewSR}"/>
            </apex:pageblockbuttons>
            <apex:pageblocktable value="{!lstApplicationDocuments}" var="doc">
                <apex:column headervalue="Action">
                    <apex:outputLink value="/{!doc.DocumentId}" id="theLink" target="_blank" rendered="{!IF(doc.DocumentId!=NULL,TRUE,FALSE)}">Preview</apex:outputLink>
                </apex:column>
                <apex:column headervalue="Document Name">
                    <apex:outputtext value="{!doc.Name}"/>
                </apex:column>
                <apex:column headervalue="Description">
                    <apex:outputtext value="{!doc.Description}"/>
                </apex:column>
                <apex:column headervalue="Status">
                    <apex:outputtext value="{!doc.Status}"/>
                </apex:column>
                <apex:column headervalue="Stakeholder Name">
                    <apex:outputtext value="{!doc.AmendmentName}"/>
                </apex:column>
            </apex:pageblocktable>
        </apex:pageblock>
    </apex:form>
</apex:page>