<apex:page >
 <!-- This loads the JavaScript file needed to use Lightning Components for Visualforce-->
    <apex:includeLightning />
    <apex:slds />
    <div id="loader" class="slds-spinner" style="display:block;">
        <div id="spinner" class="slds-spinner slds-spinner--large slds-spinner--brand" aria-hidden="false" role="alert">
            <span class="slds-assistive-text">Loading</span>
            <div class="slds-spinner__dot-a"></div>  
            <div class="slds-spinner__dot-b"></div>
        </div> 
    </div>
    <!-- div tag act as locator while calling Lightning.createComponent -->
    <div id="lightning" />
 
    <script>
        var theme = '{!JSENCODE($User.UIThemeDisplayed)}';
        var SRId = "{!JSENCODE($CurrentPage.parameters.Id)}";  
        var stepId = "{!JSENCODE($CurrentPage.parameters.StepId)}";
        console.log('stepId ===>'+stepId);
        console.log('theme===>'+theme);
        theme = 'Theme4d';
        if(theme=='Theme4d' || theme=='Theme4u'){
            console.log('In Lightning ===>');
            $Lightning.use("c:OB_LEX_App", function() {
              //$Lightning.createComponent("HexaBPM:LEX_QuickStepTransition",
              $Lightning.createComponent("c:OB_QuickStepTransition",
              {"recordId1": SRId, "stepId": stepId},
              "lightning",
              function(cmp) {
                  document.getElementById("loader").style.display="none";
                  document.getElementById("spinner").style.display="none";
              });
            });
         }else if(theme=='Theme3'){
            window.top.location.href = 'apex/HexaBPM__QuickStepTransition?Id='+SRId+'&StepId='+stepId;
         }
         
    </script>
</apex:page>