<apex:page controller="GsUpgradeSRCls" tabStyle="Service_Request__c" > <!-- docType="html-5.0" -->
<style type="text/css">
/* This is for the full screen DIV */
.popupBackground {
/* Background color */
    background-color:black;
    opacity: 0.20;
    filter: alpha(opacity = 20);
    /* Dimensions */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 998;
    position: absolute;
}
    
/* This is for the message DIV */
.PopupPanel {
    /* Dimensions */
    left: 50%;
    width: 100px;
    //margin-left: -100px;
    border-radius: 15px
    top: 50%;
    height: 100px;
    margin-top: 200px;
    z-index: 999;
    position: fixed;
}
</style>
<apex:form >
<apex:actionStatus id="pleasewait" stopText="">
	<apex:facet name="start">
    	<div>
        	<div class="popupBackground"></div>
            <div class="PopupPanel">
            	<img src="{!$Resource.LoadingImage}"/>
			</div>
		</div>
	</apex:facet>
</apex:actionStatus>
	<apex:sectionheader title="{!ServiceRequest.Name}" subtitle="Pending Payments for {!ServiceRequest.Portal_Service_Request_Name__c}"/>
	<apex:pageBlock id="thePB">
		<apex:pageMessages />
		<apex:pageBlockSection columns="1">
			<apex:outputPanel layout="block" style="text-align: center;">
				<table class="pricing-table" style="width: 100%;">
	                <tr>
	                    <td>
							<apex:outputlabel value="Available Account Balance : AED " style="font-weight:bold;font-size: 1.10em;"/>
							<apex:outputText value="{0, number, ###,###,###,##0.00}" style="font-weight:bold;font-size: 1.2em;color:{!IF(AvailablePortalBalance >= AmountToCharge ,'green','red')};">
			                    <apex:param value="{!AvailablePortalBalance}"/>
			                    <apex:param value="{!SUBSTITUTE(TEXT(FLOOR(AvailablePortalBalance)), ',', '.' )}" />
			                    <apex:param value="{!SUBSTITUTE(if(RIGHT(TEXT((AvailablePortalBalance * 100)),2)=='0','00',RIGHT(TEXT((AvailablePortalBalance * 100)),2)),'.','0')}" />
			                </apex:outputText>
                		</td>
                	</tr>
                	<tr>
                		<td>
                			<apex:outputlabel value=" AED " style="font-weight:bold;font-size: 1.10em;"/>
                            <apex:outputText value="{0, number, ###,###,###,##0.00}" style="font-weight:bold;font-size: 1.2em;color:red;">
                                <apex:param value="{!AmountToCharge}"/>
                                <apex:param value="{!SUBSTITUTE(TEXT(FLOOR(AmountToCharge)), ',', '.' )}" />
                                <apex:param value="{!SUBSTITUTE(if(RIGHT(TEXT((AmountToCharge * 100)),2)=='0','00',RIGHT(TEXT((AmountToCharge * 100)),2)),'.','0')}" />
                            </apex:outputText>
                            <label style="font-weight:bold;font-size: 1.10em;"> will be charged</label>
                		</td>
                	</tr>
                </table>
			</apex:outputPanel>
		</apex:pageBlockSection>
		<apex:pageBlockSection id="SRPriceItemPB" title="Price Items" columns="1" collapsible="false" rendered="{!PriceItems != null && PriceItems.size > 0}">
            <apex:pageblocktable id="pbt" value="{!PriceItems}" var="PI">
                <apex:column value="{!PI.Name}"/>
                <apex:column headervalue="Price in AED" value="{!PI.Price__c}"/>
				<apex:column headervalue="Price in USD" value="{!PI.Price_in_USD__c}"/>
                <apex:column headervalue="Product" value="{!PI.Product__r.Name}"/>
                <apex:column headervalue="Pricing Line" value="{!PI.Pricing_Line__r.Name}"/>
                <apex:column value="{!PI.Status__c}"/>
            </apex:pageblocktable>
        </apex:pageBlockSection>
		<apex:pageBlockButtons >
			<apex:commandButton value="Confirm" action="{!ConfirmPayment}" status="pleasewait" rerender="thePB"/>
			<apex:commandButton value="Cancel" action="{!CancelPayment}" status="pleasewait" rerender="thePB"/>
		</apex:pageBlockButtons>
	</apex:pageBlock>

</apex:form>
</apex:page>