<apex:page controller="PortalForgotPassword" standardStylesheets="false" sidebar="false" showHeader="false" >
<link rel="stylesheet" type="text/css" href="https://portal.difc.ae/css/sfdc_210.css" />
<style type="text/css">
html{visibility: hidden;}a{color:#0070d2;}body{background-color:#D1D3D3;}#content,.container{background-color:#ffffff;}#header{color:#141B4D;}#header,#footer{color:#000000;}
.primary,.primary:hover,.primary:focus{background-color:#00A3E0;}.primary{color:#FFFFFF;}.primary{border:#00A3E0;}.verifyform{padding-top:20px;}
.askAdmin,.userNameMessage{padding-top:10px;}.hiddenlink{display:none;} </style><style type="text/css"> html { visibility: hidden; } </style>

<script type="text/javascript">if (self == top) {document.documentElement.style.visibility = 'visible';} else {document.write = ''; top.location = self.location; setTimeout(function(){document.body.innerHTML='';}, 1);window.self.onload=function(evt){document.body.innerHTML='';};}</script><script type="text/javascript">function setFocusOnLoad() {    if(document.forgotPassword != null && document.forgotPassword.un != null) {        document.forgotPassword.un.focus();    } else if(document.answerForm != null && document.answerForm.answer!= null) {        document.answerForm.answer.focus();    }}function checkCaps( e ) {    var key = 0;    var shifted = false;    if ( document.all ) {        key = e.keyCode;    } else {        key = e.which;    }    shifted = e.shiftKey;    var pwcaps = document.getElementById('pwcaps');    var upper = (key >= 65 && key <= 90);    var lower = (key >= 97 && key <= 122);    if ( (upper && !shifted) || (lower && shifted) ) {        pwcaps.style.display='block';    } else if ( (lower && !shifted) || (upper && shifted) ) {        pwcaps.style.display='none';   }}</script>

   
   
   <div id="wrap">
   <div id="main">
   <div id="wrapper">
   
   <div id="logo_wrapper" class="standard_logo_wrapper mb24">
   
   <h1 style="height: 100%; display: table-cell; vertical-align: bottom;">
    <img id="logo" class="standard_logo" src="https://portal.difc.ae/servlet/servlet.ImageServer?id=01520000002dT7Y&oid=00D20000000nkZ5&lastMod=1433948948000" alt="DIFC Customer Portal" border="0" name="logo" /></h1>
   </div>
   
   <h2 id="header" class="mb12">New Password</h2>
   
   

   <div id="content">
   
         <apex:form >
            <apex:pageMessages ></apex:pageMessages>
            <apex:outputPanel rendered="{!DataValueisset!=true}">
            
            <p class="username">Please provide your new password</p>
            <input type="hidden" name="locale" value="" />
            
            <div class="verifyform">
                <label for="un" class="label">New Password</label>

                <apex:inputSecret required="true" styleClass="input wide mb12 mt8 username" id="un" value="{!NewPassword}"/>
                
                <label for="un" class="label">Confirm Password</label>


                <apex:inputSecret required="true" styleClass="input wide mb12 mt8 username" id="unc" value="{!NewCPassword}"/>
               
                
                            <apex:commandButton styleClass="button primary fiftyfifty right focus" value="Continue" action="{!NewPasswordSet}"/>
                            

                <a href="/customers/signin" class="secondary button fiftyfifty mb16">Cancel</a>
            </div>
            
            <div id='pwcaps' class='pwcaps' style='display:none'>Caps Lock is on. Please try to log in again and remember that passwords are case-sensitive.</div>


   </apex:outputPanel>    
   
   
    <apex:outputPanel rendered="{!DataValueisset=true}">
    
    <br />
     <a href="/signin" class="button primary fiftyfifty right focus">Return to Login</a>
    
       </apex:outputPanel>
            <br />
            
                        <br />
                                    <br />
       </apex:form>
   
   
   
    
   </div>
   
   </div></div></div><div id="footer">&copy; 2018 www.difc.ae. All rights reserved.</div>
   
   <script>var p=document.getElementById('footer').parentNode;while(p.nodeName.toLowerCase()==='div'){p.style.height='100%';p=p.parentNode;}</script>


<!-- Body events -->
<script type="text/javascript">function bodyOnLoad(){if(window.PreferenceBits){window.PreferenceBits.prototype.csrfToken="null";};}function bodyOnBeforeUnload(){}function bodyOnFocus(){}function bodyOnUnload(){}</script>
</apex:page>