<apex:page controller="PortalForgotUserNamecontroller" standardStylesheets="false" sidebar="false" showHeader="false" title="DIFC : The Leading International Financial Hub  forgot username" >
<link rel="stylesheet" type="text/css" href="https://portal.difc.ae/css/sfdc_210.css" />
<style type="text/css">
html{visibility: hidden;}a{color:#0070d2;}body{background-color:#ffffff;}#content,.container{background-color:#ffffff;}#header{color:#141B4D;}#header,#footer{color:#000000;}
.primary,.primary:hover,.primary:focus{background-color:#00A3E0;}.primary{color:#FFFFFF;}.primary{border:#00A3E0;}.verifyform{padding-top:20px;}
.askAdmin,.userNameMessage{padding-top:10px;}.hiddenlink{display:none;} </style><style type="text/css"> html { visibility: hidden; } </style>

<script type="text/javascript">if (self == top) {document.documentElement.style.visibility = 'visible';} else {document.write = ''; top.location = self.location; setTimeout(function(){document.body.innerHTML='';}, 1);window.self.onload=function(evt){document.body.innerHTML='';};}</script><script type="text/javascript">function setFocusOnLoad() {    if(document.forgotPassword != null && document.forgotPassword.un != null) {        document.forgotPassword.un.focus();    } else if(document.answerForm != null && document.answerForm.answer!= null) {        document.answerForm.answer.focus();    }}function checkCaps( e ) {    var key = 0;    var shifted = false;    if ( document.all ) {        key = e.keyCode;    } else {        key = e.which;    }    shifted = e.shiftKey;    var pwcaps = document.getElementById('pwcaps');    var upper = (key >= 65 && key <= 90);    var lower = (key >= 97 && key <= 122);    if ( (upper && !shifted) || (lower && shifted) ) {        pwcaps.style.display='block';    } else if ( (lower && !shifted) || (upper && shifted) ) {        pwcaps.style.display='none';   }}</script>

   <style>
             
      html, body, #wrapTop{
    height:100%;
}
#wrapTop {
    height:auto;
    min-height:93%;
}
#content2 {
    overflow: hidden;
    padding-bottom: (footer height);
}
#footer { 
    position: relative;
    margin-top: -(footer height); /* Note the negative value */
    height: (footer height);
    clear:both;
} 

#footer-wrap {
    display: block;
    padding: 0px;
    background:#e8ebec;
    padding-left:3px;
   
}
        h2, p{
            font-family:EuclidSquare-Medium !important;
        } 
        
        p{
            font-size: 14px;    
        }

         </style>
   
  <div id="wrapTop">
    <div id="content2">
   
   <div id="wrap">
   <div id="main">
   <div id="wrapper">
   
   <div id="logo_wrapper" class="standard_logo_wrapper mb24">
   
   <h1 style="height:50%; display: table-cell; vertical-align: bottom;">
      <!-- <img id="logo" class="standard_logo" src="https://portal.difc.ae/servlet/servlet.ImageServer?id=01520000002dT7Y&oid=00D20000000nkZ5&lastMod=1433948948000" alt="DIFC Customer Portal" border="0" name="logo" /> -->
      <img style="width: 300px;" src="{!$Resource.OB_DIFCCommunityLogo}" />
      </h1>
      
   </div>
   
   <h2 id="header" class="mb12">Forgot your username?</h2>
   
   
   <div id="content">
   
         <apex:form >
            <apex:pageMessages ></apex:pageMessages>
            <apex:outputPanel rendered="{!DataValueisset!=true}">
            
            <p class="username">
            
           Please enter the email address used to sign up for DIFC portal and we shall send you an email with your registered username (s).
            
            
            </p>
            <input type="hidden" name="locale" value="" />
            
            <div class="verifyform">
                <label for="un" class="label">Email Address</label>

                <apex:inputtext required="true" styleClass="input wide mb12 mt8 username" id="un" value="{!EmailAddress}"/>
                
  
                
                            <apex:commandButton styleClass="button primary fiftyfifty right focus" value="Continue" action="{!RetriveUserName}"/>
                            

                <a href="/signin" class="secondary button fiftyfifty mb16">Cancel</a>
            </div>
            
            
             <div class="verifyform">
             <a href="DIFCForgotPassword">Forgot password?</a>
              </div>
            


   </apex:outputPanel>    
   
   
    <apex:outputPanel rendered="{!DataValueisset=true}">
     <p class="username">
    Your username information has been emailed to your registered email address.
    
    <br />
     <a href="/signin" class="button primary fiftyfifty right focus">Return to Login</a>
    </p>
       </apex:outputPanel>
            <br />
            
                        <br />
                                    <br />
       </apex:form>
   
   
   
    
   </div>
   

   
   </div></div></div><div style="text-align:center;width:100%;">&copy; 2021 www.difc.ae. All rights reserved.</div>
   
   <script>var p=document.getElementById('footer').parentNode;while(p.nodeName.toLowerCase()==='div'){p.style.height='100%';p=p.parentNode;}</script>


<!-- Body events -->
<script type="text/javascript">function bodyOnLoad(){if(window.PreferenceBits){window.PreferenceBits.prototype.csrfToken="null";};}function bodyOnBeforeUnload(){}function bodyOnFocus(){}function bodyOnUnload(){}</script>
<!-- Body events -->
</div></div>
<div id ="footer" style="position:relative;padding:30px 0px 0px 0px;bottom: 0;text-align:left;">
      <div id ="footer-wrap">
            <c:DIFCPortalFooter ></c:DIFCPortalFooter>      
        </div>
    </div>
<c:LiveChat />
</apex:page>