<apex:page controller="OB_PricingLineDeepCloneController" action="{!DeepClone}">
    <apex:form >
        <apex:pageblock >
            <apex:pagemessages id="msg"/>
        </apex:pageblock>
    </apex:form>
</apex:page>