<apex:page standardController="Service_Request__c" extensions="cls_PSA_Deduction_Process"  id="page" tabStyle="Service_Request__c" sidebar="false">
<apex:pageMessages ></apex:pageMessages>
<apex:sectionHeader title="PSA Deduction"/>


 <apex:actionStatus id="actStatusId">
    
     <apex:facet name="start">
          <div style="position: fixed; top: 0; left: 0; right: 0; bottom: 0; opacity: 0.25; z-index: 1000; background-color: black;">
                &nbsp;
            </div>
        <div style="position: fixed; left: 0; top: 0; bottom: 0; right: 0; z-index: 1001; margin: 15% 50%">
        <div style="display: inline-block; padding: 2px; background-color: #fff; width: 125px;">
            <img src="/img/loading.gif" style="float: left; margin: 8px;" />
            <span style="display: inline-block; padding: 10px 0px;">Please wait...</span>
        </div>
         </div>
         </apex:facet>
        </apex:actionStatus>
        
        
        <script>
        
            function ChangeAccountInfo(fieldName,fieldValue,fieldtype)
            {      
            
            if(fieldValue.value!='')
            {
            
            if(fieldtype=='lookup')
             fieldValue= document.getElementById(fieldValue.id+'_lkid');
         
             
            
            Customer_ValueChange(fieldName,fieldValue.value); 
            
            }
            
            }

        
        </script>
        
<apex:form rendered="{!!SRData.Court_Order__c}">
<apex:pageBlock mode="Edit">

<apex:pageBlockButtons location="bottom"  rendered="{!ObjPSADeduction==null}">
<apex:commandButton action="{!SaveRecord}" value="Save"/>
<apex:commandButton action="{!cancel}" value="Cancel"/>
</apex:pageBlockButtons>

  <apex:actionFunction name="Customer_ValueChange" action="{!RecordvalueChange}" immediate="true" reRender="entitydetails,out" status="actStatusId">
   <apex:param name="field_name" value=""/>
   <apex:param name="field_value" value=""/>

    </apex:actionFunction> 
    
<apex:pageBlockSection columns="1" collapsible="false" title="Entity Details" id="entitydetails">
<apex:pageBlockSectionItem >
Service Request <apex:outputLabel value="PSA Deduction"></apex:outputLabel> 
</apex:pageBlockSectionItem>

<apex:inputField required="true" onchange="ChangeAccountInfo('Customer__c',this,'lookup');" id="Customerval" value="{!SRData.Customer__c}"/>

<apex:outputField value="{!SRData.Customer__r.Registration_License_No__c}" />
<apex:outputField value="{!SRData.Customer__r.Index_Card__r.Name}" />
<apex:outputField label="Number of sponsored employees" value="{!SRData.Customer__r.Sponsored_Employee__c}" />
<apex:outputField value="{!SRData.Customer__r.ROC_Status__c}" />

<apex:outputField value="{!SRData.Customer__r.PSA_Deposit__c}" />
<apex:outputField value="{!SRData.Customer__r.Index_Card_Status__c}" />


<apex:outputField label="Total Amount to be deducted" value="{!SRData.Issued_Share_Capital_Membership_Interest__c}" />
<apex:outputField label="PSA Deposit after Deduction" value="{!SRData.Fine_Amount_AED__c}" />


</apex:pageBlockSection>




<apex:pageBlockSection columns="1" collapsible="false" title="Deduction Details">
<p>Please complete the details of each of the Deduction </p>

   <apex:variable var="rowNum" value="{!0}"  />            
 <apex:pageBlockTable value="{!PSADeductionDetail}" var="page" id="table" columnsWidth="8%,8%,8%,8%,8%,8%,8%,8%,8%,,100"> 
 
   <apex:column headerValue="Action" width="80" >
            <apex:commandLink value="Delete" action="{!removingRow}" immediate="true">
              <apex:param value="{!rowNum}" name="index" />
            </apex:commandLink>
            
            <apex:facet name="footer">
                   <apex:commandButton value="Add" action="{!AddRecord}" immediate="true" />
                </apex:facet>
                
            </apex:column>
            
            <apex:column value="{!page.Applicant_Name__c}"/>
             <apex:column value="{!page.Other_Applicant_Name__c}"/>
            <apex:column value="{!page.Description__c}"/>
            <apex:column value="{!page.Service_request_list__c}"/>
            <apex:column value="{!page.Service_Fee__c}"/>
               <apex:column value="{!page.Fines__c}"/>
            <apex:column value="{!page.Description_of_Fines__c}"/>
         
 <apex:column value="{!page.Amount_to_be_Deducted__c}"/>
           
            
          
            
 </apex:pageBlockTable>



</apex:pageBlockSection>

<apex:pageBlockSection title="Add Deduction" rendered="{!ObjPSADeduction!=null}" collapsible="false" columns="1" id="out">
<apex:message />


        
        <apex:inputField required="true" onchange="ChangeAccountInfo('Service_request_list__c',this,'pick');"   value="{!ObjPSADeduction.Service_request_list__c}" />
     
        

        
        <apex:selectList value="{!ObjPSADeduction.Applicant_Name__c}" size="1" label="Applicant Name">
                <apex:selectOptions value="{!ApplicantName}"/>
          </apex:selectList>
        
         <apex:inputField value="{!ObjPSADeduction.Other_Applicant_Name__c}" />
         
        
        <apex:outputField value="{!ObjPSADeduction.Estimated_Service_Fee__c}" />
                
        <apex:inputField required="true" value="{!ObjPSADeduction.Service_Fee__c}" />
        
        <apex:inputField required="{!ObjPSADeduction.Service_Fee__c!=ObjPSADeduction.Estimated_Service_Fee__c}" value="{!ObjPSADeduction.Description__c}" />
        
        
        <apex:inputField value="{!ObjPSADeduction.Fines__c}" />
        <apex:inputField value="{!ObjPSADeduction.Description_of_Fines__c}" />
      <!--  <apex:inputField required="true" value="{!ObjPSADeduction.Total_Amount_to_be_Deducted__c}" /> -->

        
 <apex:pageBlockSectionItem ><apex:outputPanel ></apex:outputPanel>
        <apex:outputPanel >
            <apex:commandButton value="Save"  onClick="this.value='Adding...';this.classList.add('btnDisabled');"   action="{!SaveRow}"/>
            <apex:commandlink value="Cancel" action="{!CancelSaveRow}" immediate="true" />
           </apex:outputPanel>
                       
               </apex:pageBlockSectionItem>
               
               
 
</apex:pageBlockSection>


</apex:pageBlock>

</apex:form>

</apex:page>