<apex:page standardController="Offer_Process__c" extensions="OfferProcessUtility" id="offProcess">  
    <style type="text/css">
        body {background: #F3F3EC; padding-top: 0px}
    </style>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>
  function OpenVfpage(pid){
      var newwindow = window.open('/apex/AddUnitOffer?id='+pid, 'name=_blank','height=500,width=500,left=250,top=100'); 
  newwindow.focus();
 }
 function rerenderblk(){
     assignarea();
     rerenderblk();
     
 }
 function clearbaseRent(){
    document.getElementById('{!$Component.offProcess:frm:pgblk:bas1}').value = '';
    document.getElementById('{!$Component.offProcess:frm:pgblk:bas2}').value = '';
    document.getElementById('{!$Component.offProcess:frm:pgblk:bas3}').value = '';
    document.getElementById('{!$Component.offProcess:frm:pgblk:bas4}').value = '';
    document.getElementById('{!$Component.offProcess:frm:pgblk:bas5}').value = '';
    document.getElementById('{!$Component.offProcess:frm:pgblk:bas6}').value = '';
    document.getElementById('{!$Component.offProcess:frm:pgblk:bas7}').value = '';
 }
 function clearSC(){
    document.getElementById('{!$Component.offProcess:frm:pgblk:sc1}').value = '';
    document.getElementById('{!$Component.offProcess:frm:pgblk:sc2}').value = '';
    document.getElementById('{!$Component.offProcess:frm:pgblk:sc3}').value = '';
    document.getElementById('{!$Component.offProcess:frm:pgblk:sc4}').value = '';
    document.getElementById('{!$Component.offProcess:frm:pgblk:sc5}').value = '';
    document.getElementById('{!$Component.offProcess:frm:pgblk:sc6}').value = '';
    document.getElementById('{!$Component.offProcess:frm:pgblk:sc7}').value = '';
 }
 function clearUtilities(){
    document.getElementById('{!$Component.offProcess:frm:pgblk:u1}').value = '';
    document.getElementById('{!$Component.offProcess:frm:pgblk:u2}').value = '';
    document.getElementById('{!$Component.offProcess:frm:pgblk:u3}').value = '';
    document.getElementById('{!$Component.offProcess:frm:pgblk:u4}').value = '';
    document.getElementById('{!$Component.offProcess:frm:pgblk:u5}').value = '';
    document.getElementById('{!$Component.offProcess:frm:pgblk:u6}').value = '';
    document.getElementById('{!$Component.offProcess:frm:pgblk:u7}').value = '';
 }
 function clearEB(){
    document.getElementById('{!$Component.offProcess:frm:pgblk:eb1}').value = '';
    document.getElementById('{!$Component.offProcess:frm:pgblk:eb2}').value = '';
    document.getElementById('{!$Component.offProcess:frm:pgblk:eb3}').value = '';
    document.getElementById('{!$Component.offProcess:frm:pgblk:eb4}').value = '';
    document.getElementById('{!$Component.offProcess:frm:pgblk:eb5}').value = '';
    document.getElementById('{!$Component.offProcess:frm:pgblk:eb6}').value = '';
    document.getElementById('{!$Component.offProcess:frm:pgblk:eb7}').value = '';
 }
  function FitOutPeriod_JS(Fitouttype)
  {
    //alert(Fitouttype);
    
    if(Fitouttype=='Light F&B')
    document.getElementById('offProcess:frm:pgblk:resultsBlock3:fitoutperiod').value = '90';
    else if(Fitouttype=='High F&B')
    document.getElementById('offProcess:frm:pgblk:resultsBlock3:fitoutperiod').value = '180';
    else
    document.getElementById('offProcess:frm:pgblk:resultsBlock3:fitoutperiod').value = '60';
    
 }
 function assignarea(){
     var areavar = document.getElementById('{!$Component.offProcess:frm:pgblk:offDet:totalarea}').value;
     alert('------'+areavar);
     document.getElementById('offProcess:frm:pgblk:resultsBlock3:leaseablearea').value = 1234;
 }
 
</script>
<script>
function decimalOnly(e){
    var num = e;
    for (n = 0; n < num.length; n++) {
        digit = num.charCodeAt(n) >= 48 && num.charCodeAt(n) <= 57 || num.charCodeAt(n) == 46 || num.charCodeAt(n) == 45;
        if (!digit) {
            alert('Enter Numbers Only');
        }
    }
    if(e.length>3) {
        alert('Please enter only 3 digits');
    }
};  
function todaydate(d){
    var tdate=new Date(d);
    if(tdate < Date.now()){
        alert("Lease Comence date should be greater than today date");
    }
}
</script>
 <apex:form id="frm">
  
  
<apex:sectionHeader title="Offer Detail" id="secHd"/>
 <apex:actionFunction name="rerenderblk" reRender="ut"/>
    <apex:pageBlock mode="edit" id="pgblk">

  <apex:pageMessages id="showmsg"></apex:pageMessages>
    <apex:actionStatus startText="Processing..." id="channelStatus"/>
        <apex:pageBlockButtons >
            <apex:commandButton value="Save" tabindex="1" action="{!saveOfferDetails}" />
            <apex:commandButton value="Cancel" tabindex="100"  onclick="return confirm('Are you sure you want to Cancel ?');" action="{!cancel}"/>
            <!-- <apex:commandButton value="Next" action="{!SendOfferEmail}"/> -->
        </apex:pageBlockButtons>
    <apex:outputPanel layout="block" style="overflow:auto;width:100%;height:auto;" rendered="true">  
        <apex:pageBlockSection id="resultsBlock1" columns="2" Title="Offer Detail" collapsible="false">
            <apex:outputField value="{!op.Name}"/>
            <apex:inputField value="{!op.Lead__c}"/>
            <apex:inputField required="true" value="{!op.PremisesFreeText__c}"/>
           <apex:inputField taborderhint="1" required="true" value="{!op.Status__c}">
               <apex:actionSupport event="onchange" rerender="resultsBlock1,showmsg" status="channelStatus" />
           </apex:inputfield>
         
           <!--   <apex:inputField value="{!op.IsCutomerSelected__c}"/> -->
            
            
               <apex:inputField required="true" value="{!op.HandoverCondition__c }"/>
            <apex:pageBlockSectionItem rendered="{!op.Status__c=='Not Interested'}">
                <apex:outputText value="Reason" />
                <apex:outputpanel layout="block" styleClass="requiredInput">
                    <apex:outputpanel layout="block" styleClass="requiredBlock"></apex:outputpanel>
                    <apex:inputField value="{!op.Reason__c}" />
                </apex:outputpanel>
            </apex:pageBlockSectionItem>
               
            <apex:inputField required="true" value="{!op.LeasingCommencementDate__c}"/>
            <apex:inputField value="{!op.OfferValidityTill__c}"/>
      
            
            <apex:inputField required="true" value="{!op.Retail_Sector_classification__c}"/>
            <apex:inputField required="true" onchange="FitOutPeriod_JS(this.value);"  onfocus="FitOutPeriod_JS(this.value);" value="{!op.Fit_out_type_classification__c}"/> 
            
            <!--  <apex:inputText required="true" id="fitoutperiod" value="{!op.Fit_Out_Period_No__c}" label="Fit Out period" maxlength="3" size=""/> -->
        </apex:pageBlockSection>  
        
        <apex:pageBlockSection columns="1">
         <apex:inputField taborderhint="2" value="{!op.UnitStatus__c}"/>
             </apex:pageBlockSection>  
           
        
        
    </apex:outputPanel>
    <apex:outputPanel layout="block" style="overflow:auto;width:100%;height:auto;" rendered="true" >
        <apex:pageBlockSection id="resultsBlock2" columns="2" title="Lease Details" collapsible="false">
            <apex:inputField required="true" value="{!op.Leasing_Terms_Year__c}" id="leaseyr">
                <apex:actionSupport event="onchange" rerender="rentcalc,showmsg" status="channelStatus" action="{!enableRentDetails}"/>
             </apex:inputField>   
            <apex:inputField required="true" value="{!op.Leasing_Terms_Months__c}" id="leasemon">
                <apex:actionSupport event="onchange" rerender="rentcalc,showmsg" status="channelStatus" action="{!enableRentDetails}"/>
             </apex:inputField>  
        </apex:pageBlockSection>
    </apex:outputPanel>
            <apex:outputPanel rendered="true" id="unitOff">
            
        <apex:pageBlockSection title="Unit Offer Details" collapsible="false" columns="1" id="offDet">
        <apex:outputPanel id="total">
           <table style="width:100%;height:30px;">
               <tr>
                    <th>Total Areas in Sq.ft</th>
                    <th>Total Internal Areas in Sq.ft</th>
                    <th>Total External Areas in Sq.ft</th>
                </tr>
               <tr>
                   
                   <td>
                       <apex:outputText label="Total Areas in Sq.ft:" value="{!op.TotalAreasinSqmt__c }" id="totalarea"/>
                   </td>
                   <td>
                       <apex:outputText label="Total Internal Areas in Sq.ft:" value="{!op.TotalInternalAreasinSqft__c}"/>
                   </td>
                   <td>
                       <apex:outputText label="Total External Areas in Sq.ft:" value="{!op.TotalExternalAreasinSqft__c}"/>
                   </td>
                   
               </tr>
           </table>
           </apex:outputPanel>
            <apex:pageBlockTable id="ut" title="Unit Offer" var="uf" value="{!UnitOfferList}">
           <apex:variable var="rowNumber" value="{!0}"/>
              <apex:column headerValue="No." style="width:20px; text-align:center;" headerClass="centertext">
                <apex:outputText value="{0}" style="text-align:center;">
                  <apex:param value="{!rowNumber}" />
                </apex:outputText>
              </apex:column>
              <apex:column headerValue="Unit Name">
                <apex:inputField required="false"  value="{!uf.Unit__c}">
                    <apex:actionSupport event="onchange" rerender="offDet,rentdet,showmsg" status="channelStatus" action="{!areaCalc}"/>
                </apex:inputfield>
                </apex:column>
                <apex:column headerValue="Building">
                    <apex:outputText value="{!uf.BuildingName__c}"/>
                </apex:column>
                <apex:column headerValue="Unit Square Feet">
                    <apex:outputText value="{!uf.Area__c}" id="area"/>
                </apex:column>
                <apex:column headerValue="Measurement Type">
                    <apex:outputText value="{!uf.MeasurementType__c}"/>
                </apex:column>
                <apex:column headerValue="Unit Usage Type">
                    <apex:outputText value="{!uf.Unit_Usage_Type__c}"/>
                </apex:column>
                <apex:column headerValue="Action" >
                    <apex:commandlink value="Remove" action="{!deleteRow}" reRender="ut,offDet,total,showmsg,rentdet" oncomplete="rerenderblk();">
                     <apex:param name="rowIndex" value="{!rowNumber}"/>
                     </apex:commandlink>
                 <apex:variable var="rowNumber" value="{!rowNumber+1}"/>
             </apex:column> 
            </apex:pageBlockTable>    
            
                 <apex:commandButton value="Add Unit" action="{!addunitRow}" reRender="unitOff,showmsg"/>
        </apex:pageBlockSection>
    </apex:outputPanel>
    <apex:outputPanel layout="block" style="overflow:auto;width:100%;height:auto;" rendered="true" id="rentdet">
        <apex:pageBlockSection id="resultsBlock3" columns="2" title="Rent Details" collapsible="false">
            <apex:inputField required="true" id="fitoutperiod" value="{!op.Fit_Out_Period_No__c}" onkeyup="decimalOnly(this.value);" /> 
            <apex:inputField value="{!op.Rent_Free_Period__c}"/>
            <apex:inputField value="{!op.InternalArea__c}" />
            <apex:inputField value="{!op.ExternalArea__c}" />
            <apex:inputField value="{!op.Area__c}" id="leaseablearea" Label="Total Leasable Area"/>
            <apex:inputField value="{!op.LeasableAreaComments__c}"/>
            <apex:inputField value="{!op.RentType__c}" required="true">
                 <apex:actionSupport event="onchange" rerender="rentcalc,showmsg" status="channelStatus"/>
            </apex:inputField>
            <apex:inputField value="{!op.PaymentTerms__c}" required="true"/>
            <apex:inputField value="{!op.Security_Deposit_in_AED__c}" id="Secamt"/>
            <apex:inputField value="{!op.Marketing_Contribution__c}"/>
            <apex:inputField value="{!op.Turnover_Rent__c}"/>
            <apex:inputField value="{!op.Grand_Opening_Charges__c}"/>
            <apex:inputField value="{!op.Priority__c}"/>
            <apex:inputField value="{!op.Additional_comments__c}"/>
        </apex:pageBlockSection>
    </apex:outputPanel>
    <apex:outputPanel id="rentcalc">
    <table style="width:100%">
        <tr>
            <th style="width:10%">Description</th>
            <th style="width:10%">Action</th>
            <th style="width:12%">1st year</th>
            <th style="width:12%">2nd year</th>
            <th style="width:12%">3rd year</th>
            <th style="width:12%">4th year</th>
            <th style="width:12%">5th year</th>
            <th style="width:10%"><apex:outputPanel rendered="{!op.RentType__c!='Fixed'}">Escalation Type</apex:outputPanel></th>
            <th style="width:10%"><apex:outputPanel rendered="{!op.RentType__c!='Fixed'}">Escalation %</apex:outputPanel></th>
             
        </tr>
        <tr style="display:{!IF(OR(ISBlank(op.RentType__c),op.RentType__c!='Fixed'),"table-row","none")};">
            <td style="width:100px">Base Rent : </td>
            <td style="width:20px" >
                <a href="#" onClick="clearbaseRent();" > Clear </a>
            </td>
            <td>
                <apex:inputfield value="{!op.FirstYearBaseRent__c}" required="true" id="bas1" style="width:60%">
                    <apex:actionSupport event="onchange" rerender="rentcalc,showmsg" status="channelStatus" action="{!rentEscalation}"/>
                </apex:inputField>
            </td>
            <td >
                <apex:inputField value="{!op.SecondYearBaseRent__c}" id="bas2" rendered="{!isSecyear}" style="width:60%">
                    <apex:actionSupport event="onchange" rerender="rentcalc,showmsg" status="channelStatus" action="{!totalVal}"/>
               </apex:inputField>
            </td>
            <td>
                <apex:inputField value="{!op.ThirdyearBaseRent__c}" id="bas3" style="width:60%" rendered="{!isTrdyear}">
                    <apex:actionSupport event="onchange" rerender="rentcalc,showmsg" status="channelStatus" action="{!totalVal}"/>
               </apex:inputField>
            </td>
            <td>
                <apex:inputField value="{!op.FourthYearBaseRent__c}" id="bas4" style="width:60%" rendered="{!isFryear}">
                    <apex:actionSupport event="onchange" rerender="rentcalc,showmsg" status="channelStatus" action="{!totalVal}"/>
               </apex:inputField>
            </td>
            <td>
                <apex:inputField value="{!op.FifthYearBaseRent__c}" id="bas5" style="width:60%" rendered="{!isFifyear}">
                    <apex:actionSupport event="onchange" rerender="rentcalc,showmsg" status="channelStatus" action="{!totalVal}"/>
               </apex:inputField>
            </td>
            <td>
                <apex:selectList size="1" value="{!op.BaseRentEscalationType__c}" id="bas6">
                  <apex:selectOptions value="{!escalationList}"/>
                  <apex:actionSupport event="onchange" rerender="rentcalc,showmsg" status="channelStatus" action="{!rentEscalation}"/>
                </apex:selectList>
            </td>
            <td>
                <apex:inputField value="{!op.BaseRentEscalationPercentage__c}" style="width:60%" id="bas7">
                    <apex:actionSupport event="onchange" rerender="rentcalc,showmsg" status="channelStatus" action="{!rentEscalation}"/>
                </apex:inputField>
            </td>
            
        </tr>
        <tr style="display:{!IF(op.RentType__c!='Fixed',"table-row","none")};">
            <td>Service Charges : </td>
            <td style="width:20px" >
                <a href="#" onClick="clearSC();" > Clear </a>
            </td>
            <td>
                <apex:inputField value="{!op.firstyearServC__c}" style="width:60%" id="sc1">
                    <apex:actionSupport event="onchange" rerender="rentcalc,showmsg" status="channelStatus" action="{!serviceChargeCalc}"/>
                </apex:inputField>
            </td>
            <td>
                <apex:inputField value="{!op.SecondyearServiceCharge__c}" style="width:60%" id="sc2" rendered="{!isSecyear}">
                    <apex:actionSupport event="onchange" rerender="rentcalc" status="channelStatus" action="{!totalVal}"/>
               </apex:inputField>
             </td>
            <td>
                <apex:inputField value="{!op.ThirdyearServiceCharges__c}" style="width:60%" id="sc3" rendered="{!isTrdyear}">
                    <apex:actionSupport event="onchange" rerender="rentcalc" status="channelStatus" action="{!totalVal}"/>
               </apex:inputField>
             </td>
            <td>
                <apex:inputField value="{!op.FourthyearServiceCharges__c}" style="width:60%" id="sc4" rendered="{!isFryear}">
                    <apex:actionSupport event="onchange" rerender="rentcalc" status="channelStatus" action="{!totalVal}"/>
               </apex:inputField>
             </td>
            <td>
                <apex:inputField value="{!op.FifthyearServiceCharges__c}" style="width:60%" id="sc5" rendered="{!isFifyear}">
                <apex:actionSupport event="onchange" rerender="rentcalc" status="channelStatus" action="{!totalVal}"/>
               </apex:inputField>
             </td>
            <!--<td><apex:outputField value="{!op.TotalServiceCharges__c}" style="width:60%"/></td>-->
            <td >
                <apex:selectList size="1" value="{!op.SCEscalationType__c}" id="sc6">
                  <apex:selectOptions value="{!escalationList}"/>
                  <apex:actionSupport event="onchange" rerender="rentcalc,showmsg" status="channelStatus" action="{!serviceChargeCalc}"/>
                </apex:selectList>
            </td>
            <td>
                <apex:inputField value="{!op.SCEscalation__c}" style="width:60%" id="sc7">
                    <apex:actionSupport event="onchange" rerender="rentcalc,showmsg" status="channelStatus" action="{!serviceChargeCalc}"/>
                </apex:inputField>
            </td>
        </tr>
        <tr style="display:{!IF(op.RentType__c!='Fixed',"table-row","none")};">
            <td>Utilities : </td>
            <td style="width:20px" >
                <a href="#" onClick="clearUtilities();" > Clear </a>
            </td>
            <td>
                <apex:inputField value="{!op.X1stYrUtilities__c}" style="width:60%" id="u1">
                     <apex:actionSupport event="onchange" rerender="rentcalc,showmsg" status="channelStatus" action="{!UtilitieChargeCalc}"/>
                </apex:inputField>
            </td>
            <td>
                <apex:inputField value="{!op.X2ndYrUtilities__c}" style="width:60%" id="u2" rendered="{!isSecyear}">
                    <apex:actionSupport event="onchange" rerender="rentcalc,showmsg" status="channelStatus" action="{!totalVal}"/>
               </apex:inputField>
            </td>
            <td>
                <apex:inputField value="{!op.X3rdYrUtilities__c}" style="width:60%" id="u3" rendered="{!isTrdyear}">
                    <apex:actionSupport event="onchange" rerender="rentcalc,showmsg" status="channelStatus" action="{!totalVal}"/>
               </apex:inputField>
            </td>
            <td>
                <apex:inputField value="{!op.X4thYrUtilities__c}" style="width:60%" id="u4" rendered="{!isFryear}">
                    <apex:actionSupport event="onchange" rerender="rentcalc,showmsg" status="channelStatus" action="{!totalVal}"/>
               </apex:inputField>
            </td>
            <td>
                <apex:inputField value="{!op.X5thYrUtilities__c}" style="width:60%" id="u5" rendered="{!isFifyear}">
                    <apex:actionSupport event="onchange" rerender="rentcalc,showmsg" status="channelStatus" action="{!totalVal}"/>
               </apex:inputField>
            </td>
            <td>
                <apex:selectList size="1" value="{!op.UtilitiesEscalationType__c}" id="u6">
                  <apex:selectOptions value="{!escalationList}"/>
                  <apex:actionSupport event="onchange" rerender="rentcalc,showmsg" status="channelStatus" action="{!UtilitieChargeCalc}"/>
                </apex:selectList> 
            </td>
            <td>
                <apex:inputField value="{!op.UtilitiesEscalation__c}" style="width:60%" id="u7">
                    <apex:actionSupport event="onchange" rerender="rentcalc,showmsg" status="channelStatus" action="{!UtilitieChargeCalc}"/>
                </apex:inputField>
            </td>
        </tr>
        <tr style="display:{!IF(AND(NOT(ISNULL(op.TotalExternalAreasinSqft__c)),op.TotalExternalAreasinSqft__c>0,op.RentType__c!='Fixed'),"table-row","none")};">
            <td>External Base Rent : </td>
            <td style="width:20px" >
                <a href="#" onClick="clearEB();" > Clear </a>
            </td>
            <td>
                <apex:inputField value="{!op.X1stYrEBR__c}" style="width:60%" id="ebr1">
                    <apex:actionSupport event="onchange" rerender="rentcalc,showmsg" status="channelStatus" action="{!externalBaseRentCalc}"/>
                </apex:inputField>
            </td>
            <td>
                <apex:inputField value="{!op.X2ndYrEBR__c}" style="width:60%" id="ebr2" rendered="{!isSecyear}">
                    <apex:actionSupport event="onchange" rerender="rentcalc,showmsg" status="channelStatus" action="{!totalVal}"/>
               </apex:inputField>
            </td>
            <td>
                <apex:inputField value="{!op.X3rdYrEBR__c}" style="width:60%" id="ebr3" rendered="{!isTrdyear}">
                    <apex:actionSupport event="onchange" rerender="rentcalc,showmsg" status="channelStatus" action="{!totalVal}"/>
               </apex:inputField>
            </td>
            <td>
                <apex:inputField value="{!op.X4thYrEBR__c}" style="width:60%" id="ebr4" rendered="{!isFryear}">
                    <apex:actionSupport event="onchange" rerender="rentcalc,showmsg" status="channelStatus" action="{!totalVal}"/>
               </apex:inputField>
            </td>
            <td>
                <apex:inputField value="{!op.X5thYrEBR__c}" style="width:60%" id="ebr5" rendered="{!isFifyear}">
                    <apex:actionSupport event="onchange" rerender="rentcalc,showmsg" status="channelStatus" action="{!totalVal}"/>
               </apex:inputField>
            </td>
            <td>
                <apex:selectList size="1" value="{!op.ExternalBaseRentEscalationType__c}" id="ebr6">
                  <apex:selectOptions value="{!escalationList}"/>
                  <apex:actionSupport event="onchange" rerender="rentcalc,showmsg" status="channelStatus" action="{!rentEscalation}"/>
                </apex:selectList>
            </td>
            <td>
                <apex:inputField value="{!op.ExternalBaseEscalation__c}" style="width:60%" id="ebr7">
                    <apex:actionSupport event="onchange" rerender="rentcalc,showmsg" status="channelStatus" action="{!rentEscalation}"/>
                </apex:inputField>
            </td>
        </tr>
        <tr style="display:{!IF(op.RentType__c=='Fixed',"table-row","none")};">
            <td>Fixed Base Rent : </td>
            <td style="width:20px" >
                <a href="#" onClick="clearEB();" > Clear </a>
            </td>
            <td>
                <apex:inputField value="{!op.FirstYearFixedRent__c}" style="width:60%" id="eb1">
                    <apex:actionSupport event="onchange" rerender="rentcalc,showmsg" status="channelStatus" action="{!externalBaseRentCalc}"/>
                </apex:inputField>
            </td>
            <td>
                <apex:inputField value="{!op.SecondYearFixedRent__c}" style="width:60%" id="eb2" rendered="{!isSecyear}">
                    <apex:actionSupport event="onchange" rerender="rentcalc,showmsg" status="channelStatus" action="{!totalVal}"/>
               </apex:inputField>
            </td>
            <td>
                <apex:inputField value="{!op.ThirdYearFixedRent__c}" style="width:60%" id="eb3" rendered="{!isTrdyear}">
                    <apex:actionSupport event="onchange" rerender="rentcalc,showmsg" status="channelStatus" action="{!totalVal}"/>
               </apex:inputField>
            </td>
            <td>
                <apex:inputField value="{!op.FourthYearFixedRent__c}" style="width:60%" id="eb4" rendered="{!isFryear}">
                    <apex:actionSupport event="onchange" rerender="rentcalc,showmsg" status="channelStatus" action="{!totalVal}"/>
               </apex:inputField>
            </td>
            <td>
                <apex:inputField value="{!op.FifthYearFixedRent__c}" style="width:60%" id="eb5" rendered="{!isFifyear}">
                    <apex:actionSupport event="onchange" rerender="rentcalc,showmsg" status="channelStatus" action="{!totalVal}"/>
               </apex:inputField>
            </td>
            <td>
                <apex:selectList size="1" value="{!op.ExternalBaseRentEscalationType__c}" id="eb6" rendered="{!op.RentType__c!='Fixed'}">
                  <apex:selectOptions value="{!escalationList}"/>
                  <apex:actionSupport event="onchange" rerender="rentcalc,showmsg" status="channelStatus" action="{!rentEscalation}"/>
                </apex:selectList>
            </td>
            <td>
                <apex:inputField value="{!op.ExternalBaseEscalation__c}" style="width:60%" id="eb7" rendered="{!op.RentType__c!='Fixed'}">
                    <apex:actionSupport event="onchange" rerender="rentcalc,showmsg" status="channelStatus" action="{!rentEscalation}"/>
                </apex:inputField>
            </td>
        </tr>
        <tr style="display:{!IF(op.RentType__c=='Fixed',"table-row","none")};">
            <td>Fixed Service Charges : </td>
            <td style="width:20px" >
                <a href="#" onClick="clearEB();" > Clear </a>
            </td>
            <td>
                <apex:inputField value="{!op.FixedRentSR1yr__c}" style="width:60%" id="fs1">
                    <apex:actionSupport event="onchange" rerender="rentcalc,showmsg" status="channelStatus" action="{!externalBaseRentCalc}"/>
                </apex:inputField>
            </td>
            <td>
                <apex:inputField value="{!op.FixedRentSR2yr__c}" style="width:60%" id="fs2" rendered="{!isSecyear}">
                    <apex:actionSupport event="onchange" rerender="rentcalc,showmsg" status="channelStatus" action="{!totalVal}"/>
               </apex:inputField>
            </td>
            <td>
                <apex:inputField value="{!op.FixedRentSR3yr__c}" style="width:60%" id="fs3" rendered="{!isTrdyear}">
                    <apex:actionSupport event="onchange" rerender="rentcalc,showmsg" status="channelStatus" action="{!totalVal}"/>
               </apex:inputField>
            </td>
            <td>
                <apex:inputField value="{!op.FixedRentSR4yr__c}" style="width:60%" id="fs4" rendered="{!isFryear}">
                    <apex:actionSupport event="onchange" rerender="rentcalc,showmsg" status="channelStatus" action="{!totalVal}"/>
               </apex:inputField>
            </td>
            <td>
                <apex:inputField value="{!op.FixedRentSR5yr__c}" style="width:60%" id="fs5" rendered="{!isFifyear}">
                    <apex:actionSupport event="onchange" rerender="rentcalc,showmsg" status="channelStatus" action="{!totalVal}"/>
               </apex:inputField>
            </td>
            <!-- <td><apex:outputField value="{!op.TotalExternalBaseRent__c}" style="width:100%"/></td> --->
            <td>
                <apex:selectList size="1" value="{!op.ExternalBaseRentEscalationType__c}" id="fs6" rendered="{!op.RentType__c!='Fixed'}">
                  <apex:selectOptions value="{!escalationList}"/>
                  <apex:actionSupport event="onchange" rerender="rentcalc,showmsg" status="channelStatus" action="{!rentEscalation}"/>
                </apex:selectList>
            </td>
            <td>
                <apex:inputField value="{!op.ExternalBaseEscalation__c}" style="width:60%" id="fs7" rendered="{!op.RentType__c!='Fixed'}">
                    <apex:actionSupport event="onchange" rerender="rentcalc,showmsg" status="channelStatus" action="{!rentEscalation}"/>
                </apex:inputField>
            </td>
        </tr>
        <tr style="display:{!IF(op.RentType__c=='Fixed',"table-row","none")};">
            <td>Fixed Utilities : </td>
            <td style="width:20px" >
                <a href="#" onClick="clearEB();" > Clear </a>
            </td>
            <td>
                <apex:inputField value="{!op.FixedRentUtilities1yr__c}" style="width:60%" id="fu1">
                    <apex:actionSupport event="onchange" rerender="rentcalc,showmsg" status="channelStatus" action="{!externalBaseRentCalc}"/>
                </apex:inputField>
            </td>
            <td>
                <apex:inputField value="{!op.FixedRentUtilities2yr__c}" style="width:60%" id="fu2" rendered="{!isSecyear}">
                    <apex:actionSupport event="onchange" rerender="rentcalc,showmsg" status="channelStatus" action="{!totalVal}"/>
               </apex:inputField>
            </td>
            <td>
                <apex:inputField value="{!op.FixedRentUtilities3yr__c}" style="width:60%" id="fu3" rendered="{!isTrdyear}">
                    <apex:actionSupport event="onchange" rerender="rentcalc,showmsg" status="channelStatus" action="{!totalVal}"/>
               </apex:inputField>
            </td>
            <td>
                <apex:inputField value="{!op.FixedRentUtilities4yr__c}" style="width:60%" id="fu4" rendered="{!isFryear}">
                    <apex:actionSupport event="onchange" rerender="rentcalc,showmsg" status="channelStatus" action="{!totalVal}"/>
               </apex:inputField>
            </td>
            <td>
                <apex:inputField value="{!op.FixedRentUtilities5yr__c}" style="width:60%" id="fu5" rendered="{!isFifyear}">
                    <apex:actionSupport event="onchange" rerender="rentcalc,showmsg" status="channelStatus" action="{!totalVal}"/>
               </apex:inputField>
            </td>
            <!-- <td><apex:outputField value="{!op.TotalExternalBaseRent__c}" style="width:100%"/></td> --->
            <td>
                <apex:selectList size="1" value="{!op.ExternalBaseRentEscalationType__c}" id="fu6" rendered="{!op.RentType__c!='Fixed'}">
                  <apex:selectOptions value="{!escalationList}"/>
                  <apex:actionSupport event="onchange" rerender="rentcalc,showmsg" status="channelStatus" action="{!rentEscalation}"/>
                </apex:selectList>
            </td>
            <td>
                <apex:inputField value="{!op.ExternalBaseEscalation__c}" style="width:60%" id="fu7" rendered="{!op.RentType__c!='Fixed'}">
                    <apex:actionSupport event="onchange" rerender="rentcalc,showmsg" status="channelStatus" action="{!rentEscalation}"/>
                </apex:inputField>
            </td>
        </tr>
        <tr style="display:{!IF(op.RentType__c!='Fixed',"table-row","none")};">
            <td>Total in AED: </td>
            <td></td>
            <!-- <td style="width:100px"><apex:outputField value="{!op.TotalBaseRent__c}" style="width:60%"/></td> -->
            <td style="width:100px">
                <apex:outputText value="{0,number,0.00}" style="width:60%">
                    <apex:param value="{!op.TotalBaseRent__c}"/>
                </apex:outputText>
            </td>
            <td>
                <apex:outputText value="{0,number,0.00}" style="{!if(isSecyear==true,'display:block;width:100px','display:None')}">
                    <apex:param value="{!op.TotalSecondYear__c}"/>
                </apex:outputText>
            </td>
            <td>
                <apex:outputText value="{0,number,0.00}" style="{!if(isTrdyear==true,'display:block;width:100px','display:None')}">
                    <apex:param value="{!op.TotalThirdYear__c}"/>
                </apex:outputText>
            </td>
            <td>
                <apex:outputText value="{0,number,0.00}" style="{!if(isFryear==true,'display:block;width:100px','display:None')}">
                    <apex:param value="{!op.TotalFourthYear__c}"/>
                </apex:outputText>
            </td>
            <td>
                <apex:outputText value="{0,number,0.00}" style="{!if(isFifyear==true,'display:block;width:100px','display:None')}">
                    <apex:param value="{!op.TotalFifthYear__c}"/>
                </apex:outputText>
            </td>
        </tr>
    </table>
    <br></br>
    </apex:outputPanel>
    <apex:outputPanel layout="block" style="overflow:auto;width:100%;height:auto;" rendered="true">
        <apex:pageBlockSection id="parking" columns="2" title="Parking Information" collapsible="false">
           <!-- <apex:inputField value="{!op.CarParkReservedUnReserved__c}" label="Car Park"/> 
            <apex:inputField value="{!op.AdditionalParkingBayRent__c}"/>-->
            <!-- <apex:inputField value="{!op.No_ofCarParks__c}" label="No of Reserved Car Parks (Inclusive in Rent)"/> -->    
            <apex:inputField value="{!op.No_of_Un_Reserved_Car_Parks__c}" label="No of Un Reserved Car Parks (Inclusive in Rent)"/>
            <!--<apex:inputField value="{!op.NoofReservedCarParksPaid__c}"/> -->
            <!-- <apex:inputField value="{!op.UnreseverdParkingcost__c}" label="UnReserved Parking Cost   (Per Unit)"/>
            <apex:inputField value="{!op.NoofUnReservedCarParksPaid__c}"/> -->
            <!-- <apex:inputField value="{!op.ReservedParkingCost__c}" label="Reserved Parking Cost   (Per unit)"/> -->
            
            <!--<apex:inputField value="{!op.CarParkRestriction__c}"/>
             <apex:inputField value="{!op.Car_Park_Allotment__c}"/> -->
        </apex:pageBlockSection>
    </apex:outputPanel>
    <apex:outputPanel layout="block" style="overflow:auto;width:100%;height:auto;" rendered="true">
        <apex:pageBlockSection id="others" columns="2" title="Others" collapsible="false">
            <apex:inputField value="{!op.Technical_Requirement__c}"/>
            <apex:inputField value="{!op.AdditionalTerms__c}"/>
        </apex:pageBlockSection>
    </apex:outputPanel>
    </apex:pageBlock> 
    </apex:form>
</apex:page>