<apex:page controller="ROCDetailsOfRegisteredAgent_Cls" id="olPg" sidebar="false" tabstyle="Service_Request__c" > <!-- action="{!CreateAmendments}" -->
    <apex:stylesheet value="{!$Resource.ProcessFlowCSS}" />
    <apex:stylesheet value="{!$Resource.DocumentCSS}/popup/reveal.css"/>
    <apex:includeScript value="{!$Resource.DocumentCSS}/popup/jquery.min.js"/>
    <apex:includeScript value="{!$Resource.DocumentCSS}/popup/jquery.reveal.js"/>
<style>
      form#olPg\:MenuComp\:SideBarComp\:j_id6,
      #DyncPgFlow\:MenuComp{
        
          padding-top:20px;
      /*
          width:21.5%;
          float:left;
          margin-right: 1.5%;
      */
          background-color: #f6f6f6; 
          border-right: 1px solid #cbcbcb;
          box-sizing: border-box;
          
      }
      .dyncPanel .bPageBlock .pbHeader .pbTitle{
          display: none;
      }
      .bPageBlock .pbHeader .pbTitle{
          display: block;
      }
      .oRight{
        vertical-align:top !important;
      }
      .loader {
          position: absolute;
          top: 20%;
          left: 45%; 
          margin-left: -60px; 
          filter: Alpha(Opacity =70);  
          opacity: 0.70;
          -moz-opacity: 0.70;
          z-index: 1000;
      }
      #olPg\:theForm\:thePb .pbHeader table .pbTitle{
        width: auto;
      } 
      
      .wrap-container td {vertical-align: top;}
.noSidebarCell, .sidebarCell .fixed,
      .wrap-container .sidebar {padding: 0;}
.message table td {padding: 0;}
      .message {margin: 8px 0px;} 
      
.apexp .bPageBlock.apexDefaultPageBlock .pbBody input,
      #olPg\:theForm\:thePb\:SharingSection\:SharingPanel{ display: inline-block; }

   
      
      #dvHostingCompanyInfo {height: auto !important; }
/* This is for the full screen DIV */
       .popupBackground {
           /* Background color */
           background-color:black;
           opacity: 0.20;
           filter: alpha(opacity = 20);
        
           /* Dimensions */
           width: 100%;
           height: 100%;
           top: 0;
           left: 0;
           z-index: 998;
           position: absolute;
       }
    
       /* This is for the message DIV */
       .PopupPanel {
           /* Background color */
           /*border: solid 2px #00205B;
           background-color: white;
            */
           /* Dimensions */
           left: 50%;
           width: 100px;
           //margin-left: -100px;
           border-radius: 15px
           top: 50%;
           height: 100px;
           margin-top: 200px;
           z-index: 999;
           position: fixed;
       }
.actionLink {
    color: #015ba7 !important;
    font-weight: normal;
    text-decoration: none;
    vertical-align: top;
}
.pageTitle {
    color: #454a50;
    font-size: 18px;
    font-weight: bold;
    margin-top: 35px;
    margin-bottom: 13px;
}
.pageDescription {
    color: #454a50;
    line-height: 1.5;
    margin-bottom: 13px;
    font-size: 13px;
}
.wrap-container{
    margin-bottom: 0px !important;
}
.oRight{
    padding-bottom: 0px !important;
}

.isa_warning {
    color: #9F6000;
    background-color: #FEEFB3;
    margin: 10px 0px;
    padding-top:10px;
    padding-left:30px;
}

  </style>
    <apex:actionStatus id="pleasewait" stopText="">
        <apex:facet name="start">
            <div>
                <div class="popupBackground"></div>
                <div class="PopupPanel">
                    <img src="{!$Resource.LoadingImage}"/>
                </div>
            </div>
        </apex:facet>
    </apex:actionStatus>
    
    <table class="wrap-container" width="100%">
        <tbody>
            <tr>
                <td class="sidebar sidebarCell sidebarCollapsible" id="sidebarCell" style="{!IF(objSR.External_Status_Name__c == 'Draft','','display:none;')}">
                    <div><!-- style="width:18%;float:left;"-->
                        <apex:outputlabel id="hdnCurrentPageId" value="{!strPageId}" style="display:none;"/>
                        <c:DPFSideBarComponent id="MenuComp" curPageId="{!strPageId}" rerender="MainPnl" status="ActStatus"/>
                    </div>                
                </td>
                <td id="bodyCell" class="oRight">
                    <div>
                        <apex:form id="theForm">
                            <apex:actionfunction name="SaveCurrentAmnd" action="{!SaveAmnd}" rerender="theForm"
                                status="pleasewait" />
                            <apex:inputhidden id="hdnActionId" value="{!strActionId}"/>                            
                            <apex:outputPanel layout="block" styleClass="pageTitle">{!pageTitle}</apex:outputPanel>
                            <apex:outputPanel layout="block" styleClass="pageDescription">{!pageDescription}</apex:outputPanel>
                            <apex:actionfunction name="InvokeAction" action="{!DynamicButtonAction}" status="pleasewait" rerender="theMainPanel"/>
                            <apex:outputpanel id="DyncPnl" styleClass="dyncPanel" rendered="{!objSR.External_Status_Name__c == 'Draft'}">
                                <apex:dynamicComponent componentValue="{!DyncPgMainPB}"/>
                            </apex:outputpanel>
                            <apex:outputpanel layout="block" styleClass="dyncPanel" rendered="{!objSR.External_Status_Name__c != 'Draft'}" style="padding-bottom: 5px;">
                                <apex:commandButton value="Back to Service Request" action="{!BackendSRUpdate}"/>
                            </apex:outputpanel>
                            <apex:actionfunction name="NavigatePage" action="{!goTopage}" status="pleasewait" rerender="hdnCurrentPageId,MenuComp,theForm">
                                <apex:param name="NextPageId" value="" assignTo="{!strNavigatePageId}"/>
                            </apex:actionfunction>
                            
                            <script>
                                var hdnMenu = '{!strHiddenPageIds}';
                                if(hdnMenu!=null && hdnMenu!=''){
                                    var hdnsize = hdnMenu.indexOf(",");
                                    if(hdnsize>-1){
                                        var hdnPgLst = hdnMenu.split(',');
                                        for(i = 0; i < hdnPgLst.length;i++){
                                            if(document.getElementById(hdnPgLst[i])!=null){
                                                document.getElementById(hdnPgLst[i]).style.display = 'none';
                                            }
                                        }
                                    }else{
                                        if(document.getElementById(hdnMenu)!=null)
                                            document.getElementById(hdnMenu).style.display = 'none';
                                    }
                                }
                            </script>
                            <apex:outputPanel layout="block" id="theMainPanel">
                                <apex:pageMessages id="theErr"/>
                               
                                
                               
                                
                              
                                
                                
                                
                                <!-- Added below section as per #185 -->
                                <apex:pageBlock title="Select a Registered Agent" id="thePb" >
                                  
                                    
                                       <table class ="list">
                                        <tr class="headerRow">
                                        <th class="headerRow">Action</th>
                                        <th class="headerRow">Please specify Registered Agent</th>
                                        </tr>
                                        <tr class="headerRow">
                                        <td class="dataRow">
                                              <apex:outputLink style="float:left;text-decoration:none;" rendered="{!objAmnd.Id != null}"  value="/apex/RelationshipDeclaration?Id={!objAmnd.Id}" id="theLink2" styleClass="actionLink" target="_blank">View Declaration</apex:outputLink>                                                                                           
                                        </td>
                                        <td class="dataRow">
                                            <apex:selectList size="1" value="{!SelectedType}" >
                                                    <apex:selectOptions value="{!TypeOptions}"/>
                                                    <apex:actionSupport event="onchange" action="{!GetSelectedAccountsDetail}" status="pleasewait" rerender="ShareholderDetailPnl">
                                                           

                                                        </apex:actionSupport>
                                             </apex:selectList>
                                        </td>
                                        
                                        </tr>
                                       </table>
                                       
                                         
                                            
                                  
                                    
                                  
                                </apex:pageBlock> 
 </apex:outputPanel>   
 <apex:outputpanel id="ShareholderDetailPnl" layout="block">

                                <!--"Add an Individual" screen - Start -->
                                <apex:pageblock id="ShareholderIndDetailPB">
                                    <div style="display:none;" class="reqErrorMsg" id="errorDiv">Error: Invalid Data. <br/>Review all Required
                                        Fields below and provide values for those.</div>

                                    <apex:pageblockbuttons id="ActnBtns" location="bottom">

                                        <apex:commandbutton value="Save" status="pleasewait" id="SaveBtn" onclick="SaveAmndRec();return false;"
                                            rerender="AmndListPnl,msg,BtnPanel,shbcDetailsOutPutPanel,detailTable,SharePanel,ShareholderDetailPnl"
                                        />
                                        <apex:commandbutton value="Cancel" status="pleasewait" id="CanBtn" 
                                            action="{!CancelAmnd}" rerender="AmndListPnl,shbcDetailsOutPutPanel,msg,BtnPanel,detailTable,SharePanel,ShareholderDetailPnl"
                                        />
                                    </apex:pageblockbuttons>
                                    <!--change by danish 21-Nov-17 -->
                                    <apex:pageblocksection id="ShdPBS" title="Details of Registered Agent" >
                                        <!-- condition added by Shabbir-11Nov17 removed strRelType!='UBO' from condition-->

                                     
                                         
                                           <apex:pageBlockSectionItem >
                                            <apex:outputLabel value="Phone #" />
                                                <apex:outputText value="{!accObj.Phone}" />
                                              </apex:pageBlockSectionItem>
                                              
                                               <apex:pageBlockSectionItem >
                                            <apex:outputLabel value="Registered Address" />
                                                <apex:outputText value="{!accObj.Registered_Address__c}" />
                                              </apex:pageBlockSectionItem>
                                              
                                               <apex:pageBlockSectionItem >
                                            <apex:outputLabel value="Company Name" />
                                                <apex:outputText value="{!accObj.Name}" />
                                              </apex:pageBlockSectionItem>
                                              
                                               <apex:pageBlockSectionItem >
                                            <apex:outputLabel value="License Number" />
                                                <apex:outputText value="{!accObj.Active_License__r.Name}" />
                                              </apex:pageBlockSectionItem>

                                      


                                        

                                       



                                        <!-- 
                                            <apex:pageBlockSectionItem rendered="{!IF(strRelType == 'UBO',true,false)}">
                                            </apex:pageBlockSectionItem>                                           
                                             -->
                                        <apex:pageBlockSectionItem >
                                            <apex:outputLabel value="Please enter name of Authorized person" />
                                            <apex:outputPanel styleClass="requiredInput" layout="block">
                                                <apex:outputPanel styleClass="requiredBlock" layout="block" />
                                                <apex:inputField onkeypress="return noenter(event);"  value="{!objAmnd.Given_Name__c}"
                                                    id="InFname_ReqFld" />
                                            </apex:outputpanel>
                                        </apex:pageBlockSectionItem>
                                       
                                       
                                       
                                       
                                    </apex:pageblocksection>
 </apex:pageBlock>  
 </apex:outputPanel>  
                        </apex:form>
                                </div>
                                </td>
                                </tr>
                                </tbody>
                            </table>
                            
                 <script>
                    
                    function DoAction(ButtonSectionId,IgnoreReqFlds){
            document.getElementById('olPg:theForm:hdnActionId').value = ButtonSectionId;
            InvokeAction();
        }
        function Navigate_To_Page(NextPG){
            if(NextPG!=null && NextPG!=''){
                NavigatePage(NextPG);
            }
        }
        
        function SaveAmndRec() {
            var isAllow = ValidatePageReqFlds();
            console.log('isAllow==>' + isAllow);
            if (isAllow == 0) {
                document.getElementById('errorDiv').style.display = 'none';
                SaveCurrentAmnd();
            } else {
                document.getElementById('errorDiv').style.display = '';
            }
        }
        
        function ValidatePageReqFlds() {
            var inputs, index, selects;
            inputs = document.getElementsByTagName('input');
            selects = document.getElementsByTagName('select');
            var retVal = 0;
            for (selIndex = 0; selIndex < selects.length; ++selIndex) {
                var SelElemId = selects[selIndex].id;
                if (document.getElementById(SelElemId) != null && SelElemId.indexOf(
                        '_ReqFld') > -1 && (document.getElementById(SelElemId).value ==
                        null || document.getElementById(SelElemId).value == '')) {
                    retVal = 1;
                    console.log('SelElemId==>' + SelElemId);
                    break;
                }
            }
            if (retVal == 0) {
                for (index = 0; index < inputs.length; ++index) {
                    var ElemId = inputs[index].id;
                    if (document.getElementById(ElemId) != null && ElemId.indexOf(
                            '_ReqFld') > -1) {
                        if (document.getElementById(ElemId).type == 'checkbox') {
                            var chkboxval = document.getElementById(ElemId).checked;
                            if (chkboxval == false || chkboxval == 'false') {
                                retVal = 1;
                                console.log('ElemId==>' + ElemId);
                                break;
                            }
                        } else {
                            if (document.getElementById(ElemId).value == null ||
                                document.getElementById(ElemId).value == '') {
                                retVal = 1;
                                break;
                            }
                        }
                    }
                }
            }
            return retVal;
        }

                  </script>
                                    
                                    
      
</apex:page>