<!--Modification History
----------------------------------------------------------------------------------------
V.No   Date            Updated By          Description
---------------------------------------------------------------------------------------- 
v1.0    24/3/2021       Shikha              #4192 Changed the condition to show operating location for Investment fund and GP
------------------------------------------------------------------------------------------->
<apex:page controller="RocOperatingLocationsAdd_Cls" id="olPg" sidebar="false" tabstyle="Service_Request__c" action="{!CreateAmendments}"> <!-- action="{!CreateAmendments}" -->
    <apex:stylesheet value="{!$Resource.ProcessFlowCSS}" />
    <apex:stylesheet value="{!$Resource.DocumentCSS}/popup/reveal.css"/>
    <apex:includeScript value="{!$Resource.DocumentCSS}/popup/jquery.min.js"/>
    <apex:includeScript value="{!$Resource.DocumentCSS}/popup/jquery.reveal.js"/>
<style>
      form#olPg\:MenuComp\:SideBarComp\:j_id6,
      #DyncPgFlow\:MenuComp{
        
          padding-top:20px;
      /*
          width:21.5%;
          float:left;
          margin-right: 1.5%;
      */
          background-color: #f6f6f6; 
          border-right: 1px solid #cbcbcb;
          box-sizing: border-box;
          
      }
      .dyncPanel .bPageBlock .pbHeader .pbTitle{
          display: none;
      }
      .bPageBlock .pbHeader .pbTitle{
          display: block;
      }
      .oRight{
        vertical-align:top !important;
      }
      .loader {
          position: absolute;
          top: 20%;
          left: 45%; 
          margin-left: -60px; 
          filter: Alpha(Opacity =70);  
          opacity: 0.70;
          -moz-opacity: 0.70;
          z-index: 1000;
      }
      #olPg\:theForm\:thePb .pbHeader table .pbTitle{
        width: auto;
      } 
      
      .wrap-container td {vertical-align: top;}
.noSidebarCell, .sidebarCell .fixed,
      .wrap-container .sidebar {padding: 0;}
.message table td {padding: 0;}
      .message {margin: 8px 0px;} 
      
.apexp .bPageBlock.apexDefaultPageBlock .pbBody input,
      #olPg\:theForm\:thePb\:SharingSection\:SharingPanel{ display: inline-block; }

      .apexp .bPageBlock.apexDefaultPageBlock .pbBody input,
      #olPg\:theForm\:thePb\:selectPanel\:slcType { margin: 0.45714rem 0.45714rem; }
      
      #dvHostingCompanyInfo {height: auto !important; }
/* This is for the full screen DIV */
       .popupBackground {
           /* Background color */
           background-color:black;
           opacity: 0.20;
           filter: alpha(opacity = 20);
        
           /* Dimensions */
           width: 100%;
           height: 100%;
           top: 0;
           left: 0;
           z-index: 998;
           position: absolute;
       }
    
       /* This is for the message DIV */
       .PopupPanel {
           /* Background color */
           /*border: solid 2px #00205B;
           background-color: white;
            */
           /* Dimensions */
           left: 50%;
           width: 100px;
           //margin-left: -100px;
           border-radius: 15px
           top: 50%;
           height: 100px;
           margin-top: 200px;
           z-index: 999;
           position: fixed;
       }
.actionLink {
    color: #015ba7 !important;
    font-weight: normal;
    text-decoration: none;
    vertical-align: top;
}
.pageTitle {
    color: #454a50;
    font-size: 18px;
    font-weight: bold;
    margin-top: 35px;
    margin-bottom: 13px;
}
.pageDescription {
    color: #454a50;
    line-height: 1.5;
    margin-bottom: 13px;
    font-size: 13px;
}
.wrap-container{
    margin-bottom: 0px !important;
}
.oRight{
    padding-bottom: 0px !important;
}

.isa_warning {
    color: #9F6000;
    background-color: #FEEFB3;
    margin: 10px 0px;
    padding-top:10px;
    padding-left:30px;
}

  </style>
    <apex:actionStatus id="pleasewait" stopText="">
        <apex:facet name="start">
            <div>
                <div class="popupBackground"></div>
                <div class="PopupPanel">
                    <img src="{!$Resource.LoadingImage}"/>
                </div>
            </div>
        </apex:facet>
    </apex:actionStatus>
    <table class="wrap-container" width="100%">
        <tbody>
            <tr>
                <td class="sidebar sidebarCell sidebarCollapsible" id="sidebarCell" style="{!IF(objSR.External_Status_Name__c == 'Draft','','display:none;')}">
                    <div><!-- style="width:18%;float:left;"-->
                        <apex:outputlabel id="hdnCurrentPageId" value="{!strPageId}" style="display:none;"/>
                        <c:DPFSideBarComponent id="MenuComp" curPageId="{!strPageId}" rerender="MainPnl" status="ActStatus"/>
                    </div>                
                </td>
                <td id="bodyCell" class="oRight">
                    <div>
                        <apex:form id="theForm">
                            <apex:inputhidden id="hdnActionId" value="{!strActionId}"/>                            
                            <apex:outputPanel layout="block" styleClass="pageTitle">{!pageTitle}</apex:outputPanel>
                            <apex:outputPanel layout="block" styleClass="pageDescription">{!pageDescription}</apex:outputPanel>
                            <apex:actionfunction name="InvokeAction" action="{!DynamicButtonAction}" status="pleasewait" rerender="theMainPanel"/>
                            <apex:outputpanel id="DyncPnl" styleClass="dyncPanel" rendered="{!objSR.External_Status_Name__c == 'Draft'}">
                                <apex:dynamicComponent componentValue="{!DyncPgMainPB}"/>
                            </apex:outputpanel>
                            <apex:outputpanel layout="block" styleClass="dyncPanel" rendered="{!objSR.External_Status_Name__c != 'Draft'}" style="padding-bottom: 5px;">
                                <apex:commandButton value="Back to Service Request" action="{!BackendSRUpdate}"/>
                            </apex:outputpanel>
                            <apex:actionfunction name="NavigatePage" action="{!goTopage}" status="pleasewait" rerender="hdnCurrentPageId,MenuComp,theForm">
                                <apex:param name="NextPageId" value="" assignTo="{!strNavigatePageId}"/>
                            </apex:actionfunction>
                            
                            <!--NEw company law changes Start 5858-->
                            
                <apex:actionFunction name="OtherLocationPanChangedaction" action="{!OtherLocationPanChanged}" rerender="OtherLocationPan" status="pleasewait" immediate="true" >
                                        <apex:param name="typeVal" value="" assignTo="{!ObjAccount.Place_register_and_records_kept__c}"/>
                                    </apex:actionFunction>
                            <!--NEw company law changes End 5858-->     
                            
                            <script>
                                var hdnMenu = '{!strHiddenPageIds}';
                                if(hdnMenu!=null && hdnMenu!=''){
                                    var hdnsize = hdnMenu.indexOf(",");
                                    if(hdnsize>-1){
                                        var hdnPgLst = hdnMenu.split(',');
                                        for(i = 0; i < hdnPgLst.length;i++){
                                            if(document.getElementById(hdnPgLst[i])!=null){
                                                document.getElementById(hdnPgLst[i]).style.display = 'none';
                                            }
                                        }
                                    }else{
                                        if(document.getElementById(hdnMenu)!=null)
                                            document.getElementById(hdnMenu).style.display = 'none';
                                    }
                                }
                            </script>
                            <apex:outputPanel layout="block" id="theMainPanel">
                                <apex:pageMessages id="theErr"/>
                                <apex:pageBlock id="AddressPB" title="The Entity Registered Address " rendered="{!OR(ISBLANK(AddressType),objSR.Record_Type_Name__c != 'Application_of_Registration')}">
                                    <apex:outputPanel layout="block" rendered="{!objSR.Record_Type_Name__c != 'Application_of_Registration'}">
                                        <table><tr>
                                            <td style="min-width: 200px;"><apex:outputLabel value="Current Registered Address"/></td>
                                            <td style="vertical-align: middle;">
                                                <span> 
<!--                                                    <apex:outputtext value="{!ExistingRegisteredAddress}" escape=""/>
                                                    <apex:outputText value="{!ExistingRegisteredAddress}" escape="true"/>  -->
                                                    <apex:outputText value="{!SUBSTITUTE(JSENCODE(ExistingRegisteredAddress),'\n','<br/>')}" escape="false"/>
                                                    <!-- <apex:inputtextarea value="{!ExistingRegisteredAddress}" disabled="true" readonly="true" style="border: 0px;overflow: hidden;background: transparent;resize: none;" rows="10" cols="150"/> -->
                                                </span>
                                            </td>
                                        </tr></table>
                                    </apex:outputPanel>
                                    <apex:pageBlockSection id="MainSection" columns="1" title="Please select the type of change required" collapsible="false">
                                        <apex:outputPanel id="mainPanel" layout="block" style="padding:5px;">
                                            <apex:outputLabel value="Please select "/>&nbsp;
                                            <apex:selectList id="slcType" multiselect="false" size="1" value="{!AddressType}">
                                                <apex:selectOption itemValue="" itemLabel="--None--"/>
                                                <apex:selectOption itemValue="Change Registered Address" itemLabel="Update or add a new location"/>
<!--                                                 <apex:selectOption itemValue="Change any Operating Location" itemLabel="Change any Operating Location"/>
                                                <apex:selectOption itemValue="Change the PO Box" itemLabel="Update the entity P O Box number"/>
                                                <apex:selectOption itemValue="Change the Company Contact Number" itemLabel="Update the entity telephone number"/>-->
                                                <apex:actionSupport event="onchange" action="{!ChangeAddressType}" rerender="theMainPanel" status="pleasewait"/>
                                            </apex:selectList>
                                        </apex:outputPanel> 
                                    </apex:pageBlockSection>
                                </apex:pageBlock>
                                
                                <apex:pageBlock id="POBxPB" title="Update the Entity P O Box Number" rendered="{!AddressType=='Change the PO Box'}">
                                    <apex:pageBlockSection id="POBxSection" columns="1" >
                                        <apex:pageBlockSectionItem >
                                            <apex:outputLabel value="Please enter new PO Box # : " for="txtPOBx"/>
                                            <apex:outputPanel id="PoboxPanel" layout="block">
                                                <div class="requiredInput">
                                                    <div class="requiredBlock" style="height: 20px;margin-top: 5px;left: 0px;"></div>
                                                    <apex:inputText id="txtPOBx" value="{!POBox}" />
                                                </div>  
                                            </apex:outputPanel>
                                        </apex:pageBlockSectionItem>
                                    </apex:pageBlockSection>
                                    <apex:pageBlockButtons id="btnPanel" location="bottom">
<!--                                        <apex:commandButton value="Back" action="{!CancelAddressChange}" rerender="theMainPanel" status="pleasewait" rendered="{!IF(objSR.Record_Type_Name__c == 'Application_of_Registration',false,true)}"/> -->
                                        <apex:commandButton value="Save" action="{!UpdatePOBox}" rerender="theMainPanel" status="pleasewait"/>
                                        <apex:commandButton value="Cancel" action="{!CancelAddressChange}" rerender="theMainPanel" status="pleasewait" rendered="{!IF(objSR.Record_Type_Name__c == 'Application_of_Registration',false,true)}"/>
                                    </apex:pageBlockButtons>
                                </apex:pageBlock>
                                
                                <apex:pageBlock id="ContactNoPB" title="Update the Entity Telephone Number" rendered="{!AddressType=='Change the Company Contact Number'}">
                                    <apex:pageBlockSection id="ContactNoSection" columns="1" >
                                        <apex:pageBlockSectionItem >
                                            <apex:outputLabel value="Please enter new Telephone Number : " for="txtPOBx"/>
                                            <apex:outputPanel id="ContactNoPanel" layout="block">
                                                <div class="requiredInput">
                                                    <div class="requiredBlock" style="height: 20px;margin-top: 5px;left: 0px;"></div>
                                                    <apex:inputText id="txtPOBx" value="{!ContactNumber}" title="format- +971550000000"/>
                                                </div>
                                            </apex:outputPanel>
                                        </apex:pageBlockSectionItem>
                                    </apex:pageBlockSection>
                                    <apex:pageBlockButtons id="btnPanel" location="bottom">
<!--                                        <apex:commandButton value="Back" action="{!CancelAddressChange}" rerender="theMainPanel" status="pleasewait" rendered="{!IF(objSR.Record_Type_Name__c == 'Application_of_Registration',false,true)}"/> -->
                                        <apex:commandButton value="Save" action="{!UpdateContactNumber}" rerender="theMainPanel" status="pleasewait"/>
                                        <apex:commandButton value="Cancel" action="{!CancelAddressChange}" rerender="theMainPanel" status="pleasewait" rendered="{!IF(objSR.Record_Type_Name__c == 'Application_of_Registration',false,true)}"/>
                                    </apex:pageBlockButtons>
                                </apex:pageBlock>
                                
                                <!-- Added as per ticket #3241 - Start -->
                                    <apex:pageBlock title="{!IF(!isGP,'Investment Fund', 'Address')} Details" id="thePbInvFund" rendered="{!AND(objSR.Record_Type_Name__c == 'Application_of_Registration',OR(isInvestmentFundCompany,isGP))}">
                                            
                                        <apex:pageBlockSection columns="1" id="FundManagerPanel">
                                            <apex:outputPanel layout="block" style="padding-top:20px;" rendered="{!!isFundManagerNotExist}">
                                                <apex:outputLabel styleClass="labelCol" value="{!IF(!isGP,'Investment Fund', 'Address')} Details" style="font-size: 13px;"/>
                                            </apex:outputPanel>
                                            <apex:outputPanel layout="block" >
                                                <apex:outputLabel styleClass="labelCol" value="Do you wish to share the registered address and contact details of the Fund Manager?" style="width:300px;float:left;"/>
                                                <apex:outputPanel layout="block" style="float:left;margin-top:15px">
                                                    <div class="requiredInput">
                                                        <div class="requiredBlock" style="left: 0px;"></div>
                                                        <apex:selectList value="{!SelectedInvestmentFundType}" size="1" multiSelect="false" disabled="{!existingOperatingLocation}" >
                                                            <apex:selectOption itemValue="" itemLabel="--None--"/>
                                                            <apex:selectOption itemValue="Yes" itemLabel="Yes"/>
                                                            <apex:selectOption itemValue="No" itemLabel="No"/>
                                                            <apex:actionSupport event="onchange" action="{!populateFundCompanies}" rerender="thePbInvFund" status="pleasewait"/>
                                                        </apex:selectList>
                                                    </div>
                                                </apex:outputPanel>
                                            </apex:outputPanel>
                                                
                                            <apex:pageBlockSection columns="1" rendered="{!SelectedInvestmentFundType != NULL && SelectedInvestmentFundType != '' }" id="FundManagerPanelWrapper">
                                                <!-- ExistingLocations.size > 0 -->
                                                
                                                <apex:outputPanel layout="block" style="padding-top:20px;">
                                                    <apex:outputLabel styleClass="labelCol" value="{!IF(SelectedInvestmentFundType == 'Yes', 'Fund Manager' , 'Fund Administrator') } " style="font-size: 13px;"/>
                                                </apex:outputPanel>
                                                
                                                <apex:outputPanel layout="block" >
                                                    <apex:outputLabel styleClass="labelCol" value="Please select the name of the {!IF(SelectedInvestmentFundType == 'Yes', 'Fund Manager' , 'Fund Administrator')} " style="width:200px;float:left;"/>
                                                    <apex:outputPanel layout="block" style="float:left;margin-top:15px">
                                                        <div class="requiredInput">
                                                            <div class="requiredBlock" style="left: 0px;"></div>
                                                            <apex:selectList value="{!SelectedInvestmentFundCompany}" size="1" multiSelect="false" disabled="{!existingOperatingLocation}" >
                                                                <apex:SelectOptions value="{!InvestmentFundOptions}"/>
                                                                <apex:actionSupport event="onchange" action="{!populateContactDetailsOfFundCompany}" rerender="thePbInvFund,PendingLocations,ExistingLocsPB,thePhPOPB,theMainPanel,ExistingLocsPBC" status="pleasewait"/>
                                                            </apex:selectList>
                                                            
                                                        </div>
                                                        
                                                         </apex:outputPanel>
                                                         <apex:outputPanel layout="block" rendered="{!isGP}" >
                                                        <br /><br /> <br />
                                                        <div class="requiredInput" style=" float: left; margin-left: 5px;">
                                                            <div class="requiredBlock" style="height: 12px;margin-top: 5px;left: -5px;"></div>
                                                        </div>
                                                         <apex:inputField value="{!objSR.Statement_of_Undertaking__c}" id="herebyID"  /> &nbsp;
                                                         <apex:outputLabel value="I hereby confirm that the Fund Manager/Fund Administrator has no objection for the entity to share office" />
                                                        </apex:outputPanel>
                                                    
                                                </apex:outputPanel>
                                                
                                            </apex:pageBlockSection>                                        
                                                
                                                
                                        </apex:pageBlockSection>    
                                                                                        
                                    </apex:pageBlock>
                                <!-- Added as per ticket #3241 - End -->                                
                                
                                <apex:outputPanel layout="block" id="ExistingLocsPB">
                                
                                 <apex:pageBlock title="Registered Phone Number and Po Box" id="thePhPOPB" rendered="{!OR( AND(objSR.Record_Type_Name__c == 'Application_of_Registration', ExistingLocations.size > 0,OR(isInvestmentFundCompany,isGP)), AND(objSR.Record_Type_Name__c == 'Application_of_Registration',NOT(isInvestmentFundCompany),NOT(isGP)) )}"> <!-- modified as per #3241 //  SelectedInvestmentFundType == NULL && SelectedInvestmentFundType == '' -->
                                    <apex:pageBlockSection columns="1" id="PhonePOSection">
                                        <apex:pageBlockSectionItem >                                        
                                            
                                            <apex:outputLabel value="Phone" style="padding-right:10px;width:200px;float:left;" styleClass="labelCol"/>
                                            <apex:outputPanel layout="block">
                                                <div class="requiredInput">
                                                    <div class="requiredBlock" style="height: 20px;margin-top: 5px;left: 0px;"></div>
                                                    <apex:inputField value="{!AmendmentAOR.Phone__c}" label="Phone" html-disabled="disabled" rendered="{!AND(objSR.Record_Type_Name__c == 'Application_of_Registration',OR(isInvestmentFundCompany,isGP))}" />
                                                    <apex:inputField value="{!AmendmentAOR.Phone__c}" label="Phone" rendered="{!AND(objSR.Record_Type_Name__c == 'Application_of_Registration',NOT(isInvestmentFundCompany),NOT(isGP))}" />
                                                </div>
                                            </apex:outputPanel>
                                        </apex:pageBlockSectionItem>
                                        <apex:pageBlockSectionItem >
                                            <apex:outputLabel value="PO Box" style="padding-right:10px;width:200px;float:left;" styleClass="labelCol"/>                                            
                                            <apex:outputPanel id="thePhonePanel" layout="block">
                                                    <div class="requiredInput">
                                                        <div class="requiredBlock" style="height: 20px;margin-top: 5px;left: 0px;"></div>
                                                        
                                                        <apex:inputField value="{!AmendmentAOR.PO_Box__c}" html-disabled="disabled" rendered="{!AND(objSR.Record_Type_Name__c == 'Application_of_Registration',OR(isInvestmentFundCompany,isGP))}"  />
                                                        
                                                        <apex:inputField value="{!AmendmentAOR.PO_Box__c}" rendered="{!AND(objSR.Record_Type_Name__c == 'Application_of_Registration',NOT(isInvestmentFundCompany),NOT(isGP))}" />
                                                        
                                                    </div>
                                                    <div style="width: 100%;">
                                                        (The PO Box should be registered in Dubai. In case you would like to reserve a PO Box in DIFC, please contact gs.helpdesk@difc.ae)
                                                    </div>
                                            </apex:outputPanel>

                                        </apex:pageBlockSectionItem>
                                        
                                          <!-- start New company law changes 5858 -->
                                          
                                          
                                          <apex:pageBlockSectionItem >
                                            <apex:outputLabel value="Location of records and register" style="padding-right:10px;width:200px;float:left;" styleClass="labelCol"/>                                            
                                            <apex:outputPanel id="thePhonePanelregistera" layout="block">
                                                    <div class="requiredInput">
                                                    
                                                      
                                                      <apex:inputField required="true" onchange="OtherLocationPanChangedaction(this.value)" value="{!ObjAccount.Place_register_and_records_kept__c }"/>
                                                      
                                                    </div>
                                                   
                                                  
                                                   <p>
                                                        Records and registers can be maintained at a place other than the registered address of the entity.
                                                                                                           </p>
                                                  
                                                    
                                            </apex:outputPanel>

                                        </apex:pageBlockSectionItem>
                                        
                                        
                                       
                                        
                                        
                                        
                                        <!-- End New company law changes 5858 -->
                                        
                                    </apex:pageBlockSection>
                                </apex:pageBlock>
                                
                                    
                                </apex:outputPanel>
                                    <!-- start New company law changes 5858 -->
                                  <apex:pageBlock id="OtherLocationPan"  >
                                  
                                  
                                 
                                  
                                                    <apex:pageBlockSection title="If Other Location"   rendered="{!if(ObjAccount.Place_register_and_records_kept__c=='Other Location',true,false)}" collapsible="false" columns="2">



                                                    <apex:inputField required="true" value="{!ObjRecordskept.Name_of_the_holder__c}"/>


                                                    <apex:pageBlockSectionItem ></apex:pageBlockSectionItem>
                                                    <apex:inputField required="true"  value="{!ObjRecordskept.Unite_Number__c}"/>
                                                    <apex:inputField required="true"  value="{!ObjRecordskept.Building_Name__c}"/>
                                                    <apex:inputField required="true"  value="{!ObjRecordskept.Street_Address__c}"/>
                                                    <apex:inputField required="true"  value="{!ObjRecordskept.City__c}"/> 
                                                    <apex:inputField required="true"  value="{!ObjRecordskept.State__c}"/> 
                                                    <apex:inputField required="true"  value="{!ObjRecordskept.Country__c}" />




                                                    </apex:pageBlockSection>
                                                    
                                  
                                  </apex:pageBlock>
                                  
                                 <!-- End New company law changes 5858 -->                                                      
                                
                                
                                
                                <!-- Added below section as per #185 -->
                                <!--V1.0--Changes-->
                                <!-- old Condition: AND(OR(AddressType=='Change Registered Address',AddressType=='Change any Operating Location'),objSR.Legal_Structures__c != 'LTD SPC',
                                                                                                        !isInvestmentFundCompany,NOT(isGP))-->
                                <apex:pageBlock title="Add an operating Location" id="thePb" rendered="{!OR(AddressType=='Change Registered Address',AddressType=='Change any Operating Location')}">
                                    <apex:pageBlockSection columns="1" id="selectPanel">
                                        <apex:outputPanel id="thePanel" layout="block">
                                            <apex:outputLabel value="Please specify the location type :" style="padding-right:10px;width:200px;float:left;" styleClass="labelCol"/>
                                            <apex:selectList id="slcType" multiselect="false" size="1" value="{!SelectedType}">
                                                <apex:selectOption itemValue="" itemLabel="--None--"/>
                                                <apex:selectOption itemValue="Purchased" itemLabel="Purchased"/>
                                                <apex:selectOption itemValue="Leased" itemLabel="Leased/Subleased"/>
                                                <apex:selectOption itemValue="Sharing" itemLabel="Sharing"/>
                                                <apex:actionSupport event="onchange" action="{!AddNewOperatingLocation}" rerender="thePb" status="pleasewait"/>
                                            </apex:selectList>
                                        <!-- <apex:commandButton value="Add" style="margin-left:10px;" action="{!AddNewOperatingLocation}" rerender="thePb" status="pleasewait"/> -->
                                        </apex:outputPanel>
                                    </apex:pageBlockSection>
                                    
                                    <apex:pageBlockButtons location="bottom">
                                      
<!--                                         <apex:commandButton value="<< Back" rerender="theMainPanel" action="{!CancelOperatingLocation}" status="pleasewait" rendered="{!IF(objSR.Record_Type_Name__c == 'Application_of_Registration',false,true)}"/> -->
                                        <apex:commandButton value="Save" rendered="{!OR(SelectedType != null && SelectedType != '',objSR.Record_Type_Name__c == 'Application_of_Registration')}" rerender="theMainPanel,thePb,PendingLocations,theErr,thePhPOPB" status="pleasewait" action="{!SaveOperatingLocation}" oncomplete="setScroll();"/>
                                        <apex:commandButton value="Cancel" rendered="{!OR(SelectedType != null && SelectedType != '',objSR.Record_Type_Name__c == 'Application_of_Registration')}" rerender="thePb,thePhPOPB" status="pleasewait" action="{!CancelOperatingLocation}" oncomplete="setScroll();"/>
                                    </apex:pageBlockButtons>
                                    
                                    <apex:pageBlockSection columns="1" rendered="{!SelectedType == 'Purchased'}" id="PurchasedPanel">
                                        <apex:outputPanel layout="block" style="padding-top:20px;">
                                            <apex:outputLabel styleClass="labelCol" value="Property Information : " style="font-size: 13px;"/>
                                        </apex:outputPanel>
                                        <apex:outputPanel layout="block" >
                                            <apex:outputLabel styleClass="labelCol" value="Please select the Building :" style="width:200px;float:left;"/>
                                            <apex:outputPanel layout="block" style="float:left;">
                                                <div class="requiredInput">
                                                    <div class="requiredBlock" style="left: 0px;"></div>
                                                    <apex:selectList value="{!SelectedBuilding}" size="1" multiSelect="false">
                                                        <apex:SelectOptions value="{!Buildings}"/>
                                                        <apex:actionSupport event="onchange" action="{!getUnits}" rerender="PurchasedPanel" status="pleasewait"/>
                                                    </apex:selectList>
                                                </div>
                                            </apex:outputPanel>
                                        </apex:outputPanel>
                                        <apex:outputPanel layout="block">
                                            <apex:outputLabel styleClass="labelCol" value="Please select the Unit :" style="width:200px;float:left;"/>
                                            <apex:outputPanel layout="block" style="float:left;">
                                                <div class="requiredInput">
                                                    <div class="requiredBlock" style="left: 0px;"></div>
                                                    <apex:selectList value="{!SelectedUnit}" disabled="{!ISBLANK(SelectedBuilding)}" size="1" multiSelect="false">
                                                        <apex:SelectOptions value="{!Units}"/>
                                                        <apex:SelectOptions value="{!ExtraUnits}"/>
                                                    </apex:selectList>
                                                </div>
                                            </apex:outputPanel> 
                                        </apex:outputPanel>
                                        <apex:outputPanel layout="block">
                                            <apex:outputLabel value="Select as Registered Address ?" styleClass="labelCol" style="width:200px;float:left;"/>
                                            <apex:inputCheckbox value="{!RegisteredAddress}"/>
                                        </apex:outputPanel>
                                    </apex:pageBlockSection>
                                    
                                    <apex:pageBlockSection columns="1" rendered="{!SelectedType == 'Leased'}" id="leasedProperties">
                                        <apex:outputPanel layout="block" style="padding-top:20px;"> <!-- rendered="{!Tenancies.size > 0}" -->
                                            <apex:outputLabel styleClass="labelCol" value="Leased Property Information : " style="font-size: 13px;"/>
                                        </apex:outputPanel>
                                        <apex:outputPanel layout="block" style="padding-left:30px;" rendered="{!if(AND(Tenancies.size > 0,NOT(haveMultipleLeases)),true,false)}">
                                            <apex:outputLabel >
                                                Please note that your leased/subleased units can be viewed in the table below. If you are unable to view any of your leased/subleased units, please ensure that your lease/sublease agreement is registered with the DIFC Registrar of Real Property.
                                                For more details on lease registration, please email rorp@difc.ae.
                                            </apex:outputLabel>
                                        </apex:outputPanel>
                                      <!--   <apex:outputPanel layout="block" style="padding-top:10px;color:red;padding-left:30px;" rendered="{!Tenancies == null || Tenancies.size == 0}">
                                            No Active leases found
                                        </apex:outputPanel> Commented for 4117-->
                                         <!-- Added As per Tkt # 4117 -->
           <!-- Added As per Tkt # 4842 -->                            

                    

<apex:outputPanel layout="block" style="background-color: #FEEFB3;padding-top:10px;padding-left:30px;padding-bottom:10px;" rendered="{!Tenancies == null || Tenancies.size == 0}">

<b><p><apex:OutputText style="font-size:19px;font-color:red;">&#9888; Information</apex:OutputText></p></b>
<br />

<ul>
Please note that there are no leases/subleases registered under your company name: <br />

<li><b> 

If the leased unit is an Office space located in the Gate Building, Gate Precinct Building, Gate Village, the Exchange Building, or Al Fattan Currency House (Tower 1 and Tower 2), please contact 


<a href="mailto:leasing@difc.ae">leasing@difc.ae</a></b></li>

<li><b>

If the leased unit is a Retail space located in the Gate Building, Gate Precinct Building, Gate Village, the Exchange Building or the Gate Avenue, please contact 

 <a href="mailto:retail@difc.ae"> retail@difc.ae</a></b></li>

<li><b>If the unit leased  is under a third party developer building such as Burj Daman, Central Park, Emirates Financial towers, Index Tower , Liberty House, Limestone House, Park Towers and 
Sky Gardens please contact <a href="mailto:rorp@difc.ae"> rorp@difc.ae</a></b></li>


<br />
You may proceed with this application. Please be advised that delay in registering the lease will delay the approval of this application
</ul>




</apex:outputPanel>
                                        
                                        
                                            
                                        <apex:outputPanel layout="block" style="background-color: #FEEFB3;padding-top:10px;padding-left:30px;padding-bottom:10px;" rendered="{!haveMultipleLeases}">
                                             <b><p><apex:OutputText style="font-size:19px;font-color:red;">&#9888; Information</apex:OutputText></p></b>
                                             <p><apex:OutputText style="font-size:13px;">You have multiple active Leases. Please contact the ROC Help desk inorder to confirm the registered Operating Location </apex:OutputText></p>
                                             <p><apex:OutputText style="font-size:13px;">You may proceeed with this application.</apex:OutputText></p>
                                        </apex:outputPanel>
                                        <!-- End of 4117 -->
                                        <apex:pageBlockTable value="{!Tenancies}" var="t" rendered="{!And(Tenancies.size > 0,NOT(haveMultipleLeases))}">
                                            <apex:column headerValue="Select as Registered Address ?" style="width: 175px;text-align: center;">
                                                <apex:inputCheckbox value="{!t.Checked}" />
                                            </apex:column>
                                            <apex:column headerValue="Unit">
                                                <apex:outputLabel value="{!t.LeasePartner.Unit__r.Name}" />
                                                <!-- <apex:outputLabel value="{!t.Tenancy.Unit__r.Name}" /> -->
                                            </apex:column>
                                            <apex:column headerValue="Parent Unit">
                                                <apex:outputLabel value="{!t.LeasePartner.Unit__r.Parent_Unit__r.Name}" />
                                                <!-- <apex:outputLabel value="{!t.Tenancy.Unit__r.Parent_Unit__r.Name}" /> -->
                                            </apex:column>
                                            <apex:column headerValue="Floor">
                                                <apex:outputLabel value="{!t.LeasePartner.Unit__r.Floor__c}" />
                                               <!-- <apex:outputLabel value="{!t.Tenancy.Unit__r.Floor__c}" /> -->
                                            </apex:column>
                                            <apex:column headerValue="Building Name">
                                                <apex:outputLabel value="{!t.LeasePartner.Unit__r.Building__r.Name}" />
                                                <!-- <apex:outputLabel value="{!t.Tenancy.Unit__r.Building__r.Name}" /> -->
                                            </apex:column>
                                            <apex:column headerValue="Lease Name">
                                                <apex:outputLabel value="{!t.LeasePartner.Lease__r.Name}" />
                                                <!-- <apex:outputLabel value="{!t.Tenancy.Lease__r.Name}" /> -->
                                            </apex:column>
                                        </apex:pageBlockTable>
                                        <!--  Commented on 15th April 
                                        <apex:outputPanel layout="block" style="padding-top:20px;" rendered="{!NOT(Tenancies.size > 0)}">
                                            <apex:outputLabel styleClass="labelCol" value="Property Information : " style="font-size: 13px;"/>
                                        </apex:outputPanel>
                                        <apex:outputPanel layout="block" rendered="{!NOT(Tenancies.size > 0)}">
                                            <apex:outputLabel styleClass="labelCol" value="Please select the Building :" style="width:200px;float:left;"/>
                                            <apex:selectList value="{!SelectedBuilding}" size="1" multiSelect="false">
                                                <apex:SelectOptions value="{!Buildings}"/>
                                                <apex:actionSupport event="onchange" action="{!getUnits}" rerender="leasedProperties" status="pleasewait"/>
                                            </apex:selectList>
                                        </apex:outputPanel>
                                        <apex:outputPanel layout="block" rendered="{!NOT(Tenancies.size > 0)}">
                                            <apex:outputLabel styleClass="labelCol" value="Please select the Unit :" style="width:200px;float:left;"/>
                                            <apex:selectList value="{!SelectedUnit}" disabled="{!ISBLANK(SelectedBuilding)}" size="1" multiSelect="false">
                                                <apex:SelectOptions value="{!Units}"/>
                                            </apex:selectList>
                                        </apex:outputPanel>
                                        <apex:outputPanel layout="block" rendered="{!NOT(Tenancies.size > 0)}">
                                            <apex:outputLabel value="Select as Registered Address ?" styleClass="labelCol" style="width:200px;float:left;"/>
                                            <apex:inputCheckbox value="{!RegisteredAddress}"/>
                                        </apex:outputPanel> -->
                                    </apex:pageBlockSection>
                                    
                                    <apex:pageBlockSection columns="1" rendered="{!SelectedType == 'Sharing'}" id="SharingSection">
                                        <apex:outputPanel id="SharingPanelMain" layout="block">
                                            <apex:outputPanel layout="block" style="padding-left:30px;">
                                                <apex:outputLabel >
                                                    The registered address of the hosting company will be reflected as your registered address. 
                                                    If the hosting company changes its registered address, please ensure that  the address of your entity is updated accordingly. 
                                                </apex:outputLabel>
                                            </apex:outputPanel>
                                            <div id="dvHostingCompanyInfo" class="reveal-modal" style="display:block;top:8%;height: 300px;">
                                                <a class="close-reveal-modal" id="btnCloseReveal">&#215;</a>
                                                <apex:outputpanel layout="block" style="display:block" id="HostingCompanyInfo">
                                                    <div class="hd_div">Search Hosting Company</div>
                                                    <div style="margin-top:20px;"  id="pg">
                                                        <apex:pageBlock id="pbHosting">
                                                            <div style="text-align:left; padding-left: 10px;">
                                                                <apex:outputlabel value="Hosting Company Name :"/>
                                                                <apex:inputText value="{!HostingCompanyName}" id="txtSearchString" onKeyPress="return doHosting(event);"/>
                                                                <input type="button" class="btn" value="Search" id="doSearchBtn" onclick="doSearch();"/> 
<!--                                                                <apex:CommandButton value="Search" id="doSearchBtn" onclick="doSearch();" action="{!SearchHostingCompanies}" rerender="pbHosting" status="pleasewait"/> -->
                                                            </div>
                                                            <div style="height: 235px;overflow: auto;">
                                                                <apex:pageBlockTable value="{!HostingCompanies}" var="company">
                                                                    <apex:column headerValue="Company Name" style="text-align:left;">
                                                                        <a class="actionLink" style="cursor: pointer;" onclick="selectHosting('{!company.CompanyId}','{!company.CompanyName}');">{!company.CompanyName}</a>
                                                                    </apex:column>
                                                                    <apex:column value="{!company.RegistrationNumber}" headerValue="Registration Number" style="width: 20%" />
                                                                </apex:pageBlockTable>
                                                            </div>
                                                            <apex:actionFunction name="SearchHostingCompanies" action="{!SearchHostingCompanies}" rerender="pbHosting" status="pleasewait" oncomplete="setFocus('{!$Component.txtSearchString}');"/>
                                                        </apex:pageBlock>
                                                    </div> 
                                                </apex:outputpanel>
                                            </div>
                                            <a data-reveal-id="dvHostingCompanyInfo" data-animation="fade" style="display:none;">
                                                <input type="button" id="revealBtn" style="display:none;" />
                                            </a>
                                            
                                            <apex:outputPanel id="SharingPanel" layout="block" style="float:left;padding-left:30px;padding-top:20px;">
                                                <apex:outputLabel value="Please select the Hosting company : " style="float:left;" />
                                                <div class="requiredInput" style=" float: left; margin-left: 5px;">
                                                    <div class="requiredBlock" style="height: 20px;margin-top: 5px;left: 0px;"></div>
                                                    <apex:inputText id="txtHostingCompany" value="{!HostingCompanyName}" onKeyPress="return doHosting(event,this);"/>
                                                    <img src="/s.gif" alt="Search Hosting Companies" onclick="openPopup('{!$Component.txtHostingCompany}');" class="lookupIcon" title="Hosting Company Selection (Popup)" onblur="this.className = 'lookupIcon';" onfocus="this.className = 'lookupIconOn';" onmouseout="this.className = 'lookupIcon';this.className = 'lookupIcon';" onmouseover="this.className = 'lookupIconOn';this.className = 'lookupIconOn';"/>
                                                    <apex:inputHidden value="{!HostingCompanyId}" id="hdnHostingId"/>
                                                </div>
                                                 
                                            </apex:outputPanel>
                                    </apex:outputPanel>
                                </apex:pageBlockSection>
                            </apex:pageBlock>
               <apex:outputPanel id="ExistingLocsPBC" layout="Block">             
                           <apex:pageBlock title="Operating Locations" rendered="{!OR(AddressType=='Change Registered Address',AddressType=='Change any Operating Location')}">
                                           
<!--                                        <apex:outputPanel layout="block" rendered="{!objSR.Record_Type_Name__c != 'Application_of_Registration'}">
                                            <table><tr>
                                                <td><apex:outputLabel value="Registered Address"/></td>
                                                <td style="vertical-align: middle;"><span>{!ExistingRegisteredAddress}</span></td>
                                            </tr></table>
                                         </apex:outputPanel> -->
                                        <apex:pageBlockTable value="{!ExistingLocations}" var="location" rendered="{!ExistingLocations.size > 0}">
                                            <apex:column headerValue="Action" style="width:90px;{!IF(location.IsDisable,'background:#ccc;','')}">
                                                <apex:commandLink value="Edit" styleClass="actionLink" action="{!EditRow}" rendered="{!NOT(location.IsRender) && NOT(location.IsDisable) && location.Amendment.Operating_Type__c != 'Sharing' && location.Amendment.Operating_Type__c != 'Corporate Service Provider' && location.Amendment.Operating_Type__c != 'Fund'}" rerender="ExistingLocsPB,ExistingLocsPBC" status="pleasewait">
                                                    <apex:param value="{!location.Index}" name="RowNo" assignTo="{!RowNo}" />
                                                </apex:commandLink>
                                                <apex:outputLabel rendered="{!NOT(location.IsRender) && location.Amendment.Operating_Type__c != 'Fund' && NOT(location.IsDisable) && location.Amendment.Operating_Type__c != 'Sharing' && location.Amendment.Operating_Type__c != 'Corporate Service Provider'}">&nbsp;|&nbsp;</apex:outputLabel>
                                                <apex:commandLink value="Remove" styleClass="actionLink" action="{!inactivateOperatingLocation}" onclick="if(confirm('Are you sure to deactivate the Operating Location ?')==false){return false;}" rendered="{!NOT(location.IsRender) && NOT(location.IsDisable) && location.Amendment.Id != ''}" rerender="ExistingLocsPB,theErr,thePbSPC,FundManagerPanel,ExistingLocsPBC" status="pleasewait">
                                                    <apex:param value="{!location.Index}" name="RowNo" assignTo="{!RowNo}" />
                                                    <apex:param value="{!IF(ExistingLocations.size == 1,'','{!SelectedInvestmentFundType}')}" name="selectedInvestmentFundType" assignTo="{!SelectedInvestmentFundType}" />
                                                    <apex:param value="{!IF(ExistingLocations.size == 1,'','{!SelectedInvestmentFundCompany}')}" name="SelectedInvestmentFundCompany" assignTo="{!SelectedInvestmentFundCompany}" />
                                                </apex:commandLink>
                                                <apex:commandLink value="Save" styleClass="actionLink" action="{!SaveRow}" rendered="{!location.IsRender && location.Amendment.Operating_Type__c != 'Fund' && NOT(location.IsDisable)}" rerender="ExistingLocsPB,theErr,ExistingLocsPBC" status="pleasewait">
                                                    <apex:param value="{!location.Index}" name="RowNo" assignTo="{!RowNo}" />
                                                </apex:commandLink>
                                                <apex:outputLabel rendered="{!location.IsRender && NOT(location.IsDisable)}">&nbsp;|&nbsp;</apex:outputLabel>
                                                <apex:commandLink value="Cancel" styleClass="actionLink" action="{!CancelRow}" rendered="{!location.IsRender && NOT(location.IsDisable)}" rerender="ExistingLocsPB,ExistingLocsPBC" status="pleasewait">
                                                    <apex:param value="{!location.Index}" name="RowNo" assignTo="{!RowNo}" />
                                                </apex:commandLink>
                                            </apex:column>
                                            <apex:column headerValue="Is Registered Address ?" style="{!IF(location.IsDisable,'background:#ccc;','')}">
                                                <apex:inputCheckbox value="{!location.Amendment.IsRegistered__c}" disabled="{!OR(AND(NOT(location.IsRender),location.Amendment.Id != ''),location.Amendment.Operating_Type__c == 'Sharing')}" title="{!IF(NOT(location.IsRender) && NOT(location.IsDisable),'Click edit link to change the registered address.','Is Registered Address ? ')}"/>
                                            </apex:column>
                                            <apex:column headerValue="Unit #" style="{!IF(location.IsDisable,'background:#ccc;','')}">
                                                {!IF(location.Amendment.Operating_Type__c=='Sharing' || location.Amendment.Operating_Type__c=='Corporate Service Provider',location.Amendment.Hosting_Company__r.Office__c,location.Amendment.Unit__r.Name)}
<!--                                                 {!location.Amendment.Unit__r.Name} -->
                                            </apex:column>
                                            <apex:column headerValue="Parent Unit" style="{!IF(location.IsDisable,'background:#ccc;','')}">
                                                {!IF(location.Amendment.Operating_Type__c=='Sharing' || location.Amendment.Operating_Type__c=='Corporate Service Provider','',location.Amendment.Unit__r.Parent_Unit__r.Name)}
<!--                                                 {!location.Amendment.Unit__r.Name} -->
                                            </apex:column>
                                            <apex:column headerValue="Floor" style="{!IF(location.IsDisable,'background:#ccc;','')}">
                                                {!IF(location.Amendment.Operating_Type__c=='Sharing' || location.Amendment.Operating_Type__c=='Corporate Service Provider','',location.FloorDescription)}
                                            </apex:column>
                                            <apex:column headerValue="Building" style="{!IF(location.IsDisable,'background:#ccc;','')}">
                                                {!IF(location.Amendment.Operating_Type__c=='Sharing' || location.Amendment.Operating_Type__c=='Corporate Service Provider',location.Amendment.Hosting_Company__r.Building_Name__c,location.BuildingName)}
                                            </apex:column>
                                            <apex:column headerValue="Area (Sq.ft.)" style="{!IF(location.IsDisable,'background:#ccc;','')}">
                                                {!location.Area}
                                            </apex:column>
                                            <apex:column headerValue="Type" style="{!IF(location.IsDisable,'background:#ccc;','')}">
                                                {!location.Amendment.Operating_Type__c}
                                            </apex:column>
                                            <apex:column headerValue="{!IF(objSR.Legal_Structures__c != 'LTD SPC','Hosting Company','Corporate Service Provider')}" style="{!IF(location.IsDisable,'background:#ccc;','')}">
                                                {!location.Amendment.Hosting_Company__r.Name}
                                            </apex:column>                                            
                                        </apex:pageBlockTable>
                                        
                                        <apex:outputLabel rendered="{!AND(objSR.Record_Type_Name__c != 'Application_of_Registration',ExistingLocations.size == 0)}">
                                            Please select the operating location.
                                        </apex:outputLabel>

                                        <!-- Added as per ticket #3241 - Start -->
                                        <apex:pageBlockButtons location="bottom">
                                            <apex:commandButton value="Save" rendered="{!OR(SelectedInvestmentFundType != null && SelectedInvestmentFundType != '',objSR.Record_Type_Name__c == 'Application_of_Registration') && OR(isInvestmentFundCompany,isGP)}" rerender="theMainPanel,ExistingLocsPB,thePb,PendingLocations,theErr,thePhPOPB,thePbInvFund,ExistingLocsPBC" status="pleasewait" action="{!SaveInvestmentFundOperatingLocation}" oncomplete="setScroll();"/>
                                            <apex:commandButton value="Cancel" rendered="{!OR(SelectedInvestmentFundType != null && SelectedInvestmentFundType != '',objSR.Record_Type_Name__c == 'Application_of_Registration') && OR(isInvestmentFundCompany,isGP)}" rerender="thePbInvFund,thePhPOPB" status="please wait" action="{!CancelOperatingLocation}" oncomplete="setScroll();"/>
                                        </apex:pageBlockButtons>     
                                        <!-- Added as per ticket #3241 - End -->
                                        
                                    </apex:pageBlock>
                        </apex:outputPanel>   
                           
                            <apex:pageBlock title="Add an operating Location" id="thePbSPC" rendered="{!AND(OR(AddressType=='Change Registered Address',AddressType=='Change any Operating Location'),objSR.Legal_Structures__c == 'LTD SPC')}">
                                <apex:pageBlockSection columns="1" id="SPCPbs">
                                    <apex:outputPanel layout="block">
                                        
                                        <div id="dvServiceProvider" class="reveal-modal" style="display:block;top:8%;height: 350px;">
                                            <a class="close-reveal-modal" id="btnSPCCloseReveal">&#215;</a>
                                            <apex:outputpanel layout="block" style="display:block" id="HostingCompanyInfo">
                                                <div class="hd_div">Search Corporate Service Provider</div>
                                                <div style="margin-top:20px;"  id="pg">
                                                    <apex:pageBlock id="pbProvider">
                                                        <div style="text-align:left; padding-left: 10px;">
                                                            <apex:outputlabel value="Corporate Service Provider Name :"/>
                                                            <apex:inputText value="{!CorporateServiceProviderName}" id="txtSPCSearchString" onKeyPress="return doHostingSPC(event);"/>
                                                            <input type="button" class="btn" value="Search" id="doSearchBtn" onclick="doSearchSPC();"/> 
                                                        </div>
                                                        <div style="height: 235px;overflow: auto;">
                                                            <apex:pageBlockTable value="{!HostingCompanies}" var="company">
                                                                <apex:column headerValue="Corporate Service Provider Name" style="text-align:left;">
                                                                    <a class="actionLink" style="cursor: pointer;" onclick="selectHostingSPC('{!company.CompanyId}','{!company.CompanyName}');">{!company.CompanyName}</a>
                                                                </apex:column>
                                                            </apex:pageBlockTable>
                                                        </div>
                                                        <apex:actionFunction name="SearchCorporateProviders" action="{!SearchCorporateProviders}" rerender="pbProvider" status="pleasewait" oncomplete="setFocus('{!$Component.txtSPCSearchString}');"/>
                                                    </apex:pageBlock>
                                                </div> 
                                            </apex:outputpanel>
                                        </div>
                                        <a data-reveal-id="dvServiceProvider" data-animation="fade" style="display:none;">
                                            <input type="button" id="revealBtnSPC" style="display:none;" />
                                        </a>
                                        
                                        <a data-reveal-id="dvServiceProvider" data-animation="fade" style="display:none;">
                                            <input type="button" id="revealSPCBtn" style="display:none;" />
                                        </a>
                                        <apex:outputPanel id="ServiceProvidedPanel" layout="block" style="float:left;">
                                            <apex:outputLabel value="Please select the Corporate Service Provider : " style="float:left;" />
                                            <div class="requiredInput" style=" float: left; margin-left: 5px;">
                                            <div class="requiredBlock" style="height: 20px;margin-top: 5px;left: 0px;"></div>
                                                <apex:inputText id="txtServiceProvider" value="{!CorporateServiceProviderName}" onKeyPress="return doHostingSPC(event,this);"/>
                                                <img src="/s.gif" alt="Search Corporate Service Provider" onclick="openPopupSPC('{!$Component.txtServiceProvider}');" class="lookupIcon" title="Hosting Company Selection (Popup)" onblur="this.className = 'lookupIcon';" onfocus="this.className = 'lookupIconOn';" onmouseout="this.className = 'lookupIcon';this.className = 'lookupIcon';" onmouseover="this.className = 'lookupIconOn';this.className = 'lookupIconOn';"/>
                                                <apex:inputHidden value="{!CorporateServiceProviderId}" id="hdnServiceProviderId"/>
                                            </div>
                                        </apex:outputPanel>
                                    </apex:outputPanel>
                                </apex:pageBlockSection>   
                                
                                <apex:pageBlockButtons location="bottom">
                                    <apex:commandButton value="Save" rerender="theMainPanel" status="pleasewait" action="{!SaveOperatingLocation}" oncomplete="setScroll();"/>
                                    <apex:commandButton value="Cancel" rerender="theMainPanel" status="pleasewait" action="{!CancelOperatingLocation}" oncomplete="setScroll();"/>
                                </apex:pageBlockButtons>
                                                             
                            </apex:pageBlock>
                                                        
                         </apex:outputPanel>    
                        </apex:form>
                    </div>                
                </td>
            
            </tr>
           </tbody>
      </table>
      <script type="text/javascript">
      
      /*
      //New company law changes 5858
      function OnRecordsKept(DDP)
      {

          if(DDP.value=='Other Location')
          document.getElementById('Place_where_register').style.display='block';
          else
          document.getElementById('Place_where_register').style.display='none';
          
          
      }
      function Place_whereCheck()
      {
          if("{!ObjAccount.Place_register_and_records_kept__c}"=="Other Location")
          document.getElementById('Place_where_register').style.display='block';
     
        
      
      }
      Place_whereCheck();
       //end New company law changes 5858
      
      */
      
        function blockEnter(e){
            var code = (e.keyCode ? e.keyCode : e.which);
            if(code == 13) { //Enter keycode
                return false;
            }else {
                return true;
            }
        }       
        document.onkeypress = blockEnter; 
        
        function openPopup(tHId){
            if(document.getElementById('olPg:theForm:thePb:SharingSection:pbHosting:txtSearchString') != null && document.getElementById(tHId) != null){
                document.getElementById('olPg:theForm:thePb:SharingSection:pbHosting:txtSearchString').value = document.getElementById(tHId).value;
            }
            document.getElementById('revealBtn').click();
            doSearch();
        }
        function selectHosting(hci,hcn){
            document.getElementById('btnCloseReveal').click();
            if(document.getElementById('olPg:theForm:thePb:SharingSection:hdnHostingId') != null)
                document.getElementById('olPg:theForm:thePb:SharingSection:hdnHostingId').value = hci;
            if(document.getElementById('olPg:theForm:thePb:SharingSection:pbHosting:txtSearchString') != null && document.getElementById('olPg:theForm:thePb:SharingSection:txtHostingCompany') != null){
                document.getElementById('olPg:theForm:thePb:SharingSection:pbHosting:txtSearchString').value = hcn;
                document.getElementById('olPg:theForm:thePb:SharingSection:txtHostingCompany').value = hcn;
            }
        }
        function doSearch(){
            if(document.getElementById('olPg:theForm:thePb:SharingSection:pbHosting:txtSearchString') != null && document.getElementById('olPg:theForm:thePb:SharingSection:txtHostingCompany') != null){
                document.getElementById('olPg:theForm:thePb:SharingSection:txtHostingCompany').value = document.getElementById('olPg:theForm:thePb:SharingSection:pbHosting:txtSearchString').value;
            }
            SearchHostingCompanies();
        }
        function DoAction(ButtonSectionId,IgnoreReqFlds){
            document.getElementById('olPg:theForm:hdnActionId').value = ButtonSectionId;
            InvokeAction();
        }
        function Navigate_To_Page(NextPG){
            if(NextPG!=null && NextPG!=''){
                NavigatePage(NextPG);
            }
        }
        function doHosting(e,sObj){
            var code = (e.keyCode ? e.keyCode : e.which);
            if(code == 13) { //Enter keycode
                if(sObj != null){
                    if(document.getElementById('olPg:theForm:thePb:SharingSection:pbHosting:txtSearchString') != null && document.getElementById(sObj.id) != null){
                        document.getElementById('olPg:theForm:thePb:SharingSection:pbHosting:txtSearchString').value = document.getElementById(sObj.id).value;
                    }
                    document.getElementById('revealBtn').click();
                    doSearch();
                }
                else{
                    doSearch();
                }   
                return false;
            }
        }
        function setFocus(thisId){
            if(document.getElementById(thisId) != null){
                document.getElementById(thisId).focus();
            }
        }
        function doSearchSPC(){
            if(document.getElementById('olPg:theForm:thePbSPC:SPCPbs:pbProvider:txtSPCSearchString') != null && document.getElementById('olPg:theForm:thePbSPC:SPCPbs:txtServiceProvider') != null){
                document.getElementById('olPg:theForm:thePbSPC:SPCPbs:txtServiceProvider').value = document.getElementById('olPg:theForm:thePbSPC:SPCPbs:pbProvider:txtSPCSearchString').value;
            }
            SearchCorporateProviders();
        }
        function openPopupSPC(tHId){
            if(document.getElementById('olPg:theForm:thePbSPC:SPCPbs:pbProvider:txtSPCSearchString') != null && document.getElementById(tHId) != null){
                document.getElementById('olPg:theForm:thePbSPC:SPCPbs:pbProvider:txtSPCSearchString').value = document.getElementById(tHId).value;
            }
            document.getElementById('revealBtnSPC').click();
            doSearchSPC();
        }
        function doHostingSPC(e,sObj){
            var code = (e.keyCode ? e.keyCode : e.which);
            if(code == 13) { //Enter keycode
                if(sObj != null){
                    if(document.getElementById('olPg:theForm:thePbSPC:SPCPbs:pbProvider:txtSPCSearchString') != null && document.getElementById(sObj.id) != null){
                        document.getElementById('olPg:theForm:thePbSPC:SPCPbs:pbProvider:txtSPCSearchString').value = document.getElementById(sObj.id).value;
                    }
                    document.getElementById('revealBtnSPC').click();
                    doSearchSPC();
                }
                else{
                    doSearchSPC();
                }   
                return false;
            }
        }
        function selectHostingSPC(hci,hcn){
            document.getElementById('btnSPCCloseReveal').click();
            if(document.getElementById('olPg:theForm:thePbSPC:SPCPbs:hdnServiceProviderId') != null)
                document.getElementById('olPg:theForm:thePbSPC:SPCPbs:hdnServiceProviderId').value = hci;
            if(document.getElementById('olPg:theForm:thePbSPC:SPCPbs:pbProvider:txtSPCSearchString') != null && document.getElementById('olPg:theForm:thePbSPC:SPCPbs:txtServiceProvider') != null){
                document.getElementById('olPg:theForm:thePbSPC:SPCPbs:pbProvider:txtSPCSearchString').value = hcn;
                document.getElementById('olPg:theForm:thePbSPC:SPCPbs:txtServiceProvider').value = hcn;
            }
        }
        function setScroll(){
            window.scrollTo(0,0);
        }
    </script>   
</apex:page>