<apex:page sidebar="true" cache="true" controller="SavedRequestsController_old" action="{!SavedRequests}" >
    <!--<apex:stylesheet value="{!URLFOR($Resource.difc_portal, 'DIFC_CommunityResource/css/difc.min.css')}"/>-->
    <apex:stylesheet value="{!URLFOR($Resource.difc_portal, 'DIFC_CommunityResource/css/foundation.css')}"/> 
    <apex:stylesheet value="{!URLFOR($Resource.difc_portal, 'DIFC_CommunityResource/css/responsive.css')}"/> 
    <apex:stylesheet value="{!URLFOR($Resource.difc_portal, 'DIFC_CommunityResource/css/typography.css')}"/> 
    <apex:stylesheet value="{!URLFOR($Resource.difc_portal, 'DIFC_CommunityResource/css/style_override.css')}"/> 

    <style>
        .container {margin-top: 25px;}
    </style>
    
    <div class="pending-actions container">
            <div class="header bottom-space-40">
                <h3>Saved Requests</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            
            <apex:pageBlock title="Saved Requests List">
            
                <apex:pageBlockTable value="{!SavedRequests}" var="SavedRequest">
                    <apex:column headerValue="Service Request">
                        <apex:outputLink value="/{!SavedRequest}">{!SavedRequest.Name}</apex:outputLink>
                    </apex:column>
                    
                    <apex:column headerValue="Name" value="{!SavedRequest.Portal_Service_Request_Name__c}"/> 
                    <apex:column headerValue="Status" value="{!SavedRequest.External_SR_Status__c}"/> 
                    
                    <apex:column headerValue="Created On" > 
                        <apex:outputText value="{0,date,MM'/'dd'/'yyyy}">
                            <apex:param value="{!SavedRequest.CreatedDate}" />
                        </apex:outputText>
                    </apex:column>  
                                                      
                </apex:pageBlockTable> 
                <strong><i><apex:outputText rendered="{!(SavedRequests.size = 0)}" value="No Saved Requests to display." /></i></strong>
            </apex:pageBlock> 
        </div>
 
<!-- End Default Content REMOVE THIS -->
</apex:page>