<apex:page sidebar="false" showHeader="false" standardStylesheets="false">
      <section id="bgContainer" style='background-image:url("{!URLFOR($Resource.Property_Listing_Website, "Pan_2.png")}"); background-size:cover;background-repeat:none;'>
          
          <video class="hidden-xs" autoplay="true" preload="none" loop="true" muted="true" id="background-video" poster="{!URLFOR($Resource.Property_Listing_Website, "white.png")}">
             <!--<source src="{!$Resource.DIFCVideo}" type="video/mp4"></source>-->
             <source src="https://www.difc.ae/files/4614/5553/9522/Render_8-1.mp4" type="video/mp4"></source>
        </video>
    	<img class="hidden-xs hidden-sm hidden-md hidden-lg" src="{!URLFOR($Resource.Property_Listing_Website, "Pan_2.png")}" style="height:100%;z-index:-10;"/>
        <div class="hidden-xs" id="video-white-overlay-lower" style="height:50em !important;"></div>
          <div class="container">
             <div class="row">
                 <h1>
                     Find properties to lease and for sale in the DIFC<br/>
                 </h1> 
             </div>

           <div class="row">
              <div class="col col-xs-8 col-xs-offset-2 col-sm-3 col-sm-offset-3">
                  <button id="listProperty" class="btn btn-default border-button" onclick="openClientPortal();">
                      List a property
                  </button>
              </div>
              <div class="col hidden-xs col-sm-3 col-sm-offset-0">
                  <button id="mapSearch" class="btn btn-default border-button" onclick="switchToMapMode();">
                      Map Search
                  </button>
              </div>
          </div>
      	</div>
      </section>
    
     <section id="searchContainer">
         <div class="row-container container">
             
          <div class="row" >
              <div class="col col-sm-4">
                  <div class="hover-effect">
                  	<input class="form-control fill-column buttonsacnite" type="text" id="keyword" placeholder="Keyword Search"/>
                  </div>
              </div>
              <div class="col col-sm-4">
                  <div class="hover-effect">
                      <span class="icon-font">t</span>
                      <select id="rentOrSale" class="form-control">
                          <option value="Sale or Rent">Sale or Rent</option>
                          <option class="select-dash" disabled="disabled">---------</option>
                          <option value="Rent">Rent</option>
                          <option value="Sale" disabled="disabled">Sale</option>
                      </select>
                  </div>
              </div>
              <div class="col col-sm-4">
                  <div class="hover-effect">
                      <span class="icon-font">z</span>
                      <select id="buildingName" class="form-control">
                          <option value="Building Name" selected="selected">Building Name</option>
                          <option class="select-dash" disabled="disabled">---------</option>
                      </select>
                  </div>
              </div>
          </div><!--First Row-->
          
          <div class="row" >
              <div id="propType" class="col col-sm-4">
                  <div class="hover-effect">
                      <span class="icon-font">C</span>
                      <select id="propertyType" class="form-control">
                          <option value="Property Type">Property Type</option>
                          <option class="select-dash" disabled="disabled">---------</option>
                          <option value="Residential">Residential</option>
                          <option value="Office">Office</option>
                          <option value="Retail">Retail</option>
                          <option value="Data Centre (Co-Location Service)">Data Centre (Co-Location Service)</option>
                          <option value="Storage">Storage</option>
                          <option value="Business Centre">Business Centre</option>
                      </select>
                  </div>
              </div>
                               
              <div class="col col-xs-12 col-sm-4 inner-column">
                  <div class="row">
                      <div class="col col-xs-6 left-inner-column">
                          <div class="hover-effect">
                            <span class="icon-font">y</span>
                 			<input class="form-control fill-column" type="text" id="minPrice" placeholder="Min. Price"/>
                          </div>
                      </div>
                      <div class="col col-xs-6 right-inner-column">
                          <div class="hover-effect">
                            <span class="icon-font">y</span>
                            <input class="form-control fill-column" type="text" id="maxPrice" placeholder="Max. Price"/> 
                          </div>
                      </div>
                  </div>
                 
              </div>
              <div class="col col-xs-12 col-sm-4 inner-column">
                  <div class="row">
                      <div class="col col-xs-6 left-inner-column">
                          <div class="hover-effect">
                            <span class="icon-font">s</span>
                            <input class="form-control fill-column" type="text" id="minSize" placeholder="Min Sq. ft"/>
                          </div>
                      </div>
                      <div class="col col-xs-6 right-inner-column">
                          <div class="hover-effect">
                            <span class="icon-font">s</span>
                            <input class="form-control fill-column" type="text" id="maxSize" placeholder="Max Sq. ft"/> 
                          </div>
                      </div>
                  </div>
              </div>
              
          </div><!--Second Row-->
          
          <div class="row" >
              <div class="col col-sm-4">
                  <div class="hover-effect">
                      <span class="icon-font">v</span>
                      <select id="leasingType" class="form-control">
                        <option value="Leasing Type">Leasing Type</option>
                      </select>
                  </div>
              </div>
              <div id="blank" class="col col-sm-4 hidden-xs" style="opacity:0;pointer-events:none">
                  <input class="form-control fill-column" type="text" name="blank" placeholder="blank"/>
              </div>
              
              <div id="pax" class="col col-sm-4 hidden">
                  <div class="hover-effect">
                      <span class="icon-font">c</span>
                      <input class="form-control fill-column" type="text" id="paxNum" placeholder="PAX"/>
                  </div>
              </div>
              <div id="bedrooms" class="col col-sm-4 hidden">
                  <div class="hover-effect">
                      <span class="icon-font">c</span>
                      <input class="form-control fill-column" type="text" id="bedroomsNum" placeholder="Bedrooms"/>
                  </div>
              </div>
              <div id="cage" class="col col-sm-4 hidden">
                  <div class="hover-effect">
                      <span class="icon-font">c</span>
                      <input class="form-control fill-column" type="text" id="cageNum" placeholder="Cage No."/>
                  </div>
              </div>
              <div id="fnb" class="col col-sm-4 hidden">
                  <div class="hover-effect">
                      <span class="icon-font">c</span>
                      <select id="fnbNonFnb" class="form-control">
                        <option value="F&B / Non F&B">F&amp;B / Non F&amp;B</option>
                          <option class="select-dash" disabled="disabled">---------</option>
                        <option value="Fnb">F&amp;B</option>
                        <option value="Non Fnb">Non F&amp;B</option>
                      </select>
                  </div>
              </div>
              
              <div class="col col-sm-4 last-column">
                  <div class="row">
                      <div class="col col-xs-12">
                          <button id="search" class="fill-column btn btn-responsive" onclick="search();">
                             Search
                          </button>
                      </div>
                  </div>
              </div>
              
          </div><!--Third Row-->             
         </div>
          
      </section><!--searchContainer-->
</apex:page>