<apex:page cache="true" showHeader="false" controller="Fetch_Passport_Details"  sidebar="false" action="{!generateExcel}" >    

<!-- contentType="application/vnd.ms-excel#PassportDetails.xls" --> 
   
 <html> 
 
 <style type="text/css">
    .tg  {border-collapse:collapse;border-spacing:0;}
    .tg td{font-family:Arial, sans-serif;font-size:18px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
    .tg th{font-family:Arial, sans-serif;font-size:20px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
    .tg .tg-yw4l{vertical-align:top}
    
    
    header {
    background-color:white;
    color:white;
    text-align:center; 
    padding:5px;     
}
</style>


<table width="100%" border="0" class="tg">
  <tr>
        <td  colspan="4" rowspan="6" ><apex:image url="{!$Label.Salesforce_URL}/servlet/servlet.ImageServer?id={!$Label.DIFC_Logo_ID}&oid={!$Organization.Id}"  /></td>
        <th class="tg-yw4l"  colspan="4" rowspan="6" style="color:red;">{!HeaderText}</th>
  </tr>
  
</table>



<table class="tg" width="100%">

  
  <tr>
    <td class="tg-yw4l" colspan="5"> </td>
    <td class="tg-yw4l" colspan="5"> </td>
  </tr>
  <tr>
    <td class="tg-yw4l" colspan="5"  bgcolor="#c1c1b3">Date :<apex:outputText value="{0, date, MMMM d','  yyyy}"><apex:param value="{!NOW()}" />
        </apex:outputText></td>
    
    <td class="tg-yw4l" colspan="5"  bgcolor="#c1c1b3"></td>
  </tr>
  <tr>
    <td class="tg-yw4l" colspan="10" style="color:red;">1.{!HeaderColText} Details</td>
  </tr>
  <tr>
    <td class="tg-yw4l" colspan="5" bgcolor="#c1c1b3">Company Name</td>
    <td class="tg-yw4l" colspan="5">{!companyName}</td>
  </tr>
  <tr>
    <td class="tg-yw4l" colspan="5" bgcolor="#c1c1b3">Entity Type</td>
    <td class="tg-yw4l" colspan="5">{!SRLegalStructuresfull}</td>
  </tr>
  <tr>
    <td class="tg-yw4l" colspan="5" bgcolor="#c1c1b3">Business Activity</td>
    <td class="tg-yw4l" colspan="5">{!companyActivities}</td>
  </tr>
  <apex:variable value="{!1}" var="secnum"/>
   <!-- Ind Shareholders -->
   <tr>
    <td class="tg-yw4l" colspan="10" style="color:red;">
    

    1.Individual {!IF(SRLegalStructuresfull == 'Foundation','Founder','Shareholders')} of the {!HeaderColText}
    
    
    </td>
    <apex:variable value="{!secnum+1}" var="secnum"/>
  </tr>
  
   <tr>
    <th class="tg-yw4l"  bgcolor="#c1c1b3">Sr.No</th>
    <th class="tg-yw4l" colspan="5" bgcolor="#c1c1b3">Name</th>
    <th class="tg-yw4l"  bgcolor="#c1c1b3">Nationality</th>
    <th class="tg-yw4l"  bgcolor="#c1c1b3">Passport No</th>

    <th class="tg-yw4l"  bgcolor="#c1c1b3">Gender</th>
    <th class="tg-yw4l"  bgcolor="#c1c1b3">Contact No.</th>
       
  </tr>
  
  <apex:variable value="{!1}" var="serial"/>
  <apex:repeat value="{!indShareHolderDet}" var="amd"> 
      <tr>    
          <td class="tg-yw4l">{!serial}</td>         
          <td class="tg-yw4l" colspan="5">{!amd.Given_Name__c} {!amd.Family_Name__c}</td>
          <td class="tg-yw4l">{!amd.Nationality_list__c}</td>
          <td class="tg-yw4l">{!amd.Passport_No__c}</td>
      
          <!-- <td class="tg-yw4l">{!amd.Relationship_Type__c}</td> -->
          <td class="tg-yw4l">{!amd.Gender__c}</td>    
          <td class="tg-yw4l"><apex:outputtext value="{!amd.Phone__c}" rendered="{!displayType !='pdf'}"/><apex:outputtext value="{!amd.Phone__c}" rendered="{!displayType =='pdf'}"/></td>
          
      </tr>
      <apex:variable value="{!serial+1}" var="serial" rendered="{!if(amd.Amendment_Type__c='Individual',true,false)}"/>
  </apex:repeat> 
  <!--- End of Individual Shareholders --->
  
  <!-- Body Corporate Shareholders -->
  <tr>
    <td class="tg-yw4l" colspan="10" style="color:red;">
    
        2.Mother Company details or Body Corporate {!IF(SRLegalStructuresfull == 'Foundation','Founder','Shareholder')}'s Details of the {!HeaderColText}
    
     </td>
    <apex:variable value="{!if(BCShareHolderDet_new.size>0,secnum+1,secnum)}" var="secnum"/>
  </tr>

  <tr>
    <th class="tg-yw4l"  bgcolor="#c1c1b3">Sr.No</th>
    <th colspan="5" class="tg-yw4l"  bgcolor="#c1c1b3">Company Name</th>
    <th class="tg-yw4l"  bgcolor="#c1c1b3">Registration Number</th>
    <th class="tg-yw4l"  bgcolor="#c1c1b3">Place of Incorporation</th>
    <th class="tg-yw4l"  bgcolor="#c1c1b3">Date of Incorporation</th>  
    <td colspan="4"></td>
    
  </tr>
  <apex:variable value="{!1}" var="seriall"/>
  <apex:repeat value="{!BCShareHolderDet_new}" var="amdMother" >
    <tr>
        <td class="tg-yw4l">{!seriall}</td>         
        <td colspan="5" class="tg-yw4l">{!amdMother.CompanyName}</td>
         <td class="tg-yw4l">{!amdMother.Registration}</td>
        <td class="tg-yw4l">{!amdMother.Place}</td>
        <td class="tg-yw4l"><apex:outputText value="{0, date, dd-MMM-yy}"><apex:param value="{!amdMother.dateIncorporation}"/></apex:outputText></td>        
        
        <td colspan="4"></td>
    </tr>
    <apex:variable value="{!seriall+1}" var="seriall"/>
   </apex:repeat>
   
   <!-- End of BodyCorporate ShareHolder --->
   
   
   
   <!--- Individual UBO --->
   
   <tr>
    <td class="tg-yw4l" colspan="10" style="color:red;">
    

    3.Individual Ultimate Beneficial Owners 
    
    
    </td>
     <apex:variable value="{!if(indUBODet.size>0,secnum+1,secnum)}" var="secnum"/>
  </tr>
  
   <tr>
    <th class="tg-yw4l"  bgcolor="#c1c1b3">Sr.No</th>
    <th class="tg-yw4l" colspan="5"  bgcolor="#c1c1b3">Name</th>
    <th class="tg-yw4l"  bgcolor="#c1c1b3">Nationality</th>
    <th class="tg-yw4l"  bgcolor="#c1c1b3">Passport Number</th>
    
    
    <th class="tg-yw4l"  bgcolor="#c1c1b3">Date of Birth</th>
    

    <th class="tg-yw4l"  bgcolor="#c1c1b3">Gender</th>
    <th class="tg-yw4l"  bgcolor="#c1c1b3">Contact No</th>
       
  </tr>
  <apex:variable value="{!1}" var="serialUBOInd"/>
  <apex:repeat value="{!indUBODet}" var="amd">
      <tr>    
          <td class="tg-yw4l">{!serialUBOInd}</td>         
          <td class="tg-yw4l" colspan="5" >{!if(isblank(amd.Name_of_Body_Corporate_Shareholder__c),amd.Title_new__c+' '+amd.Given_Name__c+' '+amd.Family_Name__c,amd.Name_of_Body_Corporate_Shareholder__c)}</td>
          <td class="tg-yw4l">{!amd.Nationality_list__c}</td>
          <td class="tg-yw4l">
          
          {!amd.Passport_No__c}
         
          
          </td>
           
           <td class="tg-yw4l">
           
           <apex:outputText value="{0,date,dd'/'MM'/'yyyy}">
    <apex:param value="{!amd.Date_of_Birth__c}" /> 
</apex:outputText>

           </td> 
         
          
          <td class="tg-yw4l">{!amd.Gender__c}</td>    
          <td class="tg-yw4l"><apex:outputtext value="{!amd.Phone__c}" rendered="{!displayType !='pdf'}"/><apex:outputtext value="{!amd.Phone__c}" rendered="{!displayType =='pdf'}"/></td>
      </tr>
      <apex:variable value="{!serialUBOInd+1}" var="serialUBOInd"/>
  </apex:repeat>
  
  
     <!--- BC UBO --->
  
   <tr>
    <td class="tg-yw4l" colspan="10" style="color:red;">
    

    4. Body Corporate Ultimate Beneficial Owners 
    
    
    </td>
     
  </tr>
  
 <tr>
    <th class="tg-yw4l"  bgcolor="#c1c1b3">Sr.No</th>
    <th colspan="5" class="tg-yw4l"  bgcolor="#c1c1b3">Company Name</th>
    <th class="tg-yw4l"  bgcolor="#c1c1b3">Registration Number</th>
    <th class="tg-yw4l"  bgcolor="#c1c1b3">Place of Incorporation</th>
    <th class="tg-yw4l"  bgcolor="#c1c1b3">Date of Incorporation</th>  
    <th class="tg-yw4l"  bgcolor="#c1c1b3">Type</th>  
    <td colspan="3"></td>
    
  </tr>
  <apex:variable value="{!1}" var="seriall"/>
  <apex:repeat value="{!bodycorporateUBODet}" var="amdMother" >
    <tr>
        <td class="tg-yw4l">{!seriall}</td>         
        <td colspan="5" class="tg-yw4l">{!amdMother.Name_of_Body_Corporate_Shareholder__c}</td>
         <td class="tg-yw4l">{!amdMother.Registration_No__c}</td>
        <td class="tg-yw4l">{!amdMother.Place_of_Registration__c}</td>
        <td class="tg-yw4l"><apex:outputText value="{0, date, dd-MMM-yy}"><apex:param value="{!amdMother.Registration_Date__c}"/></apex:outputText></td>        
        <th class="tg-yw4l">{!amdMother.BC_UBO_Type__c}</th>  
        <td colspan="3"></td>
    </tr>
    <apex:variable value="{!seriall+1}" var="seriall"/>
   </apex:repeat>
  
       <!--- BC UBO --->
  
   <tr>
    <td class="tg-yw4l" colspan="10" style="color:red;">
    

    5.List of {!IF(SRLegalStructuresfull == 'Foundation','Councile Members','Directors')} (if the Ultimate Beneficial Owner is publicly listed/Trust or Fund) 
    
    
    </td>
     
  </tr>
  
   <tr>
    <th class="tg-yw4l"  bgcolor="#c1c1b3">Sr.No</th>
    <th class="tg-yw4l" colspan="5"  bgcolor="#c1c1b3">Name</th>
    <th class="tg-yw4l"  bgcolor="#c1c1b3">Nationality</th>
    <th class="tg-yw4l"  bgcolor="#c1c1b3">Passport Number</th>
    
    
    <th class="tg-yw4l"  bgcolor="#c1c1b3">Date of Birth</th>
    

    <th class="tg-yw4l"  bgcolor="#c1c1b3">Gender</th>
    <th class="tg-yw4l"  bgcolor="#c1c1b3">Contact No</th>
       
  </tr>
  <apex:variable value="{!1}" var="serialUBOInd"/>
  <apex:repeat value="{!ListDirectors}" var="amd" rendered="{!seriall>1}" >
      <tr>    
          <td class="tg-yw4l">{!serialUBOInd}</td>         
          <td class="tg-yw4l" colspan="5" >{!if(isblank(amd.Name_of_Body_Corporate_Shareholder__c),amd.Title_new__c+' '+amd.Given_Name__c+' '+amd.Family_Name__c,amd.Name_of_Body_Corporate_Shareholder__c)}</td>
          <td class="tg-yw4l">{!amd.Nationality_list__c}</td>
          <td class="tg-yw4l">
          
          {!amd.Passport_No__c}
         
          
          </td>
       
           <td class="tg-yw4l">
           
           <apex:outputText value="{0,date,dd'/'MM'/'yyyy}">
    <apex:param value="{!amd.Date_of_Birth__c}" /> 
</apex:outputText>

           </td> 
         
          
          <td class="tg-yw4l">{!amd.Gender__c}</td>    
          <td class="tg-yw4l"><apex:outputtext value="{!amd.Phone__c}" rendered="{!displayType !='pdf'}"/><apex:outputtext value="{!amd.Phone__c}" rendered="{!displayType =='pdf'}"/></td>
      </tr>
      <apex:variable value="{!serialUBOInd+1}" var="serialUBOInd"/>
  </apex:repeat>
  
   
</table>


    
 </html>  
</apex:page>