<!--v1.0 - Shikha --- Added Code For Car Parking-->
<apex:page standardController="Service_Request__c" showHeader="false" sidebar="false" renderAs="pdf" standardStylesheets="false" applyBodyTag="false" applyHtmlTag="false">
 <head>
 <style>
   
     @page {
                                
                               @bottom-center {
                                     content: element(footer);
                               }
                            }
                                     
                           
    .content {
      max-width:1200px;
        margin: auto;
        padding: 10px;
        border: 1px solid #eee;
        box-shadow: 0 0 10px rgba(0, 0, 0, .15);
        font-size: 11px;
        line-height: 24px;
        font-family:Arial, Helvetica, sans-serif;
        color: #555;
        
        
    }
        div.footer 
        {
            font-family:Arial, Helvetica, sans-serif;
            color: #293052;
            font-size: 8px;
            display: block;
            padding: 15px;
            position: running(footer);
        }
        .pagenumber:before {
        content: counter(page);
        }
        .pagecount:before {
        content: counter(pages);
        }

                      
    
    .content table {
        width: 100%;
        line-height: inherit;
        text-align: left;
        height:100%;
        
        
        
    }
    
    .content table td {
        padding: 5px;
        
        vertical-align: top;
    }
    
    .content table tr td:nth-child(2) {
        text-align: right;
    }
    
    .content table tr.top table td {
        padding-bottom: 20px;
    }
    
    .content table tr.top table td.title {
        font-size: 45px;
        line-height: 45px;
        color: #333;
    }
    
    .content table tr.information table td {
        padding-bottom: 40px;
    }
    
    .content table tr.heading td {
        background: #eee;
        border-bottom: 0px solid #ddd;
        font-weight: bold;
    }
    
    .content table tr.details td {
        padding-bottom: 20px;
    }
    
    .content table tr.item td{
        border-bottom: 1px solid #eee;
    }
    
    .content table tr.item.last td {
        border-bottom: none;
    }
    
    .content table tr.total td:nth-child(2) {
        border-top: 2px solid #eee;
        font-weight: bold;
    }
    .wider
    {
        width:85px;
    }
    
 
    
   
    </style>
</head>
<body>

<apex:variable value="{!0.00}" var="TotalPricewithoutPSA"/>
<apex:variable value="{!0.00}" var="PSAFee"/>
<apex:variable value="{!0.00}" var="TotalPrice"/>
<apex:variable value="{!0.00}" var="TotalVAt"/>
<apex:variable value="{!0.00}" var="TotalSubPrice"/>
<apex:variable var="RecCount" value="{!0}"/>


<apex:repeat value="{!Service_Request__c.SR_Price_Items1__r}" var="sp">       
    <apex:variable value="{!PSAFee+Service_Request__c.Price__c}" rendered="{!if(And(sp.Price_Item_Status__c!='Utilized',sp.SRPriceLine_Text__c=='PSA'),true,false)}" var="PSAFee"/>    
    <apex:variable value="{!TotalPricewithoutPSA+sp.Price__c+sp.VAT_Amount__c}" var="TotalPricewithoutPSA" rendered="{!if(sp.SRPriceLine_Text__c!='PSA' && sp.SRPriceLine_Text__c!='Refund Line',true,false)}"/>  
    
    <apex:variable value="{!TotalPrice+sp.Price__c+sp.VAT_Amount__c}" var="TotalPrice" rendered="{!if((And(sp.Price_Item_Status__c='Utilized',sp.SRPriceLine_Text__c=='PSA')|| sp.SRPriceLine_Text__c=='Refund Line'),false,true)}"/>
    
    <apex:variable value="{!TotalVAt+sp.VAT_Amount__c}" var="TotalVAt" rendered="{!if(And(sp.Price_Item_Status__c='Utilized',sp.SRPriceLine_Text__c=='PSA'),false,true)}"/>
    
    <apex:variable value="{!TotalSubPrice+sp.Price__c}" var="TotalSubPrice" rendered="{!if((And(sp.Price_Item_Status__c='Utilized',sp.SRPriceLine_Text__c=='PSA') || sp.SRPriceLine_Text__c=='Refund Line' ),false,true)}"/>
    <apex:variable var="RecCount" value="{!RecCount+1}"/>
</apex:repeat>


<!----- Service Reciept for Company Services ---------------->
 <apex:outputPanel rendered="{!RecCount > 0}">   
    <div class="content">
        <table cellpadding="0" border="0"  cellspacing="0" >
            <tr class="top">
                <td  align="left" style="width:250px;">
                    <apex:image id="Logo"  height="85px" value="{!$Resource.DIFC_Logo}" />
                    
  
                  
                </td>
                  
                              <td colspan="4" align="right" >
                             
                              <h2>TAX Invoice / Service Receipt</h2>
                </td>
                            
            </tr>
            
            
            <tr  class="information">
                        <td colspan="1" align="left">
                                   
                                    
                                    <table width="60%" border="0">
                                    <tr>
                                    <td align="left">
                                    
                                   Entity Name:    <b>  {!Service_Request__c.Customer__r.Name}</b><br />
                                    
                                    {!Service_Request__c.Customer__r.Registered_Address__c}
                                     <br/>
                                                                        
                                    Entity TRN:  {!Service_Request__c.Customer__r.Tax_Registration_Number_TRN__c}<br />
                                    
                                       {!if(Service_Request__c.Customer__r.Legal_Type_of_Entity__c='NPIO','License','Commercial License')}  : {!Service_Request__c.Customer__r.Active_License__r.Name}<br /> 
                                    
                                    <apex:outputPanel rendered="{!if(Service_Request__c.SR_Group__c=='RORP',true,false)}">
                                      Building Name :  <apex:outputField value="{!Service_Request__c.Building__c}"/><br/>    
                                    </apex:outputPanel>                                 
                                                                    
                                  
                                    
                                    <apex:outputPanel rendered="{!if((Service_Request__c.SR_Group__c=='RORP'&& Service_Request__c.Record_Type_Name__c !='Freehold_Transfer_Registration'),true,false)}">
                                     Unit No. :  <apex:outputField value="{!Service_Request__c.Additional_Details__c}"/>
                                    </apex:outputPanel>
                                    
                                    <apex:outputPanel rendered="{!if((Service_Request__c.SR_Group__c=='RORP'&& Service_Request__c.Record_Type_Name__c='Freehold_Transfer_Registration'),true,false)}">
                                     Unit No. :  <apex:outputField value="{!Service_Request__c.Unit__c}"/>
                                    </apex:outputPanel>
                                    
                                     <br />
                                     
                                    </td>
                                    </tr>
                                    </table >
                           
                        </td>
                        <td colspan="4" align="right" >
                        
                                <table width="100%" style="padding-left:10px;" border="0">
                                    <tr>
                                    <td align="left">
                                       Service Reference #: <b> {!Service_Request__c.Name}</b> <br />
                                        <!--v1.0- corrected date value to show in dd/mm/yyyy-->
                                                    <!--Date of Transaction : <apex:outputtext value="{0,date,MM.dd.yyyy}"><apex:param value="{!Service_Request__c.Submitted_Date__c}"/></apex:outputText><br />-->
                                                    Date of Transaction :&nbsp; <apex:outputtext value="{0,date,dd'/'MM'/'yyyy}"><apex:param value="{!Service_Request__c.Submitted_Date__c}"/></apex:outputText><br />
                                                    DIFCA TRN  :{!$Label.DIFCA_VAT_Number}<br />
                                                    Service : {!Service_Request__c.Service_Type__c} <br />
                                                    
                                                      <apex:outputPanel rendered="{!if(Service_Request__c.SR_Group__c=='GS',true,false)}">
                                    Name of Applicant: 
                                                      <apex:outputText rendered="{!OR(Service_Request__c.First_Name__c !=null,Service_Request__c.Last_Name__c !=null)}">
                                                        {!Service_Request__c.First_Name__c} {!Service_Request__c.Last_Name__c}
                                                        </apex:outputText> 
                                                        <!--veera added for GS_Comfort_Letters -->
                                                        <apex:outputText rendered="{!and(Service_Request__c.First_Name__c =null,Service_Request__c.Last_Name__c =null,Service_Request__c.Contact__c!= null,Service_Request__c.Record_Type_Name__c=='GS_Comfort_Letters')}">
                                                        <apex:outputField value="{!Service_Request__c.Contact__c}"/>
                                                        </apex:outputText>  
                                                        <apex:outputText rendered="{!and(Service_Request__c.First_Name__c =null,Service_Request__c.Last_Name__c =null,Service_Request__c.Record_Type_Name__c!='GS_Comfort_Letters')}">
                                                        <apex:outputField value="{!Service_Request__c.Customer__c}"/>
                                                        </apex:outputText>
                                    </apex:outputPanel><br />
                                    <!--v1.0 : adding data related to Car paking-->
                                    <apex:outputPanel rendered="{!and(Service_Request__c.SR_Group__c = 'Other',Service_Request__c.Record_Type_Name__c = 'Car_Parking')}">
                                        Name of Applicant:&nbsp;
                                        <apex:outputText rendered="{!and(Service_Request__c.First_Name__c =null,Service_Request__c.Last_Name__c =null,Service_Request__c.Contact__c!= null)}">
                                            <apex:outputField value="{!Service_Request__c.Contact__c}"/>
                                        </apex:outputText> <br/>
                                        Card Number : &nbsp;
                                        <apex:outputText value="{!Service_Request__c.Incorporated_Organization_Name__c}"/>
                                        </apex:outputPanel>  <br/>
                                    <apex:outputPanel rendered="{!and(Service_Request__c.Record_Type_Name__c == 'Car_Parking',Service_Request__c.Commercial_Activity__c = 'Membership')}">
                                        Membership Start Date : &nbsp; <apex:outputtext value="{0,date,dd'/'MM'/'yyyy}"><apex:param value="{!Service_Request__c.Agreement_Date__c}"/></apex:outputText><br />
                                        Membership End Date : &nbsp; <apex:outputtext value="{0,date,dd'/'MM'/'yyyy}"><apex:param value="{!Service_Request__c.Mortgage_End_Date__c}"/></apex:outputText><br />
                                    </apex:outputPanel>
                                       <!--v1.0--End-->              
                                    </td>
                                    </tr>
                                    </table>
                        </td>
            </tr>
          
          <apex:outputPanel rendered="{!RecCount==0}">
            Service Fee :  <apex:outputText value=" Not Applicable" rendered="{!if(RecCount ==0,true,false)}"></apex:outputText>
          </apex:outputPanel>
          <apex:outputPanel rendered="{!RecCount>0}">
            
            <tr class="heading">
                <td>
                    Item
                </td>
                  
                
              
                  <td style="width:95px;" align="right">
                   VAT Rate
                </td>
                
                
                  <td class="wider"  align="right">
                    VAT Price
                </td>
                
                
                
                <td class="wider" colspan="{!if(Service_Request__c.SR_Group__c=='GS',1,2)}"  align="right">
                    Price
                </td>
                   <td class="wider"  align="right" style="display:{!if(Service_Request__c.SR_Group__c=='GS','','none')};">
                    
                  Service Fee
                    
                    
                    
                </td>
                
                
               
                
              
                
            </tr>
            
            <apex:repeat value="{!Service_Request__c.SR_Price_Items1__r}" var="spit"  >  
            <apex:outputPanel rendered="{!spit.SRPriceLine_Text__c!='Refund Line'}">
            <tr class="item">
             <td colspan="1">
                    {!spit.SRPriceLine_Text__c}  
        
                    
                </td>
                
                  
                
                  
                
                
                
                <td colspan="1" align="right">
              
              {!spit.VAT_Description__c} 
              
              </td>
              
                
                <td align="right" >
                
                    <apex:outputText value=""/><apex:outputText value="{0, number,###,###,##0.00}">
                        <apex:param value="{!spit.VAT_Amount__c}"/></apex:outputText>
                 
                </td>
            
               
               <td style="width:100px;" colspan="{!if(Service_Request__c.SR_Group__c=='GS',1,2)}"  align="right">
                       <apex:outputText value="" rendered="{!if(spit.Price__c <>0,true,false)}"/>
                    <apex:outputText value="{0, number,###,###,##0.00}" rendered="{!if(spit.Price__c <>0,true,false)}">
                    <apex:param value="{!spit.Price__c}"/></apex:outputText>  
                </td>
                   <td  align="right" style="display:{!if(Service_Request__c.SR_Group__c=='GS','','none')};">
                    
                    <apex:outputText value="" rendered="{!if(spit.DIFC_Margin__c <>0,true,false)}"/>
                    <apex:outputText value="{0, number,###,###,##0.00}" rendered="{!if(spit.DIFC_Margin__c <>0,true,false)}">
                    <apex:param value="{!spit.Difc_Margin_Amount__c}"/></apex:outputText>
                    
                    
                    
                </td>
                
                
                
                
             
                
                  
            </tr>
            </apex:outputPanel>
           </apex:repeat>
            
            <tr >
                <td></td>
                
                <td>
               
                </td>
                 <td>
                     
                 
                 </td>
                  <td></td>
                  <td>
                
               
        
                  </td>
            </tr>
            
             <tr class="total">
             <td></td>
             <td></td>
             
             <td colspan="2" align="right" class="heading">
             <b>
             Subtotal (AED)</b>
             
             </td>
             <td align="right"><apex:outputText value="" rendered="{!if(TotalSubPrice <>0,true,false)}"/><apex:outputText value="{0, number,###,###,##0.00}" rendered="{!if(TotalSubPrice <>0,true,false)}">
              <apex:param value="{!TotalSubPrice}"/></apex:outputText> </td>
               </tr>
               
                <tr >
                 <td></td>
             <td></td>
             
             <td  colspan="2" align="right" class="heading"><b>VAT Total (AED)</b></td>
             <td align="right">        <apex:outputText value=""/><apex:outputText value="{0, number,###,###,##0.00}">
                        <apex:param value="{!TotalVAt}"/></apex:outputText>  </td>
               </tr>
               
                 <tr >
             <td></td>
             <td></td>
            
             <td  colspan="2" align="right" class="heading"><b>Total (AED)</b></td>
             <td align="right">        <apex:outputText value=""/><apex:outputText value="{0, number,###,###,##0.00}">
                        <apex:param value="{!TotalPrice}"/></apex:outputText>  </td>
               </tr>
            </apex:outputPanel>   
               
        </table>
            
         
        <p>
        <i>
        Total Amount in Words:  &nbsp;<c:Number_to_Words NumberToConvert="{!TotalPrice}"/>.        </i></p>
           
        <p>
        *       This is a system generated document and does not require a signature</p>
       
        <div>
        
</div>

</div>
 </apex:outputPanel>
          <apex:outputPanel rendered="{!RecCount==0}">
           <div class="content">
            <table cellpadding="0" border="0"  cellspacing="0" >
                <tr class="top">
                <td  align="left" style="width:250px;">
                    <apex:image id="Logo1"  height="85px" value="{!$Resource.DIFC_Logo}" />
                </td>
                <td colspan="4" align="right" >
                      <h2>TAX Invoice / Service Receipt</h2>
                </td>
            </tr>
            </table>
            </div>
            <br/><br/>
            <div align="center">
            TAX Invoice :  <apex:outputText value=" Not Applicable" rendered="{!if(RecCount ==0,true,false)}"></apex:outputText>
            </div>
          </apex:outputPanel>
    <div class="footer">                
                <center>
                  Dubai International Financial Centre Authority <br />
                             Level 14, The Gate, PO Box 74777 Dubai, UAE  Tel +971 4 362 2222, Fax +971 4 362 2333 <br />
                             <a href="www.difc.ae" target="_blank">www.difc.ae</a>                
                </center>
          </div>
<!------------------ Service Reciept for Property Services--------------------------------->
<!----------------------------------------------------- End ----------------------------------------------->
</body>
</apex:page>