<apex:page docType="html-5.0" standardController="Service_Request__c" extensions="SREditOverride" applyHtmlTag="true" applyBodyTag="false" standardStylesheets="true" action="{!VerifyRequest}" showHeader="true" sidebar="true" >
<apex:form >
<!--    <apex:pageMessages /> -->
    <div class="message errorM3" role="alert">
        <table border="0" cellpadding="0" cellspacing="0" class="messageTable" style="padding:0px;margin:0px;">
            <tbody><tr valign="top">
                <td>
                    <img alt="ERROR" class="msgIcon" src="/s.gif" title="ERROR"/>
                </td>
                <apex:outputPanel layout="none" rendered="{!foSRCompleted==false && foOnHold==false}">
                <td class="messageCell">
                    <div class="messageText">
                        <span style="color:#cc0000">
                            <h4>Error:</h4>
                        </span>
                        <!-- This request is already sumitted and cannot be edited. --> {!errorMsg} <a style="cursor: pointer;" onclick="window.top.location = '{!ReturnURL}'">Please click here go back</a> <br/>
                    </div>
                </td>
                </apex:outputPanel>
                <apex:outputPanel layout="none" rendered="{!foSRCompleted==true && foOnHold ==false}">
                <td class="messageCell">
                    <div class="messageText">
                        <span style="color:#cc0000">
                            <h4>Error:</h4>
                        </span>
                        <!-- This request is Completed and cannot be edited.  --> {!errorMsg} <a style="cursor: pointer;" onclick="window.top.location = '{!ReturnURL}'">Please click here go back</a> <br/>
                    </div>
                </td>
                </apex:outputPanel>
                <apex:outputPanel layout="none" rendered="{!foOnHold==true}">
                <td class="messageCell">
                    <div class="messageText">
                        <span style="color:#cc0000">
                            <h4>Error:</h4>
                        </span>
                        <!-- This request is on hold and cannot be edited. --> {!errorMsg} <a style="cursor: pointer;" onclick="window.top.location = '{!ReturnURL}'">Please click here go back</a> <br/>
                    </div>
                </td>
                </apex:outputPanel>
            </tr>
            <tr>
                <td></td>
                <td>
                </td>
            </tr>
        </tbody></table>
    </div>
</apex:form>
</apex:page>