<apex:page id="pg" controller="SRTemplateDeepClone" tabStyle="SR_Template__c" sidebar="false">
	<apex:sectionHeader Title="SR-Template" subtitle="Deep Clone"/>
	<apex:form id="frm">
		<apex:actionFunction name="CloneTemplate" action="{!CloneProcessRecords}" rerender="msg,pb"/>
		<apex:pageblock id="pb">
			<apex:pageMessages id="msg"/>
			<apex:pageblockbuttons location="bottom" id="pbbtns">
				<apex:commandbutton value="Confirm" id="cnfrm" onclick="RequiredCheck();return false;"/>
				<apex:commandbutton value="Back to Previous SR-Template" id="prev" action="{!CancelClone}"/>
			</apex:pageblockbuttons>
			<apex:pageblockSection columns="2" title="Clone an Existing SR-Template along with the Childs." collapsible="false" id="pbs">
				<apex:pageblocksectionItem id="pbsItem1">
					<apex:outputlabel value="SR-Template Name"/>
					<apex:inputText value="{!strSRTemplateName}" maxlength="80" style="width:350px;" id="TemplName"/>
				</apex:pageblocksectionItem>
				<apex:pageblocksectionItem id="pbsItem2">
					<apex:outputlabel value="SR Record Type API Name"/>
					<apex:inputText value="{!strSRRecTypeName}" id="RecTypeName" style="width:350px;"/>
				</apex:pageblocksectionItem>
			</apex:pageblockSection>
		</apex:pageblock>
	</apex:form>
	<script>
		function RequiredCheck(){
			var TemplVal = document.getElementById('pg:frm:pb:pbs:pbsItem1:TemplName').value;
			var Rectypeval = document.getElementById('pg:frm:pb:pbs:pbsItem2:RecTypeName').value;
			if(TemplVal!=null && TemplVal.trim()!='' && Rectypeval!=null && Rectypeval.trim()!=''){
				document.getElementById('pg:frm:pb:pbbtns:cnfrm').value = 'Cloning..';
				document.getElementById('pg:frm:pb:pbbtns:prev').value = 'Cloning..';
				document.getElementById('pg:frm:pb:pbbtns:cnfrm').className = 'btnDisabled';
				document.getElementById('pg:frm:pb:pbbtns:prev').className = 'btnDisabled';
				CloneTemplate();
			}else{
				alert('SR-Template Name & SR Record Type Name is required.');
			}
		}
	</script>
</apex:page>