<apex:page standardController="Inspection__c" extensions="InspectorMoreInformationController" sidebar="false" action="{!submit}">
    <apex:slds />
    <apex:pageMessages ></apex:pageMessages>
</apex:page>