<apex:page standardcontroller="Training_Master__c" extensions="TrainingConfirmationController" lightningStylesheets="true">
    <head>
        <style>
            .align-center
            {
                text-align:center;
                padding-bottom: 20px;
            }
            .center{
            	text-align:center;
            }
            .msg{
            	min-height: 200px;
            }
            .messageBlock{
            	margin-bottom: 10px;
            }
        </style>
    </head>
    
   <body>
       <div >
        <apex:form >
            <apex:pageMessages />
           <apex:pageBlock title="Confirm Training Update">
               <apex:outputPanel layout="block" rendered="{!!submissionAllowed}" styleClass="msg center">
                    <div class="messageBlock">
                        <h4>
                            The Training Schedule is not approved by HOD. Please submit for Approval.
                        </h4>
                    </div>
                     <div class="center">
                         <apex:commandButton action="{!cancel}" value="Cancel" />
                    </div>
                </apex:outputPanel>
                <apex:pageBlock rendered="{!submissionAllowed}">
                    <apex:pageblocksection >
                        <apex:outputfield value="{!Training_Master__c.Category__c}" />
                        <apex:outputfield value="{!Training_Master__c.Start_DateTime__c}" />
                        <apex:outputfield value="{!Training_Master__c.To_DateTime__c}" />
                        <apex:outputfield value="{!Training_Master__c.Location__c}" />
                        <apex:outputfield value="{!Training_Master__c.Status__c}" />
                    </apex:pageblocksection>
                    <div class="center">
                        <apex:commandButton value="Confirm" action="{!confirmUpdate}" />
                        <apex:commandButton action="{!cancel}" value="Cancel" />
                    </div>

                </apex:pageBlock>
            </apex:pageBlock>
        </apex:form>
       </div>
   </body>
</apex:page>