<apex:page standardController="Service_Request__c" extensions="cls_UpdateRegisteredAddress" id="page" tabStyle="Service_Request__c" sidebar="false" >

<apex:sectionHeader title="Update Location of Records and Register"/>

<div id="DyncPgFlow:frm:j_id24" class="pageDescription">


This service request is used to update the location of records and register. An entity can maintain its own records and register in a place other than its registered address. 
<br /><br />
<b>
Documents Required: </b><br />

        A board resolution approving the place to keep records and register or a document of similar effect. 
<br /><br />
<b>Fees:</b><br />
Nil
<br />
<br />

</div>

 <apex:form >


 <apex:actionFunction rerender="OtherLocation" immediate="true" name="OtherLocation" action="{!RefreshPage}" >
<apex:param name="firstParam" assignTo="{!ObjRecordskept.Name_of_the_holder__c}" value="" />

</apex:actionFunction>




<apex:pageMessages ></apex:pageMessages>
<apex:pageBlock >
<apex:pageBlockButtons location="bottom">
<apex:commandButton action="{!RecordskeptSave}" value="Save"/>
<apex:commandButton action="{!Cancel}" value="Cancel"/>
</apex:pageBlockButtons>
<apex:pageBlockSection collapsible="false" columns="1" >


<apex:pageblockSectionItem >

 Client 
 
<apex:outputField value="{!Service_Request__c.Customer__r.Name}" styleClass="Disabled" style="disabled:'disabled';"/>


 
</apex:pageblockSectionItem>


 <apex:outputField value="{!Service_Request__c.Email__c}"/>
  

 <apex:outputField value="{!Service_Request__c.Send_SMS_To_Mobile__c}"/>
<apex:pageBlockSection collapsible="false" title="Please indicate the location of records and register" columns="1" >
 
 
    <apex:inputField required="true" onchange="OnRecordsKept(this);" value="{!ObjRecordskept.Place_register_and_records_kept__c }"/> 

  </apex:pageBlockSection>
 

</apex:pageBlockSection>
<div  style="display: none;" id="Place_where_register" >

<apex:pageBlockSection title="If Other Location" id="OtherLocation" collapsible="false" columns="2">


                                
                                 <apex:inputField value="{!ObjRecordskept.Name_of_the_holder__c}"/>
                                 
                                 
                                 <apex:pageBlockSectionItem ></apex:pageBlockSectionItem>
                                 <apex:inputField value="{!ObjRecordskept.Unite_Number__c}"/>
                                 <apex:inputField value="{!ObjRecordskept.Building_Name__c}"/>
                                 <apex:inputField value="{!ObjRecordskept.Street_Address__c}"/>
                                
                                
                                 <apex:inputField value="{!ObjRecordskept.City__c}"/> 
                                 <apex:inputField value="{!ObjRecordskept.State__c}"/> 
                                
                                 
                                  <apex:inputField value="{!ObjRecordskept.Country__c}"/>
                                  
                                  <apex:pageBlockSectionItem >
                                  
                                  Please upload a board resolution approving the amendment to the location of records and register or a document of similar effect. 
                                  
                                  
                                  <apex:inputFile value="{!ObjAttachment.body}" filename="{!ObjAttachment.name}"></apex:inputFile>
                                  
                                  </apex:pageBlockSectionItem>
                                  
                                           
                                            

</apex:pageBlockSection>

  </div>
</apex:pageBlock>
  </apex:form> 
      
      <script type="text/javascript">

  
      
      function OnRecordsKept(DDP)
      {

          if(DDP.value=='Other Location')
          document.getElementById('Place_where_register').style.display='block';
          else
          document.getElementById('Place_where_register').style.display='none';
          
          //alert(document.getElementById('Place_where_register').display);
          
          
      }
      function Place_whereCheck()
      {
          if("{!ObjRecordskept.Place_register_and_records_kept__c}"=="Other Location")
          document.getElementById('Place_where_register').style.display='block';
     
        
      
      }
      Place_whereCheck();
      
        function blockEnter(e){
            var code = (e.keyCode ? e.keyCode : e.which);
            if(code == 13) { //Enter keycode
                return false;
            }else {
                return true;
            }
        } 
        </script >
     
</apex:page>