<!--
  @description       : 
  @author            : ChangeMeIn@UserSettingsUnder.SFDoc
  @group             : 
  @last modified on  : 05-20-2021
  @last modified by  : ChangeMeIn@UserSettingsUnder.SFDoc
  Modifications Log 
  Ver   Date         Author                               Modification
  1.0   02-21-2021   ChangeMeIn@UserSettingsUnder.SFDoc   Initial Version
-->
<apex:page standardController="Service_Request__c" id="pageId" tabStyle="Step__c" sidebar="false" showheader="false">
    <apex:includeLightning />    
    <div id="LightningComponentid" />    
    <script>
    $Lightning.use("c:userAccessFormUploadApp", function() {
        $Lightning.createComponent("c:userAccessFormUpload",
          { 
            recordId: "{!$CurrentPage.parameters.id}"
          },
          "LightningComponentid",
           function(cmp) {
             console.log('LWC Componenet added in VF page');
          });
    });
    </script>
</apex:page>