<apex:page docType="html-5.0" applyHtmlTag="false" applyBodyTag="false" standardStylesheets="true" showHeader="false" sidebar="false" id="FormPreview">
 
    
    <!--[if IE 7 ]><html class="ie lt-ie8" lang="en"> <![endif]-->
    <!--[if IE 8 ]><html class="ie lt-ie9" lang="en"> <![endif]-->
                
        <head>
        <meta charset="utf-8"/>    
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"></meta>
        <title>DIFC - Dubai International Financial Centre</title>
    
        <link rel="shortcut icon" href="{!URLFOR($Resource.DIFC_PortalResource, 'DIFC_CommunityResource/favicon.ico')}" type="image/x-icon"/>
        <link rel="icon" href="{!URLFOR($Resource.DIFC_PortalResource, 'DIFC_CommunityResource/favicon.ico')}" type="image/x-icon"/>
    
        <apex:stylesheet value="{!URLFOR($Resource.DIFC_PortalResource, 'DIFC_CommunityResource/css/difc.min.css')}"/>
        <apex:stylesheet value="{!URLFOR($Resource.DIFC_PortalResource, 'DIFC_CommunityResource/css/ie.css')}"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script> 
     
     
        <!--[if (gte IE 9)|!(IE)]><!-->
            <link rel="stylesheet" type="text/css" href="{!URLFOR($Resource.DIFC_PortalResource, 'DIFC_CommunityResource/css/responsive.css')}"></link>
        <!--<![endif]-->
    
        
         <style>
             .main-content {
                 margin: 0 auto;
             }
             
            body input.btn{
            
                margin-left: 500px;
            }
        
            .difc-logo img {height: 55px;}
    
             @media (max-width: 980px){
                    nav.top-bar ul {
                    padding: 0 6px;
                 }
            }
            .top-nav.news ul.mobile-logo, .top-nav.dashboard ul.mobile-logo {
                padding: 0px;
                margin: 0 10px !important;
            } 
            .top-bar-section ul li > a {font-family: inherit;}  
            footer small {font-style: italic;}    
            
            html .brandSecondaryBrd {
                border-top-color: #00205B !important;
                border-bottom: 1px solid #eaeaea;
                border-left: 1px solid #eaeaea;
                border-right: 1px solid #eaeaea;
            }
            
            nav.top-nav .top-bar-section ul.right li, nav.top-nav .top-bar-section ul.right li a{
            
                font-size: 14px !important;
                background: rgba(0, 0, 0, 0);
            
            }
            
            i.icon-phone-white{
            
                background: url("{!URLFOR($Resource.DIFC_PortalResource, 'DIFC_CommunityResource/images/icon-phone-small-white.png')}") no-repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
                width: 20px !important;
            }
            
            nav.top-nav .top-bar-section ul li .icon-phone-white{
            
                background-position: left 3px !important;
 
            }
            
            .top-bar-section li:not(.has-form) a:not(.button){
            
                background: none !important;
                padding: 0 15px !important;
                line-height: 45px;
            
            }
            .top-bar-section i.icon{
            
                float: none !important;
                line-height: 45px;
           }
           .top-bar.top-nav ul, .top-bar.top-nav ul li{
                
                margin-left: 0 !important;
                line-height: 65px;
                font-size: 12px;
           }
           
           .top-bar-section li.call-centre{
           
               margin-right: 0 !important;   
           }
           
           body .apexp .bPageBlock.apexDefaultPageBlock .pbHeader {
           
               border-bottom: 0px !important;
           
           }
       
           .top-bar-section li.call-centre{margin-right: 0 !important; background: transparent;}     
           
            body .bPageBlock{
                background-color:#ffffff !important;
            } 
            
             body, td {
                background-color:#ffffff !important;
             }
             
             body, th {
                background-color:#ffffff !important;
             }
             label, .mainTitle, h4{
                font-family:EuclidSquare-Medium !important;
             }
             label{
                font-size: 14px !important;
             }
              .bPageBlock.brandSecondaryBrd, body .secondaryPalette.bPageBlock
             {
                border-top-color:#D1D3D3 !important;
             }
                                             
         </style>
    </head>
 
 
<body>
 
        <div class="login">
      <img style="width: 300px;" src="{!$Resource.OB_DIFCCommunityLogo}" />
           
     
     <div class="row large-12 columns">
         
          <p>  
            <apex:pageBlock >
                 
                  <p>  
                    <apex:outputText >
                     If you have an existing active portal user with super user role for your entity, the super user can grant you the required access through Manage Users as per below<br/>
                                      - Login to the portal using the super user username (format xxxx@difcportal.ae) <br/>
                                      - Click on Manager Users tab <br/>
                                      - Click on Add User and complete the details and submit <br/>
                    <br/>                 
                    If you do not know who is the super user for your entity and/or you do not have an existing super user for your entity, please email <apex:outputlink value="mailto:roc.helpdesk@difc.ae"> roc.helpdesk@difc.ae</apex:outputLink> to obtain the activation link to set up the portal access
                    
                    </apex:outputText> 
                   
                  </p><br/>
            </apex:pageBlock>
          </p><br/>
      </div>
      </div>
      </body>    
            
</apex:page>