<apex:page standardController="Long_Term_Visa_Nomination__c" title="Nomination for Long-Term Visa" extensions="VisaNomineeDetailCtrlExt" docType="html-5.0" showHeader="false" sidebar="false">
    <meta name="googlebot" content="noindex" />
    
    <apex:includeScript value="https://www.google.com/recaptcha/api.js"/>
    <apex:includeScript value="https://partners.difc.ae/Scripts/jquery-3.3.1.min.js"/>
    <apex:includeScript value="https://partners.difc.ae/Scripts/bootstrap.min.js" />
    <apex:includeScript value="https://code.jquery.com/ui/1.11.1/jquery-ui.min.js"/>
    <apex:stylesheet value="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <apex:stylesheet value="https://partners.difc.ae/Content/css/bootstrap.min.css"/>
    <apex:stylesheet value="https://partners.difc.ae/Content/css/mdb.min.css"/>
    <apex:stylesheet value="https://partners.difc.ae/Content/css/jquery-ui.css"/>
    <!-- Global site tag (gtag.js) - Google Analytics -->

    <style>
        .form-control-plaintext {
            border: solid 1px #aaa !important;
            border-radius: 4px;
        }
        .btn-secondary{
            color: black !important;
        }
        .form-control-plaintext {
            padding: 4px !important;
        }
    </style>
    
    <!--
    <div class="modal fade" id="terms" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Terms and Conditions</h5>
                    
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:black !important;" >
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    -->
    <script>
        function submitform(){
            debugger;
            var response = grecaptcha.getResponse();
            var Isvalid = true;
            var flag = 0;
            if (response.length == 0) {
                $("#reqField").append("Please verify Captcha\n");
                flag = flag + 1;
            }
            if (flag == 0) {
                $(".divValidations").css('display', 'none');
                $("#reqField").empty();
                Isvalid = true
            }
            else {
                $(".divValidations").css('display', 'block');
                Isvalid = false;
            }
            if(Isvalid){
                SubmitFormAfterVerification();
            }
        }   

    </script>
    <apex:form >
        <apex:actionFunction action="{!SubmitForm}" name="SubmitFormAfterVerification"/>

        <div class="form-group row" style="text-align: center !important;">
             <div class="col-sm-12">
             <a target ="_blank" href="http://difc.ae/">
                 <img src="https://partners.difc.ae/Content/images/difc_logo.png" alt="DIFC Logo" style="margin-top: 50px" />
             </a>
             </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-6 offset-3">
                <div class="card">
                    <!-- <apex:outputpanel id="OPFrom" rendered="{!!ShowSubmitMsg}"> -->
                    <apex:outputpanel id="OPFrom" rendered="{! and( !ShowSubmitMsg, (DATETIMEVALUE('2019-04-04 00:00:00') > DATETIMEVALUE(now()+ (1/24)*4)) ) }">
                        <div class="card-header" style="background:#4a4e76!important;color:#fff;">
                          Nomination for Long-Term Visa
                        </div>
                       
                       <div style="float: right;padding-right: 10px;">
                       <br />
                       <small>
                          <span style="color:red">*</span> = Required Information</small>
                          
                          </div>
                          
                        <div class="card-body">
                        
                            <div class="form-group row">
                                <h6 id="caveat-with-anchors"><b>&nbsp;&nbsp;Nominee's Personal Details</b></h6>
                                
                               
                            </div>
                            
                            <div class="form-group row">
                                <label for="Nominee_Name" class="col-sm-4 col-form-label">Name
                                <span style="color:red">*</span>
                                
                                  <font size="1"> <br />(Should be as per passport)</font>
                                  
                                </label>
                                <div class="col-sm-8">
                                    <apex:inputField value="{!Long_Term_Visa_Nomination__c.Nominee_Name__c}" styleClass="form-control-plaintext" id="Nominee_Name" required="true" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="Gender" class="col-sm-4 col-form-label">Gender<span style="color:red">*</span></label>
                                <div class="col-sm-8">
                                    <apex:inputField value="{!Long_Term_Visa_Nomination__c.Gender__c}" styleClass="form-control-plaintext" id="Gender" required="true" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="Date_of_Birth" class="col-sm-4 col-form-label">Date of Birth<span style="color:red">*</span></label>
                                <div class="col-sm-8">
                                    <apex:inputField value="{!Long_Term_Visa_Nomination__c.Date_of_Birth__c}" onclick="SetLast(this);" styleClass="form-control-plaintext" id="Date_of_Birth" required="true" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="Nationality" class="col-sm-4 col-form-label">Nationality<span style="color:red">*</span></label>
                                <div class="col-sm-8">
                                    <apex:inputField value="{!Long_Term_Visa_Nomination__c.Nationality__c}" styleClass="form-control-plaintext" id="Nationality" required="true" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="Previous_Nationality" class="col-sm-4 col-form-label">Previous Nationality<span style="color:red">*</span></label>
                                <div class="col-sm-8">
                                    <apex:inputField value="{!Long_Term_Visa_Nomination__c.Previous_Nationality__c}" styleClass="form-control-plaintext" id="Previous_Nationality" required="true" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="Marital_status" class="col-sm-4 col-form-label">Marital status<span style="color:red">*</span></label>
                                <div class="col-sm-8">
                                    <apex:inputField value="{!Long_Term_Visa_Nomination__c.Marital_status__c}" styleClass="form-control-plaintext" id="Marital_status" required="true" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="Religion" class="col-sm-4 col-form-label">Religion<span style="color:red">*</span></label>
                                <div class="col-sm-8">
                                    <apex:inputField value="{!Long_Term_Visa_Nomination__c.Religion__c}" styleClass="form-control-plaintext" id="Religion" required="true" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="Job_title_Profession" class="col-sm-4 col-form-label">Job title/ Profession<span style="color:red">*</span></label>
                                <div class="col-sm-8">
                                    <apex:inputField value="{!Long_Term_Visa_Nomination__c.Job_title_Profession__c}" styleClass="form-control-plaintext" id="Job_title_Profession" required="true" />
                                    <font size="1">(Should be the same title in the visa page)</font>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="Place_of_Residency" class="col-sm-4 col-form-label">Place of Residency<span style="color:red">*</span></label>
                                <div class="col-sm-8">
                                    <apex:inputField value="{!Long_Term_Visa_Nomination__c.Place_of_Residency__c}" styleClass="form-control-plaintext" id="Place_of_Residency" required="true" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label" for="Colour_Photo">Colour Photo
                                    <span style="color:red">*</span>
                                    <br/>
                                    <font size="1">(Should be passport size photo)</font>
                                </label>
                                <apex:inputFile value="{!AttachmentObj.body}" accept="image/*,.pdf" filename="{!AttachmentObj.name}" id="Colour_Photo" required="true"/>
                                <!-- <font size="1">(Should be passport size photo)</font> -->
                                <div class="col-sm-8">
                                </div>
                            </div>
                            <div class="form-group row">
                                <h6 id="caveat-with-anchors"><b>&nbsp;&nbsp;Nominee's Visa Details</b></h6>
                            </div>
                            <div class="form-group row">
                                <label for="Visa_Number" class="col-sm-4 col-form-label">Visa Number<span style="color:red">*</span></label>
                                <div class="col-sm-8">
                                    <apex:inputField value="{!Long_Term_Visa_Nomination__c.Visa_Number__c}" styleClass="form-control-plaintext" id="Visa_Number" required="true" />
                                    <!-- html-pattern="201/[0-9]{4}/[0-9]{4,}" -->
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="Date_of_Visa_Issuance" class="col-sm-4 col-form-label">Date of Visa Issuance<span style="color:red">*</span></label>
                                <div class="col-sm-8">
                                    <apex:inputField value="{!Long_Term_Visa_Nomination__c.Date_of_Visa_Issuance__c}" onclick="SetLast(this);" styleClass="form-control-plaintext" id="Date_of_Visa_Issuance" required="true" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="Date_of_Visa_Expiry" class="col-sm-4 col-form-label">Date of Visa Expiry<span style="color:red">*</span></label>
                                <div class="col-sm-8">
                                    <apex:inputField value="{!Long_Term_Visa_Nomination__c.Date_of_Visa_Expiry__c}" onclick="SetFuturval(this);" styleClass="form-control-plaintext" id="Date_of_Visa_Expiry" required="true" />
                                </div>
                            </div>
                            
                            <div class="form-group row">
                                <label for="Nominees_Consent" class="col-sm-4 col-form-label">Nominee’s Consent</label>
                                <!-- <h6 id="caveat-with-anchors"><b>&nbsp;&nbsp;Nominee’s Consent </b> </h6> -->
                                <div class="col-sm-8">
                                    [<a href="https://partners.difc.ae\Content\Nominee Consent Form.docx">Click here to download</a>]
                                    <font size="1">(to be used when nominating self)</font>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="Guardian_Consent" class="col-sm-4 col-form-label">Guardian's Consent</label>
                                <!-- <h6 id="caveat-with-anchors"><b>&nbsp;&nbsp;Guardian's Consent </b></h6> -->
                                <div class="col-sm-8">
                                    [<a href="https://partners.difc.ae\Content\Guardian Consent Form.docx">Click here to download</a>]
                                    <font size="1">(to be used when nominating dependents, below 18 years of age)</font>
                                </div>
                            </div>
                                                    
                            <div class="form-group row"></div>
                           
                            <div class="form-group row">
                                <label for="Consent_Form" class="col-sm-4 col-form-label">Consent Form<span style="color:red">*</span></label>
                                <apex:inputFile value="{!ConsentFormObj.body}" accept="image/*,.pdf" filename="{!ConsentFormObj.name}" id="Consent_Form" required="true"/>
                                <div class="col-sm-8">
                                    <br />
                                </div>
                            </div>
                            
                            <div class="form-group row">
                                <h6 id="caveat-with-anchors"><b>&nbsp;&nbsp;Details of the person submitting this request  </b></h6>
                            </div>
                            <div class="form-group row">
                                <label for="Company_s_License_No" class="col-sm-4 col-form-label">Company's License No<span style="color:red">*</span></label>
                                <div class="col-sm-8">
                                    <apex:inputField value="{!Long_Term_Visa_Nomination__c.Company_s_License_No__c}" styleClass="form-control-plaintext" id="Company_s_License_No" required="true" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="Submitter_Name" class="col-sm-4 col-form-label">Submitter Name<span style="color:red">*</span></label>
                                <div class="col-sm-8">
                                    <apex:inputField value="{!Long_Term_Visa_Nomination__c.Submitter_Name__c}" styleClass="form-control-plaintext" id="Submitter_Name" required="true" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="Email" class="col-sm-4 col-form-label">Email<span style="color:red">*</span></label>
                                <div class="col-sm-8">
                                    <apex:inputField value="{!Long_Term_Visa_Nomination__c.Email__c}" styleClass="form-control-plaintext" id="Email" required="true" />
                                </div>
                            </div>
                          
                            <div class="form-group row"> 
                                <div class="col-sm-12" >
                                    <P>*By submitting this form, I hereby confirm that all the relevant consent forms have been uploaded and the information provided is true accurate on the date of submission.</p>
                                </div> 
                            </div>   
                            
                            <div class="form-group row"> 
                                <div class="col-sm-6 offset-3" >
                                    <div class="g-recaptcha" data-sitekey="{!$Label.Captcha_Public_Key}"></div>
                                    <div class="divValidations" style="display: none">
                                        <div id="reqField" style="margin-left: 39px;"></div>
                                    </div>
                                </div>
                            </div>   

                            <div class="form-group row">
                                <div class="col-sm-8 offset-4">
                                    <!-- <apex:commandButton id="SubmitForm"  action="{!SubmitForm}" value="Submit"/>                             -->
                                    <apex:commandButton id="SubmitForm"  onClick="submitform();return false;" value="Submit" style="width: 120px !important; height: 32px !important;"/>                            
                                </div>
                            </div>
                            <!--<div class="form-group row">
                                <apex:inputField value="{!Long_Term_Visa_Nomination__c.Accepted_TC__c}" id="chkTerms" label="agree to terms and conditions" required="true" />
                                <label for="chkTerms"> 
                                    <a data-toggle="modal" data-target="#terms">I agree to Terms and Conditions</a>
                                </label>
                            </div>-->
                        </div>
                    </apex:outputpanel>
                    <apex:outputpanel id="OPSubmitmessage" rendered="{!ShowSubmitMsg}">
                        <div class="card-header" style="background:#4a4e76!important;color:#fff;">
                            Nomination for Long-Term Visa has been submitted. Thanks!
                        </div>
                        <div class="form-group row" style="margin: 10px;">
                            
                          <!--  <label class="col-sm-8 col-form-label">You will shortly recieved an email as a confirmation for submitting the form.</label> -->
                            
                        </div>
                        <div class="form-group row" style="margin: 10px;">
                            <label for="Name" class="col-sm-4 col-form-label">Reference No</label>
                            <div class="col-sm-8">
                                <apex:outputField value="{!LongTermVisaNominationAfterSubmissionObj.Name}" id="Name" />
                            </div>
                        </div>
                        <div class="form-group row" style="margin: 10px;">
                            <label for="Nominee_Name_After_Submission" class="col-sm-4 col-form-label">Nominee Name</label>
                            <div class="col-sm-8">
                                <apex:outputField value="{!LongTermVisaNominationAfterSubmissionObj.Nominee_Name__c}" id="Nominee_Name_After_Submission" />
                            </div>
                        </div>
                        <div class="form-group row" style="margin: 10px;">
                            <div class="col-sm-12">
                            <a href="https://portaldifc.secure.force.com/FeedBackForm/VisaNomineeDetails">Click here to submit another request</a>
                            </div>
                        </div>
                        
                    </apex:outputpanel>
                    <apex:outputpanel id="OPDeadline" rendered="{! !(DATETIMEVALUE('2019-04-04 00:00:00') > DATETIMEVALUE(now()+ (1/24)*4)) }">
                        <div class="card-header" style="background:#4a4e76!important;color:#fff;">
                          Nomination for Long-Term Visa
                        </div>
                        <div class="card-body">
                            <div class="form-group row">
                                <h6 id="caveat-with-anchors"><b>&nbsp;&nbsp;The deadline has passed, and we are no longer accepting any nominations.</b></h6>
                            </div>
                        </div>
                    </apex:outputpanel>
                    
                </div>
            </div>
        </div>
        <script>
        
        function SetLast(ObjInput) 
        {

               var select = document.getElementById('calYearPicker');
            //alert('arun');

            if (!select) return;
            select.innerHTML = '';
            var endYear = new Date().getFullYear()-100;
            var startYear = new Date().getFullYear();
            
            for (var year = startYear; year > endYear; year--) 
            {
                select.options[select.options.length] = new Option(year,
                    year);
            }
        }
        
         function SetFuturval(ObjInput) 
        {

               var select = document.getElementById('calYearPicker');
            //alert('arun');

            if (!select) return;
            select.innerHTML = '';
            var endYear = new Date().getFullYear() + 10;
            var startYear = new Date().getFullYear();
            for (var year = startYear; year <= endYear; year++) {
                select.options[select.options.length] = new Option(year,
                    year);
            }
        }



    </script>
    </apex:form>
        <script  async="true" src="https://www.googletagmanager.com/gtag/js?id=UA-132007753-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-132007753-1');
    </script>
    

</apex:page>