.THIS .difc-card-contents {
  padding-left: 18.5%;
}

.THIS .difc-heading {
  color: #000000;
  font-family: "EuclidSquare-Medium";
  font-size: 20px;
  font-weight: 900;
  line-height: 1 !important;
  width: 100%;
}

.THIS .difc-inactive {
  color: #5b5b5b !important;
  background-color: inherit !important;
}

.THIS .difc-sla {
  color: #4a4a4a;
  float: right;
  padding-right: 6%;
  font-family: "EuclidSquare-light";
  font-size: 14px;
  font-weight: 600;
}

.THIS .difc-card-contents > input {
  margin-top: 10px;
  font-family: "EuclidSquare-Medium";
  font-size: 16px;
  font-weight: 500;
  line-height: 36px;
  background-color: inherit !important;
  border: none;
  border-radius: 2em;
  padding: 0 !important;
  color: #9b9b9b;
}

.THIS .difc-p {
  color: #515151;
  font-family: "EuclidSquare-Medium";
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  width: 60%;
  padding-top: 1%;
}

.THIS .container:before {
  content: "";
  position: absolute;
  margin-left: 7px;
  width: 2px;
  height: 100%;
  background: #ccd1d9;
  z-index: 1;
}

.THIS .difc-border_top {
  border-top: 0.9px solid rgba(221, 219, 218, 0.46) !important;
}

.THIS .difc-design-line-small::before {
  content: "";
  position: absolute;
  width: 2.2px;
  height: 3rem;
  background: #ccd1d9;
  z-index: 1;
  margin-top: 3%;
  margin-left: calc(5% + 6.5px);
}

.THIS .difc-disabled {
  color: #e3e3e3 !important;
}