.THIS .related_button{
    position: relative;
    float: right;
}
.THIS {
    padding-left: 6rem;
    padding-right: 6rem;
}
.THIS .fileText{
    color:#d4504c;
}
.THIS .ob-sp{
    margin-top: 19px;
    margin-left: 10px;
}
.THIS .address_dup{
    COLOR:#2B2826;
     font-family: 'EuclidSquare-Medium', sans-serif;
    font-weight: 600;
    font-size:11px;
    line-height: 18px;
    padding-left:2rem;
    padding-right:2rem;
}
.THIS .namecheck-tracker__title{
    font-size: 20px;
}
.THIS .namecheck-tracker__subtitle{
    font-size: 16px;
}
.THIS .button_permission{
    position:relative;
    float:right;
}

.THIS .ui-button-group {
    /*display: flex;
    align-items: center;*/
    justify-content: space-between;
    padding: 2rem;
}
.THIS .results_body{
    font-family: 'EuclidSquare-Medium', sans-serif;
    font-weight: 600;
    font-size:14px;
    line-height: 18px;
    padding:2rem;
}
.THIS .ui-form-element__control {
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
}


.THIS .namecheck_results{
    border-bottom: 1px solid #eaeaea;
    border-top: 1px solid #eaeaea;
}

.THIS .result_name{
    font-family: 'EuclidSquare-Medium', sans-serif;
    font-weight: 600;
    font-size:14px;
    line-height: 18px;
    padding-left:2rem;
    padding-right:2rem;
    padding-top:0.5rem;
    padding-bottom:0.5rem;
    
}

.THIS .slds-modal__close{
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.THIS .slds-modal__header{
    text-align:left;
}

.THIS .search-box{
    margin: 0 32px;
    width: 95%;
    position: relative;
}

.THIS .search-icon{
    position: absolute;
    top: 22px;
    right: 10px;
}
.THIS .difc-label {

    margin-bottom: 0.5rem;
    color:#000000;
    font-family: "EuclidSquare-Medium";
    font-size: 14px;
    font-weight: 500;
}