.THIS {
}
.THIS .difc-small-heading {
    color: #000000;
    font-family: "EuclidSquare-Medium";
    font-size: 13px;
    font-weight: 900;
    line-height: 1!important;
    width: 100%;
}
.THIS .slds-form-element__icon {/* Replace this class name "slds-form-element__icon" by your finding. */
}