.THIS .borderLine {
  border: 1px solid black;
  border-radius: 0 !important;
}

.THIS .ui-button--primary {
  background: #2b2826 !important;
  border: 0px !important;
}

/*---------------------------------------------------Custom Fonts ---------------------------------------------------------------*/

@font-face {
  font-family: "EuclidSquare-Medium";
  src: url("/resource/difcUI/fonts/Euclid_Trial/Euclid_Square_Trial/Web/EuclidSquare-Regular-WebTrial.woff") format("woff");
}

@font-face {
  font-family: "EuclidSquare-Light";
  src: url("/resource/difcUI/fonts/EuclidSquare/EuclidSquare-Light.otf") format("opentype");
}

.THIS .ui-form-card__header {
  position: relative;
  float: left;
  margin-top: 15%;
  left: 36%;
  font-family: "EuclidSquare-Medium", sans-serif;
  width: 600px;
  height: 42px;
  color: #515151;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: -0.15px;
  line-height: 42px;
}

/* Create two equal columns that floats next to each other */
.THIS .column {
  float: left;
  width: 33%;
  padding: 10px;
  height: 300px;
  margin-left: 12%;
}

/* Clear floats after the columns */
.THIS .row:after {
  content: "";
  display: table;
  clear: both;
}

.THIS .headingFirst {
  margin-left: -18%;
  margin-top: 8%;
  color: #000000;
  font-size: 18px;
  font-weight: 500;
  line-height: 36px;
  font-weight: bold;
}

.THIS .headingSecond {
  margin-top: -1.5%;
  margin-left: 50%;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}

.THIS .outermostDiv {
  margin: auto;
  margin-top: 3%;
  margin-bottom: 3%;
  padding-left: 6rem;
  padding-right: 6rem;
  padding-bottom: 4%;
}

.THIS .horizontalBorder {
  margin-left: 22%;
  margin-top: 2%;
}

.THIS .sectionHeading {
  width: 90%;

  margin: auto;
  color: #000000;
  font-size: 25px;
  font-weight: bold;
  line-height: 36px;
  padding-top: 25px;
}

.THIS .fieldValue {
  /* margin-left:22%;  */
  font-weight: bold;
  font-size: 18px;
  color: #000000;
}

.THIS .pageHeading {
  padding-top: 2%;
  /* margin-left: 20%; */
  color: #515151;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: -0.15px;
  line-height: 42px;
  font-family: "EuclidSquare-Medium", sans-serif;
}

.THIS .fieldLabel {
  /* margin-left: 22%; */
  color: #706e6b;
  font-size: 14px;
  font-weight: 500;
}

.THIS .sectionSubHeading {
  margin-top: 4%;
  width: 80%;
}

.THIS .alignmentClass {
  width: 90%;

  margin: auto;
}

.THIS .difc-form-element {
  margin-right: 5%;
  padding-bottom: 1.5%;
}

.THIS .difc-form-heading {
  color: #000000;
  font-family: "EuclidSquare-Medium";
  font-size: 22px;
  font-weight: 900;
  letter-spacing: -0.15px;
  line-height: 42px;
  padding: 1% 0;
  padding-top: 3%;
}

.THIS .addScroll-inner {
  height: 250px;
  overflow-y: scroll;
}

.THIS .equal-width {
  width: calc(100% / 7);
}

.THIS .difc-form .forcePageBlockItem {
  padding-left: 0;
  padding-right: 2.5rem;
}

.THIS .section__content {
  padding: 0;
}

.THIS .slds-section__title-action {
  color: #000000;
  font-family: "EuclidSquare-Medium";
  font-size: 22px;
  font-weight: 900;
  letter-spacing: -0.15px;
  line-height: 42px;
  padding: 1% 0;
  padding-top: 3%;
}

.THIS .difc-form a {
  pointer-events: none;
  cursor: default;
}

.THIS .difc-form button {
  pointer-events: none;
  cursor: default;
}

@media print {
  .THIS a[href]:after {
    content: none !important;
  }
}