.THIS .difc-label {
    
    margin-bottom: 0.5rem;
    color:#000000;
     font-family: "EuclidSquare-Medium";

font-size: 14px;

font-weight: 500;
}
.THIS .ob-agr {
    position: absolute;
    top: 1px;
    margin-left: 35px;
}