/*---------------------------------------------------Custom Fonts ---------------------------------------------------------------*/


.THIS .pageHeading
{
    padding-top:1%;
    margin-left:2%;
    color: #515151;
    font-size: 32px;
    font-weight: 500;
    letter-spacing: -0.15px;
    line-height: 42px;
    font-family: 'EuclidSquare-Medium', sans-serif;
}
.THIS .pathway
{
    color: #515151;
    font-size: 32px;
    font-weight: 500;
    letter-spacing: -0.15px;
    line-height: 42px;
    font-family: 'EuclidSquare-Medium', sans-serif;
}
.THIS .divHeading
{
    color: #515151;
    font-size: 20px;
    font-weight: 500;
    font-family: 'EuclidSquare-Medium', sans-serif;
}

.THIS .inputlabels{
    color: #515151;
    font-size: 12px;
    font-weight: bold;
    font-family: 'EuclidSquare-Medium';  
    padding :8px;
    margin-left:-2%;
}

.THIS .headingSecond{
    margin-top:-2%;
    margin-left:76%;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    font-weight:bold;
}

.THIS .inputBorder
{
    width: 400px;
    height: 32px;
    border-radius: 2px;
    border: 1px solid #000000;
    background-color: #ffffff;
    padding: 5px;
}
.THIS .staticHeading
{
    padding-top:2%;
    margin-left:29%;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1.85px;
    line-height: 42px;
    font-family: 'EuclidSquare-Medium', sans-serif;   
}

.THIS .difc-progress-bar {
    
    position: absolute;
    left: 0.4rem;
    width: 2px;
    height: 90px;
    background-color: rgb(221, 219, 218);
}

.THIS .startButton{
    height: 8%;
    background-color:white;
    /*margin-top: 30%;*/
    /*margin-right: 47%;*/
    color:black;
    border: 2px solid black;
    font-weight: 800 !important;
    padding: 7px;        
}
.THIS .startButton[type=text]:visited{
    outline: 1px solid #000000;    
}

.THIS .difc-contents {
    margin-top: 15px;
}

.THIS .difc-progress-contents h1  {
    
    color: #515151;
    font-family: "EuclidSquare-Medium";
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
}

.THIS .difc-registration-heading {
    color: #515151;
    font-family: "EuclidSquare-Medium";
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    
}

.THIS .inputlabels {
    color: #515151;
    font-family: "EuclidSquare-Medium";
    font-size: 12px;
    font-weight: 700;
    position: relative;
    left: 0.5%;
}

.THIS .difc-progress-contents p {
    color: #2c2826;
    font-family: "EuclidSquare-Light";
    font-size: 14px;
    font-weight: 300;
    margin-top: 5px;
}

.THIS .difc-is-active .slds-progress__marker {
    border: 4px solid #4a4a4a;
    background-color: #ffffff;
}
.THIS .difc-registration-fields {
    max-width: max-content;
}
.THIS .ui-welcome {
    position: relative;
    flex-wrap: wrap;
    min-height: 124px;
    background-color: #fff;
    padding: 20px 0 0 15px;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.1);
    right: 53%;
    width: 93%;
    z-index:999;
}
.THIS .ui-close{
    position: relative;
    flex-wrap: wrap;
    display: flex;
    color: #0578D0;
    font-size: 14px;
    font-family: 'EuclidSquare-Medium', sans-serif;
    margin: 0 48px;
    cursor: pointer;
    border: 1px solid black;
    height: 38px;
    width: 42px;
    text-align: center;
    
}
.THIS .ui-form-card__subheader{
    font-size: 14px;
    font-family: 'EuclidSquare-Medium', sans-serif;
    padding-left: 60px;
    color:black;
}
.THIS .slds-icon{
    fill: #111111;
    height: 18px;
    width: 20px;
    cursor: pointer;
    background-color: white !important;
    margin-left: 7%;
    margin-top: 3%;
}

.THIS .container {
    
    position: relative;
    overflow: hidden;
    
    
}

.THIS .container:before {
    content: '';
    position: absolute;
    margin-left: 7px;
    width: 2px;
    height: 100%;
    background-color: rgb(221, 219, 218);
    z-index: 1
}

.THIS .difc-timeline-block {
    
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    justify-content: space-between;
    clear: both;
    padding-bottom: 2rem;
}

.THIS .marker {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #F5F7FA;
    background: #4FC1E9;
    z-index: 9999
}

.THIS .timeline-content {
    width: 100%;
    padding-left: 10%;
    
}

.THIS .slds-progress__list {
    margin: 0; 
}

.THIS .difc-font {
    font-size:20px;
    
    color: #706e6b !important;
    font-family: 'EuclidSquare-Medium', sans-serif;
}

.THIS .difc-light-font {
    color: #2c2826;
    font-family: "EuclidSquare-Light";
    font-size: 14px;
    font-weight: 300;
    margin-top: 5px;
    
}

.THIS .difc-width-control {
    width: 60%;
}

.THIS .difc-button-container {
    position: absolute;
    bottom: 2rem;
    padding-left: 13rem;
}

.THIS .difc-registration {
    position:relative;
    
}