.THIS {
   position: relative;
    z-index: 1;
    padding-left: 4%;
    padding-right: 4%;
    background-color: #f1f0f1;
}

.THIS .main-navigation__profile {
    
    font-size: 15px;
    font-weight: 600;
    color: White;
    
}
.THIS .selfServiceUserProfileMenu .selfServiceProfileMenuTrigger{
    /*text-align: right;*/
    height: auto;
    padding: 0;
    margin-top: 0px;
}

.THIS .profileName {
    color: black !important;
}


.THIS .difc-profile {
    max-width: max-content;
	position: absolute;
	top: 15px ;
	right: 7%;
    padding: .75rem;
}

.THIS .ui-global-navigation__title-bell {
    filter: invert(1) !important;;
    height: 16px !important;
    margin-right: 1rem;
    margin-left: 1rem;
}

@media (max-width: 808px) {
  
.THIS .difc-profile {
    max-width: max-content;
	position: absolute;
	top: 10px ;
	right: 7%;
    padding: .75rem;
}

   
    
  
}