/*---------------------------------------------------Custom Fonts ---------------------------------------------------------------*/

@font-face {
    font-family: 'EuclidSquare-Medium';
    src: url("/resource/difcUI/fonts/Euclid_Trial/Euclid_Square_Trial/Web/EuclidSquare-Regular-WebTrial.woff") format("woff");
}

@font-face {
    font-family: 'EuclidSquare-Light';
    src: url("/resource/difcUI/fonts/EuclidSquare/EuclidSquare-Light.otf") format("opentype");
}
.THIS .pageHeading
{
    padding-top:1%;
    margin-left:2%;
    color: #515151;
    font-size: 32px;
    font-weight: 500;
    letter-spacing: -0.15px;
    line-height: 42px;
    font-family: 'EuclidSquare-Medium', sans-serif;
}
.THIS .pathway
{
    color: #515151;
    font-size: 32px;
    font-weight: 900;
    letter-spacing: -0.15px;
    line-height: 42px;
    font-family: 'EuclidSquare-Medium', sans-serif;
}
.THIS .divHeading
{
    color: #515151;
    font-size: 20px;
    font-weight: 500;
    font-family: 'EuclidSquare-Medium', sans-serif;
}

.THIS .inputlabels{
    color: #515151;
    font-size: 12px;
    font-weight: bold;
    font-family: 'EuclidSquare-Medium';  
    padding :8px;
    margin-left:-2%;
}

.THIS .headingSecond{
    margin-top:-2%;
    margin-left:76%;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    font-weight:bold;
}

.THIS .inputBorder
{
    width: 400px;
    height: 32px;
    border-radius: 2px;
    border: 1px solid #000000;
    background-color: #ffffff;
    padding: 5px;
}
.THIS .staticHeading
{
    padding-top:2%;
    margin-left:29%;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1.85px;
    line-height: 42px;
    font-family: 'EuclidSquare-Medium', sans-serif;   
}

.THIS .difc-progress-bar {
    
    position: absolute;
    left: 0.4rem;
    width: 2px;
    height: 800%;
    background-color: rgb(221, 219, 218);
}

.THIS .startButton{
    height: 36px;
    background-color: #000000;
    margin-top: 3%;
    width: 24%;
    float: right;
    color:white;
    outline:none;
    border:0 !important;
}
.THIS .input[type=button]:focus{
    outline: 1px solid #000000;     
}
.THIS .input[type="button"]{
    outline:none;
}
.THIS .input[type="button"]::-moz-focus-inner {
    border: 0;
}
.THIS .difc-contents {
    margin-top: 20px;
}

.THIS .difc-progress-contents h1  {
    
    color: #515151;
    font-family: "EuclidSquare-Medium";
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
}

.THIS .difc-registration-heading {
    color: #515151;
    font-family: "EuclidSquare-Medium";
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    padding-bottom:3%;
}

.THIS .inputlabels {
    color: #515151;
    font-family: "EuclidSquare-Medium";
    font-size: 12px;
    font-weight: 700;
    position: relative;
    left: 0.5%;
}

.THIS .difc-progress-contents p {
    color: #2c2826;
    font-family: "EuclidSquare-Light";
    font-size: 14px;
    font-weight: 300;
    margin-top: 5px;
}

.THIS .difc-is-active .slds-progress__marker {
    border: 4px solid #4a4a4a;
    background-color: #ffffff;
}
.THIS .difc-registration-fields {
    max-width: max-content;
}
.THIS .ui-welcome {
    position: relative;
    flex-wrap: wrap;
    min-height: 124px;
    background-color: #fff;
    padding: 20px 0 0 15px;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.1);
    right: 100%;
    width: 93%;
    z-index:999;
}
.THIS .ui-close{
    position: relative;
    flex-wrap: wrap;
    display: flex;
    color: #0578D0;
    font-size: 14px;
    font-family: 'EuclidSquare-Medium';
    margin: 0 48px;
    cursor: pointer;
    border: 1px solid black;
    height: 38px;
    width: 42px;
    text-align: center;
    margin-left: 36%;
    
}
.THIS .ui-form-card__subheader{
    font-size: 14px;
    font-family: 'EuclidSquare-Medium';
    padding-left: 40px;
    color:black;
}
.THIS .slds-icon{
    fill: #111111;
    height: 18px;
    width: 20px;
    cursor: pointer;
    background-color: white !important;
    margin-left: 7%;
    margin-top: 3%;
}
.THIS .overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: rgba(0,0,0,0.5);
}

.THIS .container {
    
    position: relative;
    overflow: hidden;
    
    
}

.THIS .container:before {
    content: '';
    position: absolute;
    margin-left: 7px;
    width: 2px;
    height: 100%;
    background-color: rgb(221, 219, 218);
    z-index: 1
}

.THIS .difc-timeline-block {
    
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    justify-content: space-between;
    clear: both;
    padding-bottom: 2rem;
}

.THIS .marker {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #F5F7FA;
    background: #4FC1E9;
    z-index: 9999
}

.THIS .timeline-content {
    width: 100%;
    padding-left: 10%;
    
}

.THIS .slds-progress__list {
    margin: 0; 
}

.THIS .difc-font {
    color: #6b6b6b;
    font-family:  'EuclidSquare-Light';
    font-size: 24px;
    font-weight: 300;
    letter-spacing: -1px;
    line-height: 35px;
}