.THIS.layoutcontainer{
    margin-top:2rem;
    }
.THIS .ui-accordion.cDIFC_Card{
    display:none;
}

.THIS .difc-card--expanded .ui-accordion.cDIFC_Card{
    display:block;
}

.THIS .difc-card-section {
    justify-content: space-between;
}

.THIS .DIFC-form-section{
    flex-grow:1;
    margin-right:32px;
}
.THIS .DIFC-pathway-section {
    width: 320px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    align-self: flex-start;
}
.THIS .DIFC-default-pathway-section{
    position:absolute;
    right:14px;
    top:18px;
}
.THIS .difc-card-wrapper{
    position: relative;
}
.THIS .ui-form-card--collapsed .DIFC-default-pathway-section{
    display: none;
}