.THIS .ui-entityName__header {
  font-size: 24px;
  font-family: "EuclidSquare-Medium";
  padding-top: 10px;
}

.THIS .difc-home-components {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

/*
*/
.THIS .slds.layoutcontainer {
  padding-left: 7%;
  padding-right: 7%;
}

.THIS .entityName {
  font-weight: bold;

  position: fixed;

  top: 4.5rem;

  right: calc(7% + 25px);
}

.THIS .difc-tabs .dropdown {
  align-self: center;
}

.THIS .nav-label {
  font-size: 14px;
  font-family: "EuclidSquare-Medium", sans-serif;
}

.THIS .ui-entity-navigation {
  position: relative;
  flex-wrap: wrap;
  /*min-height: 170px;*/
  background-color: #fff;
  /* margin-top:20px; */
  padding-left: 9%;
  padding-right: 9%;
}

.THIS .ui-registration-complete {
  display: flex;
  justify-content: space-between;
  margin: 0 0 15px 0;
  font-size: 14px;
  font-family: "EuclidSquare-Medium", sans-serif;
}

.THIS .slds-context-bar__item {
  padding: 25px 55px;
}

.THIS .nav-border {
  border-bottom: 2px solid #dddbda;
}

.THIS .slds-context-bar__item::selection,
.THIS .slds-context-bar__item:hover {
  background-color: transparent;
  border-bottom: 3px solid #0076cf;
}

.THIS .selected {
  border-bottom: 3px solid #0076cf !important;
}

.THIS .ui-form-card__header {
  font-size: 20px;
  font-family: "EuclidSquare-Medium", sans-serif;
  font-weight: bold !important;
}

.THIS .ui-form-card__subheader {
  font-size: 14px;
  font-family: "EuclidSquare-Medium", sans-serif;
}

.THIS .ui-welcome {
  position: relative;
  flex-wrap: wrap;
  min-height: 170px;
  background-color: #fff;
  padding: 20px 0 0 15px;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.1);
}

.THIS .greyAreaCover {
  height: 100%;
}

.THIS .greyAreaCover>div {
  height: 100%;
}

.THIS .greyAreaCover .ui-widget {
  height: 100%;
}